<div id='timeline_content_column1'>
	<img src='/assets/purchase_timeline/moip.png' width='75px'>
	<ul>
		<li>Situação: <b><%= order.erp_payment.payment_response.status %></b></li>
		<li>Classificação: <b><%= order.erp_payment.gateway_status_reason %></b></li>
	</ul>
</div>
<div id='timeline_content_column2'>
  <%= shipping_service_art(order) %>
  <ul>
    <li>Data estimada de entrega:
      <b><%= headline_delivered_date_format(event.created_at, order.freight.delivery_time) %></b>
    </li>
  </ul>
</div>