<div id="box-ship">
  <div class="box-frase">
    <p class="title">PRAZO DE ENTREGA OLOOK</p>
    <p class="frase">Informe o CEP e consulte nosso prazo de entrega para a localidade desejada.</p>
  </div>
  <div class="consulta-cep">
    <p id="msg"></p>
    <form>
      <fieldset>
        <label for="cep">Pesquisar CEP:</label> 
        <input type="cep" value="" class="cep" name="cep" id="cep" />
      </fieldset>
      <fieldset>
        <button type="button" class="buscar">Buscar</button>
        <p class="relacao-completa">ou <%= link_to "consulte a relação completa", "/prazo-de-entrega" %></p>
      </fieldset>
    </form>
  </div>  
  <button type="button" class="buttons max-ship">Maximizar</button>
</div>