<% remaining_items = remaining_items(cart, promotion)  %>

<% if remaining_items == 1%>
  <p class="txt-add">Adicione mais <b><span class="txt-pink">1</span></b> produto à sua sacola e receba um dos itens do seu pedido de graça :)<br />
    <small>*As promoções não são acumulativas, ao optar pelo terceiro item grátis você não poderá usar descontos.</small>
  </p>
<% elsif remaining_items > 0 %>
  <p class="txt-add">Que tal adicionar mais <b><span class="txt-pink"><%= remaining_items %></span></b> itens na sua sacola e ganhar <b><span class="txt-pink">1</span></b> deles de graça? :) <br />

    <small>*As promoções não são acumulativas, ao optar pelo terceiro item grátis você não poderá usar descontos.</small>
  </p>
<% end %>
