<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>olook</title>
</head>
<body bgcolor="#ffffff">
<table border="0" align="center" cellpadding="0" cellspacing="0" width="620">

  <!-- DISCLAIMER TOP -->
  <tr>
    <td align="left">
      <p style="font-family:Verdana,Helvetica,Arial, sans-serif; font-size:9px; color:#6d6e71;">Abra e confira o que preparamos para voc&ecirc; ou <a href="http://www.olook.com.br/colecoes/olook/?utm_source=email&utm_medium=email_mkt&utm_campaign=styletip_marinaruybarbosa_jul13*compradoras&utm_content=topo_header_compreaqui&auth_token=##auth_token##" style="color:#6d6e71;">compre aqui.</a><br><span style="font-family:Verdana,Helvetica,Arial, sans-serif; font-size:9px; color:#aaaaaa;">Nunca perca um e-mail da olook. Clique no &iacute;cone <img src="http://cdn.olook.com.br/assets/emailmkt/tops/janeiro2013/20130129_top_promodia/gmail.jpg" alt="gmail" border="0" style="margin-top:2px;"></span><a href="##optout##" align="right" style="color:#6d6e71; font-size:9px; float:right;">Cancelar o recebimento</a><span style="color:#6d6e71; font-size:9px; float:right;"> | </span><a href="##preview##" style="color:#6d6e71; font-size:9px; float:right;">Veja a vers&atilde;o online</a>
      </p>
    </td>
  </tr>


  <!--TABELA VAZIA-->
  <tr>
    <td align="center" height="10"></td>
  </tr>


  <!--BENEFICIOS 2.0-->
  <tr>
    <td>
      <img src="http://cdn.olook.com.br/assets/base/beneficios2013/benegamb2.jpg" alt="" border="0" style="display:block; float:left;">
    </td>
  </tr>


  <!--TABELA VAZIA-->
  <tr>
    <td align="center" height="5"></td>
  </tr>


  <!--NOVO TOPO 2013-->
  <tr>
    <td>
      <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_01.jpg" alt="" border="0" style="display:block">
    </td>
  </tr>

  <tr>
    <td>
      <table align="center" width="620" cellpadding="0" cellspacing="0" >
        <tr>
          <td>
            <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_02.jpg" alt="" border="0" style="display:block">
          </td>
          <td>
            <a href="http://www.facebook.com/olook">
              <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_03.jpg" alt="" border="0" style="display:block">
            </a>
          </td>
          <td>
            <a href="https://twitter.com/olook">
              <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_04.jpg" alt="" border="0" style="display:block">
            </a>
          </td>
          <td>
            <a href="http://statigr.am/olook">
              <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_06.jpg" alt="" border="0" style="display:block">
            </a>
          </td>
          <td>
            <img src="http://cdn.olook.com.br/assets/base/newtopo/gamb.jpg" alt="" border="0" style="display:block">
          </td>
          <td>
            <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_07.jpg" alt="" border="0" style="display:block">
          </td>
          <td>
            <a href="http://www.olook.com.br/?utm_source=email&utm_medium=email_mkt&utm_campaign=styletip_marinaruybarbosa_jul13*compradoras&utm_content=topo_logo&auth_token=##auth_token##">
              <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_08.jpg" alt="" border="0" style="display:block">
            </a>
          </td>
          <td>
            <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_09.jpg" alt="" border="0" style="display:block">
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>
      <table align="center" width="620" cellpadding="0" cellspacing="0" >
        <tr>
          <td>
            <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_10.jpg" alt="" border="0" style="display:block">
          </td>
          <td>
            <a href="http://www.olook.com.br/?utm_source=email&utm_medium=email_mkt&utm_campaign=styletip_marinaruybarbosa_jul13*compradoras&utm_content=topo_logo&auth_token=##auth_token##">
              <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_11.jpg" alt="" border="0" style="display:block">
            </a>
          </td>
          <td>
            <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_12.jpg" alt="" border="0" style="display:block">
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>
      <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_13.jpg" alt="" border="0" style="display:block">
    </td>
  </tr>

  <tr>
    <td>
      <table align="center" width="620" cellpadding="0" cellspacing="0" >
        <tr>
          <td>
            <a href="http://www.olook.com.br/membro/vitrine/?utm_source=email&utm_medium=email_mkt&utm_campaign=styletip_marinaruybarbosa_jul13*compradoras&utm_content=topobarra_minhavitrine&auth_token=##auth_token##">
              <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_14.jpg" alt="" border="0" style="display:block">
            </a>
          </td>
          <td>
            <a href="http://www.olook.com.br/stylist-news">
              <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_15.jpg" alt="" border="0" style="display:block">
            </a>
          </td>
          <td>
            <a href="http://www.olook.com.br/colecoes/olook/?utm_source=email&utm_medium=email_mkt&utm_campaign=styletip_marinaruybarbosa_jul13*compradoras&utm_content=topobarra_ocasioes&auth_token=##auth_token##">
              <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_16.jpg" alt="" border="0" style="display:block">
            </a>
          </td>
          <td>
            <a href="http://www.olook.com.br/membro/convite/?utm_source=email&utm_medium=email_mkt&utm_campaign=styletip_marinaruybarbosa_jul13*compradoras&utm_content=topobarra_ganhe20mgm&auth_token=##auth_token##">
              <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_17.jpg" alt="" border="0" style="display:block">
            </a>
          </td>
          <td>
            <a href="http://www.olook.com.br/fidelidade/?utm_source=email&utm_medium=email_mkt&utm_campaign=styletip_marinaruybarbosa_jul13*compradoras&utm_content=topobarra_fidelidade&auth_token=##auth_token##">
              <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_18.jpg" alt="" border="0" style="display:block">
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>


  <!--CONTEUDO-->

  <tr>
    <td>
      <a href="topo">
        <br><img src="http://cdn.olook.com.br/assets/emailmkt/extra/setembro2013/20130919/welimg_01.jpg" alt="" border="0" style="display:block">
      </a>
    </td>
  </tr>

  <tr>
    <td>
      <table width="620" cellpadding="0" cellspacing="0" >
        <tr>
          <td align="center" width="305" heigt="47" bgcolor="black">
            <p style="font-family:Verdana,Helvetica,Arial, sans-serif; font-size:20px; color:white;">Olá,</p>
          </td>
          <td width="315" heigt="47">
            <a href="2">
              <img src="http://cdn.olook.com.br/assets/emailmkt/extra/setembro2013/20130919/welimg_03.jpg" alt="" border="0" style="display:block">
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>
      <a href="topo">
        <img src="http://cdn.olook.com.br/assets/emailmkt/extra/setembro2013/20130919/welimg_04.jpg" alt="" border="0" style="display:block">
      </a>
    </td>
  </tr>

  <tr>
    <td>
      <a href="topo">
        <img src="http://cdn.olook.com.br/assets/emailmkt/extra/setembro2013/20130919/welimg_05.jpg" alt="" border="0" style="display:block">
      </a>
    </td>
  </tr>

  <tr>
    <td>
      <a href="topo">
        <img src="http://cdn.olook.com.br/assets/emailmkt/extra/setembro2013/20130919/welimg_06.jpg" alt="" border="0" style="display:block">
      </a>
    </td>
  </tr>

  <tr>
    <td>
      <a href="topo">
        <img src="http://cdn.olook.com.br/assets/emailmkt/extra/setembro2013/20130919/welimg_07.jpg" alt="" border="0" style="display:block">
      </a>
    </td>
  </tr>


  <tr>
    <td>
      <a href="mw">
        <img src="http://cdn.olook.com.br/assets/emailmkt/extra/setembro2013/20130919/welimg_08.jpg" alt="" border="0" style="display:block">
      </a>
    </td>
  </tr>

  <tr>
    <td>
      <a href="mgm">
        <img src="http://cdn.olook.com.br/assets/emailmkt/extra/setembro2013/20130919/welimg_09.jpg" alt="" border="0" style="display:block">
      </a>
    </td>
  </tr>

  <!--FOOTER CATEGORIAS-->

  <tr>
    <td align="center">
      <br><img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/novofooter_01.jpg" border="0" alt="Selecione o que voc&ecirc; quer" style="display:block">
    </td>
  </tr>
  <tr>
    <td>
      <table width="620" align="center" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td>
            <a href="http://www.olook.com.br/catalogo/roupa/blusa-camisa?utm_source=email&utm_medium=email_mkt&utm_campaign=styletip_marinaruybarbosa_jul13*compradoras&utm_content=bannerfooter_blusacamisa&auth_token=##auth_token##">
              <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/novofooter_02.jpg" alt="blusa" border="0" style="display:block">
            </a>
          </td>
          <td>
            <a href="http://www.olook.com.br/catalogo/roupa/camisa?utm_source=email&utm_medium=email_mkt&utm_campaign=styletip_marinaruybarbosa_jul13*compradoras&utm_content=bannerfooter_camisa&auth_token=##auth_token##">
              <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/novofooter_03.jpg" alt="camisa" border="0" style="display:block">
            </a>
          </td>
          <td>
            <a href="http://www.olook.com.br/catalogo/roupa/calca?utm_source=email&utm_medium=email_mkt&utm_campaign=styletip_marinaruybarbosa_jul13*compradoras&utm_content=bannerfooter_calca&auth_token=##auth_token##">
              <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/novofooter_04.jpg" alt="calça" border="0" style="display:block">
            </a>
          </td>
          <td>
            <a href="http://www.olook.com.br/catalogo/roupa/vestido?utm_source=email&utm_medium=email_mkt&utm_campaign=styletip_marinaruybarbosa_jul13*compradoras&utm_content=bannerfooter_vestido&auth_token=##auth_token##">
              <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/novofooter_05.jpg" alt="vestido" border="0" style="display:block">
            </a>
          </td>
          <td>
            <a href="http://http://www.olook.com.br/catalogo/sapato/anabela?utm_source=email&utm_medium=email_mkt&utm_campaign=styletip_marinaruybarbosa_jul13*compradoras&utm_content=bannerfooter_anabela&auth_token=##auth_token##">
              <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/novofooter_06.jpg" alt="anabela" border="0" style="display:block">
            </a>
          </td>
          <td>
            <a href="http://www.olook.com.br/catalogo/sapato/bota?utm_source=email&utm_medium=email_mkt&utm_campaign=styletip_marinaruybarbosa_jul13*compradoras&utm_content=bannerfooter_botas&auth_token=##auth_token##">
              <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/novofooter_07.jpg" alt="bota" border="0" style="display:block">
            </a>
          </td>
          <td>
            <a href="http://www.olook.com.br/catalogo/sapato/sapatilha?utm_source=email&utm_medium=email_mkt&utm_campaign=styletip_marinaruybarbosa_jul13*compradoras&utm_content=bannerfooter_sapatilh&auth_token=##auth_token##">
              <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/novofooter_08.jpg" alt="sapatilha" border="0" style="display:block">
            </a>
          </td>
          <td>
            <a href="http://www.olook.com.br/catalogo/sapato/scarpin?utm_source=email&utm_medium=email_mkt&utm_campaign=styletip_marinaruybarbosa_jul13*compradoras&utm_content=bannerfooter_scarpins&auth_token=##auth_token##">
              <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/novofooter_09.jpg" alt="scarpins" border="0" style="display:block">
            </a>
          </td>
          <td>
            <a href="http://www.olook.com.br/catalogo/sapato/sneaker?utm_source=email&utm_medium=email_mkt&utm_campaign=styletip_marinaruybarbosa_jul13*compradoras&utm_content=bannerfooter_sneakers&auth_token=##auth_token##">
              <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/novofooter_10.jpg" alt="sneakers" border="0" style="display:block">
            </a>
          </td>
          <td>
            <a href="http://www.olook.com.br/acessorio?&utm_source=email&utm_medium=email_mkt&utm_campaign=styletip_marinaruybarbosa_jul13*compradoras&utm_content=bannerfooter_acessorios&auth_token=##auth_token##">
              <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/novofooter_11.jpg" alt="acessório" border="0" style="display:block">
            </a>
          </td>
          <td>
            <a href="http://www.olook.com.br/bolsa?&utm_source=email&utm_medium=email_mkt&utm_campaign=styletip_marinaruybarbosa_jul13*compradoras&utm_content=bannerfooter_bolsas&auth_token=##auth_token##">
              <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/novofooter_12.jpg" alt="bolsa" border="0" style="display:block">
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <!--DIV GROSSA-->
  <tr>
    <td align="center">
      <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/linhagrossa.jpg" border="0" alt="divisória" style="display:block">
    </td>
  </tr>

  <!-- BANDEIRAS -->
  <tr>
    <td><br />
      <center><img src="http://cdn.olook.com.br/assets/base/bandeiras.jpg" alt="bandeiras" border="0" style="display:block;"></center>
    </tr>

    <!-- DISCLAIMER FOOTER -->
    <tr>
      <td align="center">
        <br>
        <p style="font-family:Verdana,Helvetica,Arial, sans-serif; font-size:10px; color:#6d6e71">


        A Olook se reserva no direito de corrigir possíveis erros com relação aos preços dos produtos.<br>
        As ofertas do e-mail estão sujeitas à disponibilidade de estoque e sua duração é por tempo indeterminado.<br>O preço pode não ser mais válido após a data do disparo.<br>
        Qualquer tipo de desconto não é cumulativo com outros descontos ou promoções,<br>
        prevalecendo o maior desconto quando for o caso.<br><br>

        Adicione <a href="mailto:mensagens@olookmail.com.br" style="color:#ea2e3c">mensagens@olookmail.com.br</a> em sua lista de contatos.<br>
        A Olook respeita sua privacidade e de todos os seus clientes.<br>
        Você está recebendo este e-mail por fazer parte de nossa lista de inscritos.<br>Caso queira deixar de receber os nossos e-mails, por favor, <a href="##optout##" style="color:#ea2e3c">cancele seu recebimento</a>.<br>Leia mais sobre a nossa <a href="http://www.olook.com.br/privacidade" style="color:#ea2e3c">Política de Privacidade</a>.<br>
        Endereço olook: Avenida Ribeirão dos Cristais, nº 800, Jordanésia, Cajamar - SP . Galpão 10, módulo C e D


        </p>
      </td>
    </tr>
  </table>
  </body>
  </html>


