<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>olook</title>
  </head>    
  <body bgcolor="#ffffff">
  <table border="0" align="center" cellpadding="0" cellspacing="0" width="620">

  <!-- DISCLAIMER TOP -->
  <tr>
    <td align="left">
      <p style="font-family:Verdana,Helvetica,Arial, sans-serif; font-size:9px; color:#6d6e71;">Abra e confira o que preparamos para voc&ecirc;, ou <a href="http://www.olook.com.br/marcas/olook/?utm_source=email&utm_medium=email_mkt&utm_campaign=extra_primeiracompra*0&utm_content=topo_header_compreaqui" style="color:#6d6e71;">compre aqui.</a><br><span style="font-family:Verdana,Helvetica,Arial, sans-serif; font-size:9px; color:#aaaaaa;">Nunca perca um e-mail da olook. Clique no &iacute;cone <img src="http://cdn.olook.com.br/assets/emailmkt/tops/janeiro2013/20130129_top_promodia/gmail.jpg" alt="gmail" border="0" style="margin-top:2px;"></span><a href="##preview##" style="color:#6d6e71; font-size:9px; float:right;">Veja a vers&atilde;o online</a>
      </p>
    </td>
  </tr>


<!--TABELA VAZIA-->
  <tr>
    <td align="center" height="10"></td>
  </tr>


<!--BENEFICIOS 2.0-->
  <tr>
      <td>
        <img src="http://cdn.olook.com.br/assets/base/beneficios2013/toponovo3.jpg" alt="" border="0" style="display:block; float:left;">
      </td>
  </tr>


<!--TABELA VAZIA-->
  <tr>
    <td align="center" height="5"></td>
  </tr>


  <!--NOVO TOPO 2013-->
<tr>
  <td>   
    <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_01.jpg" alt="" border="0" style="display:block">
  </td>
</tr>

<tr>
    <td>
      <table align="center" width="620" cellpadding="0" cellspacing="0" >
      <tr>
        <td>         
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_02.jpg" alt="" border="0" style="display:block">
        </td>
        <td>
          <a href="http://www.facebook.com/olook">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_03.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="https://twitter.com/olook">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_04.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="http://statigr.am/olook">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_06.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>          
          <img src="http://cdn.olook.com.br/assets/base/newtopo/gamb.jpg" alt="" border="0" style="display:block">  
        </td>
        <td>      
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_07.jpg" alt="" border="0" style="display:block">        
        </td>
        <td>
          <a href="http://www.olook.com.br/?utm_source=email&utm_medium=email_mkt&utm_campaign=extra_primeiracompra*0&utm_content=topo_logo">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_08.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>          
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_09.jpg" alt="" border="0" style="display:block">          
        </td>
      </tr>  
    </table>
  </td>
</tr>

<tr>
    <td>
      <table align="center" width="620" cellpadding="0" cellspacing="0" >
      <tr>
        <td>        
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_10.jpg" alt="" border="0" style="display:block">          
        </td>
        <td>
          <a href="http://www.olook.com.br/?utm_source=email&utm_medium=email_mkt&utm_campaign=extra_primeiracompra*0&utm_content=topo_logo">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_11.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>         
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_12.jpg" alt="" border="0" style="display:block">          
        </td>
      </tr>  
    </table>
  </td>
</tr>

<tr>
  <td>   
    <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_13.jpg" alt="" border="0" style="display:block">  
  </td>
</tr>

<tr>
    <td>
      <table align="center" width="620" cellpadding="0" cellspacing="0" >
      <tr>    
        <td>
          <a href="http://www.olook.com.br/minha/vitrine/?utm_source=email&utm_medium=email_mkt&utm_campaign=extra_primeiracompra*0&utm_content=topobarra_minhavitrine">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_14.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="http://www.olook.com.br/stylist-news">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_15.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="http://www.olook.com.br/colecoes/olook/?utm_source=email&utm_medium=email_mkt&utm_campaign=extra_primeiracompra*0&utm_content=topobarra_ocasioes">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_16.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="http://www.olook.com.br/membro/convite/?utm_source=email&utm_medium=email_mkt&utm_campaign=extra_primeiracompra*0&utm_content=topobarra_ganhe20mgm">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_17.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="http://www.olook.com.br/fidelidade/?utm_source=email&utm_medium=email_mkt&utm_campaign=extra_primeiracompra*0&utm_content=topobarra_fidelidade">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_18.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
      </tr>  
    </table>
  </td>
</tr>

    
<!--CONTEUDO-->

<tr>
  <td>
    <p style="font-family:Verdana,Helvetica,Arial, sans-serif; font-size:14px; text-align:center; color:black;"><br><br>

      Bem vinda à Olook!
Agora você vai ficar por dentro das principais<br>tendências da moda e de todas as novidades do site.



    </p>
  </td>
</tr>


<tr>
  <td>
    <a href="https://www.olook.com.br/olookletlp_fev?coupon_code=30ACIMA150NEW&utm_source=email&utm_medium=email_mkt&utm_campaign=primeiracompra*0&utm_content=olooklet_17678">
    <img src="http://cdn.olook.com.br/assets/emailmkt/destaques/2014/02_fevereiro/20140226/pripri_01.jpg" alt="" border="0" style="display:block">
    </a>
  </td>
</tr>

<tr>
  <td>
    <a href="http://www.olook.com.br/stylequiz?coupon_code=30ACIMA150NEW&utm_source=email&utm_medium=email_mkt&utm_campaign=primeiracompra*0&utm_content=style_quiz_16047">
    <img src="http://cdn.olook.com.br/assets/emailmkt/destaques/2014/02_fevereiro/20140226/pripri_02.jpg" alt="" border="0" style="display:block">
    </a>
  </td>
</tr>


<tr>
  <td>
    <a href="https://www.olook.com.br/olookletlp_fev?coupon_code=30ACIMA150NEW&utm_source=email&utm_medium=email_mkt&utm_campaign=primeiracompra*0&utm_content=olooklet_17678">
    <br><img src="http://cdn.olook.com.br/assets/emailmkt/destaques/2014/02_fevereiro/20140226/gif.gif" alt="" border="0" style="display:block">
    </a>
  </td>
</tr>


<tr>
  <td>
    <a href="http://www.olook.com.br/sapato?coupon_code=30ACIMA150NEW&cmp=email_formafina_sapatos_2102&utm_source=email&utm_medium=email_mkt&utm_campaign=extra_primeiracompra*0&utm_content=sapatos_0">
    <img src="http://cdn.olook.com.br/assets/emailmkt/destaques/2014/02_fevereiro/20140226/pripri_04.jpg" alt="" border="0" style="display:block">
    </a>
  </td>
</tr>


<tr>
  <td>
    <a href="http://www.olook.com.br/sapato?coupon_code=30ACIMA150NEW&cmp=email_formafina_sapatos_2102&utm_source=email&utm_medium=email_mkt&utm_campaign=extra_primeiracompra*0&utm_content=sapatos_0">
    <img src="http://cdn.olook.com.br/assets/emailmkt/destaques/2014/02_fevereiro/20140226/pripri_05.jpg" alt="" border="0" style="display:block">
    </a>
  </td>
</tr>

<tr>
  <td>
    <a href="http://www.olook.com.br/roupa/salinas-blue%20man-agua%20doce-triya?utf8=%E2%9C%93&por=menor-preco?coupon_code=30ACIMA150NEW&cmp=email_formafina_sapatos_2102&utm_source=email&utm_medium=email_mkt&utm_campaign=extra_primeiracompra*0&utm_content=moda_praia">
    <img src="http://cdn.olook.com.br/assets/emailmkt/destaques/2014/02_fevereiro/20140226/pripri_06.jpg" alt="" border="0" style="display:block">
    </a>
  </td>
</tr>



<!--FOOTER CATEGORIAS-->

  <tr>
    <td align="center">
      <br><img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/novofooter_01.jpg" border="0" alt="Selecione o que voc&ecirc; quer" style="display:block">
    </td>
  </tr>

<tr>
  <td>
    <table width="620" align="center" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td>
        <a href="http://www.olook.com.br/roupa/blusa-camisa?utm_source=email&utm_medium=email_mkt&utm_campaign=extra_primeiracompra*0&utm_content=bannerfooter_blusa">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_03.jpg" alt="blusa" border="0" style="display:block">
        </a>
        </td>

        <td>
        <a href="http://www.olook.com.br/roupa/camisa?utm_source=email&utm_medium=email_mkt&utm_campaign=extra_primeiracompra*0&utm_content=bannerfooter_camisa">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_04.jpg" alt="camisa" border="0" style="display:block">
        </a>
        </td>

        <td>
        <a href="http://www.olook.com.br/roupa/calca?utm_source=email&utm_medium=email_mkt&utm_campaign=extra_primeiracompra*0&utm_content=bannerfooter_calca">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_05.jpg" alt="cal&ccedil;a" border="0" style="display:block">
        </a>
        </td>

        <td>
        <a href="http://www.olook.com.br/roupa/vestido?utm_source=email&utm_medium=email_mkt&utm_campaign=extra_primeiracompra*0&utm_content=bannerfooter_vestido">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_06.jpg" alt="vestido" border="0" style="display:block">
        </a>
        </td>

        <td>
        <a href="http://www.olook.com.br/sapato/scarpin?utm_source=email&utm_medium=email_mkt&utm_campaign=extra_primeiracompra*0&utm_content=bannerfooter_anabela">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_07.jpg" alt="anabela" border="0" style="display:block">
        </a>
        </td>

        <td>
        <a href="http://www.olook.com.br/sapato/scarpin?utm_source=email&utm_medium=email_mkt&utm_campaign=extra_primeiracompra*0&utm_content=bannerfooter_scarpin">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_08.jpg" alt="scarpin" border="0" style="display:block">
        </a>
        </td>

        <td>
        <a href="http://www.olook.com.br/sapato/sapatilha?utm_source=email&utm_medium=email_mkt&utm_campaign=extra_primeiracompra*0&utm_content=bannerfooter_sapatilha">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_09.jpg" alt="sapatilha" border="0" style="display:block">
        </a>
        </td>

        <td>
        <a href="http://www.olook.com.br/sapato/sandalia?utm_source=email&utm_medium=email_mkt&utm_campaign=extra_primeiracompra*0&utm_content=bannerfooter_sandalia">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_10.jpg" alt="sandalia" border="0" style="display:block">
        </a>
        </td>

        <td>
        <a href="http://www.olook.com.br/sapato/rasteira?utm_source=email&utm_medium=email_mkt&utm_campaign=extra_primeiracompra*0&utm_content=bannerfooter_rasteira">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_11.jpg" alt="rasteira" border="0" style="display:block">
        </a>
        </td>

        <td>
        <a href="http://www.olook.com.br/bolsa?utm_source=email&utm_medium=email_mkt&utm_campaign=extra_primeiracompra*0&utm_content=bannerfooter_bolsa">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_12.jpg" alt="bolsa" border="0" style="display:block">
        </a>
        </td>
      
        <td>
        <a href="http://www.olook.com.br/acessorio?&utm_source=email&utm_medium=email_mkt&utm_campaign=extra_primeiracompra*0&utm_content=bannerfooter_acessorios">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_13.jpg" alt="acessório" border="0" style="display:block">
        </a>
        </td>
      </tr>
    </table>
  </td>
</tr> 

<!--DIV GROSSA-->
  <tr>
    <td align="center">       
      <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/linhagrossa.jpg" border="0" alt="divisória" style="display:block">
    </td>
  </tr>

<!-- BANDEIRAS -->
  <tr>
    <td><br />
      <center><img src="http://cdn.olook.com.br/assets/base/bandeiras.jpg" alt="bandeiras" border="0" style="display:block;"></center>
    </td>
  </tr>
       
<!-- DISCLAIMER FOOTER -->
  <tr>
    <td align="center">
    <br>
      <p style="font-family:Verdana,Helvetica,Arial, sans-serif; font-size:10px; color:#6d6e71">

A Olook se reserva no direito de corrigir possíveis erros com rela&ccedil;ão aos pre&ccedil;os dos produtos.<br>
As ofertas do e-mail estão sujeitas à disponibilidade de estoque e sua dura&ccedil;ão é por tempo indeterminado.<br>O pre&ccedil;o pode não ser mais válido após a data do disparo.<br>
Qualquer tipo de desconto não é cumulativo com outros descontos ou promo&ccedil;ões,<br>
prevalecendo o maior desconto quando for o caso.<br><br>

Adicione <a href="mailto:mensagens@olookmail.com.br" style="color:#ea2e3c">mensagens@olookmail.com.br</a> em sua lista de contatos.<br>
A Olook respeita sua privacidade e de todos os seus clientes.<br>
Leia mais sobre a nossa <a href="http://www.olook.com.br/privacidade" style="color:#ea2e3c">Política de Privacidade</a>.<br>
Endere&ccedil;o olook: Rua Natividade, nº 72, Vila Nova Conceição, São Paulo - SP

      </p>
    </td>
  </tr>
  </table>
  </body>
</html>



