<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>olook</title>
  </head>    
  <body bgcolor="#ffffff">
  <table border="0" align="center" cellpadding="0" cellspacing="0" width="620">

  <tr>
      <td>
          <p style="font-family:Verdana,Helvetica,Arial,sans-serif;font-size:9px;color:#6d6e71">Agora voc&ecirc; vai ficar por dentro das principais tend&ecirc;ncias da moda e de todas as novidades do site.
          </p>
      </td>
  </tr>

<!--BENEFICIOS 2.0-->
  <tr>
      <td>
        <img src="http://cdn.olook.com.br/assets/base/beneficios2013/toponovo3.jpg" alt="" border="0" style="display:block; float:left;">
      </td>
  </tr>


<!--TABELA VAZIA-->
  <tr>
    <td align="center" height="5"></td>
  </tr>


  <!--NOVO TOPO 2013-->
<tr>
  <td>   
    <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_01.jpg" alt="" border="0" style="display:block">
  </td>
</tr>

<tr>
    <td>
      <table align="center" width="620" cellpadding="0" cellspacing="0" >
      <tr>
        <td>         
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_02.jpg" alt="" border="0" style="display:block">
        </td>
        <td>
          <a href="http://www.facebook.com/olook">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_03.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="https://twitter.com/olook">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_04.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="http://statigr.am/olook">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_06.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>          
          <img src="http://cdn.olook.com.br/assets/base/newtopo/gamb.jpg" alt="" border="0" style="display:block">  
        </td>
        <td>      
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_07.jpg" alt="" border="0" style="display:block">        
        </td>
        <td>
          <a href="http://www.olook.com.br/?utm_source=email&utm_medium=email_mkt&utm_campaign=welcome_abril14*half&utm_content=topo_logo&utm_email=transactional">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_08.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>          
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_09.jpg" alt="" border="0" style="display:block">          
        </td>
      </tr>  
    </table>
  </td>
</tr>

<tr>
    <td>
      <table align="center" width="620" cellpadding="0" cellspacing="0" >
      <tr>
        <td>        
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_10.jpg" alt="" border="0" style="display:block">          
        </td>
        <td>
          <a href="http://www.olook.com.br/?utm_source=email&utm_medium=email_mkt&utm_campaign=welcome_abril14*half&utm_content=topo_logo&utm_email=transactional">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_11.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>         
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_12.jpg" alt="" border="0" style="display:block">          
        </td>
      </tr>  
    </table>
  </td>
</tr>

<tr>
  <td>   
    <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_13.jpg" alt="" border="0" style="display:block">  
  </td>
</tr>

<tr>
    <td>
      <table align="center" width="620" cellpadding="0" cellspacing="0" >
      <tr>    
        <td>
          <a href="http://www.olook.com.br/?utm_source=email&utm_medium=email_mkt&utm_campaign=welcome_abril14*half&utm_content=topobarra_minhavitrine&utm_email=transactional#looks">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/meuslooks2.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="http://www.olook.com.br/stylist-news">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_15.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="http://www.olook.com.br/colecoes/olook/?utm_source=email&utm_medium=email_mkt&utm_campaign=welcome_abril14*half&utm_content=topobarra_ocasioes&utm_email=transactional">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_16.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="http://www.olook.com.br/membro/ganhe-creditos/?utm_source=email&utm_medium=email_mkt&utm_campaign=welcome_abril14*half&utm_content=topobarra_ganhe20mgm&utm_email=transactional">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_17.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="http://www.olook.com.br/fidelidade/?utm_source=email&utm_medium=email_mkt&utm_campaign=welcome_abril14*half&utm_content=topobarra_fidelidade&utm_email=transactional">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_18.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
      </tr>  
    </table>
  </td>
</tr>

    
<!--CONTEUDO-->

<tr>
  <td>
    <a href="http://www.olook.com.br/colecoes/preview-outono-2014?utm_source=email&utm_medium=email_mkt&utm_campaign=welcome_abril14*half&utm_content=half_novidades_0&coupon_code=30acima150new">
    <img src="http://cdn.olook.com.br/assets/emailmkt/destaques/2014/04_abril/20140415/topo.gif" alt="" border="0" style="display:block">
    </a>
  </td>
</tr>

<tr>
  <td>
    <a href="http://www.olook.com.br/quiz?utm_source=email&utm_medium=email_mkt&utm_campaign=welcome_abril14*half&utm_content=half_quiz_0">
    <img src="http://cdn.olook.com.br/assets/emailmkt/destaques/2014/04_abril/20140415/quiz.jpg" alt="" border="0" style="display:block">
    </a>
  </td>
</tr>


<!--FOOTER CATEGORIAS-->

  <tr>
    <td align="center">
      <br><img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/novofooter_01.jpg" border="0" alt="Selecione o que você quer" style="display:block">
    </td>
  </tr>

<tr>
  <td>
    <table width="620" align="center" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td>
        <a href="http://www.olook.com.br/roupa/blusa-camisa?utm_source=email&utm_medium=email_mkt&utm_campaign=welcome_abril14*half&utm_content=bannerfooter_blusa&utm_email=transactional">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_03.jpg" alt="blusa" border="0" style="display:block">
        </a>
        </td>

        <td>
        <a href="http://www.olook.com.br/roupa/camisa?utm_source=email&utm_medium=email_mkt&utm_campaign=welcome_abril14*half&utm_content=bannerfooter_camisa&utm_email=transactional">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_04.jpg" alt="camisa" border="0" style="display:block">
        </a>
        </td>

        <td>
        <a href="http://www.olook.com.br/roupa/calca?utm_source=email&utm_medium=email_mkt&utm_campaign=welcome_abril14*half&utm_content=bannerfooter_calca&utm_email=transactional">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_05.jpg" alt="calça" border="0" style="display:block">
        </a>
        </td>

        <td>
        <a href="http://www.olook.com.br/roupa/vestido?utm_source=email&utm_medium=email_mkt&utm_campaign=welcome_abril14*half&utm_content=bannerfooter_vestido&utm_email=transactional">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_06.jpg" alt="vestido" border="0" style="display:block">
        </a>
        </td>

        <td>
        <a href="http://www.olook.com.br/sapato/anabela?utm_source=email&utm_medium=email_mkt&utm_campaign=welcome_abril14*half&utm_content=bannerfooter_anabela&utm_email=transactional">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_07.jpg" alt="anabela" border="0" style="display:block">
        </a>
        </td>

        <td>
        <a href="http://www.olook.com.br/sapato/scarpin?utm_source=email&utm_medium=email_mkt&utm_campaign=welcome_abril14*half&utm_content=bannerfooter_scarpin&utm_email=transactional">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_08.jpg" alt="scarpin" border="0" style="display:block">
        </a>
        </td>

        <td>
        <a href="http://www.olook.com.br/sapato/sapatilha?utm_source=email&utm_medium=email_mkt&utm_campaign=welcome_abril14*half&utm_content=bannerfooter_sapatilha&utm_email=transactional">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_09.jpg" alt="sapatilha" border="0" style="display:block">
        </a>
        </td>

        <td>
        <a href="http://www.olook.com.br/sapato/sandalia?utm_source=email&utm_medium=email_mkt&utm_campaign=welcome_abril14*half&utm_content=bannerfooter_sandalia&utm_email=transactional">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_10.jpg" alt="sandalia" border="0" style="display:block">
        </a>
        </td>

        <td>
        <a href="http://www.olook.com.br/sapato/rasteira?utm_source=email&utm_medium=email_mkt&utm_campaign=welcome_abril14*half&utm_content=bannerfooter_rasteira&utm_email=transactional">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_11.jpg" alt="rasteira" border="0" style="display:block">
        </a>
        </td>

        <td>
        <a href="http://www.olook.com.br/bolsa?utm_source=email&utm_medium=email_mkt&utm_campaign=welcome_abril14*half&utm_content=bannerfooter_bolsa&utm_email=transactional">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_12.jpg" alt="bolsa" border="0" style="display:block">
        </a>
        </td>
      
        <td>
        <a href="http://www.olook.com.br/acessorio?&utm_source=email&utm_medium=email_mkt&utm_campaign=welcome_abril14*half&utm_content=bannerfooter_acessorios&utm_email=transactional">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_13.jpg" alt="acessório" border="0" style="display:block">
        </a>
        </td>
      </tr>
    </table>
  </td>
</tr> 

<!--DIV GROSSA-->
  <tr>
    <td align="center">       
      <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/linhagrossa.jpg" border="0" alt="divisória" style="display:block">
    </td>
  </tr>

<!-- BANDEIRAS -->
  <tr>
    <td><br />
      <center><img src="http://cdn.olook.com.br/assets/base/bandeiras.jpg" alt="bandeiras" border="0" style="display:block;"></center>
    </td>
  </tr>
       
<!-- DISCLAIMER FOOTER -->
  <tr>
    <td align="center">
    <br>
      <p style="font-family:Verdana,Helvetica,Arial, sans-serif; font-size:10px; color:#6d6e71">

A Olook se reserva o direito de corrigir possíveis erros com relação aos preços dos produtos.<br>
As ofertas do e-mail estão sujeitas à disponibilidade de estoque e suas duraçõeso são por tempos indeterminados.<br>O preço pode não ser mais válido após a data do disparo.<br>
Qualquer tipo de desconto não é cumulativo com outros descontos ou promoções,<br>
prevalecendo o maior desconto quando for o caso.<br><br>

Adicione <a href="mailto:mensagens@olookmail.com.br" style="color:#ea2e3c">mensagens@olookmail.com.br</a> em sua lista de contatos.<br>
A Olook respeita sua privacidade e de todos os seus clientes.<br>
Leia mais sobre a nossa <a href="http://www.olook.com.br/privacidade" style="color:#ea2e3c">Política de Privacidade</a>.<br><br>
Endereço olook: Rua Natividade, nº 72, Vila Nova Conceição, São Paulo - SP<br>
Este e-mail é gerado automaticamente. Por favor, não responda.<br>
Ficou com alguma dúvida? Entre em contato com nosso SAC pelo endereço <a href="http://www.olook.com.br/privacidade" style="color:#ea2e3c">http://www.olook.com.br/centraldeatendimento,</a><br>
e-mail <a href="mailto:falecom@olook.com.br" style="color:#ea2e3c">falecom@olook.com.br</a> ou telefone (11) 3848-1293. Vamos adorar conversar com você!

      </p>
    </td>
  </tr>
  </table>
  </body>
</html>

