<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>
      
  <div bgcolor="#eeeeee">
  <table border="0" align="center" cellpadding="0" cellspacing="0" width="620">


  <!--NOVO TOPO 2013-->
<tr>
  <td>   
    <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_01.jpg" alt="" border="0" style="display:block">
  </td>
</tr>

<tr>
    <td>
      <table align="center" width="620" cellpadding="0" cellspacing="0" >
      <tr>
         <td>         
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_02.jpg" alt="" border="0" style="display:block">
        </td>
        <td>
          <a href="http://www.facebook.com/olook">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_03.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="https://twitter.com/olook">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_04.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
    
        <td>
          <a href="http://statigr.am/olook">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_06.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
            <td>
          
          <img src="http://cdn.olook.com.br/assets/base/newtopo/gamb.jpg" alt="" border="0" style="display:block">
         
        </td>
        <td>      
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_07.jpg" alt="" border="0" style="display:block">        
        </td>
        <td>
          <a href="http://www.olook.com.br/?utm_source=email&utm_medium=email_regua&utm_campaign=welcome_program&utm_content=topo_logo">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_08.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>          
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_09.jpg" alt="" border="0" style="display:block">          
        </td>
      </tr>  
    </table>
  </td>
</tr>

<tr>
    <td>
      <table align="center" width="620" cellpadding="0" cellspacing="0" >
      <tr>
         <td>        
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_10.jpg" alt="" border="0" style="display:block">          
        </td>
        <td>
          <a href="http://www.olook.com.br/?utm_source=email&utm_medium=email_regua&utm_campaign=welcome_program&utm_content=topo_logo">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_11.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>         
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_12.jpg" alt="" border="0" style="display:block">          
        </td>
      </tr>  
    </table>
  </td>
</tr>

<tr>
  <td>   
    <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_13.jpg" alt="" border="0" style="display:block">  
  </td>
</tr>

<tr>
    <td>
      <table align="center" width="620" cellpadding="0" cellspacing="0" >
      <tr>    
        <td>
          <a href="http://www.olook.com.br/membro/vitrine/?utm_source=email&utm_medium=email_regua&utm_campaign=welcome_program&utm_content=topobarra_minhavitrine">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_14.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="http://www.olook.com.br/stylist-news">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_15.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="http://www.olook.com.br/colecoes/olook/?utm_source=email&utm_medium=email_regua&utm_campaign=welcome_program&utm_content=topobarra_ocasioes">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_16.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="http://www.olook.com.br/membro/convite/?utm_source=email&utm_medium=email_regua&utm_campaign=welcome_program&utm_content=topobarra_ganhe20mgm">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_17.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="http://www.olook.com.br/fidelidade/?utm_source=email&utm_medium=email_regua&utm_campaign=welcome_program&utm_content=topobarra_fidelidade">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_18.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
      </tr>  
    </table>
  </td>
</tr>

<tr bgcolor="#ffffff" height="10">
  <td>
  </td>
</tr>
    

<tr>
  <td bgcolor="#ffffff">  

      <br><p align="center" style="font-family:Times New Roman,Georgia,Serif;font-size:23px;color:black;text-align:center">BEM VINDA À OLOOK</p>

      <p style="font-family:Verdana,Helvetica,Arial,sans-serif;font-size:12px;color:black;padding:0 20px 20px">Olá,<br><br>
      Obrigada se inscrever na olook. A partir de agora você receberá nossos e-mails dicas e produtos incríveis de moda. Para personalizar as suas recomendações, nós precisamos conhecer o seu estilo. Mas antes, veja mais sobre nós:
    </p>   
  </td>
</tr>

<tr>
  <td>
    <a href="http://www.olook.com.br/?utm_source=email&utm_medium=email_regua&utm_campaign=welcome_program&utm_content=welcome1_lightbox_vitrine" target="_blank">
    <img src="http://cdn.olook.com.br/assets/emailmkt/extra/agosto2013/20130805/gifgif2.gif" alt="" border="0" style="display:block">
    </a>
  </td>
</tr>

<tr>
  <td bgcolor="#ffffff">
    <p style="font-family:Verdana,Helvetica,Arial,sans-serif;font-size:20px;color:black;text-align:center;margin-bottom:10px;font-weight:bold">

      <br><span style="font-size:24px;">Você ganhou 10% de desconto</span><br>
      <span style="font-size:15px;">para usar agora, válido por 7 dias!</span></p>
      </td>
</tr>
<tr><td>
<table width="220" align="center">
            <tr>
              <td width="220" height="30" bgcolor=black align="center">
              <center>
                   <a href="http://www.olook.com.br/sapato?utm_source=email&utm_medium=email_regua&utm_campaign=welcome_program&utm_content=welcome1_lightbox_vitrine_botaodesconto&coupon_code=<%= Setting.lightbox_coupon_code %>" style="font-family:Verdana,Helvetica,Arial;color:#ffffff; font-size:14px;text-decoration:none;">CLIQUE AQUI PARA USAR O DESCONTO</a>
              </center>
              </td>
            </tr>
          </table>
          </td></tr>         
      <tr>
  <td bgcolor="#ffffff">
    <p style="font-family:Verdana,Helvetica,Arial,sans-serif;font-size:9px;color:black;text-align:center;margin-bottom:10px;">

      <br>O código será aplicado automaticamente em sua sacola antes do pagamento. <br>Desconto não acumulativo com outras promoções.</p>
      </td>
</tr>
<tr>
  <td bgcolor="#ffffff">
    <p style="font-family:Verdana,Helvetica,Arial,sans-serif;font-size:14px;color:black;text-align:center;margin-bottom:10px;">

      <br>Quer receber uma vitrine personalizada pelas nossas stylists?<br>Responda agora o style quiz e nos conte o seu estilo. </p>



    
  </td>
</tr>

<tr>
  <td height="80" bgcolor="white">
    <a href="www.olook.com.br/half_newsletter/?utm_source=email&utm_medium=email_regua&utm_campaign=welcome_program&utm_content=welcome1_lightbox_vitrine" target="_blank">
    <img src="http://cdn.olook.com.br/assets/emailmkt/extra/fevereiro2013/20130208_new/responda.jpg" alt="RESPONDA AO STYLE QUIZ" border="0" style="display:block">
    </a>
  </td>
</tr>

<tr>
  <td>
    <table border="0" align="center" cellpadding="0" cellspacing="0" width="620">
      <tr>
        <td>
    <a href="http://www.olook.com.br/como-funciona/?utm_source=email&utm_medium=email_regua&utm_campaign=welcome_program&utm_content=welcome1_lightbox_comofunciona" target="_blank">
    <img src="http://cdn.olook.com.br/assets/emailmkt/extra/fevereiro2013/20130208_new/neww_06.jpg" alt="Como funciona" border="0" style="display:block">
    </a>
  </td>
          <td>
    <a href="http://www.olook.com.br/fidelidade/?utm_source=email&utm_medium=email_regua&utm_campaign=welcome_program&utm_content=welcome1_lightbox_fidelidade" target="_blank">
    <img src="http://cdn.olook.com.br/assets/emailmkt/extra/fevereiro2013/20130208_new/neww_07.jpg" alt="Programa Fidelidade" border="0" style="display:block">
    </a>
  </td>
  </tr>
  </table>
  </td>
</tr>

<tr>
  <td>
    <a href="http://www.olook.com.br/devolucoes/?utm_source=email&utm_medium=email_regua&utm_campaign=welcome_program&utm_content=welcome1_lightbox_devolucoes" target="_blank">
    <img src="http://cdn.olook.com.br/assets/emailmkt/extra/fevereiro2013/20130208_new/imgmail_07.jpg" alt="Devolução ou troca fácil e grátis." border="0" style="display:block">
    </a>
  </td>
</tr>






  
<!--FOOTER CATEGORIAS-->
<!--DIV-->
<tr>
  <td align="center">
     
      <img src="http://cdn.olook.com.br/assets/emailmkt/lookbooks/fevereiro2013/20130206_cordas/imgmail_02.jpg" border="0" alt="divisória" style="display:block">
    </td>
  </tr>
  <tr>
    <td align="center">
      <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footerimgmail_01.jpg" border="0" alt="Selecione o que voc&ecirc; quer" style="display:block">
    </td>
  </tr>
  <tr>
   <td>
     <%= render "shared/email/footer_links" %>
   </td>
  </tr>  

  <tr>
    <td align="center">       
      <img src="http://cdn.olook.com.br/assets/emailmkt/lookbooks/fevereiro2013/20130206_cordas/div.jpg" border="0" alt="Stylist" style="display:block">
    </td>
  </tr>
  <tr>
    <td bgcolor="white">
      <br>
      <center>
        <img src="http://cdn.olook.com.br/assets/base/selos.jpg" alt="" border="0" style="display:block">
      </center>        
    </td>
  </tr>
<tr>
  <td align="center">
   
    <center><img src="http://cdn.olook.com.br/assets/emailmkt/extra/fevereiro2013/20130208_new/imgmail_19.jpg" alt="" border="0" style="display:block"></center>
   
  </td>
</tr>

  </table>
  </div>
</body></html>



















<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>olook</title>
  </head>    
  <body bgcolor="#ffffff">
  <table border="0" align="center" cellpadding="0" cellspacing="0" width="620">



<!--TABELA VAZIA-->
  <tr>
    <td align="center" height="10"></td>
  </tr>


<!--BENEFICIOS 2.0-->
  <tr>
      <td>
        <img src="http://cdn.olook.com.br/assets/base/beneficios2013/toponovo3.jpg" alt="" border="0" style="display:block; float:left;">
      </td>
  </tr>


<!--TABELA VAZIA-->
  <tr>
    <td align="center" height="5"></td>
  </tr>


  <!--NOVO TOPO 2013-->
<tr>
  <td>   
    <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_01.jpg" alt="" border="0" style="display:block">
  </td>
</tr>

<tr>
    <td>
      <table align="center" width="620" cellpadding="0" cellspacing="0" >
      <tr>
        <td>         
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_02.jpg" alt="" border="0" style="display:block">
        </td>
        <td>
          <a href="http://www.facebook.com/olook">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_03.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="https://twitter.com/olook">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_04.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="http://statigr.am/olook">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_06.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>          
          <img src="http://cdn.olook.com.br/assets/base/newtopo/gamb.jpg" alt="" border="0" style="display:block">  
        </td>
        <td>      
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_07.jpg" alt="" border="0" style="display:block">        
        </td>
        <td>
          <a href="http://www.olook.com.br/?utm_source=email&utm_medium=email_mkt&utm_campaign=welcome_program&utm_content=topo_logo">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_08.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>          
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_09.jpg" alt="" border="0" style="display:block">          
        </td>
      </tr>  
    </table>
  </td>
</tr>

<tr>
    <td>
      <table align="center" width="620" cellpadding="0" cellspacing="0" >
      <tr>
        <td>        
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_10.jpg" alt="" border="0" style="display:block">          
        </td>
        <td>
          <a href="http://www.olook.com.br/?utm_source=email&utm_medium=email_mkt&utm_campaign=welcome_program&utm_content=topo_logo">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_11.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>         
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_12.jpg" alt="" border="0" style="display:block">          
        </td>
      </tr>  
    </table>
  </td>
</tr>

<tr>
  <td>   
    <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_13.jpg" alt="" border="0" style="display:block">  
  </td>
</tr>

<tr>
    <td>
      <table align="center" width="620" cellpadding="0" cellspacing="0" >
      <tr>    
        <td>
          <a href="http://www.olook.com.br/minha/vitrine/?utm_source=email&utm_medium=email_mkt&utm_campaign=welcome_program&utm_content=topobarra_minhavitrine">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_14.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="http://www.olook.com.br/stylist-news">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_15.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="http://www.olook.com.br/colecoes/olook/?utm_source=email&utm_medium=email_mkt&utm_campaign=welcome_program&utm_content=topobarra_ocasioes">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_16.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="http://www.olook.com.br/membro/convite/?utm_source=email&utm_medium=email_mkt&utm_campaign=welcome_program&utm_content=topobarra_ganhe20mgm">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_17.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="http://www.olook.com.br/fidelidade/?utm_source=email&utm_medium=email_mkt&utm_campaign=welcome_program&utm_content=topobarra_fidelidade">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_18.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
      </tr>  
    </table>
  </td>
</tr>

    
<!--CONTEUDO-->

<tr>
  <td>

    <p style="font-family:Verdana,Helvetica,Arial, sans-serif; font-size:15px; font-weight:bold; margin-top:35; margin-bottom:15; color:black; text-align:center;">
      Olá ##first_name##, bem vinda à Olook!
    </p>

  </td>
</tr>

<tr>
  <td>
    <a href="topo">
    <img src="http://cdn.olook.com.br/assets/emailmkt/welcome/20131209/prime_02.jpg" alt="" border="0" style="display:block">
    </a>
  </td>
</tr>

<tr>
  <td>
    <a href="topo">
    <img src="http://cdn.olook.com.br/assets/emailmkt/welcome/20131209/prime_03.jpg" alt="" border="0" style="display:block">
    </a>
  </td>
</tr>

<tr>
  <td>
    <a href="topo">
    <img src="http://cdn.olook.com.br/assets/emailmkt/welcome/20131209/prime_04.jpg" alt="" border="0" style="display:block">
    </a>
  </td>
</tr>

<tr>
  <td>
    <a href="topo">
    <img src="http://cdn.olook.com.br/assets/emailmkt/welcome/20131205/welok_05.jpg" alt="" border="0" style="display:block">
    </a>
  </td>
</tr>




<!--FOOTER CATEGORIAS-->

  <tr>
    <td align="center">
      <br><img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/novofooter_01.jpg" border="0" alt="Selecione o que voc&ecirc; quer" style="display:block">
    </td>
  </tr>
    <tr>
   <td>
     <%= render "shared/email/footer_links" %>
   </td>
  </tr> 

<!--DIV GROSSA-->
  <tr>
    <td align="center">       
      <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/linhagrossa.jpg" border="0" alt="divisória" style="display:block">
    </td>
  </tr>

<!-- BANDEIRAS -->
  <tr>
    <td><br />
      <center><img src="http://cdn.olook.com.br/assets/base/bandeiras.jpg" alt="bandeiras" border="0" style="display:block;"></center>
    </td>
  </tr>
       

  </table>
  </body>
</html>

