//= render :partial => "search/grouped_products", :locals => {title: "Categorias", list: @result.grouped_products("categoria"), field: :category}
= render "category"
= render "colors"
= render "heel"
