%p.title-category
  Salto
%ul.subcategory-list
  %li
    = link_to("0-4cm", "/catalogo/sapatos/?salto=0..4")
  %li
    = link_to("5-9cm","/catalogo/sapatos/?salto=5..9")
  %li
    = link_to("10-15cm", "/catalogo/sapatos/?salto=10..")
