<li>
  <%= image_tag 'quiz/shoe_fake_2.png' %>
  <ul class="options">
    <li>
      <% 3.times do %>
        <label for=""> Opção um
          <%= radio_button_tag("questions[question_]", "Bla bla bla!!!") %>
        </label>
      <% end %>
    </li>
  </ul>
</li>
