  <h3>Qual tamanho de vestido você veste?</h3>
  <ul class="question">
    <% question.answers.each do |answer| %>
      <li>
        <label for="<%= "questions_question_dress_#{answer.id}" %>"> <%= answer.title %>
          <%= radio_button_tag("questions[question_dress]", "#{answer.id}") %>
      </label>
      </li>
    <% end %>
  </ul>

