<h2>Preparada?</h2>

  <p>Nossos stylists ir&atilde;o utilizar estas informa&ccedil;&otilde;es para
     escolher <b>sapatos, bolsas e acess&oacute;rios,</b> e montar&atilde;o uma
     vitrine feita s&oacute; para voce.</p>

  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), :class => "fbpopup", :"data-width" => 600, :"data-height" => 400 %>
