%section#profiles
  .content-fashion
    .style.fashion
      %p 
        = "#{ @user.first_name } é:"
    .share
      %p
        Gostou do resultado? Então compartilhe!
        = link_to 'Compartilhar', "javascript:void(0);", id: "facebook_share", :class => "share", :"data-width" => 128, :"data-height" => 24, onclick: track_event("Showroom","ShowroomShareFacebook")
  %ul
    %li
      %h1
        DIA-A-DIA
      %p
        Textinho descrevendo como uma pessoa moderna se veste no dia-a-dia
      =image_tag "quiz/profiles/f_2.jpg", :class => ""
      %li
        %h1
          TRABALHO
        %p
          Textinho descrevendo como uma pessoa moderna se veste no dia-a-dia
        =image_tag "quiz/profiles/f_3.jpg", :class => ""
      %li.party
        %h1
          FESTA
        %p
          Textinho descrevendo como uma pessoa moderna se veste no dia-a-dia
        =image_tag "quiz/profiles/f_4.jpg", :class => ""  