= stylesheet_link_tag  "new_structure/section/survey"
%section#stylist
  #content
    =image_tag "quiz/stylist/title.png", :class => ""
    =link_to (image_tag("quiz/stylist/go_stylist.jpg",:class => "go_quiz")), "/stylist-news/" 
    .content-stylist
      %ul
        %li.bordoux
          %p
            Conheça o canal das nossas Stylists em nosso site! 
            %br Moda, decoração, celebridades, entretenimento e lifestyle
            =link_to (image_tag("quiz/stylist/q_1.jpg")), "/stylist-news/category/editoriais"
        %li 
          =link_to (image_tag("quiz/stylist/q_2.jpg")), "/stylist-news/category/looks"
        %li.second 
          =link_to (image_tag("quiz/stylist/q_3.jpg")), "/stylist-news/category/olook-tips/como-usar"
        %li.second 
          =link_to (image_tag("quiz/stylist/q_4.jpg")), "/stylist-news/category/estilo-celebridades" 
        %li.deco
          =link_to (image_tag("quiz/stylist/q_5.jpg")), "/stylist-news/category/entrevistas" 
          