<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>olook</title>
  </head>
  <body>
    <div>
      <table border="0" align="center" cellpadding="0" cellspacing="0" width="620">
        <tr>
          <td align="center" height="30">
          </td>
        </tr>

        <tr>
        <td>
          <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <!-- logo -->
              <td>
                <a href="http://www.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=transacional_fidelidade&utm_content=f_amiga_cadastrou">
                <img src="http://cdn.olook.com.br/assets/emailmkt/topo/logo_barra.jpg" alt="Todos os meses uma nova coleção para você." border="0" title="Todos os meses uma nova coleção para você." style="display:block"></a>
              </td>

              <!-- instagram -->
              <td>
                <a href="http://statigr.am/olook">                
                <img src="http://cdn.olook.com.br/assets/emailmkt/topo/ico_in.jpg" alt="Instagram" border="0" title="Instagram" style="display:block"></a>
              </td>
              <!-- twitter -->
              <td>
                <a href="https://twitter.com/olook">                
                <img src="http://cdn.olook.com.br/assets/emailmkt/topo/ico_tw.jpg" alt="twitter" border="0" title="twitter" style="display:block"></a>
              </td>
              <!-- facebook -->
              <td>
                <a href="http://www.facebook.com/olook">                
                <img src="http://cdn.olook.com.br/assets/emailmkt/topo/ico_fb.jpg" alt="Facebook" border="0" title="Facebook" style="display:block"></a>
              </td>
              <!-- blog -->
              <td>
                <a href="http://blog.olook.com.br">                
                <img src="http://cdn.olook.com.br/assets/emailmkt/topo/ico_bg.jpg" alt="Blog" border="0" title="Blog" style="display:block"></a>
              </td>
            </tr>
          </table>
        </td>
      </tr>     
      <tr>
        <td>
          <table cellpadding="0" cellspacing="0">
          
          </table>
          </td>
          </tr>
          
          <tr>
          <td align="center"><br>
          <div style="font-family:Verdana,Helvetica,Arial, sans-serif; font-size:14px; width:540px; text-align:left">


          <p style="font-size:16px;">Olá <span style="color:#ef3742"><%= @inviter.first_name %></span>,</p>

                    <p>A <b><%= @invitee.first_name %></b> acaba de se registrar na olook pelo seu convite.</p>
          <p>Muito obrigada pela sua indicação, ficamos muito felizes. Quando <span style="color:#ef3742"><%= @invitee.first_name %></span> comprar pela primeira vez na olook, você ganhará <b>R$ 30</b> em créditos.
<p>Continue convidando suas amigas e ganhe mais créditos.</p>

      <!-- botao PRINCIPAL -->
                  <table width="220" align="center">
            <tr>
              <td height="30" bgcolor="ef3742" align="center">
              <center>
                   <a href="http://www.olook.com.br/membro/ganhe-creditos/?utm_source=olook&utm_medium=email&utm_campaign=transacional_fidelidade&utm_content=f_amiga_cadastrou" style="color:#ffffff; font-size:14px;text-decoration:none;">CONVIDAR MAIS AMIGAS</a>
              </center>
              </td>
            </tr>
          </table>
                    <!-- fim botao PRINCIPAL -->
          <p>Abraços,<br>
          Equipe olook<br>
          <a href="http://www.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=transacional_fidelidade&utm_content=f_amiga_cadastrou" style="color:#ef3742; font-size:14px">www.olook.com.br</a>
          </p>

          </div>
          <br><br></td>
          
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>