.easter_modal
  %p.title
    Oba! Caça ao coelhinho concluída com sucesso =)
  %ul
    %li.ticket
      = image_tag("campaigns/easter/cupom_desconto.png")
    %li.infos
      %p
        Parabéns! Você ganhou 
        %span
          R$50
        na sua próxima compra!
        Aplique o código 
        %span
          promo_pascoa  
        %br
        na sua sacola e boas compras!
        %br
        Ah! O desconto vale para compras
        %br
        acima de R$150, tá?
        %br
        %br
        Ótima Páscoa!
  %p.warning
    *Promoção não cumulativa com outros descontos, somente válida até dia 20/04/2014

