.easter_modal
  %p.title
    Oba! Caça ao coelhinho concluída com sucesso =)
  %ul
    %li.ticket
      = image_tag("campaigns/easter/cupom_desconto.png")
    %li.infos
      %p
        Você acaba de ganhar 
        %span
          R$50
        de desconto para sua próxima
        compra! Anote o código  
        %span
          promo_pascoa  
        %br
        e depois aplique-o na sua sacola.
        Ah! O desconto vale para compras
        %br
        acima de R$150, tá?
        %br
        %br
        Boa Páscoa e ótimas compras!
