.easter_modal
  %p.title
    Obaaa! Você completou o nosso desafio!
  %ul
    %li.ticket
      = image_tag("campaigns/easter/cupom_desconto.png")
    %li.infos
      %p
        E como recompensa você 
        %br
          acaba de ganhar 
          %span
            R$50* 
          de
        desconto para sua próxima 
        %br
          compra! Para usar, basta 
        incluir o cupom 
        %span
          promo_pascoa 
        %br
          na sua sacola! 
        Parabéns e boas compras! ;)
  %p.warning
    %span
      \*
    Válido para compras acima de R$150