.freebie
  - if freebie.can_receive_freebie?
    Insira aqui o conteudo
    %p
      = check_box_tag 'i_want_freebie', 1, checked: 'checked'
      Desejo Receber
  - else
    = freebie.what_can_i_do_to_receive_freebie
