.freebie
  - if freebie.can_receive_freebie?
    Insira aqui o conteudo
    %p
      = check_box_tag 'i_want_freebie', 1, checked: 'checked'
      Desejo Receber
  - else
    %h2
      Nas compras acima de R$ 200,00 reais ganhe um aroma de ambiente exclusivo Olook.
    %p.missingToSmell
      = freebie.what_can_i_do_to_receive_freebie
    = link_to 'Veja mais aqui', '#', class: 'seeTheSmell'
.modal_smell
