.freebie
  - if freebie.can_receive_freebie?
    .smellName
      %h2.added
        aroma de ambiente exclusivo Olook.
      = link_to 'Veja mais aqui', '#', class: 'seeTheSmell'
    .checkbox
      = check_box_tag 'i_want_freebie', 1, checked: 'checked', data: {url: i_want_freebie_cart_url}
      Desejo Receber
    .value
      R$ 30,00
    .value_total
      R$ 30,00
  - else
    %h2
      Nas compras acima de R$ 200,00 reais ganhe um aroma de ambiente exclusivo Olook.
    %p.missingToSmell
      = freebie.what_can_i_do_to_receive_freebie
    = link_to 'Veja mais aqui', '#', class: 'seeTheSmell'
.modal_smell
