%table
  - @clippings.each do |clipping|
    %tr
      %td
        = image_tag clipping.logo
      %td
        = clipping.title
      %td
        = simple_format clipping.clipping_text
      %td
        = link_to "Clique aqui para ver a matéria completa", clipping.link, target: :blank
