%section#clipping

  %h1
    OLOOK NA IMPRENSA
  %p
    O que andam falando de nós...
  
  - @clippings.each do |clipping|
    %ul
      %li.media
        = image_tag clipping.logo
      %li.article
      = clipping.title
      = simple_format clipping.clipping_text
      = link_to "Ler na integra", clipping.link, target: :blank
