@import 'partials/mixins';

#about h1 {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-style: italic;
  font-weight:normal;
  letter-spacing:-2px;
  font-size: 40px;
  margin: 20px 0px 10px;
}
h1 {
  margin: 12px 0px;
}

#main_feature img {
  float: left;
  margin-right: 45px;
}

#main_describe {
  width: 530px;
  float: left;
}

#main_describe h2 {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-style: italic;
  font-weight:normal;
  letter-spacing:-2px;
  font-size: 35px;
  line-height: 24px;
  margin: 3px 0px;
}

#main_describe p {
  font-size: 14px;
  margin: 25px 0;
}

#main_describe a {
  display: block;
  width: 271px;
  height: 65px;
  @include pink-button();
}

#function {
  width: 970px;
  overflow: hidden;
  margin: 35px 0 130px;
}

#function h1 {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-style: italic;
  font-weight:normal;
  letter-spacing:-2px;
  font-size: 40px;
  margin: 12px 0px;
}

#function li {
  float: left;
  list-style: none;
  margin-right: 5px;
}

  #function li .img_left{
    margin-bottom: 33px;
  }
  #function li .img_leftmid{
    margin-bottom: 28px;
  }
  #function li .img_rightmid{
    margin-bottom: 16px;
  }
  #function li .img_right{
    margin-bottom: 3px;
  }
  
.box {
  width: 194px;
  height: 265px;
  border: 1px solid #cccccc;
  padding: 0px 20px;
}

.box h3 {
  font-weight: normal;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  font-family: sans-serif;
  margin: 15px 0;
}

.box p {
  font-size: 11px;
  text-align: center;
}

#left_box img {
  margin: 12px 0px 10px 17px;
}

#left_box_mid img {
  margin: 6px 0px 10px 10px;
}

#right_box_mid img {
  margin: 0px 0px 0px 30px;
}

#right_box img {
  margin: 0px 0px 0px 18px;
}

#terms h1 {
  margin-bottom: 30px;
  font-family: Times, "Times New Roman", Georgia, serif;
  font-style: italic;
  font-weight:normal;
  font-size:40px;
  letter-spacing:-2px;
  margin: 20px 0px 10px;
  
}

#terms h2 {
  color:#E05789;
  letter-spacing:-1px;
  font-size: 16px;
  margin: 40px 0px -10px 0px;
  text-transform: uppercase;
  font-family: sans-serif;
}

#terms p.intro {
  border:1px solid #c1c1c1;
  padding:30px;
  font-size:16px;
  letter-spacing:-1px;
}

#terms p {
  margin: 13px 0 20px;
}
#terms p.last {
  margin-bottom:100px;
}
#terms a {
  color:#E05789;
}

.steps {
  margin-bottom: 35px;
}

.clear {
  clear: both;
}
