@import 'partials/mixins';
@import 'common/fonts';

#about{
padding:0 20px;
}

#about h1 {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-style: italic;
  font-weight:normal;
  letter-spacing:-2px;
  font-size: 40px;
  margin: 30px 0px 10px;
}

#main_feature img {
  float: left;
  margin-right: 45px;
}

#main_describe {
  width: 490px;
  float: left;
}

#main_describe h2 {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-style: italic;
  font-weight:normal;
  letter-spacing:-2px;
  font-size: 35px;
  line-height: 24px;
  margin: 3px 0px;
}

#main_describe p {
  font-size: 14px;
  margin: 25px 0;
}

#main_describe a {
  background: url('/assets/about/btn-answer.png') no-repeat;
  text-indent: -9999px;
  display: block;
  width: 271px;
  height: 65px;

  &.logged {
    background: url('/assets/about/btn-answer-logged.png') no-repeat;
  }
}

#function {
  width: 960px;
  overflow: hidden;
  margin: 35px auto 0px;
  h1 {
    background: url('/assets/how_to/title-how-to.png') no-repeat;
    text-indent: -9999px;
    width: 240px;
    height: 20px;
    display: block;
    margin-bottom: 12px;
  }
  ul {
    width: 100%;
    overflow: auto;
  }
}

#function li {
  float: left;
  list-style: none;
  margin-right: 10px;
}

  #function li .img_left{
    margin-bottom: 33px;
  }
  #function li .img_leftmid{
    margin-bottom: 28px;
  }
  #function li .img_rightmid{
    margin-bottom: 16px;
  }
  #function li .img_right{
    margin-bottom: 3px;
  }
  
.box {
  width: 237px;
  height: 278px;
  margin-right: 3px !important;
  float: left;

  &#left_box {
    background: url('/assets/about/box-1.png') no-repeat;
  }

  &#left_box_mid {
    background: url('/assets/about/box-2.png') no-repeat;
  }

  &#right_box_mid {
    background: url('/assets/about/box-3.png') no-repeat;
  }
  
  &#right_box {
    background: url('/assets/about/box-4.png') no-repeat;
    margin-right: none !important;
  }
}

.box h3 {
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  text-indent: -9999px;
  letter-spacing: -1px;
  width:185px;
}

.box p {
  font-size: 11px;
  text-align: center;
  text-indent: -9999px;
}

#terms h1 {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-style: italic;
  font-weight:normal;
  font-size:40px;
  letter-spacing:-2px;
  margin: 20px 0px 20px 20px;
}

#terms h2 {
  color:#E05789;
  letter-spacing:-1px;
  font-size: 16px;
  margin: 40px 0px -10px 0px;
  text-transform: uppercase;
  font-family: sans-serif;
}

#terms p.intro {
  border:1px solid #c1c1c1;
  padding:30px;
  font-size:16px;
  letter-spacing:-1px;
}

#terms p {
  margin: 13px 0 20px;
}
#terms p.last {
  margin-bottom:100px;
}
#terms a {
  color:#E05789;
}

.steps {
  padding:0 30px;
  margin-bottom: 35px;
}

.clear {
  clear: both;
}
