@import 'partials/mixins';
@import 'partials/fonts';
@import 'new_structure/partials/facebook_footer';
@import 'new_structure/common/global_stuffs';

#about{
padding:20px 20px 0;
}

#about h1 {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-style: italic;
  font-weight: normal;
  letter-spacing:-2px;
  font-size: 40px;
  margin: 0px 0px 10px;
}

#main_feature img {
  float: left;
  margin-right: 45px;
}

#main_describe {
  width: 490px;
  float: left;
}

#main_describe h2 {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-style: italic;
  font-weight:normal;
  letter-spacing:-2px;
  font-size: 35px;
  line-height: 24px;
  margin: 3px 0px;
}

#main_describe p {
  font-size: 14px;
  margin: 25px 0;
}

#main_describe a {
  background: image-url('about/btn-answer.png') no-repeat;
  text-indent: -9999px;
  display: block;
  width: 271px;
  height: 65px;

  &.logged {
    background: image-url('about/btn-answer-logged.png') no-repeat;
  }
}

#function {
  width: 960px;
  overflow: hidden;
  margin: 35px auto 0px;
  h1 {
    background: image-url('how_to/title-how-to.png') no-repeat;
    text-indent: -9999px;
    width: 240px;
    height: 20px;
    display: block;
    margin-bottom: 12px;
  }
  ul {
    width: 100%;
    overflow: auto;
  }
}

#function li {
  float: left;
  list-style: none;
  margin-right: 10px;
}

  #function li .img_left{
    margin-bottom: 33px;
  }
  #function li .img_leftmid{
    margin-bottom: 28px;
  }
  #function li .img_rightmid{
    margin-bottom: 16px;
  }
  #function li .img_right{
    margin-bottom: 3px;
  }

.box {
  width: 237px;
  height: 278px;
  margin-right: 3px !important;
  float: left;

  &#left_box {
    background: image-url('about/box-1.png') no-repeat;
  }

  &#left_box_mid {
    background: image-url('about/box-2.png') no-repeat;
  }

  &#right_box_mid {
    background: image-url('about/box-3.png') no-repeat;
  }

  &#right_box {
    background: image-url('about/box-4.png') no-repeat;
    margin-right: none !important;
  }
}

.box h3 {
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  text-indent: -9999px;
  letter-spacing: -1px;
  width:185px;
}

.box p {
  font-size: 11px;
  text-align: center;
  text-indent: -9999px;
}
ul.click_show_child{margin-bottom: 15px;}
ul.click_show_child ul.question_box, ul.click_show_child .answer {
  display:none;
}
.currentLi { display: block; }
.otherLi { display: none; }

#terms {
  width: 970px;
  color: #000;
  margin-bottom: 35px;
  h2{
    font-family: $johnston;
    font-size: 18px;
    color: #000;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 45px;
    margin-top: 15px;
  }
  h3{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    margin-left: 75px;
    margin-bottom: 30px;
  }
  ul{
    margin-left: 75px;
  }
  li.subtitle_site{
    cursor: pointer;
  }
  li.question{
    cursor: pointer;
    margin-top: 5px;
    color: #000 !important;
      &:hover{
      color: $pink !important; 
    } 
  }
  .como_funciona{
    margin-bottom: 15px !important; 
    color: #000 !important;
    cursor:normal;
    ul.question_box{
      margin-top: 15px;
      color: #000 !important;
      cursor:normal;
    }
  }
  .politica_troca, .prazo_troca, .prazo_reembolso{display: none;}
  ul.solicitacao_troca, ul.prazo_reembolso{
    margin-left: 16px;
    width: 585px;
    li{
      list-style-type: disc;
      margin-top: 10px;
    }
  }
  ul li{
    font-family: $avenir;
    font-size: 14px;
    &#subtitle{
      margin-top: 5px;
    }
    p{
      width: 595px;
      margin-top: 20px;
      span{
        font-weight: bold;
      }
    }
    a{
      font-weight: 500;
      text-decoration: none;
      color: $pink;
      &:hover{
        color: $pink;
      }
    }
  }
  .politica_troca{
    h3{
      margin-left: 140px;
      margin-bottom: 0px;
      margin-top: 20px;
      font-weight: bold;
    }
    p{
      width: 595px;
      &.titleul{
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
      }
    }
    ul{
      width: 520px;
      li{
        list-style-type: disc;
        margin-top: 10px;
      }
    }
  }

  .bt_back{
    display: none;
    background: image-url('faq/black_arrow.png') no-repeat 3px 3px; 
    color: #000;
    font-family: johnston, arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    padding-left: 18px;
    margin-top: 25px;
    text-decoration: none;
    font-weight: lighter;
  }
  .active{
    color: #000;
    &:hover{
      color: $pink;
    }
  }
  .answer{
    color: #000 !important;
  }
  .como_funciona{
    color: #000 !important;
    cursor: normal;
  }
}


.clear {
  clear: both;
}

.win {
  #terms {
    h2 {
      font-weight: bold;
    }
  }
}

.content { 
width:970px !important;
}

#contact{
  border-top: 1px solid #d7d7d7;
  width: 970px;
  height: 220px;
  margin: 0 auto;
  h2{
    font-family: $johnston;
    font-size: 18px;
    color: #000;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 35px;
    margin-top: 40px;
  }
  p{
    font-size: 15px;
    color: #000;
    font-family: $avenir;
    margin-left: 85px;
    font-weight: lighter;
    span{
      display: block;
      font-size: 11px;
    }
    span.olook{
      font-weight: bold;
      font-size: 15px;
      color: #000;
      font-family: $avenir;
      display: inline;
    }
  }
  .contact_box{
    margin-top: 15px;
    li{
      width: 188px;
      height: 65px;
      background: image-url('faq/icons_contact_sprite.png') no-repeat;
      float: left;
      a{
        display: block;
        text-indent: -9999px;
        height: 65px;
        width: 188px;
      }
      &.telefone{
        cursor: pointer;
        .hint_tel{
          display: none;
          p{
            text-indent: 0;
            color: #000;
            font-weight: bold;
            font-size: 13px;
            padding-top: 55px;
            margin-left: 50px;
          }
        }
      }
      &.mail{
        background-position: -190px 0;
        cursor: pointer;
      }
      &.sac_online{
        background-position: -375px 0;
        cursor: pointer;
      }
      &.moda_online{
        background-position: -535px 0;
        cursor: pointer;
        .hint{
          display: none;
          p{
            font-size: 11px;
            margin: 0;
            margin-top: -15px;
            margin-left: -25px;
            line-height: 15px;
            text-align: center;
            width: 280px;
          }
        }
      }
    }
  }
}
