@import 'partials/mixins';
@import 'partials/fonts';
@import 'new_structure/partials/facebook_footer';

#about{
padding:20px 20px 0;
}

#about h1 {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-style: italic;
  font-weight: normal;
  letter-spacing:-2px;
  font-size: 40px;
  margin: 0px 0px 10px;
}

#main_feature img {
  float: left;
  margin-right: 45px;
}

#main_describe {
  width: 490px;
  float: left;
}

#main_describe h2 {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-style: italic;
  font-weight:normal;
  letter-spacing:-2px;
  font-size: 35px;
  line-height: 24px;
  margin: 3px 0px;
}

#main_describe p {
  font-size: 14px;
  margin: 25px 0;
}

#main_describe a {
  background: image-url('about/btn-answer.png') no-repeat;
  text-indent: -9999px;
  display: block;
  width: 271px;
  height: 65px;

  &.logged {
    background: image-url('about/btn-answer-logged.png') no-repeat;
  }
}

#function {
  width: 960px;
  overflow: hidden;
  margin: 35px auto 0px;
  h1 {
    background: image-url('how_to/title-how-to.png') no-repeat;
    text-indent: -9999px;
    width: 240px;
    height: 20px;
    display: block;
    margin-bottom: 12px;
  }
  ul {
    width: 100%;
    overflow: auto;
  }
}

#function li {
  float: left;
  list-style: none;
  margin-right: 10px;
}

  #function li .img_left{
    margin-bottom: 33px;
  }
  #function li .img_leftmid{
    margin-bottom: 28px;
  }
  #function li .img_rightmid{
    margin-bottom: 16px;
  }
  #function li .img_right{
    margin-bottom: 3px;
  }

.box {
  width: 237px;
  height: 278px;
  margin-right: 3px !important;
  float: left;

  &#left_box {
    background: image-url('about/box-1.png') no-repeat;
  }

  &#left_box_mid {
    background: image-url('about/box-2.png') no-repeat;
  }

  &#right_box_mid {
    background: image-url('about/box-3.png') no-repeat;
  }

  &#right_box {
    background: image-url('about/box-4.png') no-repeat;
    margin-right: none !important;
  }
}

.box h3 {
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  text-indent: -9999px;
  letter-spacing: -1px;
  width:185px;
}

.box p {
  font-size: 11px;
  text-align: center;
  text-indent: -9999px;
}

#terms {
  padding: 20px 0 0;
  width:98%;
  position: relative;
  h1 {
    font-size: 28px;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin: 0 0 30px;
  }

  h2 {
    font-size: 16px;
    margin: 0 0 13px;
    text-transform: uppercase;
		font-weight:bold;
  }

   h3 {
    font-size: 14px;
    margin: 10px 0 13px;
    text-transform: uppercase;
    font-weight:bold;
  } 

  p.intro, .intro {
    border:1px solid #e4e4e4;
    padding:30px;
  }
	
	p.section-title{
		font-size:20px;
		color:#000;
		font-weight:bold;
	}
	
  p {
    a.arrow {
      color: #101010;
    }
  }

  .intro {
    margin: 0 0 40px;
    p {
      color: #101010;
      font-family: avenir, Times, "Times New Roman", sans-serif;
      font-size: 16px;
      letter-spacing: -1px;
      margin: 0 0 20px;
    }
    ul {
      li {
        color: #6d6e71;
      }
    }
  }

  ul.contact {
    background: #FFF;
    width: 365px;
    overflow: hidden;
    margin: 22px 0;
    padding: 2px 12px;
    border: 1px #d2d2d2 solid;
    li {
      float: left;
      &.phone {
        background: image-url('contact/ico-phone.png') left no-repeat;
        color: #3b3b3b;
        font-size: 15px;
        font-weight: bold;
        margin: 0 15px 0 0;
        padding: 5px 10px 5px 25px;
        border-right: 1px #d2d2d2 solid;
      }
      &.mail {
        padding: 5px 0 5px 0;
        a {
          background: image-url('contact/ico-mail.png') left no-repeat;
          color: #3b3b3b;
          font-size: 15px;
          font-weight: bold;
          text-decoration: none;
          padding: 0 0 0 25px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  &.faq {
    p {
      margin: 0 0 35px;
			a{color:#ef3742;}
    }
  }
  &.return {
    h2 {
      letter-spacing: 0;
      font-weight: bold;
      margin: 35px 0 5px;
    }
    h3 {
      font-family: KeplerStdItalic, Times, "Times New Roman", sans-serif;
      font-size: 15px;
      margin: 25px 0 0;
    }
  }
  &.privacy, &.terms {
    div.intro {
      p {
        margin: 0;
        &.first {
          margin: 0 0 20px;
        }
      }
    }
    h2 {
      margin-top: 35px;
    }
  }
}

.clear {
  clear: both;
}

.win {
  #terms {
    h2 {
      font-weight: bold;
    }
  }
}

.content { 
width:970px !important;
}
