.DS_Store
.sass-cache/*
*.rdb
log/*
tmp/*
db/*.sqlite3
config/database.yml
coverage
*.swo
*.swp
*~
rerun.txt
.bundle
public/uploads
.rvmrc
.rspec
Gemfile.lock
nohup.out
config/facebook.yml
config/analytics.yml
config/email.yml
config/yahoo.yml
*.passwd
db/schema.rb
.watchr
public/assets
