.DS_Store
.sass-cache/*
*.rdb
log/*
tmp/*
db/*.sqlite3
config/database.yml
coverage
*.swo
*.swp
*~
*.swm
rerun.txt
.bundle
public/uploads
public/admin/*.csv
.rvmrc
.rspec
nohup.out
config/moip.yml
*.passwd
.watchr
public/assets
public/admin/users.csv
links.csv
order_ids.yaml
*.csv
*.swn
vendor/bundle
olook.sublime-project
olook.sublime-workspace
*.swl
*.swk
.ruby-gemset
.ruby-version
.elasticbeanstalk/
.tag*
