.hello
  #modal_face.login_with_facebook
    .fb-login-button{:data => {'max-rows' => "1", 'size' => "large", 'show-faces' => "false", 'auto-logout-link' => "false", 'scope' => FACEBOOK_CONFIG['login_scope'], 'onlogin' => "loginFacebook"}}
:javascript
  try {
    FB.XFBML.parse(document.getElementById('modal_face'));
  } catch(ex){};
