@import 'new_structure/common/global_stuffs';
@import 'new_structure/common/side_bar_menu';
@import 'new_structure/partials/thumb_product_catalog';
@import 'new_structure/partials/spy';
@import 'new_structure/partials/pagination';
@import 'new_structure/partials/antibounce_box';
@import 'new_structure/partials/custom_headers';

#result{float:left;width:820px;}

#content{min-height:450px;}
.brands{
  .box{float:left;width:235px;margin-left:43px;
    &:last-child{width:70px;}
  }
  .letter{font-family:$avenir_medium;font-size:31px;line-height:31px;}
  ul{overflow:hidden;
    li{margin-bottom:2px;padding-left:2px;
      &:last-child{margin-bottom:30px;}
      a{text-decoration:none;color:#000;font-size:13px;
        &:hover{color:$base_color;}
      }
    }
  }
}

.collections_header{margin:14px 0 25px;}

/* fix filter price */
.ui-slider .ui-slider-handle{width:5px !important;}
.ui-slider .ui-slider-handle:last-child {background-position: -17px 0 !important;margin-left: 1px !important;}
