// Place all the styles related to the clippings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'new_structure/common/global_stuffs';

#clipping{
  width: 1100px;
  height: 1230px;
  margin: 15px auto 0;
  .b_left{
    margin-left: 12px;
    width: 445px;
    float: left;
    h1, h2{
      font-family: $avenir;
      font-size: 18px;
      color: #000;
      letter-spacing: 1px;
      font-weight: bold;
    }
    h2{
      font-size: 14px;
      margin-top: 15px;
    }
    p{
      font-family: $avenir;
      font-size: 15px;
      color: #000;
      letter-spacing: 1px;
      font-weight: lighter;
    }
    p.contact{
      font-size: 12px;
    }
  }
  ul{
    width: 522px;
    margin-top: 20px;
    float: left;
    height: 200px;
    margin-left: 10px;
    li{
      float: left;
      &.media{
        width: 117px;
        height: 130px;
        margin-right: 30px;
        margin-left: 5px;
        img{
          margin-top: 5px;
          width: 117px;
          float: right;
        }
      }
      &.article{
        height: 130px;
        width: 305px;
        font-family: $avenir;
        font-size: 12px;
        color: #555;
        font-style: italic;
        font-weight: lighter;
        p.title{
          font-size: 13px;
          color: #363636;
          font-weight: bold;
          font-style: normal;
          letter-spacing: 1px;
          margin-bottom: 5px;
        }
        a{
          text-decoration: none;
          color: $pink;
          font-weight: 500;
          &.lermais {
            font-style: normal;
            margin-top: 5px;
            display: block;
            font-size: 13px;
            letter-spacing: 1px;
          }
        }
        p.date{
          font-size: 12px;
          font-style: normal;
          color: #363636;
          margin-top: 5px;
          span{
            font-weight: bold;
          }
        }
        img{
        position: relative;
        top: -20px;
        left: 100px;
        }
        span.info{height: 80px !important;display: block;}
      }
    }
  }
}
.socialmedia{width: 445px;float: left;height: 110px;
  p{color: #000; font-size: 13px;letter-spacing: 2px;font-weight: bold;padding-top: 30px;padding-left: 95px;}
  .like, .twitter{position: relative;float: right;left: 70px;top:-24px;}
  .twitter{margin-left: 15px;}
}
.next{
	.pagination{
	  text-align:center;
	  clear:both;
	  	.previous_page, .next_page{
	      width:10px;
	      background:image-url('catalog/sprite.png') no-repeat 2px -112px;
	      font-size:0;
	    }
	    .current{
	      color:#000 !important;
	      font-weight: bold !important;
	      text-indent: -9999px;
	      font-style: normal;
	    }
	  a{
	    display:inline-block;
	    font:normal 13px Verdana, Arial, sans-serif;
	    text-decoration:none;
	    color:#000;
	    height:19px;
	    line-height:22px;
	    margin:0 3px;

	    &.previous_page, &.next_page{
	      width:10px;
	      background:image-url('catalog/sprite.png') no-repeat 2px -112px;
	      font-size:0;
	    }
	    &.next_page{
	      background-position:0 -137px;
	    }
	    &:hover{
	      color:$base_color;
	    }
	  }
	}
}

#container{overflow:visible !important;}
