@import 'new_structure/common/global_stuffs';
@import 'new_structure/common/side_bar_menu';
@import 'new_structure/partials/thumb_product_catalog';
@import 'new_structure/partials/spy';
@import 'new_structure/partials/pagination';
@import 'new_structure/partials/custom_headers';

#result{float:right;width:793px;margin-bottom: 25px;}

#collection_theme_content{
  float:left;
}

#home_collections{
  height: 1500px;
  margin-bottom: 20px;
  ul{ 
    width: 820px;

    li{
      float: left;
      img:hover{
        opacity:0.6;
        filter:alpha(opacity=60);
      }
    }
    li.big{
      width: 820px;
      margin-bottom: 15px;
      margin-top: 14px;
    }
    li.medium{
      width: 400px;
      margin-right: 20px;
      margin-bottom: 15px;
    }
    li.small{
      width: 260px;
      margin-bottom: 15px;
      margin-right: 19px;
    }
    .last{
      margin-right: 0 !important;
    }
  }  
  
}
#amamos{
  position: relative;
  overflow: hidden;
  border-top: 1px black dotted;
  width: 780px;
  margin-top: 45px;
  h1{
    margin: 40px 0;
    font-family: $avenir;
    font-size: 35px;
  }
  #products_amamos{
    width: 2000px;
    p.rotulo{
      font-size: 12px;
      font-family: $avenir;
      color: white;
      text-transform: uppercase;
      b{
        position: absolute;
        left: 10px;
        top: 5px;
      }
    }
    .caroufredsel_wrapper ul{
      padding-top: 20px;
      padding-left:5px;
    }
  }
  ul{
    margin: 0 auto;top:23px !important;
    li{
      position: relative;
      padding-left: 10px;
      float: left;
      margin-right: 15px;
      width:200px;
      height:300px;
      .content-amo{position:absolute;z-index:98;bottom:0;left:10px;}
      img{width:200px;height:auto;}
      .rotulo{
       position: absolute;
       z-index:100;
       top: -42px;
       left: -3px;
       background: image-url("collections/sprite.png") no-repeat -100px -72px;
       height: 36px;
       width: 175px;
      }
      a{
        display: block;
      }
      p{
        font-family: $avenir;
        font-size: 12px;
        color: black;
        line-height: 18px;
        &.brand{
            font-size: 12px;
            font-family: $avenir;
            font-weight: bold;
            text-transform: uppercase;
            color: black;
        }
        &.price{
            font-family: $avenir;
            font-size: 12px;
            color: black;
        }
      }
    }
  }
}
button.nav{
    position: absolute;
    text-indent: -9999px;
    float: left;
    border: none;
    background: no-repeat;
    cursor: pointer;
    background: image-url("collections/sprite.png") no-repeat 1px -55px;
    height: 65px;
    width: 40px;
    top: 950px;
    &.bt_left{
        left: 133px;
    }

    &.bt_right{
        background: image-url("collections/sprite.png") no-repeat -40px -55px;
        right: -2px;
    }
}
.collections_header{
  margin-top: 14px;
  position:relative;
  margin-bottom:15px;
  height: 140px;
  float: left;
  ul.cover{
    width: 793px;
    height:134px;
    background-color: #cdcdcd;
    li{float: left;}
    li.pic{
      width: 269px;
    }
    li.info{
      width: 524px;
      h1{
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
        font-size: 12px;
        margin-top: 15px;
        margin-left: 20px;
        width: 472px;
        font-family: $verdana;
      }
      h2{
        font-family: $verdana;
        width: 472px;
        font-size: 11px;
        text-align: left;
        line-height: 14px;
        margin-left: 20px;
        font-weight: lighter;
      }
      .video_link{
        font-family: $verdana;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        position: absolute;
        text-align: right;
        left: 640px;
        top: 15px;
      }
    }
  }
}
