@import "new_structure/common/global_stuffs";

section{
	margin-right: 0;
	margin: 0 auto;
	height: 800px;
	h2{
		display: block;
		width: 215px;
		height: 40px;
		float: left;
		font-family: $avenir;
		font-size: 22px;
		text-align: left;
		padding-top: 3px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	p{
		display: block;
		float: left;
		width: 600px;
		height: 40px;
		color: #a3a3a5;
		font-size: 13px;
		font-family: $avenir;
		line-height: 16px;
		font-weight: lighter;
	}
	.carousel{
		ul{
			li.big{
				margin-bottom: 15px;
			}
			li.thumbnail{
				float: left;
				margin-right: 15px;
			}
			li.last{margin-right: 0 !important;}
		}
	}
	p.box{
		width: 793px;
		height: 30px;
		text-transform: uppercase;
		color: #fff;
		font-family: $bt_font;
		letter-spacing: 7px;
		text-align: center;
		padding-top: 15px;
		margin-top: 25px;
		background-color: #e8cad4;
		font-size: 21px;
		margin-bottom: 15px;
	}
}