@import 'new_structure/common/global_stuffs';
@import 'new_structure/partials/lite_boxes_home';

#showroom{margin-bottom:50px;display:inline-block;
  a{color:#000;text-decoration:none;}
}
.user-info{overflow:hidden;
  #profile{float:left;color:#000;
    .photo{float:left;margin-right:11px;}

    .description{float:left;width:430px;margin-right:20px;position:relative;
      p{font-size:13px;
        &.name{font-size:19px;text-transform:uppercase;margin-bottom:10px;line-height:25px;}
      }
      img.profile-quiz{position:absolute;display:none;}
    }
  }
}
div.showroom-title{position:relative;border-top:solid 1px #CBCBCB;height:37px;margin-top:50px;clear:both;text-align:center;
  p{background:#FFF;padding:10px;display:inline-block;position:absolute;left:33%;top:-18px;
    span{background:#000;font-family:$avenir_medium;font-size:23px;text-transform:uppercase;color:#FFF;padding:7px 7px 0;}
  }
}
.container_product{clear:both;
  ul li{display:inline-block;width:180px;margin:10px 15px 0 0;position:relative;
    &:nth-child(5n){margin-right:0;}
    &:hover{.spy{visibility:visible;}}

    a{font-size:13px;display:inline-block;
      &.spy{visibility:hidden;position:absolute;bottom:80px;left:0;height:32px;width:100%;background:image-url('common/bg-spy.png');font-size:13px;text-transform:uppercase;text-align:center;
        font-weight:bold;letter-spacing:1px;line-height:32px;}
      
      p{
        span,strong{overflow:hidden;display:inline-block;height:18px;
          &.name{float:left;clear:both;}
        }
      }  
      img{width:100%;height:auto;}
    }
    
    ul.color_list li{width:15px;display:inline-block;margin:5px 3px 0 0;
      a{
        img{border:solid 2px #C2C2C2;}
        &.selected img{border:solid 2px #000;}
      }  
    }
  }
  
  .see-more{border-top:solid 1px #CBCBCB;text-align:center;margin:50px 0 40px;position:relative;
    a{position:absolute;left:360px;top:-9px;background:#FFF;padding:0 10px;font-size:20px;font-weight:bold;text-transform:uppercase;}
  }
}