@import 'new_structure/common/global_stuffs';
@import 'new_structure/partials/thumb_product_catalog';

aside{float:left;width:185px;
  .filter{margin-bottom:25px;}
  ul.cores{width:145px;height:200px;overflow-y:auto;border:solid 1px #CCC;padding-left:5px;
    li span{display:inline-block;height:15px;padding-left:19px;background: image-url("common/thumbs_cor.png") no-repeat 0 1px;
      &.txt-amarelo{background-position: 0 -302px;}
      &.txt-azul{background-position: 0 -382px;}
      &.txt-bege{background-position: 0 -239px;}
      &.txt-branco{background-position: 0 -415px;}
      &.txt-cinza{background-position: 0 -270px;}
      &.txt-cobra{background-position: 0 -93px;}
      &.txt-cobre{background-position: 0 2px;}
      &.txt-dourado{background-position: 0 -13px;}
      &.txt-floral{background-position: 0 -77px;}
      &.txt-laranja{background-position: 0 -318px;}
      &.txt-listras{background-position: 0 -109px;}
      &.txt-marrom{background-position: 0 -254px;}
      &.txt-multicolorido{background-position: 0 -125px;}
      &.txt-nude{background-position: 0 -222px;}
      &.txt-off-white{background-position: 0 -432px;}
      &.txt-onix{background-position: 0 -29px;}
      &.txt-onca{background-position: 0 -141px;}
      &.txt-poas{background-position: 0 -157px;}
      &.txt-prateado{background-position: 0 -45px;}
      &.txt-preto{background-position: 0 -286px;}
      &.txt-rosa{background-position: 0 -350px;}
      &.txt-rose{background-position: 0 -61px;}
      &.txt-roxo{background-position: 0 -366px;}
      &.txt-vaca{background-position: 0 -173px;}
      &.txt-verde{background-position: 0 -398px;}
      &.txt-vermelho{background-position: 0 -334px;}
      &.txt-xadrez{background-position: 0 -189px;}
      &.txt-zebra{background-position: 0 -205px;}
    }
  }
  p{font-size:11px;text-transform:uppercase;font-weight:bold;height:15px;background:image-url('catalog/sprite.png') no-repeat 0 6px;padding-left:13px;margin-bottom:5px;
    &.close{background-position:0 -25px !important;}
  }
  a{display:inline-block;height:15px;font-size:13px;text-decoration:none;color:#000;background:image-url('catalog/sprite.png') no-repeat 0 -50px;padding-left:13px;text-transform:capitalize;
    &.selected{background-position:0 -86px !important;}
  }
}

.container_product{float:left;}
  
/*ul#products{
  li{
    display:inline-block;
    width:225px;
    margin:25px 15px 0 0;
    position:relative;
    &:nth-child(5n){margin-right:0;}
    &:hover{
      .spy{visibility:visible;}
    }
  }
}
.see-more{border-top:solid 1px #CBCBCB;text-align:center;margin:50px 0 40px;position:relative;
  a{position:absolute;top:-9px;background:#FFF;padding:0 10px;font-size:20px;font-weight:bold;text-transform:uppercase;
    &:hover{color:$base_color !important;}
    &.clothes,&.shoes{left:360px;}
    &.purses{left:362px;}
    &.accessories{left:347px;}
  }
}*/
