@import 'new_structure/common/global_stuffs';
@import 'partials/credits_info';
@import 'new_structure/section/product/look';
@import url("http://fonts.googleapis.com/css?family=Lato");

$background: #9b59b6;
$tabs-base-color: #8e44ad;

#product{
	width: 100%;
	padding-bottom: 20px;
	font-family: $bt_font;
	.pics_social{
		width: 460px;
    float: left;
    margin-top: 15px;
    margin-left: 60px;
		ul{
      float: left;
			width: 45px;
      margin-right: 30px;
      display: block;
			li{
				width: 100%;
				height: 68px;
				border: 1px solid #cdcdcd;
				margin-bottom: 10px;
        display: block;
        float: left;
			}
		}
    .big_pic{
      width: 365px;
      height: 550px;
      float: left;
      border: 1px solid #cdcdcd;
    }
	}
  .product-info{
    margin-top: 30px;
    width: 370px;
    float: left;
    margin-left: 40px;
    h1{
      font-family: $bt_font;
      font-size: 16px;
      letter-spacing: 1px;
      font-weight: lighter;
      margin-bottom: 8px;
      color: #363636;
    }
    h2{
      font-family: $verdana;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1px;
      margin-bottom: 30px;
      text-transform: uppercase;
      color: #363636;
    }
    .cost{
      border-bottom: 1px solid #cdcdcd;
      p.price, p.plots{
        color: #363636;
        font-size: 12px;
        font-family: $verdana;
        font-weight: bold;
        margin-bottom: 10px;
        span{
          font-weight: lighter;
          padding-left: 30px;
        }
      }
      p.plots{
        margin-bottom: 15px;
        span{
          font-weight: bold;
          font-size: 19px;
          color: $base_color;
          letter-spacing: -1px;
        }
      }
    }
    a.size-guide{
      display: block;
      float: right;
      width: 53px;
      height: 35px;
      padding-left: 35px;
      color: #000;
      font-size: 13px;
      text-decoration: none;
      background: image-url('common/guide.png') no-repeat 0 3px;
      &:hover{
        text-decoration:underline;
      }
    }
    .size, .color, .quantity{
      margin-top: 15px;
      height: 60px;
      p{
        font-family: $verdana;
        font-size: 12px;
        color: #4b4b4b;
        font-weight: bold;
      }
      label{
        line-height: 23px;
        text-align: center;
        min-width: 24px;
        height: 24px;
        display: inline-block;
        cursor: pointer;
        font-family: $verdana;
        font-size: 12px;
        border: 1px solid #cdcdcd;
        float: left;
        margin-right: 5px;
        margin-top: 10px;

      }
      input[type="radio"]{
        display: none;
      }
      .selected{
        label{
          color: #fff;
          background: #000;
          border: 1px solid #000;
        }
      }
    }
    .color {
      height: 60px;
      ol{
        margin-top: 10px;
      }
      li {
        float: left;
        margin-right: 3px;
        a img{
          width: 24px;
          height: 24px;
          border: 2px solid #fff;
          float: left;
        }
      }
      li img{
        width: 24px;
        height: 24px;
        border: 2px solid $base_color;
      }
      .color_name{
        display: none;
      }
    }
    .quantity{
      margin-top:12px;
      position:relative;
      float: right;
      overflow:hidden;
      height: 60px;
      top: -70px;
      margin-bottom: -50px;
      p{
        display: block;
        margin-bottom: 10px;
      }
      .quantity-product {
        text-align: center;
        width:20px;
        height:20px;
        display:inline-block;
        color:#6D6E71;
        font-size:13px;
        border: 1px solid #cdcdcd;
        margin-left: 5px;
      }
      button{position:absolute;width:14px;height:12px;border:none;color:#000;background:image-url('product/new_page_sprite.png') no-repeat;font-size:0;cursor:pointer;
        &.minus{background-position:-3px -75px;top:45px;left:50px;}
        &.plus{background-position:-24px -70px;top:27px;left:47px;}
      }
    }
    input[type="submit"].add_product, a.add_product {
      @include bt_color($secondary_bt_color, $secondary_bt_color_hover);
      width: 370px;
      height: 45px;
      display: block;
      border: none;
      cursor: pointer;
      clear: both;
      letter-spacing: 3px;
      font-size: 16px;
      padding-top: 2px;
      margin-bottom: 8px;
      }
      p.bonus{
        font-size: 11px;
        font-family: $avenir;
        letter-spacing: 1px;
        span{
          color: $base_color;
          font-weight: bold;
        }
        a{
          font-weight: bold;
        }
      }
    }
  }
  .tabs {
    width: 100%;  
    float: none;
    list-style: none;
    position: relative;
    margin: 30px 0 0 0px;
    text-align: left;
    li {
      float: left;
      display: block;
    }
    input[type="radio"] {
      display: none;
    }
    label {
      font-family: "Trebuchet Ms";
      font-size: 13px;
      font-weight: bold; 
      padding: 10px;
      border: 1px solid #d1d1d1;
      border-bottom: 0px;
      margin-right: 2px;
      background:#d6d6d6;
      color:#999;
      &:hover {
        
      }
    }
    .tab-content{
      z-index: 2;
      display: none; 
      overflow: hidden;
      width: 100%;
      font-size: 11px;
      position: absolute;
      left:0px;
      border: 1px solid #d1d1d1;
      margin-top: 7px;
      padding: 10px;
      table {
        width:100%;
        td {
          padding:5px;
          font-size: 11px;
          text-align: center;
        }
        tr.corsim {
          td {
            background:#e5e5e5;
          }
        }
        tr.titulo {
          td {
            font-weight: bold;
          }
        }
      }
      p {
        font-family: "Trebuchet Ms";
      }
      
    }
    //The Magic
    [id^="tab"]:checked + label { 
      top: 0;
      position: relative;
      z-index: 999;
      color:#363636;
      background:#FFF;
    }
    [id^="tab"]:checked ~ [id^="tab-content"] {
      display: block;
    }
  }
  p.link {
    clear: both;
    margin: 380px 0 0 15px;
    a {
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;
      color: #fff;
      padding: 5px 10px;
      margin: 0 5px;
    }
  } 

  ul.vantagens{
    width: 100%;
    margin-top: 20px;
    li.title{
      border-top: 5px solid #363636;
      width: 100%;
      p{
        font-size: 15px;
        letter-spacing: 1px;
        font-family: $bt_font;
        display: block;
        background: #fff;
        width: 195px;
        margin: -10px auto;
        font-weight: bold;
        text-align: center;
      }
    }
    .mini_infos{
      width: 240px;
      height: 150px;
      background: #d6d6d6;
      float: left;
      margin-right: 10px;
      margin-top: 30px;
    }
    h3{
      font-family: $bt_font;
      font-size: 12px;
      color: #363636;
      letter-spacing: 1px;
      text-align: center;
      width: 230px;
      margin: 10px auto;
      margin-bottom: 5px;
      span{
        color: $base_color;
        &.trade{
          display: block;
        }
      }
    }
    span.icon{
      background:image-url('product/info_icon.png') no-repeat 0 3px;
      display: block;
      width: 50px;
      height: 40px;
      margin: 0 auto;
    }
    .card{
      background-position: 0 -49px !important;
    }
    .money{
      background-position: 0 -100px !important;
    }
    .shipping{
      background-position: 0 -150px !important;
      width: 93px !important;
    }
    #shipping{
      input[type="text"]{
        width: 137px;
        height: 25px;
        border: 1px solid #363636;
        background: #f7f7f7;
        float: left;
        margin-left: 30px;
        margin-top: -6px;
        font-size: 11px;
        padding-left: 5px;
        font-family: $bt_font;
        letter-spacing: 1px;
      }
    }
    button#search{
      width: 35px;
      height: 27px;
      text-align: center;
      background: #363636;
      color: #f7f7f7;
      float: left;
      border: none;
      margin-left: 0 !important;
      margin-top: -6px;
      margin-bottom: 5px;
      font-size: 11px;

    }
    .shipping-msg{
      display: none;
      width: 230px;
      background: #363636;
      color: #f7f7f7;
      font-size: 11px;
      padding: 3px 5px;
      margin-top: -33px;
      letter-spacing: 1px;
      font-family: $verdana;
      text-align: center;   
    }
    .last{
      margin-right: 0 !important;
      h3{
        margin-bottom: 0 !important;
      }
    }
    p.details, .details_card{
      width: 190px;
      display: block;
      margin: 0 auto;
      margin-top: 5px;
      color: #363636;
      font-size: 11px;
      text-align: center;
      font-weight: bold;
      line-height: 15px;
    }
    .details_card{margin-top: 20px;}
  }

    ul.social-list{
    width: 370px !important;
    margin-left: 75px;

    li{
      float: left !important;
      width: 35px !important;
      height: 35px !important;
      margin-right: 5px;

    }
    .remove-button, .add-button{
      text-transform: uppercase;
      font-family: $bt_font;
      color: #363636;
      background: #d1d1d1;
      border: 1px solid #cdcdcd;
      padding-left: 20px;
    }

  }
