@import "partials/mixins";
.sign-in {
      background: image-url('home/bg-middle-home.jpg') top right no-repeat;
      height: 575px;
      padding:0 30px;
      @include sign-in(relative);

      h1 {
        font-family: $johnston;
        font-size: 40px;
        letter-spacing: -2px;
        font-weight: normal;
      }

      .social-media {
        display: block;
        width: 546px;
        height: 96px;
        float: left;
        margin-top: 90px;
        margin-left: 100px;

        li {
          background: image-url('common/sprite-social-media.png') 10px 24px no-repeat;
          display: block;
          float: left;
          border-left: 1px solid #CECECE;
          width: 180px;
          height: 84px;

          &:first-child {
            border-left: none;
          }

          &.twitter {
            background-position: -167px 23px;
          }

          &.orkut {
            background-position: -361px 25px;
          }

          a {
            text-align: center;
            display: block;
            font-family: Times;
            font-size: 22px;
            font-style: italic;
            color: #606060;
            text-decoration: none;
            height: 84px;
          }
        }
      }

      #sign-in-box {
        padding: 35px;
        width: 345px;
        position: relative;
        margin: 44px 0 0 83px;
        float: left;
				z-index:10;

        .fb-login-button {
          background: image-url('common/fb-loggin-button.png') no-repeat;
          display: block;
          width: 194px;
          height: 25px;
          text-indent: -10000px;
          position: absolute;
          top: -40px;
          left: 0px;
        }

        form {
          fieldset {
            &.inputs {
              ol {
                overflow: hidden;

                li {
                  overflow: hidden;
                  margin-bottom: 10px;

                  label {
                    float: left;
                    line-height: 34px;
                    font-size: 12px;
                    font-weight: normal;
                    margin-right: 10px;
                  }

                  input {
                    background: #f3f3f3 image-url('common/bg-input-sign-in.png') center top repeat-x;
                    padding: 10px;
                    background-position: bottom;
                    float: left;
                    width: 262px;
                  }
                }
              }
            }

            &.buttons {
              ol {
                li {
                  margin: 10px 0 0 0;
                  float: right;
                  &.remember-me {
                    width: 210px;
                    margin: 0;
                    float: left;
                    input[type='checkbox'] {
                      margin-bottom: 10px;
											width:25px;
											float:left;
                    }
										label{width:150px !important;}
                    p {
											&.register{font-size:11px;float:left;margin-left:10px;
												a{float:none;}
											}
											 &.forgot_password {
												float:left;margin:0 0 10px 10px;clear:both;
                      	a{
	                        color: #6D6E71;
	                        text-decoration: none;
													display: block;
	                        &:hover {
	                          text-decoration: underline;
	                        }
	                      }
												& + li {
			                      margin-right: 20px;
			                      input[type='submit'] {
			                        width: 106px;
			                        height: 42px;
			                        display: block;
			                        border: none;
			                        cursor: pointer;
                              font-size: 13px;
                              font-weight: 600;
                              @include bt_color($primary_bt_color, $primary_bt_color_hover);
			                      }
			                    }
			                  }
                    	}
                  	}

                  input[type='submit'] {
                    width: 106px;
                    height: 42px;
                    display: block;
                    border: none;
                    cursor: pointer;
                    margin:0 19px 0 0 !important;
										float:none;
                    font-size: 13px;
                    font-weight: 600;
                    letter-spacing: 2px;
                    @include bt_color($primary_bt_color, $primary_bt_color_hover);
                  }
                }
              }
            }
          }
        }
      }

      img {
        display: block;
        float: right;
        margin-right: 5px;
        margin-top: -30px;
      }
    }