@import "partials/mixins";
.fb-login-button {
  text-align: center;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #D1D1D1;
}
.sign-in {
      height: 475px;
      padding-left: 15px;
      @include sign-in(relative);
      .login{
        display: block;
        float: left;
        width: 450px;
        height: 500px;
        h2 {
        font-family: $bt_font;
        font-size: 16px;
        font-weight: bold !important;
      }

      .social-media {
        display: block;
        width: 450px;
        height: 96px;
        float: left;
        margin-top: 61px;
        li{
          background: image-url('login/social_icons.png') no-repeat;
          width: 180px;
          height: 58px;
          float: left;
          a{
            padding-left: 70px;
            color: #000;
            font-weight: bold;
            font-family: $bt_font;
            font-size: 14px;
            text-decoration: none;
            line-height: 28px;
            display: block;
            width: 165px;
            span{
              font-size: 17px;
            }
          }
      }
        li.fb{
          background-position: 0 0;
        }
        li.twitter{background-position: 0px -60px;margin-left: 90px;
          a{width: 140px;}
        }
      }

      #sign-in-box {
        padding: 35px;
        width: 345px;
        position: relative;
        margin: -20px 0 0 0px;
        float: left;
        z-index:10;
        border:none;

        form {
          fieldset {
            &.inputs {
              ol {
                overflow: hidden;

                li {
                  overflow: hidden;
                  margin-bottom: 10px;

                  label {
                    float: left;
                    line-height: 34px;
                    font-size: 12px;
                    font-weight: normal;
                    margin-right: 10px;
                  }

                  input {
                    background-color: #fff;
                    padding: 10px;
                    background-position: bottom;
                    float: left;
                    width: 262px;
                    border: 1px solid #000;
                  }
                }
              }
            }

            &.buttons {
              ol {
                li {
                  margin: 10px 13px 10px 6px !important;
                  float: left;
                  &.remember-me {
                    width: 345px;
                    margin: 0;
                    float: left;
                    input[type='checkbox'] {
                      margin-bottom: 10px;
                      width:25px;
                      float:left;
                    }
                    label{width:150px !important;}
                    p {
                      &.register{font-size:11px;float:left;margin-left:45px;margin-top: -23px;
                        a{float:none;}
                      }
                       &.forgot_password {
                        float:left;margin:0 0 10px 10px;clear:both;
                        a{
                          color: #6D6E71;
                          text-decoration: none;
                          display: block;
                          &:hover {
                            text-decoration: underline;
                          }
                        }
                        & + li {
                            margin-right: 20px;
                            input[type='submit'] {
                              width: 106px;
                              height: 42px;
                              display: block;
                              border: none;
                              cursor: pointer;
                              font-size: 13px;
                              font-weight: 600;
                              @include bt_color($primary_bt_color, $primary_bt_color_hover);
                            }
                          }
                        }
                      }
                    }

                  input[type='submit'] {
                    width: 212px;
                    height: 45px;
                    display: block;
                    border: none;
                    cursor: pointer;
                    margin:0 19px 0 0 !important;
                    float:none;
                    font-size: 13px;
                    font-weight: 600;
                    letter-spacing: 2px;
                    margin-left: 65px !important;
                    @include bt_color($primary_bt_color, $primary_bt_color_hover);
                  }
                }
              }
            }
          }
        }
      }
    }
    .quiz_login{
      display: block;
      float: left;
      width: 490px;
      height: 445px;
      margin-top: 35px;
      margin-left: 18px;
      .quiz_img{
        margin-top: 10px;
      }
      a{
        position: relative;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: $bt_font;
        font-size: 13px;
        text-decoration: none;
        .quiz_img{margin-top: 10px;}
        &.bt_quiz{
          width: 212px;
          height: 31px;
          display: block;
          margin-top: -67px;
          margin-left: 243px;
          padding-top: 14px;
          font-weight: bold;
          background-color: #e82d3a;
          @include bt_color($primary_bt_color, $primary_bt_color_hover);
        }
      }
    }
  }
