@import 'new_structure/common/global_stuffs';

header{
  .quiz_header{
      border-top: 8px black solid;height: 120px;width: 990px;margin: 0 auto;
    .olook_logo{width: 240px;height: 70px;margin: 0 auto;padding-top: 20px;
      h1 a{width: 240px;height: 70px;display:block;background: image-url("common/nav/sprite_header.png") no-repeat 0 -72px;text-indent: -9999px;}
    }
  }
}

footer{
  margin-top: 30px;
  ul{width: 775px;height: 155px;border: solid 1px #d7d7d7;margin: 0 auto;
    li{list-style: none;margin-top: 25px;
      p{font-family: $avenir;font-size: 13px;color: #939598;
        span{font-weight: 500;}
      }
      &.about{width: 410px; float: left;margin-right: 65px;}
      &.about_quiz{width: 265px; float: left;}
    }
  }
  .infos{width: 817px;height: 100px;border-top: solid 1px #d7d7d7;margin: 0 auto;margin-top: 45px;
    p{margin-top: 25px;text-align: center;font-family: $avenir;font-size: 13px;color: #939598;
      span{white-space: nowrap;}
      a{text-decoration: none;color: #939598;
        &:hover{color: $pink;}
      }
    }
  }
}
#user_manager{
  height: 500px;width: 990px;margin: 0 auto;
  fieldset{
    border: 0px;
  }
}
#survey{
  #content{width: 830px;height: 615px;margin: 0 auto;overflow: hidden;
    button#back { background: image-url("quiz/back_arrow.png") no-repeat; width: 19px; height: 109px; border: none; position: absolute; top: 410px; left: 400px;}
    .content-survey{width: 12000px}
  }
  .img_style{position: absolute;right: 530px;top: 60px;}
  .step, .last_step {float:left;overflow: hidden;
    &.current_section { h2 { background: red; } }
    h2{font-size: 18px;font-family: $johnston;font-weight: 500;text-transform: uppercase;text-align: center; width: 800px;
      span{font-size: 120px;font-family: $kepler;font-weight: normal;font-style: italic;}
    }
    ol{/*text-align: center;*/
      .selected { border: solid red; background: red; }
      li{margin-right: 20px;list-style: none;border: solid 1px #000;width: 175px;height: 345px;float: left;position:relative;
        input{display: none;}
        img{width: 175px;height: 263px;position:absolute;bottom:0;}
        p{position:absolute;font-family: $avenir;font-size: 13px;width: 175px;height: 80px;display:table;margin:0;
          label{display: table-cell;vertical-align: middle;text-align: center;}
        }
      }
    }
  }

  .last_step { text-align: center;
    fieldset { margin-left: 100px; border: none; }
    ol.options{
      li{width: 40px; height: 40px;float:none;display:inline-block;line-height: 40px;
      }
    }
  }
}

#stylist{margin-top: 20px;
  img{float: left;}
  .go_quiz{margin-left: 60px;}
  .content-stylist{height: 950px;width: 990px;margin-top: 100px;
    ul{width: 990px;
      li{float: left;
        p{font-size: 20px;font-family: $avenir;line-height: 25px;}
        &.bordoux{width: 578px;margin-right: 65px;
          img{margin-top: 10px;}
        }
        &.second{margin-top: 30px;margin-right: 43px;}
        &.deco{margin-top: 30px;margin-right: 0 !important;}
      }
    }
  }
}

#profiles{width: 990px;margin: 0 auto;margin-left: 12px;
  .content-basic, .content-chic, .content-sexy, .content-fashion{width: 940px;height: 560px;background: image-url('quiz/profiles/b_1.jpg') center no-repeat;position: relative;
    .style-basic{background: image-url('quiz/profiles/b_0.png') center no-repeat;position: absolute;width: 271px; height: 264px;left: 173px;top: 93px;
      p{color: #fff; font-family: $avenir; font-size: 30px; text-transform: uppercase;padding-top: 80px;margin-left: -11px;font-weight: lighter;text-align: center;}
    }
  }
  .content-chic{background: image-url('quiz/profiles/e_1.jpg') center no-repeat;position: relative;
    .style.chic{background: image-url('quiz/profiles/e_0.png') center no-repeat;position: absolute;width: 271px; height: 270px;left: 231px;top: 41px;
      p{color: #000; font-family: $avenir; font-size: 30px; text-transform: uppercase;padding-top: 80px;margin-left: -11px;font-weight: lighter;text-align: center;}
    }
  }
  .content-sexy{background: image-url('quiz/profiles/s_1.jpg') center no-repeat;position: relative;
    .style.sexy{background: image-url('quiz/profiles/s_0.png') center no-repeat;position: absolute;width: 271px; height: 270px;left: 430px;top: 130px;
      p{color: #fff; font-family: $avenir; font-size: 30px; text-transform: uppercase;padding-top: 87px;margin-left: -11px;font-weight: lighter;text-align: center;}
    }
  }
  .content-fashion{background: image-url('quiz/profiles/f_1.jpg') center no-repeat;position: relative;
    .style.fashion{background: image-url('quiz/profiles/f_0.png') center no-repeat;position: absolute;width: 271px; height: 270px;left: 500px;top: 10px;
      p{color: #fff; font-family: $avenir; font-size: 30px; text-transform: uppercase;padding-top: 90px;margin-left: -11px;font-weight: lighter;text-align: center;}
    }
  }
  ul{margin-top: 30px;height: 485px;
    li{float: left;width: 268px; height:285px;margin-right: 65px;
      h1{font-size: 20px; font-family: $johnston;color: #000; text-align: center;margin-bottom: 5px;}
      p{font-family: $avenir; font-size: 13px;color: #000; text-align: center;}
      img{margin-top: 10px;}
      &.party{margin-right: 0 !important;}
  }
}
  .share{top:-60px;right:10px;font-size:12px;
    p{float:left;text-align:left;width:360px;line-height:34px;background-color: #fff;font-weight: 500;margin-left: 565px; margin-top: 8px;height: 31px;padding-left: 4px;}
    a#facebook_share{float:right;font-size:0;line-height:0;display:block;width:125px;height:25px;background: image-url('showroom/sprite.png') no-repeat -108px -32px;margin-top:5px;margin-right: 4px;}
  }
}

form.login{
  input[type=submit] {
    background: image-url('common/login.png') no-repeat;
    text-indent: -9999px;
    width: 74px;
    height: 31px;
    display: block;
    border: none;
    cursor: pointer;
  }
}

.left_box{
  float: left;
}
