@import 'new_structure/common/global_stuffs';

header{
  .quiz_header{
      border-top: 8px black solid;
      height: 120px;
      width: 990px;
      margin: 0 auto;

    .olook_logo{width: 240px;height: 70px;margin: 0 auto;padding-top: 20px;
      h1 a{width: 240px;height: 70px;display:block;background: image-url("common/nav/sprite_header.png") no-repeat 0 -72px;text-indent: -9999px;}
    }
  }
}

footer{
  margin-top: 30px;
  ul{
    width: 775px;
    height: 155px;
    border: solid 1px #d7d7d7;
    margin: 0 auto;
    li{
      list-style: none;
      margin-top: 25px;
      p{
        font-family: $avenir;
        font-size: 13px;
        color: #939598;
        span{font-weight: 500;}
      }
      &.about{width: 410px; float: left;margin-right: 65px;}
      &.about_quiz{width: 265px; float: left;}
    }
  }
  .infos{
    width: 817px;
    height: 100px;
    border-top: solid 1px #d7d7d7;
    margin: 0 auto;
    margin-top: 45px;
    p{
      margin-top: 25px;
      text-align: center;
      font-family: $avenir;
      font-size: 13px;
      color: #939598;
      span{white-space: nowrap;}
      a{text-decoration: none;color: #939598;
        &:hover{color: $pink;}
      }
    }
  }
}

#survey{
  #content{
  width: 830px;
  height: 615px;
  margin: 0 auto;
  overflow: hidden;
    .content-survey{width: 12000px}
  }
  .img_style{
    position: absolute;
    right: 530px;
    top: 60px;
    }
  .question{float:left;overflow: hidden;
    &.current_section { h2 { background: red; } }
    h2{font-size: 18px;font-family: $johnston;font-weight: 500;text-transform: uppercase;text-align: center; width: 800px;
      span{font-size: 120px;font-family: $kepler;font-weight: normal;font-style: italic;}
    }
    ol{/*text-align: center;*/
      .selected { border: solid red; background: red; }
      li{margin-right: 20px;list-style: none;border: solid 1px #000;width: 175px;height: 345px;float: left;position:relative;
        input{display: none;}
        img{width: 175px;height: 263px;position:absolute;bottom:0;}
        p{position:absolute;font-family: $avenir;font-size: 13px;width: 175px;height: 80px;display:table;margin:0;
          label{display: table-cell;vertical-align: middle;text-align: center;}
        }
      }
    }
    &.last_step { text-align: center;
      fieldset { margin-left: 100px; border: none; }
        ol.options{
          li{width: 40px; height: 40px;float:none;display:inline-block;line-height: 40px;
          }
        }
      }
    }
  }

#stylist{
  margin-top: 20px;
  img{
    float: left;
  }
  .go_quiz{
    margin-left: 60px;
  }
  .content-stylist{
    height: 950px;
    width: 990px;
    margin-top: 100px;
    ul{
      width: 990px;
      li{
        float: left;
        p{
          font-size: 20px;
          font-family: $avenir;
          line-height: 25px;
        }
        &.bordoux{
          width: 578px;
          margin-right: 65px;
          img{
            margin-top: 10px;
          }
        }
        &.second{
          margin-top: 30px;
          margin-right: 43px;
        }
        &.deco{
          margin-top: 30px;
          margin-right: 0 !important;
        }
      }
    }
  }
}
