/ - content_for :footer do
/   = javascript_tag do
/     track_event('Modal', 'RememberedPage', @campaign_email.id)

.box-continue
  %h3 Lembramos de você!
  %p Você já ganhou 20% de desconto* para usar em sua primeira compra. <br/>Aproveite e escolha o que mais ama na olook.
  %button{:type => "button", :class => "btn-continue"} Continuar Navegando
  %p.desconto * O desconto é aplicado em sua sacola e é válido por 7 dias a partir do cadastro
  
  %button{:type => "button", :class => "close"} Fechar