- content_for :footer do
  :javascript
    #{track_event('Modal', 'SuccessPage', @campaign_email.id, no_interactive: true)}

.box-remember.success
  %div.msg
    %p
      Cadastro realizado com sucesso!
  %p.msg_close Aproveite e escolha o que mais ama na Olook.
  %button{:type => "button", :class => "close_pink"} Continuar Navegando
  %button{:type => "button", :class => "close"} Fechar
= render partial: "shared/metrics/dbm/newsletter"
= render partial: 'shared/metrics/fb/signup'
- content_for :data_layer do
  = render "shared/tag/new_user", register_source: 'E', email: @campaign_email.email
