.box-remember
  %div.msg
    %p Cadastro realizado com sucesso! 
  %p.f14  Você já ganhou 20% de desconto* para usar em sua primeira compra. <br> Aproveite e escolha o que mais ama na olook. 
  %p.desconto * O desconto será automaticamente calculado em sua sacola de compras 

  %button{:type => "button", :class => "close"} Fechar 