/ - content_for :footer do
/   = javascript_tag do
/     track_event('Modal', 'SuccessPage', @campaign_email.id)

.box-remember.success
  %div.msg
    %p Cadastro realizado com sucesso!

  %button{:type => "button", :class => "close"} Fechar