/ - content_for :footer do
/   = javascript_tag do
/     track_event('Modal', 'SuccessPage', @campaign_email.id)

.box-remember.success
  %div.msg
    %p 
      Cadastro realizado com sucesso!
      %span Enviaremos em instantes o cupom de desconto por e-mail
  %p.msg_close Aproveite e escolha o que mais ama na olook.    
  %button{:type => "button", :class => "close_pink"}
  %button{:type => "button", :class => "close"} Fechar