%script{type: "text/template", id: "tpl-address-list"}
  %ul#address-list
  .js-add_address.add_link{style:'display:none;'}= link_to 'Adicionar Novo Endereço', 'javascript:void', class: "js-addAddress"

%script{type: "text/template", id: "tpl-address"}
  = radio_button_tag 'address', value: '{{ id }}'
  %ul
    %li {{ full_name }}
    %li {{ street }}, {{ number }} {{complement}} - {{ neighborhood }} - {{ zip_code }}
    %li Tel.: {{ telephone }} / {{ mobile }}
    %li {{ city }},  {{state}}
    %li.links
      %p= link_to 'Alterar', 'javascript:void', class: 'js-changeAddress', data: { id: '{{id}}' }
      %p= link_to 'Remover', 'javascript:void', id: '{{id}}', class: 'js-removeAddress'
  %br

%script{id: "tpl-address-form", type: "text/template"}
  .js-addressForm{style:'display: none'}
    %form
      %h4
        Cadastrar novo endereço
      .control-group.full_name
        %p
          %input{type:'text', id:'full_name', name:'full_name', value:'{{full_name}}', placeholder: 'Nome'}
        %span.help-inline
      
      .control-group.zip_code 
        %p
          %input{type:'text', id:'zip_code', name:'zip_code', value:'{{zip_code}}', 'data-inputmask' => "'mask' : '99999-999'", placeholder: 'CEP'}
          .findCEP
            Não sabe o seu CEP?
            %br
            %a{href: "http://www.buscacep.correios.com.br/servicos/dnec/menuAction.do?Metodo=menuLogradouro", target: "_blank"} Clique aqui
        %span.help-inline

      
      .control-group.state
        %select#state{name: "state", type: "text", value:"{{state}}"}
        %span.help-inline

      .control-group.city
        %select#city{name: "city", type: "text", value: "{{_.escape(city)}}"}
        %span.help-inline

      .control-group.neighborhood
        %p
          %input#neighborhood{name: "neighborhood", type: "text", value: "{{neighborhood}}", placeholder: 'Bairro'}
        %span.help-inline

      .control-group.street
        %p
          %input{type:'text', id:'street', name:'street', value:"{{street}}", placeholder: 'Rua'}
        %span.help-inline

      .control-group.number
        %p
          %input#number{name: "number", type: "text", value: "{{number}}", placeholder: 'Número'}
        %span.help-inline

      .control-group.complement
        %p
        %input{type:'text', id:'complement', name:'complement', value:"{{complement}}", placeholder: 'Compl.'}

      .control-group.telephone
        %p
          %input#telephone{name: "telephone", type: "text", value: "{{telephone}}", placeholder: 'Telefone'}
        %span.help-inline

      .control-group.mobile
        %p
          %input#mobile{type:'text', name:'mobile', value:'{{mobile}}', placeholder: 'Celular'}
        %span.help-inline

      .control-group.add
        %input#save-btn{name: "save-btn", type: "submit", value: "Cadastrar endereço"}

      .cancel
        =button_tag "Cancelar", class: "js-cancel"
