%script{type: "text/template", id: "tpl-address-list"}
  %ul#address-list
  %p= link_to 'Adicionar Endereço', 'javascript:void', class: 'js-addAddress'

%script{type: "text/template", id: "tpl-address"}
  = radio_button_tag 'address', value: '{{ id }}'
  %ul
    %li {{ full_name }}
    %li {{ street }}, {{ number }} {{complement}}
    %li {{ neighborhood }} - {{ zip_code }}
    %li Tel.: {{ telephone }}
    %li Cel.: {{ mobile }}
    %li {{ city }},  {{state}}
    %li
      %p= link_to 'Alterar', 'javascript:void', class: 'js-changeAddress', data: { id: '{{id}}' }
      %p= link_to 'Remover', 'javascript:void', id: '{{id}}', class: 'js-removeAddress'
  %br

%script{id: "tpl-address-form", type: "text/template"}
  .js-addressForm{style:'display: none'}
    %form
      %h4
        Cadastrar novo endereço
      .control-group.name
        %label
          Nome:
        %input{type:'text', id:'full_name', name:'full_name', value:'{{full_name}}'}
        %span.help-inline
      
      .control-group.zip_code 
        %label
          CEP:
        %input{type:'text', id:'zip_code', name:'zip_code', value:'{{zip_code}}', 'data-inputmask' => "'mask' : '99999-999'"}
        %span.help-inline

      .control-group.street
        %label
          Rua:
        %input{type:'text', id:'street', name:'street', value:'{{street}}'}
        %span.help-inline

      .control-group.state
        %label
          Estado:
        %input#state{name: "state", type: "text", value:'{{state}}'}
        %span.help-inline

      .control-group.number
        %label
          Número:
        %input#number{name: "number", type: "text", value: '{{number}}'}
        %span.help-inline

      .control-group.complement
        %label
          Complemento:
        %input{type:'text', id:'complement', name:'complement', value:'{{complement}}'}

      .control-group.neighborhood
        %label
          Bairro:
        %input#neighborhood{name: "neighborhood", type: "text", value: '{{neighborhood}}'}
        %span.help-inline

      .control-group.city
        %label
          Cidade
        %input#city{name: "city", type: "text", value: '{{city}}'}
        %span.help-inline

      .control-group.telephone
        %label
          Tel. Fixo
        %input#telephone{name: "telephone", type: "text", value: '{{telephone}}', 'data-inputmask' => "'mask' : '(99)9999-9999'"}
        %span.help-inline

      .control-group.mobile
        %label
          Tel. Celular
        %input{type:'text', id:'mobile', name:'mobile', value:'{{mobile}}', 'data-inputmask' => "'mask' : '(99)9999[9]-9999', 'greedy' : false"}

      .control-group.add
        %input#save-btn{name: "save-btn", type: "button", value: "Cadastrar"}