%script{type: "text/template", id: "tpl-cart-resume"}
  .current_address
    %p
      Endereço de Entrega
      %span {{full_address}}
  <% if(freight_kind != "---") { %>
  .current_freight
    %p
      Frete:
      %span {{ freight_kind }}
      %span Entrega em até {{ freight_due }} após a confirmação de pagamento.
  <% } %>
  .current_cart
    .modal-items
      %span.close-modal.js-close-modal X
      .scroll
        %p
          Resumo do Pedido:
          %span {{ items_count }}
        %table
    %p
      Resumo do Pedido:
      %span {{ items_count }}
      %a.js-see-cart-items{href: 'javascript:void'} Veja aqui os itens selecionados
  .current_payment
    %p
      Tipo de Pagamento:
      %span {{ payment_method }}
  .cart_detail
    %table
      %tr
        %td Produtos
        %td {{items_subtotal}}
      <% if (hasGiftWrap) { %>
      %tr
        %td Embalagem
        %td {{ gift_wrap_value }}
      <% } %>
      <% if (hasDiscounts) { %>
      %tr
        %td Descontos
        %td {{ discounts }}
      <% } %>
      <% if (hasCredits) { %>      
      %tr
        %td Créditos
        %td {{ credits }}
      <% } %>
      <% if (hasPaymentDiscounts) { %>
      %tr
        %td Desconto do Pagamento
        %td {{ payment_discounts }}
      <% } %>
    %table
      %tr.subtotal
        %td Subtotal
        %td {{ subtotal }}      
      <% if (freight != '---') { %>
      %tr
        %td Frete
        %td {{ freight }}
      <% } %>      
    %table
      %tr.total
        %td Total
        %td {{ total }}
  %button#js-finalize-order.disabled {{step_label}}

%script{type: "text/template", id: "tpl-cart-item"}
  %td
    %img{src: "{{thumb_picture}}"}
  %td
    %p {{formatted_product_name}}
    %p {{brand}}
    %p
      Tamanho:
      %span {{size}}
      Cor:
      %span{ class: "{{color}}"}
  %td x{{quantity}}
  %td
    %p {{price_declaration}}
%script{type: "text/template", id: "tpl-cart-item-price-promotion"}
  De: {{price}}
  %br 
  Por: {{retail_price}}


