%script{type: "text/template", id: "tpl-cart-resume"}
  .current_address
    %p
      Endereço de Entrega
      %span {{full_address}}
  .current_freight
    %p
      Frete:
      %span {{ freight_kind }}
      %span Entrega em até {{ freight_due }} após a confirmação de pagamento.
  .current_cart
    .modal-items
      %span.close-modal.js-close-modal X
      .scroll
        %p
          Resumo do Pedido:
          %span {{ items_count }}
        %table
    %p
      Resumo do Pedido:
      %span {{ items_count }}
      %a.js-see-cart-items{href: 'javascript:void'} Veja aqui os itens selecionados
  .current_payment
    %p
      Tipo de Pagamento:
      %span {{ payment_method }}
  .cart_detail
    %table
      %tr
        %td Produtos
        %td {{subtotal}}
      %tr
        %td Frete
        %td R$ 10,00
      %tr
        %td Embalagem
        %td R$ 5,00
    %table
      %tr.subtotal
        %td Subtotal
        %td {{subtotal}}
      %tr
        %td Descontos
        %td R$ 55,90
      %tr
        %td Créditos
        %td R$ 12,00
    %table
      %tr.total
        %td Total
        %td R$ 118,00
  %button#js-finalize-order {{step_label}}

%script{type: "text/template", id: "tpl-cart-item"}
  %td
    %img{src: "{{thumb_picture}}"}
  %td
    %p {{formatted_product_name}}
    %p {{brand}}
    %p
      Tamanho:
      %span {{size}}
      Cor:
      %span{ class: "{{color}}"}
  %td x{{quantity}}
  %td
    %p {{price_declaration}}
%script{type: "text/template", id: "tpl-cart-item-price-promotion"}
  De: {{price}}
  Por: {{retail_price}}


