%script{type: "text/template", id: "tpl-payment-list"}
  %h4 Selecione a forma de pagamento

%script{type: "text/template", id: "tpl-payment"}
  = radio_button_tag('payment_method', value: "{{type}}")
  {{name}} - ({{ percentage }}%)

%script{type: "text/template", id: "tpl-credit-card-form"}
  {{name}} - ({{ percentage }}%)
  %form.js-creditCardForm

    .flags
      %span.mastercard
        mastercard
      %span.visa
        visa
      %span.diners
        diners
    .control-group.name
      %p
        parcela:
        %select{type:'select', id:'installments', name:'installments', value:''}
      %span.help-inline
    .control-group.name
      %p
        Nome:
        %input{type:'text', id:'full_name', name:'full_name', value:''}
      %span.help-inline
    .control-group.number
      %p
        Número do Cartão:
        %input{type:'text', id:'number', name:'number', value:''}
      %span.help-inline
    .control-group.expiration_date
      %p
        Validade (mm/aa):
        %input{type:'text', id:'expiration_date', name:'expiration_date', value:''}
      %span.help-inline
    .control-group.security_code
      %p
        Cód. de Segurança:
        %input{type:'text', id:'security_code', name:'security_code', value:''}
      %span.help-inline
    .control-group.cpf
      %p
        CPF:
        %input{type:'text', id:'cpf', name:'cpf', value:''}
      %span.help-inline


%script{type: "text/template", id: "tpl-debit"}
  {{name}} - ({{ percentage }}%)
  %form.js-debitForm
    .banks
      %span.itau
        %input{type: "radio", id: "bank_itau", name: "bank", value: "Itau"}
        %label{for: 'bank_itau'} Itaú
      %span.bradesco
        %input{type: "radio", id: "bank_bradesco", name: "bank", value: "Bradesco"}
        %label{for: 'bank_bradesco'} Bradesco
      %span.bancodobrasil
        %input{type: "radio", id: "bank_bancodobrasil", name: "bank", value: "BancoDoBrasil"}
        %label{for: 'bank_bancodobrasil'} Banco do Brasil

%script{type: "text/template", id: "tpl-billet"}
  {{name}} - ({{ percentage }}%)

%script{type: "text/template", id: "tpl-mercadopago"}
  {{name}} - ({{ percentage }}%)
