%script{type: "text/template", id: "tpl-payment-list"}

%script{type: "text/template", id: "tpl-payment"}
  = radio_button_tag('payment_method', value: "{{type}}")
  {{name}} - ({{ percentage }}%)

%script{type: "text/template", id: "tpl-payment-form"}