%script{type: "text/template", id: "tpl-steps"}
  %ul
    %li 
      1. Identificação
      %span.ico
    %li 
      2. Endereço
      %span.ico
    %li 
      3. Pagamento
      %span.ico
    %li 4. Confirmação
