<h2>Editando Landing page de catálogo</h2>


<div class="inner">
  <%= render 'form' %>
</div>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'Mostrar', admin_catalog_base_path(@catalog_base) %></li>
  <li><%= link_to 'Voltar', admin_catalog_bases_path %></li>
<% end %>

