@import 'new_structure/common/global_stuffs';
@import 'new_structure/about/normalize';
@import 'new_structure/common/lite_structure';
@import 'new_structure/common/jquery-ui-1.10.3.autocomplete_slider.min';
@import 'new_structure/common/header';
@import 'new_structure/common/wishlist';
@import 'new_structure/partials/spy';
@import 'new_structure/common/catalog4you';
@import 'new_structure/common/responsive_mobile';

ul.breadcrumb {
  display: block;
  width:37%;
  height:20px;
  position: relative;
  top:-5px;
  left:6px;
  li {
    float:left;
    display: block;
    font-family: verdana;
    font-size: 9px;
    color:#6d6e71;
    padding:0 0 0 10px;
    color:#000;
    text-align: left;
    padding-left:5px;
    a {
      font-family: verdana;
      background: image-url('product/breadcrumb.gif') right center no-repeat;
      color:#6d6e71;
      display: block;
      float:left;
      padding-right:10px;
      text-decoration: none;
    }
    a:hover {color:$base_color;}
  }
}

.cat_olooklet {
  ul {
    margin-left:11px;
    margin-bottom: 9px;
    display: block;
    float: left;
    li {
      margin-bottom:12px;
        a {
          font-size: 11px;
          text-transform: uppercase;
          font-weight: bold;
          height: 15px;
          background: image-url('catalog/sprite.png') no-repeat 0 -25px !important;
          padding-left: 13px;
          cursor: pointer;
          display: block;
      }
    }
  }
}
.mercado_pago {
  display: none;
}

a.selecionado,
a.selecionado:hover {color:$pink !important;}

.hello, .isa_modal, .isa_modal2 {
  width:100%;
  height:100%;
  background: image-url('common/modal_1.jpg') no-repeat center center;
  iframe {
    position: absolute;
    top: 400px;
    left: 495px;
  }
}
.isa_modal,
.isa_modal2{
  background: image-url('common/isabela_modal_email.jpg') no-repeat center center;
  h2{
    font-family: $verdana;
    font-size: 33px;
    color: $base_color;
    float: right;
    width: 407px;
    text-align: center;
    margin-bottom: 19px;
    margin-top: 178px;
    margin-right: 54px;
  }
  p{
    font-family: $bt_font;
    color: #000;
    font-size: 18px;
    float: right;
    width: 407px;
    text-align: center;
    margin-right: 54px;
    margin-bottom: 55px;
  }
  .modal_newsletter{
    width: 407px;
    background: none !important;
    margin-left: 300px;
    p.join{
      font-family: $bt_font;
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 15px;
      margin-right: 103px;
    }
    .email{
      width: 240px;
      height: 29px;
      padding: 3px 3px 7px 10px;
      border: 1px solid #000;
      font-family: $bt_font;
      font-size: 11px;
      letter-spacing: 1px;
      color: #000 !important;
      margin-right: -7px;
      margin-left: 31px;
    }
    .modal_button {
      background: $base_color;
      font-family: $bt_font;
      text-transform: uppercase;
      font-size: 12px;
      color: #fff;
      cursor: pointer;
      border: none !important;
      text-align: center;
      width: 107px;
      height: 41px;
      display: block;
      position: absolute;
      margin-top: -41px !important;
      margin-left: 273px;
      letter-spacing: 1px;
    }
  }
  .fb-login-button{
    z-index:20;
  }
  p.joinfb{
    margin-top: 42px;
    position: absolute;
    margin-left: 259px;
    font-size: 15px;
    font-family: $bt_font;
    text-decoration: underline;
    font-weight: bold;
  }
  iframe{
    position: absolute;
    top: 414px;
    left: 605px;
  }
  .modal_error {
    position: absolute;
    background: #fff8c5;
    width: 339px;
    margin-left: 31px;
    margin-top: -11px;
    padding: 5px;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: #666;
    display: none;
  }
  .p_helena{
    font-size: 14px !important;
  }
  .title_helena{
    margin-top: 173px !important;
    margin-bottom: 15px !important;
  }
}
.isa_modal2{
  background: image-url('common/isabela_modal_email2.jpg') no-repeat center center;
  .modal_newsletter{
    width: 407px;
    background: none !important;
    margin-left: 350px;
    margin-top:280px;
  }
  p.joinfb {
    margin-top:19px;
    margin-left:309px;
  }
  iframe {
    position: absolute;
    top: 438px;
    left: 381px;
  }
}

section.banner {
  margin-bottom:10px !important;
  img {width:100%;}
}
.profiler-results {display: none;}
@media only screen and (min-width: 641px) {
  header.primary,
  #console, 
  #main-nav {display: none !important;}
  .profiler-results {display: block;}
}


