body {
	div.full_container {top:20px !important;}
	div#content {margin-top:0px !important;}

	#new_header {
		padding-bottom:0px;
		height:120px;
	

		div.new_content {
			background: #000;
			height:120px;
			.olook_logo {
				width:196px;
				padding-top:0px;
				height:85px !important;
				h1 {
					height: 100% !important;
					width:100% !important;
					display: block;
					position: relative;
					top:8px;
					a {
						background: image-url('common/nav/sprite_header_bf.png') no-repeat -7px -72px;
						height:77px;
						margin-top:0px;
						width:192px;
						position: absolute;
						top:0px;
						left:0px;
					}
				}

			}

			.box_left p,
			.box_left p a.contact,
			.box_right li.first,
			.box_right li.username,
			.box_right a.invite,
			.box_right li.submenu a#account  {
				color:#FFF;
			}
			.box_right li.submenu * {box-shadow: none !important;}
			.box_right {
				.user {
					ul li.submenu {top:1px;}
				}
				.new_login {color:#FFF;}
			}
		}
		li.username {background: none !important;}
		li a#account {
			border:0px !important;
			border-right:1px solid #FFF !important;
			background-image: image-url('common/nav/sprite_header_bf.png') !important;
		}
		li a.hover {
			background-color:#FFF !important;color:#ef3742 !important;box-shadow: none;
		}
		.search_box #search_product {border-color: #FFF;background:#000;color:#FFF;}
		.search_box {
			form {
				input[type="submit"] {
					background-image: image-url('common/nav/sprite_header_bf.png');	
					width: 27px;
				}
			}
		}
		.social_icons a {background-image: image-url('common/nav/sprite_header_bf.png') !important;}

	}
	div#wrapper_new_menu {
		height:41px;
	
		.menu_new {
			background: #000;
			padding-top:0px !important;
			height:52px;
			display: block;
			position: relative;
			.content_new {background: pink;padding-top:0px !important;}
			.default_new {
				padding-top:0px !important;
				margin-top:0px !important;
				top:0px !important;
				left:0px;
				position: absolute;
				li {
					a {
						color:#FFF;
						background-image: image-url('common/nav/sprite_header_bf.png');	
					}
					a.selecionado {background: #FFF;}
				}
			}
			.new_sacola {
				a {background-image: image-url('common/nav/sprite_header_bf.png');top:0px !important;}
				#cart_summary {top:29px !important;}
			}
			.cart{
				border-top:1px solid #000;
				border-right:1px solid #000;
				color:#FFF;
			}
			.full {
				background-image: image-url('common/nav/sprite_header_bf.png');
				background-color: #000;
			}
			.cart:hover,
			.new_sacola a.selecionado {background-image: image-url('common/nav/sprite_header.png');background-color:#FFF;}
		}
		&.fixed {
			padding-top:0px;	
			.menu_new {padding-top:10px;height:31px;}
		}
	}

	div#content {
		top: 0px !important;
		ul.breadcrumb {padding-top:30px;}
		#carousel {top:10px;}
	}
}