@import 'new_structure/common/global_stuffs';

li.product{display:inline-block;
  width:170px;
  border:1px solid #e1e1e1;
  padding:6px;
  position: relative;
  height:325px;
  float:left;
  margin:0 5px 14px 5px;
  a{color:#000;
    text-decoration:none;
    font-size:11px !important;
    font-family: Verdana;
    .name{color:#000;
      font-size:11px !important;
      height:18px;
      overflow:hidden;
      display: block;
    }
    .brand {
      text-transform: uppercase;
    }
    .price {
      font-family: "Trebuchet Ms";
    }
    b{text-transform:uppercase;
    }
    img{
      width:100%;
    }
    .old {text-decoration:line-through;
    }
    .txt-pink{color: $base_color;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: -1px;
    }
  } 
  div.async {
    position: relative;
    height:256px;
    img {
      width:100%;
      position: absolute;
      bottom:0px;
    }
  }
}
.custom_url {
  li.product:nth-child(-n+3) {
    background: red !important;
  }
}

li.product:hover .spy {
  display: block;
}

.spy {
  position:absolute;
  bottom:75px;
  width:95%;
  height:54px;
  background: image-url('FFFFFF-0.6.png') repeat;
  display:none;
  cursor:pointer;
  z-index: 100;
}

.spy-icon {
  background: image-url('moments/sprite.png') no-repeat right -169px;
  width: 40px;
  height: 40px;
  float:left;
  margin-left: 36px;
  margin-top: 4px;
  display: block;
}
.spy-txt {
  display:block;
  float:left;
  font-family:$avenir;
  font-size:11px;
  margin-top:18px;
  font-weight: bold;
  letter-spacing: 1px;
  width: 85px;
  margin-left: 7px;
  padding-right: 1px;
}
