@import 'new_structure/partials/fonts';
/*------------------------
==== GLOBAL VARIABLES ====
------------------------*/
$base_color: #EF3742;
$avenir: avenir, arial, sans-serif;
$avenir_medium: avenir_medium, arial, sans-serif;
$kepler: KeplerStdItalic, Times, "Times New Roman", serif;
$johnston: johnston, arial, sans-serif;
$pink: #ef3742;

