/*------------------------
==== GLOBAL VARIABLES ====
------------------------*/
$base_color: #EF3742;
$avenir: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
$avenir_medium: Arial, "Trebuchet Ms", arial, sans-serif, avenir_medium;
$kepler:  Arial, "Trebuchet Ms", Times, "Times New Roman", serif, KeplerStdItalic;
$johnston: Arial, "Trebuchet Ms", arial, sans-serif, johnston;
$arial: arial, verdana, tahoma;
$verdana: verdana, arial, tahoma;
$tahoma: tahoma, arial, verdana;
$preco: Verdana, "Trebuchet Ms", Arial, Verdana;
$pink: #ef3742;