/*------------------------
==== GLOBAL VARIABLES ====
------------------------*/
$base_color: #EF3742;
$avenir: "Trebuchet Ms", arial, sans-serif, avenir;
$avenir_medium: "Trebuchet Ms", arial, sans-serif, avenir_medium;
$kepler:  "Trebuchet Ms", Times, "Times New Roman", serif, KeplerStdItalic;
$johnston: "Trebuchet Ms", arial, sans-serif, johnston;
$pink: #ef3742;

