@import 'new_structure/common/global_stuffs';
@import 'new_structure/partials/liquida';
@import 'new_structure/common/modal_footer';
@import 'partials/footer';

/*------------------
==== CSS RESET ====
------------------*/
*{margin:0;padding:0;outline:none;font-size:100%;line-height:18px;}
body{font-size:14px;font-family:$avenir;}
a{color:$base_color;}
li{list-style-type:none;}


/*--------------------
 * == FLASH MESSAGE ==
--------------------*/
#error-messages {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #EF3742;
  padding: 42px 0;
  z-index: 10001;
  opacity: 0.8;
  filter: alpha(opacity = 80);
  p {
    background: transparent;
    color: #FFF;
    font-family: "Times New Roman", "Times", serif;
    font-size: 21px;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
  }
}


/*------------------
=====  CONTENT =====
------------------*/
#container{width:100% !important;margin:0 auto;overflow:hidden;}
#content{width:990px;overflow:visible;margin:0 auto 0;position:relative;}

/***** MODAL STYLE ****/

#modal-campaign,#overlay-campaign{display:none;position:absolute;}
#overlay-campaign{
  top:0;
  left:0;
  z-index:10000;
  width:100%;
  min-height:800px;
  background:#FFF;
  zoom:1;
  opacity:0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
}
#modal-campaign{float:left;z-index:10001;background:transparent;top:50%;left:50%;
  iframe{overflow: hidden;}
}

#modal, .modal{
  position: absolute;
  display:none;
  z-index:10001;
  background-color: #fff;
  border: 1px solid #000;
  form{
    padding:12px;
    background:#fff;
    color:#FFF;
  }
}

.close-new-modal{
  position:absolute;
  right: -15px;
  top: -15px;
  cursor:pointer;
  font-size:20px;
  background: image-url('common/close_dialog.png') no-repeat;
  text-indent:-9999px;
  width:30px;
  height:30px;
  z-index:10003;
  border:none;
}

.watermelon {color:#ef3742;}

.aceitamos_cartoes {width:172px;height:131px;display: block;float:left;background: image-url('common/nav/sprite_header.png') -360px -16px no-repeat;text-indent: -5000px;}
.mercado_pago_button {width:125px;height:125px; display: block;float:left;background: image-url('common/nav/sprite_header.png') -361px -153px no-repeat;text-indent: -5000px;}
