@import 'new_structure/common/global_stuffs';
@import 'new_structure/partials/liquida';
@import 'new_structure/common/modal_footer';
@import 'new_structure/common/megamenu';

/*------------------
==== CSS RESET ====
------------------*/
*{margin:0;padding:0;outline:none;font-size:100%;line-height:18px;}
body{font-size:14px;font-family:$avenir;}
a{color:$base_color;}
li{list-style-type:none;}


/*--------------------
 * == FLASH MESSAGE ==
--------------------*/
#error-messages {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #EF3742;
  padding: 42px 0;
  z-index: 10001;
  opacity: 0.8;
  filter: alpha(opacity = 80);
  p {
    background: transparent;
    color: #FFF;
    font-family: "Times New Roman", "Times", serif;
    font-size: 21px;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
  }
}


/*------------------
====== HEADER ======
------------------*/
a#go_top {position: fixed;background: image-url('common/arrow-go-top.png') no-repeat;text-indent: -99999px;width: 40px;height: 40px;right: 40px;bottom: 45%;z-index: 5;display: none;}

header#new_header{border-top: 2px black solid;
  .new_content{height: 84px;padding-top:15px;width: 990px;margin: 0 auto;
      .box_left{font-family: $avenir;font-size: 10px;color: #b4b5b7;float: left;margin-left:10px;
        a.contact{text-decoration: none;color: #b4b5b7;
            &:hover{color:$base_color;}
        }
        p{
          .earn_credits{
            color: #ef3742;
            text-decoration: none;
            float: left;
            margin-top: 3px;
            font-size: 11px;
          }
        }
        a.invite{
          color: $pink;
          text-decoration: none;
          float: left;
          margin-top: 3px;
          font-size: 11px;
          width: 275px;
        }
      }

      .social_icons{width: 150px;float: left;clear: both;
        a.social_facebook{background: image-url('common/nav/sprite_header.png') 0 0;width: 22px;height: 22px;text-indent: -9999px;display: block;float: left;
          &:hover{background: image-url('common/nav/sprite_header.png') 0 -31px;}
        }
        a.social_twitter{background: image-url('common/nav/sprite_header.png') -22px 0;width: 22px;height: 22px;text-indent: -9999px;display: block;float: left;
          &:hover{background: image-url("common/nav/sprite_header.png") no-repeat -22px -31px;}
        }
        a.social_rss{background: image-url("common/nav/sprite_header.png") no-repeat -46px 0;width: 22px;height: 22px;text-indent: -9999px;display: block;float: left;
          &:hover{background: image-url("common/nav/sprite_header.png") no-repeat -46px -31px;}
        }
        a.social_instagram{background: image-url("common/nav/sprite_header.png") no-repeat -71px -1px;width: 22px;height: 22px;text-indent: -9999px;display: block;float: left;
          &:hover{background: image-url("common/nav/sprite_header.png") no-repeat -71px -31px;}
        }
      }
      .olook_logo{width: 190px;height: 57px;margin: 0 auto;padding-top: 5px;
        h1 a{width: 190px;height: 57px;display:block;background: image-url("common/nav/sprite_header.png") no-repeat 0 -74px;text-indent: -9999px;}
      }
    }
    .box_right{float: right;margin: 0px 10px 0 0;position:relative;
      .new_login{width: 162px;height: 18px;font-family: $avenir;font-size: 11px;display: block;float: right;text-align: center;line-height: 18px;border-left: 1px #d7d7d7 solid;border-right: 1px #d7d7d7 solid;
        a{text-decoration: none;color: #ef3742;
        &:hover{text-decoration:underline;color: #ef3742;}
        }
      }
      /*------ USER MENU ----*/
      div.user {margin: 0;float: left;
        ul {
           li {position: relative;color: #282828;font-size: 11px;text-align: right;margin: 0 0 0 3px;padding: 0;display: inline-block;float: left;
             &.username{border-right:1px solid #cdcdcd;height: 15px;padding-right: 10px}
             &.first{border-left: 1px solid #cdcdcd;padding-left: 10px;height: 15px;}
             &.bl{border-left:solid 1px #D7D7D7;padding-left:8px;line-height:17px;}
             &.br{border-right:solid 1px #D7D7D7;padding-right:8px;
               a{color:$base_color;line-height:17px;}
             }
            
            a {
              color: #282828;
              text-decoration: none;
              &#info_user {color:#000;padding-right: 10px;}
              &#account {
                  background: image-url('common/arrow-down-pink.png') right 7px no-repeat;color: #000;text-align: left;width: auto;min-width: 70px;height: 17px;margin: -6px 0 0;padding: 5px 20px 5px 8px;display: inline-block;border: 1px #FFF solid;float: none;line-height:17px;
                  &:hover, &.hover {text-decoration: none;border-color: #CCC;box-shadow:0px 2px 5px #CCC;color: #ef3742;}
                &:hover {color: #ef3742;}
              }
            }  
            div.my_account {position: absolute;background: #FFF;padding: 5px 0;display: none;top: 17px;left: 0;z-index: 1000;border-left: 1px #CCC solid;border-right: 1px #CCC solid;border-bottom: 1px #CCC solid;box-shadow:0px 4px 5px #CCC;
              ul {
                margin: 0 0 0 5px;
                li {margin-top:8px;text-align: left;width: 100%;display: block;clear: both;width: 90px !important;
                  a {color: #000;letter-spacing: 0;margin: 0;display: block;clear: both;
                    &:hover {color: #ef3742;}
                  }
                  &:last-child, &.last {
                    a {margin: 0;}
                  }
                }
              }
            }
            &:hover {
              div.my_account {display: block;}
            }
          }
        }
      }
      /*------ END USER MENU ----*/
      
      /*------ BOX LOGIN -------*/
      .sign-in-dropdown {display: none;position: absolute;right: 0;top: 30px;z-index: 9999;background: #FFF;border: 1px solid #BBB;padding: 12px;width: 244px;
        /*&.close {display: none;}*/
        &.open {display: block;}
      
        form {margin-bottom: 15px;
          fieldset {
            label{display: block;font-size: 11px;font-weight: bold;margin: 2px 0;}
            input {background: #FFF image-url('common/background-inputs.png') bottom repeat-x;border: 1px solid #BBB;padding: 6px 8px;width: 92%;
            
    					&#user_remember_me_login{width:auto;float:left;}	
    					&#login{float:right;margin:-17px 0 0 65px;}
    					&#user_password{margin-bottom:10px;}
              &:focus {outline: none;}
            }
            
      			&.buttons{
    					label{font-weight:normal !important;width:103px;}
    					a{font-size:11px;float:left;}
              input[type=submit]{background: image-url('common/login.png') no-repeat;text-indent: -9999px;width: 74px;height: 31px;display: block;border: none;cursor: pointer;}
              #user_remember_me_login{background:none;margin-right:5px;}  
    				}
          }
        }
        .login_with_facebook {padding: 10px 0 0 0;border-top: 1px #cfcfcf solid;
          a.fb_login_button{background: image-url('common/fb-loggin-button.png') no-repeat;text-indent: -9999px;width: 194px;height: 25px;margin: 0 auto;display: block;}
        }
      }
      /*------ END BOX LOGIN -------*/
      #cart_summary{position:absolute;display:none;top:111px;right:-10px;z-index:9999;width:304px;min-height:135px;max-height:388px;border:solid 1px #000;box-shadow:0 2px 5px #CCC;background:#FFF;padding:15px 0;
         .detalhe {width: 145px;background: #FFF;height: 2px;position: absolute;top: -1px;right: 0px;}
         .scroll{max-height:297px;overflow-y:auto;padding:0 32px;
            li{
              &.coupon_info{
                p{font-family: $avenir; font-size: 12px;color: #000;
                  img{float: left; margin-top: 13px; margin-right: 10px;}}
               }
               &.product_item{border-top:solid 1px #CCC;margin-top:10px;color:#000;font-size:12px;padding-top:10px;
                  p {line-height:17px;overflow:hidden;}
                  img{float:left;margin-right:14px;margin-top:10px;width:46px;}
                  h1{font-family:$avenir;text-transform:uppercase;font-size:11px;font-weight:bold;}
               }
               .big_coupon{width: 116px !important; height: 53px !important;}
               p.freight{text-align:center;color:$base_color;font-family:$avenir;text-transform:uppercase;font-size:12px;
                  span{color:#000;font-size:10px;text-transform:none;letter-spacing:1px;}
               }
               hr{height:1px;border:0;color:#CCC;background:#CCC;}
               .empty_cart{
                 text-align:center;
                 font-size:11px;
                 color:#000;
               }
            }
         }
         p.see_cart {
           text-align:center;
           margin:12px auto 0;
           clear:both;
           width: 80%;
           border-top: 1px solid #ccc;
          a.finish {
            display:block;
            width:145px;
            height:45px;
            background: image-url('common/nav/sprite_header.png') 0 -141px no-repeat;
            font-size:0;
            line-height:0;
            margin-top:7px;
            margin-left: auto;
            margin-right: auto;
          }
        }
        .coupon_warn {
          display: block;
          position: absolute;
          background-color: #c1e2be;
          border-top: 1px #ccc solid;
          border-left: 1px #ccc solid;
          border-bottom: 1px #ccc solid;
          padding: 5px 5px 5px 5px;
          left: -338px;
          width: 325px;
          top: 85px;
          line-height: 23px;
          .check {
            background: image-url('common/check-circle.png') no-repeat top left;
            display:block;
            float:left;
            margin-right: 5px;
            width: 22px;
            height: 22px;
          }
          .seta {
            background: image-url('common/seta-verde.png') no-repeat top left;
            display:block;
            position: absolute;
            width: 14px;
            height: 36px;
            top: -2px;
            left: 335px;
          }
        }
      }
      p.trade{background: image-url('common/trade_arrows.png') no-repeat top left;float:left;font-size:11px;color:#000;line-height:18px;margin-left: 10px;
         a{text-decoration:none;color:#000;padding-left: 30px;
            &:hover{text-decoration:none; color: $base_color;}
         }
      } 
      .ui-helper-hidden-accessible{display:none;}
    }
}

/*------------------
====== MENU =======
------------------*/

/*------------------
====== FOOTER ======
------------------*/
footer {height:480px;clear:both;margin-top:60px;border-top: 1px #cbcbcb solid;
  section {margin:0px auto;width:970px;padding-top:40px;
    div.box_newsletter {display: none;width: 100%;overflow: auto;margin: 0 0 20px;
      form {width: 650px;overflow: auto;margin: 0 50px 0 0;float: left;
        > * {float: left;}
        label {font-size: 17px;line-height: 38px;text-transform: uppercase;margin: 0 20px 0 0;}
        input[type="text"] {color: #939598;font-family: $avenir;font-size: 13px;width: 150px;margin: 0 15px 0 0;padding: 9px 15px;border: 1px #959595 solid;
          &:focus {outline: none;}
        }
        input[type="submit"] {background: image-url("home/bt-register.png") no-repeat;text-indent: -99999px;width: 122px;height: 33px;margin: 3px 0 0 0;display: block;border: none;cursor: pointer;}
        p {color: #6d6e71;clear: both;float: right;
          a {color: #6d6e71;text-decoration: none;
            &:hover {text-decoration: underline;}
          }
        }
      }
      h2 {color: #6d6e71;font-size: 12px;font-weight: 600;text-transform: uppercase;margin: 2px 0 0;}
    }
    dl {margin: 0 55px 35px 0;float: left;
      dt {color: #6d6e71;font-size: 12px;font-weight: 700;text-transform: uppercase;margin: 0 0 20px;}
      dd, dd a {color: #939598;font-size: 12px;text-decoration: none;margin: 0 0 4px;}
      dd a {
        &:hover {color: #bcbec0;}
      }
      dd {
        ul.social {width: 100%;overflow: auto;margin: 15px 0 0 0;
          li {
            a {background: image-url("home/social.png") no-repeat;text-indent: -99999px;width: 24px;height: 24px;margin: 0 6px 0 0;display: block;float: left;}
            &.facebook a {background-position: 0 -34px;
              &:hover {background-position: 0 0px;}
            }
            &.twitter a {background-position: -28px -34px;
              &:hover {background-position: -28px 0px;}
            }
            &.rss a {background-position: -58px -34px;
              &:hover {background-position: -58px 0px;}
            }
            &.instagram a {background-position: -89px -35px;
              &:hover {background-position: -89px 0px;}
            }
          }
        }
      }
      &.double {margin: 0 95px 0 0;
        &.payment {clear: both;}
        &.security {
          dd {float: left;}
        }
      }
    }
    p {color:#767676;font-size:10px;line-height: 13px;clear: both;padding:0 0 5px;text-align: center;
      a{text-decoration: none;color: #ef3742;}
    }
    address{margin-bottom:5px;font-size:10px;font-style:normal;text-align:center;color:#767676;}
  }
}

/*------------------
=====  CONTENT =====
------------------*/
#container{width:990px;margin:0 auto;overflow:hidden;}
#content{width:990px;overflow:visible;margin:0 auto 0;position:relative;}

/***** MODAL STYLE ****/

#modal-campaign,#overlay-campaign{display:none;position:absolute;}
#overlay-campaign{top:0;left:0;z-index:10000;width:100%;min-height:800px;background:#FFF;zoom:1;opacity:0.75;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);filter: alpha(opacity=75);}
#modal-campaign{float:left;z-index:10001;background:transparent;top:50%;left:50%;
  iframe{overflow: hidden;}
}

#modal{position: absolute;display:none;z-index:10001;overflow:hidden;background-color: #fff;border: 1px solid #000;
form{padding:12px;background:#000;color:#FFF;}
}
button.close{position:absolute;cursor:pointer;font-size:20px;background: image-url('common/close_dialog.png') no-repeat;text-indent:-9999px;width:30px;height:30px;z-index:10002;border:none;}


.watermelon {color:#ef3742;}


