@import "new_structure/common/global_stuffs";

/*** new menu ***/
div#wrapper_new_menu{position:relative;z-index:99;background:#FFF;width:100%;opacity:1;*filter: alpha(opacity=90);-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
   &.smaller {
     div.content {
       width: 990px;
       padding-right: 0;
       ul.product_anchors {
         display: none;
       }
     }
   }
   &.fixed {
     position: fixed;
     top: 0;
     z-index:999;
     padding-top:5px;
   }
}
/*** end new menu ***/

nav.menu_new{

  margin: 0 auto 5px;
  width: 990px;
  line-height: 30px;
  * {line-height: 30px;}
  .default_new{
    width: 970px;
    margin: 0 auto;
   /* overflow: hidden;*/
   position:relative;
   display: inline-block;

    li{margin-left:-1px;font-size: 10px;text-transform: uppercase;display: inline;float: left;height: 30px;
      &.liquidation{border-right: none;}
/*          &:nth-child(10){background:none;}*/
      a{border-bottom:0px;display:block;font-family: $johnston;height:28px;text-decoration: none;color: black;padding:0 11px;letter-spacing:2px;background: image-url("common/nav/menu_bar.png") no-repeat right 0;}
      a:hover, a.selecionado {border:1px solid #000;border-bottom:0px;position:relative;background: #FFF;z-index: 99;padding:0 10px;position: relative;top:-1px;}
    }
  }
  .submenu {
      font-family:$avenir;position:absolute;top:27px;background: #fff;border:1px solid #000;z-index: 1;display: none;padding:10px;
      p, a {margin:0px;border:0px;text-transform: none;line-height: 16px !important;color:#000;background: none;font-size: 12px;}
      a.link, a:hover {padding:0px !important;margin:0px !important;border:0px !important; background: #000 !important;top:0px !important;}
      a.link {color:#FFF;margin-top: 10px !important;color: #FFF;text-align: center;padding-top: 8px !important;padding-bottom: 6px !important;height:18px;letter-spacing: 1px !important;font-size: 11px !important;}
      h5 {width:100%;display: block;font-size: 10px;font-weight: bold;height:25px;margin-bottom:3px;letter-spacing: 2px;}
      ul, li {display: block;float:left;width:100%;height:auto;text-transform: none;}
      li {height: auto !important;height: 4px;min-height: 4px;line-height: 12px;margin-bottom: 6px;}
    }

  #mm_showroom, #mm_presentes, #mm_olooklet {width:130px;
    a.link {background:image-url("common/nav/arrow_megamenu.jpg") #000 no-repeat 14px center !important;}
  }

  #mm_showroom {width:170px;margin-left:1px;}

  #mm_blog, #mm_colecoes, #mm_roupas, #mm_sapatos, #mm_bolsas, #mm_acessorios, #mm_acessorios, #mm_marcas {width:260px; left:100px; padding-left:22px;
    .column {width:90px;float:left;display: block;}
    a.sub_menu {display: inline !important; color:#000 !important;background: none !important;padding:0px; letter-spacing: 0px;font-family: $avenir !important;line-height: 12px !important;}
    a.sub_menu:hover {border:0px;padding:0px;margin:0px;}
    li:hover a, li a:hover {border:0px !important;margin:0px;top:0px;}
    li {margin:0px;margin-bottom:4px;}
  }
  .last {width:80px !important;}

  #mm_blog {
    width:340px;
    .column {width:110px;}
    .second {width:150px;}
    .last {width:70px !important;}
  }

  #mm_colecoes, #mm_roupas, #mm_sapatos, #mm_acessorios, #mm_marcas {
    width: 460px;
    left:150px;
    .first {width:120px !important;}
    .image, li.image:hover {width:240px !important;}
    .image a.img {display: block;float: right;background:image-url("common/nav/colecoes.jpg") no-repeat center center;width: 207px !important;height: 242px;padding:0px;}
    .image a.img:hover {background:image-url("common/nav/colecoes.jpg") center center !important;padding:0px;margin:0px;width:207 !important;}
    br {clear:both;}
  }

  #mm_colecoes {width:500px;
    .first {width:150px !important;}
    .second {width:105px !important;}
    }

  #mm_roupas {
    width: 440px;
    left:200px;
    .image, li.image:hover {width:220px !important;}
    .image a.img {display: block;float: right;background:image-url("common/nav/roupas.jpg") no-repeat center center;width: 213px !important;height: 269px;padding:0px;}
    .image a.img:hover {background:image-url("common/nav/roupas.jpg") center center !important;padding:0px;margin:0px;width:213 !important;}
    .second {width:100px !important;}
  }

  #mm_sapatos {
    width: 445px;
    .first {width:90px !important;}
    .second {width:110px !important;}
    .image a.img {display: block;float: right;background:image-url("common/nav/sapatos.jpg") no-repeat center center;width: 269px !important;height: 236px;padding:0px;}
    .image a.img:hover {background:image-url("common/nav/sapatos.jpg") center center !important;padding:0px;margin:0px;width:269 !important;}
  }

  #mm_bolsas, #mm_acessorios {
    width: 90px;left: 417px;padding-left: 11px;
  }

  #mm_acessorios {
    width:100px;left:486px;
  }

  #mm_marcas {
    width:340px; left:530px;
    .first {width:140px !important;}
    .second {width:120px !important;}
    .last {width:80px !important;}

  }

  #mm_presentes {
    width:160px;
  }

  #mm_olooklet {right:36px;
    width:180px;
  }
  .image {margin-top: 10px;padding-bottom: 10px;}

  #mm_showroom, #mm_presentes, #mm_olooklet, #mm_blog, #mm_colecoes, #mm_roupas, #mm_sapatos, #mm_bolsas, #mm_acessorios, #mm_marcas {
    a.sub_menu:hover, ul li a.selecionado {color:#999 !important;}
  }
}
.new_sacola{
  position: relative;
  a{position: absolute;right:0px;top:-43px; text-decoration: none;display:block;height: 25px;background: image-url("common/nav/sprite_header.png") -106px -1px no-repeat;font-family: $johnston;font-size: 10px;color: #000;letter-spacing: 1px;padding:1px 0px 2px 40px;clear:both;float:right;width: 105px;
     &.full{background: image-url("common/nav/sprite_header.png") #fff fixed -208px -32px no-repeat;}
     .mini_coupon_tag{background: image-url('common/nav/sprite_header.png') -269px -113px no-repeat; width: 60px; height: 28px;top: -23px;right: 0;display: block;position: absolute;}
  }
  a.selecionado {border:1px solid #000 !important;background-color:#FFF;}
  a.cart {margin-left:1px;border-top:1px solid #fff;border-right:1px solid #fff;}
  /*a:hover, a.selecionado, a.cart:hover {border:1px solid #000;border-bottom: 0px;padding:1px 13px 2px 34px;}*/
  /*a.cart:hover {background: image-url("common/nav/sprite_header.png") -107px -1px no-repeat !important; padding:1px 13px 2px 34px !important;}
  a.full:hover {background: image-url("common/nav/sprite_header.png") -207px -32px no-repeat !important; padding:1px 13px 2px 36px !important;}*/
  span{font-family: $kepler;font-size: 10px;margin: 0;}

}

.showroom a {margin-left:1px !important;}