// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "new_structure/common/global_stuffs";
@import "new_structure/partials/home_stylist_box";
@import "new_structure/partials/lite_boxes_home";

.search_box{
  position: relative;margin-top: 15px;clear:both;float:right;
  #search_product{
    float: left;border: solid 1px #000;font-family: $avenir;font-size: 12px;font-weight: 400; width: 165px;height: 25px;line-height: 29px;color: #000;text-align: left;padding-left: 10px;padding-right: 40px;text-transform: capitalize;
  }
  input[type="submit"]{
    position: absolute;background: image-url('common/nav/sprite_header.png') -163px -153px;width: 28px;height: 27px;left: 190px;text-indent: 9999px;border:none;cursor: pointer;
  }  
}

.pagination{text-align:center;clear:both;
  &.topo{clear:none;float:right;margin:4px 3px 0 0;}
  a{display:inline-block;font:normal 13px Verdana, Arial, sans-serif;text-decoration:none;color:#A7A9AB;height:19px;line-height:22px;margin:0 3px;
    &.anterior, &.proximo{width:10px;background:image-url('catalog/sprite.png') no-repeat 2px -112px;font-size:0;}
    &.proximo{background-position:0 -137px;}
    &.current{color:#000 !important;}
    &:hover{color:$base_color;}
  }
}


#filters{float:left;width:194px;}
#search_result{float:left;width:780px;margin-bottom:20px;}
.cb{clear:both;width:100%;}

.search{margin-left: 15px;
	h1{font-size: 22px;font-family: $avenir;color: #58595b;font-weight: 500;letter-spacing: 2px;margin-bottom: 10px;border-bottom: 1px solid #b7b7b7;width: 277px;}
	h2{font-size: 17px;font-family: $avenir;color: #58595B;letter-spacing: 1px;font-weight: lighter;line-height:25px;
    b{font-size:21px;font-family: $avenir_medium;}
		span{font-weight: bold;color: $base_color;}
	  &.title-founded{font-size:21px;color:#58595B;display:inline-block;margin-bottom:30px;
      span{font-weight:normal;}
    }
  }
  .title-category{text-transform:uppercase;color:#000;font-size:12px;font-weight:bold;}
  
	.hints{font-size: 15px;font-family: $avenir;color: #58595b;text-transform: uppercase;font-weight: 600;margin-top: 20px;}
	
  ul{width: 100%;overflow: auto;
    &.hint-list{margin-top: 15px;
  		li{padding-left:25px;height:22px;display:block;font-size:15px;font-family:$avenir;color:#767779;letter-spacing:1px;font-weight:lighter;background: image-url('search/number_icon.jpg') no-repeat;
  			&.hint_one{background-position: 0 0;}
  			&.hint_two{background-position: 0 -22px;}
  			&.hint_three{background-position: 0 -44px;}
  			&.hint_four{background-position: 0 -66px;}
  		}
    }
    &.subcategory-list{color:#000;margin-bottom:30px;
      li{margin-top:4px;
        &:hover{color:$base_color;}
        a{color:#000;text-decoration:none;margin-right:3px;
          &:hover{color:$base_color;}
        }
      }  
    }
    &.search-results-list{
      li{display:inline-block;width:200px;margin:0 50px 25px 0;
        a{color:#000;text-decoration:none;font-size:13px !important;
          .name{color:#000;font-size:13px !important;height:18px;overflow:hidden;}
          b{text-transform:uppercase;}
          img{border-bottom:solid 1px #B9BABE;margin-bottom:5px;width:200px;height:auto;}
          .old {text-decoration:line-through;}
          .txt-pink{color: $base_color;font-size: 15px;font-weight: bold;}
          
        }  
      }
    }
	}
}
.show_more{
  clear: both;
  height: 100px;
  margin-left: -12px;
  .categories{
    background: none !important;
  }
  p.title{
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    height: 15px;
    margin-bottom: 5px;
    background: none !important;
  }
}

