@import "new_structure/common/global_stuffs";
#wishlist {
	width:100%;
	h1 {
		width:100%;
		display: block;
		font-size: 16px;
    margin-bottom:20px;
    font-family: $bt_font;
    text-transform: uppercase;
		span {
      font-weight: normal;
      text-transform: none;
      background: image-url('common/wishlist/bg_coracao.png') no-repeat top left;
      padding-left:30px;
    }
	}
  div.product {
    width:215px;
    height:415px;
    float:left;
    padding:10px 10px 0 10px;
    border:1px solid #d1d1d1;
    margin:0 5px 10px 5px;
    position: relative;
    font-family: $verdana;
    font-size: 11px;
    * {line-height: 17px;}
    .img {
      width:100%;
      height:322px;
      position: relative;
      margin-bottom:10px;
      a.add_product,
      a.added_product {
        position: absolute;
        z-index: 99;
        padding:10px;
        padding-right:40px;
        border:1px solid #d1d1d1;
        border-radius: 6px;
        font-size: 11px; 
        text-transform: uppercase;
        font-weight: bold;
        color:#fff;
        text-decoration: none;
        width:76px;
        height:17px;
        background: image-url('common/wishlist/bg_coracao.png') #f03644 no-repeat 96px -31px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -18px 0 0 -64px;
        text-align: center;
        display: none;
        letter-spacing: 1px;
      }
      a.add_product:hover {
        -webkit-box-shadow: 1px 0px 28px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 0px 28px -4px rgba(0,0,0,0.75);
        box-shadow: 1px 0px 28px -4px rgba(0,0,0,0.75);
      }
      a.added_product {
        background-position: 96px -70px;
        background-color:#fff;
        color:#000;
        letter-spacing: 0px;
      }
      .async {
        width:100%; 
        position: absolute;
        bottom:0px;
        img {
          width:100%;
          position: absolute;
          bottom:0px;
        }
      }
    }
    h2, h3, h4 {
      width:100%;
      display: block;
    }
    h3 {
      font-weight: normal;
      text-transform: uppercase;
    }
    .value {
      font-weight: bold;
    }
  }
  ul.size {
    width:100%;
    display: block;
    margin:5px 0;
    li {
      display: inline;
      padding:2px;
      text-align: center;
      margin-right:2px;
      border:1px solid #e1e1e1;
      font-weight: bold;
      font-size: 10px;
      &.selected{
        color:red;
        border-color: red;
      }
    }
  }
}