@import 'new_structure/common/global_stuffs';
form.login{
    input[type=submit] {
    	width: 74px;
    	height: 31px;
    	display: block;
    	border: none;
    	cursor: pointer;
    	font-size: 15px;
    	text-transform: uppercase;
    	letter-spacing: 2px;
    	@include bt_color($primary_bt_color, $primary_bt_color_hover);
    }
}
