form.login{
    input[type=submit] {
      background: image-url('common/login.png') no-repeat;
      text-indent: -9999px;
      width: 74px;
      height: 31px;
      display: block;
      border: none;
      cursor: pointer;
    }
}
