@import 'new_structure/common/global_stuffs';

#modal_footer{clear: both;width: 100%;height: 115px;background-color: #e6aedb;z-index: 9999;position: fixed;bottom: 0;left: 0;display:none;
  
  .modal{position:relative;width:1025px;height:115px;margin:0 auto;
    .modal_container{position:relative;overflow:hidden;width:750px;height:115px;} 
    .presentation{position:absolute;top:28px;left:20px;z-index:1;
      h1{font-family: 'johnston', arial, sans-serif;font-size: 27px;line-height:18px;}
      h2{font-family: 'avenir', arial, sans-serif;font-size: 14px;font-weight: lighter;margin-top:8px;}
      p{margin-top:8px;font-size:12px;color:#000;}
      input{margin:0;}
    }
    .form{position:absolute;top:0px;right:-577px;width:580px;margin-left:150px;text-align:center;font-family:$avenir_medium;color:#000;padding-top:10px;/*display:none;*/
      p{height:25px;line-height:25px;font-size:17px;
        &.error{background:image-url('common/sprite_modal_footer.png') no-repeat -45px 0;}
        .error-msg{font-size:14px;display:none;}
      }
      input{width:570px;height:48px;border:solid 1px #A7A9AB;font-size:20px;text-align:center;color:#BCBEC0;
        &.txt-black{color:#000;}
        &.error{border:solid 1px #F00;}  
      }
    }
    .ok-msg{position:absolute;top:30px;left:220px;width:509px;height:29px;border:solid 1px #B2D079;background:#D9F99F;padding:10px 0 10px 20px;display:none;
      p{height:30px;font-size:15px;background: image-url('common/sprite_modal_footer.png') no-repeat 0 -165px;padding-left:40px;color:#000;line-height:18px;}
    }
    #ok-msg2{width:480px; 
      p{background:none;}
    }    
    .register, .register2, .close{position: absolute;cursor: pointer;border: none;text-indent: -99999px;bottom:35px;right:40px;} 
    .register, .register2{width: 152px;height: 37px;background: image-url('common/sprite_modal_footer.png') 0 -82px;
      &:hover{background: image-url('common/sprite_modal_footer.png') 0 -36px;}
    }
    .register2{display:none;}
    .close{width: 20px;height: 20px;background: image-url('common/sprite_modal_footer.png') 0 0;bottom:105px;right:20px;}
    
    .termos{position:absolute;right:55px;bottom:13px;font-size:11px;display:none;color:#000;
      a{color:#000;font-size:11px;}
    }
    img{position:absolute;bottom:-1px;right:250px;}
  }
}
/*** BOX REMEMBERED ***/
.box-continue{
	position:relative;text-align:center;border:solid 1px #000;background:#FFF;width:540px;height: 270px;margin-top: 10px;
	h3{font-family:$johnston;font-size:30px;letter-spacing: 1px;margin-top: 30px;text-transform: uppercase;}
	p{font-family:$avenir;font-size:14px;margin-top: 25px;line-height: 18px;}
	.desconto{font-family:$avenir;font-size:14px;margin-top: 40px;margin-bottom: 5px !important; line-height: 18px;}
  .close_pink{
    width: 255px;
    height:55px;
    cursor:pointer;
    border:none;
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.49);
    -moz-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.49);
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.49);
    @include bt_color($primary_bt_color, $primary_bt_color_hover);
  }
}
	.close{top:0 !important;right:4px !important;}



