@import 'new_structure/common/global_stuffs';
@import 'new_structure/common/filters';

/*******  MENU ******/
#side_bar_menu{
  margin-left:10px;
  dl{font-family:$avenir;color:#000;}
  dt{float:left;font-size:11px;text-transform:uppercase;margin-bottom:5px;font-weight:bold;}
  dd{clear:both; margin: 0;
    &.last{margin-bottom:25px;}
    a{text-decoration:none;color:#000;font-size:13px;
      &:hover{color:#EF3742;}
      &.selected{color:#EF3742;}
    }
  }
}
.show_more{
  margin-left: 0;
  margin-top: 20px;
  a{
    font-size: 13px;
    color: #000;
    text-decoration: none;
    &:hover{
      color: $pink;
    }
  }
}
/******** INTERNAS *******/
section{margin-top:10px;
  &#side_bar_menu{float:left;width:160px;}
}
