
%section#register
  %div.header_login
    %h1 
      Já faz parte?
      %span Entre
    %h2= image_tag "landing_page/olook-landing-logo.png", :title => "Olook"
  %div.bg
    %div.register-content.content-area-A
      %p.bt-acesse
        = link_to "Quiz", "#"