- content_for :head do
  = stylesheet_link_tag "new_structure/section/olookmovel"
- content_for :content do
  = content_for?(:news_content) ? yield(:news_content) : yield

.header_login
  %h2= image_tag "landing_page/olook_logo.png", :title => "Olook"

#landing-content
  .join
    %p
      Cadastre-se, ganhe 
      %span
        15% de desconto 
        e concorra a R$ 150   
      em produtos Olook
    =form_for @campaign_email, url: olookmovel_path(@campaign_email), method: 'post', html:{ :target => '_parent' } do |f|
      %fieldset
        =f.label :email, "E-mail"
        =f.text_field :email
      %fieldset
        =f.label :phone, "Telefone ", :class => "phone"
        =f.text_field :phone
      %fieldset.botoes
        =f.submit :value => "ENTRAR", :class => "bt-enter"

- content_for :footer do
  = javascript_include_tag "campaign_emails"
