<h4>Atualização recebida as <b><%= format_time(event.created_at) %></b></h4>
	<img src='/assets/order_timeline/<%= shipping_service_art(order) %>' width='75px'> 
          <ul style='font-size:13px'>
            <li>Tracking code: <%= link_to_tracking_code(order) %></li>
          </ul>