<ul class="products_list">
  <% if products %>
    <% products.each_with_index do |product, index| %>
      <li>
        <%= link_to product, onclick: (track_event(ga_category, "Product#{index+1}", product.id) unless ga_category.nil?) do %>
          <%= image_tag(product.send(image_method ||= :showroom_picture) || "fake/showroom-product.png", :alt => product.name) %>
          <h1><%= product.formatted_name(16) %></h1>
          <p><%= number_to_currency product.retail_price %></p>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
