<% if @hits["found"] == 0 %>
  <h2>"Nenhum produto encontrado."</h2>
<% else %>
  <ul>
    <% @hits["hit"].each do |hit| %>
      <li>
        <% if hit['data']['image'] %>
          <p class="image"><img src="<%= hit['data']['image'].first %>"></img></p>
        <% end %>
        <p class="product_category"><%= hit['data']['categoria'].first %></p>
        <p class="product_name"><%= link_to hit["data"]["name"].first, product_path(hit["id"]) %></p>
      </li>
    <% end %>
  </ul>
<% end %>