$("#result").html("")
<% @hits["hit"].each do |hit| %>
  $("#result").append("<li>")
  <% if hit['data']['image'] %>
    $("#result").append("<img src=<%= hit['data']['image'].first %> >")
  <% end %>
  $("#result").append('<%= link_to hit["data"]["name"].first, product_path(hit["id"]) %>')
  $("#result").append(" - <%= hit['data']['categoria'].first %>")
  $("#result").append("</li>")
<% end %>
