<% content_for :head do %>
  <%= stylesheet_link_tag "section/my_account" %>
<% end %>

<div id="box_title_my_account">
  <div class="content">
    <h1>Minha conta</h1>
    <h2>Edite suas informações pessoais, altere ou adicione endereços, melhore sua vitrine e acompanhe seus pedidos</h2>
  </div>
</div>
<div id="my_account" class="addresses">
  <div id="box_menu">
    <%= render "shared/my_account/menu" %>
  </div>
  <div id="data">
    <section class="main">
      <%= render "shared/address/list", :addresses => @addresses, :my_account => true %>
    </section>
  </div>
</div>
