<% content_for :head do %>
  <%= stylesheet_link_tag "section/my_account" %>
<% end %>

<div id="my_account" class="addresses">
  <div id="box_menu">
    <%= render "shared/my_account/menu" %>
  </div>
  <div id="data">
    <section class="main">
      <%= render "shared/address/list", :addresses => @addresses, :my_account => true %>
    </section>
  </div>
</div>
