/*------------------------
==== GLOBAL VARIABLES ====
------------------------*/
/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/* line 2, ../../../../app/assets/stylesheets/new_structure/partials/_home_stylist_box.css.scss */
.other-products {
  clear: both;
  border-top: solid 1px #CBCBCB;
  margin: 20px 0 50px;
  color: #58595B;
  font-size: 21px;
  padding-top: 28px;
  font-style: italic;
}

/*********************
 HOME STYLIST PARTIAL
*********************/
/* line 6, ../../../../app/assets/stylesheets/new_structure/partials/_home_stylist_box.css.scss */
section#stylists {
  position: relative;
  min-height: 270px;
  margin: 0 0 30px;
  padding: 10px 0 30px;
}
/* line 7, ../../../../app/assets/stylesheets/new_structure/partials/_home_stylist_box.css.scss */
section#stylists p.title {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 30px;
  color: #000;
  font-weight: lighter;
  letter-spacing: 3px;
}
/* line 8, ../../../../app/assets/stylesheets/new_structure/partials/_home_stylist_box.css.scss */
section#stylists p.title span {
  color: #ef3742;
}
/* line 12, ../../../../app/assets/stylesheets/new_structure/partials/_home_stylist_box.css.scss */
section#stylists h2 {
  position: absolute;
  background: url(/dev-assets/home/olook-loved.jpg) no-repeat;
  text-indent: -99999px;
  width: 104px;
  height: 104px;
  display: block;
  top: 0;
  left: 75px;
}
/* line 13, ../../../../app/assets/stylesheets/new_structure/partials/_home_stylist_box.css.scss */
section#stylists ul.products_list {
  width: 100%;
  overflow: auto;
}
/* line 14, ../../../../app/assets/stylesheets/new_structure/partials/_home_stylist_box.css.scss */
section#stylists ul.products_list li {
  margin: 0 0 0 42px;
  float: left;
}
/* line 15, ../../../../app/assets/stylesheets/new_structure/partials/_home_stylist_box.css.scss */
section#stylists ul.products_list li a {
  color: #000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  float: left;
}
/* line 16, ../../../../app/assets/stylesheets/new_structure/partials/_home_stylist_box.css.scss */
section#stylists ul.products_list li a h1 {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 12px;
  font-weight: 600;
}
