@charset "UTF-8";
/*------------------------
==== GLOBAL VARIABLES ====
------------------------*/
/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/************* Banner temporário liquida *************/
/* line 3, ../../../../app/assets/stylesheets/new_structure/partials/_liquida.scss */
.flash_promo {
  width: 990px;
  height: 99px;
  margin-bottom: 20px;
}
/* line 4, ../../../../app/assets/stylesheets/new_structure/partials/_liquida.scss */
.flash_promo ul {
  width: 990px;
  height: 98px;
}
/* line 6, ../../../../app/assets/stylesheets/new_structure/partials/_liquida.scss */
.flash_promo ul li {
  float: left;
  margin-right: 15px;
}
/* line 7, ../../../../app/assets/stylesheets/new_structure/partials/_liquida.scss */
.flash_promo ul li.static {
  width: 582px;
  margin-right: 0;
}
/* line 9, ../../../../app/assets/stylesheets/new_structure/partials/_liquida.scss */
.flash_promo ul li p a {
  display: inline-block;
  height: 98px;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  color: #000;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  text-indent: 99999px;
}
/* line 10, ../../../../app/assets/stylesheets/new_structure/partials/_liquida.scss */
.flash_promo ul li p a.cloths {
  width: 76px;
  background: url(/dev-assets/common/full_categorias.jpg) no-repeat -11px 0;
}
/* line 11, ../../../../app/assets/stylesheets/new_structure/partials/_liquida.scss */
.flash_promo ul li p a.cloths:hover {
  background: url(/dev-assets/common/full_categorias_hover.jpg) no-repeat -11px 0;
}
/* line 13, ../../../../app/assets/stylesheets/new_structure/partials/_liquida.scss */
.flash_promo ul li p a.shoes {
  width: 76px;
  background: url(/dev-assets/common/full_categorias.jpg) no-repeat -113px 0;
}
/* line 14, ../../../../app/assets/stylesheets/new_structure/partials/_liquida.scss */
.flash_promo ul li p a.shoes:hover {
  background: url(/dev-assets/common/full_categorias_hover.jpg) no-repeat -113px 0;
}
/* line 16, ../../../../app/assets/stylesheets/new_structure/partials/_liquida.scss */
.flash_promo ul li p a.bags {
  width: 76px;
  background: url(/dev-assets/common/full_categorias.jpg) no-repeat -215px 0;
}
/* line 17, ../../../../app/assets/stylesheets/new_structure/partials/_liquida.scss */
.flash_promo ul li p a.bags:hover {
  background: url(/dev-assets/common/full_categorias_hover.jpg) no-repeat -215px 0;
}
/* line 19, ../../../../app/assets/stylesheets/new_structure/partials/_liquida.scss */
.flash_promo ul li p a.accessories {
  margin-right: 0;
  width: 76px;
  background: url(/dev-assets/common/full_categorias.jpg) no-repeat -317px 0;
}
/* line 20, ../../../../app/assets/stylesheets/new_structure/partials/_liquida.scss */
.flash_promo ul li p a.accessories:hover {
  background: url(/dev-assets/common/full_categorias_hover.jpg) no-repeat -317px 0;
}

/************* Fim Banner temporário liquida *************/
