/*------------------------
==== GLOBAL VARIABLES ====
------------------------*/
/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/* line 2, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product {
  clear: both;
}
/* line 5, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul.second_line li {
  margin-top: 65px;
}
/* line 7, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li {
  display: inline-block;
  width: 180px;
  margin: 25px 12px 0 0;
  position: relative;
}
/* line 8, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li:nth-child(5n) {
  margin-right: 0;
}
/* line 9, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li:hover .spy {
  visibility: visible;
}
/* line 11, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li a {
  color: #000;
  text-decoration: none;
  font-size: 13px;
  /*display:inline-block;*/
}
/* line 12, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li a.spy {
  visibility: hidden;
  position: absolute;
  bottom: 80px;
  left: 0;
  height: 32px;
  width: 100%;
  background: url(/dev-assets/common/bg-spy.png);
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 32px;
  z-index: 10;
}
/* line 14, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li a.spy span {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding-right: 30px;
  background: url(/dev-assets/moments/sprite.png) no-repeat right -178px;
}
/* line 15, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li a.spy span:hover {
  color: #ef3742;
}
/* line 19, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li a p {
  margin-top: 20px;
}
/* line 20, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li a p span, .container_product ul li a p strong {
  white-space: no-wrap;
  overflow: hidden;
  /*display:inline-block;*/
  height: 18px;
}
/* line 21, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li a p span.brand, .container_product ul li a p strong.brand {
  text-transform: uppercase;
}
/* line 22, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li a p span.name, .container_product ul li a p strong.name {
  float: left;
  clear: both;
}
/* line 24, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li a p.warn {
  position: absolute;
  color: #FFF;
  font-size: 11px;
  font-style: oblique;
  text-align: center;
  text-transform: uppercase;
  line-height: 18px;
  /*display: none;*/
}
/* line 25, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li a p.warn.sold_out {
  left: 0;
  top: 60px;
  background: url(/dev-assets/moments/sprite.png) no-repeat 0 -76px;
  line-height: 25px;
  padding-left: 13px;
  text-align: left;
  width: 92px;
  color: #000;
}
/* line 26, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li a p.warn.quantity {
  background: none #FFF !important;
  border: 1px solid #000;
  color: #000;
  font-family: 'avenir_medium';
  font-weight: 600;
  height: 20px;
  width: 74px;
  line-height: 20px !important;
  text-align: center;
  word-spacing: -1px;
}
/* line 27, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li a p.warn.shoe_size {
  background: none #000;
  height: 20px;
  left: 25px !important;
  line-height: 20px !important;
  top: 81px !important;
  width: 55px;
  word-spacing: -1px;
}
/* line 28, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li a p.warn.percentage {
  right: 15px;
  top: 70px;
  background: url(/dev-assets/moments/sprite.png) no-repeat 0 -109px;
  width: 60px;
  height: 47px;
  font-size: 14px;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  text-align: center;
  padding-top: 13px;
}
/* line 30, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li a p.warn.percentage span {
  font-size: 14px;
  font-weight: normal;
}
/* line 35, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li a img {
  width: 100%;
  height: auto;
  /* new size photo */
}
/* line 36, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li a img.async {
  width: 146px;
}
/* line 40, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li ul.color_list li {
  width: 15px;
  display: inline-block;
  margin: 5px 3px 0 0;
}
/* line 42, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li ul.color_list li a img {
  border: solid 2px #C2C2C2;
}
/* line 43, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li ul.color_list li a.selected img {
  border: solid 2px #000;
}
/* line 47, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li p.facebook_like_button {
  padding-top: 7px;
}
/* line 52, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product .see-more {
  border-top: solid 1px #CBCBCB;
  text-align: center;
  margin: 50px 0 40px;
  position: relative;
}
/* line 53, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product .see-more a {
  position: absolute;
  top: -9px;
  background: #FFF;
  padding: 0 10px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 54, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product .see-more a:hover {
  color: #ef3742 !important;
}
/* line 55, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product .see-more a.clothes, .container_product .see-more a.shoes {
  left: 360px;
}
/* line 56, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product .see-more a.purses {
  left: 362px;
}
/* line 57, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product .see-more a.accessories {
  left: 347px;
}
