/**************************
BOX DE FILTROS SELECIONADOS
 **************************/
/*------------------------
==== GLOBAL VARIABLES ====
------------------------*/
/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/* line 6, ../../../../app/assets/stylesheets/new_structure/partials/_voce_esta_em.scss */
section.filters {
  float: left;
  width: 763px;
  margin: 10px 0 30px;
  color: #000;
  border: solid 1px #A7A9AC;
  padding: 10px 10px 4px;
  /*display:none;
   */
}
/* line 15, ../../../../app/assets/stylesheets/new_structure/partials/_voce_esta_em.scss */
section.filters p {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  margin-right: 10px;
  line-height: 22px;
}
/* line 24, ../../../../app/assets/stylesheets/new_structure/partials/_voce_esta_em.scss */
section.filters p span {
  margin-left: 10px;
}
/* line 29, ../../../../app/assets/stylesheets/new_structure/partials/_voce_esta_em.scss */
section.filters li {
  float: left;
  height: 17px;
  margin-right: 10px;
  text-transform: capitalize;
  font-size: 12px;
  position: relative;
  line-height: 18px;
  border: solid 1px #D9D9D9;
  padding: 0 4px;
  margin-bottom: 5px;
}
/* line 41, ../../../../app/assets/stylesheets/new_structure/partials/_voce_esta_em.scss */
section.filters li span {
  float: left;
}
/* line 44, ../../../../app/assets/stylesheets/new_structure/partials/_voce_esta_em.scss */
section.filters li a {
  float: left;
  text-decoration: none;
  font-size: 0;
  line-height: 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url(/dev-assets/collections/sprite.png) -270px -119px no-repeat;
  margin: 2px 0 0 5px;
}
/* line 55, ../../../../app/assets/stylesheets/new_structure/partials/_voce_esta_em.scss */
section.filters li.clean a {
  display: inline-block;
  height: 14px;
  overflow: hidden;
  width: 75px;
  font-size: 12px;
  line-height: 14px;
  color: #000;
  text-transform: none;
  background-position: right -119px;
  padding-right: 3px;
}

/* adjust IE */
/* line 70, ../../../../app/assets/stylesheets/new_structure/partials/_voce_esta_em.scss */
html.win.ie section.filters li a {
  margin-top: 3px;
}
