<h2>Novo serviço de entrega</h2>

<div class="inner">
  <%= render 'form' %>
</div>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'Voltar', admin_shipping_services_path %></li>
<% end %>
