<section id="user_column">
  <div class="avatar">
    <%= image_tag user_avatar(@user) %>
  </div>
  <h1><%= @user.name %></h1>
  <div class="friends_list">
    <h2>Minhas Amigas</h2>
    <ul>
      <%= render "friends_list", :friends => friends %>
    </ul>
    <%= link_to "Não vê suas amigas? Atualize sua lista.", update_friends_list_path(:format => :js), :remote => true, :class => "update" %>
  </div>
</section>
