<% content_for :head do %>
  <%= stylesheet_link_tag "section/friends" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "friends" %>
<% end %>

<section id="friends" class="home">
  <%= render "user_column" %>
  <section id="friends_content">
    <h1>Adicione suas amigas e compartilhe sua vitrine</h1>
    <div id="quiz_container">
      <p>Teste</p>
    </div>
  </section>
</section>
