<% content_for :head do %>
  <%= stylesheet_link_tag "section/friends" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "friends" %>
<% end %>

<section id="friends" class="showroom">
  <%= render "user_column" %>
  <section id="friends_content">
    <div id="friend_info">
      <div class="avatar_mask">
        <%= image_tag "/assets/fake/fb-friend.png" %>
      </div>
      <h2>Você está vendo a vitrine de:</h2>
      <h1>Raul Souza Lima</h1>
    </div>
  </section>
</section>
