<% content_for :head do %>
  <%= stylesheet_link_tag "section/my_account" %>
<% end %>

<div id="my_account" class="orders">
  <div id="box_menu">
    <%= render "shared/my_account/menu" %>
  </div>
  <div id="data">
    <div class="box_title">
      <h1 class="orders">Meus Pedidos</h1>
    </div>
    <div class="order_status">
      <h1>Número do Pedido: <span>23456698002</span></h1>
      <h2><strong>Status do seu pedido:</strong> Seu pedido foi feito e estamos aguardando aprovação da operadora de crédito.</h2>
      <ul id="status" class="class1">
        <li class="state1">Pedido Efetuado</li>
        <li class="state2">Pagamento</li>
        <li class="state3">Separando Pedido</li>
        <li class="state4">Saiu para Entrega</li>
      </ul>
    </div>
  </div>
</div>
