%h1 Dashboard

%h3 Relatórios:

.inner
  .dashboard_report_buttons
    = link_to "Status dos pedidos", admin_orders_statuses_path, :class => "button", id: "order_status"
    %br
    = link_to "Entregas", admin_orders_deliveries_path, :class => "button", id: "order_delivery_status"
