<h1>Dashboard</h1>

<h2>Operações</h2>

<table>
<tr>
	<th>Prazo para despacho</th>
	<th>Pago</th>
	<th>Aguardando Separação</th>
	<th>Despachado</th>
	<th>Entregue</th>
	<th>TOTAL</th>
</tr>

<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
</table>