-@url_builder.set_path_positions '/:category:/-:subcategory::brand:-/-:care::color::size::heel:_'
%h2=filter_link_to(@url_builder.add_filter(:category, "sapato"), "Sapato")
%ul
  -@url_builder.set_params "category".to_sym, "sapato"
  -@shoes.each do |shoe|
    %li=filter_link_to(@url_builder.add_filter(:subcategory, shoe), shoe.chomp)

%h2=filter_link_to(@url_builder.add_filter(:category, "roupa"), "Roupa")
%ul
  -@url_builder.set_params "category".to_sym, "roupa"
  -@cloths.each do |cloth|
    %li=filter_link_to(@url_builder.add_filter(:subcategory, cloth), cloth.chomp)

%h2=filter_link_to(@url_builder.add_filter(:category, "acessorio"), "Acessório")
%ul
  -@url_builder.set_params "category".to_sym, "roupa"
  -@accessories.each do |accessory|
    %li=filter_link_to(@url_builder.add_filter(:subcategory, accessory), accessory.chomp)

%h2=filter_link_to(@url_builder.add_filter(:category, "bolsa"), "Bolsa")
%ul
  -@url_builder.set_params "category".to_sym, "roupa"
  -@bags.each do |bag|
    %li=filter_link_to(@url_builder.add_filter(:subcategory, bag), bag.chomp)

-@url_builder.set_path_positions '/marcas/:brand:/-:category::subcategory:-/-:care::color::size::heel:_'
-@url_builder.set_params "category".to_sym, nil
%h2=filter_link_to(@url_builder.current_filters, "Marcas")
%ul
  -@brands.each do |brand|
    %li=filter_link_to(@url_builder.add_filter(:brand, brand), brand.chomp)

-@url_builder.set_path_positions '/colecoes/:collection_theme:/-:category::subcategory::brand:-/-:care::color::size::heel:_'
-@url_builder.set_params "category".to_sym, nil
%h2=filter_link_to(@url_builder.current_filters, "Coleções")
%ul
  - @collection_themes.each do |collection|
    %li=filter_link_to(@url_builder.add_filter(:collection_theme, collection.slug.parameterize), collection.name)


