<div class="login">
  <p class="title-box">JÁ TENHO CADASTRO <br /><span>Então é só entrar ;)</span></p>
  <%= render "users/sessions/form_user" %>
</div>

<div class="register">
  <p class="title-box">QUERO ME CADASTRAR</p>
  <%= link_to "Cadastrar", new_half_user_session_path %>
</div>  