
<div class="login">
  <p>JÁ TENHO CADASTRO</p>
<%= render "users/sessions/form_user" %>
</div>
<br /><br /><br />
<div class="register">
  <p>QUERO ME CADASTRAR</p>
  <%= link_to "Cadastrar", new_checkout_login_path %>
</div>  