%html
  %head
    %meta{"http-equiv" => "Content-Type", "content" => "text/html; charset=UTF-8"}
    %title olook
  %body
    %h1 Sessões Removidas com Sucesso!
    %h2
      data:
      = @formatted_starting_date
