
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>olook</title>
  </head>    
  <body bgcolor="#ffffff">
  <table border="0" align="center" cellpadding="0" cellspacing="0" width="620">
<tr>
  <td><a href="topo"><img src="http://cdn.olook.com.br/assets/emailmkt/extra/outubro2013/20131015_bemvinda/ciimg_01.jpg" alt="" border="0" style="display:block"></a></td>
</tr>

<tr>
    <td>
      <table width="620" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="38" height="38"><a href="2"><img src="http://cdn.olook.com.br/assets/emailmkt/extra/outubro2013/20131015_bemvinda/ciimg_02.jpg" alt="" border="0" style="display:block"></a></td>
        <td width="272" height="38"><font face="Verdana, Helvetica, Arial, Sans-Serif" Size="2" color="#000000">Olá  <%= @reseller.first_name %>!</font></td>
        <td width="310" height="38"><img src="http://cdn.olook.com.br/assets/emailmkt/extra/outubro2013/20131015_bemvinda/ciimg_04.jpg" alt="" border="0" style="display:block"></td>
      </tr>  
    </table>
  </td>
</tr>

<tr>
  <td><a href="topo"><img src="http://cdn.olook.com.br/assets/emailmkt/extra/outubro2013/20131015_bemvinda/ciimg_05.jpg" alt="" border="0" style="display:block"></a></td>
</tr>
<tr>
  <td><a href="topo"><img src="http://cdn.olook.com.br/assets/emailmkt/extra/outubro2013/20131015_bemvinda/ciimg_06.jpg" alt="" border="0" style="display:block"></a></td>
</tr>
<tr>
  <td><a href="topo"><img src="http://cdn.olook.com.br/assets/emailmkt/extra/outubro2013/20131015_bemvinda/ciimg_07.jpg" alt="" border="0" style="display:block"></a></td>
</tr>
<tr>
  <td><a href="topo"><img src="http://cdn.olook.com.br/assets/emailmkt/extra/outubro2013/20131015_bemvinda/ciimg_08.jpg" alt="" border="0" style="display:block"></a></td>
</tr>
<tr>
  <td><a href="topo"><img src="http://cdn.olook.com.br/assets/emailmkt/extra/outubro2013/20131015_bemvinda/ciimg_09.jpg" alt="" border="0" style="display:block"></a></td>
</tr>
  </table>
  </body>
</html>


