<!DOCTYPE>
<html>
  <head>
    <title>
    </title>
    <meta charset="utf-8">
    <style type="text/css">html,body{margin: 0;padding: 0;} </style>
  </head>
  <body link="#ef3742" alink="#ef3742" vlink="#ef3742">
    <table cellspacing="0" cellpadding="0" border="0" width="100%" bgcolor="#fff" align="center">
      <tr>
        <td height="4" bgcolor="#000"></td>
      </tr>
      <tr>
        <td valign="top">
          <table cellspacing="0" cellpadding="0" border="0" width="620" bgcolor="#fff" align="center">
            <tr>
              <td colspan="2"><img src="http://cdn.olook.com.br/assets/base/revendedoras/olook_logo.jpg"></td>
            </tr>
            <tr>
              <td colspan="2" align="center"><font face="trebuchet ms" size="4"><strong>BEM-VINDA REVENDA OLOOK</strong></font></td>
            </tr>
            <tr>
              <td width="40"></td>
              <td align="left">
                <p>
                  <font face="trebuchet ms" size="2"><br><br>Olá <%= @reseller.first_name %>,
                    <br><br>Obrigada por seu interesse em revender os produtos da marca Olook.
                    <br><br>Nossa equipe está analisando o seu cadastro e em breve lhe daremos um retorno.
                    <br><br>Enquanto aguarda o nosso contato, que tal já ir dando uma olhadinha 
                    em alguns produtos da marca Olook?
                  </font>
                </p>
              </td>
              <td width="40"></td>
            </tr>
            <tr>
              <td colspan="2">
                <a href="http://www.olook.com.br"><img src="http://cdn.olook.com.br/assets/base/revendedoras/bt_ver_colecao.jpg"></a>
              </td>
            </tr>
            <tr>
              <td width="40"></td>
              <td align="left">
                <p>
                  <font face="trebuchet ms" size="2">Abraços,
                    <br><br>Equipe Olook
                    <br><a href="www.olook.com.br" style="text-decoration:none">www.olook.com.br</a>
                  </font>
                </p>
              </td>
              <td width="40"></td>
            </tr>
          </table>  
        </td>
      </tr>
    </table>
  </body>
</html>
