<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Olook</title>
</head>

<body bgcolor="#ffffff">

<!-- rpcampaign: RP_##id_campanha#-->

<table border="0" align="center" cellpadding="0" cellspacing="0" width="620">
  <!-- topo -->

  <!-- logo e redes sociais -->
  <tr>
    <td>
      <table cellpadding="0" cellspacing="0" width="100%" bgcolor="#fff">
        <tr>
            <!-- logo -->
            <td width="189">
            <a href="http://www.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=vitrine_pronta_24h">

            <img src="http://cdn.olook.com.br/assets/emailmkt/topo_barra/logo.jpg" alt="todos os meses uma nova coleção de sapatos, bolsas e acessórios" border="0" title="todos os meses uma nova coleção de sapatos, bolsas e acessórios" style="display:block"></a></td>

            <!-- gif -->
            <td width="212" align="left">
            <a href="http://www.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=vitrine_pronta_24h">

            <img src="http://cdn.olook.com.br/assets/emailmkt/topo_barra/frases_corrigido.gif" alt="Todos os produtos por R$69,90 R$99,90 R$129,90 ou 179,90. Frete gratuito a partir de R$120 e devolu&ccedil;&atilde;o f&aacute;cil e gratuita. Todos os meses uma coleção nova para voc&ecirc;." border="0" title="Todos os produtos por R$69,90 R$99,90 R$129,90 ou 179,90. Frete gratuito a partir de R$120 e devolu&ccedil;&atilde;o f&aacute;cil e gratuita. Todos os meses uma coleção nova para voc&ecirc;." style="display:block"></a></td>

            <!-- redes sociais -->
            <td width="219" bgcolor="#FFFFFF" align="right">
                <table cellpadding="0" cellspacing="0" border="0" width="140">
                    <tr>
                        <td><a href="http://www.twitter.com/olook"><img src="http://cdn.olook.com.br/assets/emailmkt/topo_barra/ico_tw.jpg" border="0" style="display:block"></a></td>
                        <td><a href="http://www.facebook.com/olook"><img src="http://cdn.olook.com.br/assets/emailmkt/topo_barra/ico_fb.jpg" border="0" style="display:block"></a></td>
                        <td><a href="http://blog.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=top_sm&utm_content=iconeblog"><img src="http://cdn.olook.com.br/assets/emailmkt/topo_barra/ico_blog.jpg" border="0" style="display:block"></a></td>
                    </tr>
                </table>
            </td>

          </tr>
        </table>
      </td>
    </tr>

    <!-- menu -->
  <tr>
    <td bgcolor="#000" height="42">
      <table cellpadding="0" cellspacing="0" border="0" height="42">
      <tr>
                <!-- minha vitrine -->
        <td width="155" align="center">
                <a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=vitrine_pronta_24h"><img src="http://cdn.olook.com.br/assets/emailmkt/topo_barra/menu_vitrine.jpg" border="0" alt="" style="display:block"></a></td>

                <!-- tendencias -->
                <td width="155" align="center">
                <a href="http://www.olook.com.br/tendencias/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=vitrine_pronta_24h">
                <img src="http://cdn.olook.com.br/assets/emailmkt/topo_barra/menu_tendencias.jpg" border="0" alt="" style="display:block"></a></td>

                <!-- ocasioes -->
                <td width="155" align="center">
                <a href="http://www.olook.com.br/colecoes/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=vitrine_pronta_24h">
                <img src="http://cdn.olook.com.br/assets/emailmkt/topo_barra/menu_ocasioes.jpg" border="0" alt="" style="display:block"></a></td>

                <!-- stylist -->
                <td width="155" align="center">
                <a href="http://www.olook.com.br/stylists/helena-linhares/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=vitrine_pronta_24h">
                <img src="http://cdn.olook.com.br/assets/emailmkt/topo_barra/menu_stylist.jpg" border="0" alt="" style="display:block"></a></td>
      </tr>
      </table>
    </td>
  </tr>

  <!-- destaque -->
  <tr>
    <td align="center">
      <a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=vitrine_pronta_24h">
      <img src="http://cdn.olook.com.br/assets/emailmkt/vitrines/junho2012/vitrine24/0.jpg" alt="" border="0" style="display:block">
      </a>
    </td>
  </tr>
  <tr>
    <td align="center">
      <a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=vitrine_pronta_24h">
      <img src="http://cdn.olook.com.br/assets/emailmkt/vitrines/junho2012/vitrine24/1.jpg" alt="" border="0" style="display:block">
      </a>
    </td>
  </tr>
  <tr>
    <td align="center">
      <a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=vitrine_pronta_24h">
      <img src="http://cdn.olook.com.br/assets/emailmkt/vitrines/junho2012/vitrine24/2.jpg" alt="" border="0" style="display:block">
      </a>
    </td>
  </tr>
  <tr>
    <td align="center">
      <a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=vitrine_pronta_24h">
      <img src="http://cdn.olook.com.br/assets/emailmkt/vitrines/junho2012/vitrine24/3.jpg" alt="" border="0" style="display:block">
      </a>
    </td>
  </tr>
  <tr>
    <td align="center">
      <a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=vitrine_pronta_24h">
      <img src="http://cdn.olook.com.br/assets/emailmkt/vitrines/junho2012/vitrine24/4.jpg" alt="" border="0" style="display:block">
      </a>
    </td>
  </tr>

  <!-- footer -->
    </table>

</body>
</html>
