<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<title>Olook</title>
</head>

<body>
<h1>Olá <%= @member.name %>, você já pode acessar sua vitrine personalizada.</h1>
</body>

</html>