<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>
			Olook
		</title>
	</head>
	<body bgcolor="#FFFFFF">
		<table border="0" align="center" cellpadding="0" cellspacing="0" width="620">
			<tr>
				<td align="center">
					<p style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#212121; width:600px; border:1px solid #CCC; padding:10px;">
						Não perca nenhuma novidade da olook. Adicione <a href="mailto:mensagens@olookmail.com.br" style="color:#df5a8b">mensagens@olookmail.com.br</a> em sua lista de contatos.<br>
						Caso não esteja visualizando este e-mail, por favor, <a href="##preview##" style="color:#df5a8b">acesse este link</a><br>
						Se deseja parar de receber os nossos e-mails, <a href="##optout##" style="color:#df5a8b">descadastre-se aqui</a>
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<table cellpadding="0" cellspacing="0" width="100%" bgcolor="#fff">
						<tr>
							<td width="189">
								<a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&amp;utm_medium=email&amp;utm_campaign=lancamento_marco&amp;utm_content=launch_30off"><img src="http://cdn.olook.com.br/assets/emailmkt/vitrines/0042012/new_members/logo.jpg" alt="olook" border="0" title="olook" style="display:block"></a>
							</td>
							<td width="212" align="left">
								<a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&amp;utm_medium=email&amp;utm_campaign=lancamento_marco&amp;utm_content=launch_30off"><img src="http://cdn.olook.com.br/assets/emailmkt/vitrines/0042012/new_members/frases.gif" alt="Todos os produtos por R$69,90 R$99,90 ou R$129,90. Frete gratuito a partir de R$100 e devolução fácil e gratuita. O cadastro é gratuito e leva menos de 2 minutos. Todos os meses uma coleção nova para você." border="0" title="Todos os produtos por R$69,90 R$99,90 ou R$129,90. Frete gratuito a partir de R$100 e devolução fácil e gratuita. O cadastro é gratuito e leva menos de 2 minutos. Todos os meses uma coleção nova para você." style="display:block"></a>
							</td>
							<td width="219" bgcolor="#FFFFFF" align="right">
								<table cellpadding="0" cellspacing="0" border="0" width="140">
									<tr>
										<td>
											<a href="http://www.twitter.com/olook"><img src="http://cdn.olook.com.br/assets/emailmkt/lookbooks/abril2012/saltos/ico_tw.jpg" border="0"></a>
										</td>
										<td>
											<a href="http://www.facebook.com/olook"><img src="http://cdn.olook.com.br/assets/emailmkt/lookbooks/abril2012/saltos/ico_fb.jpg" border="0"></a>
										</td>
										<td>
											<a href="http://blog.olook.com.br/?utm_source=olook&amp;utm_medium=email&amp;utm_campaign=top_sm&amp;utm_content=iconeblog"><img src="http://cdn.olook.com.br/assets/emailmkt/lookbooks/abril2012/saltos/ico_blog.jpg" border="0"></a>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td bgcolor="#000" height="42">
					<table border="0" cellpadding="0" width="620" cellspacing="0" height="42">
						<tr>
							<td width="155" align="center">
								<a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&amp;utm_medium=email&amp;utm_campaign=topo_barra&amp;utm_content=barra_vitrine"><img src="http://cdn.olook.com.br/assets/emailmkt/vitrines/0042012/new_members/menu_vitrine.jpg" border="0" style="display:block"></a>
							</td>
							<td width="155" align="center">
								<a href="http://www.olook.com.br/lookbooks/?utm_source=olook&amp;utm_medium=email&amp;utm_campaign=topo_barra&amp;utm_content=barra_lookbooks"><img src="http://cdn.olook.com.br/assets/emailmkt/vitrines/0042012/new_members/menu_lookbook.jpg" border="0" style="display:block"></a>
							</td>
							<td width="155" align="center">
								<a href="http://www.olook.com.br/membro/convite/?utm_source=olook&amp;utm_medium=email&amp;utm_campaign=topo_barra&amp;utm_content=barra_amigas"><img src="http://cdn.olook.com.br/assets/emailmkt/vitrines/0042012/new_members/menu_convidar.jpg" border="0" style="display:block"></a>
							</td>
							<td width="155" align="center">
								<a href="http://www.olook.com.br/stylists/helena-linhares/?utm_source=olook&amp;utm_medium=email&amp;utm_campaign=topo_barra&amp;utm_content=barra_stylist"><img src="http://cdn.olook.com.br/assets/emailmkt/vitrines/0042012/new_members/menu_stylist.jpg" border="0" style="display:block"></a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td bgcolor="#DF5A8A" height="3" style="max-height:3px;"></td>
			</tr>
			<tr>
				<td>
					<table width="620" cellpadding="0" cellspacing="0">
						<tr>
							<td>
								<a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&amp;utm_medium=email&amp;utm_campaign=lancamento_marco&amp;utm_content=launch_30off"><br>
								<img src="http://cdn.olook.com.br/assets/emailmkt/vitrines/0042012/new_members/thirty.jpg" border="0" style="display:block"><br></a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&amp;utm_medium=email&amp;utm_campaign=lancamento_marco&amp;utm_content=launch_30off"><img src="http://cdn.olook.com.br/assets/emailmkt/vitrines/0042012/new_members/vitrine1.jpg" border="0" style="display:block"></a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&amp;utm_medium=email&amp;utm_campaign=lancamento_marco&amp;utm_content=launch_30off"><img src="http://cdn.olook.com.br/assets/emailmkt/vitrines/0042012/new_members/vitrine2.jpg" alt="" border="0" style="display:block"></a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&amp;utm_medium=email&amp;utm_campaign=lancamento_marco&amp;utm_content=launch_30off"><img src="http://cdn.olook.com.br/assets/emailmkt/vitrines/0042012/new_members/vitrine3.jpg" alt="" border="0" style="display:block"></a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&amp;utm_medium=email&amp;utm_campaign=lancamento_marco&amp;utm_content=launch_30off"><img src="http://cdn.olook.com.br/assets/emailmkt/vitrines/0042012/new_members/vitrine4.jpg" alt="" border="0" style="display:block"></a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td align="center">
					<br>
					<br>
					<p style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#212121">
						Caso queira deixar de receber os nossos e-mails, por favor, <a href="##optout##" style="color:#df5a8b">acesse este link</a>.<br>
						A olook respeita sua privacidade e de todos os seus clientes.<br>
						Você está recebendo este e-mail por fazer parte de nossa lista de inscritos.<br>
						Leia mais sobre a nossa Política de Privacidade <a href="http://www.olook.com.br/privacidade" style="color:#df5a8b">aqui</a>.<br>
						As ofertas do e-mail estão sujeitas à disponibilidade de estoque.<br>
						Endereço olook: Avenida Ribeirão dos Cristais, nº 800, Jordanésia, Cajamar - SP . Galpão 10, módulo C e D
					</p><br>
				</td>
			</tr>
		</table>
	</body>
</html>
