<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Olook</title>
</head>

<body>

<table border="0" align="center" cellpadding="0" cellspacing="0" width="620" bgcolor="#FFFFFF">
  <tr>
    <td>
      <table cellpadding="0" cellspacing="0" width="100%" bgcolor="#fff">
        <tr>
          <td width="189"><a href="http://www.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=t4_vitrine_ficou_pronta"><img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/t4-sitelaunch/logo.jpg" alt="olook" border="0" title="olook" style="display:block"></a></td>
          <td width="212" align="left"><a href="http://www.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=t4_vitrine_ficou_pronta"><img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/t4-sitelaunch/frases.gif" alt="Todos os produtos por R$69,90 R$99,90 ou R$129,90. Frete gratuito a partir de R$100 e devolu&ccedil;&atilde;o f&aacute;cil e gratuita. O cadastro &eacute; gratuito e leva menos de 2 minutos. Todos os meses uma coleção nova para voc&ecirc;." border="0" title="Todos os produtos por R$69,90 R$99,90 ou R$129,90. Frete gratuito a partir de R$120 e devolu&ccedil;&atilde;o f&aacute;cil e gratuita. O cadastro &eacute; gratuito e leva menos de 2 minutos. Todos os meses uma coleção nova para voc&ecirc;." style="display:block"></a></td>
          <td width="219" bgcolor="#FFFFFF"></td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td style="max-height:24px;"><a href="http://www.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=t4_vitrine_ficou_pronta"><img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/t4-sitelaunch/sombra-top.jpg" width="620" height="32" border="0" style="display:block"></a>
    </td>
  </tr>
  <tr>
  <td style="height:35px" height="35" bgcolor="#FFFFFF">
  <div style="height:40px; float:left; padding-left:20px;">
  <p style="font-size:35px; letter-spacing:-3px; margin:0;"><i>Olá <span style="color:#e0588a;"><%= @member.name %></span>,</i></p>
  </div>
  </td>
  </tr>
  <tr>
  <td align="center" width="620"><a href="http://www.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=t4_vitrine_ficou_pronta"><img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/t4-sitelaunch/launch1.jpg" width="620" height="135" border="0" style="display:block;"></a>
  </td>
  </tr>

  <tr>
  <td style="max-height:221px;"><a href="http://www.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=t4_vitrine_ficou_pronta"><img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/t4-sitelaunch/launch2.jpg" width="620" height="224" border="0" style="display:block"></a></td>
  </tr>
  <tr>
  <td style="max-height:221px;"><a href="http://www.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=t4_vitrine_ficou_pronta"><img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/t4-sitelaunch/launch3.jpg" width="620" height="221" border="0" style="display:block"></a></td>
  </tr>
  <tr>
  <td style="max-height:221px;"><a href="http://www.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=t4_vitrine_ficou_pronta"><img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/t4-sitelaunch/launch4.jpg" width="620" height="136" border="0" style="display:block"></a></td>
  </tr>
  <tr>
  <td align="center" bgcolor="#FFF"><a href="http://www.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=t4_vitrine_ficou_pronta"><img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/t4-sitelaunch/btn-start.jpg" border="0" style="display:block"></a>
  <br><br>
  </td>
  </tr>
<tr>
  <td height="24">
  <img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/t4-sitelaunch/L1-invite-copy_09.jpg" width="620" height="34" alt="" style="display:block">
  </td>
</table>

</body>

</html>
