<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Olook</title>
</head>

<body bgcolor="#ffffff">

<!-- rpcampaign: RP_##id_campanha#-->

<table border="0" align="center" cellpadding="0" cellspacing="0" width="620">

  <!-- topo -->
  <tbody><tr>
    <td>
      <table cellpadding="0" cellspacing="0" width="100%" bgcolor="#fff">
        <tbody><tr>
          <!-- logo -->
          <td width="189">
          <a href="http://www.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome">

          <img src="./Olook_files/logo.jpg" alt="todos os meses uma nova coleção de sapatos, bolsas e acessórios" border="0" title="todos os meses uma nova coleção de sapatos, bolsas e acessórios" style="display:block"></a></td>

          <!-- gif -->
          <td width="212" align="left">
          <a href="http://www.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome">

          <img src="./Olook_files/frases_corrigido.gif" alt="Todos os produtos por R$69,90 R$99,90 R$129,90 ou 179,90. Frete gratuito a partir de R$120 e devolução fácil e gratuita. Todos os meses uma coleção nova para você." border="0" title="Todos os produtos por R$69,90 R$99,90 R$129,90 ou 179,90. Frete gratuito a partir de R$120 e devolução fácil e gratuita. Todos os meses uma coleção nova para você." style="display:block"></a>
          </td>
        </tr>
      </tbody></table>
    </td>
  </tr>

  <!-- content -->
  <tr>
    <td width="620" align="center">
      <a href="http://www.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome">
      <img src="./Olook_files/0.jpg" alt="" border="0" style="display:block">
      </a>
    </td>
  </tr>

  <tr>
    <td width="620" align="center">
      <table width="475" align="center">
      <tbody><tr><td>
        <font style="font-family: times, serif; font-size:27pt; color:#000000"><%= @member.first_name %>,</font>
      </td>
      </tr></tbody></table>
    </td>
  </tr>
  <tr>
    <td align="center">
      <font style="font-family: times, serif; font-size:60pt; color:#000000">BEM-VINDA!</font>
    </td>
  </tr>
  <tr>
    <td align="center">
      <font style="font-family: times, serif; font-size:25pt; color:#000000">5 motivos para você amar a olook:</font>
    </td>
  </tr>
  <tr>
    <td width="5" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>

  <tr>
    <td width="620" align="center">
      <font style="font-family: times, serif; font-size:21pt; font-style:italic; color:#d78935">30%</font>
      <font style="font-family: times, serif; font-size:21pt; color:#d78935"> em sua primeira compra</font>
    </td>
  </tr>
  <tr>
    <td width="620" align="center">
      <font style="font-family:Arial, Helvetica, sans-serif; font-size:11pt; color:#000000">O desconto é aplicado automaticamente em sua sacola.</font>
    </td>
  </tr>
  <tr>
    <td width="5" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
  <tr>
    <td width="620" align="center">
      <font style="font-family: times, serif; font-size:21pt; color:#d78935">Sapatos, bolsas e acessórios:</font>
    </td>
  </tr>
  <tr>
    <td width="620" align="center">
      <font style="font-family:Arial, Helvetica, sans-serif; font-size:11pt; color:#000000">Alta qualidade, alto teor fashion, a partir de R$ 69,90.</font>
    </td>
  </tr>
  <tr>
    <td width="5" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
  <tr>
    <td width="620" align="center">
      <font style="font-family: times, serif; font-size:21pt; color:#d78935">Novidades. Muitas novidades!</font>
    </td>
  </tr>
  <tr>
    <td width="620" align="center">
     <font style="font-family:Arial, Helvetica, sans-serif; font-size:11pt; color:#000000">Todos os meses uma nova coleção e uma vitrine fresquinha, com a sua cara!</font>
    </td>
  </tr>
  <tr>
    <td width="5" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
  <tr>
    <td width="620" align="center">
      <font style="font-family: times, serif; font-size:21pt; color:#d78935">Não pague frete!</font>
    </td>
  </tr>
  <tr>
    <td width="620" align="center">
     <font style="font-family:Arial, Helvetica, sans-serif; font-size:11pt; color:#000000">Frete grátis para SP e RJ ou em compras acima de R$120,00.</font>
    </td>
  </tr>
  <tr>
    <td width="5" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>

  <!-- botao -->
  <tr>
    <td width="620" align="center">
        <a href="http://www.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome">
        <img src="./Olook_files/2.jpg" alt="" border="0" style="display:block">
        </a>
    </td>
  </tr>

  <!-- redes sociais -->
  <tr><td width="219" bgcolor="#FFFFFF" align="center">
      <table cellpadding="0" cellspacing="0" border="0" width="140">
          <tbody><tr>
            <td><a href="http://www.twitter.com/olook"><img src="./Olook_files/ico_tw.jpg" border="0" style="display:block"></a></td>
            <td><a href="http://www.facebook.com/olook"><img src="./Olook_files/ico_fb.jpg" border="0" style="display:block"></a></td>
            <td><a href="http://blog.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=top_sm&utm_content=iconeblog"><img src="./Olook_files/ico_blog.jpg" border="0" style="display:block"></a></td>
          </tr>
      </tbody></table>
  </td>
</tr></tbody></table>


<div id="shadowMeasureIt"></div><div id="divCoordMeasureIt"></div><div id="divRectangleMeasureIt"><div id="divRectangleBGMeasureIt"></div></div></body></html>

