<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<title>Olook</title>
</head>

<body>

<table cellspacing="0" border="0" align="center" cellpadding="0" width="620">
  <tr>
    <td>
      <table cellspacing="0" border="0" cellpadding="0">
        <tr>
          <td width="189"><a href="http://www.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome"><img title="olook" src="http://cdn.olook.com.br/assets/emailmkt/transacionais/welcome/logo.jpg" border="0" alt="olook" /></a></td>
          <td align="left" width="431"><a href="http://www.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome"><img title="Todos os produtos por R$69,90 R$99,90 ou R$129,90. Frete gratuito a partir de R$100 e devolu&ccedil;&atilde;o f&aacute;cil e gratuita. O cadastro &eacute; gratuito e leva menos de 2 minutos. Todos os meses uma coleção nova para voc&ecirc;." src="http://cdn.olook.com.br/assets/emailmkt/transacionais/howitworks/frases.gif" border="0" alt="Todos os produtos por R$69,90 R$99,90 ou R$129,90. Frete gratuito a partir de R$100 e devolu&ccedil;&atilde;o f&aacute;cil e gratuita. O cadastro &eacute; gratuito e leva menos de 2 minutos. Todos os meses uma coleção nova para voc&ecirc;." style="display:block" /></a></td>
        </tr>
      </table>
    </td>
  </tr>

  <tr height="24">
    <td><a href="http://www.olook.com.br?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome"><img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/welcome/P1-pre-welcome-copy_01.jpg" border="0" height="24" alt="" width="620" style="display:block" /></a>
    </td>
  </tr>

  <tr>
    <td>
      <table cellspacing="0" border="0" cellpadding="0">
        <tr>
          <td valign="top" width="213"><a href="http://www.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome"><img title="Wow, sapatos!!" src="http://cdn.olook.com.br/assets/emailmkt/transacionais/welcome/P1-pre-welcome-copy_05.jpg" border="0" height="300" alt="wow, sapatos!!" width="213" style="display:block;" /></a>
          </td>
          <td valign="top">        
            <table cellspacing="0" border="0" cellpadding="0">
              <tr>
                <td height="28"><p style=" font-family:Arial, Helvetica, sans-serif; font-size:24px; letter-spacing:-1px; width:352px; color:#101010;"><%= @member.name %></p></td>
              </tr>
              <tr>
                <td height="42" align="center"><a href="http://www.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome"><img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/welcome/P1-pre-welcome-copy_04.jpg" border="0" height="42" alt="Seja bem-vinda" width="407" /></a>
                </td>
              </tr>
              <tr>
                <td>
                <p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; width:332px; color:#101010; width:320px; margin-top:10px; margin-left:5px">
                  Nossos stylists já estão trabalhando para montar a sua coleção! Estamos tão ansiosos quanto você para que o site esteja no ar.<br /><br />
                  Enquanto isso ...              
                </p>
                </td>
              </tr>
              <tr>
                <td height="57"><a href="http://www.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome"><img title="Quer ganhar R$10? Convide suas amigas e voc&ecirc;s duas ganham" src="http://cdn.olook.com.br/assets/emailmkt/transacionais/welcome/P1-pre-welcome-copy_08.jpg" border="0" alt="Quer ganhar R$10? Convide suas amigas e voc&ecirc;s duas ganham" style="display:block" /></a>
                </td>
              </tr>
            </table>
          </td>        
        </tr>
        </table>
    </td>
  </tr>
  
  <tr>
          <td align="center" height="120"><a href="http://www.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome"><img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/welcome/P1-pre-welcome-copy_09.jpg" border="0" alt="Comece agora" /></a></td>
        </tr>
        <tr>
          <td><img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/welcome/L1-invite-copy_09.jpg" height="34" alt="" width="620" />
          </td>
        </tr>
        
        <tr>
          <td>
            <table cellspacing="0" border="0" align="center" cellpadding="0">
              <tr>
                <td><a href="http://www.facebook.com/olook" title="Curta a gente no Facebook"><img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/welcome/facebook.jpg" border="0" alt="Curta a gente no Facebook" /></a>
                </td>
                <td><img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/welcome/div-social.jpg" border="0" alt="" /></td>
                <td><a href="http://www.twitter.com/olook" title="Siga-nos no Twitter"><img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/welcome/twitter.jpg" border="0" alt="Siga-nos no Twitter" /></a>
                </td>
                <td><img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/welcome/div-social.jpg" border="0" alt="" /></td>
                <td><a href="http://www.orkut.com.br/Community?cmm=119166386" title="Seja nossa amiga no Orkut"><img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/welcome/orkut.jpg" border="0" alt="Seja nossa amiga no Orkut" /></a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
        <td align="center"><img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/welcome/div-bottom.jpg" alt="" /></td>
        </tr>
        <tr>
          <td align="center" height="80">
          <p style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#212121">A olook respeita a sua privacidade e de todos os seus clientes.<br /> 
Você está recebendo este e-mail por fazer parte de nossa lista de inscritos.<br />
Caso queira deixar de receber os nossos e-mails, por favor, <a href="unsubscribe" style="color:#df5a8b">acesse este link</a>.
          </td>
        </tr>
      </table>
  








</body>
</html>
