
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Olook</title>
</head>

<body bgcolor="#ffffff">

<!-- rpcampaign: RP_##id_campanha#-->

<table border="0" align="center" cellpadding="0" cellspacing="0" width="620">
  
  <!-- topo -->
  <tr>
    <td>
      <table cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <!-- logo -->
          <td>
            <a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome_half_female_gift">
            <img src="http://cdn.olook.com.br/assets/emailmkt/topo/topo2/logo_barra.jpg" alt="Todos os meses uma nova coleção para você." border="0" title="Todos os meses uma nova coleção para você." style="display:block"></a>
          </td>

          <!-- instagram -->
          <td>
            <a href="http://statigr.am/olook">                
            <img src="http://cdn.olook.com.br/assets/emailmkt/topo/topo2/ico_in.jpg" alt="Instagram" border="0" title="Instagram" style="display:block"></a>
          </td>
          <!-- twitter -->
          <td>
            <a href="https://twitter.com/olook">                
            <img src="http://cdn.olook.com.br/assets/emailmkt/topo/topo2/ico_tw.jpg" alt="twitter" border="0" title="twitter" style="display:block"></a>
          </td>
          <!-- facebook -->
          <td>
            <a href="http://www.facebook.com/olook">                
            <img src="http://cdn.olook.com.br/assets/emailmkt/topo/topo2/ico_fb.jpg" alt="Facebook" border="0" title="Facebook" style="display:block"></a>
          </td>
          <!-- blog -->
          <td>
            <a href="http://blog.olook.com.br">                
            <img src="http://cdn.olook.com.br/assets/emailmkt/topo/topo2/ico_bg.jpg" alt="Blog" border="0" title="Blog" style="display:block"></a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  
  <!-- content -->
  <tr>
    <td width="620" align="center">
      <a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome_half_female_gift">
      <img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/welcome/setembro2012/welcome_half_female_gift/0.jpg" alt="BEM VINDA" border="0" style="display:block">
      </a>             
    </td>
  </tr>
  <tr>
    <td width="620" align="center">
      <a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome_half_female_gift">
      <img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/welcome/setembro2012/welcome_half_female_gift/1.jpg" alt="Obrigada por escolher a olook para comprar presentes incríveis!" border="0" style="display:block">
      </a>
    </td>
  </tr>
  <tr>
    <td width="620" align="center">
      <a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome_half_female_gift">
      <img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/welcome/setembro2012/welcome_half_female_gift/2.jpg" alt="Nos conte qual é o seu estilo e receba uma vitrine com a sua cara. Comece Agora!" border="0" style="display:block">
      </a>
    </td>
  </tr>
  
</table>
</body>
</html>