<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Olook</title>
</head>

<body bgcolor="#ffffff">

<!-- rpcampaign: RP_##id_campanha#-->

<table border="0" align="center" cellpadding="0" cellspacing="0" width="620">
  
  <!-- topo -->
  <tr>
    <td>
      <table cellpadding="0" cellspacing="0" width="100%" bgcolor="#fff">
        <tr>
          <!-- logo -->
          <td width="189">
          <a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome_half_female_comprarapida">
          
          <img src="http://cdn.olook.com.br/assets/emailmkt/topo_barra/logo2.jpg" alt="Todos os meses, uma nova coleção para você." border="0" title="todos os meses uma nova coleção de sapatos, bolsas e acessórios" style="display:block"></a></td>

          <!-- gif -->
          <td width="212" align="left">
          <a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome_half_female_comprarapida">
          
          <img src="http://cdn.olook.com.br/assets/emailmkt/topo_barra/frases2.gif" alt="Sapatos, bolsas e acessórios de alta qualidade a partir de R$ 69,90" border="0" title="Todos os produtos por R$69,90 R$99,90 R$129,90 ou 179,90. Frete gratuito a partir de R$120 e devolu&ccedil;&atilde;o f&aacute;cil e gratuita. Todos os meses uma coleção nova para voc&ecirc;." style="display:block"></a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  
  <!-- content -->
  
  <tr>
    <td width="620" align="center">
      <a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome_half_female_comprarapida">
      <img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/welcome/junho2012/welcome_cadastro_completo/0.jpg" alt="IR PARA OLOOK" border="0" style="display:block">
      </a>
    </td>
  </tr>

  <tr>
    <td width="620" align="center">
      <table width="475" align="center">
      <td>
        <a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome_half_female_comprarapida" style="text-decoration: none">
        <font style="font-family: times, serif; font-size:27pt; color:#000000"><%= @member.first_name %>,</font></a>
      </td>
      </table>
    </td>
  </tr>
  <tr>
    <td align="center">
      <a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome_half_female_comprarapida" style="text-decoration: none">
      <font style="font-family: times, serif; font-size:60pt; color:#000000">BEM-VINDA!</font></a>
    </td>
  </tr>
  <tr>
    <td align="center">
      <a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome_half_female_comprarapida" style="text-decoration: none">
      <font style="font-family: times, serif; font-size:25pt; color:#000000">5 motivos para você amar a olook:</font></a>
    </td>
  </tr>
  <tr>
    <td width="5" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>

  <tr>
    <td width="620" align="center">
      <a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome_half_female_comprarapida" style="text-decoration: none">
      <font style="font-family: times, serif; font-size:21pt; font-style:italic; color:#d78935">30%</font>
      <font style="font-family: times, serif; font-size:21pt; color:#d78935"> em sua primeira compra</font></a>
    </td>
  </tr>
  <tr>
    <td width="620" align="center">
      <a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome_half_female_comprarapida" style="text-decoration: none">
      <font style="font-family:Arial, Helvetica, sans-serif; font-size:11pt; color:#000000">O desconto é aplicado automaticamente em sua sacola.</font></a>
    </td>
  </tr>
  <tr>
    <td width="5" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
  <tr>
    <td width="620" align="center">
      <a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome_half_female_comprarapida" style="text-decoration: none">
      <font style="font-family: times, serif; font-size:21pt; color:#d78935">Sapatos, bolsas e acessórios:</font></a>
    </td>
  </tr>
  <tr>
    <td width="620" align="center">
      <a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome_half_female_comprarapida" style="text-decoration: none">
      <font style="font-family:Arial, Helvetica, sans-serif; font-size:11pt; color:#000000">Alta qualidade, alto teor fashion, a partir de R$ 69,90.</font></a>  
    </td>
  </tr>
  <tr>
    <td width="5" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
  <tr>
    <td width="620" align="center">
      <a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome_half_female_comprarapida" style="text-decoration: none">
      <font style="font-family: times, serif; font-size:21pt; color:#d78935">Novidades. Muitas novidades!</font></a>
    </td>
  </tr>
  <tr>
    <td width="620" align="center">
      <a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome_half_female_comprarapida" style="text-decoration: none">
     <font style="font-family:Arial, Helvetica, sans-serif; font-size:11pt; color:#000000">Todos os meses uma nova coleção e uma vitrine fresquinha, com a sua cara!</font></a>  
    </td>
  </tr>
  <tr>
    <td width="5" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
  <tr>
    <td width="620" align="center">
      <a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome_half_female_comprarapida" style="text-decoration: none">
      <font style="font-family: times, serif; font-size:21pt; color:#d78935">Responda agora o Style Quiz</font></a> 
    </td>
  </tr>
  <tr>
    <td width="620" align="center">
      <a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome_half_female_comprarapida" style="text-decoration: none">
     <font style="font-family:Arial, Helvetica, sans-serif; font-size:11pt; color:#000000">Nos conte qual é o seu estilo e receba uma vitrine com a sua cara.</font></a>
    </td>
  </tr>
  <tr>
    <td width="5" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>

  <!-- botao -->
  <tr>
    <td width="620" align="center">
        <a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome_half_female_comprarapida">
        <img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/welcome/junho2012/welcome_half_cadastro/4/1.jpg" alt="COMECE AGORA!" border="0" style="display:block">
        </a>
    </td>
  </tr>

  <!-- redes sociais -->  
  <td width="219" bgcolor="#FFFFFF" align="center">
      <table cellpadding="0" cellspacing="0" border="0" width="140">
          <tr>
            <td><a href="http://www.twitter.com/olook"><img src="http://cdn.olook.com.br/assets/emailmkt/topo_barra/ico_tw.jpg" alt="twitter" border="0" style="display:block"></a>
            </td>
            <td><a href="http://www.facebook.com/olook"><img src="http://cdn.olook.com.br/assets/emailmkt/topo_barra/ico_fb.jpg" alt="facebook" border="0" style="display:block"></a>
            </td>
            <td><a href="http://blog.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=top_sm&utm_content=iconeblog">
            <img src="http://cdn.olook.com.br/assets/emailmkt/topo_barra/ico_blog.jpg" alt="blog" border="0" style="display:block"></a>
            </td>
          </tr>
      </table>
  </td>
</table>

</body>
</html>
