<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Olook</title>
</head>

<body>

<table border="0" align="center" cellpadding="0" cellspacing="0" width="620">

	<tr>
		<td>
			<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td width="189"><a href="http://www.olook.com.br/lookbooks/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome"><img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/welcome/logo.jpg" alt="todos os meses uma nova coleção de sapatos, bolsas e acessórios" border="0" title="Todos os meses uma nova coleção de sapatos, bolsas e acessórios"></a></td>
					<td width="431" align="left"><a href="http://www.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome"><img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/howitworks/frases_corrigido.gif" alt="Todos os produtos por R$69,90 R$99,90 ou R$129,90. Frete gratuito a partir de R$100 e devolu&ccedil;&atilde;o f&aacute;cil e gratuita. O cadastro &eacute; gratuito e leva menos de 2 minutos. Todos os meses uma coleção nova para voc&ecirc;." border="0" title="Todos os produtos por R$69,90 R$99,90 ou R$129,90. Frete gratuito a partir de R$100 e devolu&ccedil;&atilde;o f&aacute;cil e gratuita. O cadastro &eacute; gratuito e leva menos de 2 minutos. Todos os meses uma coleção nova para voc&ecirc;." style="display:block"></a></td>
				</tr>
			</table>
		</td>
	</tr>

	<tr height="24">
		<td><a href="http://www.olook.com.br?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome"><img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/welcome/P1-pre-welcome-copy_01.jpg" alt="" width="620" height="24" border="0" style="display:block"></a>
		</td>
	</tr>

	<tr>
		<td>
			<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td valign="top" width="213"><a href="http://www.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome"><img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/welcome/P1-pre-welcome-copy_05.jpg" alt="wow, sapatos!!" width="213" height="300" border="0" title="Wow, sapatos!!" style="display:block;"></a>
					</td>
					<td valign="top">				
						<table cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td height="28"><p style=" font-family:Arial, Helvetica, sans-serif; font-size:24px; letter-spacing:-1px; width:352px; color:#101010;"><%= @member.first_name %></p></td>
							</tr>
							<tr>
								<td height="42" align="center"><a href="http://www.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome"><img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/welcome/P1-pre-welcome-copy_04.jpg" alt="Seja bem-vinda" width="407" height="42" border="0"></a>
								</td>
							</tr>
							<tr>
								<td valign="top">
								<p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; width:332px; color:#101010; width:320px; margin-top:10px;">
<b style="color:#E05789;">Você tem 30% de desconto como presente para realizar a sua primeira compra!</b>
<br><br>
Nossos stylists já estão trabalhando para montar a sua vitrine!<br>
<br>
Enquanto isso ..
<br><br>
<a href="http://www.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome"><img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/welcome/new_cta.jpg" alt="0" border="0">
							</p>
								</td>
							</tr>
						</table>
					</td>				
				</tr>
				</table>
		</td>
	</tr>
					<tr>
					<td align="center"><br><a href="http://www.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome"><img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/welcome/P1-pre-welcome-copy_09.jpg" alt="Comece agora" border="0">
					</td>
				</tr>
				<tr>
					<td><a href="http://www.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome"><a img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/welcome/L1-invite-copy_09.jpg" width="620" height="34" alt="">
					</td>
				</tr>
				
				<tr>
					<td>
						<table cellpadding="0" cellspacing="0" align="center" border="0">
							<tr>
								<td><a href="http://www.facebook.com/olook" title="Curta a gente no Facebook"><img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/welcome/facebook.jpg" alt="Curta a gente no Facebook" border="0"></a>
								</td>
								<td><img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/welcome/div-social.jpg" alt="" border="0"></td>
								<td><a href="http://www.twitter.com/olook" title="Siga-nos no Twitter"><img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/welcome/twitter.jpg" alt="Siga-nos no Twitter" border="0"></a>
								</td>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
	
		
		</td>
	</tr>


</table>












</body>
</html>