<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>O L O O K</title>
</head>

<body>
<p>&nbsp;</p>
<table width="620" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
    <td align="left">
      <p style="font-family:Verdana,Helvetica,Arial, sans-serif; font-size:9px; color:#6d6e71;">Abra e confira o que preparamos para você, ##first_name## ou <a href="http://www.olook.com.br/marcas/olook/?utm_source=email&utm_medium=email_mkt&utm_campaign=boas_vindas*base&utm_content=topo_header_compreaqui&auth_token=##auth_token##&utm_email=##nm_email_encode##" style="color:#6d6e71;">compre aqui.</a><br /><span style="font-family:Verdana,Helvetica,Arial, sans-serif; font-size:9px; color:#aaaaaa;">Nunca perca um e-mail da olook. Clique no ícone <img src="http://cdn.olook.com.br/assets/emailmkt/tops/janeiro2013/20130129_top_promodia/gmail.jpg" alt="gmail" border="0" style="margin-top:2px;"></span><a href="##optout##" align="right" style="color:#6d6e71; font-size:9px; float:right;">Cancelar o recebimento </a><span style="color:#6d6e71; font-size:9px; float:right;"> | </span><a href="##preview##" style="color:#6d6e71; font-size:9px; float:right;"> Veja a versão online</a>
      </p>
    </td>
  </tr>
   <td align="center" valign="middle" height="80"><font style="font-size:12px; font-weight:bold;color:#666; font-family:Arial, Helvetica, sans-serif;"><img src="http://cdn.olook.com.br/assets/emailmkt/destaques/2014/10_outubro/20141009/topnew3.jpg" alt="Frete Zero Acima de 150 p/ Sul e Sudeste | Trocas e Devoluções custo Zero | 15% p/ próxima compra" width="620" height="70" style="display:block; float:left;" border="0"></font></td>
   <tr>
    <td height="5" bgcolor="#000000"></td>
  </tr>
   <tr>
    <td>&nbsp;</td>
  </tr>
     <tr>
    <td height="70"><table width="620" border="0" cellspacing="0" cellpadding="0" align="center">
      <tr>
        <td align="left" width="204" valign="top"><table width="204" border="0" cellspacing="0" cellpadding="0" align="left">
          <tr>
            <td width="19">&nbsp;</td>
            <td width="22"><a href="http://www.facebook.com/olook" target="_blank" style="text-decoration:none;"><font style="font-size:10px; font-weight:bold;color:#666; font-family:Arial, Helvetica, sans-serif;"><img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_03.jpg" alt="FB" width="22" height="23" style="display:block" border="0">
          </font></a></td>
            <td width="22"><a href="https://twitter.com/olook" target="_blank" style="text-decoration:none;"><font style="font-size:10px; font-weight:bold;color:#666; font-family:Arial, Helvetica, sans-serif;"><img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_04.jpg" alt="TW" width="22" height="23" style="display:block" border="0">
          </font></a></td>
            <td align="left" width="141"><a href="http://statigr.am/olook" target="_blank" style="text-decoration:none;"><font style="font-size:10px; font-weight:bold;color:#666; font-family:Arial, Helvetica, sans-serif;"><img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_06.jpg" alt="Inst" width="23" height="23" style="display:block" border="0">
          </font></a></td>
          </tr>
       </table></td>
       <td align="left" valign="top"><a style="text-decoration:none;" href="http://www.olook.com.br/?utm_source=email&utm_medium=email_mkt&utm_campaign=boas_vindas*base&utm_content=topo_logo&auth_token=##auth_token##&utm_email=##nm_email_encode##" target="_blank"><font style="font-size:25px; font-weight:bold;color:#666; font-family:Arial, Helvetica, sans-serif;"><img src="http://cdn.olook.com.br/assets/base/2014/logo-olook_2.jpg" alt="olook" width="173" height="55" style="display:block" border="0"/></font></a></td>
      </tr>
    </table></td>
  <tr>
    <td height="20"></td>
  </tr>
  <tr>
    <td><table width="620" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#d7d7d7">
      <tr>
        <td align="center" height="30" bgcolor="#FFFFFF"><span style="font-family:Arial, Helvetica, sans-serif; font-size:11px; text-transform:uppercase;"><a href="http://www.olook.com.br/roupa?utm_source=email&utm_medium=email_mkt&utm_campaign=boas_vindas*base&utm_content=topobarra_roupas&auth_token=##auth_token##&utm_email=##nm_email_encode###looks" target="_blank" style="text-decoration:none; color:#020202;letter-spacing: .12em; font-weight:bold;">ROUPAS</a></span></td>
        <td width="1"></td>
        <td align="center" height="30" bgcolor="#FFFFFF"><span style="font-family:Arial, Helvetica, sans-serif; font-size:11px; text-transform:uppercase;"><a href="http://www.olook.com.br/sapato?utm_source=email&utm_medium=email_mkt&utm_campaign=boas_vindas*base&utm_content=topobarra_sapatos&auth_token=##auth_token##&utm_email=##nm_email_encode###looks" target="_blank" style="text-decoration:none; color:#020202;letter-spacing: .12em; font-weight:bold;">SAPATOS</a></span></td>
        <td width="1"></td>
        <td align="center" height="30"bgcolor="#FFFFFF"><span style="font-family:Arial, Helvetica, sans-serif; font-size:11px; text-transform:uppercase;"><a href="http://www.olook.com.br/bolsa?utm_source=email&utm_medium=email_mkt&utm_campaign=boas_vindas*base&utm_content=topobarra_bolsas&auth_token=##auth_token##&utm_email=##nm_email_encode###look" target="_blank" style="text-decoration:none; color:#020202;letter-spacing: .12em; font-weight:bold; ">BOLSAS</a></span></td>
        <td width="1"></td>
        <td align="center" height="30"bgcolor="#FFFFFF"><span style="font-family:Arial, Helvetica, sans-serif; font-size:11px; text-transform:uppercase;"><a href="http://www.olook.com.br/marcas?utm_source=email&utm_medium=email_mkt&utm_campaign=boas_vindas*base&utm_content=topobarra_marcas&auth_token=##auth_token##&utm_email=##nm_email_encode##" target="_blank" style="text-decoration:none; color:#020202;letter-spacing: .12em; font-weight:bold;">MARCAS</a></span></td>
        <td width="1"></td>
        <td align="center" height="30"bgcolor="#FFFFFF"><span style="font-family:Arial, Helvetica, sans-serif; font-size:11px; text-transform:uppercase;"><a href="http://www.olook.com.br/olooklet?por=novidade&utm_source=email&utm_medium=email_mkt&utm_campaign=boas_vindas*base&utm_content=topobarra_marcas&auth_token=##auth_token##&utm_email=##nm_email_encode##" target="_blank" style="text-decoration:none; color:#020202;letter-spacing: .12em; font-weight:bold;">OLOOKLET</a></span></td>
      </tr>
    </table></td>
  </tr>
  


  <!-- ________________________________________MIOLO________________________________ -->

  <!--SOLO-->
  <tr>
    <td><table width="620" border="0" cellspacing="0" cellpadding="0" align="center">
  
    <tr><td>
    <table width="620" border="0" cellspacing="0" cellpadding="0">
  <tr>
    
</table>

    </td></tr>
            <tr>
    <td align="center"><font style="font-family:'Tw Cen MT','Tw Cen MT', Helvetica, sans-serif; font-size:25px;text-align:center; color:#010101;text-transform:uppercase; font-stretch:ultra-condensed;"><a href="http://www.olook.com.br/colecoes/novidades?utm_source=email&utm_medium=email_mkt&utm_campaign=boas_vindas*base&utm_content=half_novidades_0&coupon_code=30acima150new&auth_token=##auth_token##&utm_email=##nm_email_encode##" target="_blank"><img src="http://cdn.olook.com.br/assets/emailmkt/destaques/2015/03Marco/boas_vindas/boas_vindas_02.jpg" alt="Bem Vinda à OLook" width="620" height="180" border="0" style="display:block"></a></font></td>
  </tr>
        <tr>
    <td align="center"><font style="font-family:'Tw Cen MT','Tw Cen MT', Helvetica, sans-serif; font-size:25px;text-align:center; color:#010101;text-transform:uppercase; font-stretch:ultra-condensed;"><a href="http://www.olook.com.br/colecoes/novidades?utm_source=email&utm_medium=email_mkt&utm_campaign=boas_vindas*base&utm_content=half_novidades_0&coupon_code=30acima150new&auth_token=##auth_token##&utm_email=##nm_email_encode##" target="_blank"><img src="http://cdn.olook.com.br/assets/emailmkt/destaques/2015/03Marco/boas_vindas/boas_vindas_03.jpg" alt="Você ganhou R$ 30 na primeira compra" width="620" height="180" border="0" style="display:block"></a></font></td>
  </tr>
      <tr>
    <td align="center"><font style="font-family:'Tw Cen MT','Tw Cen MT', Helvetica, sans-serif; font-size:25px;text-align:center; color:#010101;text-transform:uppercase; font-stretch:ultra-condensed;"><a href="http://www.olook.com.br/colecoes/novidades?utm_source=email&utm_medium=email_mkt&utm_campaign=boas_vindas*base&utm_content=half_novidades_0&coupon_code=30acima150new&auth_token=##auth_token##&utm_email=##nm_email_encode## target="_blank"><img src="http://cdn.olook.com.br/assets/emailmkt/destaques/2015/03Marco/boas_vindas/boas_vindas_04.jpg" alt="Basta aplicar o cupom a seguir na sacola de compras" width="620" height="82" border="0" style="display:block"></a></font></td>
  </tr> 
    </table>
<table width="620" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
     <td align="center" ><font style="font-family:'Tw Cen MT','Tw Cen MT', Helvetica, sans-serif; font-size:25px;text-align:center; color:#010101;text-transform:uppercase; font-stretch:ultra-condensed;"><a href="http://www.olook.com.br/colecoes/novidades?utm_source=email&utm_medium=email_mkt&utm_campaign=boas_vindas*base&utm_content=half_novidades_0&coupon_code=30acima150new&auth_token=##auth_token##&utm_email=##nm_email_encode##" target="_blank"><img src="http://cdn.olook.com.br/assets/emailmkt/destaques/2015/03Marco/boas_vindas/boas_vindas_05.jpg" alt="" width="228" height="32" border="0" style="display:block"></a></font></td>
     <td align="center" width="216" height="32"><font style="font-family:'Tw Cen MT','Tw Cen MT', Helvetica, sans-serif; font-size:22px;text-align:center; color:#010101;text-transform:uppercase; font-stretch:ultra-condensed; font-weight:bold;"> 30ACIMA150NEW</td>
     <td align="center"><font style="font-family:'Tw Cen MT','Tw Cen MT', Helvetica, sans-serif; font-size:25px;text-align:center; color:#010101;text-transform:uppercase; font-stretch:ultra-condensed;"><a href="http://www.olook.com.br/colecoes/novidades?utm_source=email&utm_medium=email_mkt&utm_campaign=boas_vindas*base&utm_content=half_novidades_0&coupon_code=30acima150new&auth_token=##auth_token##&utm_email=##nm_email_encode##" target="_blank"><img src="http://cdn.olook.com.br/assets/emailmkt/destaques/2015/03Marco/boas_vindas/boas_vindas_07.jpg" alt="" width="219" height="32" border="0" style="display:block"></a></font></td>
  </tr>
</table>
<table width="620" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center"><font style="font-family:'Tw Cen MT','Tw Cen MT', Helvetica, sans-serif; font-size:25px;text-align:center; color:#010101;text-transform:uppercase; font-stretch:ultra-condensed;"><a href="http://www.olook.com.br/colecoes/novidades?utm_source=email&utm_medium=email_mkt&utm_campaign=boas_vindas*base&utm_content=half_novidades_0&coupon_code=30acima150new&auth_token=##auth_token##&utm_email=##nm_email_encode##" target="_blank"><img src="http://cdn.olook.com.br/assets/emailmkt/destaques/2015/03Marco/boas_vindas/boas_vindas_08.jpg" alt="Usar Desconto" width="620" height="180" border="0" style="display:block"></a></font></td>
  </tr>
  <tr>
    <td align="center"><font style="font-family:'Tw Cen MT','Tw Cen MT', Helvetica, sans-serif; font-size:25px;text-align:center; color:#010101;text-transform:uppercase; font-stretch:ultra-condensed;"><a href="http://www.olook.com.br/colecoes/novidades?utm_source=email&utm_medium=email_mkt&utm_campaign=boas_vindas*base&utm_content=half_novidades_0&coupon_code=30acima150new&auth_token=##auth_token##&utm_email=##nm_email_encode##" target="_blank"><img src="http://cdn.olook.com.br/assets/emailmkt/destaques/2015/03Marco/boas_vindas/boas_vindas_09.jpg" alt="Desconto válido para compras acima de R$ 150, só marca Olook." width="620" height="154" border="0" style="display:block"></a></font></td>
  </tr>
</table>




  <!-- ______________________________________FIM DO MIOLO____________________________ -->



  <tr>
    <td align="center"><font style="font-family:'Tw Cen MT','Tw Cen MT', Helvetica, sans-serif; font-size:25px;text-align:center; color:#010101;text-transform:uppercase; font-stretch:ultra-condensed;"><img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/novofooter_01.jpg" border="0" alt="Selecione o que você quer" style="display:block"></font></td>
  </tr>

  
  <tr>
  <td>
    <table width="620" align="center" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center" valign="middle">
        <a href="http://www.olook.com.br/roupa/blusa-camisa?utm_source=email&utm_medium=email_mkt&utm_campaign=boas_vindas*base&utm_content=bannerfooter_blusa&auth_token=##auth_token##&utm_email=##nm_email_encode##" target="_blank" style="text-decoration:none;"><font style="font-size:12px; font-weight:bold;color:#666; font-family:Arial, Helvetica, sans-serif;">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_03.jpg" alt="Blusa" border="0" style="display:block"></font>
        </a>
        </td>

        <td align="center" valign="middle">
        <a href="http://www.olook.com.br/roupa/camisa?utm_source=email&utm_medium=email_mkt&utm_campaign=boas_vindas*base&utm_content=bannerfooter_camisa&auth_token=##auth_token##&utm_email=##nm_email_encode##" target="_blank" style="text-decoration:none;"><font style="font-size:12px; font-weight:bold;color:#666; font-family:Arial, Helvetica, sans-serif;">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_04.jpg" alt="Camisa" border="0" style="display:block"></font>
        </a>
        </td>

        <td align="center" valign="middle">
        <a href="http://www.olook.com.br/roupa/calca?utm_source=email&utm_medium=email_mkt&utm_campaign=boas_vindas*base&utm_content=bannerfooter_calca&auth_token=##auth_token##&utm_email=##nm_email_encode##" target="_blank" style="text-decoration:none;"><font style="font-size:12px; font-weight:bold;color:#666; font-family:Arial, Helvetica, sans-serif;">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_05.jpg" alt="Calça" border="0" style="display:block"></font>
        </a>
        </td>

        <td align="center" valign="middle">
        <a href="http://www.olook.com.br/roupa/vestido?utm_source=email&utm_medium=email_mkt&utm_campaign=boas_vindas*base&utm_content=bannerfooter_vestido&auth_token=##auth_token##&utm_email=##nm_email_encode##" target="_blank" style="text-decoration:none;"><font style="font-size:12px; font-weight:bold;color:#666; font-family:Arial, Helvetica, sans-serif;">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_06.jpg" alt="Vestido" border="0" style="display:block"></font>
        </a>
        </td>

        <td align="center" valign="middle">
        <a href="http://www.olook.com.br/sapato/anabela?utm_source=email&utm_medium=email_mkt&utm_campaign=boas_vindas*base&utm_content=bannerfooter_anabela&auth_token=##auth_token##&utm_email=##nm_email_encode##" target="_blank" style="text-decoration:none;"><font style="font-size:12px; font-weight:bold;color:#666; font-family:Arial, Helvetica, sans-serif;">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_07.jpg" alt="Anabela" border="0" style="display:block"></font>
        </a>
        </td>

        <td align="center" valign="middle">
        <a href="http://www.olook.com.br/sapato/scarpin?utm_source=email&utm_medium=email_mkt&utm_campaign=boas_vindas*base&utm_content=bannerfooter_scarpin&auth_token=##auth_token##&utm_email=##nm_email_encode##" target="_blank" style="text-decoration:none;"><font style="font-size:12px; font-weight:bold;color:#666; font-family:Arial, Helvetica, sans-serif;">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_08.jpg" alt="Scarpin" border="0" style="display:block"></font>
        </a>
        </td>

        <td align="center" valign="middle">
        <a href="http://www.olook.com.br/sapato/sapatilha?utm_source=email&utm_medium=email_mkt&utm_campaign=boas_vindas*base&utm_content=bannerfooter_sapatilha&auth_token=##auth_token##&utm_email=##nm_email_encode##" target="_blank" style="text-decoration:none;"><font style="font-size:12px; font-weight:bold;color:#666; font-family:Arial, Helvetica, sans-serif;">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_09.jpg" alt="Sapatilha" border="0" style="display:block"></font>
        </a>
        </td>

        <td align="center" valign="middle">
        <a href="http://www.olook.com.br/sapato/sandalia?utm_source=email&utm_medium=email_mkt&utm_campaign=boas_vindas*base&utm_content=bannerfooter_sandalia&auth_token=##auth_token##&utm_email=##nm_email_encode##" target="_blank" style="text-decoration:none;"><font style="font-size:12px; font-weight:bold;color:#666; font-family:Arial, Helvetica, sans-serif;">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_10.jpg" alt="Sandalia" border="0" style="display:block"></font>
        </a>
        </td>

        <td align="center" valign="middle">
        <a href="http://www.olook.com.br/sapato/rasteira?utm_source=email&utm_medium=email_mkt&utm_campaign=boas_vindas*base&utm_content=bannerfooter_rasteira&auth_token=##auth_token##&utm_email=##nm_email_encode##" target="_blank"; style="text-decoration:none;"><font style="font-size:12px; font-weight:bold;color:#666; font-family:Arial, Helvetica, sans-serif;">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_11.jpg" alt="Rasteira" border="0" style="display:block"></font>
        </a>
        </td>

        <td align="center" valign="middle">
        <a href="http://www.olook.com.br/bolsa?utm_source=email&utm_medium=email_mkt&utm_campaign=boas_vindas*base&utm_content=bannerfooter_bolsa&auth_token=##auth_token##&utm_email=##nm_email_encode##" target="_blank" style="text-decoration:none;"><font style="font-size:12px; font-weight:bold;color:#666; font-family:Arial, Helvetica, sans-serif;">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_12.jpg" alt="Bolsa" border="0" style="display:block"></font>
        </a>
        </td>
      
        <td align="center" valign="middle">
        <a href="http://www.olook.com.br/acessorio?&utm_source=email&utm_medium=email_mkt&utm_campaign=boas_vindas*base&utm_content=bannerfooter_acessorios&auth_token=##auth_token##&utm_email=##nm_email_encode##" target="_blank" style="text-decoration:none;"><font style="font-size:12px; font-weight:bold;color:#666; font-family:Arial, Helvetica, sans-serif;">
        <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footfoot_13.jpg" alt="Acessório" border="0" style="display:block"></font>
        </a>
        </td>
      </tr>
    </table>
  </td>
</tr>
  </tr>
  <tr>
    <td height="2" bgcolor="#000000"></td>
  </tr>
      <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><table width="620" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="178" height="35"><span style="font-family:Arial, Helvetica, sans-serif; font-size:12px; text-transform:uppercase; color:#6d6e71;font-weight:bold; padding-left:3px;">FORMAS DE PAGAMENTO</span></td>
       <td width="162" height="35"><span style="font-family:Arial, Helvetica, sans-serif; font-size:12px; text-transform:uppercase; color:#6d6e71;font-weight:bold; padding-left:3px;">Atendimento</span></td>
        <td width="140" height="35"><span style="font-family:Arial, Helvetica, sans-serif; font-size:12px; text-transform:uppercase; color:#6d6e71;font-weight:bold; padding-left:3px;">Redes sociais</span></td>
        <td width="140" height="35"><span style="font-family:Arial, Helvetica, sans-serif; font-size:12px; text-transform:uppercase; color:#6d6e71;font-weight:bold; padding-left:3px;">SITE SEGURO</span></td>
      </tr>
    </table></td>
  </tr>
   <tr>
    <td><table width="620" border="0" cellspacing="0" cellpadding="0" align="center">
      <tr>
        <td height="90" valign="top"><table width="180" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td valign="top"><table width="180" border="0" cellspacing="0" cellpadding="0" align="center">
              <tr>
                 <td><table width="180" border="0" cellspacing="0" cellpadding="0">
                   <tr>
                     <td width="112" height="15" valign="middle"><span style="font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#6d6e71; padding-left:3px;">Cartões de Crédito
                               </span></td>
                     <td width="68"><span style="font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#6d6e71; ">Boleto
                               </span></td>
                   </tr>
                 </table></td>
              </tr>
              <tr>
               <td width="20" height="17"><font style="font-size:10px; font-weight:bold;color:#666; font-family:Arial, Helvetica, sans-serif;"><a href="https://www.facebook.com/Olook" target="_blank"><img src="http://cdn.olook.com.br/assets/base/2014/band_olook_02.jpg" alt="" width="141" height="20" style="display:block" border="0"/></a></font></td>
              </tr>
              <tr>
                <td height="21" valign="bottom"><span style="font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#6d6e71; padding-left: 3px;">Débito Online</span></td>
              </tr>
              <tr>
                <td width="20" height="21" valign="bottom"><font style="font-size:10px; font-weight:bold;color:#666; font-family:Arial, Helvetica, sans-serif;"><a href="https://www.facebook.com/Olook" target="_blank"><img src="http://cdn.olook.com.br/assets/base/2014/band_olook_04.jpg" alt="" width="141" height="19" style="display:block" border="0"/></a></font></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        <td><table width="160" border="0" cellpadding="0" cellspacing="0">
          
          <tr>
            <td height="90" valign="top"><table width="160" border="0" cellspacing="0" cellpadding="0">
              <tr>
                 <td width="25" height="27" valign="top" style="padding-top:7px;"><font style="font-size:10px; font-weight:bold;color:#666; font-family:Arial, Helvetica, sans-serif;"><img src="http://cdn.olook.com.br/assets/base/2014/Untitled-5_03.jpg" alt="" width="15" height="14" style="display:block" border="0"/></font></td>
                <td><span style="font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#6d6e71; ">Telefone
                <br />(11)2626-3489
                </span></td>
              </tr>
              <tr>
                <td width="25" height="25" valign="top" style="padding-top:4px;"><font style="font-size:10px; font-weight:bold;color:#666; font-family:Arial, Helvetica, sans-serif;"><img src="http://cdn.olook.com.br/assets/base/2014/Untitled-5_06_06_06.jpg" alt="" width="15" height="15" style="display:block" border="0"/></font></td>
                <td><span style="font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#6d6e71;">E-mail <br />
                    <a href="mailto:falecom@olook.com.br" style="color:#6d6e71">falecom@olook.com.br</a>
                   </span></td>
              </tr>
              <tr>
                <td width="25" height="23" valign="middle"><font style="font-size:10px; font-weight:bold;color:#666; font-family:Arial, Helvetica, sans-serif;"><img src="http://cdn.olook.com.br/assets/base/2014/Untitled-5_08.jpg" alt="" width="15" height="12" style="display:block" border="0"/></font></td>
                <td><span style="font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#6d6e71;">SAC Online </span></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        <td height="90"><table width="141" border="0" cellspacing="0" cellpadding="0">
          
          <tr>
            <td valign="top" align="left" height="90"><table width="141" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="20" height="17"><font style="font-size:10px; font-weight:bold;color:#666; font-family:Arial, Helvetica, sans-serif;"><a href="https://www.facebook.com/Olook" target="_blank"><img src="http://cdn.olook.com.br/assets/base/2014/redes-sociais_03.jpg" alt="" width="15" height="14" style="display:block" border="0"/></a></font></td>
                <td><a href="https://www.facebook.com/Olook" target="_blank" style="text-decoration:none;"><span style="font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#6d6e71; padding-left:3px;">Curta Olook</span></a></td>
              </tr>
              <tr>
                <td width="20"  height="18"><font style="font-size:10px; font-weight:bold;color:#666; font-family:Arial, Helvetica, sans-serif;"><a href="https://twitter.com/olook" target="_blank"><img src="http://cdn.olook.com.br/assets/base/2014/redes-sociais_05.jpg" alt="" width="15" height="14" style="display:block" border="0"/></a></font></td>
               <td><a href="https://twitter.com/olook" target="_blank" style="text-decoration:none;"><span style="font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#6d6e71; padding-left:3px;">Twitter @Olook</span></a></td>
              </tr>
              <tr>
                <td width="20" height="18"><font style="font-size:10px; font-weight:bold;color:#666; font-family:Arial, Helvetica, sans-serif;"><a href="http://instagram.com/olook"><img src="http://cdn.olook.com.br/assets/base/2014/redes-sociais_07.jpg" alt="" width="15" height="14" style="display:block" border="0"/></a></font></td>
                <td><a href="http://instagram.com/olook" target="_blank" style="text-decoration:none;"><span style="font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#6d6e71; padding-left:3px;">Instagram Olook</span></a></td>
              </tr>
              <tr>
                <td width="20"  height="18"><font style="font-size:10px; font-weight:bold;color:#666; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.youtube.com/user/olookfashion" target="_blank"><img src="http://cdn.olook.com.br/assets/base/2014/redes-sociais_09.jpg" alt="" width="15" height="14" style="display:block" border="0"/></a></font></td>
                <td><a href="http://www.youtube.com/user/olookfashion" target="_blank" style="text-decoration:none;"><span style="font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#6d6e71;padding-left:3px;">Youtube Olook</span></a></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        <td><table width="130" border="0" cellspacing="0" cellpadding="0">
          
          <tr>
            <td align="left" valign="top" height="90"><table width="121" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="left" valign="top" height="47"><font style="font-size:10px; font-weight:bold;color:#666; font-family:Arial, Helvetica, sans-serif;"><img src="http://cdn.olook.com.br/assets/base/2014/seg_olook.jpg" alt="" width="121" height="39" style="display:block" border="0"/></font></td>
              </tr>
              <tr>
                 <td><table width="121" border="0" cellspacing="0" cellpadding="0">
                   <tr>
                     <td align="left" valign="middle"><font style="font-size:10px; font-weight:bold;color:#666; font-family:Arial, Helvetica, sans-serif;"><img src="http://cdn.olook.com.br/assets/base/2014/seg_olook2.jpg" alt="" width="15" height="15" style="display:block; padding-left:3px;" border="0"/></font></td>
                     <td height="25" style="padding-top:3px;"><span style="font-family:Arial, Helvetica, sans-serif; font-size:9px; color:#6d6e71;">Compra Segura 100% Protegido</span></td>
                   </tr>
                 </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
    <tr>
    <td>&nbsp;</td>
  </tr>
<tr>
    <td align="center" height="210">
      <p style="font-family:Verdana,Helvetica,Arial, sans-serif; font-size:10px; color:#6d6e71">A Olook se reserva no direito de corrigir possíveis erros com relação aos preços dos produtos.<br />
As ofertas do e-mail estão sujeitas à disponibilidade de estoque e sua duração é por tempo<br />
indeterminado.

O preço pode não ser mais válido após a data do disparo.

Qualquer tipo de<br />
desconto não é cumulativo com outros descontos ou promoções,

prevalecendo <br />
o maior desconto quando for o caso.<br />
<br />



Sobre o uso de imagens e reprodução: Usamos imagens de celebridades, modelos<br> 
e até mesmo anônimas para ilustrar nossas recomendações de moda, look e comportamento.<br>
As pessoas retratadas não estão associadas ou recomendam a Olook.<br><br>





Adicione <a href="mailto:mensagens@olookmail.com.br" style="color:#6d6e71"><strong>mensagens@olookmail.com.br</strong></a> em sua lista de contatos.
A Olook respeita sua privacidade<br />
e de todos os seus clientes.

Você está recebendo este e-mail por fazer parte de nossa lista de inscritos. <br />
Caso queira deixar de receber os nossos e-mails, por favor, cancele seu recebimento.<br />
Leia mais sobre a nossa <a href="http://www.olook.com.br/privacidade" style="color:#6d6e71" target="_blank"><strong>Política de Privacidade</strong>.</a><br />
<br />
Endereço Olook: Rua Natividade, nº 72, Vila Nova Conceição, São Paulo - SP<br />
Este e-mail é gerado automaticamente. Por favor, não responda. <br />
Ficou com alguma dúvida? Entre em contato com nosso SAC, vamos adorar conversar com você! </p>
    </td>
  </tr>
</table>
</body>
</html>
