<p>
  <b>Display on:</b>
  <%= @picture.display_on_humanize %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @picture.image_url(:thumb).to_s %>
</p>

<%= link_to 'Edit', edit_admin_product_picture_path(@picture.product, @picture) %> |
<%= link_to 'Back', admin_product_path(@picture.product) %>
