<% content_for :head do %>
  <%= stylesheet_link_tag "section/checkout" %>
<% end %>

<section id="payment" class="checkout">
  <section class="main">
    <p>Status da resposta do pagamento: <%= @payment_response.response_status %></p>
    <p>Mensagem da resposta do pagamento: <%= @payment_response.message %></p>
 </section>
</section>
