<% content_for :head do %>
  <%= stylesheet_link_tag "section/checkout" %>
<% end %>

<section id="payment" class="checkout">
  <section class="main">
    <% if @payment_response.success? %>
      <p>Status da resposta do pagamento: <%= @payment_response.status %></p>
    <% else %>
      <p>Mensagem da resposta do pagamento: <%= @payment_response.message %></p>
    <% end %>
 </section>
</section>
