#cart-box
  %span.bg-box  
  .products
    %table#items.items_list{:cellpadding => "0", :cellspacing => "0"}
      %tbody
        - @cart.items.each do |item|
          = render partial: 'cart/items/checkout_row', locals: { cart_service: @cart_service, item: item } if item

  - if @freebie && Freebie.selection_for(@cart.id) && @freebie.can_receive_freebie?
    .freebie_row
      %p
        Veja 
        = link_to 'aqui', '#', class: 'seeTheSmell' 
        o mimo que a Olook vai te dar de presente! 
.modal_smell