<div id="cart-box">
  <table cellpadding="0" cellspacing="0" class="items_list" id="items">
    <tbody>
      <% @cart.items.each do |item| %>
        <%= render partial: 'cart/items/row', locals: { cart_service: @cart_service, item: item } if item %>
      <% end %>
    </tbody>
  </table>
  <ul>
    <li><span id="freight_price"><%= "#{freight_for(address)}" if address && address.zip_code %></span></li>
    <li><span id="subtotal"><%= number_to_currency(@cart_service.subtotal) %></span></li>
    <li><span id="total"><%= number_to_currency(@cart_service.total) %></span></li>
    <li><span id="delivery_time"></span></li>
  </ul>  
</div>
