<% content_for :head do %>
  <%= stylesheet_link_tag "section/checkout" %>
<% end %>

<section id="payment" class="checkout">

    <%= form_for(@checkout, url: { action: "create" }) do |checkout_form| %>
      
      
        <%= render "shipping_address_form", checkout_form: checkout_form %>
    
      
      <%= checkout_form.submit '', class: "save" %>
    <% end %>
  
</section>
