<h2>Editando landing page</h2>

<div class="inner">
  <%= render 'form' %>

  <%= link_to 'Mostrar', admin_landing_page_path(@landing_page) %> |
  <%= link_to 'Voltar', admin_landing_pages_path %>
</div>
