.exhibition-mode
  = form_tag olooklet_path, method: 'get' do
    %fieldset
      %p{class: "selected_relevance#{' watermelon' if params[:por].present? && params[:por].to_s != '0'}" }
        - if params[:por].present?
          %span= params[:por] != '0' ? params[:por].gsub("-", " ").titleize : "ORDENAÇÃO"
        - else
          %span ORDENAÇÃO

        = select_tag('por', options_for_select({"NOSSA SELEÇÃO" => 0, "MENOR PREÇO" => "menor-preco", "MAIOR PREÇO" => "maior-preco", "MAIOR DESCONTO" => "maior-desconto", "NOVIDADES" => "novidade"}, :selected => params[:por]), :class => "custom_select", :onchange => ("$(this).parents('form').submit();"))
