<div id='timeline_container' style='float:left;width:76%;border-left:2px solid black'>
  <h2 style='margin-left:190px'>Histórico</h2>
    <div id="timeline-embed"></div>
      <script type="text/javascript">
        
        var timeline_config = {
            source: "/admin/orders/timeline/<%= params[:id] %>.json", 
            css:  '/assets/admin/order_timeline/timeline.css',
            js:   '/assets/timeline-min.js'
        }
      </script>
  <script type="text/javascript" src="/assets/timeline-embed.js"></script>
  <script type="text/javascript">
    $(document).load(function(){
      var timeline = new VMM.Timeline();
      timeline.init("/admin/orders/timeline/<%= params[:id] %>.json");
    });
  </script>
</div>
<div style='clear:both'>