<h2>Editing Moment</h2>

<div class="inner">
  <%= render 'form' %>
</div>
<% content_for :secondary_navigation do %>
 <li><%= link_to 'Show', admin_moment_path(@moment) %></li>
  <li><%= link_to 'Back', admin_moments_path %></li>
<% end %>