<%= form_for(@payment) do |f| %>
  <p class="generate_billet"><%= f.submit "" %>Você poderá imprimir o boleto através da sessão Meus Pedidos em sua conta, Também enviaremos o link para impressão para o seu email.<br />Seu pedido ficará reservado por no máximo XX hrs.</p>
<% end %>

