<% content_for :head do %>
  <%= stylesheet_link_tag "section/checkout" %>
<% end %>

<section id="payment" class="checkout">
  <section class="main">
    <%= link_to "Link para o Boleto", @payment.url %>
 </section>
</section>
