<h2>Editing liquidation <%= @liquidation.name %> </h2>

<div class="inner">

	<%= render 'form' %>

	<%= link_to 'Show', admin_liquidation_path(@liquidation) %> |
	<%= link_to 'Back', admin_liquidations_path %>

</div>
