html {
  &.ie7 {
    body {
      .content {
        .home {
          .steps {
            ul {
              li {
                width:   100%;

                strong {
                  width: 50px;
                }
                span {
                  letter-spacing: -2px;
                }
              }
            }
          }
        }
      }

      #survey {
        ul.questions li.about fieldset.buttons li input[type='submit'] {
          padding: 10px 15px;
        }
        
        .about {
          .jcarousel-prev {
            right: 1050px;
          }
        }

        ul.questions {
          li.about {
            fieldset.select {
              select {
                font-size: 16px;
                color: #F73C89;

                &[name='day'], &[name='year'] {
                  width: 28%;
                }

                &[name='month'] {
                  width: 35%;
                }

                option {
                  padding: 10px;
                }
              }
            }
          }
        }
      }
      
      header {
        a {
          margin-left: 5px;
        }

        #session {
          #sign-in-dropdown {
            form {
              fieldset.buttons {
                ol {
                  li.forgot-password {
                    & + li input[type='submit'] {
                      border: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &.ie8 {
    body {
      header {
        .content {
          #session {
            #sign-in-dropdown {
              form {
                fieldset.inputs {
                  ol {
                    li {
                      input {
                        &[type='email'], &[type='password']  {
                          padding: 5px 8px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      #survey {
        ul.questions {
          li.about {
            fieldset.select {
              select {
                padding: 10px 8px 10px 8px;

                &[name='day'], &[name='year'] {
                  width: 28%;
                }

                &[name='month'] {
                  width: 35%;
                }
              }
            }
          }
        }
      }
    }
  }

  &.webkit {
    body {
      #survey {
        ul.questions {
          li.about {
            fieldset.select {
              select {
                background: url('/assets/common/select-arrow-down.png') no-repeat right center;
              }
            }
          }
        }
      }
    }
  }

  &.gecko {
    body {
      #survey {
        ul.questions {
          li.about {
            fieldset.select {
              select {
                &[name='day'], &[name='year'] {
                  width: 28%;
                }

                &[name='month'] {
                  width: 35%;
                }
              }
            }
          }
        }
      }
    }
  }
}
