%section.container_product.calhau
  .banner{class: (params[:controller] == "brands" ? "brand-banner" : "catalog-banner")}
    %h2 
      Que tal dar uma olhadinha em peças da Olook também?
  %ul#products
    = render "shared/searched_products", :products => antibounce_box.search.products, :product_source => "AntibounceBox"
  .loading  
  = more_products_link_to(catalog_path("roupa", antibounce_box.url_builder.remove_filter_of(:brand)), "Ver todas as marcas", "see-all")
