<div class="full-banner" id="campaing">
  <%= link_to 'X fechar', 'close', :class => 'close' %>

  <div class="content">
    <p>
      Suas informações já estão com nossos stylists. <br />
      Enquanto nossas vendas não se iniciam, você pode <br />
      convidar suas amigas e ganhar R$10,00 cada uma.
    </p>

    <ul class="instructions">
      <li>Convide suas amigas</li>
      <li>Elas respondem o quiz e se registram</li>
      <li>Vocês duas ganham R$10 cada</li>
    </ul>
    <%= link_to 'veja o regulamento', terms_path %>
  </div>

</div>
