<!-- <div class="warn">
  <%# link_to "Fechar", "#", class: 'close' %>
  <p>Também queremos te dar um mimo! Você ganhará <span>20% de desconto</span> no segundo presente.</p>
</div> -->
<p class="new_sacola"><%= link_to "MINHA SACOLA #{cart_total(@cart)}".html_safe, cart_path, :class => "cart #{'full' if @cart && @cart.items_total > 0}" %></p>
<div id="cart_summary">
   <div class="scroll">
      <ul class="submenu">
        <li>
            <p class="freight">Frete grátis para sul e sudeste<br/><span>(em compras a partir de R$60)</span></p>
            <hr />
        </li>
        <% @cart.items.each do |item| %>
          <%= render partial: 'shared/cart_line_item', locals: {item: item, hidden: false} %>
        <% end %>
        <li class="last" style="display:none">&nbsp;</li>
      </ul>
   </div>
   <p class="see_cart"><%= link_to "Ver minha sacola", cart_path, :class => "finish" %></p>
</div>