<!-- <div class="warn">
  <%# link_to "Fechar", "#", class: 'close' %>
  <p>Também queremos te dar um mimo! Você ganhará <span>20% de desconto</span> no segundo presente.</p>
</div> -->
<p class="new_sacola"><%= link_to "MINHA SACOLA #{cart_total(@cart)}".html_safe, cart_path, :class => "cart #{'selected' if @cart && @cart.items_total > 0}" %></p>
<ul class="submenu" id="cart_summary">
  <li><p class="freight">Frete grátis para sul e sudeste<br/><span>(em compras a partir de R$60)</span></p></li>
  <% @cart.items.each do |item| %>
    <%= render partial: 'shared/cart_line_item', locals: {item: item, hidden: false} %>
  <% end %>
  <li class="last">
    <%= link_to "Finalizar Compra", cart_path, :class => "finish" %>
  </li>
</ul>


