<div id="credits_info">
  <% if current_user.current_credit.to_i <= 0 %>
    <div class='block'>
      <h3>Você ainda não acumulou créditos</h3>
    </div>
    <%= link_to "Saiba como ganhar créditos para suas próximas compras.", "#" %>
  <% else %>
    <div class='block'>
      <h2>Créditos das suas últimas compras</h2>
      <p class="money"><span>R$18,18</span></p>
      <p>Válidos até o final de agosto</p>
    </div>
    <%= link_to "Saiba mais sobre seus créditos", "#" %>
  <% end %>
</div>
