<% if object && object.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <% msg = msg.gsub("Id", "") if msg.match("Id") %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
