<section class="like">
  <p>Garanta seu acesso exclusivo.</p>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=205311082875220";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div class="fb-like" data-href="www.facebook.com/Olook" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div>
</section>
