<div class="title-news">
  <hr />
  <h2><span><%= Setting.send("featured_#{Category.key_for(category_id).to_s}_label") %></span></h2>
</div>
<section class="news">
  <ul class="news-list products-list">
    <% @featured_products.each do |p| %>
    <%= render "shared/featured_product_item", :product => p %>
    <% end %>        
  </ul>
</section>