<div class="title-news">
  <hr />
  <h2><span>NÓS AMAMOS</span></h2>
</div>
<section class="news">
  <ul class="news-list products-list">
    <% featured_products.each do |p| %>
    <%= render "shared/featured_product_item", :product => p[:product] %>
    <% end %>
  </ul>
</section>
