#modal_footer
  %div.modal
    %h1 GANHE 10% NA PRIMEIRA COMPRA + 15% NA PRÓXIMA*
    %h2 Cadastre-se e receba por e-mail novidades sobre moda, tendências e promoções exclusivas
    %button{type: "button"} Cadastre-se
    =image_tag "common/footer_girl.png"
    %button.close{type: "button"} Close