#modal_footer
  .modal
    %button.register{type: "button"} Cadastre-se
    =image_tag "common/footer_girl.png"
    %button.close{type: "button"} Close
    .presentation{style:"display:none"}
      %h1 GANHE 10% NA PRIMEIRA COMPRA + 15% NA PRÓXIMA*
      %h2 Cadastre-se e receba por e-mail novidades sobre moda, tendências e promoções exclusivas
    .form
      %form{method:"post", action: ""}
        %p Informe seu email
        %input{type:"text", value:"seunomeaqui@email.com.br"}  
      
    
  