<header class="checkout">
  <div>
    <h1><%= link_to 'Olook', root_path %></h1>
    <!-- <p class="security">Ambiente Seguro</p> -->
    <p class="contact"><span>Central de Atendimento (11) 2626-3489</span> | <%= link_to "falecom@olook.com.br", contact_path %></p>
  </div>
</header>
