<header class="checkout">
  <div class="head">
    <h1><%= link_to 'Olook', root_path %></h1>
    <p class="contact"><span>Olá, <%= current_user.first_name %> | Em caso de dúvidas fale com o nosso SAC (11) 2626-3489</span></p>
  </div>
</header>
