<div class="box_invite">
  <h1>Convide suas amigas e ganhe créditos</h1>
  <p>Você ganhará <strong>R$30</strong> na primeira compra de cada amiga que se cadastrar usando seu convite. <strong>Mande para todo mundo!</strong></p>
  <%= render "shared/social/share", :user => user %>
</div>
