.credits_description
  %h2
    Fidelidade Olook
  %h3
    Fique na moda todos os meses gastando muito menos!
  = image_tag("loyalty/icon_fidelidade.png")
  %ul
    %li.first
      %p
        Toda vez que você
        %br
        comprar na olook
    %li
      %p
        Você ganhará 15%
        %br
        do valor do seu pedido em créditos
    %li.last
      %p
        Para usar em
        %br
        sua próxima compra