<div class="credits_description">
  <div class="box_months">
    <h3>AGORA VOCÊ FICARÁ NA MODA TODOS </br>OS MESES GASTANDO MENOS</h3>
    <ul class="steps">
      <li><p>Toda vez que você<br />comprar na OLOOK</p></li>
      <li><p>Você ganhará 15% do<br />valor do seu pedido<br />em créditos</p></li>
      <li class="last"><p>E poderá utilizar este<br />valor em compras<br />nos próximos 2 meses </br>(em compras acima de R$100)</p></li>
    </ul>
  </div>
</div>
