.flash_promo
  %ul
    %li=image_tag "common/sale.jpg"
    %li
      %p
        = top_banner 'roupa', params[:category]
    %li
      %p
        = top_banner 'sapato', params[:category]
    %li
      %p
        = top_banner 'bolsa', params[:category]
    %li
      %p
        = top_banner 'acessorio', params[:category]
