.flash_promo
  %ul
    %li=image_tag "common/sale.jpg"
    %li
      %p
        = link_to 'Roupas', '/catalogo/roupa?utf8=%E2%9C%93&por=maior-desconto&cmp=liquida_roupa', :class => "cloth"
    %li
      %p 
        = link_to 'Sapatos', '/catalogo/sapato?utf8=%E2%9C%93&por=maior-desconto&cmp=liquida_sapato', :class => "shoes"
    %li
      %p 
        = link_to 'Bolsas', '/catalogo/bolsa?utf8=%E2%9C%93&por=maior-desconto&cmp=liquida_bolsa', :class => "bags"
    %li
      %p 
        = link_to 'Acessórios', '/catalogo/acessorio?utf8=%E2%9C%93&por=maior-desconto&cmp=liquida_acessorio', :class => "accessory"