<div id="wrapper_menu">
  <nav class="menu">
    <div class="content">
      <% if user_signed_in? && !current_user.half_user? %>
      <ul class="product_anchors">
        <li class="shoes"><%= link_to "Sapatos", member_showroom_path(:anchor => "shoes")  %></li>
        <li class="purse"><%= link_to "Bolsas", member_showroom_path(:anchor => "purse") %></li>
        <li class="accessories"><%= link_to "Acessórios", member_showroom_path(:anchor => "accessories") %></li>
      </ul>
      <% end %>
      <ul class="default">
        <% present 'Menu', :user => current_user do |menu_presenter| %>
          <%= menu_presenter.render_menu %>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
