<div id="wrapper_menu">
  <nav class="menu">
    <div class="content">
      <ul class="default">
        <% present 'Menu', :user => current_user do |menu_presenter| %>
          <%= menu_presenter.render_menu %>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
