<div id="wrapper_new_menu">
  <nav class="menu_new">
    <div class="content_new">
      <ul class="default_new">
        <% present 'Menu', :user => current_user do |menu_presenter| %>
          <%= menu_presenter.render_menu %>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
