- unless current_user || params[:controller] == "pages"
  = stylesheet_link_tag  "common/mkt_breadcrumb"
  %section.newsletter
    .feedback.js-success.js-headerbox
      %p
        Cadastro realizado com sucesso! Utilize o cupom 
        %span
          30ACIMA150NEW
        na sacola para receber os R$30 grátis!
        =link_to "Vide Regras", "/termos", :class => "regras"
    .denied.js-error.js-headerbox
      %p
        Oops! Verificamos que seu e-mail já está cadastrado.
    %ul.mail
      %p
        Nova por aqui?
        %span
          R$30 GRÁTIS 
        na primeira compra. Cadastre-se agora!
      %fieldset
        =text_field_tag :email, "", :class => "box_mail js-newsletter js-headerbox", placeholder: "Digite aqui seu e-mail"
      %fieldset.botao
        =submit_tag "CADASTRAR", :class => "bt_enviar js-subscribe js-headerbox"
  - content_for :footer do
    :javascript
      log_event('view', 'newsletter-header');
