<div class="dialog first_visit">
<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2<%= request.host %>/membro/share/<%= @user.id %>0&amp;send=false&amp;layout=standard&amp;width=350&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=35&amp;appId=123022041127235" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:350px; height:35px;" allowTransparency="true"></iframe>
  <%= link_to "X", "javascript:void(0);", :id => "close_dialog" %>
  <%= image_tag(first_visit_banner) %>
</div>

