<div class="dialog product_login">
  <div id="login_modal">
    <div id="register_login">
      <div class="login">
        <h1>Já faz parte?</h1>
        <%= render "users/sessions/form_user" %>
      </div>
      <div class="register">
        <h1>Faça seu cadastro</h1>
        <p>É rápido, fácil e grátis.</p>
        <%= render 'users/registrations/form_half', :resource => User.new(:half_user => true), :resource_name => :user %>
      </div>
    </div>
  </div>
</div>
