<% @catalog_products.each_with_index do |cp,index| %>
  <%= render "shared/product_item", :product => cp.product %>
  <% if generate_separator?(params[:brands],cp,@catalog_products,index) %>
  <div>separador</div>
  <% end %>
<% end %>
<%= raw(I18n.t("product_not_found")) if @catalog_products.empty? %>
