 <% if Setting.show_search_field %>      
 <div class="search_box">
   <%= form_tag(search_path, method: :get, id: "search_form", onsubmit: "return perform_search();") do  %>
     <%= text_field_tag "q",nil, id: "search_product", value: "HOJE QUERO VER..." %>
     <%= submit_tag "Buscar" %>
   <% end %>      
 </div>
 <% end %>