<li class="product">
  <div class="box_product">
    <a href="#">
      <%= showroom_presenter.product_picture(product) %>
      <h1>Hawthrone</h1>
    </a>
    <div class="line">
      <ol>
        <li>Black</li>
        <li>Red</li>
      </ol>
      <%= link_to "Adorei", "javascript:void(0);", :class => "like" %>
    </div>
    <p class="line">
      <%= image_tag "fake/like-fb.png" %>
      <span>R$129,00</span>
    </p>
  </div>
</li>
