<ul class="social-media">
  <li class="fb"><%= link_to 'Curta a olook', 'http://facebook.com/olook', :target => '_blank' %></li>
  <li class="twitter"><%= link_to 'Siga-nos', 'http://twitter.com/olook', :target => '_blank' %></li>
  <li class="orkut"><%= link_to 'Seja nossa amiga', 'http://www.orkut.com.br/Community?cmm=119166386', :target => '_blank' %></li>
</ul>
