<ul class="social-media">
  <li class="fb"><%= link_to 'Curta a olook no', 'http://facebook.com/olook', :target => '_blank' %></li>
  <li class="twitter"><%= link_to 'Siga-nos no', 'http://twitter.com/olook', :target => '_blank' %></li>
</ul>
