%ul.social-media
  %li.fb
    = link_to 'http://facebook.com/olook', :target => '_blank' do 
      Curta a Olook 
      %span
        FACEBOOK
  %li.twitter
    = link_to 'http://twitter.com/olook', :target => '_blank' do 
      Siga-nos no 
      %span
        TWITTER