<h1>Editing gift recipient relation</h1>

<%= render 'form' %>

<%= link_to 'Show', admin_gift_recipient_relation_path(@gift_recipient_relation) %> |
<%= link_to 'Back', admin_gift_recipient_relations_path %>
