<div id="carousel">
  <ul>
    <%- @highlights.each_with_index do |highlight, index| -%>
      <li>
        <%= link_to( image_tag(highlight.image), highlight.link, onclick: track_event('Carrossel',"Banner#{index+1}", highlight.link) ) %>
      </li>
    <%- end -%>
  </ul>
  <%= link_to "Anterior", "javascript:void(0);", :class => "prev-item" %>
  <%= link_to "Próximo", "javascript:void(0);", :class => "next-item" %>
</div>
