<div id="carousel">
  <ul>
    <%- [
      { link: new_survey_path, image: "home/destaque_botao_melancia.jpg" },
      { link: collection_theme_path("diadasmaes"), image: "home/destaque_home_dia_das_maes_2013.jpg" },
      { link: lookbook_path("olook-concept"), image: "home/destaque_olookconcept.jpg" },
    ].each_with_index do |item, index| %>
      <li>
        <%= link_to( image_tag(item[:image]), item[:link], onclick: track_event('Carrossel',"Banner#{index+1}") ) %>
      </li>
    <%- end -%>
  </ul>
  <%= link_to "Anterior", "javascript:void(0);", :class => "prev-item" %>
  <%= link_to "Próximo", "javascript:void(0);", :class => "next-item" %>
</div>
