<div id="carousel">
  <ul>
    <%- [
      { link: new_survey_path, image: "home/destaques_quiz_carol_ribeiro_3.jpg" },
      { link: collection_theme_path("diadosnamorados"), image: "home/destaques_dia_dos_namos_teste_2.jpg" }, 
      { link: "/stylist-news/alerta-fashion-azul/", image: "home/destaque_azul.jpg" },
      { link: "/sapatos?shoe_subcategories[]=bota", image: "home/destaques_botas.jpg" }, 
       
    ].each_with_index do |item, index| %>
      <li>
        <%= link_to( image_tag(item[:image]), item[:link], onclick: track_event('Carrossel',"Banner#{index+1}") ) %>
      </li>
    <%- end -%>
  </ul>
  <%= link_to "Anterior", "javascript:void(0);", :class => "prev-item" %>
  <%= link_to "Próximo", "javascript:void(0);", :class => "next-item" %>
</div>
