#looks.looks_logged
  %h3
    Meus Looks
  #see_too.js-logged-carousel
    %ul#carousel.elastislide-list
      - @showroom_presenter.products.each do |product|
        %li{data: {id: product.id}}
          = link_to image_tag(product.front_picture.try(:image_url, :main)), product_seo_path(product.seo_path), onclick: track_event("LoggedHome", "ClickCarouselProduct", "#{product.id}")
          %p= product.formatted_name(25)
          %span= installments(product.price)

:javascript
  log_event('view', 'logged_looks');
  log_event('view', 'logged_products');
