<section id="stylists">
  <p class="title"><span>//</span> Confira as escolhas da Mari Weickert <span>//</span></p>
  <!--h2>olook amou</h2-->
  <%= render "home/products", products: @stylist, ga_category: 'Stylists' %>
</section>
