- if has_items_in_wishlist?
  - wishlist_images = home_wishlist_images
  .favTip.has_love
    .fav_product
      = link_to image_tag(wishlist_images.first[:img]), product_path(wishlist_images.first[:product])
    .fav_product
      = link_to image_tag(wishlist_images.last[:img]), product_path(wishlist_images.last[:product])
      %h5
        = link_to wishlist_path do
          Meus Favoritos
          %span
            Seus queridinhos esperam por você
- else
  .favTip
    %h5
      = link_to wishlist_path, :class => "favTipLink" do
        Meus Favoritos
        %span
          Separamos todas as peças que você mais gostou!
