- if has_items_in_wishlist?
  - wishlist_images = home_wishlist_images
  .favTip.has_love
    .fav_product
      = link_to image_tag(wishlist_images.first), wishlist_path
    .fav_product
      = link_to image_tag(wishlist_images.last), wishlist_path
    %h5 
      \// Favoritos //
    %p Confira aqui os seus queridinhos
- else
  .favTip
    = link_to "Wishlist", wishlist_path, class: "favTipLink"
    %h5 
      \// Favoritos //
    %p Separe aqui seus produtos favoritos
