<div class="home">
  <section class="model">
    <ul class="model">
      <li><img src="assets/home/model-um.gif" alt=""></li>
    </ul>

  </section>

  <section class="call">
    <p class="line-one">Encontraremos o</p>
    <p class="line-two">estilo perfeito</p>
    <p class="line-three">para você.</p>
  </section>

  <section class="steps">
    <ul>
      <li class="one"><strong>1</strong> <span>Conte-nos sobre seus gostos e preferências</span></li>
      <li class="two"><strong>2</strong> <span>Nossos stylists montam sua vitrine</span></li>
      <li class="three"><strong>3</strong> <span>Você escolhe seu <b>sapato, bolsa ou acessório</b></span></li>
    </ul>

  </section>

  <%= link_to 'Comece aqui e descubra seu estilo. É grátis!', new_survey_path, :class => "start" %>
  <section class="like">
    <p>Curta a olook no <span>Facebook</span></p>
  </section>

</div>
