<% content_for(:head) do %>
  <% render "shared/close_popup_js", :redirect_url => @redirect_url  %>
<% end %>

<div class="home">
  <section class="model">
    <ul class="model">
      <li><img src="assets/home/model-um.png" alt=""></li>
      <li style="display:none"><img src="assets/home/model-dois.png" alt=""></li>
    </ul>

    <ul class="pagination">
      <li><a href="#" class="active">&nbsp;</a></li>
      <li><a href="#">&nbsp;</a></li>
      <li><a href="#">&nbsp;</a></li>
      <li><a href="#">&nbsp;</a></li>
      <li><a href="#">&nbsp;</a></li>
    </ul>
  </section>

  <section class="call">
    <p class="line-one">Encontramos o</p>
    <p class="line-two">estilo perfeito</p>
    <p class="line-three">para você.</p>
  </section>

  <section class="steps">
    <ul>
      <li class="one"><strong>1</strong> <span>Conte-nos sobre seu gosto e preferências</span></li>
      <li class="two"><strong>2</strong> <span>Nossos estilistas montam sua vitrine</span></li>
      <li><strong>3</strong> <span>Escolha o seu <b>R$69, R$99, R$129</b></span></li>
    </ul>

    <div class="navigation-hint">
      <img src="assets/home/dica-navegacao.png" width="168" height="27" alt="Use as setas para trocas a modelo.">
    </div>
  </section>

  <%= link_to image_tag("home/btn-comece-aqui.png", :alt => "COMECE AQUI. É GRÁTIS!", :title => "COMECE AQUI. É GRÁTIS!"), new_survey_path, :id => 'take_survey', :class => "start" %>

  <ul class="social-media">
    <li><span>Acompanhe:</span></li>
    <li class="facebook"><a href="#">Facebook</a></li>
    <li class="twitter"><a href="#">Twitter</a></li>
  </ul>
</div>
