- content_for :head do
  = stylesheet_link_tag "section/home"
  %meta{:content => "home", :name => "chaordic:source"}/
  %meta{:content => @chaordic_user, :name => "chaordic:user"}/
- content_for :footer do
  = javascript_include_tag "section/lite_home"

%section#home
  #banner
    .column
      - left_highlight = @highlights.select{|h| h.position == 2}.first
      =image_tag left_highlight.left_image
      %h2 
        Maxi Colares
        %span Fique na moda!
    .column.big
      =image_tag "home/trash/img_big.jpg"
      %h2 
        Tendência all jeans
        %span Abuse das misturas para arrasar neste verão com as peças mais lindas da Olook
    .column
      - right_highlight = @highlights.select{|h| h.position == 3}.first
      =image_tag right_highlight.right_image
      %h2 
        Moda Praia
        %span Como ficar linda!
  #looks
    %h3
      meus looks
      =link_to "consulte seu perfil", "teste"
    .mylook
      .look
        =image_tag "home/trash/look1.jpg"
      .look
        =image_tag "home/trash/look2.jpg"
      .look
        =image_tag "home/trash/look3.jpg"
      .look.last
        =image_tag "home/trash/look4.jpg"
  #see_too
    %h4
      Veja Também
    %ul#carousel.elastislide-list
      %li
        =link_to image_tag('home/trash/look1.jpg'), "#"
        %span
          R$ 150,00
      %li
        =link_to image_tag('home/trash/look2.jpg'), "#"
        %span
          R$ 150,00
      %li
        =link_to image_tag('home/trash/look3.jpg'), "#"
        %span
          R$ 150,00
      %li
        =link_to image_tag('home/trash/look4.jpg'), "#"
        %span
          R$ 150,00
      %li
        =link_to image_tag('home/trash/look1.jpg'), "#"
        %span
          R$ 150,00
      %li
        =link_to image_tag('home/trash/look2.jpg'), "#"
        %span
          R$ 150,00
      %li
        =link_to image_tag('home/trash/look3.jpg'), "#"
        %span
          R$ 150,00
      %li
        =link_to image_tag('home/trash/look4.jpg'), "#"
        %span
          R$ 150,00
      %li
        =link_to image_tag('home/trash/look1.jpg'), "#"
        %span
          R$ 150,00
      %li
        =link_to image_tag('home/trash/look2.jpg'), "#"
        %span
          R$ 150,00
      %li
        =link_to image_tag('home/trash/look3.jpg'), "#"
        %span
          R$ 150,00
      %li
        =link_to image_tag('home/trash/look4.jpg'), "#"
        %span
          R$ 150,00
      %li
        =link_to image_tag('home/trash/look1.jpg'), "#"
        %span
          R$ 150,00
      %li
        =link_to image_tag('home/trash/look2.jpg'), "#"
        %span
          R$ 150,00
      %li
        =link_to image_tag('home/trash/look3.jpg'), "#"
        %span
          R$ 150,00
      %li
        =link_to image_tag('home/trash/look4.jpg'), "#"
        %span
          R$ 150,00