<h2>Images</h2>
<div class="inner">
  <table class="table">
    <tr>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% lookbook.images.each do |image| %>
    <tr>
      <td><%= image_tag image.image_url(:thumb).to_s %></td>
      <td><%= link_to 'Edit', edit_admin_lookbook_image_path(image.lookbook, image) %></td>
      <td><%= link_to 'Destroy', admin_lookbook_image_path(image.lookbook, image), confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </table>
  <div class="action-bar wat-cf">
    <div class="actions">
      <%= link_to 'Add a new image', new_admin_lookbook_image_path(lookbook) %>
    </div>
  </div>
</div>
