<h2>Editing Lookbook</h2>

<div class="inner">
  <%= render 'form' %>
</div>
<% content_for :secondary_navigation do %>
 <li><%= link_to 'Show', admin_lookbook_path(@lookbook) %></li>
  <li><%= link_to 'Back', admin_lookbooks_path %></li>
<% end %>