<h2>Editando Lookbook</h2>

<div class="inner">
  <%= render 'form' %>
</div>
<% content_for :secondary_navigation do %>
 <li><%= link_to 'Mostrar', admin_lookbook_path(@lookbook) %></li>
  <li><%= link_to 'Voltar', admin_lookbooks_path %></li>
<% end %>
