<script type="text/javascript">
var cto_conf = 't1=sendEvent&c=2&p=4299';
var cto_conf_event = 'v=2&wi=7716407&pt1=0&pt2=1';
var CRITEO = function(){var b ={Load:function(d){var c = window.onload;window.onload = function(){if(c){c()}d()}}};function a(e){
if(document.createElement){var c = document.createElement((typeof(cto_container)!= 'undefined' && cto_container == 'img')? 'img' :
'iframe');if(c){c.width='1px';c.height='1px';c.style.display='none';c.src = e;var d = document.getElementById('cto_mg_div');
if(d!=null&&d.appendChild){d.appendChild(c)}}}}return{Load:function(c){document.write("<div id='cto_mg_div'
style='display:none;'></div>");c+='&'+cto_conf;var f='';if(typeof(cto_conf_event)!='undefined')f=cto_conf_event;
if(typeof(cto_container)!='undefined'){if(cto_container=='img')c+='&resptype=gif';}if(typeof(cto_params)!='undefined'){for(var key in
cto_params){ if(key!='kw'&&(typeof(cto_params[key])=='string'))f+='&'+key+'='+encodeURIComponent(cto_params[key]);}
if(cto_params['kw']!=undefined)c+='&kw='+encodeURIComponent(cto_params['kw']);}c+='&p1='+encodeURIComponent(f);
c+='&cb='+Math.floor(Math.random()*99999999999);try{c+='&ref='+encodeURIComponent(document.referrer);}catch(e){}try{
c+='&sc_r='+encodeURIComponent(screen.width+'x'+screen.height);}catch(e){}try{c+='&sc_d='+encodeURIComponent(screen.colorDepth);}catch
(e){}b.Load(function(){ a(c.substring(0,2000))})}}}();CRITEO.Load(document.location.protocol+'//dis.us.criteo.com/dis/dis.aspx?');
</script>
