<table cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td>
        <h1>Para:</h1>
        <p>Maria Cecília</p>
      </td>
      <td>
        <h1>Presente de:</h1>
        <p>Rodolfo</p>
      </td>
      <td>
        <h1>Data:</h1>
        <p>31 de Dezembro</p>
      </td>
    </tr>
    <tr>
      <td>
        <h1>Tamanho do sapato:</h1>
        <p>36 <%= link_to "Alterar", "#" %></p>
      </td>
      <td>
        <h1>Que é:</h1>
        <p>Minha namorada</p>
      </td>
    </tr>
  </tbody>
</table>
