<% content_for :head do %>
  <%= stylesheet_link_tag "section/gift" %>
  <%= stylesheet_link_tag "section/suggestions" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "gift/suggestions" %>
<% end %>

<% content_for :full do %>
  <div class="full_bg">
    <div class="content" id="suggestion">
      <div id="card">
        <%= render "card" %>
      </div>
      <div id="profile">
      </div>
    </div>
  </div>
<% end %>

