- content_for :head do
  = stylesheet_link_tag "beta"

.confirmation
  
  - if params[:payment_method] == "billet"
    // BOLETO BANCÁRIO

    %h3
      REcebemos o seu pedido!
    %p
      Para concluir sua compra você ainda precisa efetuar o pagamento do BOLETO BANCÁRIO.

    %p
      Número do pedido: 
      %span
        4834399
    .action
      %a.print
        Imprimir boleto
      %a.email
        Enviar Boleto

  - elsif params[:payment_method] == "credit"
    // CARTÃO DE CRÉDITO

    %h3
      REcebemos o seu pedido!
    
    %p
      Número do pedido: 
      %span
        4834399
    %p
      Estamos aguardando a confirmação de pagamento da operadora do seu cartão para dar prosseguimento ao envio.

  - elsif params[:payment_method] == "debit"

    // PAGAMENTO DÉBITO ONLINE

    %h3
      REcebemos o seu pedido!
    
    %p
      Número do pedido: 
      %span
        4834399
    %p
      Para concluir a compra você ainda precisa preencher os dados solicitados na página do seu banco.
      %br/ 
      Caso você não seja automaticamente direcionado
      =link_to 'clique aqui', ''

  - elsif params[:payment_method] == "mp"
    // PAGAMENTO MERCADOPAGO
    %h3
      REcebemos o seu pedido!
    
    %p
      Pronto! Recebemos o seu pedido de compra. Confira abaixo instruções para os próximos passos abaixo:

    .new_payment_link
      %p.txt_payment_link 
        Para finalizar o pagamento, informe os dados solicitados pelo MercadoPago.
        %br/
        %span Informe abaixo os dados solicitados pelo MercadoPago para realizar o pagamento do seu pedido.
      %p.mercado_pago_frame
        %iframe{src: "https://4019872.fls.doubleclick.net/activityi;src=4019872;type=venda815;cat=venda100;qty=1;cost=R$%2038,90;ord=4431336?", width:"100%", height:"600px"}


  .addressDelivery
    .cart_products{class: ("long_cart" if @has_long_cart) }
      %span
        Seus produtos
      %ul.products
        %li.product
          =link_to image_tag("http://d1m0eb15reawkf.cloudfront.net/pictures/1702113083/1/catalog_image-c79f0fce295cb9fd300223c9982e161e72d432415312ac6e41106b996f237927..jpg", :border => 0)
          %span
            R$ 125,00
        %li.product
          =link_to image_tag("http://d1m0eb15reawkf.cloudfront.net/pictures/1702113083/1/catalog_image-c79f0fce295cb9fd300223c9982e161e72d432415312ac6e41106b996f237927..jpg", :border => 0)
          %span
            R$ 125,00
        %li.product
          =link_to image_tag("http://d1m0eb15reawkf.cloudfront.net/pictures/1702113083/1/catalog_image-c79f0fce295cb9fd300223c9982e161e72d432415312ac6e41106b996f237927..jpg", :border => 0)
          %span
            R$ 125,00
    %p
      %span
        Endereço para entrega
      Nhatumani, 476
      Vila Ré - 03663-000
      São Paulo, SP
    %p
      %span
        Frete
      Frete a Jato - Entrega em até 3 horas - R$15,00
    %p
      %span
        Forma de Pagamento
      Boleto bancário
  %br
  .banner
    .olookGift
      %span
        Presente OLOOK para você
      %p
        Pague seu pedido e ganhe 
        %span
          R$14,99 GRÁTIS 
        em créditos fidelidade para utilizar já em sua próxima compra. Aproveite!
    =link_to(image_tag('cart/img_ebit.jpg'), 'www.google.com')

