=javascript_include_tag "lib/underscore"
=javascript_include_tag "lib/backbone"

#main

#addressApp

#addressForm

%script{:type => "text/template", :id => "address-template"}
  %fieldset
    %input{type: 'radio', value: '{{ id }}'}
    %ul
      %li 
      %li {{ street }}, {{ number }}
      %li {{ neighborhood }} - {{ zip_code }}
      %li {{ city }},  {{state}} 
      %li= link_to 'Alterar', '#', class: 'js-changeAddress', id: '{{id}}'
      %li <a href="#" id='{{id}}' class='zip'>Remover</a>


%script{id: "template-old", type: "text/html"}
  <div class='address'>
  <strong><%= zip_code %></strong>
  <span><%= city %></span>
  <a href="#" id='<%= id %>' class='zip'>Remover</a>
  </div>      

%script{id: "form_template", type: "text/html"}
  <a href="#" class='js-addAddress'>Adicionar endereco</a>
  <div class='js-address_form' style='display: none'>
  <form>
  <div class='control-group zip_code'>
  <p>Cep: <input type='text' id='zip_code' name='zip_code'></p>
  <span class='help-inline'></span>
  </div>
  <p>Rua: <input type='text' id='street' name='street'></p>
  <p>Estado: <input type='text' id='state' name='state'></p>
  <p>Numero: <input type='text' id='number' name='number'></p>
  <p>Bairro: <input type='text' id='neighborhood' name='neighborhood'></p>
  
  <div class='control-group city'>
  <p>Cidade: <input type='text' id='city' name='city'></p>
  <span class='help-inline'></span>
  </div>  
  
  <p>Telefone: <input type='text' id='telephone' name='telephone'></p>

  <p><input type='button' id='save-btn' value='Cadastrar' name='save-btn' value='Cadastrar'></p>
  <p><input type='submit' id='submit' value='Enviar' name='submit' value='Enviar'></p>
  </form>
  </div>

=javascript_include_tag "beta.js"