%p#notice= notice

%h2 Item de imprensa

- content_for :secondary_navigation do
  %li= link_to 'Voltar', admin_path

.inner
= link_to 'Editar', edit_admin_clipping_path(@clipping)
\|
= link_to 'Voltar', admin_clippings_path
