<div class="item">
  <h1>Endereço de entrega <%= link_to "alterar", addresses_path %></h1>
  <p><strong>Raul Souza Lima</strong></p>
  <p>Rua Surubim, 159 - Brooklin Paulista</p>
  <p>São Paulo, SP</p>
</div>
