<div id="request_info">
  <%= yield :checkout_sidebar %>
  <div class="item">
    <h1>Meu Pedido <%= link_to "alterar", cart_path %></h1>
    <table cellpadding="0" cellspacing="0">
      <tfoot>
        <tr>
          <td>Total:</td>
          <td class="value">R$ 397,00</td>
        </tr>
      </tfoot>
      <tbody>
        <tr>
          <td>Sub-total:</td>
          <td class="value">R$ 397,00</td>
        </tr>
        <tr>
          <td>Crédito</td>
          <td class="value credit">- R$ 300,00</td>
        </tr>
        <tr>
          <td>Frete</td>
          <td class="value"><%= @freight ? number_to_currency(@freight[:price]) : "-"  %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
