<div class="item">
  <h1>Endereço de entrega <%= link_to "alterar", addresses_path %></h1>
  <p><strong><%= order.freight.address.identification %></strong></p>
  <p><%= "#{order.freight.address.street}, #{order.freight.address.number} - #{order.freight.address.neighborhood}" %></p>
  <p><%= "#{order.freight.address.city}, #{order.freight.address.state}" %></p>
</div>
