<ul class="payment_methods">
  <li class="billet">
    <p>Boleto</p>
    <%= link_to "Boleto Bancário", new_billet_path %>
  </li>
  <li class="debit">
    <p>Transferência bancária</p>
    <%= link_to "Débito Bancário", new_debit_path %>
  </li>
  <li class="credit_card">
    <p>Cartão de crédito</p>
    <%= link_to "Cartão de Crédito", new_credit_card_path %>
  </li>
</ul>
