<ul class="payment_methods">
  <li class="billet">
    <p>Boleto</p>
    <%= link_to "Boleto Bancário", new_billet_path, :class => selected_if_current(["billets#new"]) %>
  </li>
  <li class="debit">
    <p>Transferência bancária</p>
    <%= link_to "Débito Bancário", new_debit_path, :class => selected_if_current(["debits#new"]) %>
  </li>
  <li class="credit_card">
    <p>Cartão de crédito</p>
    <%= link_to "Cartão de Crédito", new_credit_card_path, :class => selected_if_current(["credit_cards#new"]) %>
  </li>
</ul>
