<% @products.each_slice(5).with_index do |products_array, index| %>
  <ul>
    <% products_array.each do |product| %>
      <%= render "shared/product_item", :product => product %>
    <% end %>
  </ul>
  <% if index == 0 %>
    <h1 class="discount"><strong>TROCA GRÁTIS</strong> EM ATÉ 30 DIAS. <strong>DEVOLUÇÃO E DINHEIRO DE VOLTA</strong></h1>
  <% elsif index == 1 %>
    <h1 class="freight"><strong>Frete grátis</strong> para sul e sudeste (em compras a partir de R$99)</h1>
  <% end %>
<% end %>
