<ul>
  <li>
    <div class="fl">
      <div class="image">
        <%= image_tag "/assets/press/manifesto.jpg" %>
      </div>
    </div>
    <p>Acreditamos que moda expressa quem você é, sua personalidade e estilos. Seus vários estilos! Afinal você não é uma. Você é múltipla e muda. E nós amamos te ver brilhando sempre: da pra à festa, do trabalho ao final de semana. É por isso que dedicamos um olhar cuidadoso e que celebra esses vários momentos. Todos os meses trazemos uma nova coleção recomendada especialmente para você, com peças exclusivas que têm como inspiração as tendências hot da estação ou se preferir, navegue pelo site e veja as dicas de compras por ocasião. Aqui você pode conferir e decidir como combinar com seus estilos. Ou quem sabe arriscar mais um diferente?</p>
    <%= link_to "Clique aqui para ler o manifesto completo", our_essence_path %>
  </li>
</ul>
