- content_for :head do
  = stylesheet_link_tag  "section/avc-campaign"

= first_level_breadcrumb("Responsabilidade Social")

#avc
  .about
    %h1 RESPONSABILIDADE SOCIAL
    %p.txt-about Nós da Olook fazemos parte de uma comunidade e queremos pro-ativamente servi-la através do que sabemos fazer melhor. Somos uma empresa de moda que conversa com centenas de milhares de mulheres todos os meses e somos obcecados por ajudar estas pessoas a fazerem as melhores escolhas e se sentirem bem.
    %p.txt-about Atualmente usamos esta força para incentivar iniciativas que trazem valor para a sociedade, através da ajuda na profissionalização de jovens ou na disseminação de conhecimento sobre saúde.
  %section#que-tal
    %h2 Que tal seu projeto aqui?
    %p Se o seu projeto se encaixa em nossa visão, envie informações sobre ele para:
    %p
      %a{:href => "mailto:olooksocial@olook.com.br"} olooksocial@olook.com.br
    %p E vamos conversar! ;)
  %p.txt-projetos 
    Projetos sociais apoiados pela Olook
  %section#tv-cinema
    %h2 Instituto Criar de TV e Cinema
    %p O Instituto Criar de TV, Cinema e Novas Mídias promove o desenvolvimento profissional, sociocultural e pessoal de jovens por meio do audiovisual.
    %p Anualmente, 150 jovens, com idade entre 17 a 20 anos e em situação de vulnerabilidade social e econômica, têm formação técnica e sociocultural através do instituto, fundado em 2003 pelo apresentador de TV Luciano Huck.
    %p A Olook se orgulha de ser a patrocinadora  da oficina de figurino do Instituto Criar.
    %p
      %a{:href => "http://www.institutocriar.org/", :target => "_blank"} Saiba mais sobre o Instituto Criar
  %section#rede-brasil
    %h2 Rede Brasil AVC
    %p A Rede Brasil AVC trabalha para melhorar a assistência global ao paciente com AVC (Acidente Vascular Cerebral) em todo o País.
    %p Seus colaboradores lutam para diminuir o número de casos da doença, melhorar o atendimento hospitalar ao paciente, prevenção, além da reabilitação precoce e reintegração social.
    %p O AVC é a doença que mais mata no Brasil e atinge mais mulheres do que homens.
    %p A Olook participou ativamente da campanha: "AVC: Eu me importo!", ajudando na divulgação e vendendo a pulseira em nosso site (de outubro de 2012 a abril de 2013).
    %p
      %a{:href => "http://redebrasilavc.org.br/", :target => "_blank"} Saiba mais sobre a Rede Brasil AVC
  %section#rosa
    %h2 Outubro Rosa - Américas Amigas
    %p A OSCIP Américas Amigas surgiu da união de brasileiros e norte-americanos na luta pela diminuição do número de mortes causadas pelo câncer de mama no Brasil, especialmente entre a população de baixa renda.
    %p A associação promove ações de conscientização sobre a importância da prevenção e do diagnóstico precoce da doença, doa mamógrafos e equipamentos correlatos à mamografia à instituições que atendam pacientes do SUS e promove treinamentos e cursos de aperfeiçoamentos para técnicos e médicos das suas instituições beneficiárias.
    %p
      %a{:href => "http://www.americasamigas.org.br/", :target => "_blank"} Saiba mais sobre a Américas Amigas
  .about_rosa
    %h1 CAMPANHA ATUAL: outubro rosa
    %p.txt-about O câncer de mama está entre as principais causas de mortalidade entre as mulheres no mundo inteiro. No Brasil, estima-se que a doença vitime uma mulher a cada 36 minutos.
    %p.txt-about Pesquisas indicam que no Brasil 44% dos casos de câncer de mama são detectados no estágio avançado, o que dificulta o tratamento e diminui as chances de cura. Como consequência, o índice de mortalidade pela doença é muito elevado entre as brasileiras: 42% das mulheres diagnosticadas com câncer de mama não sobrevivem.
    %p.txt-about Descobrir o câncer de mama em seu estágio inicial possibilita a cura em 95% do casos, por isso a  campanha Outubro Rosa tem como objetivo divulgar a importância da mamografia e convidar as mulheres a fazerem o exame. São esperados 60.000 novos casos de doença em 2013 no Brasil e quanto mais cedo à detecção, maior a probabilidade de cura.
    %p.txt-about Durante o mês de outubro a Olook estará participando da campanha "Outubro Rosa: Eu apoio!". Todos os produtos vendidos na cor rosa da marca Olook terão parte da renda revertida para a campanha. Confira a seleção de produtos e ajude a OSCIP Américas Amigas nesta causa.
    %p
      %a{:href => "/colecoes/outubro_rosa", :target => "_blank"} Confira Seleção de Produtos
  =link_to image_tag("campaigns/outubro_rosa.jpg"), '/colecoes/outubro_rosa', :title => "Outubro Rosa", :class => "selo_rosa"