- content_for :head do
  = stylesheet_link_tag  "section/avc-campaign"
#avc
  %h1 RESPONSABILIDADE SOCIAL
  %p.txt-about Nós da Olook fazemos parte de uma comunidade e queremos pro-ativamente servi-la através do que sabemos fazer melhor. Somos uma empresa de moda que conversa com centenas de milhares de mulheres todos os meses e somos obcecados por ajudar estas pessoas a fazerem as melhores escolhas e se sentirem bem.
  %p.txt-about Atualmente usamos esta força para incentivar iniciativas que trazem valor para a sociedade, por exemplo, através da ajuda na profissionalização de jovens ou na disseminação de conhecimento sobre saúde.
  %p.txt-projetos Projetos sociais apoiados pela Olook
  %section#tv-cinema
    %h2 Instituto Criar de TV e Cinema
    %p O Instituto Criar de TV, Cinema e Novas Mídias promove o desenvolvimento profissional, sociocultural e pessoal de jovens por meio do audiovisual.
    %p Anualmente, 150 jovens, com idade entre 17 a 20 anos e em situação de vulnerabilidade social e econômica, têm formação técnica e sociocultural através do instituto, fundado em 2003 pelo apresentador de TV Luciano Huck.
    %p A Olook se orgulha de ser a patrocinadora  da oficina de figurino do Instituto Criar.
    %p
      %a{:href => "http://www.institutocriar.org/", :target => "_blank"} Saiba mais sobre o Instituto Criar
  %section#rede-brasil
    %h2 Rede Brasil AVC
    %p A Rede Brasil AVC trabalha para melhorar a assistência global ao paciente com AVC (Acidente Vascular Cerebral) em todo o País.
    %p Seus colaboradores lutam para diminuir o número de casos da doença, melhorar o atendimento hospitalar ao paciente, prevenção, além da reabilitação precoce e reintegração social.
    %p O AVC é a doença que mais mata no Brasil e atinge mais mulheres do que homens.
    %p A Olook participou ativamente da campanha: "AVC: Eu me importo!", ajudando na divulgação e vendendo a pulseira em nosso site (de outubro de 2012 a abril de 2013).
    %p
      %a{:href => "http://redebrasilavc.org.br/", :target => "_blank"} Saiba mais sobre a Rede Brasil AVC
  %section#que-tal
    %h2 Que tal seu projeto aqui?
    %p Se o seu projeto social se encaixa em nossa visão, envie informações sobre ele para:
    %p
      %a{:href => "mailto:olooksocial@olook.com.br"} olooksocial@olook.com.br
    %p E vamos conversar! ;)
