<% content_for(:head) do %>
  <%= stylesheet_link_tag  "about/style" %>
<% end %>

<%= first_level_breadcrumb("Perguntas Frequentes (FAQ)") %>

<div id="terms" role="main" class="faq">
    <iframe src="http://olook.neoassist.com/" width="100%" height="500px"></iframe>
</div>
