<% content_for(:head) do %>
  <%= stylesheet_link_tag  "about/style" %>
<% end %>

<div id="terms" role="main" class="faq">
  <h1>Dúvidas Frequentes</h1>
  <div class="steps">
    <h2>1. COMO FUNCIONA O SITE?</h2>
    <p>Começar é fácil, divertido e totalmente grátis! O primeiro passo é responder o nosso style quiz. São perguntas sobre moda, celebridades e design que você responde com o que melhor reflete seu estilo. Nós entendemos seu perfil de moda e todos os meses você recebe uma nova vitrine criada pelos nossos stylists com produtos incríveis selecionados para você, além de dicas e conteúdo sobre moda.</p>

    <h2>2. EXISTE UMA TAXA DE ADESÃO?</h2>
    <p>Ser um membro da olook é absolutamente grátis! Você tem acesso aos conteúdos e a sua vitrine de moda personalizada sem nenhum custo. Você só paga ao realizar um pedido de compra.</p>

    <h2>3. COMO POSSO ME TORNAR UM MEMBRO DA Olook?</h2>
    <p>Você pode se cadastrar diretamente pelo site www.olook.com.br ou aceitar um convite de uma amiga que já é membro da olook. Acessando o site ou recebendo o convite, basta preencher o style quiz e um breve cadastro. Ao completar essas informações, você já se torna um membro oficial.</p>

    <h2>4. QUANDO POSSO VER A MINHA PRIMEIRA VITRINE E COMPRAR?</h2>
    <p>A sua vitrine na olook fica disponível assim que você finaliza o cadastro, a partir desse momento você já pode visualizar os produtos da coleção do mês. Sempre que tiverem novidades em sua vitrine ou uma nova coleção for lançada, você receberá um e-mail e poderá comprar os produtos que desejar.</p>

    <h2>5. ALÉM DA MINHA VITRINE, QUE OUTROS PRODUTOS ESTÃO DISPONÍVEIS?</h2>
    <p>Além dos produtos recomendados na sua vitrine, você também pode navegar pelo menu do site e checar as últimas TENDÊNCIAS da moda, comprar para uma OCASIÃO específica, ver as recomendações da STYLIST ou comprar um PRESENTE para uma amiga.</p>

    <h2>6. QUE TIPOS DE PRODUTOS ESTARÃO DISPONÍVEIS?</h2>
    <p>A olook é especializada em sapatos, bolsas, e acessórios para mulheres.</p>

    <h2>7. POSSO REFAZER O "QUIZ"?</h2>
    <p>Sim, você pode refazer o quiz a qualquer momento, basta se logar no site e clicar no ícone em destaque "sua vitrine" logo abaixo a mensagem de "boas vindas".</p>

    <h2>8. Quais são as opções de pagamento?</h2>
    </p>Você pode fazer suas compras por cartão de crédito (à vista ou parcelado) ou por boleto (somente à vista).</p>

    <h2>9. Quanto tempo demora para CONFIRMAR o pagamento por boleto?</h2>
    <p>Após você efetuar o pagamento do boleto, nosso sistema tem até 48h para atualizar as informações e confirmar o valor pago.</p>

    <h2>10. Quanto tempo demora para chegar meu pedido?</h2>
    <p>O prazo de entrega pode variar de acordo com cada região, clique no link e veja a tabela de prazo de entrega: <%= link_to "http://www.olook.com.br/prazo-de-entrega", delivery_time_path %>. <strong>O prazo de entrega passa a contar a partir da confirmação de pagamento.</strong></p>

    <h2>11. COMO É CALCULADO O valor do frete?</h2>
    <p>O valor do frete é definido a partir do peso e do volume do produto e também de acordo com a região de entrega. O valor calculado do frente será mostrado antes da finalização da compra.</p>

    <h2>12. Como funciona a promoção de "indicar amigas"?</h2>
    <p>Você indica quantas amigas quiser para conhecer o site. A cada primeira compra que as suas amigas cadastradas fizerem no sitea, você ganha R$ 10,00 em crédito para usar no site. Atenção: o crédito é fornecido apenas para compras no site da <%= link_to "www.olook.com.br", root_path %> e não pode ser revertido em dinheiro.</p>

    <h2>13. Por que conectar minha conta olook com o facebook?</h2>
    <p>Não é obrigatório usar o Facebook, mas criamos essa opção para facilitar e permitir algumas coisas legais no site. Com ele conectado, você não precisa lembrar de mais uma senha – usa o login via Facebook. Além disso, você pode ver a vitrine das suas amigas e elas podem ver a sua.</p>
  </div>
</div>
