<% content_for(:head) do %>
  <%= stylesheet_link_tag  "about/normalize" %>
  <%= stylesheet_link_tag  "about/style" %>
<% end %>

<div id="terms" role="main">
  <h1>Dúvidas Frequentes</h1>
  <div class="steps">

    <h2>COMO FUNCIONA O SITE?</h2>
    <p>Começar é fácil, divertido, e totalmente grátis! O primeiro passo é responder o nosso fashion quiz. O nosso fashion quiz te faz uma série de perguntas que você responde selecionando uma variedade de imagens relacionadas à moda, celebridades, e design que melhor refletem o seu estilo. Todos os meses novas coleções da olook são lançadas e os nossos stylists selecionarão uma vitrine com produtos incríveis de acordo com o seu perfil fashion. </p>

    <h2>EXISTE UMA TAXA DE ADESÃO?</h2>
    <p>Ser um membro da olook é absolutamente grátis! Você tem acesso a sua vitrine de moda personalizada sem nenhum custo. Você só paga ao realizar um pedido.</p>

    <h2>COMO POSSO ME TORNAR UM MEMBRO DA Olook?</h2>
    <p>Após completar o fashion quiz, você será solicitado a se cadastrar no site. Assim que você completar o seu cadastro, você se tornará um membro oficial! Existem várias maneiras de se tornar um membro da olook. Você pode se cadastrar diretamente pelo site olook.com.br ou aceitar um convite de uma amiga que já é membro da olook.</p>

    <h2>QUANDO POSSO VER A MINHA PRIMEIRA VITRINE E COMPRAR?</h2>
    <p>A sua vitrine na olook e os nossos produtos chegarão em breve. Depois de se tornar um membro, nós te enviaremos notificações por e-mail quando a sua vitrine estiver pronta e você terá acesso para comprar os produtos da olook.</p>
    
    <h2>QUE TIPO DE PRODUTOS ESTARÃO DISPONÍVEIS</h2>
    <p class="last">A olook é especializada em sapatos, bolsas, e acessórios de moda para mulheres.</p>

  </div>
</div>
