<% content_for :head do %>
  <%= stylesheet_link_tag  "section/how_to" %>
<% end %>
<%= first_level_breadcrumb("Como Funciona") %>
<div id="how_to">
  <div id="description">
    <h1>Para você, com todo o estilo que é só seu!</h1>
    <h2>Sabe o que a gente mais quer? Entender o seu estilo!<br />Por isso o primeiro passo é saber mais sobre você, através do nosso <%= link_to "style quiz", wysquiz_path, class:"txtpink" %>.</h2>
    <p>A partir daí, todo mês, nossas stylists montarão uma seleção especial de produtos com a sua cara e que seguem as principais tendências da moda. Ajudamos a montar looks incríveis: você + sua vitrine de roupas, sapatos, bolsas e acessórios. Todos incríveis e com os melhores materiais para você ficar linda, confortável e cheia de estilo. Sem contar que os preços são ótimos.</p>
    <p class="last">Você escolhe e compra os produtos que gostar. Em caso de desistência, você pode solicitar a troca ou devolução gratuitamente em até 30 dias.</p>
  </div>
  
</div>

<div id="steps">
  <h1>Veja como funciona</h1>
  <ul>
    <li id="left_box"><h3>Responda nosso Style Quiz</h3><p>Desenvolvemos um divertido style quiz para que você entenda melhor suas preferências e receber no final um painel sobre o seu estilo.</p></li>
    <li id="left_box_mid"><h3>Nossos Stylists montam sua vitrine</h3><p>Nossa equipe de stylists trabalhará para criar todos os meses os modelos exclusivos que mais combinam com você.</p></li>
    <li id="right_box_mid"><h3>Escolha o seu sapato, bolsa ou acessório</h3><p>Dentro da sua vitrine personalizada você terá as melhores opções para fazer bonito na produção de looks cheios de estilo.</p></li>
    <li id="right_box"><h3>CONVIDE SUAS AMIGAS E GANHE R$10 CADA UMA</h3><p>Ganhe bônus para trocar pelas peças que você quiser indicando a Olook para suas amigas e aproveite ainda mais sua vitrine.</p></li>
  </ul>
</div>
