<% content_for :head do %>
  <%= stylesheet_link_tag "section/olookmovel" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "plugins/jquery.instagram" %>
  <%= javascript_include_tag "olookmovel" %>
<% end %>

<section id="kombi">
  <div id="description">
    <h1>OLOOK<span>móvel</span></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <h2>Onde posso encontrar olookmóvel?</h2>
    <p>Por enquanto, apenas em São Paulo, Capital.<br />E a cada dia em um novo destino.</p>
  </div>
  <div id="pictures">
    <div id="instagram">
      <h1>O que anda rolando<br /> no <strong>OLOOK<span>móvel</span></strong></h1>
      <div class="instagram_pictures"></div>
    </div>
    <p>Publique sua foto do olook<em>móvel</em> no instagram!<br />Use a hashtag <span>#olookmóvel</span> e veja ela aparecer aqui :)</p>
  </div>
</section>
