<% content_for :head do %>
  <%= stylesheet_link_tag "section/olookmovel" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "plugins/jquery.instagram" %>
  <%= javascript_include_tag "olookmovel" %>
<% end %>

<section id="kombi">
  <div id="description">
    <h1>OLOOK<span>móvel</span></h1>
    <p>A olookmóvel surgiu do desejo de estar ainda mais perto de você.</p>
    <p>Através de uma experiência única e super diferente, agora você pode conhecer melhor os modelos da nossa coleção, experimentar e ficar por dentro de todas as novidades.</p>
    <p>Escolhemos uma Kombi 1968  super estilosa para se tornar a vitrine móvel da olook. Ela foi totalmente personalizada e adaptada com uma combinação perfeita entre a nossa essência e o que temos de melhor para lhe inspirar.</p>
    <p>Nela você pode conferir uma seleção dos produtos da coleção do mês, assistir nossos editoriais com dicas de moda e, se quiser, comprar online de lá mesmo. Além disso, estamos disponibilizando cupons de desconto para usar no site.</p>
    <p>Para começar, nos próximos dias a olookmóvel estará por vários bairros da cidade de São Paulo. Acompanhe o roteiro e fique ligada:</p>
    <p>Siga a <a href="http://instagram.com/olook" target="_blank">@olook</a> para saber o que está rolando e onde encontrá-la.</p>
  </div>
  <div id="pictures">
    <div id="instagram">
      <h1><a href="http://instagram.com/olook" target="_blank">Acompanhe a <b>OLOOK</b><span>móvel</span></a><span class="test">Siga a <a href="http://instagram.com/olook" target="_blank">@olook</a> para saber onde encontrá-la</span></h1>

      <div class="instagram_pictures"></div>
    </div>
    <p>Publique sua foto da olook<em>móvel</em> no instagram!<br />Use a hashtag <span>#olookmovel</span> e veja ela aparecer aqui :)</p>
  </div>
  <div id="schedule">
    <h1>Roteiro da olookmóvel para os próximos dias<br/><span>O roteiro poderá sofrer alterações (de acordo com a nossa disponibilidade ou condições climáticas).</span></h1>
    <h2 style="display:none">Saiba onde encontrar</h2> 
    <table cellspacing="0" cellpadding="0">
      <tbody>
        <tr class="title">
          <td>Quando?</td>
          <td>Onde?</td>
        </tr>
        <tr>
          <td>21/09/2013 (sab) / VILLA LOBOS</td>
          <td>10h00 – Chegada ao 1º local – Parque Villa-Lobos</td>
        </tr>
        <tr>
          <td>23/09/2013 (seg) / CENTRO</td>
          <td>10h00 – Chegada ao 1º local – Rua Marques de Itu</td>
        </tr>
        <tr>
          <td>24/09/2013 (ter) / HIGIENÓPOLIS</td>
          <td>11h30 – Chegada ao 1º local – Avenida Higienópolis</td>
        </tr>
        <tr>
          <td>25/09/2013 (qua) / JARDINS</td>
          <td>11h30 – Chegada ao 1º local – Rua Pamplona</td>
        </tr>
        <tr>
          <td>26/09/2013 (qui) / TATUAPÉ</td>
          <td>11h30 – Chegada ao 1º local – Praça Silvio Romero</td>
        </tr>
        <tr>
          <td>27/09/2013 (sex) / TATUAPÉ</td>
          <td>11h30 – Chegada ao 1º local – Rua Azevedo Soares</td>
        </tr>
        <tr>
          <td>28/09/2013 (sab) / IBIRAPUERA</td>
          <td>11h00 – Chegada ao 1º local – Parque do Ibirapuera</td>
        </tr>
        </tr>   
      </tbody>
    </table>
  </div>
</section>
