<% content_for :head do %>
  <%= stylesheet_link_tag "section/our_essence" %>
<% end %>
<%= first_level_breadcrumb("Nossa Essência") %>

<section id="our_essence">
  <h1>Nossa Essência</h1>
  <div class="description">
    <p>Acreditamos que <span>moda expressa quem você é</span>, sua personalidade e estilos. <span>Seus vários estilos!</span> Afinal você não é uma. Você é múltipla e muda. E nós amamos te ver brilhando sempre: da praia à festa, do trabalho ao final de semana. É por isso que dedicamos um olhar cuidadoso e que celebra esses vários momentos.</p>
    <p><span>Todos os meses trazemos uma nova coleção</span> recomendada especialmente para você, com peças que têm como inspiração as tendências hot da estação ou se preferir, navegue pelo site e veja as dicas de compras por ocasião.  Aqui você pode conferir e decidir como <span>combinar com seus estilos</span>. Ou quem sabe <span>arriscar</span> mais um diferente?</p>
    <p>Moda é arte, é diversão e nós da <span class="olook-bold">olook</span> gostamos de uma moda descomplicada, leve, confortável e, melhor ainda, <span>sem gastar uma fortuna.</span> Ninguém nos tira da cabeça que estilo não tem nada a ver com uma conta bancária milionária.</p>
    <p>Quando falamos de moda também estamos falando de escolha. <span>Comprar quando quiser, o que quiser e com quem quiser.</span> Fazer compras com uma amiga é muito divertido, não é? E aqui na <span class="olook-bold">olook</span> você tem tudo isso a apenas um click de distância.</p>
    <p>Estilo tem tudo a ver com inspiração! Trabalhamos para te inspirar. <span>Inspire-se!</span> Queremos te ver impossível, linda e com aquela certeza de que “ninguém me segura!”. Encare a <span class="olook-bold">olook</span> como aquela amiga que sempre te apresenta o par perfeito, sabe? Só que nós apresentamos os acessórios perfeitos.</p>
    <p>Estar na moda é ser quem você quiser, quando quiser! Seu estilo pode mudar a cada dia, em cada ocasião e a  <span class="olook-bold">olook</span>  te ajuda a  encontrar a peça perfeita.</p>
  </div>
  <div class="logo_definition">
    <h2>Nossa essência se traduz<br />em nossa marca</h2>
    <%= image_tag "common/logo-definition.jpg", :title => "Olook" %>
    <p>1. Diversidade de caminhos,<br />sentidos e direções.</p>
    <p>2. Fluidez e feminilidade através<br />das formas curvas</p>
    <p>3. Moda através da trama/<br />entrelaçamento de fios</p>
    <p>4. Infinitude e circularidade</p>
    
  </div>
</section>
