<% content_for(:head) do %>
  <%= stylesheet_link_tag  "about/normalize" %>
  <%= stylesheet_link_tag  "about/style" %>
<% end %>

<div id="terms" role="main">
  <h1>Política de Privacidade</h1>
  <div class="steps">

    <p class="intro">Esta Política de Privacidade discute os detalhes com relação às suas informações pessoais voluntariamente entradas em Olook.com.br, tais como informações de contato pessoal e informações de cartão de crédito. Esta política descreve os métodos e propósitos para o uso de informações pessoais por Olook e, adicionalmente, os padrões de segurança da informação adotados para a proteção e salvaguarda de tais informações.</p>

    <h2>USO DE INFORMAÇÕES PESSOAIS</h2>
    <p>Olook exige que os membros entrem certas peças de informações pessoais como nome, endereço, email, telefone, e informações de pagamento (como informações de cartão de crédito) para facilitar o processamento de pedidos e entregas, e comunicação com nossos membros. Olook também pode usar informações pessoais para a pesquisa estatística e análise interna, a fim de continuar a melhorar nossos produtos e comércio eletrônico. Para fins de segurança, Olook não grava ou armazena algumas informações pessoais, como as informações de cartão de crédito.</p>

    <h2>SEGURANÇA DA INFORMAÇÃO</h2>
    <p>Olook emprega vários métodos e padrões de segurança para proteger suas informações pessoais e detalhes de pagamento. Todas as informações pessoais inseridas em Olook.com.br no momento do cadastro ou a qualquer momento posterior são tratadas como confidenciais e sujeitas a medidas de segurança eletrônica para impedir o acesso não autorizado, uso, ou divulgação dessas informações. Olook emprega uma sistema robusto de segurança e vários protocolos de criptografia para proteger o site e as informações dos membros. Informações de pagamento, como números de cartões de crédito e débito, nunca são armazenadas no site ou qualquer um dos nossos bancos de dados, porque os pagamentos são processados através de aplicativos de terceiros de pagamento seguro. Os “cookies” são utilizados apenas para garantir sessões de usuário e não estão em risco. Informações pessoais nunca serão armazenadas em cookies.</p>

    <h2>COMPARTILHAMENTO DE INFORMAÇÕES</h2>
    <p>A Olook não irá vender, alugar, ou transferir para terceiros seus dados. Todavia, essas informações podem ser agrupadas e utilizadas internamente, como estatísticas genéricas, visando obter um melhor entendimento do perfil dos usuários para aperfeiçoamento dos produtos e serviços oferecidos no site Olook.</p>

    <h2>E-MAIL DE OFERTAS E SERVIÇOS</h2>
    <p>O envio de e-mails será feito apenas com o seu consentimento e poderá ser desativado há qualquer momento. A Olook é contra o envio de e-mails sem autorização prévia (conhecidos como SPAM). Ao se cadastrar em nosso site, você poderá escolher se deseja receber e-mails com informações e promoções Olook.</p>

    <h2>PROPRIEDADE DAS INFORMAÇÕES</h2>
    <p>Todas as informações contidas neste site são propriedade da Olook, portanto, não poderão ser alteradas, copiadas, extraídas ou de qualquer forma utilizadas sem a prévia e expressa autorização por escrito. Desta forma, ao acessar o site www.Olook.com.br, o usuário fica ciente que a utilização indevida das informações aqui contidas pode acarretar sanções civis e criminais.</p>

    <h2>MODIFICAÇÕES</h2>
    <p class="last">Olook pode fazer modificações desta Política de Privacidade. Datas de modificação serão incluídas abaixo.</p>

  </div>
</div>
