<% content_for(:head) do %>
  <%= stylesheet_link_tag  "about/normalize" %>
  <%= stylesheet_link_tag  "about/style" %>
<% end %>

<div id="terms" role="main">
  <h1>Política de Privacidade</h1>
  <div class="steps">
    <p class="intro">Esta Política de Privacidade descreve os detalhes em relação às suas informações pessoais voluntariamente cedidas à olook.com.br, tais como informações de contato pessoal e informações de cartão de crédito. Esta política descreve os métodos e propósitos para o uso de informações pessoais pela olook e, adicionalmente, os padrões de segurança da informação adotados para a proteção e salvaguarda de tais informações.</p>

    <h2>RECEBIMENTO DE E-MAILS</h2>
    <p>Ao se cadastrar na olook você aceita receber por e-mail periodicamente dicas, ofertas de moda e promoções. É importante ressaltar que a olook respeita a sua privacidade e a usuária optar por deixar de receber os e-mails da olook a qualquer hora , clicando no link de descadastro que vai em todos os e-mails, ou entrando em contato com <%= link_to "falecom@olook.com.br", "mailto:falecom@olook.com.br" %>. Após a notificação, a olook tem até 72 horas úteis para realizar o seu descadastro. A olook é contra o envio de e-mails sem autorização prévia (conhecidos como SPAM).</p>

    <h2>USO DE INFORMAÇÕES PESSOAIS</h2>
    <p>A olook necessita que os cadastrados forneçam informações pessoais como nome, endereço, email, telefone, e informações de pagamento (como informações de cartão de crédito) para realizar o processamento de pedidos e entregas, e comunicação com nossos membros. A olook também pode usar informações pessoais para a pesquisa estatística e análise interna, a fim de continuar a melhorar nossos produtos e comércio eletrônico. Para fins de segurança, a olook não grava ou armazena algumas informações pessoais, como as informações de cartão de crédito.</p>

    <h2>SEGURANÇA DA INFORMAÇÃO</h2>
    <p>A olook emprega vários métodos e padrões de segurança para proteger suas informações pessoais e detalhes de pagamento. Todas as informações pessoais inseridas em olook.com.br no momento do cadastro ou a qualquer momento posterior são tratadas como confidenciais e sujeitas a medidas de segurança eletrônica para impedir o acesso não autorizado, uso, ou divulgação dessas informações. A olook possui um sistema robusto de segurança e vários protocolos de criptografias para proteger o site e as informações dos membros. Informações de pagamento, como números de cartões de crédito e débito, nunca são armazenadas no site ou qualquer um dos nossos bancos de dados, porque os pagamentos são processados através de aplicativos de terceiros de pagamento seguro. Os "cookies" são utilizados apenas para garantir sessões de usuário e não possuem um risco para os nossos usuários. Informações pessoais nunca serão armazenadas em cookies.</p>

    <h2>COMPARTILHAMENTO DE INFORMAÇÕES</h2>
    <p>A olook não irá vender, alugar, ou transferir para terceiros seus dados. Todavia, essas informações podem ser agrupadas e utilizadas internamente, como estatísticas genéricas, visando obter um melhor entendimento do perfil dos usuários para aperfeiçoamento dos produtos e serviços oferecidos no site olook.</p>

    <h2>PROPRIEDADE DAS INFORMAÇÕES</h2>
    <p>Todas as informações contidas neste site são propriedade da olook, portanto, não poderão ser alteradas, copiadas, extraídas ou de qualquer forma utilizadas sem a prévia e expressa autorização por escrito. Desta forma, ao acessar o site www.olook.com.br, o usuário fica ciente que a utilização indevida das informações aqui contidas pode acarretar sanções civis e criminais.</p>

    <h2>MODIFICAÇÕES</h2>
    <p>Olook pode fazer modificações desta Política de Privacidade. Datas de modificação serão incluídas abaixo.<br />Nova modificação: 09/03/2012.</p>

    <h2>ENDEREÇO DA OLOOK</h2>
    <p class="last">Avenida Ribeirão dos Cristais, n 800, Jordanésia, Cajamar, SP sala 30 galpão 10, módulo C e D</p>
  </div>
</div>
