<% content_for(:head) do %>
  <%= stylesheet_link_tag  "about/style" %>
<% end %>

<%= first_level_breadcrumb("Política de Privacidade") %>

<div id="terms" role="main" class="privacy">

  <iframe src="http://olook.neoassist.com/?action=answer&cat=215693&id=18189865" width="100%" height="1300px"></iframe>
</div>
