<% content_for(:head) do %>
  <%= stylesheet_link_tag  "about/normalize" %>
  <%= stylesheet_link_tag  "about/style" %>
<% end %>

<div id="terms" role="main">
  <h1>Termos de uso</h1>
  <div class="steps">
    
    <p class="intro">Bem-vinda à Olook! Os "Termos de Uso" definem as condições gerais aplicáveis à utilização dos produtos e serviços disponíveis no site www.olook.com.br. Este site e seu conteúdo são de propriedade exclusiva da Olook Comércio Online de Moda Ltda (deste ponto em diante neste documento será denominada como Olook).<br><br>
      Ao se tornar um membro Olook e se registrar em nosso site, você estará concordando com nossos Termos de Uso. Os Termos de Uso entram em vigor imediatamente após a conclusão da sua inscrição, então você deve utilizar a Olook apenas se concordar com os mesmos. Os usuários da Olook também estão protegidos por nossa Política de Privacidade e Segurança da Informação.</p>
    
    <h2>1. OBJETIVO</h2>
    <p>Por meio do site, a Olook fornece acesso aos membros registrados a venda de nossos produtos de moda feminina. Todos os produtos e serviços em nosso site estão sujeitos aos "Termos de Uso", incluindo todas as vendas e ofertas promocionais e descontos.</p>

    <h2>2. TERMOS DE ACESSO</h2>
    <p>Para acessar as vendas da Olook, você deve se registrar como membro em nosso site. A adesão é totalmente grátis e pode ser feita registrando-se diretamente no site ou por meio de um convite enviado por um membro existente. Especificações sobre como se tornar um membro estão detalhadas no parágrafo seguinte. O acesso ao site é autorizado para usuários menores de 18 anos, no entanto, recomendamos que os menores estejam acompanhados e monitorados por seu representante legal.</p>

    <h2>3. REGISTRO E OBRIGAÇÃO DE USUÁRIOS</h2>
    <p>Para se tornar um membro da Olook, os usuários devem preencher todas as informações necessárias com dados pessoais válidos. Ao concordar com os Termos de Uso, você afirma que todos os dados pessoais inseridos são verdadeiros e confiáveis.</p>
    <p>É proibido uma pessoa ter mais de um registro na Olook. Se o registro duplicado de um indivíduo for detectado, a Olook reserva-se o direito de excluir definitivamente estes registros. A Olook reserva-se o direito de usar todos os meios necessários para confirmar a validade dos cadastros e tem o direito de solicitar documentação adicional a fim de auxiliar este processo.</p>
    <p>As pessoas que acessarem a Olook diretamente devem fornecer seu nome, sobrenome, endereço de e-mail, senha e confirmação de senha para se cadastrarem. Pessoas indicadas por outros membros devem inserir todos os dados mencionados anteriormente e adicionalmente será solicitado informar seu Cadastro de Pessoas Físicas (CPF). A entrada do CPF é fundamental para que a Olook verifique se os registros são de pessoas reais, com o intuito de verificar a legitimidade das informações e investigar violações aos Termos de Uso. Membros são pessoalmente responsáveis por manter seu nome de usuário e senha seguros e são obrigados a comunicar imediatamente o roubo ou perda destes dados para a Olook.</p>

    <h2>4. PROMOÇÕES E RECOMPENSAS POR INDICAÇÕES</h2>
    <p>O site irá frequentemente oferecer promoções e incentivos para os membros atuais e potenciais. Solicitamos que os participantes de nossas promoções enviem convites apenas para as pessoas de seu conhecimento. A Olook valoriza sua reputação como marca e serviço e se reserva o direito de impedir fraudes, comportamento antiético, ou quaisquer práticas que possam comprometer sua imagem ou o negócio. Recompensas por indicação são concedidas a critério exclusivo da Olook. Reservamo-nos no direito de negar fornecer prêmios por indicações e de não aprovar certos indivíduos a se tornarem membros caso haja comportamento anti-ético ou fraudulento pelo premiado.</p>
    <p>As promoções terão termos e condições específicos e as pessoas interessadas em participar são responsáveis por ler e entender estes os termos e condições. Os limites máximos de recompensas e demais limitações serão explicados nos termos e condições de cada promoção.</p>

    <p>Durante o período de lançamento, a Olook fará uma promoção que permite a seus membros ganharem recompensas ao convidar amigos para se cadastrarem.</p>

    <p>A partir de 31 outubro, para os primeiros 1.000 membros a aceitarem o convite e/ou se registrarem como membro da Olook, o novo membro e aquele que o convidou ganharão R$ 10,00 em crédito para compras na Olook cada um. Cada membro pode ganhar no máximo R$ 300,00 em cupons até atingirmos 1.000 usuários.</p>

    <p>A partir de 1.000 membros, a Olook iniciará a segunda fase da promoção. Até 5.000 membros cadastrados que aceitarem o convite e/ou se registrarem como membro da Olook, o novo membro ganhará R$10,00 em crédito para compras na Olook e, para cada 5 pessoas que aceitarem o convite, aquele que as convidou ganhará R$ 20,00 em crédito para compras na Olook. Os convidados antes do nosso 1.000o membro, mas que se cadastrarem após nosso 1.000o membro estarão participando da segunda fase da promoção. Cada membro pode ganhar no máximo R$ 300,00.</p>

    <p>Os cupons podem ser utilizados em produtos da Olook, mas não para custear seu envio. Os membros podem enviar convites para amigos na página "Convide suas amigas" e os participantes da promoção podem acompanhar seu progresso no site da Olook.  Os participantes da promoção têm até 15 de janeiro de 2012 para usar os seus cupons em compras na Olook.</p>

    <p>O programa de indicação de amigos para a promoção não deve ser utilizado como "spam", que é amplamente definido como "mensagens comerciais não solicitadas enviadas através de uma rede eletrônica que são consideradas perturbadoras, prejudiciais e/ou geralmente indesejáveis". Os membros que apresentarem conduta on-line questionável estão sujeitos a investigação com finalidade de evitar fraude, violação de direitos autorais, outras formas de uso indevido, ilegal ou violações gerais do contrato.</p>
    <p>A Olook se reserva o direito de checar membros indicados para verificar se suas informações pessoais correspondem ao seu CPF na Receita Federal. A Olook também se reserva o direito de investigar através de informações disponíveis se um indivíduo for suspeito de práticas que violem os Termos de Uso.</p>

    <h2>5. PAGAMENTO</h2>
    <p>Ao registar-se como um membro da Olook, você concorda com os preços e condições de pagamento e os mesmos estão sujeitos a alterações. O pagamento pode ser efetuado através de cartão de crédito, cartão de débito, ou Boleto Bancário. Para efetuar o pagamento através de cartão de crédito ou débito é necessário inserir as informações do cartão no site para completar a transação (para obter detalhes sobre proteção dos dados pessoais, por favor consulte a nossa Política de Privacidade e Segurança da Informação). Todas as informações pessoais são estritamente confidenciais e serão utilizadas apenas para concluir a compra no preço acordado. Se surgir alguma dúvida sobre cobranças inválidas ou não autorizadas, entre em contato com Atendimento ao Cliente da Olook: <a href="mailto:falecom@olook.com.br">falecom@olook.com.br</a>.</p>

    <h2>6. TRANSPORTE E REEMBOLSOS</h2>
    <p>A entrega é realizada através de terceiros e seu valor está sujeito a alterações. Os membros da Olook concordam em reconhecer que os preços de transporte estão fora do controle da Olook, no entanto, vamos trabalhar para garantir os melhores preços possíveis para os serviços de entrega com qualidade. Atrasos na entrega poderão surgir como resultado de limitações logísticas de terceiros, greve, etc. A Olook não é responsável por problemas de entrega, mas caso exista entre em contato com nosso Atendimento ao Cliente: <a href="mailto:falecom@olook.com.br">falecom@olook.com.br</a> e vamos trabalhar para resolver o problema o mais rápido possível. As compras podem ser totalmente reembolsadas no prazo de 7 dias a partir da data da entrega e trocadas no prazo de 30 dias a partir da data da entrega. Caso deseje devolver ou trocar um item ele deve estar sem sinais de uso, em sua embalagem original e com a nota fiscal enviada com o produto. Para mais detalhes sobre transporte e reembolso, por favor consulte a nossa Política de Envio e Política de Reembolso.</p>

    <h2>7. PROPRIEDADE INTELECTUAL</h2>
    <p>Todos os produtos do site, juntamente com seus designs, layouts, textos e outros conteúdos do site são de propriedade da Olook. É estritamente proibido: (a) copiar, distribuir ou divulgar qualquer parte de nossos produtos e serviços por qualquer meio, (b) divulgar spam, correntes, ou outras formas de e-mail não solicitadas  e não autorizada pela Olook; ( c) tentar interferir ou comprometer a integridade ou segurança de qualquer parte de nossas operações on-line, (d) coletar ou capturar qualquer informação pessoal de identificação de membros ou funcionários; (e) realizar fraudes ou ocultar a sua identidade; (f) tentativa de ignorar quaisquer métodos que a Olook possa usar para impedir ou restringir o acesso ao nosso serviço ou qualquer um dos seus componentes; (g) incluir "olook" em qualquer nome de domínio ou endereço eletrônico com a finalidade de copiar qualquer componente do serviço ou a criação de mensagens spam ou fraudes, produtos ou serviços.</p>

    <h2>8. SANÇÕES</h2>
    <p>Olook poderá avisar, suspender ou encerrar a conta de qualquer usuário a qualquer momento quando julgar necessário e buscar ações legais cabíveis se for determinado que um usuário: (a) não cumpriu com os Termos de Uso; (b) pratica ou facilita atividades fraudulentas e / ou (c) fornece informações falsas ou não verificáveis. Dependendo da gravidade da quebra de contrato, a Olook pode prosseguir uma ação judicial contra os infratores.</p>

    <h2>9. PRIVACIDADE</h2>
    <p>A Olook se preocupa com a privacidade de seus usuários. Tomaremos todas as medidas necessárias para proteger a confidencialidade e privacidade dos mesmos, bem como quaisquer "informações de identificação pessoal" introduzidas em nosso site. O termo de Privacidade e segurança de informação é discutido em profundidade no documento Privacidade e Política de Segurança da Informação da Olook. A Olook não se responsabiliza por quaisquer danos que ocorram como resultado de uma violação dos Termos de Uso pelos usuários. A Olook não pode garantir que terceiros nunca serão capazes de invadir nossas medidas de segurança da informação, e neste caso a Olook não se responsabilizará por eventuais danos causados.</p>

    <h2>10. COMUNICAÇÃO</h2>
    <p>Ao seu tornar um membro da Olook, você aceita que a Olook envie mensagens de e-mail ou mensagens em outros tipos de formatos, referentes a comunicações específicas de natureza comercial. Caso o membro não deseje mais receber as referidas mensagens poderá solicitar o cancelamento a qualquer momento. Quaisquer dúvidas, comentários ou reclamações podem ser dirigidas ao Serviço de Atendimento ao Cliente <a href="mailto:falecom@olook.com.br">falecom@olook.com.br</a>.</p>
    
    <h2>11. MODIFICAÇÕES</h2>
    <p>A Olook pode modificar os Termos de Uso a qualquer momento com a finalidade de melhorar o seu serviço aos clientes. Todas as datas futuras de modificações serão listadas abaixo deste parágrafo. Você terá no mínimo sete dias para processar as alterações que forem feitas antes de entrarem em vigor. Neste período você pode não aceitar as nossas modificações encerrando a sua conta como membro.</p>

    <h2>12. COMPETÊNCIA</h2>
    <p class="last">Todos os itens destes Termos de Uso são regidos pelas leis da República Federativa do Brasil.</p>

  </div>
</div>
