<% content_for :head do %>
  <%= stylesheet_link_tag  "section/niver-olook" %>
<% end %>
<% content_for :footer do %>
 <%= javascript_include_tag "niver_olook" %>
<% end %>	
<section id="niver-top">
	<div class="niver-left">
		<h2>A olook acaba de completar <span>1 ano...</span></h2>
		<p>...e como passou rápido! Bom sinal, tudo<br /> que mais curtimos costuma passar rápido<br /> mesmo. Do lado de cá, muita dedicação<br /> e trabalho em equipe realizado por<br /> <span>pessoas apaixonadas pelo que fazem.</span></p>
	</div>	
	<div class="niver-logo"> 
		<h1>Olook - 1 Ano Muito</h1>
	</div>
	<div class="niver-right">
		<h2>e fazemos um <span>convite...</span></h2>
		<p>Conheça abaixo um pouco desse ano<br /> em que muito aconteceu. Esperamos<br /> que você também tenha se divertido...<br /> <span>E que venham mais muitos anos muito<br /> pela frente.</span></p>
	</div>		
</section>	
<section id="infografico">

	<ul>
		<li class="um">
			<p class="only-number">	
				<span class="numero">17</span>
				<span class="titulo">produtos por ano</span>
				<span class="frase">As 100 TOP <br/>clientes são <br/>loucas pela olook</span>
			</p>
		</li>
		<li class="dois">
			<p class="only-number">
				<span class="numero">mais de 3.000</span>
				<span class="titulo">produtos olook</span>
				<span class="frase">uma coleção<br/>nova todo mês</span>
			</p>
		</li>
		<li class="tres">
			<p class="only-number">
				<span class="numero">381</span>
				<span class="titulo">voltas No mundo</span>
				<span class="frase">É o que rodamos<br/>entregando <br/>Brasil afora</span>
			</p>
		</li>
		<li class="quatro">
			<p class="only-number">
				<span class="numero">12</span>
				<span class="titulo">produtos em 1 mês</span>
				<span class="frase">recorde entre<br/>funcionárias</span>
			</p>
		</li>
	</ul>
	<ul>	
		<li class="cinco">
			<p class="only-number">
				<span class="numero">2 milhões</span>
				<span class="titulo">Interações na página do</span>
				<span class="frase">Facebook</span>
			</p>
		</li>
		<li class="seis">
			<p class="only-number">
				<span class="numero">500</span>
				<span class="titulo">horas em estúdio</span>
				<span class="frase">haja produção<br/>de moda</span>
			</p>
		</li>
		<li class="sete">
			<p class="only-number">
				<span class="numero">19.844</span>
				<span class="titulo">fotos clicadas</span>
				<span class="frase">editoriais<br />lookbooks<br />e produtos</span>
			</p>	
		</li>
		<li class="oito">
			<p class="only-number">
				<span class="numero">60</span>
				<span class="titulo">anos</span>
				<span class="frase">Soma de horas<br/>de navegação<br/>no site</span>
			</p>	
		</li>
	</ul>
	<ul>	
		<li class="nove">
			<p class="only-number">	
				<span class="numero">muitas</span>
				<span class="titulo">clientes</span>
				<span class="frase">satisfeitas por<br />todo o país</span>
				<a href="#mapa">veja os depoimentos</a>
			</p>	
		</li>
		<li class="dez">
			<p class="only-number">	
				<span class="numero">1.104</span>
				<span class="titulo">PUBLICAÇÕES</span>
				<span class="frase">revistas, <br />sites e blogs</span>
			</p>	
		</li>
		<li class="onze">
			<p class="only-number">	
				<span class="numero">14.692</span>
				<span class="titulo">xícaras</span>
				<span class="frase">de café<br />bem forte</span>
			</p>
		</li>
		<li class="doze">
			<p class="only-number">	
				<span class="numero">3</span>
				<span class="titulo">dog days</span>
				<span class="frase">labradores, poodles<br />e vira-latas com os<br /> donos no escritório</span>
			</p>
		</li>
	</ul>	
</section>
<section id="mapa">
	<div>
		<hr class="separador" />
		<p class="chamada">MUITOS CLIENTES <br /><span>SATISFEITOS</span> POR<br />TODO BRASIL</p>
		<hr class="separador" />
		<p class="chamada2">VEJA OS DEPOIMENTOS <br />DE CADA REGIÃO</p>
	</div>
	<ul id="brasil">
		<li id="norte"></li>
		<li id="nordeste"></li>
		<li id="sudeste" class="hover"></li>
		<li id="centro"></li>
		<li id="sul"></li>
	</ul>
	<ul id="frases">
		<li class="norte dn">
			<p>A olook tem muito bom gosto nos<br/> produtos de moda feminina,<br/> calçados e acessórios. Gostei muito!<br /><span class="autor">Aline, Pará</span></p>
		</li>
		<li class="nordeste dn">
			<p>Facilidade na busca dos produtos, <br>preço bom e prazo de entrega muito<br> bom. A montagem do look [Stylist] é<br> fantástica: o meu caiu perfeitamente.<br /><span class="autor">Daci, Pernambuco</span></p>
		</li>	
		<li class="sudeste">
			<p>Fiz minha primeira compra no site e<br /> estou muito satisfeita, não somente<br /> pelo produto, mas também pelo<br /> atendimento e a navegabilidade<br /> do site. A vitrine do mês é genial! E<br /> o portal é clean e super intuitivo.<br /><span class="autor">Maria Cristina, São Paulo</span></p>
		</li>
		<li class="centro dn">
			<p>Amei a forma como a olook trabalha: facilidade de compra e preços acessíveis! <br /><span class="autor">Rosana, Distrito Federal</span></p>
		</li>
		<li class="sul dn">
			<p>Adoro as sugestões de looks. Também achei maravilhosa a avaliação de estilo [Style Quiz], fechou exatamento com <br />meu estilo: adorei!<br /><span class="autor">Beatriz, Rio Grande do Sul</span></p>
		</li>
	</ul>	
</section>	

<section id="banner">
	<%= image_tag("campaigns/niver/banner.jpg") %>
	<%#= link_to image_tag("campaigns/niver/banner_editorial_aniversario.jpg"), "http://olook.com.br/tendencias/time-olook", :class => 'mr18' %>
	<%#= link_to image_tag("campaigns/niver/banner_um_ano_muito.jpg"), "http://olook.com.br/promo1anomuito" %>
</section>