<% content_for :head do %>
  <%= stylesheet_link_tag  "section/niver-olook" %>
<% end %>
	
<section id="niver-top">
	<div class="niver-left">
		<h2>A olook acaba de completar <span>1 ano...</span></h2>
		<p>...e como passou rápido! Bom sinal, tudo<br /> que mais curtimos costuma passar rápido<br /> mesmo. Do lado de cá, muita dedicação<br /> e trabalho em equipe realizado por<br /> <span>pessoas apaixonadas pelo que fazem.</span></p>
	</div>	
	<div class="niver-logo"> 
		<h1>Olook - 1 Ano Muito</h1>
	</div>
	<div class="niver-right">
		<h2>e fazemos um <span>convite...</span></h2>
		<p>Conheça abaixo um pouco desse ano<br /> em que muito aconteceu. Esperamos<br /> que você também tenha se divertido...<br /> <span>E que venham mais muitos anos muito<br /> pela frente.</span></p>
	</div>		
</section>	
<section id="infografico">
	<%=image_tag("campaigns/niver/infografico.jpg") %>
</section>
<section id="banner">
	<%=link_to image_tag("campaigns/niver/banner.jpg"), "http://olook.com.br/tendencias/time-olook" %>
</section>