%h1= I18n.t("activerecord.models.highlight.other")
%h3
  Clique na foto que queira modificar

%div.inner

  = link_to(image_tag(@left_image.left_image_url(:thumb)), edit_admin_highlight_path(@left_image))
  = link_to(image_tag(@center_image.image_url(:thumb)), edit_admin_highlight_path(@center_image))
  = link_to(image_tag(@right_image.right_image_url(:thumb)), edit_admin_highlight_path(@right_image))
