@import 'new_structure/common/global_stuffs';
@mixin logo($left, $top) { 
	background: image-url('campaigns/logos-projetos.jpg') no-repeat $left $top;
}

#content.content{width:973px !important;}
#avc{
	.about, .about_rosa{
		width: 640px;float: left;margin-right: 25px;
	}
	h1{margin:0 0 30px;}
	.txt-about{font-weight: normal;font-family: $avenir; font-size: 14px; color:#333333;margin-bottom:25px;}
	.txt-projetos{margin-top: 45px; font:20px 'johnston',arial,sans-serif;margin-bottom:40px;color:#000;text-transform:uppercase;}
	
	section{
		float:left;min-height:435px;width:100%;
		
		p{margin-bottom:15px;line-height:20px;color:#333333;letter-spacing:-0.5px;}
		a{color:#ef3742;}
		.f16{font-size:16px;}
		
		&#tv-cinema{
			width:280px;margin-right: 55px;
			h2{@include logo(0,0);width:106px;height:136px;margin:-15px 0 35px 85px;text-indent: -9999px;}
		}
		&#rede-brasil{
			width:285px; margin-right:55px;
			h2{@include logo(-115px,-26px);width:166px;height:113px;margin:10px 0 30px 43px;text-indent: -9999px;}
		}
		&#que-tal{
			border: solid 1px #a7a9ac;
			width:305px;
			min-height: 215px;
			margin:5px 0 60px;
			background-color: #fafafa;
			h2{@include logo(-411px,-154px);
				font-family: $johnston;font-size: 14px;  padding-left: 56px;
    			padding-top: 14px;
    			display: block;
    			height: 46px;
    			text-transform: uppercase;
    			margin-left: 20px;
    			margin-top: 15px;
			}
			p{
				width: 255px;
				color: #333333;
				font-size: 14px;
				margin-left: 23px;
			}
		}
		&#rosa{
			width:290px;
			h2{@include logo(-5px,-160px);width:200px;height:126px;margin:23px 0 3px 38px;text-indent: -9999px;}
		}
		&#campanha{
			clear:both;margin-top:10px;
			div{float:left;width:714px;margin-right:10px;}
			.txt-campanha{font:20px 'johnston',arial,sans-serif;text-transform:uppercase;}
			h3{font:16px 'johnston',arial,sans-serif;text-transform:uppercase;margin-bottom:25px;}
			.txt-foto{font:12px 'avenir', arial, sans-serif;text-align:center;width:240px;float:left;margin-left:30px;}
			.btn-colabore{display:block;width:370px;height:65px;@include logo(0,-151px);margin:10px 0 0 175px;float:left;}
		}
		
	}
	.about_rosa{
		width: 620px;
		margin-top: 25px;
		margin-bottom: 45px;
		margin-right: 0;
		h2{
			text-transform: uppercase;
		}
		a{
			text-indent: -9999px;
			width: 331px;
			height: 49px;
			display: block;
			@include logo(0,-290px);
			&:hover{
				@include logo(0,-343px);
			}
		}
	}
	.selo_rosa{
		float: right;
		margin-top: 94px;
	}
}