	@import "partials/mixins";
	.content{
		position: relative;
	}
	section#collections_content{float: left;width: 800px;}
	
	div#home_collections{
		padding: 30px 0 0;
		height: 700px;
		.banner_principal{
			width: 800px;
			height: 340px;
		}
		.tropicaliente, .andre_lima{
			width: 380px;
			height: 320px;
			float: left;
			margin-top: 30px;

		}
		.andre_lima{
			margin-left: 40px;
		}
		.collection{
		  font-family: $avenir;
	      font-size: 22px;
	      color: black;
	      margin-top: 25px;
		}
		.resume{
		  font-family: $avenir;
	      font-size: 12px;
	      color: black;
		}
		.looks{
		  font-family: $avenir;
	      font-size: 10px;
	      font-weight: bold;
	      color: black;
	      text-transform: uppercase;
	      margin-top: 7px;
	      background: image-url("collections/sprite.png") no-repeat -182px 3px;
	      height: 23px;
	      a{
	      	text-decoration: none;
	      	&:hover{
	      		color: $pink;
	      	}
	      }
		}

	}

	div#amamos{	
		position: relative;
		overflow: hidden;
		border-top: 1px black dotted;
		width: 800px;
		margin-top: 45px;
		h1{
			margin: 40px 0;
			font-family: $avenir;
	        font-size: 35px;
		}
		ul{
			margin: 0 auto;
			li{
				position: relative;
				padding-left: 10px;
				float: left;
				margin-right: 15px;
				.rotulo{
				 position: absolute;
				 top: -13px;
				 left: -3px;		
				 background: image-url("collections/sprite.png") no-repeat -100px -72px;
				 height: 36px;
				 width: 175px;
				}
				a{
					display: block;
				}
				p{font-family: $avenir;
						font-size: 12px;
						color: black;
					line-height: 18px;
					&.model{
						

					}
					&.brand{
						font-size: 12px;
						font-family: $avenir;
						font-weight: bold;
						text-transform: uppercase;
						color: black;
					}
					&.price{
						font-family: $avenir;
						font-size: 12px;
						color: black;
					}
				}
			}
		}	
	}
	button{
		position: absolute;
		text-indent: -9999px;
		float: left;
		border: none;
		background: no-repeat;
		cursor: pointer;
		background: image-url("collections/sprite.png") no-repeat 1px -55px;
		height: 65px;
		width: 40px;
		top: 1005px;
		&.bt_left{
			left: 125px;
		}

		&.bt_right{
			background: image-url("collections/sprite.png") no-repeat -40px -55px;
			right: -2px;
		}
	}

/******** INTERNAS *****/
section{margin-top:35px;
  &#collections_menu{float:left;width:170px;}
  &#collections_content{float:left;width:800px;
    .collections_header{position:relative;
      a{position:absolute;top:250px;font-size:12px;text-transform:uppercase;color:#000;text-decoration:none;background: image-url('collections/sprite.png') right -38px;
        &:hover{text-decoration:underline;}
        &.editorial{left:55px;}
        &.video{left:210px}  
      }
    }
  
  }

}

ul#products{clear:both;width:763px;margin:0 auto;
  li.product{width: 235px;height:293px;margin: 0 8px 35px;padding:0;
    a.product_link {display:block;text-decoration:none;color:#000;font-size:13px;margin:0;
      img{border-bottom:solid 1px #B9BABD;margin: 0;width: 235px;height: 235px;}
      p{line-height:18px;
        &.brand{text-transform:uppercase;font-weight:bold;}
        .old{text-decoration:line-through;}
        .txt-pink{color:#E05A8C;}
        /**** OVERRIDE LABEL PRODUCTS ****/
        &.warn{left:0;top:60px;}
        &.warn.sold_out{background: image-url('moments/sprite.png') no-repeat 0 -76px;line-height: 25px;padding-left: 13px;text-align: left;width: 92px;color:#000;}
        &.warn.quantity{background:none #FFF !important;border: 1px solid #000;color: #000;font-family: 'avenir_medium';font-weight: 600;height: 20px;width: 74px;line-height: 20px !important;text-align: center;word-spacing: -1px;}
        &.warn.shoe_size{background: none #000;height: 20px;left: 25px !important;line-height: 20px !important;top: 81px !important;width: 55px;word-spacing: -1px;}
        &.warn.percentage{background: image-url('moments/sprite.png') no-repeat 0 -109px;width:60px;height:60px;font-size:14px;font-family:$avenir;text-align:center;
          span{font-size:14px;font-weight:normal}
        }
      /****** END *****/    
      } 
    }
  }
}

