@import "partials/mixins";
@import "partials/product";

  /*******COLECAO**********/
  div.collections_products {
    div#products_container {
      div.loading {
        background: image-url("common/ajax-loader.gif") center no-repeat;
        width: 770px;
        height: 30px;
        margin: 0 auto;
        display: none;
        clear: both;
      }
      div.pagination {
        clear: both;
        a, span, em.current {
          display: none;
        }
      }
      .new_brands{font-weight: bold;font-size: 18px;font-family: $avenir; color: #000;float: left;text-align: center;border-top: 2px solid #cdcdcd;padding-top: 20px;padding-bottom: 55px;margin-top: 5px;
        .star_left{margin-right: 7px;}
        .star_right{margin-left: 7px;}
      }      
    }
  }
	/********* HOME ********/
	.content{
		position: relative;
	}
    section#stylist_selection{
      .product{
        margin-left: 5px;
        width: 235px;
      }
      a{
        color: #000;
        text-decoration: none;
      }
      .container_product ul li{
        height: 295px;
      }
      width: 800px;
      float: right;
      margin-right: 20px;
      #stylist_title{
        background: image-url("collections/bg-title-selection.png") center repeat-x;
        margin-top: 25px;
        height: 30px;
        text-align: center;
        text-transform: uppercase;
        #title{
          padding: 5px;
          background: #FFF;
          font-family: $kepler;
          font-size: 27px;
        }
      }
    }
	section#collections_content{float: left;width: 800px;}

	div#home_collections{
		height: 700px;
		.banner_principal{
			width: 800px;
			height: 340px;
		}
		.tropicaliente, .andre_lima{
			width: 380px;
			height: 320px;
			float: left;
			margin-top: 35px;

		}
		.andre_lima{
			margin-left: 38px;
		}
		.collection{
		  font-family: $avenir;
	      font-size: 22px;
	      color: black;
	      margin-top: 25px;
		}
		.resume{
		  font-family: $avenir;
	      font-size: 12px;
	      color: black;
		}
		.looks{
		  font-family: $avenir;
	      font-size: 10px;
	      font-weight: bold;
	      color: black;
	      text-transform: uppercase;
	      margin-top: 7px;
	      background: image-url("collections/sprite.png") no-repeat -166px 3px;
	      height: 23px;
	      a{
	      	text-decoration: none;
	      	&:hover{
	      		color: $pink;
	      	}
	      }
		}

	}

	div#amamos{
		position: relative;
		overflow: hidden;
		border-top: 1px black dotted;
		width: 780px;
		margin-top: 45px;
		h1{
			margin: 40px 0;
			font-family: $avenir;
	        font-size: 35px;
		}
        //////////////////////
        div#products_amamos{
          width: 2000px;
          p.rotulo{
            font-size: 12px;
            font-family: $avenir;
            color: white;
            text-transform: uppercase;
            b{
              position: absolute;
              left: 10px;
              top: 5px;
            }
          }
          .caroufredsel_wrapper ul{
            padding-top: 20px;
            padding-left:5px;
          }
        }
        //////////////////////
		ul{
			margin: 0 auto;
			li{
				position: relative;
				padding-left: 10px;
				float: left;
				margin-right: 15px;
        img{
          border-top: 1px solid #e5e5e5;
          border-left: 1px solid #e5e5e5;
          border-right: 1px solid #e5e5e5;
          border-bottom: 1px solid #3e3e3e;
        }
				.rotulo{
				 position: absolute;
				 top: -13px;
				 left: -3px;
				 background: image-url("collections/sprite.png") no-repeat -100px -72px;
				 height: 36px;
				 width: 175px;
				}
				a{
					display: block;
				}
				p{font-family: $avenir;
						font-size: 12px;
						color: black;
					line-height: 18px;
					&.model{


					}
					&.brand{
						font-size: 12px;
						font-family: $avenir;
						font-weight: bold;
						text-transform: uppercase;
						color: black;
					}
					&.price{
						font-family: $avenir;
						font-size: 12px;
						color: black;
					}
				}
			}
		}
	}
	button.nav{
		position: absolute;
		text-indent: -9999px;
		float: left;
		border: none;
		background: no-repeat;
		cursor: pointer;
		background: image-url("collections/sprite.png") no-repeat 1px -55px;
		height: 65px;
		width: 40px;
		top: 1023px;
		&.bt_left{
			left: 133px;
		}

		&.bt_right{
			background: image-url("collections/sprite.png") no-repeat -40px -55px;
			right: -2px;
		}
	}

/*******  MENU ******/
#collections_menu{
  dl{font-family:$avenir;color:#000;}
  dt{float:left;font-size:11px;text-transform:uppercase;margin-bottom:5px;font-weight:bold;}
  dd{clear:both;
    &.last{margin-bottom:25px;}
    a{text-decoration:none;color:#000;font-size:13px;
      &:hover{color:#EF3742;}
      &.selected{color:#EF3742;}
    }
  }
}

/******** INTERNAS *******/
section{margin-top:10px;
  &#collections_menu{float:left;width:160px;padding-left:10px;}
  &#collections_content{float:left;width:800px;
    .collections_header{position:relative;margin-bottom:35px;height: 140px;float: left;margin-top: 14px;
      a{position:absolute;top:110px;font-size:10px;text-transform:uppercase;color:#000;text-decoration:none;
        &:hover{text-decoration:underline;}
        &.video_link{left:52px}
      }
    }
    .collections_filters{
      .filters{float:left;margin:0 0 30px;color:#000;border:solid 1px #A7A9AC;padding:10px 10px 5px;width:779px;line-height:20px;display:none;
        h1 {font-family: $avenir;font-size: 12px;font-weight: lighter;text-transform: uppercase;float:left;margin-right:15px;
          b{font-weight:bold;
            span{margin-left:10px;
            }
          }
        }
       #tags ul li{
         float: left;
         margin-left: 5px;
       }
       li{
          button{border:none;background:none;cursor:pointer;width:27px;height:19px;padding:0;font-size:0;font-family:a;line-height:0;background: image-url('moments/sprite.png') right -157px no-repeat;
          &.cleanFilter{font-size:11px;color:#6D6E71;background:none;border:none;font-family:$avenir;cursor:pointer;width:100%;text-transform:none; margin-left: 5px;}
         }
       }
      }
      div.exhibition-mode{clear:both;padding-top:5px;color:#000;height:25px;margin-bottom:35px;
        p{text-transform:uppercase;font-size:11px;float:left;
          span{margin:0 5px;
            &.selected{font-weight:bold;}
            &:hover{cursor:pointer;}
          }
        }
        #filters_container{
          height:37px;
          border-bottom:solid 1px #CCC;
          #category_filters{
            float: left;
            top: -1px;
            left: 0;
            position: relative;
          }

          span.selected-type{display:inline-block;height: 19px;cursor: pointer;font-size:10px;text-transform:uppercase;font-weight:bold;line-height:20px;padding:0 35px 0 0;text-indent:6px;border-top:solid 1px #D7D7D7;border-bottom:solid 1px #D7D7D7;border-left:solid 1px #D7D7D7;background: image-url('collections/bullet_arrow.png') right -1px no-repeat;color:#000;
            &.cloth_size{width:59px;}
            &.cloth_model{width:80px;}
            &.model{width:60px;}
            &.filter_selected{color:#EF3742 !important;}
          }
          
          div.select {position: relative;float:left;margin-right:14px;/*overflow: auto;display: inline;*/
            select{position: absolute;line-height: 26px;width: 125px;top: 0;left: 0;border:solid 1px #D7D7D7;}
            span.selected-type{width:95px;}
            &.category_type{
              select{width:97px;}
              span.selected-type{width:60px;}
            }
            
          }
          
          
        }
        #order_filter{float:left !important;width:225px !important;height:30px;margin-left:55px;
          label{text-transform:uppercase;font-weight:normal;font-size:11px;margin-right:5px;line-height:22px;}
          li.select{
            span.selected-type{background:image-url('moments/sprite.png') right 4px no-repeat !important;font-size:11px;text-transform:uppercase;line-height:18px;width:105px;text-indent:6px;}
          }
        }
        .filter{float: left;font-family: $avenir;font-size: 12px;color: #717171;position: relative;top: 1px;margin-right:12px;
         
          .tab_bg{display:none;position:absolute;z-index:101;border-left:solid 1px #E2E2E2;border-right:solid 1px #E2E2E2;background:#FFF;height:17px;
            &.tab_model{width:94px;}
            &.tab_color{width:61px;}
            &.tab_cloth_size{width:86px;}
            &.tab_cloth_model{width:114px;}
            &.tab_cloth_size,&.tab_shoe_size{width:93px;}
            &.tab_shoe_heel{width:72px;}
          }
        
        	p{color: black;margin-left: 15px;cursor:pointer;}
        	.clear_filter{background:none;border:none;float:right;color:#717171;display:none;cursor:pointer;text-transform:uppercase;}
          
        	.bt_clear_size{left: 0;top: 143px !important;}
        	.bt_clear_color{left: -20px;top: 109px;padding-right: 5px;margin-top: 15px;}
        	.bt_clear_heel{left: -18px;top: 166px;}
        	.bt_clear_model{left: 2px;top: 215px !important;}
        	.bt_clear_bag_color{left: -109px;top: 125px !important;margin-top: 10px !important;}
        	.bt_clear_bag{top: 140px !important;right: -160px;}
        	.bt_clear_accessory{left: 1px !important;top: 139px !important;}
      		.bt_clear_cloth{right: -165px !important;top: 180px !important;}
      		.bt_clear_cloth_size{top: 150px !important;right: -110px !important;}

        	h1{display: none;}
        	ol{overflow:hidden;z-index: 100;position: absolute;top:37px;background-color: #FFF;padding:0 15px 10px;border: 1px solid #E2E2E2;display:none;
        		&.color_filter{width: 175px;height: auto;left: 0;
              li{width: 90px !important;height:18px;}
        		}
        		&.open{width: 185px;height: auto;}
			      &.open_cloth{width: 220px;height: auto;}
        		&.column{width: 130px;height: auto;}
        		&.column-size{width: 130px;height: auto;}
            &.column_size_cloth{width: 175px;height: auto;
              li{width: 70px;}
			      }
        		&.open-bags{width: 230px;
        			li{width: 110px;}
        		}
        		&.open-accessory{width: 330px;height: 120px;
        			li{width: 110px;}
        		}
        		li{width:120px;height:20px;;position:relative;
              &.clear_choice{position:absolute;top:10px;right:0;}
            }
        	}
        }
      }
    }
    .collections_products{
       ul#products{clear:both;width:763px;margin:0 auto;
         li.product{position:relative;height:370px;/* new size photo */
           width:200px;margin: 0 23px 35px;padding:0;float:left;
           span.plots {
             color: inherit;
             font-size: inherit;
             padding-top: 0;
             float: none;
           }
           a.product_link {
             display:block;
             text-decoration:none;
             color:#000;
             font-size:13px;
             margin:0;
             img {
               border-bottom: solid 1px #B9BABD;
               margin: 0;
               width: 200px;/* new size photo */
               height:auto;/* new size photo */
             }
             h1{
               font-size: 13px;
               margin:0;
               height:18px;/* new size photo */
             }
             p{line-height:18px;
               &.brand{text-transform:uppercase;font-weight:bold;}
               .old{text-decoration:line-through;}
               .txt-pink{color:#E05A8C;}
               /**** OVERRIDE LABEL PRODUCTS ****/
               &.warn{left:160px;top:120px;}
               &.warn.sold_out{background: image-url('moments/sprite.png') no-repeat 0 -76px;line-height: 25px;padding-left: 4px;text-align: left;width: 100px;color:#000; left: 0; top: 57px;}
               &.warn.quantity{background:none #FFF !important;border: 1px solid #000;color: #000;font-family: 'avenir_medium';font-weight: 600;height: 20px;width: 74px;line-height: 20px !important;text-align: center;word-spacing: -1px; left: 0; top: 60px;}
               &.warn.shoe_size{background: none #000;height: 20px;left: 25px !important;line-height: 20px !important;top: 81px !important;width: 55px;word-spacing: -1px;}
               &.warn.percentage{left: 155px !important; top: 122px !important;background: image-url('moments/sprite.png') no-repeat 0 -109px;width:60px;height:60px;font-size:14px;font-family:$avenir;text-align:center;
                 span{font-size:14px;font-weight:normal}
               }
             /****** END *****/
             }
           }
           /***** OVERRIDE HOVER_SUGGESTIVE ****/
             &:hover{border:0;padding:0}
             div.hover_suggestive{
               bottom:25px;left:0;
               ul{float:none;
                 li.spy{margin:0;
                   a{width:100%;height:54px;position:absolute;left:0;bottom:44px !important;font-size:16px;font-style:italic;line-height:54px;
                     span{background: image-url('moments/sprite.png') no-repeat right -178px !important;padding:5px 26px 9px 0;}
                     &:hover{span{color:#000;}}
                   }
                 }
               }
             }
           /***** END ******/
         }
       }
    }
  }
}
.main_color{margin: 0 0 10px 0;float:left;clear:both;
  button{float:right;border:none;background:none;line-height:18px;cursor:pointer;color:#141414;display:none;padding:0;}
  ol {width: 180px;padding-bottom:5px;float: left;clear: both;display:none;
    &.open{display:block;}
    li {height: 15px;padding-left: 19px;margin:8px 0 0 30px !important;
      &.clear_choice{margin-top:0 !important;}
      button{margin-top:0 !important;}
      label {color: $third_color;letter-spacing: -1px;line-height:22px;}
      input{float: left;margin-left: -40px !important;}
      
      &.amarelo{
        background: image-url("common/thumbs_cor.png") no-repeat 0px -302px;
      }
      &.azul{
        background: image-url("common/thumbs_cor.png") no-repeat 0px -382px;
      }
      &.bege{
        background: image-url("common/thumbs_cor.png") no-repeat 0px -239px;
      }
      &.branco{
        background: image-url("common/thumbs_cor.png") no-repeat 0px -415px;
      }
      &.cinza{
        background: image-url("common/thumbs_cor.png") no-repeat 0px -270px;
      }
      &.cobra{
        background: image-url("common/thumbs_cor.png") no-repeat 0px -93px;
      }
      &.cobre{
        background: image-url("common/thumbs_cor.png") no-repeat 0px 2px;
      }
      &.dourado{
        background: image-url("common/thumbs_cor.png") no-repeat 0px -13px;
      }
      &.floral{
        background: image-url("common/thumbs_cor.png") no-repeat 0px -77px;
      }
      &.laranja{
        background: image-url("common/thumbs_cor.png") no-repeat 0px -318px;
      }
      &.listras{
        background: image-url("common/thumbs_cor.png") no-repeat 0px -109px;
      }
      &.marrom{
        background: image-url("common/thumbs_cor.png") no-repeat 0px -254px;
      }
      &.multicolorido{
        background: image-url("common/thumbs_cor.png") no-repeat 0px -125px;
      }
      &.nude{
        background: image-url("common/thumbs_cor.png") no-repeat 0px -222px;
      }
      &.off-white{
        background: image-url("common/thumbs_cor.png") no-repeat 0px -432px;
      }
      &.onix{
        background: image-url("common/thumbs_cor.png") no-repeat 0px -29px;
      }
      &.onca{
        background: image-url("common/thumbs_cor.png") no-repeat 0px -141px;
      }
      &.poas{
        background: image-url("common/thumbs_cor.png") no-repeat 0px -157px;
      }
      &.prateado{
        background: image-url("common/thumbs_cor.png") no-repeat 0px -45px;
      }
      &.preto{
        background: image-url("common/thumbs_cor.png") no-repeat 0px -286px;
      }
      &.rosa{
        background: image-url("common/thumbs_cor.png") no-repeat 0px -350px;
      }
      &.rose{
        background: image-url("common/thumbs_cor.png") no-repeat 0px -61px;
      }
      &.roxo{
        background: image-url("common/thumbs_cor.png") no-repeat 0px -366px;
      }
      &.vaca{
        background: image-url("common/thumbs_cor.png") no-repeat 0px -173px;
      }
      &.verde{
        background: image-url("common/thumbs_cor.png") no-repeat 0px -398px;
      }
      &.vermelho{
        background: image-url("common/thumbs_cor.png") no-repeat 0px -334px;
      }
      &.xadrez{
        background: image-url("common/thumbs_cor.png") no-repeat 0px -189px;
      }
      &.zebra{
        background: image-url("common/thumbs_cor.png") no-repeat 0px -205px;
      }
    } 
    &.column {
      li {
        width: 80px;
        float: left;
      }
    }
    &.color_filter{
      width: 200px !important;
      height: 200px !important;
      overflow: auto !important;
      border-top: 1px solid #e5e5e5;
      border-left: 1px solid #e5e5e5;
      border-right: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5;
    }
  }
}

/* fix Webkit to windows */
html.win.webkit,html.win.ff2{
  #filters_container div.select.category_type select,#filters_container div.sort_filter span.selected-type{width:102px !important;}
  #filters_container div.category_type span.selected-type{width:68px !important;}
  
  #filters_container div.select,div.exhibition-mode .filter{margin-right:11px !important;}

  #filters_container div.select select{width:137px !important;}

}
