body {
  #error_explanation {
    width: 460px;
  }
  div#contact_content {
    width: 405px;
    height: 455px;
    margin: 25px 20px 0 0;
    float: left;
    h1 {
      font-family: "johnston", Arial, sans-serif;
      font-weight: lighter;
      text-transform: uppercase;
      margin: 0 0 15px 0;
      display: block;
    }
    h2 {
      font-family: KeplerStdItalic, Times, "Times New Roman", sans-serif;
      font-size: 16px;
      margin: 0 0 27px 0;
    }
    p {
      margin: 0 0 20px 0;
      &.time {
        color: #101010;
      }
    }
    ul {
      background: #FFF;
      width: 365px;
      overflow: hidden;
      margin: 0 0 10px 0;
      padding: 2px 12px;
      border: 1px #d2d2d2 solid;
      li {
        float: left;
        &.phone {
          background: image-url('contact/ico-phone.png') left no-repeat;
          color: #3b3b3b;
          font-size: 15px;
          font-weight: bold;
          margin: 0 15px 0 0;
          padding: 5px 10px 5px 25px;
          border-right: 1px #d2d2d2 solid;
        }
        &.mail {
          padding: 5px 0 5px 0;
          a {
            background: image-url('contact/ico-mail.png') left no-repeat;
            color: #3b3b3b;
            font-size: 15px;
            font-weight: bold;
            text-decoration: none;
            padding: 0 0 0 25px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  form#contact {
    background: #FFF;
    width: 525px;
    padding: 20px 0;
    margin: 25px 0 0 0;
    float: right;
    border: 1px #d2d2d2 solid;
    fieldset {
      width: 465px;
      overflow: auto;
      margin: 0 auto;
      &.inputs {
        margin-bottom: 15px;
        ol li {
          position: relative;
          width: 100%;
          margin: 0 0 12px 0;
          overflow: hidden;
          select.custom_select {
            position: absolute;
            line-height: 26px;
            width: 250px;
            height: 34px;
            top: 0;
            left: 106px;
          }
          span.select {
            position: absolute;
            background: image-url('contact/bg-select.png') no-repeat;
            line-height: 34px;
            width: 255px;
            height: 34px;
            text-indent: 22px;
            left: 95px;
            z-index: 0;
          }
          label {
            text-align: right;
            line-height: 35px;
            width: 80px;
            margin-right: 15px;
            float: left;
          }
          input[type="text"], input[type="email"] {
            background: image-url('common/bg-inputs.png') repeat-x;
            width: 266px;
            border: 1px solid #C1C1C1;
            padding: 7px 8px;
            height:17px;
            &:focus {
              outline: none;
            }
          }
          textarea {
            background: #f3f3f3 image-url('common/bg-inputs.png') bottom repeat-x;
            width: 350px;
            height: 100px;
            padding: 7px 8px;
            border: 1px solid #C1C1C1;
            &:focus {
              outline: none;
            }
          }
        }
      }
      &.buttons {
        input[type="submit"] {
          width: 206px;
          height: 49px;
          display: block;
          border: none;
          cursor: pointer;
          float: right;
          text-transform: uppercase;
          letter-spacing: 2px;
          @include bt_color($primary_bt_color, $primary_bt_color_hover);
        }
      }
    }
  }
}
.ie {
  form#contact {
    fieldset.inputs {
      ol {
        li {
          select.custom_select {
            left: 100px;
          }
        }
      }
    }
  }
}

.ie {
  body div#contact_content ul {
    width: 350px;
  }
}
