@import 'partials/mixins';

div#delivery_time {
  margin: 0 auto;
  section#description {
    background: image-url('delivery/map.png') 745px 20px no-repeat;
    width: 705px;
    height: 270px;
    margin: 0 auto;
    padding: 0 285px 0 0;
    h1 {
      color: #101010;
      font-family: $johnston;
      font-size: 40px;
      text-transform: uppercase;
      display: block;
      margin: 0 0 25px 0;
    }
    p {
      font-size: 14px;
      margin: 0 0 20px 0;
      &.last {
        font-weight: 500;
      }
    }
  }
  section#areas {
    width: 690px;
    padding: 20px;
    overflow: hidden;
    margin: 0 0 55px;
    border: 1px #000 solid;
    form {
      width: 445px;
      margin: 0 10px 40px 0;
      overflow: auto;
      float: left;
      label {
        font-family: $kepler;
        font-size: 21px;
      }
      ol li {
        position: relative;
        line-height: 34px;
        margin: 0 10px 0 0;
        float: left;
        select {
          position: absolute;
          width: 245px;
          top: 10px;
          left: 15px;
          cursor: pointer;
        }
        span.select {
          position: absolute;
          background: image-url('delivery/bg-select.png') no-repeat;
          line-height: 34px;
          width: 254px;
          height: 34px;
          text-indent: 15px;
          top: 0px;
          left: 0px;
          z-index: 0;
        }
      }
    }
    p {
      font-weight: 500;
      clear: both;
    }
  }
  table {
    width: 100%;
    margin: 0 auto;
    clear: both;
    thead {
      tr {
        th {
          font-size: 16px;
          font-weight: normal;
          text-align: center;
          padding: 8px 0;
          border-top: 2px #000 dotted;
          border-bottom: 2px #000 dotted;
          &.first {
            text-align: left;
            padding-left: 15px;
          }
          &.last {
            width: 135px;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          color: #333;
          text-align: center;
          font-size: 14px;
          padding: 8px 0;
          &.first {
            text-align: left;
            vertical-align: middle;
            padding-left: 15px;
          }
        }
        &.zebra {
          td {
            //background: #EEE;
          }
        }
        &.border {
          border-bottom: 1px #c5c5c5 solid;
        }
      }
    }
  }
}

.gecko, .ie {
  div#delivery_time {
    section#areas {
      form {
        ol {
          li {
            select {
              left: 2px;
            }
          }
        }
      }
    }
  }
}
.content { 
width:970px !important;
}

