@import "partials/mixins";

section#forget_password {
  background: image-url('common/bg-forgot-password.jpg') top right no-repeat;
  width: 100%;
  min-height: 560px;
  padding: 20px 0 0;
  overflow: auto;
  h1 {
    font-family: $johnston;
    font-size: 32px;
    text-transform: uppercase;
    margin: 0 0 20px;
  }
  form {
    width: 270px;
    margin: 0 0 50px;
    padding: 25px 65px;
    border: 1px #ddd solid;
    fieldset {
      ol {
        li {
          margin-bottom: 17px;
          label {
            font-size: 15px;
            display: block;
          }
          input[type="email"] {
            background: image-url('common/background-inputs.png') bottom repeat-x;
            font-size: 13px;
            width: 260px;
            padding: 8px 7px;
            border: 1px #ddd solid;
            &:focus {
              outline: none;
            }
          }
        }
      }
      &.buttons {
        input[type='submit'] {
          width: 206px;
          height: 63px;
          margin: 0 auto;
          display: block;
          border: none;
          cursor: pointer;
          letter-spacing: 2px;
          text-transform: uppercase;
          font-size: 15px;
          @include bt_color($primary_bt_color, $primary_bt_color_hover);
        }
      }
    }
    p {
      a {
        color: #6D6E71;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  ul.social-media {
    margin: 0 0 0 18px;
  }
}
