@import "partials/product";

section#friends {
  margin: -7px 0 0 0;
  width: 100%;
  overflow: auto;
  section#user_column {
    width: 175px;
    min-height: 1150px;
    margin: 25px 0 0 0;
    padding: 0 10px 0 0;
    float: left;
    border-right: 1px #dbdbdb solid;
    div.avatar {
      width: 148px;
      height: 148px;
      overflow: hidden;
      margin: 5px auto 10px auto;
      img {
        width: 148px;
      }
    }
    h1 {
      color: $third_color;
      font-family: $avenir;
      font-size: 16px;
      text-align: center;
      margin: 0 0 50px 0;
    }
    div.friends_list {
      h2 {
        background: image-url('friends/bg-title-my-friends.jpg') bottom center no-repeat;
        font-family: $johnston;
        font-size: 15px;
        text-transform: uppercase;
        margin: 0 0 15px 0;
        padding: 0 0 23px 0;
        display: block;
      }
      ul {
        background: image-url('friends/bg-friends-list.jpg') bottom center no-repeat;
        margin: 0 0 15px 0;
        padding: 0 0 20px;
        li {
          width: 100%;
          overflow: auto;
          margin: 0 0 10px 0;
          a {
            color: $third_color;
            font-size: 14px;
            text-decoration: none;
            display: block;
            overflow: auto;
            div.avatar_mask {
              width: 60px;
              height: 60px;
              overflow: hidden;
              margin: 0 7px 0 0;
              float: left;
              img {
                width: 60px;
              }
            }
            span {
              height: 60px;
              display: table-cell;
              vertical-align: middle;
            }
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      a.update {
        background: image-url("friends/bg-refresh.jpg") center left no-repeat;
        color: #010101;
        font-size: 13px;
        text-decoration: none;
        padding: 0 0 0 40px;
        float: left;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  section#friends_content {
    width: 800px;
    overflow: auto;
    float: left;
  }
  &.connect {
    background: image-url('friends/background.jpg') top center no-repeat;
    height: 540px;
    padding: 25px 0 0 0;
    div.container {
      background: #FFF;
      width: 680px;
      margin: 0 auto;
      padding: 20px 0;
      border: 1px #dbdbdb solid;
      h1 {
        background: image-url('friends/title-home.png') no-repeat;
        text-indent: -9999px;
        width: 549px;
        height: 37px;
        margin: 0 auto 10px auto;
        display: block;
      }
      p {
        color: #696969;
        font-size: 14px;
        text-align: center;
        width: 545px;
        margin: 0 auto 10px auto;
      }
      a {
        background: image-url('friends/bt-friends-showroom.png') no-repeat;
        text-indent: -9999px;
        width: 250px;
        height: 25px;
        margin: 0 auto;
        display: block;
      }
    }
  }
  &.home {
    background: image-url('friends/bg-home.jpg') top right no-repeat;
    section#friends_content {
      > h1 {
        font-family: $johnston;
        font-size: 30px;
        line-height: 37px;
        text-transform: uppercase;
        width: 410px;
        margin: 40px 0 95px 25px;
        display: block;
      }
      div#quiz_container, div#invite_friends, div#share_showroom {
        background: image-url('friends/divisor.png') top left no-repeat;
        width: 770px;
        overflow: hidden;
        padding: 30px 0 30px 30px;
        h1 {
          margin: 0 0 5px 0;
        }
      }
      div#quiz_container {
        div.question {
          width: 535px;
          float: left;
          h1 {
            font-family: $johnston;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 1px;
          }
          h2 {
            color: $third_color;
            font-family: $avenir;
            font-size: 15px;
            font-weight: normal;
            margin: 0 0 15px 0;
            span {
              color: #101010;
              font-weight: 600;
            }
          }
          fieldset {
            ul {
              width: 420px;
              overflow: auto;
              margin: 0 auto;
              li {
                position: relative;
                width: 100px;
                height: 155px;
                overflow: hidden;
                margin: 0 30px 0 0;
                float: left;
                border: 2px #e0e0e0 solid;
                cursor: pointer;
                img {
                  height: 155px;
                }
                input[type="radio"] {
                  position: absolute;
                  top: 0;
                  left: 0;
                  display: none;
                }
                &:hover, &.selected {
                  border-color: #101010;
                }
              }
            }
          }
        }
        div.friend {
          background: image-url('friends/divisor-friend.png') top left no-repeat;
          height: 220px;
          margin: 10px 0 0 0;
          padding: 30px 0 0 25px;
          float: left;
          fieldset.buttons {
            ul {
              width: 155px;
              li {
                text-align: center;
                margin: 0 0 55px 0;
                div.pic_mask {
                  width: 60px;
                  height: 60px;
                  display: block;
                  margin: 0 auto 5px auto;
                  overflow: hidden;
                  img {
                    width: 60px;
                  }
                }
                p {
                  color: $third_color;
                  margin: 0 0 20px 0;
                }
                a.next_friend {
                  background: image-url('friends/bt-next-friend.jpg') no-repeat;
                  text-indent: -99999px;
                  width: 130px;
                  height: 32px;
                  margin: 0 0 0 15px;
                  display: block;
                }
                input[type="submit"] {
                  background: image-url('friends/bt-answer-invite.jpg') 0 -34px no-repeat;
                  text-indent: -9999px;
                  width: 173px;
                  height: 34px;
                  display: block;
                  border: none;
                  cursor: pointer;
                  &.disabled {
                    background-position: 0 0;
                  }
                }
              }
            }
          }
        }
      }
      div#invite_friends {
        h1 {
          font-family: $johnston;
          font-size: 20px;
          text-transform: uppercase;
          letter-spacing: 1px;
          float: left;
        }
        a.all_friends {
          background: image-url('friends/bt-all-friends.jpg') no-repeat;
          text-indent: -99999px;
          width: 110px;
          height: 32px;
          display: block;
          margin: -5px 0 0 95px;
          float: left;
        }
        div.list_mask {
          position: relative;
          width: 660px;
          height: 180px;
          overflow: hidden;
          margin: 30px 0 0;
          clear: both;
          float: left;
          ul {
            li {
              position: relative;
              margin: 0 10px 10px 0;
              float: left;
              a {
                background: #FFF;
                position: absolute;
                color: #FFF;
                font-size: 13px;
                line-height: 14px;
                text-transform: uppercase;
                text-decoration: none;
                text-align: center;
                top: 0;
                left: 0;
                width: 50px;
                height: 50px;
                float: left;
                overflow: hidden;
                opacity: .0;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                filter: alpha(opacity=0);
                p {
                  line-height: 16px;
                  padding: 10px 0 0 0;
                  display: none;
                }
                img {
                  float: left;
                  overflow: hidden;
                }
                &:hover, &.selected {
                  background: #d25280;
                  opacity: 1;
                  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
                  filter: alpha(opacity=100);
                  img {
                    margin: -4px;
                  }
                  p {
                    display: block;
                  }
                }
              }
              div {
                position: absolute;
                background: #000;
                width: 50px;
                height: 50px;
                display: none;
                top: 0;
                left: 0;
                p {
                  color: #FFF;
                  font-family: 'Open Sans', sans-serif;
                  font-size: 13px;
                  line-height: 14px;
                  text-transform: uppercase;
                  text-align: center;
                  margin: 10px 0 0 0;
                }
                &.error {
                  p {
                    font-size: 12px;
                    line-height: 11px;
                    margin: 3px 0 0 0;
                  }
                }
              }
            }
          }
          &.full {
            height: auto;
          }
        }
      }
      div#share_showroom {
        h1 {
          font-family: $johnston;
          font-size: 20px;
          text-transform: uppercase;
          letter-spacing: 1px;
          float: left;
        }
        h2 {
          color: #434343;
          font-family: $avenir;
          font-size: 24px;
          font-weight: normal;
          margin: 0 0 15px 0;
          clear: both;
        }
        fieldset.inputs {
          clear: both;
          ul {
            width: 700px;
            overflow: auto;
            margin: 30px 0 0 25px;
            li {
              height: 147px;
              float: left;
              div.pic_mask {
                width: 60px;
                height: 60px;
                display: block;
                margin: 30px 35px 0 0;
                overflow: hidden;
                float: left;
                img {
                  width: 60px;
                }
              }
              &.text {
                background: image-url('friends/divisor-share.png') top left no-repeat;
                width: 545px;
                padding: 30px 0 0 40px;
                textarea {
                  background: #FFF image-url('friends/bg-textarea.jpg') bottom repeat-x;
                  width: 535px;
                  height: 75px;
                  margin-bottom: 10px;
                  border: 1px #cacaca solid;
                  &:focus {
                    outline: none;
                  }
                }
                input[type="submit"] {
                  width: 139px;
                  height: 34px;
                  display: block;
                  border: none;
                  cursor: pointer;
                  clear: both;
                  float: right;
                  font-size: 14px;
                  letter-spacing: 2px;
                  text-transform: uppercase;
                  @include bt_color($primary_bt_color, $primary_bt_color_hover);
                  &.disabled {
                    @include bt_color($terciary_bt_color, $terciary_bt_color_hover);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &.showroom {
    section#user_column {
      border: none;
    }
    section#friends_content {
      min-height: 1000px;
      margin: 25px 0 0 0;
      border-left: 1px #dbdbdb solid;
      border-bottom: 1px #dbdbdb solid;
      div#friend_info {
        margin: 15px 0 15px 25px;
        div.avatar_mask {
          width: 58px;
          height: 58px;
          overflow: hidden;
          margin: 0 10px 0 0;
          float: left;
          img {
            width: 58px;
          }
        }
        h2 {
          background: image-url('friends/title-user-info.jpg') no-repeat;
          text-indent: -9999px;
          width: 161px;
          height: 13px;
          display: block;
          margin: 0 0 5px 67px;
        }
        h1 {
          color: #101010;
          font-family: $avenir;
          font-size: 18px;
          font-weight: normal;
          margin: 0 0 5px 0;
        }
        a {
          background: image-url('friends/back-arrow.jpg') left no-repeat;
          color: #ef3742;
          text-decoration: none;
          padding: 0 0 0 10px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      div.product_list {
        width: 775px;
        overflow: auto;
        border-top: 1px #dbdbdb solid;
        padding: 40px 0 40px 20px;
      }
    }
  }
}
li.product {
  div.box_product {
    div.line {
      width: 175px;
      p.price{font-size: 13px;color:#000;margin-left: 3px;
        span{float: none;color:#000;font-size: 13px;margin: 0;padding: 0;}
      }
      a.product_link {
        margin-left: 0;
      }
    }
  }
  .warn.percentage {
    display: none !important;
  }
  &.promotion {
    span.old {
      text-decoration: none;
    }
    .box_product .line span.txt-pink {
      font-weight: normal;
    }
  }
}

