header {
  background: none;
}

div.full_container {
  background: url("/assets/gift/shadow-header.jpg") bottom repeat-x;
  padding: 0 0 27px 0;
  div.shadow {
    position: absolute;
    background: url("/assets/gift/shadow-signed-out.png") top center no-repeat;
    width: 1124px;
    height: 26px;
    display: block;
    margin-left: -562px;
    top: 0;
    left: 50%;
  }
  div.full_bg {
    background: url("/assets/gift/bg.jpg") repeat;
    width: 100%;
    overflow: hidden;
  }
  div.content {
    font-family: "Open Sans", sans-serif;
    &#banner {
      background: url("/assets/gift/bg-header.jpg") top center no-repeat;
      height: 485px;
      h1 {
        font-family: "Open Sans", sans-serif;
        font-size: 70px;
        font-weight: 600;
        letter-spacing: -7px;
        line-height: 50px;
        width: 455px;
        margin: 40px 0 25px 0;
      }
      p {
        color: #343434;
        font-size: 14px;
        letter-spacing: -1px;
        line-height: 17px;
        width: 405px;
        margin: 0 0 20px 0;
      }
      img {
        margin: 0 0 20px 0;
      }
      a#new_occasion_link {
        background: url("/assets/gift/bt-start.jpg") no-repeat;
        color: #FFF;
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        line-height: 43px;
        letter-spacing: -1px;
        width: 347px;
        height: 46px;
        display: block;
        clear: both;
      }
    }
    &#occasion {
      form {
        margin: 35px auto;
        div, input[type="text"], select.custom_select {
          font-family: "Open Sans", sans-serif;
          font-size: 45px;
          font-weight: lighter;
          letter-spacing: -2px;
        }
        div {
          color: #383838;
          text-align: center;
          width: 895px;
          margin: 0 auto 20px auto;
          p {
            position: relative;
            display: inline-block;
            select.custom_select {
              position: relative;
              padding: 0 18px;
              top: -25px;
              left: 0;
            }
            span.select {
              position: absolute;
              background: #FFF;
              color: #e05789;
              padding: 0 20px;
              left: 0;
              border: 1px #a4a4a4 dotted;
              z-index: 0;
            }
          }
        }
        input[type="text"] {
          background: #FFF;
          width: 280px;
          color: #e05789;
          padding: 0 20px;
          border: 1px #a4a4a4 dotted;
          &:focus {
            outline: none;
          }
        }
        input[type="submit"] {
          background: url("/assets/gift/bt-continue.png") no-repeat;
          color: #FFF;
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          width: 133px;
          line-height: 38px;
          text-transform: uppercase;
          margin: 0 auto;
          display: block;
          border: none;
          cursor: pointer;
          clear: both;
        }
      }
    }
  }
  &.offline {
    margin-top: -27px;
  }
}

div.content {
  div#calendar_container {
    position: relative;
    div.opacity {
      background: url("/assets/gift/opacity.png") repeat;
      position: absolute;
      top: 0;
      left: 0;
      width: 990px;
      height: 100%;
      display: block;
    }
    div.title {
      margin: 0 0 35px 0;
      border-bottom: 1px #949494 solid;
      h1 {
        background: url("/assets/gift/subtitle-calendar.jpg") 250px 0 no-repeat;
        color: #101010;
        font-family: "Open Sans", sans-serif;
        font-size: 30px;
        font-weight: 600;
        letter-spacing: -2px;
        line-height: 50px;
        text-transform: uppercase;
        padding: 5px 0 0 0;
      }
    }
    div#calendar {
      width: 100%;
      overflow: hidden;
      padding: 0 0 80px 0;
      ul#months {
        text-align: center;
        width: 100%;
        overflow: hidden;
        margin: 0 0 20px 0;
        padding: 0 0 10px 0;
        border-bottom: 1px #c4c4c4 solid;
        li {
          width: 80px;
          margin: 0;
          padding: 10px 0;
          float: left;
          a {
            color: #878686;
            font-family: "Open Sans", sans-serif;
            font-size: 15px;
            text-transform: uppercase;
            text-decoration: none;
            padding: 10px 5px;
          }
          &.first {
            margin-left: 0;
          }
          &.last {
            margin-right: 0;
          }
        }
      }
      ul.friends_list {
        > li {
          position: relative;
          width: 50px;
          overflow: visible;
          margin: 0 5px 10px 0;
          display: block;
          float: left;
          a {
            color: #7d7d7d;
            font-family: "Open Sans", sans-serif;
            font-size: 9px;
            text-transform: uppercase;
            text-align: center;
            text-decoration: none;
            float: left;
            div.mask {
              width: 50px;
              height: 50px;
              margin: 0 0 2px 0;
              overflow: hidden;
              img {
                height: 60px;
              }
            }
            p {
          
            }
          }
          div.actions {
            position: absolute;
            background: #FFF;
            width: 255px;
            overflow: visible;
            padding: 15px;
            top: 25px;
            left: 25px;
            border: 1px #dcdcdc solid;
            z-index: 1000;
            display: none;
            div.triangle {
              position: absolute;
              background: url("/assets/gift/triangle-pink.png") no-repeat;
              width: 13px;
              height: 13px;
              display: block;
              top: -3px;
              left: -3px;
            }
            h1 {
              color: #343434;
              font-family: "Open Sans", sans-serif;
              font-size: 13px;
              font-weight: 600;
              margin: 0 0 10px 0;
              float: left;
            }
            p {
              color: #7d7d7d;
              font-family: "Open Sans", sans-serif;
              font-size: 11px;
              letter-spacing: -1px;
              float: left;
              clear: both;
            }
            ul {
              width: 155px;
              float: right;
              li {
                input[type="submit"] {
                  background: url("/assets/gift/bg-birthday.png") top left no-repeat;
                  color: #e05789;
                  font-family: "Open Sans", sans-serif;
                  font-size: 11px;
                  font-weight: bold;
                  letter-spacing: -1px;
                  text-decoration: none;
                  width: 85px;
                  margin: 0 0 7px 0;
                  padding: 0 0 0 20px;
                  border: none;
                  cursor: pointer;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
            a.close_actions {
              position: absolute;
              color: #c1c1c1;
              font-family: "Open Sans", sans-serif;
              font-size: 13px;
              font-weight: bold;
              top: 10px;
              right: 10px;
            }
          }
          &:hover > div.actions {
            display: block;
          }
        }
      }
      &.connected {
        ul#months {
          li {
            height: 32px;
            a {
              background: url("/assets/gift/arrow-pink.png") top center no-repeat;
              margin-top: 7px;
              display: block;
              &:hover, &.selected {
                background: url("/assets/gift/arrow-black.png") top center no-repeat;
                color: #080808;
                font-size: 23px;
                margin-top: 0;
              }
            }
          }
        }
      }
    }
    a#connect_facebook {
      background: url("/assets/gift/bt-facebook.jpg") no-repeat;
      color: #FFF;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: -1px;
      line-height: 41px;
      text-decoration: none;
      text-transform: uppercase;
      width: 162px;
      height: 41px;
      display: block;
      margin: 0 auto;
      padding: 0 0 0 40px;
    }
  }
}

div#calendar_container {
  div.title {
    border-bottom: 1px #949494 solid;
    h1 {
      background: url("/assets/gift/subtitle-calendar.jpg") 250px 0 no-repeat;
      color: #101010;
      font-family: "Open Sans", sans-serif;
      font-size: 30px;
      font-weight: 600;
      letter-spacing: -2px;
      line-height: 50px;
      text-transform: uppercase;
      padding: 5px 0 0 0;
    }
  }
}
