@import 'partials/mixins';
@import 'partials/product';
@import 'new_structure/partials/facebook_footer';

header {
  background: none;
}

body #tracker + p {
  display: none;
}

div#banner {
  margin: 0 auto;
  width: 990px;
}

body div.full_container {
  section {
    width: 970px;
    margin: 0 auto;
    background: image-url('gift/border-sections.jpg') bottom repeat-x;
	 &.bn{background: none !important;}
    &#profiles {
      min-height: 2221px;
      div.content {
        position: relative;
        height: 725px;
        width:970px;
        overflow: visible;
        h2 {
          margin-top: 25px;
          font-family: $avenir;
          font-size: 23px;
          letter-spacing: 3px;
          text-transform: uppercase;
          span{
            color: $pink;
          }
        }
        h2.select_model{
          margin-top: 10px;
          font-family: $johnston;
          font-size: 28px;
          color: #231f20;
          text-align: center;
          span{
            font-family: $avenir;
            font-size: 18px;
            display: block;
            color: #231f20;
          }
        }

        ul.gifts_price{
          height: 945px;
          width: 970px;
          margin: 0 auto;
          margin-top: 40px;
          li{
            margin-right: 59px;
            width: 284px;
            float: left;
            &.last{margin-right: 0 !important;}
            &.big{margin-top: 30px;}
            a{
              text-decoration: none;
              float: left;
              text-align: center;
            }
            a.price_box{height: 445px !important;}
            p.description{
              margin-top: 5px;
              font-size: 14px;
              font-family: $avenir;
              color: #231f20;
            }
            p.title_price{
              margin-top: 15px;
              font-size: 28px;
              font-family: $johnston;
              color: #231f20;
              font-weight: bold;
              text-align: center;
              text-transform: uppercase;
              line-height: 30px;
              &:hover{
                color: $pink;
                }
              span{
                font-weight: lighter;
                font-family: $kepler;
                color: #231f20;
                display: block;
                font-size: 26px;
                text-transform: none;
              }
              span.sky{
                display: inline;
              }
            }
          }
        }
        ul.anchors{
          margin-top: 65px;
          height: 460px;
          overflow: hidden;
          p.title_box{
            margin-top: 15px;
            font-size: 26px;
            font-family: $johnston;
            color: #231f20;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            line-height: 30px;
            &:hover{
              color: $pink;
            }
          }
        }
        div#help {
          border: 1px solid #848484;
          background-color: #fff;
          position: absolute;
          text-align: left;
          width: 356px;
          height: 88px;
          padding: 0px 0 0 0;
          margin-top: 10px;
          display: block;
          top: 0;
          right: 0;
			 &.reminder{
				height:146px !important;padding-top:10px !important;
				p{text-transform:uppercase;font-family:$avenir_medium;font-size:11px !important;color:#000;
					&.name{font-size:15px !important;width:162px;height:31px;line-height:31px;border:solid 1px #DEDEDE;text-align:center;}
				}
				a.bt-recomendation{display:block;width:170px;height:35px;font-size:0;font-family:a;background: image-url("gift/bt-recomendations.png") no-repeat !important;}
				a.my-gifts{font-size:11px;color:#DE4F7F;}
			}
          h2 {
            font-family: $avenir;
            font-size: 15px;
            margin-left: 15px;
            margin-top: 10px;
            text-transform: none;
            font-weight: bold;
            color: #231f20;
          }
          p {
            font-size: 13px;
            line-height: 15px;
            font-family: $avenir;
            color: #231f20;
            margin-left: 15px;
            &+a {
              background: image-url("gift/bt-answer-quiz.png") no-repeat;
              text-indent: -99999px;
              width: 120px;
              height: 55px;
              margin: 0 auto;
              display: block;
              float: right;
              margin-top: -55px;
            }
          }
          a.close {
            position: absolute;
            background: image-url('gift/bt-close-help.png') no-repeat;
            text-indent: -99999px;
            width: 18px;
            height: 18px;
            display: block;
            top: -10px;
            right: -10px;
            z-index: 1001;
          }
          &.fixed {
            position: fixed;
            top: 55px;
            z-index: 10;
          }
        }
      }
      ul.models {
        width: 975px;
        overflow: auto;
        margin: 0 auto;
        margin-top: 25px;
        li {
					&.chic{float:left;margin-left:25px;
						a{margin:0 !important}
					}
					&.sexy{float:left;margin-left:-20px;}
          a {
            text-decoration: none;
            text-align: center;
            min-width: 220px;
            min-height: 588px;
            margin: 0 20px 0 0;
            float: left;
            p {
              text-transform: capitalize;
              display: block;
              padding-top: 3px;
              font-family: avenir, arial, sans-serif;
              font-size: 14px;
              letter-spacing: 1px;
              text-align: center;
              color: #fff;
              width: 75px !important;
              height: 25px !important;
              background-color: #000;
              margin: 0 auto;
              margin-bottom: 18px;
				  		&.chic{margin-left: 35px;}
              &.moderna{margin-left: 83px;}
              &:hover{
                color: $pink;
              }
            }
            &.selected {
              background: image-url('gift/bg-profile-selected.png') bottom center no-repeat;
            }
            &.off {
              opacity: 0.4;
              -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
              filter: alpha(opacity=40);
            }
          }
          &:last-child {
            a {
              margin: 0;
            }
          }
        }
      }
    }
    &#profile_products {
      div.content {
        > h2 {
          font-family: $avenir;
          font-size: 20px;
          color: #231f20;
          text-align: center;
          margin: 10px 0 10px;
          letter-spacing: 1px;
          strong {
            font-weight: 500;
          }
        }
        ul.products {
          width: 100%;
          margin: 0 0 15px;
          overflow: auto;
          &+a {
            background: image-url('gift/bt-more-suggestions.jpg') no-repeat;
            text-indent: -99999px;
            width: 284px;
            height: 41px;
            display: block;
            margin: 0 auto;
          }
          .plots {
            font-size: inherit;
            padding-top: 0;
          }
          .line {
            a.product_link {
              margin-left: 0;
              color: inherit;
            }
          }
          li.product {
              padding:0px;
              margin-right:20px;
              border:0px;
              height: 316px !important;
            div.hover_suggestive {
              bottom: 91px;
              ul li a {
                height:36px;
                padding-top:1px;
              }
              ul li a:hover span {
                color:#000;
              }
              ul li a span {
                font-family: avenir, tahoma;
                font-size: 10px;
                font-weight: bold;
                background:image-url('/dev-assets/moments/sprite.png') no-repeat -62px -176px;
                width: 100px;
                height: 40px;
                padding-top: 7px;
              }
            }
          }
        }
      }
    }
    &#suggestions {
      padding: 30px 0 0;
      div.content {
        height: 401px;
        overflow: visible;
        > h1 {
          font-family: $avenir;
          font-size: 17px;
          font-weight: lighter;
          text-align: center;
          text-transform: uppercase;
          margin: 0 0 30px;
          strong {
            font-weight: 500;
          }
        }
        ul {
          width: 990px;
          overflow: auto;
          li {
            a {
              text-align: center;
              text-decoration: none;
              min-height: 290px;
              width: 330px;
              float: left;
              h1 {
                color: #101010;
                font-family: $avenir;
                font-size: 35px;
                font-weight: lighter;
                text-transform: uppercase;
                margin: 0 0 5px;
              }
              img {
                margin: 0 0 5px;
              }
              p {
                color: $third_color;
                font-family: $kepler;
                font-size: 15px;
                width: 205px;
                margin: 0 auto;
              }
              span {
                background: image-url('gift/bg-right-pink-arrow.png') top right no-repeat;
                color: #101010;
                font-size: 13px;
                font-weight: 500;
                text-transform: uppercase;
                display: inline-block;
                padding-right: 15px;
              }
            }
            &#helena {
              a {
                width: 329px;
                border-right: 1px #e8e8e8 solid;
              }
              p {
                background: image-url('gift/bg-phrase-helena.png') bottom center no-repeat;
                line-height: 20px;
                margin-bottom: 15px;
                padding-bottom: 50px;
              }
            }
            &#bestsellers {
              a {
                width: 329px;
                border-right: 1px #e8e8e8 solid;
              }
              img {
                margin-bottom: 10px;
              }
            }
            &#face {
              a {
                width: 330px;
              }
            }
            &.no_border {
              a {
                border: none !important;
              }
            }
            &.selected {
              a {
                background: image-url('gift/bg-suggestion-selected.jpg') bottom center no-repeat;
                height: 350px;
                border: none !important;
              }
              span {
                background: image-url('gift/bg-bottom-pink-arrow.png') top right no-repeat;
                padding-right: 20px;
              }
            }
          }
        }
      }
    }
    &#suggestions_products {
      padding: 30px 0;
      div.content {
        p.loading {
          background: image-url('common/ajax-loader.gif') center center no-repeat;
          height: 25px;
        }
        ul.products {
          width: 100%;
          margin: 0 0 15px;
          overflow: auto;
          li.product {
            width: 170px;
            a {
              color: #101010;
              text-decoration: none;
              img {
                margin: 0 0 10px;
              }
              p {
                font-size: 30px;
                margin: 5px 10px 0 0;
                float: left;
              }
              div.name_price {
                text-align: center;
                margin: 5px 0 0 0;
                float: left;
                h1 {
                  font-family: $avenir;
                  font-size: 18px;
                  line-height: 18px;
                  text-transform: uppercase;
                  width: 135px;
                  border-bottom: 1px #000 solid;
                }
              }
            }
          }
        }
      }
    }
    &#quiz {
      div.content {
        text-align: center;
        padding: 35px 0 0;
        h2 {
          font-family: $avenir;
          font-size: 26px;
          letter-spacing: 3px;
          text-transform: uppercase;
          span{
            color: $pink;
          }
        }
        p.quiz{
          margin-top: 15px;
          font-size: 14px;
          font-family: $avenir;
          color: #231f20;
          text-align: center;
          margin-bottom: 35px;
        }
        .name{
          margin-left: 209px;
        }
        div.box {
          width: 290px;
          overflow: auto;
          float: left;
          height: 75px;
          label, p {
            color: #101010;
            font-family: $avenir;
            font-size: 15px;
            margin: 0 0 10px;
            display: block;
            font-weight: 600;
            em {
              color: #807f7f;
            }
          }
          input[type="text"], select {
            &:focus {
              outline: none;
            }
          }
          input[type="text"] {
            font-family: avenir, arial, sans-serif;
            font-size: 14px;
            color: #000;
            text-align: center;
            width: 226px;
            padding: 4px 10px;
            border: 1px #000 solid;
            height: 24px;
          }
          div.styled_select {
            background: image-url('gift/styled-select.jpg') no-repeat;
            width: 237px;
            height: 34px;
            overflow: hidden;
            display: block;
            margin: 0 auto;
            select {
              background: transparent;
              font-size: 12px;
              width: 230px;
              height: 26px;
              margin: 4px 0 0;
              padding: 5px;
              border: 1px #fff solid;
              -webkit-appearance: none;
            }
          }
          ul {
            li {
              position: relative;
              color: #7e7f82;
              text-align: center;
              margin: 0 7px 0 0;
              float: left;
              border: 1px #7e7f82 solid;
              label {
                font-size: 13px;
                line-height: 34px;
                width: 36px;
                margin: 0;
                cursor: pointer;
              }
              input[type="radio"] {
                position: absolute;
                top: 0;
                left: 0;
                visibility: hidden;
              }
              &.selected {
                background: #000;
                border-color: #000;
                label {
                  color: #FFF;
                }
              }
              &:last-child {
                margin: 0;
              }
            }
          }
          &.shoes {
            width: 355px;
            margin-bottom: 2px;
            margin-left: 318px;
            margin-top: 20px;
            &+em {
              color: #6d6e71;
              font-size: 11px;
              margin: 0 0 20px 318px;
              float: left;
              clear: both;
            }
          }
        }
        input[type="submit"] {
          background: image-url('gift/bt-quiz.jpg') no-repeat;
          text-indent: -99999px;
          width: 257px;
          height: 63px;
          margin: 0 auto;
          display: block;
          clear: both;
          cursor: pointer;
          border: none;
        }
      }
    }
    &#calendar {
      div.content {
        position: relative;
        padding: 55px 0 0;
        > h1 {
          font-family: $avenir;
          font-size: 35px;
          text-align: center;
          text-transform: uppercase;
          font-weight: lighter;
          &+p {
            text-align: center;
            margin: 0 0 30px;
            &+a.facebook {
              background: image-url('gift/bt-fb.jpg') no-repeat;
              text-indent: -99999px;
              width: 282px;
              height: 38px;
              margin: 0 auto;
              display: block;
            }
          }
        }
        div.opacity {
          background: image-url('gift/opacity.png') repeat;
          position: absolute;
          top: 0;
          left: 0;
          width: 990px;
          height: 100%;
          display: block;
        }
        div#calendar_container {
          position: relative;
          div#calendar {
            width: 100%;
            overflow: hidden;
            padding: 0 0 80px 0;
            ul#months {
              text-align: center;
              width: 100%;
              overflow: hidden;
              margin: 0 0 20px 0;
              padding: 0 0 20px 5px;
              border-bottom: 1px #eaeaea solid;
              li {
                width: 80px;
                margin: 0;
                padding: 10px 0;
                float: left;
                a {
                  color: #878686;
                  font-family: $johnston;
                  font-size: 15px;
                  font-weight: lighter;
                  text-transform: uppercase;
                  text-decoration: none;
                  padding: 10px 5px;
                }
                &.first {
                  margin-left: 0;
                }
                &.last {
                  margin-right: 0;
                }
              }
            }
            ul.friends_list {
              > li {
                position: relative;
                width: 50px;
                overflow: visible;
                margin: 0 5px 10px 0;
                display: block;
                float: left;
                a {
                  color: $third_color;
                  font-family: $avenir;
                  font-size: 12px;
                  text-align: center;
                  text-decoration: none;
                  float: left;
                  div.mask {
                    width: 50px;
                    height: 50px;
                    margin: 0 0 2px 0;
                    overflow: hidden;
                    img {
                      height: 60px;
                    }
                  }
                  p {
                    height: 18px;
                    overflow: hidden;
                  }
                }
                div.actions {
                  position: absolute;
                  background: image-url('gift/bg-actions-left.png') bottom center no-repeat;
                  width: 250px;
                  height: 123px;
                  overflow: visible;
                  top: 40px;
                  left: 0;
                  z-index: 1000;
                  display: none;
                  div.triangle {
                    position: absolute;
                    background: image-url('gift/triangle-pink.png') no-repeat;
                    width: 13px;
                    height: 13px;
                    display: block;
                    top: -3px;
                    left: -3px;
                  }
                  h1 {
                    color: #101010;
                    font-family: $kepler;
                    font-size: 16px;
                    font-weight: 600;
                    text-align: center;
                    margin: 25px auto 7px;
                    width: 220px;
                  }
                  p {
                    color: $third_color;
                    font-size: 13px;
                    line-height: normal;
                    text-align: center;
                    margin: 0 0 8px;
                  }
                  ul {
                    li {
                      input[type="submit"] {
                        background: image-url("gift/bt-find-present.jpg") no-repeat;
                        text-indent: -99999px;
                        width: 169px;
                        height: 30px;
                        display: block;
                        margin: 0 auto;
                        border: none;
                        cursor: pointer;
                      }
                    }
                  }
                  a.close_actions {
                    position: absolute;
                    color: #c1c1c1;
                    font-family: "Open Sans", sans-serif;
                    font-size: 13px;
                    font-weight: bold;
                    top: 10px;
                    right: 10px;
                  }
                  &.left {
                    background: image-url('gift/bg-actions.png') bottom center no-repeat;
                    right: 0;
                    left: auto;
                  }
                }
                &:hover > div.actions {
                  display: block;
                }
              }
            }
            &.connected {
              ul#months {
                li {
                  height: 32px;
                  a {
                    background: image-url('gift/arrow-pink.png') top center no-repeat;
                    margin-top: 7px;
                    display: block;
                    &:hover, &.selected {
                      background: image-url('gift/arrow-black.png') top center no-repeat;
                      color: #080808;
                      font-size: 23px;
                      margin-top: 0;
                    }
                  }
                }
              }
            }
          }
          a#connect_facebook {
            background: image-url('gift/bt-facebook.jpg') no-repeat;
            text-indent: -99999px;
            width: 403px;
            height: 43px;
            display: block;
            margin: 0 auto;
            padding: 0 0 0 40px;
          }
        }
      }
    }
    &.sub {
      padding: 30px 0;
      display: none;
    }
    &:last-child {
      background: none;
    }
  }
}

section#banner {
  background: image-url('gift/bg-header.jpg') top right no-repeat;
  min-height: 515px;
  margin-bottom: 20px;
  overflow: auto;
  h1 {
    color: #101010;
    font-family: $johnston;
    font-size: 44px;
    text-align: center;
    text-transform: uppercase;
    line-height: 43px;
    width: 405px;
    margin: 20px 0 25px 0;
  }
  p {
    color: #101010;
    font-family: $kepler;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    width: 405px;
    margin: 0 0 20px 0;
  }
  img {
    margin: 0 0 10px 0;
  }
  a {
    text-indent: -99999px;
    display: block;
    clear: both;
    &#new_occasion_link {
      background: image-url("gift/bt-start.jpg") no-repeat;
      width: 405px;
      height: 63px;
      margin: 0 0 10px 0;
    }
    &.facebook {
      background: image-url('gift/bt-facebook.jpg') no-repeat;
      width: 403px;
      height: 43px;
      &.disabled {
        opacity: .5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
      }
    }
  }
}

section#occasion {
  form {
    margin: 35px auto;
    div {
      font-size: 45px;
    }
    div, input[type="text"], select.custom_select {
      font-family: $avenir;
      font-size: 45px;
      font-weight: lighter;
      letter-spacing: -2px;
    }
    select.custom_select {
      font-size: 28px;
      margin-bottom: 20px;
    }
    div.phrase_container {
      color: #383838;
      text-align: center;
      width: 890px;
      margin: 0 auto 20px auto;
      p {
        position: relative;
        line-height: normal;
        display: inline-block;
        input[type="text"] {
          font-size: 28px;
        }
        select.custom_select {
          position: relative;
          padding: 0 18px;
          top: 0;
          left: 0;
        }
        span.select {
          position: absolute;
          background: #FFF;
          color: $secondary_color;
          padding: 0 20px;
          left: 0;
          border: 1px #a4a4a4 dotted;
          z-index: 0;
          white-space: nowrap;
        }
      }
    }
    input[type="text"] {
      background: #FFF;
      width: 280px;
      color: $secondary_color;
      font-weight: lighter;
      margin-bottom: 10px;
      padding: 0 20px;
      border: 1px #a4a4a4 dotted;
      &:focus {
        outline: none;
      }
    }
    input[type="submit"] {
      background: image-url("gift/bt-continue.png") no-repeat;
      color: #FFF;
      width: 169px;
      height: 59px;
      margin: 0 auto;
      display: block;
      border: none;
      cursor: pointer;
      clear: both;
    }
  }
}

section#squiz {
  padding: 10px 0 0;
  #survey {
    height: 460px !important;
    h2 {
      margin: 20px 0 0 0;
    }
    ol.questions {
      h3 {
        display: none;
      }
    }
    ul.questions {
      li.images {
        ol {
          li {
            div.shadow {
              top: 13px;
              left: 18px;
            }
          }
        }
      }
    }
    .jcarousel-prev {
      top: 205px;
    }
  }

  ul#tracker {
    width: 92px;
    margin: 0 auto 30px;
  }
}

section#profile {
  padding: 20px 0 0;
  h1.title_name {
    font-family: $johnston;
    font-size: 41px;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 25px 0 40px;
  }
  img.profile {
    width: 930px;
    height: 247px;
    margin: 0 auto 20px;
    display: block;
  }
  p.change_profile {
    color: #101010;
    font-family: $avenir;
    font-size: 15px;
    text-align: center;
    margin: 0 0 0 100px;
    float: left;
    a {
      color: #ef3742;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  form.edit_gift_recipient {
    width: 100%;
    overflow: auto;
    margin: 0 0 35px;
    fieldset {
      width: 392px;
      padding: 20px;
      float: left;
      border: 1px $third_color solid;
      h1 {
        color: 101010;
        font-family: $avenir;
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        margin: 0 0 10px;
      }
      ul.shoes {
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
        display: block;
        li {
          color: $third_color;
          line-height: 36px;
          font-weight: 500;
          margin: 0 7px 0 0;
          display: inline-block;
          border: 1px solid $third_color;
          float: left;
          label {
            font-family: $avenir;
            font-size: 13px;
            text-align: center;
            display: block;
            width: 40px;
            height: 35px;
            cursor: pointer;
            input {
              display: none;
            }
          }
          &.selected {
            background: #000;
            color: #FFF;
            font-weight: 600;
            border-color: #000;
          }
        }
      }
    }
    input[type="submit"] {
      background: image-url('gift/bt-recipient.png') no-repeat;
      text-indent: -99999px;
      width: 348px;
      height: 61px;
      display: inline-block;
      margin: 0 0 25px 70px;
      border: none;
      cursor: pointer;
    }
  }
  form.edit_profile {
    div.profiles {
      width: 100%;
      padding: 10px 0 20px 0;
      overflow: hidden;
      display: none;
      h1 {
        font-family: $johnston;
        font-size: 37px;
        font-weight: lighter;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: -1px;
        line-height: 40px;
        margin: 25px 0 40px;
        span {
          color: #ef3742;
        }
      }
      ul {
        margin: 0 0 0 25px;
        li {
          display: inline;
          label {
            position: relative;
            background: image-url('gift/options_profile.png') no-repeat;
            width: 292px;
            height: 350px;
            margin: 0 10px 10px;
            display: block;
            float: left;
            cursor: pointer;
            input[type="radio"] {
              position: absolute;
              display: none;
              top: 0;
              left: 0;
            }
          }
          &.basica {
            label {
              background-position: -2px 0px;
            }
            &:hover {
              label {
                background-position: -2px -350px;
              }
            }
          }
          &.fashionista {
            label {
              background-position: -302px 0px;
            }
            &:hover {
              label {
                background-position: -302px -350px;
              }
            }
          }
          &.elegante {
            label {
              background-position: -599px 0px;
            }
            &:hover {
              label {
                background-position: -599px -350px;
              }
            }
          }
          &.feminina {
            label {
              background-position: -896px 0px;
            }
            &:hover {
              label {
                background-position: -896px -350px;
              }
            }
          }
          &.sexy {
            label {
              background-position: -1193px 0px;
            }
            &:hover {
              label {
                background-position: -1193px -350px;
              }
            }
          }
          &.tradicional {
            label {
              background-position: -1490px 0px;
            }
            &:hover {
              label {
                background-position: -1490px -350px;
              }
            }
          }
          &.trendy {
            label {
              background-position: -1787px 0px;
            }
            &:hover {
              label {
                background-position: -1787px -350px;
              }
            }
          }
        }
      }
    }
  }
}

div.full_container {
  div.shadow {
    position: absolute;
    background: image-url('gift/shadow-signed-out.png') top center no-repeat;
    width: 1124px;
    height: 26px;
    display: block;
    margin-left: -562px;
    top: 0;
    left: 50%;
  }

  div.full_bg {
    background: image-url('gift/bg.jpg') repeat;
    width: 100%;
    overflow: hidden;
  }
}


div#calendar_container {
  div.title {
    border-bottom: 1px #949494 solid;
    h1 {
      background: image-url('gift/subtitle-calendar.jpg') 250px 0 no-repeat;
      color: #101010;
      font-family: "Open Sans", sans-serif;
      font-size: 30px;
      font-weight: 600;
      letter-spacing: -2px;
      line-height: 50px;
      text-transform: uppercase;
      padding: 5px 0 0 0;
    }
  }
}

.gift_box_link {
  margin-top: 20px;
}

.line {
  b {
    text-transform: uppercase;
    color:#000;
  }
  .price {
    color:#000;
  }
}

.warn, 
.sold_out {display: none !important;}
#anchor_profile{
  width: 970px;
  height: 2px;
  margin: 0 auto;
}

