@import 'partials/mixins';

header {
  background: none;
}

body #tracker + p {
  display: none;
}

section#banner {
  background: image-url('gift/bg-header.jpg') top right no-repeat;
  width: 100%;
  min-height: 515px;
  margin: 0 0 20px;
  overflow: auto;
  h1 {
    color: #101010;
    font-family: $johnston;
    font-size: 44px;
    text-align: center;
    text-transform: uppercase;
    line-height: 43px;
    width: 405px;
    margin: 40px 0 25px 0;
  }
  p {
    color: #101010;
    font-family: $kepler;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    width: 405px;
    margin: 0 0 20px 0;
  }
  img {
    margin: 0 0 10px 0;
  }
  a {
    text-indent: -99999px;
    display: block;
    clear: both;
    &#new_occasion_link {
      background: url("/assets/gift/bt-start.jpg") no-repeat;
      width: 405px;
      height: 63px;
      margin: 0 0 10px 0;
    }
    &.facebook {
      background: url("/assets/gift/bt-facebook.jpg") no-repeat;
      width: 403px;
      height: 43px;
      &.disabled {
        opacity: .5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
      }
    }
  }
}

section#occasion {
  form {
    margin: 35px auto;
    div {
      font-size: 45px;
    }
    div, input[type="text"], select.custom_select {
      font-family: $avenir;
      font-size: 45px;
      font-weight: lighter;
      letter-spacing: -2px;
    }
    select.custom_select {
      font-size: 28px;
      margin-bottom: 20px;
    }
    div.phrase_container {
      color: #383838;
      text-align: center;
      width: 890px;
      margin: 0 auto 20px auto;
      p {
        position: relative;
        line-height: normal;
        display: inline-block;
        input[type="text"] {
          font-size: 28px;
        }
        select.custom_select {
          position: relative;
          padding: 0 18px;
          top: 0;
          left: 0;
        }
        span.select {
          position: absolute;
          background: #FFF;
          color: $secondary_color;
          padding: 0 20px;
          left: 0;
          border: 1px #a4a4a4 dotted;
          z-index: 0;
          white-space: nowrap;
        }
      }
    }
    input[type="text"] {
      background: #FFF;
      width: 280px;
      color: $secondary_color;
      font-weight: lighter;
      margin-bottom: 10px;
      padding: 0 20px;
      border: 1px #a4a4a4 dotted;
      &:focus {
        outline: none;
      }
    }
    input[type="submit"] {
      background: url("/assets/gift/bt-continue.png") no-repeat;
      color: #FFF;
      width: 169px;
      height: 59px;
      margin: 0 auto;
      display: block;
      border: none;
      cursor: pointer;
      clear: both;
    }
  }
}

section#quiz {
  padding: 10px 0 0;
  #survey {
    height: 460px !important;
    h2 {
      margin: 20px 0 0 0;
    }
    ol.questions {
      h3 {
        display: none;
      }
    }
    ul.questions {
      li.images {
        ol {
          li {
            div.shadow {
              top: 13px;
              left: 18px;
            }
          }
        }
      }
    }
    .jcarousel-prev {
      top: 205px;
    }
  }

  ul#tracker {
    width: 92px;
    margin: 0 auto 30px;
  }
}

section#profile {
  padding: 20px 0 0;
  h1.title_name {
    font-family: $johnston;
    font-size: 41px;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 25px 0 40px;
  }
  img.profile {
    width: 930px;
    height: 247px;
    margin: 0 auto 20px;
    display: block;
  }
  p.change_profile {
    color: #101010;
    font-family: $avenir;
    font-size: 15px;
    text-align: center;
    margin: 0 0 0 100px;
    float: left;
    a {
      color: #e05789;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  form.edit_gift_recipient {
    width: 100%;
    overflow: auto;
    margin: 0 0 35px;
    fieldset {
      width: 392px;
      padding: 20px;
      float: left;
      border: 1px $third_color solid;
      h1 {
        color: 101010;
        font-family: $avenir;
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        margin: 0 0 10px;
      }
      ul.shoes {
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
        display: block;
        li {
          color: $third_color;
          line-height: 36px;
          font-weight: 500;
          margin: 0 7px 0 0;
          display: inline-block;
          border: 1px solid $third_color;
          float: left;
          label {
            font-family: $avenir;
            font-size: 13px;
            text-align: center;
            display: block;
            width: 40px;
            height: 35px;
            cursor: pointer;
            input {
              display: none;
            }
          }
          &.selected {
            background: #000;
            color: #FFF;
            font-weight: 600;
            border-color: #000;
          }
        }
      }
    }
    input[type="submit"] {
      background: url("/assets/gift/bt-recipient.png") no-repeat;
      text-indent: -99999px;
      width: 348px;
      height: 61px;
      display: inline-block;
      margin: 0 0 25px 70px;
      border: none;
      cursor: pointer;
    }
  }
  form.edit_profile {
    div.profiles {
      width: 100%;
      padding: 10px 0 20px 0;
      overflow: hidden;
      display: none;
      h1 {
        font-family: $johnston;
        font-size: 37px;
        font-weight: lighter;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: -1px;
        line-height: 40px;
        margin: 25px 0 40px;
        span {
          color: #e05789;
        }
      }
      ul {
        margin: 0 0 0 25px;
        li {
          display: inline;
          label {
            position: relative;
            background: url("/assets/gift/options_profile.png") no-repeat;
            width: 292px;
            height: 350px;
            margin: 0 10px 10px;
            display: block;
            float: left;
            cursor: pointer;
            input[type="radio"] {
              position: absolute;
              display: none;
              top: 0;
              left: 0;
            }
          }
          &.basica {
            label {
              background-position: -2px 0px;
            }
            &:hover {
              label {
                background-position: -2px -350px;
              }
            }
          }
          &.fashionista {
            label {
              background-position: -302px 0px;
            }
            &:hover {
              label {
                background-position: -302px -350px;
              }
            }
          }
          &.elegante {
            label {
              background-position: -599px 0px;
            }
            &:hover {
              label {
                background-position: -599px -350px;
              }
            }
          }
          &.feminina {
            label {
              background-position: -896px 0px;
            }
            &:hover {
              label {
                background-position: -896px -350px;
              }
            }
          }
          &.sexy {
            label {
              background-position: -1193px 0px;
            }
            &:hover {
              label {
                background-position: -1193px -350px;
              }
            }
          }
          &.tradicional {
            label {
              background-position: -1490px 0px;
            }
            &:hover {
              label {
                background-position: -1490px -350px;
              }
            }
          }
          &.trendy {
            label {
              background-position: -1787px 0px;
            }
            &:hover {
              label {
                background-position: -1787px -350px;
              }
            }
          }
        }
      }
    }
  }
}

div.full_container {
  background: url("/assets/gift/shadow-header.jpg") bottom repeat-x;
  padding: 0 0 27px 0;
  div.shadow {
    position: absolute;
    background: url("/assets/gift/shadow-signed-out.png") top center no-repeat;
    width: 1124px;
    height: 26px;
    display: block;
    margin-left: -562px;
    top: 0;
    left: 50%;
  }

  div.full_bg {
    background: url("/assets/gift/bg.jpg") repeat;
    width: 100%;
    overflow: hidden;
  }
}

div.content {
  div#calendar_container {
    position: relative;
    div.opacity {
      background: url("/assets/gift/opacity.png") repeat;
      position: absolute;
      top: 0;
      left: 0;
      width: 990px;
      height: 100%;
      display: block;
    }
    div.title {
      margin: 0 0 10px 0;
      border-bottom: 1px #eaeaea solid;
      h1 {
        background: url("/assets/gift/subtitle-calendar.jpg") 255px 0 no-repeat;
        color: #101010;
        font-family: $johnston;
        font-size: 31px;
        font-weight: lighter;
        letter-spacing: -2px;
        line-height: 50px;
        text-transform: uppercase;
        padding: 5px 0 0 0;
      }
    }
    div#calendar {
      width: 100%;
      overflow: hidden;
      padding: 0 0 80px 0;
      ul#months {
        text-align: center;
        width: 100%;
        overflow: hidden;
        margin: 0 0 20px 0;
        padding: 0 0 20px 5px;
        border-bottom: 1px #eaeaea solid;
        li {
          width: 80px;
          margin: 0;
          padding: 10px 0;
          float: left;
          a {
            color: #878686;
            font-family: $johnston;
            font-size: 15px;
            font-weight: lighter;
            text-transform: uppercase;
            text-decoration: none;
            padding: 10px 5px;
          }
          &.first {
            margin-left: 0;
          }
          &.last {
            margin-right: 0;
          }
        }
      }
      ul.friends_list {
        > li {
          position: relative;
          width: 50px;
          overflow: visible;
          margin: 0 5px 10px 0;
          display: block;
          float: left;
          a {
            color: $third_color;
            font-family: $avenir;
            font-size: 12px;
            text-align: center;
            text-decoration: none;
            float: left;
            div.mask {
              width: 50px;
              height: 50px;
              margin: 0 0 2px 0;
              overflow: hidden;
              img {
                height: 60px;
              }
            }
            p {
              height: 18px;
              overflow: hidden;
            }
          }
          div.actions {
            position: absolute;
            background: image-url('gift/bg-actions-left.png') bottom center no-repeat;
            width: 250px;
            height: 123px;
            overflow: visible;
            top: 40px;
            left: 0;
            z-index: 1000;
            display: none;
            div.triangle {
              position: absolute;
              background: url("/assets/gift/triangle-pink.png") no-repeat;
              width: 13px;
              height: 13px;
              display: block;
              top: -3px;
              left: -3px;
            }
            h1 {
              color: #101010;
              font-family: $kepler;
              font-size: 16px;
              font-weight: 600;
              text-align: center;
              margin: 25px auto 7px;
              width: 220px;
            }
            p {
              color: $third_color;
              font-size: 13px;
              line-height: normal;
              text-align: center;
              margin: 0 0 8px;
            }
            ul {
              li {
                input[type="submit"] {
                  background: image-url("gift/bt-find-present.jpg") no-repeat;
                  text-indent: -99999px;
                  width: 169px;
                  height: 30px;
                  display: block;
                  margin: 0 auto;
                  border: none;
                  cursor: pointer;
                }
              }
            }
            a.close_actions {
              position: absolute;
              color: #c1c1c1;
              font-family: "Open Sans", sans-serif;
              font-size: 13px;
              font-weight: bold;
              top: 10px;
              right: 10px;
            }
          }
          &:hover > div.actions {
            display: block;
          }
        }
      }
      &.connected {
        ul#months {
          li {
            height: 32px;
            a {
              background: url("/assets/gift/arrow-pink.png") top center no-repeat;
              margin-top: 7px;
              display: block;
              &:hover, &.selected {
                background: url("/assets/gift/arrow-black.png") top center no-repeat;
                color: #080808;
                font-size: 23px;
                margin-top: 0;
              }
            }
          }
        }
      }
    }
    a#connect_facebook {
      background: url("/assets/gift/bt-facebook.jpg") no-repeat;
      text-indent: -99999px;
      width: 403px;
      height: 43px;
      display: block;
      margin: 0 auto;
      padding: 0 0 0 40px;
    }
  }
}

div#calendar_container {
  div.title {
    border-bottom: 1px #949494 solid;
    h1 {
      background: url("/assets/gift/subtitle-calendar.jpg") 250px 0 no-repeat;
      color: #101010;
      font-family: "Open Sans", sans-serif;
      font-size: 30px;
      font-weight: 600;
      letter-spacing: -2px;
      line-height: 50px;
      text-transform: uppercase;
      padding: 5px 0 0 0;
    }
  }
}
