@import 'new_structure/common/global_stuffs';

body {
  background: image-url("common/bg-modal-login.jpg") 48% 30% no-repeat;
}
section#half_user {
  width: 100%;
  min-height: 520px;
  padding: 25px 0 0 0;
  overflow: hidden;
  div#description {
    width: 350px;
    overflow: hidden;
    float: left;
    h1 {
      color: #ef3742;
      font-family: "Open Sans", sans-serif;
      font-size: 50px;
      font-weight: lighter;
      letter-spacing: -3px;
      line-height: 40px;
      text-transform: uppercase;
      width: 315px;
      margin: 10px 0 30px 0;
    }
    p {
      color: #0f1714;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      letter-spacing: -1px;
      width: 340px;
    }
  }
  div#container_forms {
    background: #FFF;
    width: 425px;
    padding: 30px 35px;
    border: 1px #d2d2d2 solid;
    float: right;
    form.new_user {
      margin: 0 0 30px;
      padding: 0 0 10px;
      border-bottom: 1px #d2d2d2 solid;
      fieldset {
        ol {
          li {
            width: 100%;
            margin: 0 0 12px;
            overflow: hidden;
            &.gender p, label {
              font-size: 13px;
              font-weight: bold;
              line-height: 35px;
              text-align: right;
              margin-right: 35px;
              width: 110px;
              float: left;
            }
            input[type="text"], input[type="email"], input[type="password"] {
              background: image-url('common/bg-inputs.png') repeat-x;
              width: 260px;
              border: 1px solid #C1C1C1;
              padding: 7px 8px;
              height: 17px;
              &:focus {
                outline: none;
              }
            }
            input[type="submit"] {
              float: right;
            }
            &.gender {
              label {
                float: none;
              }
            }
            &.terms {
              width: auto;
              float: left;
              p {
                color: #0f1714;
                font-size: 11px;
                font-weight: bold;
                width: 170px;
                margin: 10px 0 0 20px;
                float: left;
                a {
                  color: #0f1714;
                }
              }
            }
            &.buttons {
              width: auto;
              float: right;
              input[type="submit"] {
                color: #FFF;
                font-family: "Open Sans", sans-serif;
                font-size: 20px;
                letter-spacing: -1px;
                text-transform: uppercase;
                width: 158px;
                height: 45px;
                display: block;
                margin: 0 20px 0 0;
                border: none;
                cursor: pointer;
                @include bt_color($primary_bt_color, $primary_bt_color_hover);
              }
            }
          }
        }
      }
    }
    & > p {
      color: #0f1714;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      a {
        color: #ef3742;
      }
    }
    form.login {
      display: none;
      fieldset {
        ol {
          li {
            width: 165px;
            margin: 0 5px 0 0;
            float: left;
            label {
              font-size: 13px;
              font-weight: bold;
              margin: 0 0 3px 0;
              float: left;
            }
            input[type="email"], input[type="password"] {
              background: image-url('common/bg-inputs.png') repeat-x;
              width: 140px;
              border: 1px solid #C1C1C1;
              padding: 7px 8px;
              height: 17px;
              &:focus {
                outline: none;
              }
            }
            input[type="submit"] {
              color: #FFF;
              font-family: "Open Sans", sans-serif;
              font-size: 12px;
              letter-spacing: -1px;
              text-transform: uppercase;
              width: 75px;
              height: 26px;
              margin: 20px 0 0;
              display: block;
              border: none;
              cursor: pointer;
              float: right;
              @include bt_color($primary_bt_color, $primary_bt_color_hover);
            }
            &.buttons {
              width: auto;
              float: right;
            }
          }
        }
      }
    }
  }
}
