@import 'partials/mixins';

body {
  .content {
    position: relative;
    z-index: auto;

    section.model {
      background: url('/assets/home/model.jpg') top right no-repeat;
      width: 321px;
      height: 647px;
      margin: 25px 40px 0 65px;
      float:left;
      h1, h2 {
        text-indent: -99999px;
      }
    }

    section.description {
      width: 515px;
      overflow: auto;
      margin: 20px 0 30px;
      float: left;
      h1 {
        background: url('/assets/home/bg-discount.jpg') center center no-repeat;
        color: #5c5a58;
        font-family: $kepler;
        font-size: 26px;
        font-weight: bold;
        letter-spacing: -1px;
        text-align: center;
        margin: 0 0 3px;
        padding: 18px 0;
        border-top: 2px #5c5a58 solid;
        border-bottom: 2px #5c5a58 solid;
      }
      h2 {
        color: #101010;
        font-family: $kepler;
        font-size: 58px;
        font-weight: normal;
        letter-spacing: -3px;
        text-align: center;
        text-transform: uppercase;
        margin: 0 0 20px 0;
      }
      h3 {
        color: #797a7c;
        font-family: $avenir;
        font-size: 17px;
        font-weight: normal;
        text-align: center;
        margin: 0 0 25px;
      }
      section.steps {
        width: 405px;
        margin: 0 auto;
        ul {
          width: 410px;
          margin: 0 auto 45px;
          overflow: auto;
          li {
            color: #58595b;
            background: url('/assets/home/bg-step.jpg') center top no-repeat;
            font-family: $avenir;
            font-size: 11px;
            text-align: center;
            width: 130px;
            height: 130px;
            display: inline-block;
            margin: 0 10px 0 0;
            padding: 0;
            float: left;
            span {
              color: #101010;
              font-family: $kepler;
              font-size: 58px;
              line-height: 50px;
              margin: 15px 0 0;
              display: block;
            }
            &.last {
              width: 130px;
              margin: 0;
              padding: 0;
            }
          }
        }
      }
      .start {
        background: url('/assets/home/btn-start-here.jpg') no-repeat;
        text-indent: -9999px;
        width: 316px;
        height: 61px;
        margin: 0 auto;
        display: block;
      }
    }

    section.like {
      position: absolute;
      width: 545px;
      padding: 10px 30px 15px;
      overflow: visible;
      border: 1px #c7c7c7 solid;
      top: 550px;
      right: 8px;
      float: right;

      p {
        background: url('/assets/common/facebook-title.png') top left no-repeat;
        color: #a2a2a2;
        font-size: 13px;
        line-height: 25px;
        width: 308px;
        float: left;
        margin-top:3px;
        padding: 2px 0 0 140px

      }

      div.fb-like {
        float: right;
        margin: 10px 0 0 0;
      }
      .fb_edge_comment_widget {
        display: none;
      }
    }
    .making_of {
      position: absolute;
      background: url("/assets/common/shadow_video.png") bottom left no-repeat;
      width: 335px;
      overflow: auto;
      padding: 0 0 20px 0;
      top: 260px;
      right: 35px;
      div.video_description {
        display: none;
        a {
        }
      }
      a.open_making_of {
        background: url("/assets/common/thumb_video.png") no-repeat;
        text-indent: -9999px;
        width: 127px;
        height: 80px;
        margin: 0 0 0 20px;
        display: block;
        float: left;
      }
      p {
        color: #a0395f;
        font-family: "Times New Roman", sans-serif;
        font-size: 24px;
        font-style: italic;
        letter-spacing: -1px;
        line-height: 20px;
        width: 170px;
        margin: 18px 0 0 0;
        float: right;
        span {
          color: #666;
          font-size: 18px;
        }
      }
    }
  }
  footer {
    margin-top: 0;
  }
}

.ie {
  .content {
    section.description {
      h1 {
        margin-bottom: 10px;
      }
    }
    section.like {
      margin-top: 0;
    }
  }
}
