@import 'partials/mixins';
@import 'new_structure/partials/facebook_footer';
@import 'new_structure/partials/lite_boxes_home';
@import 'new_structure/partials/elastislide';


div#content {
  overflow: visible;
}

section#home {
  #banner {
    width:100%;
  
    height:450px;
    .column {
      width:240px;
      float:left;
      height:auto !important;
      height:450px;
      min-height:450px;
      text-align: center;
      img {
        margin-bottom:8px;
      }
      h2 {
        width:100%;
        display: block;
        text-align: center;
        font-family: $arial;
        font-size: 17px;
        text-transform: uppercase;
        padding-top:10px;
        letter-spacing: 1px;
        span {
          display: block;
          font-family: Georgia, Tahoma, Arial;
          font-size: 14px;
          text-transform: none;
          font-weight: normal;
          padding:5px 20px 0 20px;          
        }
      }
    }
    .big {
      width:490px;
      margin:0 10px;
    }
  }
  #looks {
    width:100%;
    margin-top:20px;
    h3 {
      width:100%;
      text-align: center;
      display: block;
      padding:15px 0;
      background: #dbb8b9;
      color:#FFF;
      text-transform: uppercase;
      font-size:23px;
      font-weight: normal;
      position: relative;
      font-family: "Trebuchet Ms", Verdana, Tahoma;
      letter-spacing: 2px;
      a { 
        position: absolute;
        right:20px;
        letter-spacing: 0px;
        font-family: $verdana;
        font-size: 12px;
        text-transform: none;
        font-weight: normal;
        color:#FFF;
      }
    }
    .mylook {
      width:100%;
      height: auto !important;
      height:365px;
      min-height:365px;
      .look {
        width:242px;
        float:left;
        margin:7px 7px 0 0 ;
        &.last {
          margin-right:0px;
        }
      }
    }
  }
  #see_too {
    border:1px solid #d1d1d1;
    margin-top:60px;
    height:298px;
    position: relative;
    h4 {
      padding:0 10px;
      background: #fff;
      border-right:1px solid #d1d1d1;
      border-left:1px solid #d1d1d1;
      position: absolute;
      top:-10px;
      left:50%;
      font-family: "Trebuchet Ms", Verdana, Tahoma;
      font-size: 18px;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-left:-80px;
      font-weight: normal;
    }
    ul#carousel {
      height: auto !important;
      height:260px;
      min-height:260px;
      max-height:261px;
      li {
        height:285px;
        padding:5px;
        border:1px solid #e1e1e1;
        margin-right:5px;
        height: auto !important;
        height:225px;
        min-height:225px;
        max-height:225px;
        img{
          width:135px;
          height:203px;}
        span {
          display: block;
          font-family: $verdana;
          font-size: 11px;
          color:#808285;
          letter-spacing: 0px;
        }
      }
    }
  }
  #week_highlights {
    border-top:1px solid #e1e1e1;
    margin-top:40px;
    position:relative;
    padding-top:40px;
    height:auto !important;
    height:300px;
    min-height:300px;
    h4 {
      position: absolute;
      top:-8px;
      font-family: $arial;
      font-size: 20px;
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 2px;
      left:50%;
      margin-left:-100px;
      background: #FFF;
      padding:0 10px;
      span {
        font-family: Georgia;
        font-size: 40px;
        margin-right:-6px;
        font-style: italic;
      }
    }
    #about {
      width:31.3%;
      text-align: center;
      float:left;
      margin:0 1%;
      img {
        width:100%;
        margin-bottom:10px;
      }
      h5, h5 a {
        font-family: $arial;
        font-size: 17px;
        letter-spacing: 1px;
        display: block;
        padding:2px;
        text-decoration: none;
        color:#000;
      }
      p {
        font-family: Georgia;
        font-size: 14px;
        display: block;
        letter-spacing: 2px;
        text-align: center;
      }
    }
  }
  .looks_unlogged {
    height:490px;
    .mylook {
      width:25% !important;
      float:left;
      .look {
        width:294px !important;
        img {
          width:100%;
        }
      }
    }
    #see_too {
      margin-top:7px;
      width:69%;
      float:right;
      height:280px;
      h4 {display: none;}
      .elastislide-wrapper {
        padding:0 40px;
      }
    }
    a.banner_unlogged {
      float:right;
      margin-top:26px;
    }
  }
}
