@import 'partials/mixins';
@import 'new_structure/partials/facebook_footer';

div#content {
  overflow: visible;
}

section#home {
  ul.warnings {
    width: 990px;
    height: 65px;
    margin: 10px 0;
    li {
      color: #939598;
      font-family: $kepler;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      float: left;
      img {
        width:971px;
        margin-left:10px;
      }
      &.freight {
        background: image-url('home/separator-warnings.jpg') center right no-repeat;
        width: 341px;
      }
      &.exchange {
        background: image-url('home/separator-warnings.jpg') center right no-repeat;
        width: 305px;
      }
      &.discount {
        width: 335px;
      }
    }
  }
  div#carousel {
    position: relative;
    width: 990px;
    height: 486px;
    margin: 0 0 17px;
    .caroufredsel_wrapper{overflow:hidden;}
    a.close {
      position: absolute;
      background: image-url("lookbooks/close.png") no-repeat;
      text-indent: -99999px;
      top: 0;
      right: 0;
      width: 38px;
      height: 40px;
      display: block;
      z-index: 101;
      &:hover{
        background: image-url("lookbooks/close-hover.png") no-repeat;
      }
    }
    .jcarousel-container {
      width: 990px;
      position: relative;
    }
    .prev-item, .next-item {
      position: absolute;
      background: image-url("home/arrows.jpg") no-repeat;
      text-indent: -9999px;
      width: 8px;
      height: 33px;
      display: block;
      top: 230px;
      z-index: 100;
      cursor: pointer;
    }
    .prev-item {
      background-position: 0 0;
      left: -13px;
      &:hover {
        background-position: 0 -33px;
      }
    }
    .next-item {
      background-position: -8px 0;
      right: -13px;
      &:hover {
        background-position: -8px -33px;
      }
    }
    ul {
      position: relative;
      width: 3000px;
      overflow: auto;
      left: 0;
      li {
        position: relative;
        width: 990px;
        height: 490px;
        display: block;
        margin: 0;
        padding: 0;
        float: left;
      }
    }
  }
  section#week_highlights {
    > h1 {
      background: image-url("home/bg-title-highlights.jpg") center center no-repeat;
      color: #231f20;
      font-family: $avenir;
      font-size: 19px;
      text-transform: uppercase;
      text-align: center;
      margin: 0 0 17px;
      
    }
    ul {
      width: 100%;
      margin: 0 0 30px;
      overflow: auto;
      li {
        width: 315px;
        display: block;
        text-align: center;
        margin: 0 20px 0 0;
        float: left;
        div.video_description {
          display: none;
        }
        img {
          margin: 0 0 10px;
        }
        h1 {
          font-family: $johnston;
          font-family: 29px;
          text-transform: uppercase;
          a{
            text-decoration: none;
            color: #000 ;
          }
        }
        p {
          color: #231f20;
          font-size: 15px;
          margin: 0 0 15px;
        }
        a.more {
          background: image-url("home/bg-more.jpg") center center no-repeat;
          color: #000;
          font-size: 12px;
          font-weight: bold;
          text-decoration: none;
          text-transform: uppercase;
          padding: 0 30px;
          &:hover {
            color: #ef3742;
          }
        }
        &:last-child {
          width: 318px;
          float: right;
          margin: 0;
        }
      }
    }
  }
  a#press {
    background: image-url("home/press.jpg") no-repeat;
    text-indent: -99999px;
    width: 990px;
    height: 65px;
    display: block;
    margin: 0 0 15px;
  }
  section ul.products_list {
    width: 100%;
    overflow: auto;
    li {margin: 0 0 0 42px;display:inline-block;position:relative;z-index:1;width:146px;height:267px;/* new size photo */
      a {
        color: #000;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        /* new size photo */
        display:inline-block;
        position:absolute;
        bottom:0;
        left:0;
        h1 {
          font-family: $avenir;
          font-size: 15px;
          font-weight: 600;
        }
      }
    }
  }
  section#top5 {
    margin: 0 0 20px;
    padding: 0 0 30px;
    border-bottom: 1px #cbcbcb solid;
    >h1 {
      background: image-url("home/tit-top5.jpg") top center no-repeat;
      font-family: $kepler;
      font-size: 18px;
      text-align: center;
      margin: 0 0 30px;
      padding: 33px 0 0 0;
    }
  }
  section#stylists {
    position: relative;
    min-height: 270px;
    margin: 0 0 30px;
    padding: 10px 0 30px;
    border-bottom: 1px #cbcbcb solid;
    >h1 {
      font-family: $kepler;
      font-size: 27px;
      text-align: center;
      text-transform: uppercase;
      margin: 0 0 30px;
    }
    h2 {
      position: absolute;
      background: image-url("home/olook-loved.jpg") no-repeat;
      text-indent: -99999px;
      width: 104px;
      height: 104px;
      display: block;
      top: 0;
      left: 75px;
      z-index:90;
    }
  }
  section#brands{
    position: relative;
    min-height: 690px;
    margin: 0 0 10px;
    padding: 10px 0 20px;
    border-bottom: 1px #cbcbcb solid;
    .box_brand{width: 580px; height: 500px; float: left;
      h1 {
        font-family: $johnston;
        font-size: 26px;
        text-align: center;
        text-transform: uppercase;
        margin: 0 0 10px;
      }
      h2{
        font-family: KeplerStdItalic,Times,"Times New Roman",serif;
        font-size: 18px;
        text-align: center;
        display: block;
      }
      ul{
        width: 580px;
        overflow: auto;
        margin-top: 25px;
        li{
          a{
            background: image-url("home/new_brands.jpg") no-repeat;
            width: 144px;
            height: 55px;
            float: left;
            cursor: pointer;
            &:hover{background: image-url("home/new_brands_off.jpg") no-repeat;}
          }
          &.olook a {
            background-position: 3px 1px;
            &:hover {
              background-position: 3px 1px;
            }
          } 
          &.essential a {
            background-position: -141px 0px;
            &:hover {
              background-position: -141px 0px;
            }
          }
          &.harris a {
            background-position: -288px 0px;
            &:hover {
              background-position: -288px 0px;
            }
          } 
          &.jabour a {
            background-position: -432px 0px;
            &:hover {
              background-position: -432px 0px;
            }
          } 
          &.concept a {
            background-position: 0px -71px;
            &:hover {
              background-position: 0px -71px;
            }
          }  
          &.manzini a {
            background-position: -144px -72px;
            &:hover {
              background-position: -144px -72px;
            }
          } 
          &.thelure a {
            background-position: -288px -72px;
            &:hover {
              background-position: -288px -72px;
            }
          } 
          &.fashion a {
            background-position: -432px -72px;
            &:hover {
              background-position: -432px -72px;
            }
          }
          &.forum a {
            background-position: 0px -144px;
            &:hover {
              background-position: 0px -144px;
            }
          }
          &.mofficer a {
            background-position: -144px -144px;
            &:hover {
              background-position: -144px -144px;
            }
          } 
          &.coke a {
            background-position: -288px -144px;
            &:hover {
              background-position: -288px -144px;
            }
          } 
          &.botswana a {
            background-position: -432px -144px;
            &:hover {
              background-position: -432px -144px;
            }
          } 
          &.iodice a {
            background-position: 0px -216px;
            &:hover {
              background-position: 0px -216px;
            }
          } 
          &.eclectic a {
            background-position: -144px -216px;
            &:hover {
              background-position: -144px -216px;
            }
          }
          &.triton a {
            width: 126px;
            background-position: -288px -216px;
            &:hover {
              background-position: -288px -216px;
            }
          } 
          &.mercatto a {
            width: 126px;
            background-position: -413px -216px;
            &:hover {
              background-position: -413px -216px;
            }
          }
          &.shop a {
            background-position: 0px -288px;
            &:hover {
              background-position: 0px -288px;
            }
          } 
          &.olli a {
            background-position: -144px -288px;
            &:hover {
              background-position: -144px -288px;
            }
          } 
          &.colcci a {
            width: 126px;
            background-position: -288px -288px;
            &:hover {
              background-position: -288px -288px;
            }
          } 
          
          &.leeloo a {
            background-position: -432px -288px;
            &:hover {
              background-position: -432px -288px;
            }
          } 
          &.mandi a {
            background-position: 0px -347px;
            &:hover {
              background-position: 0px -347px;
            }
          }
          &.carina-duek a {
            background-position: -143px -347px;
            &:hover {
              background-position: -142px -346px;
            }
          }
          &.tan-tan a {
            background-position: -424px -343px;
            &:hover {
              background-position: -423px -342px;
            }
          }
          &.redley a {
            background-position: -15px -407px;
            &:hover {
              background-position: -14px -406px;
            }
          }
          &.lez-a-lez a {
            background-position: -280px -346px;
            &:hover {
              background-position: -279px -345px;
            }
          }
          &.cantao a {
            background-position: -139px -416px;
            &:hover {
              background-position: -138px -416px;
            }
          } 
          &.sommer a {
            height: 55px;
            background-position: -289px -415px;
            &:hover {
              background-position: -290px -415px;
            }
          }  
          &.totem a {
            background-position: -416px -404px;
            &:hover {
              background-position: -416px -407px;
            }
          }
          &.perfume a {
            background-position: -154px -486px;
            &:hover {
              background-position: -158px -490px;
            }
          }
          &.shoulder a {
            background-position: -10px -494px;
            &:hover {
              background-position: -14px -498px;
            }
          }
          &.doce a {
            background-position: -286px -483px;
            &:hover {
              background-position: -287px -492px;
            }
          }
          &.tvz a {
            background-position: -427px -483px;
            &:hover {
              background-position: -428px -492px;
            }
          }
          &.folic a {
            background-position: -141px -546px;
            &:hover {
              background-position: -142px -545px;
            }
          }
          &.floor a {
            background-position: -5px -557px;
            &:hover {
              background-position: -6px -552px;
            }
          }
          &.canal a {
            background-position: -290px -545px;
            &:hover {
              background-position: -289px -547px;
            }
          }
          &.blue a {
            background-position: -430px -540px;
            &:hover {
              background-position: -429px -542px;
            }
          }
          &.afghan a {
            background-position: 1px -615px;
            &:hover {
              background-position: 2px -617px;
            }
          }
          &.numbers a {
            background-position: -153px -612px;
            &:hover {
              background-position: -151px -615px;
            }
          }
          &.ellus a {
            width: 140px;
            background-position: -289px -612px;
            &:hover {
              background-position: -290px -616px;
            }
          }
          &.wollner a {
            background-position: -426px -612px;
            &:hover {
              background-position: -428px -616px;
            }
          }
          &.collins a {
            background-position: 1px -670px;
            &:hover {
              background-position: 4px -671px;
            }
          }
          &.triya a {
            background-position: -148px -670px;
            &:hover {
              background-position: -147px -671px;
            }
          }
        }
      }
    }
    .parcerias{
      text-align: center;
      overflow: auto;
      width: 380px;
      height: 592px;
      h1 {
        font-family: $johnston;
        font-size: 26px;
        text-align: center;
        text-transform: uppercase;
        margin: 0 0 10px;
      }
      ul{
        width: 378px;
        li{
          border:1px solid #a7a9ac;
          height: 116px;
          &.stylist{height: 35px;margin-top: 22px;}
          a{border:1px solid #000;line-height: 35px; height: 35px; width: 374px; display: inline-block; font-family: $johnston; font-size: 19px;background-color: #000; text-decoration: none;color: #fff;font-size: 16px;
            &:hover{background-color: #fff; color: #000;border:1px solid #fff;}
            &.img{text-decoration: none;border: none;width: 376px;}
            }
          }
        }
      }
    }
section#boxes {width: 970px;overflow: auto;margin: 0 10px 55px;
  ul {
    li {background: #f8f8f8;width: 311px;height: 287px;display: block;margin: 0 15px 0 0;float: left;border: 1px #c2c2c2 solid;
      a {color: #231f20;text-decoration: none;
        h1 {font-family: $avenir;font-size: 17px;text-transform: uppercase;margin: 16px 0 3px 24px;font-weight:lighter;}
        p {background: image-url("home/arrows-pink.png") right center no-repeat;font-size: 15px;display: inline;margin: 0 0 0 24px;padding: 0 20px 0 0;}
        &:hover {
          p {color: #ef3742;}
        }
      }
      &:last-child {margin: 0;float: right;}
    }
  }
}

  div#products_categories {width: 1020px;height: 200px;margin: 0 0 18px;padding: 15px 0 0 0;float: left;
    ul {width: 100%;overflow: auto;margin-top: 35px;
      li {
        a {width: 63px;height: 100px;background: image-url("home/categories.png") no-repeat;color: #000;float: left;text-indent: -9999px;margin-right: 29px;
          &:hover {color: #ef3742;}
        }
        &.blusa a {background-position: -5px 0px; margin-left:5px;
          &:hover {background-position: -5px -146px;}
        }
        &.camisa a {background-position: -100px 0px;
          &:hover {background-position: -100px -146px;}
        }
        &.calca a {background-position: -196px 0px;
          &:hover {background-position: -196px -146px;}
        }
        &.vestido a {background-position: -293px 0px;
          &:hover {background-position: -293px -146px;}
        }
        &.anabela a {background-position: -387px 0px;
          &:hover {background-position: -387px -146px;}
        }
        &.bota a {background-position: -477px 0px;
          &:hover {background-position: -477px -146px;}
        }
        &.sapatilha a {background-position: -570px 0px;
        &:hover {background-position: -570px -146px;}
      }
      &.scarpin a {background-position: -662px 0px;
        &:hover {background-position: -662px -146px;}
      }
      &.sneaker a {background-position: -756px 0px;
        &:hover {background-position: -756px -146px;}
      }
      &.acessorios a {background-position: -853px 0px;
        &:hover {background-position: -853px -146px;}
      }
      &.bolsas a {background-position: -943px 0px;margin-right: 0 !important;
        &:hover {background-position: -943px -146px;}
        } 
      }
    }
  }
}
