.holder-resolution .holder-content .holder-middle {
	background: url('../../assets/home/bg-middle-home.png') no-repeat;
	overflow:hidden;	
}

.holder-resolution .holder-content .holder-middle .holder-model {
	margin:0 0 0 -12px;
	float:left;
}

.holder-resolution .holder-content .holder-middle ul.model {
	margin:13px 0 0 0;
}

.holder-resolution .holder-content .holder-middle ul.model li {
	float:left;
}

.holder-resolution .holder-content .holder-middle ul.pagination {
	clear:both;
	float:left;
	margin:25px 0 0 160px;
}

.holder-resolution .holder-content .holder-middle ul.pagination li {
	float:left;
	margin-right:3px;
}

.holder-resolution .holder-content .holder-middle ul.pagination li:last-child {
	padding-right:0px;
}

.holder-resolution .holder-content .holder-middle ul.pagination li a {
	width:12px;
	height:12px;
	float:left;
	background: url('../../img/common/sprite-paginacao.gif') no-repeat -18px 0px;
	text-decoration:none;
}

.holder-resolution .holder-content .holder-middle ul.pagination li a.active {
	background: url('../../img/common/sprite-paginacao.gif') no-repeat 0px 0;
}

.holder-resolution .holder-content .holder-middle .holder-call {
	width:603px;
	height:160px;
	background: url('../../assets/home/bg-chamada.png') no-repeat 0px 0;
	float:left;
	margin:31px 0 0 64px;
}

.holder-resolution .holder-content .holder-middle .holder-call p {
	color:#fff;
	font-style:italic;
	font-family: "Times New Roman", Times, serif;
	letter-spacing:-2px;
	margin:0;
}

.holder-resolution .holder-content .holder-middle .holder-call p.line-one {
	font-size:44px;
	margin:-3px 0 0 101px;
}

.holder-resolution .holder-content .holder-middle .holder-call p.line-two {
	font-size:70px;
	margin:-20px 0 0 45px;
}

.holder-resolution .holder-content .holder-middle .holder-call p.line-three {
	font-size:62px;
	float:right;
	margin:-29px 36px 0 0;
}

.holder-resolution .holder-content .holder-middle .holder-steps {
	background: url('../../assets/home/bg-steps.png') no-repeat 0px 0;
	float:left;
	width:274px;
	font-family: "Times New Roman", Times, serif;
	margin:5px 0 0 8px;
	overflow:hidden;
}

.holder-resolution .holder-content .holder-middle .holder-steps ul {
	margin:0 0 90px 30px;
	float:left;
}

.holder-resolution .holder-content .holder-middle .holder-steps ul li {
	float:left;
	clear:both;
	font-style:italic;
	margin-bottom:7px;
}

.holder-resolution .holder-content .holder-middle .holder-steps ul li strong {
	font-size:84px;
	float:left;
}

.holder-resolution .holder-content .holder-middle .holder-steps ul li span {
	font-size:30px;
	float:left;
	color:#000;
	letter-spacing:-1px;
	width:187px;
	line-height:25px;
	margin:13px 0 0 5px;
}

.holder-resolution .holder-content .holder-middle .holder-steps ul li.step-one span {
	width:177px;
	padding-right:10px;
}

.holder-resolution .holder-content .holder-middle .holder-steps ul li.step-two span {
	margin:13px 0 0 3px;
}

.holder-resolution .holder-content .holder-middle .holder-video {
	float:left;
	margin:21px 0 0 114px;
}

.holder-resolution .holder-content .holder-middle .holder-video a {
	clear:both;
	float:left;
}

.holder-resolution .holder-content .holder-middle .holder-video .thumb-video {
	margin-left:16px;
}

.holder-resolution .holder-content .holder-middle .btn-comece-aqui {
	margin:8px 0 94px 27px;
	float:left;
}

.holder-resolution .holder-content .holder-middle .holder-social-midia {
	width:333px;
	overflow:hidden;
	margin:0 0 0 73px;
	float:left;
}

.holder-resolution .holder-content .holder-middle .holder-social-midia li {
	float:left;
	width:87px;
	height:24px;
}

.holder-resolution .holder-content .holder-middle .holder-social-midia li a {
	cursor:pointer;
	display:block;	
}

.holder-resolution .holder-content .holder-middle .holder-social-midia li span {
	font-family: "Times New Roman", Times, serif;
	font-style:italic;
	font-size:14px;
	margin-top:3px;
	float:left;
}

.holder-resolution .holder-content .holder-middle .holder-social-midia li.facebook {
	background: url('../../img/common/sprite-midias-sociais.jpg') no-repeat 0px 0;
	width:95px;
	text-indent:-99999px;
	margin-right:20px;
}

.holder-resolution .holder-content .holder-middle .holder-social-midia li.twitter {
	background: url('../../img/common/sprite-midias-sociais.jpg') no-repeat -115px 0;
	width:120px;
	text-indent:-99999px;
}
