@import 'partials/mixins';
@import 'common/fonts';

#how_to{
  background: url('/assets/how_to/background.jpg') 465px 65px no-repeat;
  margin: 20px auto 50px;
  h1 {
    font-family: $johnston;
    font-size: 34px;
    text-transform: uppercase;
    width: 410px;
    display: block;
    margin: 0 0 20px;
  }
  h2 {
    font-family: $kepler;
    font-size: 16px;
    width: 460px;
    margin: 0 0 25px;
  }
  p {
    font-size: 14px;
    width: 505px;
    margin-bottom: 20px;
    &.last {
      margin-top: 35px;
    }
  }
}

#steps {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  h1 {
    font-family: $avenir;
    font-size: 29px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
  }
  ul {
    width: 100%;
    overflow: auto;
    li {
      margin-right: 10px;
      width: 237px;
      height: 278px;
      margin-right: 10px !important;
      float: left;
      &#left_box {
        background: url('/assets/how_to/box-1.jpg') no-repeat;
      }

      &#left_box_mid {
        background: url('/assets/how_to/box-2.jpg') no-repeat;
      }

      &#right_box_mid {
        background: url('/assets/how_to/box-3.jpg') no-repeat;
      }

      &#right_box {
        background: url('/assets/how_to/box-4.jpg') no-repeat;
        margin-right: none !important;
      }
      h3 {
        font-weight: normal;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        text-indent: -9999px;
        letter-spacing: -1px;
        width:185px;
      }
      p {
        font-size: 11px;
        text-align: center;
        text-indent: -9999px;
      }
    }
  }
}
