@import 'partials/mixins';
body {
  .content {
    #user-info {
      position: relative;
      width: 100%;
      height: 280px;
      overflow: visible;
      margin-top: -10px;
      z-index: 10;

      .info {
        overflow: hidden;
        padding-top: 30px;
        float: left;
        width: 480px;

        div.connect {
          width: 405px;
          overflow: hidden;
          margin: 0 auto 15px auto;
          padding: 15px;
          border: 1px #dedede solid;
          p {
            font-size: 12px;
            line-height: 13px;
            width: 180px;
            margin: 0;
            float: left;
          }
          .fb-connect {
            background: url('/assets/common/fb-connect-button.png') no-repeat;
            text-indent: -9999px;
            display: block;
            width: 212px;
            height: 25px;
            margin: 0;
            float: right;
          }
        }

        p.warn {
          font-size: 17px;
          width: 395px;
          margin: 0 0 0 35px;
          padding: 20px 15px;
          border: 1px #dedede solid;
          span {
            color: $pink;
          }
        }
        #user {
          margin: 31px 0 0 20px;
        }

        > h2 {
          color: #242424;
          font-family: $kepler;
          font-size: 37px;
          font-style: normal;
          font-weight:normal;
          letter-spacing: -1px;
          line-height: 30px;
          margin: 15px auto 0;
        }
      }

      .banner {
        position: absolute;
        width: 446px;
        height: 245px;
        float: right;
        padding-top: 30px;
        top: 0;
        right: 0;
        overflow: visible;
        z-index: 10;
        h1, h3 {
          text-transform: uppercase;
        }

        > h1 {
          position: relative;
          background: url("/assets/common/banner/bg-banner-pink.png") no-repeat;
          color: #FFF;
          font-family: $avenir;
          font-size: 19px;
          font-weight: lighter;
          width: 149px;
          padding: 4px 0 10px 17px;
          z-index: 5;

          & + h2 {
            position: relative;
            color: $pink;
            font-family: $avenir;
            font-size: 138px;
            letter-spacing: -10px;
            padding: 0;
            margin: -35px 0 0 0;
            z-index: 4;

            & + h3 {
              position: absolute;
              background: url("/assets/common/banner/bg-banner-black.png") no-repeat;
              font-family: $kepler;
              font-size: 25px;
              text-transform: uppercase;
              width: 380px;
              height: 69px;
              display: block;
              left: -20px;
              top: 160px;
              z-index: 5;
              & > p {
                font-size: 15px;
                margin: 10px 0 0 16px;
                & + p {
                  font-size: 16px;
                  margin: 7px 0 0 88px;
                }
              }
              & + p {
                position: absolute;
                color: #D95485;
                font-size: 14px;
                top: 230px;
                left: 2px;
              }
              p {
                color: #FFF;
                font-size: 15px;
                font-weight: normal;
                span {
                  font-size: 22px;
                }
              }
            }
          }
        }
        a {
          position: relative;
          color: #000;
          font-size:14px;
          letter-spacing:-1px;
          margin: 30px 0 0 170px;
          display: block;
        }

        img {
          display: inline-block;
          position: absolute;
          right: 8px;
          top: 3px;
          z-index: 1;
        }
      }
    }

    nav.invite {
      position: relative;
      background: url('/assets/common/bg-menu.jpg') top repeat-x;
      width: 100%;
      height: 44px;
      overflow: hidden;
      margin-top: 0;
      padding: 0;
      border: none;
      display: block;

      ul {
        width: 100%;
        margin: 10px 0 0;
        overflow: hidden;
        li {
          height: auto;
          display: inline-block;
          float: none;
          a {
            background: image-url('common/arrow-down-black.jpg') right no-repeat;
            color: #101010;
            text-indent: 0;
            height: auto;
            margin: 0 40px 0 0;
            padding: 3px 17px 0 0;
            display: block;
          }
        }
      }
    }

    section {
      &#share-mail, &#invite-mail, &#import-contacts, &#post-to-wall {
        background: url('/assets/common/division.png') center bottom no-repeat;
        width: 990px;
        padding: 40px 0;
        overflow: hidden;
        position: relative;

        hgroup {
          background: image-url('common/divisor-share.png') top right no-repeat;
          width: 345px;
          min-height: 155px;
          display: block;
          margin-right: 60px;
          float: left;
        }

        form {
          float: left;
          padding-top: 15px;

          input[type='text'], textarea {
            background: url('/assets/common/bg-form-invite.png') bottom repeat-x;
            padding: 12px 13px;
            border: 1px solid #BBB;
            width: 415px;
            font-size:18px;
            letter-spacing:-1px;
          }

          textarea {
            background: url('/assets/common/bg-textarea.png') bottom repeat-x;
            height: 73px;
            resize: none;
            color:#3c3c3c;
            font-size:14px;
          }
        }

        .buttons {
          li {
            width: 285px;
            margin: 15px auto 0;

            input[type='image'] {
              margin-left: 15px;
            }
          }
        }

        .share {
          margin-top: 20px;

          li {
            float: left;
            margin-left: 10px;

            &:first-child {
              margin-left: 0;
            }
          }
        }

        .services {
          float: left;
          overflow: hidden;

          li {
            float: left;
            margin-top: 30px;
            margin-left: 70px;

            a {
              background: url('/assets/common/mail-services-icons.png') no-repeat;
              width: 119px;
              height: 151px;
              text-indent: -99999px;
              display: block;

              &.gmail {
                background-position: 0 0;
              }

              &.yahoo {
                background-position: -143px 0;
              }
            }
          }
        }
      }

      &#post-to-wall {
        a {
          display: block;
          float: left;
          margin-top: 35px;
        }
      }

      &#invite-mail {
        form {
          padding-top: 0;
          fieldset.buttons {
            ol li {
              margin: 15px 0 0;
              input {
                background: url('/assets/common/invite.png') no-repeat;
                text-indent: -9999px;
                width: 92px;
                height: 34px;
                display: block;
                border: none;
                cursor: pointer;
              }
            }
          }
        }
      }

      &#import-contacts {
        .import-dropdown {
          background: #FFF;
          width: 346px;
          height: 160px;
          border: 1px solid #DADADA;
          overflow: hidden;
          position: absolute;
          right: 50px;
          top: 40px;
          padding: 15px 50px;

          > span {
            background: url('/assets/common/mail-services-icons.png') no-repeat;
            display: block;
            width: 55px;
            height: 60px;
            position: absolute;
            right: 57px;
            top: 30px;
            text-indent: -10000px;

            &.gmail {
              background-position: -35px -40px;
            }

            &.yahoo {
              background-position: 5px 0;
            }
          }

          .close {
            display: block;
            position: absolute;
            top: 10px;
            right: 10px;
            color: black;
            font-weight: bold;
            text-decoration: none;
            font-size: 14px;
          }

          form {
            margin-top: 0;
            padding-top: 0;
            width: 210px;

            fieldset {
              &.inputs {
                ol {
                  li{
                    margin-bottom: 8px;
                    display: block;

                    input {
                      &[type='text'], &[type='password'] {
                        background: url('/assets/common/background-inputs.png') repeat-x;
                        width: 93%;
                        padding: 6px 8px;
                        border: 1px solid #BBB;
                      }
                    }

                    & + li + li  + li{
                      padding: 10px 0;
                    }
                  }
                  .hint {
                    font-size: 12px;
                    display: block;
                    padding: 18px 0;
                  }
                }
              }

              &.buttons {
                position: absolute;
                display: block;
                top: 112px;
                right: 40px;
                width: 115px;

                ol {
                  li {
                    width: 114px;

                    input[type='submit'] {
                      width: 110px;
                      padding: 10px 15px;
                      font-size: 14px;
                      letter-spacing: 0px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .full-banner {
    background: #000;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 115px;
    left: 0;
    z-index: 99;

    .close {
      position: absolute;
      right: 10%;
      top: 20px;
    }

    .content {
      border: 1px solid #1C1C1C;
      width: 651px;
      margin: 15px auto;
      padding: 10px 30px;

      ul {
        background: #1C1C1C;
        width: 542px;
        display: block;
        margin: 20px auto 5px;
        padding: 10px;
        overflow: hidden;

        li {
          float: left;
          width: 140px;
          position: relative;
          margin: 0 20px;

          &:before {
            content: "+";
            display: block;
            position: absolute;
            top: 30px;
            left: -28px;
          }

          &:first-child {
            padding-top: 20px;

            & + li + li {
              padding-top: 10px;
            }

            &:before {
              content: "";
            }
          }
        }

        & + a {
          display: block;
          width: auto;
        }
      }
    }
  }
}
