@import 'partials/mixins';
body {
  .content {
    #user-info {
      position: relative;
      width: 100%;
      height: 250px;
      overflow: visible;
      z-index: 10;
      margin-top: 10px;
      ul{
        &.fixed{position:fixed;}
        width: 990px; height: 265px;
        li{
          a{width: 485px;height: 265px;float: left;display: inline-block;
            &.convide,&.convide_desativado{background: image-url('common/convide_ativado.jpg') no-repeat;margin-right: 10px;}
            &.convide_desativado{background-position:-506px 1px !important; }
            &.fidelidade,&.fidelidade_desativado{background: image-url('common/fidelidade_olook.jpg') no-repeat -507px 1px;}        
            &.fidelidade{background-position: 0 0 !important;}
          }
        }
      }
    }

    section {
      &#share-mail, &#invite-mail, &#import-contacts, &#post-to-wall, {
        background: image-url('common/division.png') center bottom no-repeat;
        width: 990px;
        padding: 40px 0;
        padding-top: 60px;
        overflow: hidden;
        position: relative;
        h1{font-size: 23px;}
        h2{font-size: 13px;}

        hgroup {
          background: image-url('common/divisor-share.png') top right no-repeat;
          width: 465px;
          min-height: 90px;
          display: block;
          margin-right: 30px;
          float: left;
        }

        form {
          float: left;
          padding-top: 15px;

          input[type='text'], textarea {
            border: 1px solid #cdcdcd;
            width: 335px;
            height: 42px;
            font-size:18px;
            letter-spacing:-1px;
            font-family: $avenir;
          }

          textarea {
            resize: none;
            color:#3c3c3c;
            font-size:15px;
          }
          .copy_link{
            width: 115px;
            height: 29px;
            display: block;
            position: absolute;
            top: 75px;
            right: 32px;
            cursor: pointer;
            text-align: center;
            @include bt_color($primary_bt_color, $primary_bt_color_hover);
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 12px;
            font-weight: bold;
            padding-top: 16px;
          }
        }

        .buttons {
          li {
            width: 285px;
            margin: 34px auto 0 !important;

            input[type='image'] {
              margin-left: 15px;
            }
          }
        }

        .share {
          margin-top: 15px;

          li {
            font-size: 15px;
            font-family: $avenir;
            text-transform: lowercase;
            float: left;
            color: #000;
            margin-left: 10px !important;
            .twitter-share-button{margin-bottom: -4px !important;margin-left: 5px !important;}

            &:first-child {
              margin-left: 0;
            }
            &.share_msg{margin-left: 55px !important;}
          }
        }
        .services {
          float: left;
          overflow: hidden;

          li {
            float: left;
            margin-top: 30px;
            margin-left: 70px;

            a {
              background: image-url('common/mail-services-icons.png') no-repeat;
              width: 119px;
              height: 151px;
              text-indent: -99999px;
              display: block;

              &.gmail {
                background-position: 0 0;
              }

              &.yahoo {
                background-position: -143px 0;
              }
            }
          }
        }
        div.box_copy {
          position: absolute;
          background: image-url('common/copy.png') top center no-repeat;
          width: 240px;
          height: 60px;
          padding: 10px 0 0 0;
          display: none;
          top: 10px;
          left:720px;
          p {
            color: #000;
            font-family: $avenir;
            font-size: 13px;
            line-height: 16px;
            text-align: left;
            margin-left: 45px;
            span {
              color: #000;
              font-weight: bold;
            }
          }
        }
      }
      &#post-to-wall {
        a {
          display: block;
          float: left;
          margin-top: 7px;
        }
      }

      &#invite-mail {
        form {
          padding-top: 12px;
          fieldset.buttons {
            ol li {
              margin: 15px 0 0;
              input {
                display: block;
                border: none;
                width: 115px;
                height: 46px;
                position: absolute;
                cursor: pointer;
                text-align: center;
                @include bt_color($primary_bt_color, $primary_bt_color_hover);
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 14px;
                font-weight: bold;
                padding-top: 5px;
              }
            }
          }
          fieldset.invite{position: absolute;top: 39px;right: -140px;}
        }
      }
      &#credits{
        margin-top: 30px;
        h1{font-family: $avenir;color: $pink;font-size: 25px;text-align: center;font-weight: 600;letter-spacing: 1px;}
        ul{
          margin-top: 25px;
          height: 220px;
          li{width: 205px;height: 220px;float: left;text-align: center;color: #000;margin-right: 120px;
            p{padding-top: 155px;font-family: $avenir;font-size: 13px;}
            &.first{background: image-url('common/earn_credits.jpg') no-repeat 50px 0px;margin-left: 20px;}
            &.earn{background: image-url('common/earn_credits.jpg') no-repeat -265px 0px;}
            &.last{background: image-url('common/earn_credits.jpg') no-repeat -600px 0px;margin-right: 0 !important;}
          }
        }
      }
      &#import-contacts {
        .import-dropdown {
          background: #FFF;
          width: 346px;
          height: 160px;
          border: 1px solid #DADADA;
          overflow: hidden;
          position: absolute;
          right: 50px;
          top: 40px;
          padding: 15px 50px;

          > span {
            background: image-url('common/mail-services-icons.png') no-repeat;
            display: block;
            width: 55px;
            height: 60px;
            position: absolute;
            right: 57px;
            top: 30px;
            text-indent: -10000px;

            &.gmail {
              background-position: -35px -40px;
            }

            &.yahoo {
              background-position: 5px 0;
            }
          }

          .close {
            display: block;
            position: absolute;
            top: 10px;
            right: 10px;
            color: black;
            font-weight: bold;
            text-decoration: none;
            font-size: 14px;
          }

          form {
            margin-top: 0;
            padding-top: 0;
            width: 210px;

            fieldset {
              &.inputs {
                ol {
                  li{
                    margin-bottom: 8px;
                    display: block;

                    input {
                      &[type='text'], &[type='password'] {
                        background: image-url('common/background-inputs.png') repeat-x;
                        width: 93%;
                        padding: 6px 8px;
                        border: 1px solid #BBB;
                      }
                    }

                    & + li + li  + li{
                      padding: 10px 0;
                    }
                  }
                  .hint {
                    font-size: 12px;
                    display: block;
                    padding: 18px 0;
                  }
                }
              }

              &.buttons {
                position: absolute;
                display: block;
                top: 112px;
                right: 40px;
                width: 115px;

                ol {
                  li {
                    width: 114px;

                    input[type='submit'] {
                      width: 110px;
                      padding: 10px 15px;
                      font-size: 14px;
                      letter-spacing: 0px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .full-banner {
    background: #000;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 115px;
    left: 0;
    z-index: 99;

    .close {
      position: absolute;
      right: 10%;
      top: 20px;
    }

    .content {
      border: 1px solid #1C1C1C;
      width: 651px;
      margin: 15px auto;
      padding: 10px 30px;

      ul {
        background: #1C1C1C;
        width: 542px;
        display: block;
        margin: 20px auto 5px;
        padding: 10px;
        overflow: hidden;

        li {
          float: left;
          width: 140px;
          position: relative;
          margin: 0 20px;

          &:before {
            content: "+";
            display: block;
            position: absolute;
            top: 30px;
            left: -28px;
          }

          &:first-child {
            padding-top: 20px;

            & + li + li {
              padding-top: 10px;
            }

            &:before {
              content: "";
            }
          }
        }

        & + a {
          display: block;
          width: auto;
        }
      }
    }
  }
}