@import 'partials/mixins';
body {
  .content {
    #user-info {
      overflow: hidden;
      margin-top: 27px;

      .info {
        overflow: hidden;
        float: left;
        width: 480px;

        #user {
          margin: 31px 0 0 20px;
        }

        > h2 {
          width: 378px;
          width: 300px;
          height: 71px;
          padding: 37px 50px 24px;
          border: 1px solid #BBB;
          margin: 35px auto 0;
          font-weight:normal;
          letter-spacing:-2px;
          line-height:22px;
        }
      }

      .banner {
        width: 446px;
        height: 334px;
        float: right;
        position: relative;
        padding-top: 30px;
        z-index: 1;

        > h1 {
          background: url("/assets/common/banner/bg-banner-pink.png") no-repeat;
          width: 165px;
          padding: 6px 0 8px 15px;

          & + h2 {
            padding: 0;
            margin: -35px 0 0 0;
            position: relative;
            z-index: 4;

            & + h3 {
              background: url("/assets/common/banner/bg-banner-black.png") no-repeat;
              display: block;
              color: #FFF;
              padding-top: 5px;
              padding-right: 9px;
              position: absolute;
              left: -20px;
              top: 156px;
              z-index: 5;

              span {
                display: block;
              }
              > span {
                margin-left: 20px;

                & + span {
                  margin-left: 86px;
                  padding: 5px 0;

                  sup {
                    position: absolute;
                  }
                }
              }
            }
          }
        }
        a {
          display: block;
          position: relative;
          margin-top: 35px;
          margin-left: 170px;
        }

        img {
          display: inline-block;
          position: absolute;
          right: 8px;
          top: 0;
          z-index: 1;
        }
      }
    }

    nav {
      background: url('/assets/common/bg-menu.png') top no-repeat;
      position: relative;
      border: none;
      padding: 7px 0;
      margin-top: -85px;
      z-index: 4;

      ul {
        li {
          a {
            background: url('/assets/common/arrow-down-not-selected.png') right 16px no-repeat;
            padding: 10px 20px 10px 0;
            margin: 0 40px 0;

            &.selected {
              background: url('/assets/common/arrow-down-selected.png') right 18px no-repeat;
              color: $pink;
            }
          }
        }
      }
    }

    section {
      &#share-mail, &#invite-mail, &#import-contacts {
        background: url('/assets/common/division.png') center bottom no-repeat;
        width: 858px;
        padding: 40px 50px;
        overflow: hidden;

        hgroup {
          display: block;
          float: left;
          width: 348px;
          margin-right: 60px;
        }

        form {
          float: left;
          padding-top: 15px;

          input[type='text'], textarea {
            background: url('/assets/common/bg-form-invite.png') bottom repeat-x;
            padding: 12px 13px;
            border: 1px solid #BBB;
            width: 415px;
            font-size:18px;
            letter-spacing:-1px;
          }

          textarea {
            background: url('/assets/common/bg-textarea.png') bottom repeat-x;
            height: 73px;
            resize: none;
            color:#3c3c3c;
            font-size:14px;
          }
        }

        .buttons {
          li {
            @include pink-button();
            width: 285px;
            margin: 15px auto 0;

            input[type='submit'] {
              width: 285px;
              font-size: 28px;
              letter-spacing:-2px;
            }
          }
        }

        .share {
          margin-top: 20px;

          li {
            float: left;
            margin-left: 10px;

            &:first-child {
              margin-left: 0;
            }
          }
        }

        .services {
          float: left;
          overflow: hidden;

          li {
            float: left;
            margin-top: 30px;
            margin-left: 70px;

            a {
              background: url('/assets/common/mail-services-icons.png') no-repeat;
              display: block;
              width: 72px;
              height: 72px;
              
              &.gmail {
                background-position: 0 -76px;
              }

              &.msn {
                background-position: 0 -147px;
              }
            }
          }
        }
      }

      &#invite-mail {
        form {
          padding-top: 0;
        }
      }
    }
  }
}
