@import 'partials/mixins';
section#kombi {
  padding: 30px 0 0;
  div#description {
    width: 415px;
    float: left;
    h1 {
      font-family: $johnston;
      font-size: 21px;
      margin: 0 0 20px;
      span {
        font-family: $kepler;
        font-size: 30px;
      }
    }
    h2 {
      color: #808285;
      font-family: $avenir;
      font-size: 16px;
      text-transform: uppercase;
      margin: 0 0 10px;
    }
    p {
      color: #808285;
      margin: 0 0 30px;
    }
  }
}
