.landing-content {
  position: relative;
  overflow: hidden;
  width: 990px;
  height: 560px;
  float: left;
  margin: 0;
}

.action img{
  top: 400px;
  left: 600px;
  position: absolute;
  text-indent: -9999px;
  margin: 5px;
  display: block;
}