.landing-content {
  position: relative;
  overflow:hidden;
  width:990px;
  height:560px;
  float:left;
  margin: 0;
}

.action img{
  text-indent: -9999px;
  margin: 408px 30px 0px 30px;
  display: block;
  float: right;
}