@import "partials/product";

div.full_container {
  background: #d2d1d6 url("/assets/liquidations/bg-top.jpg") bottom repeat-x;

  div.content {
    position: relative;
    h1 {
      color: #000;
      font-family: "Open Sans", sans-serif;
      font-size: 78px;
      line-height: 85px;
      letter-spacing: -8px;
      text-transform: uppercase;
      margin: 60px 0 0 70px;
      float: left;
    }
    h2 {
      background: #df5a8b;
      color: #FFF;
      font-family: "Open Sans", sans-serif;
      font-size: 33px;
      font-weight: lighter;
      letter-spacing: -2px;
      text-align: center;
      text-transform: uppercase;
      margin: 0 0 25px 45px;
      padding: 5px 20px;
      float: left;
      clear: both;
    }
    p {
      color: #101010;
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      text-align: center;
      width: 480px;
      margin: 0 0 80px;
      float: left;
      clear: both;
    }
    div#carousel_container {
      position: absolute;
      width: 465px;
      height: 310px;
      display: block;
      top: 0;
      right: 0;
      ul {
        position: relative;
        width: 5000px;
        left: 42px;
        overflow: hidden;
        li {
          width: 360px;
          height: 310px;
          float: left;
        }
      }
      a.arrow {
        position: absolute;
        background: url("/assets/product/arrows.jpg") 0 no-repeat;
        text-indent: -9999px;
        width: 42px;
        height: 235px;
        top: 0;
        display: block;
        &.prev {
          background-position: 0;
          left: 0;
          &:hover {
            background-position: -42px;
          }
        }
        &.next {
          background-position: -126px;
          right: 0;
          &:hover {
            background-position: -84px;
          }
        }
      }
    }
  }
}

div#liquidation {
  position: relative;
  width: 100%;
  overflow: auto;
  div#filters_container {
    width: 170px;
    overflow: auto;
    float: left;
    div.filter {
      margin: 0 0 10px 0;
      h1 {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -1px;
        margin: 0 0 20px 0;
        padding: 0 0 5px 5px;
        border-bottom: 1px #dedede solid;
        &.shoes {
          background: url("/assets/liquidations/shoes.png") no-repeat top left;
          padding-left: 23px;
        }
        &.purse {
          background: url("/assets/liquidations/purse.png") no-repeat top left;
          padding-left: 23px;
        }
        &.acessories {
          background: url("/assets/liquidations/acessories.png") no-repeat top left;
          padding-left: 26px;
        }
        &.subtitle {
          font-size: 14px;
        }
      }
      ol {
        width: 150px;
        margin: 0 0 20px 20px;
        overflow: auto;
        li {
          margin: 0 0 10px 0;
        }
        &.column {
          li {
            margin-right: 25px;
            float: left;
          }
        }
      }
    }
  }
  div#products_container {
    width: 770px;
    overflow: auto;
    float: right;
    div.pagination {
      clear: both;
    }
  }
}
