@import 'common/global_stuffs';

@import 'partials/lite_boxes_home';

#profile{float:left;width:540px;color:#000;
  .photo{float:left;margin-right:11px;
    
  }
  .excerpt{float:left;width:430px;margin-right:20px;
    p{font-size:13px;
      &.name{font-size:19px;text-transform:uppercase;}
    }
  }
}