@import "partials/product";
@import "partials/product_map";

section#lookbooks {
  width: 100%;
  padding: 20px 0;
  overflow: auto;
  h1.lookbook_title {
    font-family: $kepler;
    font-size: 40px;
    font-weight: lighter;
    letter-spacing: -1px;
    margin: 0 0 15px 10px;
  }
  div#carousel_lookbooks {
    position: relative;
    width: 970px;
    margin: 0 auto 40px auto;
    overflow: hidden;
    .prev-lookbook, .next-lookbook {
      position: absolute;
      background: url("/assets/showroom/arrows.png") no-repeat;
      text-indent: -9999px;
      width: 38px;
      height: 38px;
      display: none !important;
      top: 70px;
      z-index: 1;
      cursor: pointer;
    }
    .prev-lookbook {
      background-position: 0 0;
      left: 10px;
    }
    .next-lookbook {
      background-position: -38px 0;
      right: 10px;
    }
    ul {
      position: relative;
      width: 1500px;
      overflow: auto;
      left: 0;
      li {
        display: inline;
        margin: 0 8px 0 0;
        padding: 0;
        float: left;
        a {
          position: relative;
          text-decoration: none;
          margin: 0;
          padding: 0;
          float: left;
          img {
            width: 318px;
            height: 180px;
            border-bottom: 2px #D05582 solid;
          }
          h1 {
            position: absolute;
            background: url("/assets/lookbooks/bg-title.png") repeat;
            color: #FFF;
            font-family: $kepler;
            font-size: 29px;
            font-weight: lighter;
            letter-spacing: -1px;
            width: 298px;
            margin: 0;
            padding: 5px 10px;
            left: 0;
            bottom: 5px;
          }
        }
      }
    }
    .pagination {
	  text-align: center;
      height: auto;
      margin: 10px 0 0;
      a {
        background: url('/assets/common/sprite-pagination.png') -13px 0 no-repeat transparent;
        width: 13px;
        height: 13px;
        margin: 0 10px 0 0;
        padding: 0;
        display: inline-block;
        &.selected {
          background-position: 0 0;
          cursor: default;
        }
        span {
          display: none;
        }
      }
    }
  }

  div#carousel_lookbooks_product {
    position: relative;
    width: 970px;
    height: 551px;
    margin: 0 auto 35px auto;
    overflow: hidden;
    a.video_link {
      position: absolute;
      background: image-url("lookbooks/label_video.jpg") no-repeat;
      color: #FFF;
      font-family: $johnston;
      font-size: 13px;
      font-weight: 100;
      line-height: 38px;
      text-decoration: none;
      text-transform: uppercase;
      width: 132px;
      height: 38px;
      padding: 0 0 0 43px;
      display: block;
      top: 10px;
      right: 0;
      z-index: 1000;
    }
    div.video_description {
      display: none;
    }
    .jcarousel-container {
      width: 970px;
      position: relative;
    }
    .prev-pic, .next-pic {
      position: absolute;
      text-indent: -9999px;
      width: 60px;
      height: 551px;
      display: block;
      top: 0;
      z-index: 100;
      cursor: pointer;
    }
    .prev-pic {
      background: url("/assets/showroom/left-arrow.png") 0 0 no-repeat;
      left: 0;
      &:hover {
        background-position: -60px 0;
      }
    }
    .next-pic {
      background: url("/assets/showroom/right-arrow.png") 0 0 no-repeat;
      right: 0;
      &:hover {
        background-position: -60px 0;
      }
    }
    ul {
      position: relative;
      width: 3000px;
      overflow: auto;
      left: 0;
      li {
        position: relative;
        display: inline;
        margin: 0;
        padding: 0;
        float: left;
        img {
          width: 970px;
          height: 549px;
          border-bottom: 2px #D05582 solid;
        }
      }
    }
  }
}
