@import 'new_structure/common/global_stuffs';

section#loyalty {
  padding: 20px 0 0;
  h1 {
  font-family: $verdana;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 0 15px;
  font-weight: bold;
  text-align: center;
  } 
  h2 {
    font-family: $bt_font;
    font-size: 16px;
    margin: 0 0 15px;
    text-align: center;
    font-weight: lighter;
  }
  ul.steps{
    width: 900px;
    height: 280px;
    margin-top: 40px;
    margin-left: 50px;
    li.img{
      margin-bottom: 20px;
    }
    li.infos, .bag, .credit{
      float: left;
      font-family: $verdana;
      font-size: 14px;
      color: #000;
      text-align: center;
    }
    li.infos{width: 250px;margin-left: 120px;}
    li.bag{width: 205px;margin-left: 14px;}
    li.credit{width: 235px;margin-left: 75px;}
  }
  ul.example{
    width: 990px;
    height: 510px;
    margin-top: 40px;
    li{
      width: 495px;
      float: left;
      background: image-url('loyalty/fidelidade.jpg')no-repeat 10px 0;
      &.sandal{
        background-position: -500px 0;
      }
      p{
        font-size: 14px;
        text-align: center;
        color: #000;
        font-family: $verdana;
        line-height: 21px;
        padding-top: 430px;
        span{
          font-weight: bold;
        }
      }
    }
  }
  #credits{
    width: 990px;
    margin-top: 50px;
    p{
      font-family: $verdana;
      font-size: 14px;
      font-weight: lighter;
      text-align: center;
      line-height: 23px;
      a{
        font-weight: lighter;
        text-decoration: underline;
        color: #000;
      }
    }
    p.bonus{
      font-size: 16px;
      width: 860px;
      height: 60px;
      margin: 0 auto;
      color: #fff;
      padding-top: 8px;
      background: #73b175;
      letter-spacing: 1px;
      line-height: 30px;
      margin-bottom: 20px;
      span{
        font-weight: bold;
      }
      span.compras{
        font-size: 14px;
        display: block;
        color: #fff !important;
        font-weight: lighter !important;
        a{
          color: #fff !important;
        }
      }
    }
    .bt_novidades{
      font-size: 15px;
      text-decoration: none;
      display: block;
      text-transform: uppercase;
      margin-top: 10px;
      color: #fff;
      font-family: $bt_font;
      width: 230px;
      height: 31px;
      padding-top: 13px;
      letter-spacing: 1px;
      margin: 0 auto;
      margin-top: 20px;
      @include bt_color($primary_bt_color, $primary_bt_color_hover);  
    }
  }
}