@import "partials/product";

div.full_container {
  background: #000 url("/assets/moments/bg-top.jpg") bottom repeat-x;
  height: 412px;
  overflow: visible !important;
  margin-bottom: 55px !important;

  div#banner {
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    height: 385px;
    display: block;
  }
  div.content {
    position: absolute;
    height: 100px;
    overflow: visible;
    margin: 0 0 0 -495px;
    left: 50%;
    bottom: -30px;
    nav {
      background: none;
      margin: 0;
      border: none;
      ul {
        li {
          display: inline-block;
          height: auto;
          float: none;
          a {
            background: #000;
            color: #DF5A8B;
            font-family: Arial, sans-serif;
            font-size: 25px;
            font-weight: bold;
            text-indent: 0;
            width: 150px;
            height: auto;
            margin: 0;
            padding: 25px 15px;
            display: block;
            float: left;
            span {
              font-size: 16px;
              font-weight: lighter;
              display: block;
            }
            &.selected {
              background: #e05388 url("/assets/moments/bg-selected.jpg") top center no-repeat;
              color: #FFF;
            }
          }
        }
      }
    }
  }
}

div#moments {
  position: relative;
  width: 100%;
  overflow: auto;
  div#filters_container {
    width: 170px;
    overflow: auto;
    float: left;
    div.filter {
      margin: 0 0 10px 0;
      h1 {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -1px;
        margin: 0 0 20px 0;
        padding: 0 0 5px 5px;
        border-bottom: 1px #dedede solid;
        &.shoes {
          background: url("/assets/moments/shoes.png") no-repeat top left;
          padding-left: 23px;
        }
        &.purse {
          background: url("/assets/moments/purse.png") no-repeat top left;
          padding-left: 23px;
        }
        &.acessories {
          background: url("/assets/moments/acessories.png") no-repeat top left;
          padding-left: 26px;
        }
        &.subtitle {
          font-size: 14px;
        }
      }
      ol {
        width: 160px;
        margin: 0 0 20px 10px;
        overflow: auto;
        li {
          margin: 0 0 10px 0;
        }
        &.column {
          li {
            width: 80px;
            float: left;
          }
        }
      }
    }
  }
  div#products_container {
    width: 770px;
    overflow: auto;
    float: right;
    div#order_filter {
      width: 760px;
      height: 45px;
      display: inline-block;
      form {
        width: 215px;
        float: right;
        ol {
          li {
            label {
              font-size: 12px;
              font-weight: bold;
              line-height: 38px;
              margin-right: 15px;
              float: left;
            }
            &.select {
              position: relative;
              width: 250px;
              overflow: auto;
              display: inline;
              span.select {
                position: absolute;
                background: url('/assets/moments/select.jpg') no-repeat;
                text-indent: 12px;
                bottom: 0;
                top: 2px;
                float: left;
                width: 119px;
                height: 34px;
                line-height: 32px;
                cursor: default;
                z-index: 1;
              }
              select {
                &.custom_select {
                  position: absolute;
                  line-height: 26px;
                  width: 119px;
                  height: 34px;
                  margin-right: 10px;
                  top: 0;
                  left: 10px;
                }
              }
            }
          }
        }
      }
    }
    div.loading {
      background: url("/assets/common/ajax-loader.gif") center no-repeat;
      width: 770px;
      height: 30px;
      margin: 0 auto;
      display: none;
      clear: both;
    }
    div.pagination {
      clear: both;
      a, span, em.current {
        display: none;
      }
    }
  }
}

.ie, .gecko {
  div#order_filter {
    form {
      ol {
        li.select {
          span.select {
            top: 31px !important;
            select.custom_select {
              top: 15px !important;
              left: 0 !important;
            }
          }
        }
      }
    }
  }
}

.gecko, .ie7 {
  div#order_filter {
    form {
      ol {
        li.select {
          span.select {
            top: 15px !important;
          }
          select.custom_select {
            top: 15px !important;
            left: 0 !important;
          }
        }
      }
    }
  }
}

.ie8, .ie9 {
  div#order_filter {
    form {
      ol {
        li.select {
          span.select {
            top: 15px !important;
          }
          select.custom_select {
            top: 15px !important;
            left: 0 !important;
          }
        }
      }
    }
  }
}
