@import "partials/product";

div#moments {
  position: relative;
  width: 100%;
  padding: 20px 0 0;
  overflow: auto;

  nav {
    background: url("/assets/cart/bg-order-status.jpg") top left repeat-x;
    width: 100%;
    height: 113px;
    overflow: hidden;
    margin: 0 0 30px 0;
    clear: both;
    border: none;
    ul {
      width: 100%;
      margin: 0;
      overflow: hidden;
      li {
        text-align: center;
        height: 113px;
        margin: 0;
        float: left;
        &.last {
          margin-right: 0;
          div.box_text {
            border: none;
          }
        }
        div.box_text {
          width: 100%;
          margin: 20px 0 0 0;
          overflow: auto;
          border-right: 1px #000 dotted;
          a {
            text-indent: 0;
            height: auto;
            margin: 0;
            p {
              color: #050708;
              font-family: $kepler;
              font-size: 15px;
              text-transform: none;
              width: 197px;
              margin: 5px 0 0;
            }
            h1 {
              color: #050708;
              font-family: $avenir;
              font-size: 25px;
              font-style: normal;
              font-weight: 600;
              text-transform: uppercase;
              margin: 0 0 5px;
            }
          }
        }
        &.selected {
          background: image-url('cart/bg-selected.jpg') bottom center no-repeat;
        }
      }
    }
  }


  div#filters_container {
    width: 170px;
    overflow: auto;
    float: left;
    div.filter {
      margin: 0 0 10px 0;
      h1 {
        font-family: $avenir;
        font-size: 16px;
        font-weight: lighter;
        text-transform: uppercase;
        margin: 0 0 20px 0;
        padding: 0 0 5px 5px;
        border-bottom: 1px #dedede solid;
        a {
          background: url("/assets/moments/arrow-down.png") right no-repeat;
          color: #000;
          text-decoration: none;
          display: block;
          &.opened {
            background: url("/assets/moments/arrow-up.png") right no-repeat;
          }
        }
        &.shoes {
          background: url("/assets/moments/shoes.png") no-repeat top left;
          padding-left: 23px;
        }
        &.purse {
          background: url("/assets/moments/purse.png") no-repeat top left;
          padding-left: 23px;
        }
        &.acessories {
          background: url("/assets/moments/acessories.png") no-repeat top left;
          padding-left: 26px;
        }
        &.subtitle {
          font-size: 14px;
        }
      }
      ol {
        width: 160px;
        margin: 0 0 20px 10px;
        overflow: auto;
        li {
          margin: 0 0 10px 0;
          label {
            color: $third_color;
            letter-spacing: -1px;
          }
        }
        &.column {
          li {
            width: 80px;
            float: left;
          }
        }
        &.color_filter {
          li {
            background: url('/assets/moments/color-filter.jpg') no-repeat;
            &.neutras {
              background-position: 96px 2px;
            }
            &.metalizadas {
              background-position: 96px -26px;
            }
            &.tons-pastel {
              background-position: 96px -53px;
            }
            &.vivas {
              background-position: 96px -81px;
            }
            &.estampadas {
              background-position: 96px -109px;
            }
            &.animal-print {
              background-position: 96px -137px;
            }
            &:first-child {
              background: none;
            }
          }
        }
      }
      &.shoe_size {
        display: none;
      }
    }
  }
  div#products_container {
    width: 770px;
    overflow: visible;
    float: right;
    div#shoe_size_filter {
      position: relative;
      width: 380px;
      display: inline-block;
      float: left;
      label {
        color: #101010;
        font-size: 13px;
        font-weight: 600;
        line-height: 38px;
        margin-right: 15px;
        float: left;
      }
      span {
        background: url("/assets/common/black_arrow.jpg") center right no-repeat;
        text-indent: 12px;
        line-height: 32px;
        height: 32px;
        padding: 0 35px 0 0;
        bottom: 0;
        top: 2px;
        border: 1px #e7e7e7 solid;
        cursor: pointer;
        float: left;
      }
      div.sizes {
        position: absolute;
        background: #FFF;
        width: 110px;
        overflow: auto;
        padding: 0 10px;
        top: 33px;
        left: 118px;
        border: 1px #BBB solid;
        z-index: 10;
        display: none;
        ul {
          li {
            float: left;
            label {
              float: none;
            }
          }
        }
      }
    }
    div#order_filter {
      width: 380px;
      height: 45px;
      display: inline-block;
      form {
        width: 215px;
        float: right;
        ol {
          li {
            label {
              color: #101010;
              font-size: 13px;
              font-weight: 600;
              line-height: 38px;
              margin-right: 15px;
              float: left;
            }
            &.select {
              position: relative;
              width: 250px;
              overflow: auto;
              display: inline;
              span.select {
                position: absolute;
                background: url('/assets/moments/select.jpg') no-repeat;
                text-indent: 12px;
                bottom: 0;
                top: 2px;
                float: left;
                width: 119px;
                height: 34px;
                line-height: 32px;
                cursor: default;
                z-index: 1;
              }
              select {
                &.custom_select {
                  position: absolute;
                  line-height: 26px;
                  width: 119px;
                  height: 34px;
                  margin-right: 10px;
                  top: 0;
                  left: 10px;
                }
              }
            }
          }
        }
      }
    }
    div.loading {
      background: url("/assets/common/ajax-loader.gif") center no-repeat;
      width: 770px;
      height: 30px;
      margin: 0 auto;
      display: none;
      clear: both;
    }
    div.pagination {
      clear: both;
      a, span, em.current {
        display: none;
      }
    }
  }
}

.ie, .gecko {
  div#order_filter {
    form {
      ol {
        li.select {
          span.select {
            top: 31px !important;
            select.custom_select {
              top: 15px !important;
              left: 0 !important;
            }
          }
        }
      }
    }
  }
}

.gecko, .ie7 {
  div#order_filter {
    form {
      ol {
        li.select {
          span.select {
            top: 15px !important;
          }
          select.custom_select {
            top: 15px !important;
            left: 0 !important;
          }
        }
      }
    }
  }
}

.ie8, .ie9 {
  div#order_filter {
    form {
      ol {
        li.select {
          span.select {
            top: 15px !important;
          }
          select.custom_select {
            top: 15px !important;
            left: 0 !important;
          }
        }
      }
    }
  }
}
