@import "partials/product";

div#moments {
  position: relative;
  width: 100%;
  padding: 20px 0 0;
  overflow-y: auto;
  overflow-x: hidden;

  nav {
    background: url("/assets/cart/bg-order-status.jpg") top left repeat-x;
    width: 100%;
    height: 113px;
    overflow: hidden;
    margin: 0 0 30px 0;
    clear: both;
    border: none;
    ul {
      width: 100%;
      margin: 0;
      overflow: hidden;
      li {
        text-align: center;
        height: 113px;
        margin: 0;
        float: left;
        &.last {
          margin-right: 0;
          div.box_text {
            border: none;
          }
        }
        div.box_text {
          width: 100%;
          margin: 20px 0 0 0;
          overflow: auto;
          border-right: 1px #000 dotted;
          a {
            text-indent: 0;
            height: auto;
            margin: 0;
            p {
              color: #050708;
              font-family: $kepler;
              font-size: 15px;
              text-transform: none;
              width: 197px;
              margin: 5px 0 0;
            }
            h1 {
              color: #050708;
              font-family: $avenir;
              font-size: 25px;
              font-style: normal;
              font-weight: 600;
              text-transform: uppercase;
              margin: 0 0 5px;
            }
          }
        }
        &.selected, &:hover {
          background: image-url('cart/bg-selected.jpg') bottom center no-repeat;
        }
      }
    }
  }
  
  div#order_filter {
    width: 380px;
    height: 45px;
    display: inline-block;
    margin-right: 8px;
    float: right;
    form {
      width: 215px;
      float: right;
      ol {
        li {
          label {
            color: #101010;
            font-size: 13px;
            font-weight: 600;
            line-height: 38px;
            margin-right: 15px;
            float: left;
          }
          &.select {
            position: relative;
            width: 250px;
            overflow: auto;
            display: inline;
            span.select {
              position: absolute;
              background: url('/assets/moments/select.jpg') no-repeat;
              text-indent: 12px;
              bottom: 0;
              top: 2px;
              float: left;
              width: 119px;
              height: 34px;
              line-height: 32px;
              cursor: default;
              z-index: 1;
            }
            select {
              &.custom_select {
                position: absolute;
                line-height: 26px;
                width: 119px;
                height: 34px;
                margin-right: 10px;
                top: 0;
                left: 10px;
              }
            }
          }
        }
      }
    }
  }
  
  
  section.filters{float:left;margin:10px 0 30px;min-height:20px;color:#000;border:solid 1px #A7A9AC;padding:10px 10px;display:none;width:761px;
     h1 {font-family: $avenir;font-size: 12px;font-weight: lighter;text-transform: uppercase;float:left;margin-right:15px;
        b{font-weight:bold;
          span{margin-left:10px;}
        }
     }
     
	  div#tags{float:left;
     li{float:left;margin-right:25px;text-transform:uppercase;font-size:12px;position:relative;
         button{border:none;background:none;cursor:pointer;width:27px;height:15px;padding:0;font-size:8px}
         span.del-txt{font-size: 11px;position: absolute;right: -3px;text-transform: capitalize;top: -23px;display:none;color:#6D6E71;}
 	   }
   	}
   	
   	button.cleanFilter{font-size:11px;color:#6D6E71;background:none;border:none;font-family:$avenir;cursor:pointer;}
  }
  div.exhibition-mode{clear:both;padding:5px 15px 0;border-bottom:solid 1px #CBCBCB;color:#000;height:25px;margin-bottom:35px;
    p{text-transform:uppercase;font-size:11px;float:left;
      span{margin:0 5px;
        &.selected{font-weight:bold;}
        &:hover{cursor:pointer;}
      }
    }
    #order_filter{float:left !important;width:225px !important;height:30px;margin-left:55px;
      label{text-transform:uppercase;font-weight:normal;font-size:11px;margin-right:5px;line-height:22px;}
      li.select{
        span.select{background:image-url('moments/sprite.png') right 4px no-repeat !important;font-size:11px;text-transform:uppercase;line-height:18px;width:105px;text-indent:6px;}
      }
    }
  }
	
  div#filters_container {
    width: 180px;
    float: left;
		padding-left:10px;
	 position:relative;
    div.filter {margin: 0 0 10px 0;float:left;clear:both;
     button{float:right;border:none;background:none;line-height:18px;cursor:pointer;color:#141414;}
     p.filter_type{
    		font-size:15px;
    		background: image-url('moments/sprite.png') right -31px no-repeat;
    		min-height:15px;
    		padding-right:18px;
    		text-transform:uppercase;
    		font-weight:bold;
    		color:#000;
    		float:left;
    		cursor:pointer;
    		&.opened{background: image-url('moments/sprite.png') right 8px no-repeat;}
    	}
    	h1{font-family: avenir,arial,sans-serif;font-size: 16px;font-weight: lighter;text-transform: uppercase;margin: 5px 0 20px 0;padding: 0 0 5px 5px;border-bottom: 1px #DEDEDE solid;	
    	  &.shoes{background: url("/assets/moments/shoes.png") no-repeat top left;padding-left: 23px;}
    	  &.purse{background: url("/assets/moments/purse.png") no-repeat top left;padding-left: 23px;}
    	  &.accessories{background: url("/assets/moments/acessories.png") no-repeat top left;padding-left: 26px;}
      }
      ol {
        width: 180px;
        margin: 15px 0 20px 0;
		  padding-bottom:15px;
        float: left;
		  clear: both;
			
        li {
          margin: 0 0 10px 0;
          label {
            color: $third_color;
            letter-spacing: -1px;
          }
					input{margin:0}
        }
        &.column {
          li {
            width: 80px;
            float: left;
          }
        }
      }
      &.shoe_size {
        display: none;
      }
    }
	 div#shoe_size_filter {
	  position: absolute;
     width: 380px;
     display: inline-block;
     float: left;
	  top:0;
	  left:212px;
     label {
       color: #101010;
       font-size: 13px;
       font-weight: 600;
       line-height: 38px;
       margin-right: 15px;
       float: left;
     }
     span {
       background: url("/assets/common/black_arrow.jpg") center right no-repeat;
       text-indent: 12px;
       line-height: 32px;
       height: 32px;
       padding: 0 35px 0 0;
       bottom: 0;
       top: 2px;
       border: 1px #e7e7e7 solid;
       cursor: pointer;
       float: left;
     }
     div.sizes {
       position: absolute;
       background: #FFF;
       width: 110px;
       overflow: auto;
       padding: 0 10px;
       top: 33px;
       left: 118px;
       border: 1px #BBB solid;
       z-index: 10;
       display: none;
       ul {
         li {
           float: left;
           label {
             float: none;
           }
         }
       }
     }
	 }
  }
	
  div#products_container {
    width: 785px;
    overflow: visible;
    float: right;
    div.title-news{background:transparent;position: relative;width: 100%;height:40px;margin-bottom:10px;
      hr{border-style: solid none none;border-width: 1px 0 0 0;height: 3px;width: 100%;position:absolute;top:10px;left:0px;border-color:#000;margin:5px 0 0;z-index:1;}
      h2{color: #000;font-size: 35px;font-family:$kepler;position: absolute;text-align: center;top:-6px;left:0;width:100%;z-index:2;text-transform:uppercase;
        span{background:#FFF;padding:0 15px;}
      }
    }
    section.news{position:relative;width:778px;height:315px;background:#FFF;box-shadow: 2px 2px 7px #888;margin-bottom:35px;padding:5px 0 0 5px;clear: both;
      .products-list{margin-left:10px;
        li{float:left;margin-right:20px;
          a{display:block;text-decoration:none;color:#000;font-size:13px;
            img{border-bottom:solid 1px #B9BABD;width: 235px;height: 235px;}
            p{line-height:17px;
              &.brand{text-transform:uppercase;font-weight:bold;}
            }
          }
        }
      }
    }
    ul#products {
      clear:both;width:763px;margin:0 auto;
      li.product{width: 235px;height:290px;margin: 0 8px 35px;padding:0;
        a.product_link {display:block;text-decoration:none;color:#000;font-size:13px;margin:0;
          img{border-bottom:solid 1px #B9BABD;margin: 0;width: 235px;height: 235px;}
          p{line-height:16px;
            &.brand{text-transform:uppercase;font-weight:bold;}
            .old{text-decoration:line-through;}
            .txt-pink{color:#E05A8C;}
          /**** OVERRIDE LABEL PRODUCTS ****/
            &.warn{left:0;}
            &.warn.sold_out{background: image-url('moments/sprite.png') no-repeat 0 -76px;line-height: 27px;padding-left: 10px;text-align: left;width: 95px;color:#000;}
            &.warn.quantity{background:none #FFF !important;border: 1px solid #000;color: #000;font-family: 'avenir_medium';font-weight: 600;height: 20px;width: 74px;line-height: 20px !important;text-align: center;word-spacing: -1px;}
            &.warn.shoe_size{background: none #000;height: 20px;left: 25px !important;line-height: 20px !important;top: 23px !important;width: 55px;word-spacing: -1px;}
            &.warn.percentage{background: image-url('moments/sprite.png') no-repeat 0 -109px;width:60px;height:60px;font-size:14px;font-family:$avenir;text-align:center;
              span{font-size:14px;font-weight:normal}
            }
          /****** END *****/    
          } 
        }
      /***** OVERRIDE HOVER_SUGGESTIVE ****/
        &:hover{border:0;padding:0}
        div.hover_suggestive{
          top:280px;left:0;
          ul{float:none;
            li.spy{margin:0;
              a{width:100%;height:54px;position:absolute;left:0;bottom:45px !important;font-size:16px;font-style:italic;line-height:54px;
                span{background: image-url('moments/sprite.png') no-repeat right -179px !important;padding:5px 26px 9px 0;}
                &:hover{span{color:#000;}}  
              }
            }
          }
        }
      /***** END ******/  
      }
    }
    div#featured {
      clear: both;
    }
   

  }
	div.loading {
    background: url("/assets/common/ajax-loader.gif") center no-repeat;
    width: 770px;
    height: 30px;
    margin: 0 auto;
    display: none;
    clear: both;
  }
  div.pagination {
    clear: both;
    a, span, em.current {
      display: none;
    }
  }
}

.ie, .gecko {
  div#order_filter {
    form {
      ol {
        li.select {
          span.select {
            top: 31px !important;
            select.custom_select {
              top: 15px !important;
              left: 0 !important;
            }
          }
        }
      }
    }
  }
}

.gecko, .ie7 {
  div#order_filter {
    form {
      ol {
        li.select {
          span.select {
            top: 15px !important;
          }
          select.custom_select {
            top: 15px !important;
            left: 0 !important;
          }
        }
      }
    }
  }
}

.ie8, .ie9 {
  div#order_filter {
    form {
      ol {
        li.select {
          span.select {
            top: 15px !important;
          }
          select.custom_select {
            top: 15px !important;
            left: 0 !important;
          }
        }
      }
    }
  }
}
