@import 'partials/mixins';

#essence{
  width: 100%;
  h1{
    font-family: $verdana;
    font-size: 23px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #000;
    text-align: center;
  }
  h2{
    text-align: center;
    font-size: 20px;
    font-family: $verdana;
    margin-top: 20px;
    color: #000;
    font-weight: lighter;
  }
  ul{
    width: 900px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    li{
      float: left;
    }
    .sketch{
      width: 900px;
      border-bottom: 1px solid #000;
      img{
        margin-left: 192px;
        padding-bottom: 15px;
      }
    }
    .mini_frames{
      width: 175px;
      p{
        font-size: 16px;
        font-family: $verdana;
        color: #000;
        text-align: left;
        font-weight: bold;
        padding-top: 15px;
        span{
          color: #ff00ff;
        }
      }
    }
  }
}

.content { 
width:970px !important;
}
