@import 'partials/mixins';

section#our_essence {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  > h1 {
    font-family: $johnston;
    font-size: 26px;
    text-transform: uppercase;
    margin: 0 0 40px;
  }
  div.description {
    width: 565px;
    margin: 0 65px 0 0;
    float: left;
    p {
      font-family: $avenir;
      color: $third_color;
      font-size: 18px;
      font-weight: lighter;
      text-align: justify;
      margin: 0 0 37px;
      span {
        font-family: $kepler;
        font-size: 19px;
        &.olook-bold{
          font-weight: bold;
          font-family: $avenir;
        }
      }
    }
  }
  div.logo_definition {
    color: #000;
    width: 355px;
    text-align: center;
    padding: 0 0 55px;
    float: right;
    h2 {
      font-family: $kepler;
      font-size: 26px;
      margin: 0 0 20px;
    }
    img {
      margin: 0 0 40px;
    }
    > p {
      font-family: $kepler;
      font-size: 16px;
      margin: 0 0 35px;
    }
    div#making_of {
      position: relative;
      width: 355px;
      height: 191px;
      margin: 0;
      float: right;
      a.label, h1 {
        position: absolute;
        text-align: left;
      }
      a.label {
        background: image-url("lookbooks/label_video.png") no-repeat;
        color: #FFF;
        font-family: $johnston;
        font-size: 12px;
        font-weight: 100;
        line-height: 26px;
        text-decoration: none;
        text-transform: uppercase;
        width: 122px;
        height: 33px;
        padding: 0 0 0 32px;
        display: block;
        top: 10px;
        right: 0;
      }
      h1 {
        background: image-url('lookbooks/bg-title.png') repeat;
        color: #FFF;
        font-family: $kepler;
        font-size: 22px;
        font-weight: lighter;
        width: 328px;
        margin: 0;
        padding: 7px 0 7px 15px;
        left: 0;
        bottom: 0;
      }
      img {
        margin: 0;
        float: left;
      }
      div.video_description {
        display: none;
      }
    }
  }
}

.content { 
width:970px !important;
}
