@import 'partials/mixins';
@import 'common/fonts';

#pages {
  width: 100%;
  overflow: auto;
  h1, h2, h3 {
    font-family: $johnston;
    font-weight:normal;
    letter-spacing:-2px;
  }
  h1 {
    font-size: 35px;
    line-height: 35px;
    text-transform: uppercase;
    margin: 30px 0px 10px;
  }
  h2 {
    color: #8e8e8e;
    font-size: 25px;
    line-height: 25px;
    margin: 0 0 20px 0;
  }
  h3 {
    font-size: 33px;
  }
  p {
    color: #363636;
    font-size: 13px;
    margin: 0 0 20px 0;
  }
  img.fr {
    margin: 0 0 10px 20px;
    float: right;
  }
  img.fl {
    margin: 0 20px 10px 0;
    float: left;
  }
  &.press_release {
    div#top_container {
      width: 100%;
      overflow: auto;
      margin: 30px 0 30px 0;
      h1 {
        float: left;
        margin: 0;
      }
      ul.tabs {
        margin: 0 20px 0 0;
        float: right;
        li {
          display: inline;
          a {
            color: #000;
            font-family: $avenir;
            font-size: 15px;
            font-weight: normal;
            text-transform: uppercase;
            text-decoration: none;
            padding: 10px 15px;
            float: left;
            &:hover, &.selected {
              background: #000;
              color: #FFF;
            }
          }
        }
      }
    }
    div#press_release {
      display: none;
    }
    h3 {
      margin-bottom: 10px;
    }
    img.fl {
      margin-bottom: 40px;
    }
    ul.support {
      background: url("/assets/press_release/bg-infos.jpg") no-repeat;
      width: 980px;
      height: 46px;
      margin: 0 auto;
      clear: both;
      li {
        line-height: 46px;
        display: inline;
        margin: 0 120px 0 15px;
        a {
          color: #de5b8c;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  div.content_tabs {
    ul {
      li {
        width: 938px;
        margin: 0 0 10px 0;
        padding: 20px 15px;
        overflow: auto;
        border: 1px #e7e7e7 solid;
        div.fl {
          margin: 0 30px 0 0;
          float: left;
          div.image {
            text-align: center;
            width: 140px;
            height: 150px;
            display: table-cell;
            vertical-align: middle;
          }
        }
        p {
          color: #555;
          font-size: 14px;
          width: 760px;
          margin: 0 0 10px 0;
          float: left;
        }
        a {
          color: #df5b8c;
          font-size: 14px;
          font-weight: 500;
          text-decoration: none;
          margin: 0 518px 0 0;
          float: right;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
