@import 'partials/colors';
@import 'partials/product';
@import 'partials/mixins';
@import 'partials/credits_info';

#product {
  div.box_carousel {
    background: image-url('product/border-carousel.jpg') center bottom no-repeat;
    margin: 0 0 25px 0;
    padding: 10px 20px 10px;
    overflow: hidden;
    a.back {
      background: image-url('product/arrow-back.jpg') left center no-repeat;
      color: #6d6e71;
      text-decoration: none;
      margin-top: 8px;
      padding: 0 0 0 13px;
      float: left;
      &:hover {
        text-decoration: underline;
      }
    }
    a.open_carousel {
      background: image-url('product/bt-carousel.jpg') 0 0 no-repeat;
      color: #505050;
      font-size: 13px;
      text-decoration: none;
      line-height: 32px;
      width: 102px;
      padding: 0 0 0 9px;
      display: block;
      float: right;
      &.open {
        background-position: 0 -32px;
      }
    }
    div#carousel {
      position: relative;
      width: 100%;
      height: 0px;
      display: block;
      clear: both;
      margin: 10px 0 0 0;
      float: left;
      overflow: hidden;
      ul.products_list {
        position: relative;
        width: 5000px;
        left: 0px;
        overflow: hidden;
        li.product {
          width: 170px;
          height: 265px;
          div.box_product {
            a.product_link img {
              width: 165px;
              height: 165px;
            }
            h1 {
              width: 165px;
            }
          }
        }
      }
      div.caroufredsel_wrapper {
        margin: 20px auto 0 auto !important;
      }
      a.arrow {
        position: absolute;
        background: image-url("product/arrows.jpg") 0 no-repeat;
        text-indent: -9999px;
        width: 42px;
        height: 235px;
        top: 0;
        display: block;
        &.product-prev {
          /*background-position: 0;*/
          left: 0;
          &:hover {
            background-position: -42px;
          }
        }
        &.product-next {
          background-position: -126px;
          right: 0;
          &:hover {
            background-position: -84px;
          }
        }
      }
    }
  }
  div.content {

    div.chaordic {
      float:left;
    }

    div#related {
      position: relative;
      background: image-url('showroom/border-top-product.png') 170px 17px no-repeat;
      width: 100%;
      overflow: auto;
      clear: both;
      a.carousel-prev, a.carousel-next {
        position: absolute;
        background: image-url("product/arrows.jpg") 0 no-repeat;
        text-indent: -9999px;
        width: 42px;
        height: 360px;
        top: 0;
        display: block;
      }
      a.carousel-prev {
        /* background-position: 0px; */
        left: 0;
        &:hover {
          background-position: -42px;
        }
      }
      a.carousel-next {
        background-position: -126px;
        right: 0;
        &:hover {
          background-position: -84px;
        }
      }
      div.caroufredsel_wrapper {
        margin: 0 auto !important;
        padding: 0 0 10px 0;
      }
      h1.title {
        background: #FFF;
        font-family: $johnston;
        font-size: 28px;
        text-transform: uppercase;
        padding: 0 20px 0 0;
        margin-bottom: 15px;
        float: left;
      }
      ul {
        padding: 0 0 0 50px;
        clear: both;
        li.product {
          width: 265px;
          height: 360px;
          a.product_link {
            img {
              width: 260px;
              height: 260px;
              border-color: #ef3742;
            }
          }
        }
        &.carousel {
          padding: 0;
        }
      }
      div#related_footer {
        background: image-url("product/bg-footer-carousel.png") top left no-repeat;
        width: 100%;
        height: 26px;
        display: block;
        clear: both;
      }

      .box_product {
        h1{
          font-size: 13px !important;
          line-height: 18px !important;
        }
        .brand{
          font-size: 13px;
          font-family: $avenir;
          font-weight: bold;
          text-transform: uppercase;
          color: black;
          margin-left: 4px;
          line-height: 18px;
        }
        .price{
          font-family: $avenir;
          font-size: 13px;
          color: black;
          margin-left: 4px;
          line-height: 18px;
        }
        .plots{
          font-family: $avenir !important;
          font-size: 13px !important;
          color: black !important;
          padding: 0 !important;
          margin: 0 !important;
          float: none !important;
          line-height: 18px;
        }
        .line a.product_link {
          margin-left: 0;
        }
      }
    }
  }
}

/***** VALENTINES DAY *****/
#benefits{clear:both;overflow:hidden;margin:10px 0;padding:15px 0;border-top:solid 2px #CCC;border-bottom:solid 2px #CCC;color:#000;
  .fl{float:left}
  p{text-transform:uppercase;font-weight:bold;font-size:12px;
    &.txt-center{text-align:center;}
  }
  .vantagens{width:552px;
    li{display:inline-block;font-size:11px;height:30px;margin-bottom:5px;background: image-url('valentine/sprite.png') no-repeat 0 0;
      &.embalagem{background-position:-2px 1px;padding:14px 0 0 72px;width:205px;}
      &.frete{background-position:0 -125px;padding:9px 0 0 74px;width:195px;}
      &.desconto{background-position:0 -48px;padding:9px 0 0 72px;width:200px;}
      &.cartao{background-position:6px -165px;padding:7px 0 0 80px;width:195px;}
      &.devolucao{background-position:0 -88px;padding:9px 0 0 73px;width:205px;}
      &.credito{background-position:0 -214px;padding-left:73px;width:195px;}
      b{font-size:10px;}
    }
  }
  img.cartoes{margin-top:6px;}
  .mt{display:inline-block;margin:10px 0 0 20px;
    &:nth-child(3){margin-left:0;}
  }
}
#user_data{display:none;position:relative;width:989px;height:89px;background: image-url('valentine/msg_to_him.jpg') no-repeat;margin:5px 0 30px;color:#FFF;
  img{float:left;margin:14px 0 0 15px;}
  p{text-align:center;text-transform:uppercase;padding-top:9px;}
}
p.gift-title{font-size:27px;font-family:$johnston;text-transform:uppercase;color:#000;margin:25px 0 20px;}

div#modal {
  &.promo-olook {
    padding: 7px;
    background-color: rgba(255, 255, 255, 0.7);
  }
}
