@import 'partials/colors';
@import 'partials/product';
@import 'partials/mixins';

#product {
  div.box_carousel {
    background: image-url('product/border-carousel.jpg') center bottom no-repeat;
    margin: 0 0 25px 0;
    padding: 10px 20px 10px;
    overflow: hidden;
    a.back {
      background: image-url('product/arrow-back.jpg') left center no-repeat;
      color: #6d6e71;
      text-decoration: none;
      margin-top: 8px;
      padding: 0 0 0 13px;
      float: left;
      &:hover {
        text-decoration: underline;
      }
    }
    a.open_carousel {
      background: image-url('product/bt-carousel.jpg') 0 0 no-repeat;
      color: #505050;
      font-size: 13px;
      text-decoration: none;
      line-height: 32px;
      width: 102px;
      padding: 0 0 0 9px;
      display: block;
      float: right;
      &.open {
        background-position: 0 -32px;
      }
    }
    div#carousel {
      position: relative;
      width: 100%;
      height: 0px;
      display: block;
      clear: both;
      margin: 10px 0 0 0;
      float: left;
      overflow: hidden;
      ul.products_list {
        position: relative;
        width: 5000px;
        left: 0px;
        overflow: hidden;
        li.product {
          width: 170px;
          height: 265px;
          div.box_product {
            a.product_link img {
              width: 165px;
              height: 165px;
            }
            h1 {
              width: 165px;
            }
          }
        }
      }
      div.caroufredsel_wrapper {
        margin: 20px auto 0 auto !important;
      }
      a.arrow {
        position: absolute;
        background: image-url("product/arrows.jpg") 0 no-repeat;
        text-indent: -9999px;
        width: 42px;
        height: 235px;
        top: 0;
        display: block;
        &.product-prev {
          /*background-position: 0;*/
          left: 0;
          &:hover {
            background-position: -42px;
          }
        }
        &.product-next {
          background-position: -126px;
          right: 0;
          &:hover {
            background-position: -84px;
          }
        }
      }
    }
  }
  div.content {
    div#related {
      position: relative;
      background: image-url('showroom/border-top-product.png') 170px 17px no-repeat;
      width: 100%;
      overflow: auto;
      clear: both;
      a.carousel-prev, a.carousel-next {
        position: absolute;
        background: image-url("product/arrows.jpg") 0 no-repeat;
        text-indent: -9999px;
        width: 42px;
        height: 360px;
        top: 0;
        display: block;
      }
      a.carousel-prev {
        /* background-position: 0px; */
        left: 0;
        &:hover {
          background-position: -42px;
        }
      }
      a.carousel-next {
        background-position: -126px;
        right: 0;
        &:hover {
          background-position: -84px;
        }
      }
      div.caroufredsel_wrapper {
        margin: 0 auto !important;
        padding: 0 0 10px 0;
      }
      h1.title {
        background: #FFF;
        font-family: $johnston;
        font-size: 28px;
        text-transform: uppercase;
        padding: 0 20px 0 0;
        margin-bottom: 15px;
        float: left;
      }
      ul {
        padding: 0 0 0 50px;
        clear: both;
        li.product {
          width: 265px;
          height: 360px;
          a.product_link {
            img {
              width: 260px;
              height: 260px;
              border-color: #ef3742;
            }
          }
        }
        &.carousel {
          padding: 0;
        }
      }
      div#related_footer {
        background: image-url("product/bg-footer-carousel.png") top left no-repeat;
        width: 100%;
        height: 26px;
        display: block;
        clear: both;
      }

      .box_product {
  h1{
    font-size: 13px !important;
    line-height: 18px !important;
  }
  .brand{
    font-size: 13px;
    font-family: $avenir;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    margin-left: 4px;
    line-height: 18px;
  }
  .price{
    font-family: $avenir;
    font-size: 13px;
    color: black;
    margin-left: 4px;
    line-height: 18px;
    }
  .plots{
    font-family: $avenir !important;
    font-size: 13px !important;
    color: black !important;
    padding: 0 !important;
    margin: 0 !important;
    float: none !important;
    line-height: 18px;
  }
}
    }
  }
}
/** MODAL COMPARTILHAR POR EMAIL**/
div#compartilhar_email {
  background: #FFF;
  padding: 35px;
  display: none;
  width: 530px;
  height:370px;
  border:solid 7px #000;
  fieldset{
  margin-bottom: 20px;
  }
  input{
    background: white image-url("common/background-inputs.png") bottom repeat-x;
    border: 1px solid #bbbbbb;
    padding: 6px 8px;
    width: 92%;
    &#send{
      background: image-url("product/bt-send.png") no-repeat;
      text-indent: -9999px;
      display: block;
      border: none;
      cursor: pointer;
      width: 115px;
      height: 55px;
      float: right;
      margin-right: 20px;
      &.opacidade{opacity:0.7;filter:alpha(opacity=70);}
    }
  }
  label{
    font-size: 18px;
     span{font-size:12px;}
  }
  p{font-family: $johnston;
    font-size: 30px;
    color: #000;
    position: center;
    margin-bottom: 20px;
    padding-top: 5px;
    &.forgot-msg{font-family:$avenir;font-size:14px;margin:0 !important;display:none;}
  }
  div.msg{background:#F0FDDF;border: 1px solid #CBD7BC;height: 32px;margin: 15px 0 5px 0px;width: 504px;display:none;
    p{color: #000;font-family: avenir,arial,sans-serif;font-size: 14px;line-height: 24px;margin-top: 4px;min-height: 22px;padding: 0 0 0 38px;background: image-url("campaign_emails/sprite.png") no-repeat -260px -53px;}
    
    &.error{background:#FDADB6;border: 1px solid #F37C8F;display: none;height: 32px;padding: 0;
      p{background: image-url('campaign_emails/sprite.png') no-repeat -333px 0 !important;padding: 0 0 0 25px;}
    }
  }    
}
 


