@import "partials/product";

#product {
  padding: 20px 0 0 0;
  div.box_carrousel {
    margin: 0 0 15px 0;
    padding: 10px;
    overflow: auto;
    border: 1px #e1e1e1 solid;
    h1 {
      color: #545454;
      font-family: Arial;
      font-size: 20px;
      font-weight: lighter;
      line-height: 38px;
      text-transform: uppercase;
      float: left;
    }
    div#carrousel {
      float: right;
    }
  }
  div.content {
    div#pics_suggestions {
      width: 575px;
      float: left;
      ul#thumbs {
        width: 55px;
        overflow: auto;
        margin-right: 5px;
        float: left;
        li {
          margin-bottom: 10px;
          display: block;
          a {
            width: 50px;
            margin: 2px;
            float: left;
            img {
              width: 50px;
              height: 50px;
            }
            &:hover, &.selected {
              img {
                margin: -2px;
                border: 2px #a3a3a3 solid;
              }
            }
          }
        }
      }
      div#full_pic {
        width: 500px;
        margin-bottom: 30px;
        overflow: auto;
        float: left;
        border-bottom: 2px #e05f8f solid;
        a {
          width: 500px;
          float: left;
          img {
            width: 500px;
            height: 500px;
          }
        }
      }
    }
    div#infos {
      width: 390px;
      float: right;
      div.description {
        font-family: Times;
        font-style: italic;
        h1 {
          font-size: 40px;
          margin-bottom: 10px;
          border-bottom: 1px #ebebeb solid;
        }
        p {
          color: #616161;
          font-size: 16px;
          margin-bottom: 20px;
          &.price {
            color: #e05789;
            font-size: 50px;
            letter-spacing: -4px;
            text-align: center;
          }
        }
      }
    }
  }
}
