@import 'partials/mixins';

body {
  #error_explanation {
    width: 445px;
  }
  .content {
    #models {
      float: left;
      overflow: visible;
      width: 540px;
      height: 573px;
      margin: 20px 0 0 0;
    }

    #sign-up {
      float: right;
      overflow: visible;
      width: 450px;
      margin: 10px 0 0 0;

      h2, p {
        margin-left: 60px;
      }

      .not_connected {
        margin: 0 auto 15px auto;
        h2, p {
          margin: 0;
        }
        h2 {
          font-family: $avenir;
          line-height: 33px;
          margin-bottom: 15px;
        }
        p {
          font-size: 17px;
          width: 430px;
        }
      }

      p {
        margin-bottom: 20px;
      }

      p.facebook {
        margin-bottom: 20px;
      }

      div.connect {
        width: 415px;
        overflow: hidden;
        margin: 0 0 15px 0;
        padding: 15px;
        border: 1px #dedede solid;
        p {
          color: #6d6e71;
          font-family: $avenir;
          font-size: 13px;
          line-height: 13px;
          width: 185px;
          margin: 0;
          float: left;
        }
        .fb-connect {
          background: image-url('common/fb-connect-button.png') no-repeat;
          display: block;
          width: 212px;
          height: 25px;
          margin: 0;
          float: right;
        }
      }

      form {
        clear: both;

        fieldset {
          ol {
            &.facebook {
              display: none;
            }
            li, .field_with_errors {
              width: 460px;
              overflow: auto;

              label {
                color: #6d6e71;
                font-size: 14px;
                line-height: 27px;;
                display: block;
              }
              p.hint {
                color: #878787;
                font-family: $avenir;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                line-height: 14px;
                letter-spacing: normal;
                width: 155px;
                display: block;
                margin: 0 0 0 15px;
                float: left;
              }

              input[type='text'], input[type='email'], input[type='password'] {
                background: image-url('common/bg-inputs.png') repeat-x;
                width: 266px;
                border: 1px solid #C1C1C1;
                margin: 0 0 7px;
                padding: 7px 8px;
                height: 17px;
                float: left;
              }

              &.cpf {
                border: 1px solid #C1C1C1;
                padding: 16px;
                width: 250px;
                margin-top: 7px;
                input[type='text'], input[type='email'], input[type='password'] {
                background: image-url('common/bg-inputs.png') repeat-x;
                width: 230px;
                border: 1px solid #C1C1C1;
                margin: 0 0 7px;
                padding: 7px 8px;
                height: 17px;
                float: left;
              }

                span {
                  font-size: 10px;
                  color: red;
                  text-align: center;
                  font-family: Arial;
                  font-weight: bold;
                  margin-bottom: 10px;
                  display: block;
                }
                label {
                  width: 56px;
                  margin-left: 18px;
                }
              }

              &.terms {
                width: 285px;
                clear: both;
                p {
                  color: #6d6e71;
                  font-size: 12px;
                  text-align: center;
                  padding-top: 10px;
                  font-family: arial;
                  font-style: normal;
                  letter-spacing:0;
                  margin: 0 0 20px;
                  a {
                    color: #6d6e71;
                  }
                }
              }
              &.password {
                label {
                  line-height: 22px;
                }
              }
            }

            .field_with_errors {
              float: left;
              label {
                padding-top: 10px;
              }
            }
          }

          &.buttons {
            width: 285px;
            margin: 0;

            li {
              width: 300px;

              input[type='submit'] {
                width: 287px;
                height: 61px;
                display: block;
                border: none;
                cursor: pointer;
                text-transform: uppercase;
                font-size: 16px;
                letter-spacing: 2px;
                @include bt_color($primary_bt_color, $primary_bt_color_hover);
              }
            }
          }
        }
      }
    }
  }
}
