@import 'partials/mixins';
@import 'common/fonts';

body {
  #error_explanation {
    width: 445px;
  }
  .content {
    #models {
      float: left;
      overflow: visible;
      width: 540px;
      height: 573px;
    }

    #sign-up {
      float: right;
      overflow: visible;
      width: 450px;

      h2, p {
        margin-left: 60px;
      }

      .not_connected {
        width: 380px;
        margin: 0 auto 15px auto;
        h2, p {
          margin: 0;
        }
        h2 {
          line-height: 30px;
          margin-bottom: 15px;
          span {
            margin: 0 0 0 100px;
          }
        }
        p {
          font-size: 19px;
        }
      }

      p {
        margin-bottom: 20px;
      }

      p.facebook {
        margin-bottom: 20px;
      }
      
      div.connect {
        width: 415px;
        overflow: hidden;
        margin: 0 0 15px 0;
        padding: 15px;
        border: 1px #dedede solid;
        p {
          font-size: 16px;
          line-height: 13px;
          width: 180px;
          margin: 0;
          float: left;
        }
        .fb-connect {
          background: url('/assets/common/fb-connect-button.png') no-repeat;
          display: block;
          width: 212px;
          height: 25px;
          margin: 0;
          float: right;
        }
      }

      form {
        clear: both;

        fieldset {
          ol {
            &.facebook {
              display: none;
            }
            li, .field_with_errors {
              margin-bottom: 5px;
              overflow: hidden;

              label {
                color: #0f1714;
                display: inline-block;
                width: 140px;
                line-height: 33px;
                text-align: right;
                font-weight: bold;
                float: left;

                &[for='user_password'] {
                  span {
                    display: block;
                    font-weight: normal;
                    font-size: 11px;
                    line-height: 5px;
                  }
                }
              }

              input[type='text'], input[type='email'], input[type='password'] {
                background: url('/assets/common/bg-inputs.png') repeat-x;
                width: 266px;
                border: 1px solid #C1C1C1;
                padding: 7px 8px;
                margin-left: 5px;
                height:17px;
              }

              &.cpf {
                border: 1px solid #C1C1C1;
                padding: 16px;
                width: 385px;
                margin-left: 10px;
                margin-top: 7px;
                float: right;

                span {
                  font-size: 10px;
                  color: red;
                  text-align: center;
                  font-family: Arial;
                  font-weight: bold;
                  margin-bottom: 10px;
                  display: block;
                }
                label {
                  width: 56px;
                  margin-left: 35px;
                }
              }

              &.terms {
                clear: both;
                p {
                  font-size: 12px;
                  text-align: center;
                  padding-top: 10px;
                  font-family: arial;
                  font-weight: bold;
                  font-style: normal;
                  letter-spacing:0;

                  a {
                    color: #000;
                  }
                }
              }
              &.password {
                label {
                  line-height: 22px;
                }
              }
            }

            .field_with_errors {
              float: left;
              label {
                padding-top: 10px;
              }
            }
          }

          &.buttons {
            width: 300px;
            margin: 15px 120px 0;

            li {
              width: 300px;

              input[type='submit'] {
                background: url('/assets/common/register.png') no-repeat;
                text-indent: -9999px;
                width: 299px;
                height: 63px;
                display: block;
                border: none;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
