@import "partials/product";

#showroom {
  padding: 20px 0 0 0;
  section#greetings {
    width: 100%;
    margin-bottom: 50px;
    overflow: auto;
    div.facebook {
      width: 640px;
      float: left;
      h1, h2 {
        font-family: Arial, sans-serif;
        font-size: 26px;
        font-weight: normal;
        letter-spacing: -2px;
      }
      h2 {
        color: #df5a8b;
        margin-bottom: 5px;
      }
      p {
        font-family: Arial, sans-serif;
        font-size: 14px;
        margin-bottom: 25px;
        &.connect {
          width: 600px;
          margin-bottom: 0;
          padding: 10px;
          overflow: auto;
          border: 1px #dbdbdb solid;
          a {
            background: url('/assets/common/fb-connect-button.png') no-repeat;
            text-indent: -9999px;
            width: 212px;
            height: 25px;
            display: block;
            margin-right: 35px;
            float: left;
          }
          span {
            color: #3b5998;
            font-size: 15px;
            line-height: 25px;
          }
        }
      }
      &.connected {
        div.avatar {
          width: 110px;
          height: 115px;
          margin: 0 18px 15px 0;
          overflow: hidden;
          border: 5px #101010 solid;
          float: left;
          img.avatar {
            width: 110px;
          }
        }
        h2 {
          color: #000;
        }
        h3 {
          color: #df5a8b;
          font-family: Arial, sans-serif;
          font-size: 14px;
          margin-bottom: 5px;
          clear: both;
        }
        ul {
          li {
            display: inline;
            a {
              margin: 0 5px 0 0;
              float: left;
              img {
                width: 47px;
                height: 47px;
              }
            }
          }
        }
      }
    }
    div.lookbook {
      width: 330px;
      float: right;
      h1 {
        background: url('/assets/showroom/title-lookbooks.png') no-repeat;
        text-indent: -9999px;
        width: 144px;
        height: 21px;
        margin: 0 0 10px 0;
        display: block;
      }
      div#mask_carousel_showroom {
        position: relative;
        width: 323px;
        height: 183px;
        overflow: hidden;
        border-bottom: 2px #d05582 solid;
        .jcarousel-prev, .jcarousel-next {
          position: absolute;
          background: url("/assets/showroom/arrows.png") no-repeat;
          text-indent: -9999px;
          width: 27px;
          height: 26px;
          display: block;
          top: 80px;
          z-index: 100;
        }
        .jcarousel-prev {
          background-position: 0 0;
          left: 10px;
        }
        .jcarousel-next {
          background-position: -27px 0;
          right: 10px;
        }
        ul {
          position: relative;
          left: 0;
          width: 5000px;
          overflow: auto;
          li {
            margin: 0;
            padding: 0;
            display: inline;
            float: left;
            a {
              margin: 0;
              padding: 0;
              float: left;
              img {
                width: 324px;
              }
            }
          }
        }
      }
    }
  }
  section.container_product {
    background: url('/assets/showroom/border-top-product.png') 170px 26px no-repeat;
    width: 100%;
    margin-bottom: 20px;
    overflow: auto;
    h1.title {
      text-indent: -9999px;
      margin-bottom: 20px;
      display: block;
      float: left;
    }
    &#shoes_container {
      h1.title {
        background: url('/assets/showroom/title-shoes.png') no-repeat;
        width: 372px;
        height: 41px;
      }
    }
    &#purse_container {
      h1.title {
        background: url('/assets/showroom/title-purse.png') no-repeat;
        width: 353px;
        height: 41px;
      }
    }
    &#accessories_container {
      h1.title {
        background: url('/assets/showroom/title-accessories.png') no-repeat;
        width: 425px;
        height: 41px;
      }
    }
  }
  div.type_list {
    width: 100%;
    overflow: auto;
    clear: both;
    div.products_list {
      position: relative;
      background: url('/assets/showroom/border-bottom-product.png') 0 95% no-repeat;
      width: 100%;
      margin-bottom: 30px;
      padding: 0 0 45px 0;
      overflow: hidden;
      clear: both;
      &.almost, &.all {
        display: none;
      }
      &.all {
        background: url('/assets/showroom/border-bottom-more.png') 0 100% no-repeat;
      }
      a.more {
        position: absolute;
        text-indent: -9999px;
        text-decoration: none;
        display: block;
        height: 34px;
        bottom: 0;
        right: 0;
        &.shoes {
          background: url("/assets/showroom/bt-more-shoes.png") no-repeat;
          width: 448px;
        }
        &.all_shoes {
          background: url("/assets/showroom/bt-more-shoes-all.png") no-repeat;
          width: 180px;
        }
        &.purses {
          background: url("/assets/showroom/bt-more-purses.png") no-repeat;
          width: 447px;
        }
        &.all_purses {
          background: url("/assets/showroom/bt-more-purses-all.png") no-repeat;
          width: 182px;
        }
        &.accessories {
          background: url("/assets/showroom/bt-more-accessories.png") no-repeat;
          width: 478px;
        }
        &.all_accessories {
          background: url("/assets/showroom/bt-more-accessories-all.png") no-repeat;
          width: 204px;
        }
      }
      ul {
        li.product {
          div.box_product {
            div.line {
              width: 170px;
            }
          }
        }
      }
    }
  }
}

