@import "partials/product";

#showroom {
  padding: 20px 0 0 0;
  section#greetings {
    width: 100%;
    margin-bottom: 50px;
    overflow: auto;
    div.facebook {
      position: relative;
      width: 635px;
      float: left;
      h1, h2 {
        font-size: 26px;
        letter-spacing: -1px;
      }
      h1 {
        font-family: $kepler;
        margin-bottom: 10px;
        a {
          color: #e0457e;
        }
      }
      h2 {
        color: #df5a8b;
        margin-bottom: 5px;
      }
      div.profile {
        position: absolute;
        width: 245px;
        top: 57px;
        display: none;
        z-index: 1;
        a {
          background: #000;
          color: #e0457e;
          text-align: center;
          text-decoration: none;
          font-weight: bold;
          display: block;
          img {
            float: left;
          }
        }
      }
      p {
        margin-bottom: 25px;
        &.connect {
          width: 600px;
          margin-bottom: 0;
          padding: 10px;
          overflow: auto;
          border: 1px #dbdbdb solid;
          a {
            background: url('/assets/common/fb-connect-button.png') no-repeat;
            text-indent: -9999px;
            width: 212px;
            height: 25px;
            display: block;
            margin-right: 35px;
            float: left;
          }
        }
      }
      &.connected {
        div.avatar {
          width: 120px;
          min-height: 60px;
          max-height: 120px;
          margin: 0 13px 15px 0;
          overflow: hidden;
          float: left;
          border-bottom: 5px #101010 solid;
          img.avatar {
            width: 110px;
            border: 5px #101010 solid;
            border-bottom: none;
            float: left;
          }
        }
        h2 {
          color: #000;
        }
        h3 {
          color: #101010;
          font-family: $johnston;
          font-size: 13px;
          text-transform: uppercase;
          margin-bottom: 5px;
          clear: both;
        }
        div.profile {
          top: 57px;
          left: 140px;
        }
        p {
          margin-bottom: 7px;
        }
        a.conf {
          color: #df5a8b;
        }
        div#mask_carousel_facebook {
          position: relative;
          width: 640px;
          height: 40px;
          overflow: hidden;
          .carousel-prev-fb, .carousel-next-fb {
            background: url("/assets/showroom/arrows.png") no-repeat;
            text-indent: -9999px;
            width: 38px;
            height: 38px;
            display: block;
            top: 0;
            z-index: 100;
          }
          .carousel-prev-fb {
            background-position: 0 0;
            margin: 0 15px 0 0;
            float: left;
          }
          .carousel-next-fb {
            position: absolute;
            background-position: -38px 0;
            right: 0;
          }
          ul {
            position: relative;
            left: 0;
            overflow: auto;
            li {
              position: relative;
              margin: 0;
              padding: 0;
              display: inline;
              float: left;
              a {
                margin: 0 5px 5px 0;
                float: left;
                div.mask {
                  width: 40px;
                  height: 40px;
                  overflow: hidden;
                }
                img {
                  height: 65px;
                }
              }
            }
          }
        }
      }
      > a {
        color: #000;
        margin: 5px 0 0 0;
        display: inline-block;
      }
    }
    div.lookbook {
      width: 355px;
      float: right;
      h1.title {
        font-family: $johnston;
        font-size: 22px;
        line-height: 26px;
        text-transform: uppercase;
        margin: 0 0 10px 15px;
        display: block;
      }
      div#mask_carousel_showroom {
        position: relative;
        width: 355px;
        height: 180px;
        overflow: hidden;
        .carousel-prev, .carousel-next {
          position: absolute;
          background: url("/assets/showroom/arrows.png") no-repeat;
          text-indent: -9999px;
          width: 38px;
          height: 38px;
          display: block;
          top: 75px;
          z-index: 100;
        }
        .carousel-prev {
          background-position: 0 0;
          left: 20px;
        }
        .carousel-next {
          background-position: -38px 0;
          right: 20px;
        }
        ul {
          position: relative;
          left: 0;
          width: 5000px;
          overflow: auto;
          li {
            position: relative;
            margin: 0;
            padding: 0;
            display: inline;
            float: left;
            div.video_description {
              display: none;
            }
            a.video_link {
              position: absolute;
              background: image-url("common/label-lookbook-video.png") no-repeat;
              color: #FFF;
              font-family: $johnston;
              font-size: 12px;
              font-weight: normal;
              line-height: 26px;
              text-decoration: none;
              text-transform: uppercase;
              width: 123px;
              height: 33px;
              padding: 0 0 0 32px;
              display: block;
              top: 0;
              right: -15px;
              z-index: 100;
            }
            a.item {
              position: relative;
              text-decoration: none;
              margin: 0;
              padding: 0;
              float: left;
              img {
                width: 324px;
                height: 180px;
              }
              h1 {
                position: absolute;
                background: url("/assets/lookbooks/bg-title.png") repeat;
                color: #FFF;
                font-family: $kepler;
                font-size: 24px;
                font-weight: lighter;
                letter-spacing: -1px;
                width: 304px;
                margin: 0;
                padding: 5px 10px;
                left: 0;
                bottom: 3px;
              }
            }
          }
        }
      }
    }
  }
  section.container_product {
    background: url('/assets/showroom/border-top-product.png') 170px 15px no-repeat;
    width: 100%;
    margin-bottom: 20px;
    overflow: auto;
    h1.title {
      background: #FFF;
      font-family: $johnston;
      font-size: 28px;
      font-weight: normal;
      text-transform: uppercase;
      padding: 0 20px 0 0;
      margin-bottom: 20px;
      float: left;
    }
  }
  div.type_list {
    width: 100%;
    overflow: auto;
    clear: both;
    div.products_list {
      position: relative;
      background: url('/assets/showroom/border-bottom-product.png') 0 95% no-repeat;
      width: 100%;
      margin-bottom: 30px;
      padding: 0 0 45px 0;
      overflow: hidden;
      clear: both;
      &.almost, &.all {
        display: none;
      }
      &.all, &.almost {
        background: url('/assets/showroom/border-bottom-more.png') 0 100% no-repeat;
      }
      a.more {
        position: absolute;
        background: #000 url('/assets/showroom/bg-plus.jpg') 8px 9px no-repeat;
        color: #FFF;
        font-family: $avenir;
        font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 33px;
        padding: 0 15px 0 30px;
        display: block;
        bottom: 0;
        right: 0;
      }
      ul {
        width: 100%;
        overflow: auto;
        li.product {
          div.box_product {
            div.line {
              width: 170px;
            }
          }
        }
      }
      div.loading {
        background: url("/assets/common/ajax-loader.gif") center center no-repeat;
        width: 100%;
        height: 30px;
        display: block;
      }
    }
  }
  img.banner {
    margin: 0 auto;
    display: block;
  }
}

