@import "partials/product";
@import 'new_structure/partials/facebook_footer';
#showroom {
  padding: 20px 0 0 0;
  section#greetings {
    width: 100%;
    margin-bottom: 50px;
    overflow: auto;
    div.facebook {
      position: relative;
      width: 635px;
      float: left;
      h1, h2 {
        font-size: 26px;
        letter-spacing: -1px;
      }
      h1 {
        font-family: $kepler;
        margin-bottom: 10px;
        a {
          color: #ef3742;
        }
      }
      h2 {
        color: #ef3742;
        margin-bottom: 5px;
      }
      div.profile {
        position: absolute;
        width: 245px;
        top: 57px;
        display: none;
        z-index: 1;
        a {
          background: #000;
          color: #ef3742;
          text-align: center;
          text-decoration: none;
          font-weight: bold;
          display: block;
          img {
            float: left;
          }
        }
      }
      p {
        margin-bottom: 25px;
        &.connect {
          width: 600px;
          margin-bottom: 0;
          padding: 10px;
          overflow: auto;
          border: 1px #dbdbdb solid;
          a {
            background: image-url('common/fb-connect-button.png') no-repeat;
            text-indent: -9999px;
            width: 212px;
            height: 25px;
            display: block;
            margin-right: 35px;
            float: left;
          }
        }
      }
      &.connected {
        div.avatar {
          width: 120px;
          min-height: 60px;
          max-height: 120px;
          margin: 0 13px 15px 0;
          overflow: hidden;
          float: left;
          border-bottom: 5px #101010 solid;
          img.avatar {
            width: 110px;
            border: 5px #101010 solid;
            border-bottom: none;
            float: left;
          }
        }
        h2 {
          color: #000;
        }
        h3 {
          color: #101010;
          font-family: $johnston;
          font-size: 13px;
          text-transform: uppercase;
          margin-bottom: 5px;
          clear: both;
        }
        div.profile {
          top: 57px;
          left: 140px;
        }
        p {
          margin-bottom: 7px;
        }
        a.conf {
          color: #ef3742;
        }
        div#mask_carousel_facebook {
          position: relative;
          width: 600px;
          height: 44px;
          overflow: hidden;
          .carousel-prev-fb, .carousel-next-fb {
            position: absolute;
            text-indent: -9999px;
            width: 38px;
            height: 44px;
            display: block;
            top: 0;
            z-index: 100;
          }
          .carousel-prev-fb {
            background: image-url('lookbooks/arrow-left.png') 0 center no-repeat;
            left: 0;
          }
          .carousel-next-fb {
            background: image-url('lookbooks/arrow-right.png') 0 center no-repeat;
            right: 0;
          }
          ul {
            position: relative;
            left: 0;
            overflow: auto;
            &.carousel {
              left: 33px;
            }
            li {
              position: relative;
              margin: 0;
              padding: 0;
              display: inline;
              float: left;
              a {
                margin: 0 5px 5px 0;
                float: left;
                div.mask {
                  width: 40px;
                  height: 40px;
                  overflow: hidden;
                }
                img {
                  height: 65px;
                }
              }
            }
          }
        }
      }
      > a {
        color: #000;
        margin: 5px 0 0 0;
        display: inline-block;
      }
    }
    div.lookbook {
      width: 355px;
      float: right;
      h1.title {
        font-family: $johnston;
        font-size: 22px;
        line-height: 26px;
        text-transform: uppercase;
        margin: 0 0 10px 27px;
        display: block;
      }
      div#mask_carousel_showroom {
        position: relative;
        width: 355px;
        height: 170px;
        overflow: hidden;
        .carousel-prev, .carousel-next {
          position: absolute;
          text-indent: -9999px;
          width: 38px;
          height: 44px;
          display: block;
          top: 65px;
          z-index: 100;
        }
        .carousel-prev {
          background: image-url('lookbooks/arrow-left.png') 0 center no-repeat;
          left: 0px;
		  &:hover{background: image-url('lookbooks/arrow-prev-hover.png') 0 center no-repeat;}
        }
        .carousel-next {
          background: image-url('lookbooks/arrow-right.png') 0 center no-repeat;
          right: 0;
		  &:hover{background: image-url('lookbooks/arrow-next-hover.png') 0 center no-repeat;}
        }
        ul {
          position: relative;
          left: 13px;
          width: 5000px;
          overflow: auto;
          li {
            position: relative;
            margin: 0;
            padding: 0;
            display: inline;
            float: left;
            div.video_description {
              display: none;
            }
            a.video_link {
              position: absolute;
              background-repeat: none;
              text-indent: -99999px;
              text-decoration: none;
              width: 75px;
              height: 52px;
              display: block;
              bottom: 70px;
              left: 20px;
              z-index: 1;
            }
            a.item {
              position: relative;
              text-decoration: none;
              margin: 0;
              padding: 0;
              float: left;
              img {
                width: 295px;
                height: 170px;
              }
              h1 {
                position: absolute;
                background: image-url('lookbooks/bg-title.png') repeat;
                color: #FFF;
                font-family: $kepler;
                font-size: 24px;
                font-weight: lighter;
                letter-spacing: -1px;
                width: 275px;
                margin: 0;
                padding: 5px 10px;
                left: 0;
                bottom: 3px;
              }
            }
          }
        }
      }
    }
  }
  section.container_product {
    background: image-url('showroom/border-top-product.png') 170px 15px no-repeat;
    width: 100%;
    margin-bottom: 20px;
    overflow: auto;
    h1.title {
      background: #FFF;
      font-family: $johnston;
      font-size: 28px;
      font-weight: normal;
      text-transform: uppercase;
      padding: 0 20px 0 0;
      margin-bottom: 20px;
      float: left;
      span{
        float: left;
          &.news{
          background-color: #000;
          font-size: 15px;
          margin-left: 10px;
          color: #FFF;
          padding: 5px;
          margin-top: 3px;
          font-family: $avenir;
        }
      }
    }
  }

/***** new showroom *****/

/***** end new showroom *****/





  div.type_list {
    width: 100%;
    overflow: auto;
    clear: both;
    div.products_list {
      position: relative;
      background: image-url('showroom/border-bottom-product.png') 0 bottom no-repeat;
      width: 100%;
      margin-bottom: 45px;
      padding: 0 0 30px 0;
      /*overflow: hidden;*/
      clear: both;
      &.almost, &.all {
        display: none;
      }
      &.all{
        background: image-url('showroom/border-bottom-more.png') 0 100% no-repeat;
      }
		&.almost{background:none !important;margin:0;padding:0;}
      a.catalog_link {
        color: #EF3742;
        text-decoration: none;
      }
      a.catalog_link:hover {
        color: #EF3742;
        text-decoration: underline;
      }      

      a.more {
        position: absolute;
        background: #000 image-url('showroom/bg-plus.jpg') 8px 9px no-repeat;
        color: #FFF;
        font-family: $avenir;
        font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 33px;
        padding: 0 15px 0 30px;
        display: block;
        bottom: -15px;
        right: 0;
		  &.minus{background: #000 image-url('showroom/bg-minus.jpg') 8px 9px no-repeat !important;}
      }
		
      ul {
        width: 100%;
        overflow: auto;
        li.product {
          div.box_product {
            div.line {
              width: 175px;
              p.price{font-size: 13px;color:#000;margin-left: 3px;
                span{float: none;color:#000;font-size: 13px;margin: 0;padding: 0;}
              }
              a.product_link {
                margin-left: 0;
              }
            }
          }
          .warn.percentage {
            display: none;
          }
          &.promotion {
            span.old {
              text-decoration: none;
            }
            .box_product .line span.txt-pink {
              font-weight: normal;
            }
          }
        }
      }
      div.loading {
        background: image-url("common/ajax-loader.gif") center center no-repeat;
        width: 100%;
        height: 30px;
        display: block;
      }
    }
  }
  img.banner {
    margin: 0 auto;
    display: block;
  }
}

/******** partial products categories home *******/
div#products_categories {width: 1020px;height: 200px;margin: 0 0 18px;padding: 15px 0 0 0;float: left;
  ul {width: 100%;overflow: auto;margin-top: 35px;
    li {
      a {width: 63px;height: 100px;background: image-url("home/categories.png") no-repeat;color: #000;float: left;text-indent: -9999px;margin-right: 29px;
        &:hover {color: #ef3742;}
      }
      &.blusa a {background-position: -5px 0px; margin-left:5px;
        &:hover {background-position: -5px -146px;}
      }
      &.camisa a {background-position: -100px 0px;
        &:hover {background-position: -100px -146px;}
      }
      &.calca a {background-position: -196px 0px;
        &:hover {background-position: -196px -146px;}
      }
      &.vestido a {background-position: -293px 0px;
        &:hover {background-position: -293px -146px;}
      }
      &.anabela a {background-position: -387px 0px;
        &:hover {background-position: -387px -146px;}
      }
      &.bota a {background-position: -477px 0px;
        &:hover {background-position: -477px -146px;}
      }
      &.sapatilha a {background-position: -570px 0px;
      &:hover {background-position: -570px -146px;}
    }
    &.scarpin a {background-position: -662px 0px;
      &:hover {background-position: -662px -146px;}
    }
    &.sneaker a {background-position: -756px 0px;
      &:hover {background-position: -756px -146px;}
    }
    &.acessorios a {background-position: -853px 0px;
      &:hover {background-position: -853px -146px;}
    }
    &.bolsas a {background-position: -943px 0px;margin-right: 0 !important;
      &:hover {background-position: -943px -146px;}
      } 
    }
  }
}

/******** end partial products categories home *******/

/******** Partial boxes home *******/

  section#boxes {
    width: 100%;
    overflow: auto;
    margin: 0 0 55px;
    ul {
      li {
        background: #f8f8f8;
        width: 314px;
        height: 287px;
        display: block;
        margin: 0 21px 0 0;
        float: left;
        border: 1px #c2c2c2 solid;
        a {
          color: #231f20;
          text-decoration: none;
          h1 {
            font-family: $avenir;
            font-size: 17px;
            text-transform: uppercase;
            margin: 16px 0 3px 24px;
          }
          p {
            background: image-url("home/arrows-pink.png") right center no-repeat;
            font-size: 15px;
            display: inline;
            margin: 0 0 0 24px;
            padding: 0 20px 0 0;
          }
          &:hover {
            p {
              color: #ef3742;
            }
          }
        }
        &:last-child {
          margin: 0;
          float: right;
        }
      }
    }
  }

  
/****** IE8 HACK *******/
html.ie8{
   section#home{
      li.iehack{margin:0 !important;}
   }
}

/****** end partial products *******/
/******** End partial boxes home *******/


