section#stylist {
  padding-top: 35px;

  div.profile {
    width: 100%;
    overflow: auto;
    margin: 0 0 60px;
    h1.stylist {
      background: url("/assets/stylist/stylist.jpg") top center no-repeat;
      text-indent: -9999px;
      width: 990px;
      height: 75px;
      margin: 0 0 40px 0;
      display: block;
    }
    img.models {
      float: left;
      margin: 0 30px 0 0;
    }
    div.description {
      font-size: 14px;
      width: 380px;
      margin: 0 20px 0 0;
      overflow: auto;
      float: left;
      h1, h2 {
        font-family: Times, 'Times New Roman', "sans-serif";
        font-weight: lighter;
        letter-spacing: -2px;
        width: 215px;
        float: left;
      }
      h1 {
        font-size: 52px;
        line-height: 45px;
        margin: 50px 0 10px 0;
        span {
          font-size: 65px;
          font-style: italic;
        }
      }
      h2 {
        font-size: 20px;
        clear: both;
        &+h2 {
          margin: 0 0 30px 0;
        }
      }
      h3 {
        font-family: Arial, "sans-serif";
        font-size: 14px;
        font-weight: bold;
        &+p {
          font-style: italic;
        }
      }
      p {
        margin: 0 0 15px 0;
        text-align: justify;
        clear: both;
        a {
          color: #000;
          font-weight: bold;
        }
      }
    }
    div.products {
      position: relative;
      overflow: visible;
      margin-right: 30px;
      border: 1px #bcbec0 solid;
      display: block;
      float: right;
      h1 {
        position: absolute;
        text-indent: -9999px;
        display: block;
        z-index: 1;
      }
      a.product {
        position: absolute;
        color: #000;
        text-decoration: none;
        letter-spacing: -1px;
        display: block;
        p {
          font-family: Verdana, "sans-serif";
          font-size: 13px;
          &.price {
            font-style: normal;
          }
        }
      }
    }
    &#helena {
      padding: 18px 0 0 0;
      div.description {
        background: url("/assets/stylist/helena_linhares/foto.jpg") top right no-repeat;
        h1 {
          margin: 60px 0 20px 0;
          &+p {
            width: 215px;
          }
        }
      }
      div.products {
        width: 530px;
        height: 505px;
        h1 {
          background: url("/assets/stylist/helena_linhares/amo.jpg") no-repeat;
          width: 150px;
          height: 50px;
          top: 190px;
          left: 15px;
          z-index: 10;
        }
        a#espora {
          background: url("/assets/stylist/helena_linhares/espora.jpg") top right no-repeat;
          width: 98px;
          height: 60px;
          top: 0;
          left: 10px;
          padding: 95px 35px 0px 0px;
        }
        a#caribe {
          background: url("/assets/stylist/helena_linhares/caribe.jpg") center left no-repeat;
          text-align: center;
          width: 123px;
          height: 138px;
          top: 0px;
          left: 170px;
          padding: 90px 0 0px 0px;
          z-index: 10;
        }
        a#erva_mate {
          background: url("/assets/stylist/helena_linhares/erva-mate.png") top right no-repeat;
          text-align: right;
          width: 69px;
          height: 162px;
          top: -18px;
          right: 7px;
          padding: 25px 140px 0px 0;
        }
        a#anis {
          background: url("/assets/stylist/helena_linhares/anis.jpg") bottom right no-repeat;
          text-align: right;
          width: 157px;
          height: 82px;
          top: 175px;
          right: 20px;
          padding: 0px 0px 35px 0;
          z-index: 2;
        }
        a#alamanda {
          background: url("/assets/stylist/helena_linhares/alamanda.jpg") top right no-repeat;
          text-align: right;
          width: 60px;
          height: 190px;
          bottom: 0;
          right: 20px;
          padding: 10px 85px 0px 0px;
          z-index: 1;
        }
        a#rosa_branca {
          background: url("/assets/stylist/helena_linhares/rosa_branca.jpg") top center no-repeat;
          text-align: center;
          width: 93px;
          height: 0;
          bottom: 5px;
          right: 195px;
          padding: 127px 0px 35px 0px;
          z-index: 1;
        }
        a#iris {
          background: url("/assets/stylist/helena_linhares/iris.jpg") bottom center no-repeat;
          text-align: center;
          width: 230px;
          height: 75px;
          top: 235px;
          left: 100px;
          padding: 0px 0px 10px 0px;
          z-index: 1;
        }
        a#gardenia {
          background: url("/assets/stylist/helena_linhares/gardenia.jpg") top right no-repeat;
          text-align: right;
          width: 163px;
          height: 141px;
          bottom: 10px;
          left: 15px;
          padding: 35px 15px 0px 0px;
        }
      }
    }
    &#didi_wagner {
      div.description {
        width: 370px;
        margin: 0;
        display: block;
        h1 {
          font-size: 45px;
          width: 215px;
          margin: 15px 0 25px 0;
          float: left;
        }
        p {
          clear: none;
          img {
            margin: 0 0 0 10px;
            float: right;
          }
        }
      }
      div.products {
        width: 530px;
        height: 500px;
        h1 {
          background: url("/assets/stylist/didi_wagner/as-escolhas-da-didi.jpg") no-repeat;
          width: 163px;
          height: 86px;
          top: 40px;
          left: 225px;
        }
        a#flor_do_dia {
          background: url("/assets/stylist/didi_wagner/flor-do-dia.png") top right no-repeat;
          width: 195px;
          height: 145px;
          top: -25px;
          left: 20px;
          padding: 65px 0 0;
        }
        a#petunia {
          background: url("/assets/stylist/didi_wagner/petunia.jpg") top center no-repeat;
          text-align: center;
          width: 123px;
          height: 223px;
          top: 0;
          right: 0px;
          padding: 20px 0 0 0;
          z-index: 1;
        }
        a#central {
          background: url("/assets/stylist/didi_wagner/central.png") bottom center no-repeat;
          text-align: center;
          width: 191px;
          height: 118px;
          bottom: 20px;
          right: -5px;
          padding: 0 0 40px 0px;
        }
        a#botao_de_ouro {
          background: url("/assets/stylist/didi_wagner/botao-de-ouro.jpg") top center no-repeat;
          text-align: center;
          width: 147px;
          height: 35px;
          bottom: 40px;
          left: 195px;
          padding: 145px 0px 0px;
        }
        a#laranjeira {
          background: url("/assets/stylist/didi_wagner/laranjeira.jpg") bottom right no-repeat;
          text-align: right;
          width: 236px;
          height: 83px;
          bottom: 235px;
          left: 140px;
          padding: 0 25px 35px 0px;
        }
        a#cipreste {
          background: url("/assets/stylist/didi_wagner/cipreste.jpg") top right no-repeat;
          width: 179px;
          height: 239px;
          bottom: 10px;
          left: 10px;
          padding: 0 10px 0 0;
        }
      }
    }
  }
}
