@import 'partials/mixins';

section#stylist {
  padding-top: 35px;

  div.profile {
    width: 100%;
    overflow: auto;
    margin: 0 0 60px;
    h1.stylist {
      background: url("/assets/stylist/stylist.jpg") top center no-repeat;
      text-indent: -9999px;
      width: 990px;
      height: 49px;
      margin: 0 0 95px 0;
      display: block;
    }
    img.models {
      float: left;
      margin: 0 30px 0 0;
    }
    div.description {
      font-size: 14px;
      width: 420px;
      margin: 0 20px 0 0;
      overflow: auto;
      float: left;
      h1, h2 {
        font-family: $johnston;
        font-weight: lighter;
        letter-spacing: -2px;
        text-transform: uppercase;
        width: 215px;
        float: left;
      }
      h1 {
        font-size: 50px;
        line-height: 37px;
        margin: 50px 0 10px 0;
        &+p {
          font-family: $kepler;
          font-size: 15px;
        }
        span {
          font-family: $avenir;
          font-size: 42px;
        }
      }
      h2 {
        font-size: 20px;
        clear: both;
        &+h2 {
          margin: 0 0 30px 0;
        }
      }
      h3 {
        font-family: $kepler;
        font-size: 17px;
      }
      p {
        margin: 0 0 15px 0;
        text-align: justify;
        clear: both;
        a {
          color: #000;
          font-weight: bold;
        }
      }
    }
    div.products {
      position: relative;
      overflow: visible;
      margin-right: 30px;
      border: 1px #ddd solid;
      display: block;
      float: right;
      h1 {
        position: absolute;
        text-indent: -9999px;
        display: block;
        z-index: 1;
      }
      a.product {
        position: absolute;
        color: #000;
        text-decoration: none;
        letter-spacing: -1px;
        display: block;
        p {
          font-family: $avenir;
          font-size: 13px;
          line-height: normal;
          letter-spacing: 0;
          text-transform: uppercase;
          &.price {
            font-style: normal;
          }
        }
      }
    }
    &#helena {
      padding: 18px 0 20px 0;
      div.description {
        background: url("/assets/stylist/helena_linhares/foto.jpg") top right no-repeat;
        h1 {
          margin: 0 0 8px 0;
          &+p {
            width: 250px;
          }
        }
      }
      div.products {
        width: 463px;
        height: 528px;
        h1 {
          background: url("/assets/stylist/helena_linhares/amo.jpg") no-repeat;
          width: 185px;
          height: 56px;
          top: 175px;
          right: 15px;
          z-index: 10;
        }
        a#bilimbi {
          background: url("/assets/stylist/helena_linhares/bilimbi.jpg") top center no-repeat;
          text-align: center;
          width: 139px;
          height: 160px;
          padding: 20px 0 0 0;
          top: 0;
          left: 20px;
        }
        a#albizia {
          background: url("/assets/stylist/helena_linhares/albizia.png") top right no-repeat;
          width: 224px;
          height: 125px;
          padding: 45px 0 0 20px;
          top: -18px;
          right: 0;
        }
        a#flamboyant {
          background: url("/assets/stylist/helena_linhares/flamboyant.jpg") bottom left no-repeat;
          text-align: right;
          width: 230px;
          height: 81px;
          padding: 0 0 22px 5px;
          top: 180px;
          left: 10px;
          z-index: 2;
        }
        a#cipreste {
          background: url("/assets/stylist/helena_linhares/cipreste.jpg") top right no-repeat;
          width: 160px;
          height: 102px;
          padding: 60px 20px 0 0;
          top: 260px;
          left: 170px;
          z-index: 1;
        }
        a#pequi {
          background: url("/assets/stylist/helena_linhares/pequi.jpg") top left no-repeat;
          width: 205px;
          height: 75px;
          padding: 110px 0 0 20px;
          bottom: 0px;
          left: 0px;
        }
        a#juazeiro {
          background: url("/assets/stylist/helena_linhares/juazeiro.png") top right no-repeat;
          width: 179px;
          height: 101px;
          padding: 140px 60px 0 0;
          bottom: -20px;
          right: -25px;
        }
      }
    }
    &#didi_wagner {
      div.description {
        background: url("/assets/stylist/didi_wagner/foto.jpg") top right no-repeat;
        h1 {
          margin: 0 0 8px 0;
          &+p {
            width: 250px;
          }
        }
      }
      div.products {
        width: 463px;
        height: 488px;
        h1 {
          background: url("/assets/stylist/didi_wagner/as-escolhas-da-didi.jpg") no-repeat;
          width: 163px;
          height: 86px;
          top: 40px;
          left: 225px;
        }
        a#flor_do_dia {
          background: url("/assets/stylist/didi_wagner/flor-do-dia.png") top right no-repeat;
          width: 195px;
          height: 145px;
          top: -25px;
          left: 20px;
          padding: 65px 0 0;
        }
        a#petunia {
          background: url("/assets/stylist/didi_wagner/petunia.jpg") top center no-repeat;
          text-align: center;
          width: 123px;
          height: 223px;
          top: 0;
          right: 0px;
          padding: 20px 0 0 0;
          z-index: 1;
        }
        a#central {
          background: url("/assets/stylist/didi_wagner/central.png") bottom center no-repeat;
          text-align: center;
          width: 191px;
          height: 118px;
          bottom: 20px;
          right: -5px;
          padding: 0 0 40px 0px;
        }
        a#botao_de_ouro {
          background: url("/assets/stylist/didi_wagner/botao-de-ouro.jpg") top center no-repeat;
          text-align: center;
          width: 147px;
          height: 35px;
          bottom: 40px;
          left: 195px;
          padding: 145px 0px 0px;
        }
        a#laranjeira {
          background: url("/assets/stylist/didi_wagner/laranjeira.jpg") bottom right no-repeat;
          text-align: right;
          width: 236px;
          height: 83px;
          bottom: 235px;
          left: 140px;
          padding: 0 25px 35px 0px;
        }
        a#cipreste {
          background: url("/assets/stylist/didi_wagner/cipreste.jpg") top right no-repeat;
          width: 179px;
          height: 239px;
          bottom: 10px;
          left: 10px;
          padding: 0 10px 0 0;
        }
      }
    }
  }
}
