@import 'partials/mixins';

section#stylist {
  padding-top: 35px;

  div.profile {
    width: 100%;
    /*overflow: auto;*/
	 float:left;
	 clear:both;
    margin: 0 0 10px;
    h1.stylist {
      background: url("/assets/stylist/stylists_convidadas.png") top center no-repeat;
      text-indent: -9999px;
      width: 990px;
      height: 58px;
      margin: 0 0 42px 0;
      display: block;
    }
    img.models {
      float: left;
      margin: 0 30px 0 0;
    }
    div.description {
      font-size: 14px;
      width: 420px;
      margin: 0 20px 0 0;
      overflow: auto;
      float: left;
      h1, h2 {
        font-family: $johnston;
        font-weight: lighter;
        letter-spacing: -2px;
        text-transform: uppercase;
        width: 241px;
        float: left;
      }
      h1 {
        font-size: 50px;
        line-height: 37px;
        margin: 0px 0 10px 0;
        &+p {
          font-family: $kepler;
          font-size: 15px;
        }
        span {
          font-family: $avenir;
          font-size: 42px;
        }
      }
      h2 {
        font-size: 20px;
        clear: both;
        &+h2 {
          margin: 0 0 30px 0;
        }
      }
      h3 {
        font-family: $kepler;
        font-size: 17px;
      }
      p {
        margin: 0 0 15px 0;
        text-align: justify;
        clear: both;
        a {
          color: #000;
          font-weight: bold;
        }
      }
    }
    div.products {
      position: relative;
      overflow: visible;
      margin-right: 45px;
      border: 1px #ddd solid;
      display: block;
      float: right;
      h1 {
        position: absolute;
        text-indent: -9999px;
        display: block;
        z-index: 1;
      }
      a.product {
        position: absolute;
        color: #000;
        text-decoration: none;
        letter-spacing: -1px;
        display: block;
        p {
          font-family: $avenir;
          font-size: 11px;
          line-height: normal;
          letter-spacing: 0;
          text-transform: uppercase;
			 position:absolute;
			 text-align:center;
          .price {
            font-style: normal;
          }
        }
      }
    }
    &#helena {
      padding: 18px 0 20px 0;
      div.description {
        background: url("/assets/stylist/helena_linhares/foto.jpg") top right no-repeat;
        h1 {
          margin: 0 0 8px 0;
          &+p {
            width: 250px;
          }
        }
      }
      div.products {
        width: 463px;
        height: 528px;
        h1 {
          background: url("/assets/stylist/helena_linhares/amo2.png") no-repeat;
          width: 155px;
          height: 100px;
          top: 126px;
          left: 131px;
          z-index: 10;
        }
        a#trilby{
          background: url("/assets/stylist/helena_linhares/trilby.png") no-repeat;
          text-align: center;
          width: 182px;
          height: 200px;
          top: -19px;
          left: -4px;
          p{top:57px;left:120px;}
        }
        a#tuque{
          background: url("/assets/stylist/helena_linhares/tuque.png") no-repeat;
          width: 192px;
          height: 200px;
          top: -18px;
          right: -14px;
		  z-index:9;
          p{top:80px;left:-46px;}
        }
        a#mesta{
          background: url("/assets/stylist/helena_linhares/mesta.png") no-repeat;
          text-align: left;
          width: 151px;
          height: 121px;
          top: 175px;
          right: -9px;
		  z-index:10;
          p{top:120px;right:18px;}
        }
		a#tifter{
		 background: url("/assets/stylist/helena_linhares/tifter.png") no-repeat;
         width: 118px;
         height: 165px;
         top: 196px;
         right: 152px;
		 p{top:38px;left:61px}
		}			
        a#surah{
          background: url("/assets/stylist/helena_linhares/surah.png") no-repeat;
          width: 250px;
          height: 165px;
          bottom: -5px;
          right: -6px;
          p{top:70px;left:10px;}
        }
	    a#vira{
          background: url("/assets/stylist/helena_linhares/vira.png") no-repeat;
          width: 230px;
          height: 250px;
          bottom: 31px;
          left: -15px;
          p{top:7px;left:17px;}
	    }
      }
    }
    &#didi_wagner {
		&.profile{margin-bottom:40px;}
      div.description {
        background: url("/assets/stylist/didi_wagner/foto.jpg") top right no-repeat;
        h1 {
          margin: 0 0 8px 0;
          &+p {
            width: 245px;
          }
        }
      }
      div.products {
        width: 463px;
        height: 488px;
        h1 {
          background: url("/assets/stylist/didi_wagner/didi_wagner.png") no-repeat;
          width: 125px;
          height: 90px;
          top: 222px;
          left: 133px;
        }
        a#ushanka {
          background: url("/assets/stylist/didi_wagner/choli.png") top center no-repeat;
          text-align: center;
          width: 220px;
          height: 270px;
          top: -35px;
          left: -10px;
			 p{top:40px;left:170px;}
        }
        a#madras {
          background: url("/assets/stylist/didi_wagner/madras.png") top right no-repeat;
          width: 182px;
          height: 195px;
          top: -18px;
          right: 20px;
			 p{top:175px;right:130px;}
        }
        a#aniagem {
          background: url("/assets/stylist/didi_wagner/aniagem.png") top left no-repeat;
          text-align: right;
          width: 250px;
          height: 320px;
          top: 184px;
          right: -17px;
			 p{top:33px;left:173px;}
        }
        a#trench {
          background: url("/assets/stylist/didi_wagner/trench.png") top center no-repeat;
          text-align: center;
          width: 250px;
          height: 151px;
          bottom: -19px;
          left:-10px;
          z-index: 1;
			 p{top:35px;left:160px;}
        }
        a#modal {
          background: url("/assets/stylist/didi_wagner/modal.png") top left no-repeat;
          text-align: right;
          width: 89px;
          height: 179px;
          bottom: 110px;
          left: 40px;
			 p{top:71px;left:-21px;}
        }
      }
    }
	 &#paola_orleans{
		&.profile{margin-bottom:40px;}
		div.description {
        background: url("/assets/stylist/paola_orleans/foto.jpg") top right no-repeat;
		  h1{
			margin-top:10px;line-height:25px;
		  	span{font-size:22px;}
			 &+p {width: 245px;}
		  }
		}
		div.products {
        width: 463px;
        height: 490px;
		h1{	
		 background: url("/assets/stylist/paola_orleans/paola_orleans.png") no-repeat;
         width: 125px;
         height: 90px;
         top: 25px;
         left: 95px;
		}
		a#jarda {
          background: url("/assets/stylist/paola_orleans/jarda.png") top center no-repeat;
          text-align: center;
          width: 188px;
          height: 217px;
          top: 60px;
          left: -11px;
          padding: 10px 0 0 0;
		  p{top:100px;left:130px;}
        }
        a#voile {
          background: url("/assets/stylist/paola_orleans/voile.png") top right no-repeat;
          width: 188px;
          height: 270px;
          top: -23px;
          right: 2px;
		  z-index:8;
		  p{top:29px;right:11px}
        }
        a#tipete {
          background: url("/assets/stylist/paola_orleans/tipete.png") top left no-repeat;
          text-align: right;
          width: 155px;
          height: 206px;
          top: 180px;
          right: -27px;
          padding: 10px 0 0 10px;
		  z-index:7;
		  p{top:167px;right:65px;}
        }
        a#lame {
          background: url("/assets/stylist/paola_orleans/lame.png") top center no-repeat;
          text-align: center;
          width: 145px;
          height: 85px;
          top: 228px;
          right: 160px;
          z-index: 1;
		  p{top:84px;left:60px;}
        }
        a#trews {
          background: url("/assets/stylist/paola_orleans/trews.png") top left no-repeat;
          text-align: right;
          width: 230px;
          height: 135px;
          bottom: -98px;
          right: 10px;
          padding: 90px 0 0 0;
		  p{top:99px;left:-22px;}
        }
        a#talim {
          background: url("/assets/stylist/paola_orleans/fustanella.png") top left no-repeat;
          text-align: right;
          width: 196px;
          height: 222px;
          bottom: -90px;
          left: -2px;
          padding: 90px 0 0 0;
		  p{top:22px;left:6px;}
        }	
		}
	 }
  }
}
