@import "section/product";

div.full_container {
  div.full_bg {
    background: #FFF;
    div#suggestion {
      & > ul {
        margin: 30px 0 20px;
        li {
          a {
            background: image-url('product/arrow-back.jpg') center left no-repeat;
            color: $third_color;
            font-weight: 500;
            text-decoration: none;
            padding: 0 0 0 15px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      div#profile {
        background: image-url('gift/bg-profile-suggestion.jpg') 0 225px no-repeat;
        width: 100%;
        min-height: 505px;
        overflow: auto;
        img {
          margin: 0 20px 0 250px;
          float: left;
        }
        div {
          text-align: center;
          width: 305px;
          margin: 45px 0 0 0;
          float: left;
          h2 {
            font-family: $avenir;
            font-size: 18px;
            text-transform: uppercase;
            margin: 0 0 10px;
          }
          h1 {
            background: image-url('gift/bg-profiles-title.jpg') top center no-repeat;
            font-family: $avenir;
            font-size: 27px;
            font-weight: lighter;
            text-transform: uppercase;
            text-align: center;
            height: 48px;
            margin: 0 0 45px;
            padding: 6px 0 0;
          }
          p {
            a {
              color: $pink;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
      section#products {
        position: relative;
        width: 855px;
        margin: 0 auto 40px;
        padding: 65px 0 0 0;
        overflow: hidden;
        clear: both;
        p.discount {
          position: absolute;
          text-indent: -9999px;
          display: block;
          top: 0;
          z-index: 100;
          &.off20 {
            background: url("/assets/gift/label-20off.png") no-repeat;
            width: 226px;
            height: 80px;
            left: 160px;
          }
          &.off40 {
            background: url("/assets/gift/label-40off.png") no-repeat;
            width: 227px;
            height: 82px;
            left: 470px;
          }
        }
        div.product_container {
          position: relative;
          background: url("/assets/gift/box-products.jpg") no-repeat;
          width: 235px;
          height: 355px;
          margin: 0 75px 0 0;
          display: block;
          float: left;
          ul {
            li.product {
              position: absolute;
              background: #FFF;
              height: 318px;
              top: 2px;
              left: 20px;
              div.hover_suggestive {
                ul {
                  li.add {
                    display: block;
                  }
                }
              }
              .box_product {
                a.product_link {
                  h1 {
                    font-family: $kepler;
                    font-size: 17px;
                    text-align: center;
                  }
                }
                .line {
                  span {
                    font-family: $avenir;
                    font-size: 27px;
                    text-align: center;
                    display: block;
                    float: none;
                    &.old {
                      color: #a9aaac;
                      font-size: 20px;
                      font-weight: normal;
                      line-height: 16px;
                      text-decoration: line-through;
                    }
                  }
                }
              }
              a.delete {
                position: absolute;
                background: image-url("gift/bt-delete-item.jpg") no-repeat;
                text-indent: -9999px;
                width: 99px;
                height: 49px;
                top: 279px;
                right: 48px;
                z-index: 1;
              }
              &:hover {
                padding: 10px;
                border: none;
              }
            }
          }
          &.second {
            background-position: -235px 0;
          }
          &.third {
            background-position: -470px 0;
            margin-right: 0;
          }
        }
      }
      ul.product_actions {
        text-align: center;
        width: 735px;
        margin: 0 auto 70px;
        overflow: hidden;
        li {
          display: inline;
          a, input[type="submit"] {
            text-indent: -99999px;
            width: 356px;
            height: 64px;
            display: inline-block;
            border: none;
            cursor: pointer;
            float: left;
          }
          a {
            background: image-url('gift/bt-choose-products.jpg') no-repeat;
            margin-right: 10px;
          }
          input[type="submit"] {
            background: image-url('gift/bt-add-products-to-cart.jpg') no-repeat;
            margin-left: 10px;
          }
        }
      }
      section#suggestions_container {
        position: relative;
        width: 100%;
        overflow: hidden;
        margin: 0 0 50px;
        & > h2 {
          font-family: $avenir;
          font-size: 18px;
          text-align: center;
          text-transform: uppercase;
          margin: 0 0 8px;
          &+h1 {
            background: #FFF;
            color: #343434;
            font-family: $avenir;
            font-size: 36px;
            font-weight: lighter;
            text-transform: uppercase;
            text-align: center;
            margin: 0 auto 45px;
          }
        }
        & > ul {
          width: 975px;
          overflow: hidden;
          margin: 0 auto;
          li.product {
            .box_product {
              a.product_link {
                p.warn {
                  top: 2px;
                  left: 2px;
                }
                img {
                  width: 170px;
                  height: 170px;
                }
              }
            }
          }
        }
      }
    }
  }
}
