@import "section/product";

div.full_container {
  div.full_bg {
    background: #FFF;
    div#suggestion {
      div#card {
        position: relative;
        background: url("/assets/gift/bg-card.png") top left no-repeat;
        width: 515px;
        height: 202px;
        display: block;
        float: left;
        table {
          position: absolute;
          border-collapse: separate;
          border-spacing: 10px;
          top: 45px;
          left: 80px;
          tbody {
            tr {
              td {
                padding: 0 10px;
                h1, p {
                  font-family: "Open Sans", sans-serif;
                  font-size: 12px;
                  font-weight: 600;
                }
                h1 {
                  color: #8b8b8b;
                }
                .occasion, .relation {
                  text-transform: capitalize;
                }
                p {
                  color: #383838;
                  a {
                    color: #df5b8c;
                    font-size: 10px;
                    margin: 0 0 0 10px;
                  }
                }
              }
            }
          }
        }
      }
      div#profile {
        width: 460px;
        margin: 16px 0 0 0;
        float: right;
        a {
          color: #df5b8c;
          font-size: 10px;
        }
      }
      section#products {
        position: relative;
        width: 855px;
        margin: 0 auto 40px;
        padding: 65px 0 0 0;
        overflow: hidden;
        clear: both;
        p.discount {
          position: absolute;
          text-indent: -9999px;
          display: block;
          top: 0;
          z-index: 100;
          &.off20 {
            background: url("/assets/gift/label-20off.png") no-repeat;
            width: 226px;
            height: 80px;
            left: 160px;
          }
          &.off40 {
            background: url("/assets/gift/label-40off.png") no-repeat;
            width: 227px;
            height: 82px;
            left: 470px;
          }
        }
        div.product_container {
          position: relative;
          background: url("/assets/gift/box-products.jpg") no-repeat;
          width: 235px;
          height: 355px;
          margin: 0 75px 0 0;
          display: block;
          float: left;
          ul {
            li.product {
              position: absolute;
              background: #FFF;
              height: 318px;
              top: 2px;
              left: 20px;
              div.hover_suggestive {
                ul {
                  li.add {
                    display: block;
                  }
                }
              }
              .box_product {
                a.product_link {
                  h1 {
                    font-family: $kepler;
                    font-size: 17px;
                    text-align: center;
                  }
                }
                .line {
                  span {
                    font-family: $avenir;
                    font-size: 27px;
                    text-align: center;
                    display: block;
                    float: none;
                    &.old {
                      color: #a9aaac;
                      font-size: 20px;
                      font-weight: normal;
                      line-height: 16px;
                      text-decoration: line-through;
                    }
                  }
                }
              }
              a.delete {
                position: absolute;
                background: image-url("gift/bt-delete-item.jpg") no-repeat;
                text-indent: -9999px;
                width: 99px;
                height: 49px;
                top: 279px;
                right: 48px;
                z-index: 1;
              }
              &:hover {
                padding: 10px;
                border: none;
              }
            }
          }
          &.second {
            background-position: -235px 0;
          }
          &.third {
            background-position: -470px 0;
            margin-right: 0;
          }
        }
      }
      ul.product_actions {
        text-align: center;
        width: 735px;
        margin: 0 auto 70px;
        overflow: hidden;
        li {
          display: inline;
          a, input[type="submit"] {
            text-indent: -99999px;
            width: 356px;
            height: 64px;
            display: inline-block;
            border: none;
            cursor: pointer;
            float: left;
          }
          a {
            background: image-url('gift/bt-choose-products.jpg') no-repeat;
            margin-right: 10px;
          }
          input[type="submit"] {
            background: image-url('gift/bt-add-products-to-cart.jpg') no-repeat;
            margin-left: 10px;
          }
        }
      }
      section#suggestions_container {
        position: relative;
        background: url("/assets/gift/bg-suggestions-container.jpg") 2px 20px no-repeat;
        width: 100%;
        overflow: hidden;
        margin: 0 0 50px;
        display: none;
        & > h1 {
          background: #FFF;
          color: #343434;
          font-family: "Times", sans-serif;
          font-size: 40px;
          font-style: italic;
          font-weight: lighter;
          letter-spacing: -3px;
          text-transform: uppercase;
          text-align: center;
          width: 385px;
          margin: 0 0 0 295px;
          float: left;
        }
        & > ul {
          width: 975px;
          overflow: hidden;
          margin: 0 auto;
          li.product {
            .box_product {
              a.product_link {
                p.warn {
                  top: 2px;
                  left: 2px;
                }
                img {
                  width: 170px;
                  height: 170px;
                }
              }
            }
          }
        }
      }
    }
  }
}
