@import "section/product";

div.full_container {
  div.full_bg {
    background: #FFF;
    section#suggestion {
      div.content {
        & > ul {
          margin: 30px 0 20px;
          li {
            a {
              background: image-url('product/arrow-back.jpg') center left no-repeat;
              color: $third_color;
              font-weight: 500;
              text-decoration: none;
              padding: 0 0 0 15px;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
      div#profile {
        background: image-url('gift/bg-profile-suggestion.jpg') 0 225px no-repeat;
        width: 100%;
        min-height: 505px;
        overflow: auto;
        img {
          margin: 0 20px 0 250px;
          float: left;
        }
        div {
          text-align: center;
          width: 305px;
          margin: 45px 0 0 0;
          float: left;
          h2 {
            font-family: $avenir;
            font-size: 18px;
            text-transform: uppercase;
            margin: 0 0 10px;
          }
          h1 {
            background: image-url('gift/bg-profiles-title.jpg') top center no-repeat;
            font-family: $avenir;
            font-size: 27px;
            font-weight: lighter;
            text-transform: uppercase;
            text-align: center;
            height: 48px;
            margin: 0 0 45px;
            padding: 6px 0 0;
          }
          p {
            a {
              color: $pink;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
      section#suggestions_container {
        position: relative;
        width: 100%;
        overflow: hidden;
        margin: 0 0 50px;
        & > h2 {
          font-family: $avenir;
          font-size: 18px;
          text-align: center;
          text-transform: uppercase;
          margin: 0 0 8px;
          &+h1 {
            background: #FFF;
            color: #343434;
            font-family: $avenir;
            font-size: 36px;
            font-weight: lighter;
            text-transform: uppercase;
            text-align: center;
            margin: 0 auto 45px;
          }
        }
        div#shoe_size_filter {
          position: relative;
          width: 210px;
          display: inline-block;
          float: right;
          label {
            color: #101010;
            font-size: 13px;
            font-weight: 600;
            line-height: 38px;
            margin-right: 15px;
            float: left;
          }
          span {
            background: image-url('common/black_arrow.jpg') center right no-repeat;
            text-indent: 12px;
            line-height: 32px;
            height: 32px;
            padding: 0 35px 0 0;
            bottom: 0;
            top: 2px;
            border: 1px #e7e7e7 solid;
            cursor: pointer;
            float: left;
          }
          div.sizes {
            position: absolute;
            background: #FFF;
            width: 110px;
            overflow: auto;
            padding: 0 10px;
            top: 33px;
            left: 71px;
            border: 1px #BBB solid;
            z-index: 10;
            display: none;
            ul {
              li {
                float: left;
                label {
                  float: none;
                }
              }
            }
          }
        }
        & > ul {
          width: 975px;
          overflow: hidden;
          margin: 0 auto 30px;
          li.product {
              padding:0px;
              margin-right:20px;
              border:0px;
            div.hover_suggestive {
              bottom: 90px;
              left: -4px;
              ul li a {
                height:36px;
                padding-top:1px;
              }
              ul li a:hover span {
                color:#000;
              }
              ul li a span {
                font-family: avenir, tahoma;
                font-size: 11px;
                font-weight: bold;
                background:image-url('/dev-assets/moments/sprite.png') no-repeat -62px -176px;
                width: 100px;
                height: 40px;
                padding-top: 7px;
              }
            }

            .box_product {
              .plots {
                font-size: inherit;
                font-weight: inherit;
                padding-top: 0;
              }
              .txt-pink {
                font-weight: inherit;
                font-size: inherit;
              }
              .txt-black{
                font-size: 13px;
              }
              .line {
                font-size: 13px;
                a.product_link {
                  margin-left: 0;
                  color: inherit;
                }
              }
              a.product_link {
                  text-align: left;
                p.warn {
                  top: 2px;
                  left: 2px;
                }
                img {
                  width: 146px;
                  height: 219px;
                }
              }
            }
          }
          li.product.promotion {
            .percentage {
              display:none;
            }
          }
          &+h1 {
            background: image-url('gift/bg-products-title.jpg') top left repeat-x;
            font-family: $avenir;
            font-size: 14px;
            line-height: 38px;
            text-align: center;
            text-transform: uppercase;
            margin: 0 auto 30px;
            strong {
              font-weight: 600;
            }
            &.discount {
              width: 725px;
            }
            &.freight {
              width: 575px;
            }
          }
        }
      }
    }
  }
}

ul.breadcrumb {
  display: block !important;
  width:100% !important;
  height:20px !important;
  position: relative !important;
  left:-4px !important;
  top:0px !important;
  margin:0px !important;
  li {
    float:left;
    display: block;
    font-family: verdana;
    font-size: 9px;
    color:#6d6e71;
    padding:0 0 0 10px;
    color:#000;
    text-align: left;
    padding-left:5px;
    a {
      font-family: verdana !important;
      background: image-url('product/breadcrumb.gif') right center no-repeat !important;
      padding:0px !important;
      color:#6d6e71  !important;
      display: block  !important;
      float:left !important;
      padding-right:10px !important;
      text-decoration: none !important;
      text-align: left !important;
      min-width: 10px !important;
      min-height: 10px !important;
      margin: 0 !important;
    }
    a:hover {color:#ef3742;}
  }
}

.content{width:970px !important;}

