@import 'new_structure/partials/fonts';

body {
  .loading {
    background: image-url('common/ajax-loader.gif') #FFF 50% 50% no-repeat;
    width: 990px;
    height: 450px;
    position: absolute;
    z-index: 10;
    opacity:0.85;
    -moz-opacity: 0.85;
    filter: alpha(opacity=85);
  }

  #survey {
    input[type='radio'] {
      display: none;
    }
  }

  h2#tks {
    font-size: 44px;
    font-family: 'Times New Roman', Times, sans-serif;
    text-align: center;
    width: 100%;
    display: block;
    padding: 200px 0;
  }
}
