body {
  #survey {
    input[type='radio'] {
      display: none;
    }
  }

  h2#tks {
    font-size: 44px;
    font-family: 'Times New Roman', Times, sans-serif;
    text-align: center;
    width: 100%;
    display: block;
    padding: 200px 0;
  }
}
