@import "partials/product";

section#welcome {
  margin: 35px auto 0;
  h1.warn {
    color: #333;
    font-size: 35px;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -2px;
    width: 860px;
    margin: 0 auto 40px;
    span {
      color: #df5a8b;
    }
  }
  section#painel {
    position: relative;
    background: url("/assets/welcome/bg-painel-top.png") center top no-repeat;
    width: 970px;
    margin: 0 0 30px 0;
    padding: 20px 10px 20px;
    overflow: auto;
    a.bt_painel {
      background: #df5a8b;
      color: #FFF;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      text-decoration: none;
      margin: 0 0 15px 0;
      padding: 7px 10px;
      float: left;
    }
    div.facebook {
      width: 420px;
      margin: 10px 0 0 0;
      float: right;
      p {
        color: #000;
        font-family: "Times", sans-serif;
        font-size: 17px;
        font-style: italic;
        letter-spacing: -1px;
        margin: 0 10px 0 0;
        float: right;
      }
      iframe {
        float: right;
      }
    }
    div.painel_img {
      text-align: center;
      width: 970px;
      clear: both;
      img {
        margin: 0 0 15px 0;
        display: none;
      }
    }
    div.painel_footer {
      position: absolute;
      background: url("/assets/welcome/bg-painel-bottom.png") center top no-repeat;
      width: 990px;
      height: 25px;
      display: block;
      left: 0;
      bottom: 0;
    }
  }
  section#share {
    position: relative;
    background: url("/assets/welcome/bg-share.png") top no-repeat;
    width: 960px;
    height: 640px;
    display: block;
    h1.title, h2{
      color: #333;
      position: absolute;
      font-family: 'Times New Roman', Times, serif;
      font-size: 52px;
      font-weight: normal;
      font-style: italic;
      letter-spacing: -3px;
    }
    h1.title {
      width: 540px;
      line-height: 40px;
      top: 25px;
      left: 20px;
      span {
        margin: 0 0 0 120px;
        display: block;
      }
    }
    h2 {
      font-size: 110px;
      letter-spacing: -5px;
      top: 8px;
      left: 525px;
      em {
        font-size: 30px;
        margin: 20px 0 0 5px;
        float: right;
      }
    }
  }
}
