form#new_catalog_base,form#edit_catalog_base{
  .field{
    display: block;
    width: 520px;
    border: solid 1px;
    padding: 5px;
    border-color: #ddd;
    input{
      width: 300px;
    }
  }
  fieldset#small_banner_catalog_header, fieldset#big_banner_catalog_header, fieldset#text_catalog_header{
    display: none;
  }
}

