development:
  aws_account: AKIAJ2WH3XLYA24UTAJQ
  aws_secret: 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
  distribution: E2D5958SXOW6JD

test:
  aws_account: AKIAJ2WH3XLYA24UTAJQ
  aws_secret: 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
  distribution: E2D5958SXOW6JD

production:
  aws_account: AKIAJ2WH3XLYA24UTAJQ
  aws_secret: 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
  distribution: E2D5958SXOW6JD
