development:
  adapter: mysql2
  database: olook_development
  username: root
  password: 
  encoding: utf8
  timeout: 5000
  host: localhost
production:
  adapter: mysql2
  database: olook_production
  username: olook
  password: 
  encoding: utf8
  timeout: 5000
  host: localhost
