default: &default
  adapter: mysql
  encoding: utf8
  pool: 5
  username: root
  password: mysql
  host: localhost

development:
  <<: *default
  database: olook_development

test:
  <<: *default
  database: olook_test

production:
  <<: *default
  database: olook_production
