development:
  adapter: sqlite3
  database: db/olook_development.sqlite3
  pool: 5
  timeout: 5000

test:
  adapter: sqlite3
  database: db/olook_test.sqlite3
  pool: 5
  timeout: 5000

production:
  adapter: mysql
  encoding: utf8
  database: olook_production
  username: postgres
  password: postgres
  host: localhost
