development:
  uri: "https://desenvolvedor.moip.com.br/sandbox"
  token: "IVT7GMNEQVLIN1R2NJPWEE4ZEHJ2SVNM"
  key: "QKUXNZGBC9KSN5UWVDYXMV8EVSOHD4HDTB6E6HQ5"

test:
  uri: "https://desenvolvedor.moip.com.br/sandbox"
  token: "IVT7GMNEQVLIN1R2NJPWEE4ZEHJ2SVNM"
  key: "QKUXNZGBC9KSN5UWVDYXMV8EVSOHD4HDTB6E6HQ5"

production:
  uri: "https://www.moip.com.br"
  token: "XUETL1XDVEEN6G3MWD09DSHWV9CGVBOO"
  key: "YGMJX4BKL3CIFEWM3GCYO2RP7EEVPDZNQKIIIERI"
