<h2>Admin</h2>
<div class="inner">
  <p>
    <b>ID:</b>
    <%= @admin.id %>
  </p>

  <p>
    <b>Email</b>
    <%= @admin.email %>
  </p>

  <p>
    <b>Roles:</b>
    <%= @admin.roles %>
  </p>
</div>
