<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<title>Olook</title>
</head>

<body bgcolor="#FFFFFF">

<!-- rpcampaign: RP_##id_campanha# -->

<table border="0" align="center" cellpadding="0" cellspacing="0" width="620">
    <tr>
    <td>
      <table cellpadding="0" cellspacing="0" width="100%" bgcolor="#fff">
        <tr>
          <td width="189"><a href="http://www.olook.com.br/lookbooks/?utm_source=olook&utm_medium=email&utm_campaign=sazonal_diadasmaes_maes12&utm_content=maes12_semd"><img src="http://cdn.olook.com.br/assets/emailmkt/topo_barra/logo.jpg" alt="todos os meses uma nova coleção de sapatos, bolsas e acessórios" border="0" title="todos os meses uma nova coleção de sapatos, bolsas e acessórios" style="display:block"></a></td>
          <td width="212" align="left"><a href="http://www.olook.com.br/lookbooks/?utm_source=olook&utm_medium=email&utm_campaign=sazonal_diadasmaes_maes12&utm_content=maes12_semd"><img src="http://cdn.olook.com.br/assets/emailmkt/topo_barra/frases_corrigido.gif" alt="Todos os produtos por R$69,90 R$99,90, R$129,90 ou R$ 179,90. Frete gratuito para SP e RJ e a partir de R$120. Devolução fácil e gratuita." border="0" title="Todos os produtos por R$69,90 R$99,90, R$129,90 ou R$ 179,90. Frete gratuito para SP e RJ e a partir de R$120. Devolução fácil e gratuita." style="display:block"></a></td>
          <td width="219" bgcolor="#FFFFFF" align="right">
          
          <table cellpadding="0" cellspacing="0" border="0" width="140">
          <tr>
          <td><a href="http://www.twitter.com/olook"><img src="http://cdn.olook.com.br/assets/emailmkt/promos/diadasmaes/ico_tw.jpg" border="0" style="display:block"></a></td>
          <td><a href="http://www.facebook.com/olook"><img src="http://cdn.olook.com.br/assets/emailmkt/promos/diadasmaes/ico_fb.jpg" border="0" style="display:block"></a></td>
          <td><a href="http://blog.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=top_sm&utm_content=iconeblog"><img src="http://cdn.olook.com.br/assets/emailmkt/promos/diadasmaes/ico_blog.jpg" border="0" style="display:block"></a></td>
          </tr>
          </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
     
    <!-- destaque -->
    <!-- variavel -->
  <tr>
    <td>
      <table width="620" border="0" cellpadding="0" cellspacing="0">
      <tr>
      <td width="18" height="74">&nbsp;</td>
        <td width="602" heigh="94" align="center"><font size="5" style="font-style:italic;"><%= @user_name %> quer que você acerte no presente dela este ano!</font></td>
      </tr>
            <tr>
            <td width="18" height="20">&nbsp;</td>
              <td width="602" align="center"><font size="4" style="font-style:italic;">Nunca foi tão fácil e prático comprar o presente de Dia dos Namorados!</font></td>
            </tr>
            <tr>
            <td width="18" height="34"></td>
              <td width="602" align="center"><font size="4" style="font-style:italic;">Sapatos, bolsas e acessórios a partir de R$ 69,90.</font></td>
            </tr>
            </table>
    </td>
  </tr>
    <!--
  <tr>
    <td width="620"><a href="http://www.olook.com.br/presente_namorado/?utm_source=olook&utm_medium=email&utm_campaign=sazonal_welcome_namorados&utm_content=welcomenamorado ">
    <img src="http://cdn.olook.com.br/assets/emailmkt/sazonal/maio2012/namorados/welcome_namorados/1.jpg" alt="" border="0" style="display:block"></a></td>
  </tr>
    -->
    
    <tr>
    <td width="620"><a href="http://www.olook.com.br/presente_namorado/?utm_source=olook&utm_medium=email&utm_campaign=sazonal_welcome_namorados&utm_content=welcomenamorado ">
    <img src="http://cdn.olook.com.br/assets/emailmkt/sazonal/maio2012/namorados/welcome_namorados/2.jpg" alt="" border="0" style="display:block"></a></td>
  </tr>
    <tr>
    <td width="620"><a href="http://www.olook.com.br/presente_namorado/?utm_source=olook&utm_medium=email&utm_campaign=sazonal_welcome_namorados&utm_content=welcomenamorado ">
    <img src="http://cdn.olook.com.br/assets/emailmkt/sazonal/maio2012/namorados/welcome_namorados/3.jpg" alt="" border="0" style="display:block"></a></td>
  </tr>
    
    
    <!-- barra -->
  </table>


</body>
</html>
