<% content_for :head do %>
  <%= stylesheet_link_tag "section/stylists" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "stylists" %>
<% end %>

<section id="stylists">
  <h1>Helena Linhares ...</h1>
</section>
