.filter.main.accessory_models
  %h1.accessories ACESSÓRIOS
  %span.selected-type.filter_type.opened Modelo
  .tab_bg.tab_model &nbsp;
  %ol.open.open-accessory
    = check_box_tag "select_all_accessories", 1, params[:select_all_accessories], :class => "select_all"
    = label_tag "select_all_accessories", "Todos os acessórios"
    - collection_theme_presenter.collection_theme.catalog.accessories.each do |subcategory, label|
      - unless subcategory.nil? && label.nil?
        %li
          = check_box_tag('accessory_subcategories[]', subcategory, params[:accessory_subcategories] && params[:accessory_subcategories].include?(subcategory) || params[:select_all_accessories], :id => subcategory)
          = label_tag(label, nil, :for => subcategory)
    %li.clear_choice
      %button.clear_filter.bt_clear_accessory{:type => "button"} [ limpar ]
