- unless collection_theme_presenter.collection_theme.catalog.care_shoes.empty?
  .filter.main.care_shoes_models
    %p.filter_type.opened
      Proteção & Conforto#{image_tag 'collections/arrow-black.png', :class => 'model'}
    %button.clear_filter.bt_clear_model{:type => "button"} [ limpar ]
    %ol.open
      - collection_theme_presenter.collection_theme.catalog.care_shoes.each do |subcategory,label|
        - unless subcategory.nil? && label.nil?
          %li
            - subcategory_checked = params[:shoe_subcategories] && params[:shoe_subcategories].include?(subcategory) || params[:select_all_shoes]
            = check_box_tag('shoe_subcategories[]', subcategory, subcategory_checked, :id => subcategory.gsub("-",""))
            = label_tag(label, nil, :for => subcategory)
    = image_tag 'collections/arrow-white.png', :class => 'arrow arrow-shoes', style:"display:none"
