<div class="filter main">
  <span class="select filter_type opened cloth_size">Tamanho</span>
  <div class="tab_bg tab_cloth_size">&nbsp;</div>
    <ol class="column_size_cloth">
      <% collection_theme_presenter.collection_theme.catalog.cloth_sizes.each do |size| %>
        <li>
          <%= check_box_tag('cloth_sizes[]', size,  params[:cloth_sizes] && params[:cloth_sizes].include?(size), :id => "size_#{size}") %>
          <%= label_tag(nil, size, :for => "size_#{size}") %>
        </li>
      <% end %>
      <% unless is_moment_page? %>
        <li class="clear_choice"><button type="button" class="clear_filter bt_clear_cloth_size">[ limpar ]</button></li>
      <% end %>
    </ol>
  </div>
