<div class="filter main">
  <p class="filter_type">Tamanho<%= image_tag 'collections/arrow-black.png', :class => 'model' %></p>
  <button type="button" class="clear_filter bt_clear_cloth_size">[ limpar ]</button>
    <ol class="column_size_cloth">
      <% collection_theme_presenter.collection_theme.catalog.cloth_sizes.each do |size| %>
        <li>
          <%= check_box_tag('cloth_sizes[]', size,  params[:cloth_sizes] && params[:cloth_sizes].include?(size), :id => "size_#{size}") %>
          <%= label_tag(nil, size, :for => "size_#{size}") %>
        </li>
      <% end %>
    </ol>
    <%= image_tag 'collections/arrow-white.png', :class => 'arrow arrow-cloth-size', style:"display:none" %>
</div>
