<div class="filter main">
  <% unless is_moment_page? %>
    <h1 class="accessories">ROUPAS</h1>
  <% end %>
  <p class="filter_type opened">Modelo</p>
  <button type="button" class="clear_filter">( limpar )</button>
  <ol class="open">
    <!--li>
      <%= check_box_tag "select_all_accessories", 1, params[:select_all_accessories], :class => "select_all" %>
      <%= label_tag "select_all_accessories", "Todos os acessórios" %>
    </li-->
    <% collection_theme_presenter.collection_theme.catalog.clothes.each do |subcategory, label| %>
      <% unless subcategory.nil? && label.nil? %>
        <li>
          <%= check_box_tag('cloth_subcategories[]', subcategory, params[:cloth_subcategories] && params[:cloth_subcategories].include?(subcategory) || params[:select_all_accessories], :id => subcategory) %>
          <%= label_tag(label, nil, :for => subcategory) %>
        </li>
      <% end %>
    <% end %>
  </ol>
</div>
