<div class="filter main">
  <% unless is_moment_page? %>
    <h1 class="accessories">ROUPAS</h1>
  <% end %>
  <span class="selected-type filter_type opened cloth_model">Modelo</span>
  <div class="tab_bg tab_cloth_model">&nbsp;</div>
  
  <ol class="open open_cloth">
    <!--li>
      <%= check_box_tag "select_all_accessories", 1, params[:select_all_accessories], :class => "select_all" %>
      <%= label_tag "select_all_accessories", "Todos os acessórios" %>
    </li-->
    <% collection_theme_presenter.collection_theme.catalog.clothes.each do |subcategory, label| %>
      <% unless subcategory.nil? && label.nil? %>
        <li>
          <%= check_box_tag('cloth_subcategories[]', subcategory, params[:cloth_subcategories] && params[:cloth_subcategories].include?(subcategory) || params[:select_all_accessories], :id => subcategory) %>
          <%= label_tag(label, nil, :for => subcategory) %>
        </li>
      <% end %>
    <% end %>
    <% unless is_moment_page? %>
      <li class="clear_choice"><button type="button" class="clear_filter bt_clear_cloth">[ limpar ]</button></li>
    <% end %>
  </ol>
</div>
