- if collection_theme_presenter.collection_theme.catalog.heels.size > 0
  .filter.sub.shoe_heel
    %span.selected-type.filter_type.opened Salto
    .tab_bg.tab_shoe_heel &nbsp;
    %ol.column
      - collection_theme_presenter.collection_theme.catalog.heels.each do |heel, label|
        - unless heel == "_"
          %li
            = check_box_tag('heels[]', heel, params[:heels] && params[:heels].include?(heel), :id => heel)
            = label_tag(label ? label : heel, nil, :for => heel)
      %li.clear_choice
        %button.clear_filter.bt_clear_heel{:type => "button"} [ limpar ]
