<div class="filter sub shoe_heel">
  <p class="filter_type">Salto</p>
  <button type="button" class="clear_filter">( limpar )</button>
  <ol class="column">
  <% collection_theme_presenter.collection_theme.catalog.heels.each do |heel, label| %>
    <li>
      <%= check_box_tag('heels[]', heel, params[:heels] && params[:heels].include?(heel), :id => heel) %>
      <%= label_tag(label ? label : heel, nil, :for => heel) %>
    </li>
  <% end %>
  </ol>
</div>






