<div class="filter main shoe_size">
  <p class="filter_type">NOVIDADES<%= image_tag 'collections/arrow-black.png', :class => 'model' %></p>
  <button type="button" class="clear_filter bt_clear_size">[ limpar ]</button>
    <ol class="column-size">
      <%= check_box_tag 'news', true %>
    </ol>
</div>

