#order_filter
  = form_for "" do
    %ol
      %li.select
        = label_tag "ordenação: "
        = select_tag('filter_option', options_for_select({"Relevância" => 0, "Menor preço" => 1, "Maior preço" => 2}), :class => "custom_select")
