<div id="order_filter">
  <%= form_for "" do %>
    <ol>
      <li class="select">
        <%= label_tag "Ordenar por:" %>
        <%= select_tag('order_filter', options_for_select({"Categoria" => 0, "Menor preço" => 1, "Maior preço" => 2}), :class => "custom_select") %>
      </li>
    </ol>
  <% end %>
</div>
