<div class="price-range">
  <p id="min-value-label">0</p>
  <input type="text" id="min-value" />
  <div class="slider"><div id="slider-range"></div></div>
  <p id="max-value-label">0</p>
  <input type="text" id="max-value" />
  <input type="hidden" name="price" id="price" />
</div>  