.price-range
  %p#min-value-label 0
  %input#min-value{:type => "text"}/
  .slider
    #slider-range
  %p#max-value-label 0
  %input#max-value{:type => "text"}/
  %input#price{:name => "price", :type => "hidden"}/
