<div class="filter main shoe_size">
  <p class="filter_type">Tamanho</p>
  <button type="button" class="clear_filter">( limpar )</button>

    <ol class="column">
      <% collection_theme_presenter.collection_theme.catalog.shoe_sizes.each do |key, value| %>
        <% unless key.zero? %>
          <li>
            <% if current_user && current_user.shoes_size %>
              <%= check_box_tag('shoe_sizes[]', key, (key.to_s == current_user.shoes_size.to_s ? true : false), :id => "size_#{key}") %>
            <% else %>
              <%= check_box_tag('shoe_sizes[]', key, false, :id => "size_#{key}") %>
            <% end %>
            <%= label_tag(key, nil, :for => "size_#{key}") %>
          </li>
        <% end %>
      <% end %>
    </ol>

</div>

