<div class="filter main shoe_models">
  <% unless is_moment_page? %>
    <h1 class="shoes">SAPATOS</h1>
  <% end %>
  <span class="selected-type filter_type opened model">Modelo</span>
  <div class="tab_bg tab_cloth_model">&nbsp;</div>
  
  <ol class="open">
    <% collection_theme_presenter.collection_theme.catalog.shoes.each do |subcategory,label| %>
      <% unless subcategory.nil? && label.nil? %>
        <li>
          <%- subcategory_checked = params[:shoe_subcategories] && params[:shoe_subcategories].include?(subcategory) || params[:select_all_shoes] -%>
          <%= check_box_tag('shoe_subcategories[]', subcategory, subcategory_checked, :id => subcategory.gsub("-","")) %>
          <%= label_tag(label, nil, :for => subcategory) %>
        </li>
      <% end %>
    <% end %>
    <% unless is_moment_page? %>
      <li class="clear_choice"><button type="button" class="clear_filter bt_clear_model">[ limpar ]</button></li>
    <% end %>
  </ol>
</div>