#timeline_container{
float:left;
width:76%;
border-left:2px solid black;
}
#timeline_content_column1{
float:left;	
}

#timeline_content ul{
font-size:14px;
}

#timeline_content_column2{
float:left;
margin-left:20px;
padding:20px;
}
