<h2>Listing Discounts</h2>

<div class="inner">
  <table class="table">
    <tr>
      <th>Email</th>
      <th>Nome</th>
      <th>Início do Desconto</th>
      <th>Final do Desconto</th>
      <th>Desconto Utilizado?</th>
    </tr>
  </table>

  <div class="actions-bar wat-cf">
    <div class="pagination">
      <%# will_paginate @users %>
    </div>
  </div>
</div>

