/*------------------------
==== GLOBAL VARIABLES ====
------------------------*/
/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/* line 6, ../../../app/assets/stylesheets/section/avc-campaign.scss */
#content.content {
  width: 973px !important;
}

/* line 8, ../../../app/assets/stylesheets/section/avc-campaign.scss */
#avc .about, #avc .about_rosa {
  width: 640px;
  float: left;
  margin-right: 25px;
}
/* line 11, ../../../app/assets/stylesheets/section/avc-campaign.scss */
#avc h1 {
  margin: 0 0 30px;
}
/* line 12, ../../../app/assets/stylesheets/section/avc-campaign.scss */
#avc .txt-about {
  font-weight: normal;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 14px;
  color: #333333;
  margin-bottom: 25px;
}
/* line 13, ../../../app/assets/stylesheets/section/avc-campaign.scss */
#avc .txt-projetos {
  margin-top: 45px;
  font: 20px 'johnston',arial,sans-serif;
  margin-bottom: 40px;
  color: #000;
  text-transform: uppercase;
}
/* line 15, ../../../app/assets/stylesheets/section/avc-campaign.scss */
#avc section {
  float: left;
  min-height: 435px;
  width: 100%;
}
/* line 18, ../../../app/assets/stylesheets/section/avc-campaign.scss */
#avc section p {
  margin-bottom: 15px;
  line-height: 20px;
  color: #333333;
  letter-spacing: -0.5px;
}
/* line 19, ../../../app/assets/stylesheets/section/avc-campaign.scss */
#avc section a {
  color: #ef3742;
}
/* line 20, ../../../app/assets/stylesheets/section/avc-campaign.scss */
#avc section .f16 {
  font-size: 16px;
}
/* line 22, ../../../app/assets/stylesheets/section/avc-campaign.scss */
#avc section#tv-cinema {
  width: 280px;
  margin-right: 55px;
}
/* line 24, ../../../app/assets/stylesheets/section/avc-campaign.scss */
#avc section#tv-cinema h2 {
  background: url(/dev-assets/campaigns/logos-projetos.jpg) no-repeat 0 0;
  width: 106px;
  height: 136px;
  margin: -15px 0 35px 85px;
  text-indent: -9999px;
}
/* line 26, ../../../app/assets/stylesheets/section/avc-campaign.scss */
#avc section#rede-brasil {
  width: 285px;
  margin-right: 55px;
}
/* line 28, ../../../app/assets/stylesheets/section/avc-campaign.scss */
#avc section#rede-brasil h2 {
  background: url(/dev-assets/campaigns/logos-projetos.jpg) no-repeat -115px -26px;
  width: 166px;
  height: 113px;
  margin: 10px 0 30px 43px;
  text-indent: -9999px;
}
/* line 30, ../../../app/assets/stylesheets/section/avc-campaign.scss */
#avc section#que-tal {
  border: solid 1px #a7a9ac;
  width: 305px;
  min-height: 215px;
  margin: 5px 0 60px;
  background-color: #fafafa;
}
/* line 36, ../../../app/assets/stylesheets/section/avc-campaign.scss */
#avc section#que-tal h2 {
  background: url(/dev-assets/campaigns/logos-projetos.jpg) no-repeat -411px -154px;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, johnston;
  font-size: 14px;
  padding-left: 56px;
  padding-top: 14px;
  display: block;
  height: 46px;
  text-transform: uppercase;
  margin-left: 20px;
  margin-top: 15px;
}
/* line 45, ../../../app/assets/stylesheets/section/avc-campaign.scss */
#avc section#que-tal p {
  width: 255px;
  color: #333333;
  font-size: 14px;
  margin-left: 23px;
}
/* line 52, ../../../app/assets/stylesheets/section/avc-campaign.scss */
#avc section#rosa {
  width: 290px;
}
/* line 54, ../../../app/assets/stylesheets/section/avc-campaign.scss */
#avc section#rosa h2 {
  background: url(/dev-assets/campaigns/logos-projetos.jpg) no-repeat -5px -160px;
  width: 200px;
  height: 126px;
  margin: 23px 0 3px 38px;
  text-indent: -9999px;
}
/* line 56, ../../../app/assets/stylesheets/section/avc-campaign.scss */
#avc section#campanha {
  clear: both;
  margin-top: 10px;
}
/* line 58, ../../../app/assets/stylesheets/section/avc-campaign.scss */
#avc section#campanha div {
  float: left;
  width: 714px;
  margin-right: 10px;
}
/* line 59, ../../../app/assets/stylesheets/section/avc-campaign.scss */
#avc section#campanha .txt-campanha {
  font: 20px 'johnston',arial,sans-serif;
  text-transform: uppercase;
}
/* line 60, ../../../app/assets/stylesheets/section/avc-campaign.scss */
#avc section#campanha h3 {
  font: 16px 'johnston',arial,sans-serif;
  text-transform: uppercase;
  margin-bottom: 25px;
}
/* line 61, ../../../app/assets/stylesheets/section/avc-campaign.scss */
#avc section#campanha .txt-foto {
  font: 12px 'avenir', arial, sans-serif;
  text-align: center;
  width: 240px;
  float: left;
  margin-left: 30px;
}
/* line 62, ../../../app/assets/stylesheets/section/avc-campaign.scss */
#avc section#campanha .btn-colabore {
  display: block;
  width: 370px;
  height: 65px;
  background: url(/dev-assets/campaigns/logos-projetos.jpg) no-repeat 0 -151px;
  margin: 10px 0 0 175px;
  float: left;
}
/* line 66, ../../../app/assets/stylesheets/section/avc-campaign.scss */
#avc .about_rosa {
  width: 620px;
  margin-top: 25px;
  margin-bottom: 45px;
  margin-right: 0;
}
/* line 71, ../../../app/assets/stylesheets/section/avc-campaign.scss */
#avc .about_rosa h2 {
  text-transform: uppercase;
}
/* line 74, ../../../app/assets/stylesheets/section/avc-campaign.scss */
#avc .about_rosa a {
  text-indent: -9999px;
  width: 331px;
  height: 49px;
  display: block;
  background: url(/dev-assets/campaigns/logos-projetos.jpg) no-repeat 0 -290px;
}
/* line 80, ../../../app/assets/stylesheets/section/avc-campaign.scss */
#avc .about_rosa a:hover {
  background: url(/dev-assets/campaigns/logos-projetos.jpg) no-repeat 0 -343px;
}
/* line 85, ../../../app/assets/stylesheets/section/avc-campaign.scss */
#avc .selo_rosa {
  float: right;
  margin-top: 94px;
}
