/* line 134, ../../../app/assets/stylesheets/common/_images.scss */
.banner_mothers_day {
  margin-bottom: 10px;
}

/* line 134, ../../../app/assets/stylesheets/common/_images.scss */
.banner_mothers_day {
  margin-bottom: 10px;
}

/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/* line 134, ../../../app/assets/stylesheets/common/_images.scss */
.banner_mothers_day {
  margin-bottom: 10px;
}

/* line 134, ../../../app/assets/stylesheets/common/_images.scss */
.banner_mothers_day {
  margin-bottom: 10px;
}

/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/* line 3, ../../../app/assets/stylesheets/partials/_product.scss */
li.product {
  position: relative;
  margin: 0 0 2px 0;
  padding: 10px;
  overflow: hidden;
  display: inline-block;
  float: left;
}
/* line 10, ../../../app/assets/stylesheets/partials/_product.scss */
li.product div.hover_suggestive {
  position: absolute;
  background: none;
  width: 100%;
  bottom: 25px;
  left: 0;
  display: none;
  z-index: 10;
}
/* line 18, ../../../app/assets/stylesheets/partials/_product.scss */
li.product div.hover_suggestive ul {
  margin: 0;
  padding: 0 !important;
}
/* line 21, ../../../app/assets/stylesheets/partials/_product.scss */
li.product div.hover_suggestive ul li {
  text-align: center;
  margin: 0;
}
/* line 24, ../../../app/assets/stylesheets/partials/_product.scss */
li.product div.hover_suggestive ul li a {
  background: url(/dev-assets/common/bg-spy.png) repeat;
  color: #101010;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, johnston;
  font-size: 13px;
  font-weight: lighter;
  line-height: 32px;
  text-decoration: none;
  text-transform: uppercase;
  height: 32px;
  margin: 0 auto;
  display: block;
}
/* line 36, ../../../app/assets/stylesheets/partials/_product.scss */
li.product div.hover_suggestive ul li a span {
  background: url(/dev-assets/common/icon-spy-on.png) left center no-repeat;
  color: #000;
  line-height: 16px;
  display: inline-block;
  padding: 0 0 0 19px;
}
/* line 44, ../../../app/assets/stylesheets/partials/_product.scss */
li.product div.hover_suggestive ul li a:hover span {
  color: #ef3742;
}
/* line 49, ../../../app/assets/stylesheets/partials/_product.scss */
li.product div.hover_suggestive ul li.add {
  display: none;
}
/* line 51, ../../../app/assets/stylesheets/partials/_product.scss */
li.product div.hover_suggestive ul li.add a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #ef3742;
  color: #FFF;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 9px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  width: 150px;
  margin: -120px auto 0;
  padding: 0 10px;
}
/* line 68, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product {
  position: absolute;
  bottom: 0;
  left: 0;
  /* new size photo */
  display: inline-block;
  clear: left;
}
/* line 71, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a.product_link {
  position: relative;
}
/* line 73, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a.product_link p.warn {
  position: absolute;
  display: none;
  text-indent: -9999px !important;
}
/* line 77, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a.product_link p.warn.sold_out {
  background: url(/dev-assets/common/sold_out.png) no-repeat;
  color: #999;
  width: 72px;
  height: 30px;
}
/* line 83, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a.product_link p.warn.quantity {
  background: url(/dev-assets/common/quantity.png) no-repeat;
  word-spacing: -1px;
  width: 62px;
  height: 30px;
}
/* line 89, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a.product_link p.warn.shoe_size {
  background: url(/dev-assets/common/number.png) no-repeat;
  word-spacing: -1px;
  width: 51px;
  height: 30px;
}
/* line 95, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a.product_link p.warn.percentage {
  top: 65px !important;
  left: 120px !important;
  background: url(/dev-assets/moments/sprite.png) no-repeat 0 -109px;
  width: 60px;
  height: 60px;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir !important;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  padding-top: 10px;
  display: block;
}
/* line 108, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a.product_link p.warn.percentage span {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}
/* line 115, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a.product_link img {
  margin: 0 0 10px 0;
  /*border-bottom: 1px #b2b2b2 solid;*/
}
/* line 120, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a {
  text-decoration: none;
  float: left;
}
/* line 123, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a h1 {
  background: none;
  color: #000;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 5px;
  padding: 0;
  overflow: hidden;
  float: none;
}
/* line 136, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line {
  width: 100%;
  overflow: hidden;
  margin: 0 auto 10px;
}
/* line 140, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line .like_mask {
  width: 106px;
  height: 24px;
  display: block;
  overflow: hidden;
  float: left;
}
/* line 148, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line .fb-like .fb_edge_comment_widget {
  display: none;
}
/* line 151, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line .fb-like iframe {
  overflow: hidden !important;
}
/* line 153, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line a {
  float: none;
}
/* line 156, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line ol, li.product .box_product .line img {
  float: left;
}
/* line 159, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line ol {
  height: 28px;
  margin: 0 0 0 5px;
}
/* line 162, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line ol li {
  margin: 6px 0 0 0;
  display: inline !important;
  float: left;
}
/* line 167, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line ol li a img {
  width: 15px;
  height: 15px;
  border: 2px #D7D7D7 solid;
}
/* line 173, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line ol li a:hover img, li.product .box_product .line ol li a.selected img {
  border: 2px #000 solid;
}
/* line 180, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line .like, li.product .box_product .line span {
  float: right;
}
/* line 183, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line span {
  color: #343434;
  font-size: 16px;
  letter-spacing: -1px;
  margin-right: 2px;
  padding: 3px 0 0 0;
}
/* line 190, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line .like {
  background: url(/dev-assets/common/ico-heart-off.png) no-repeat;
  text-indent: -9999px;
  color: #716d68;
  font-family: Arial;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  width: 14px;
  height: 14px;
  display: block;
}
/* line 202, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line .like:hover, li.product .box_product .line .like.selected {
  background: url(/dev-assets/common/ico-heart-on.png) no-repeat;
  color: #ff7db0;
}
/* line 209, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product.sold_out a p.sold_out {
  top: 2px;
  left: 2px;
  display: block;
}
/* line 213, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product.sold_out a p.sold_out + p.shoe_size {
  background: url(/dev-assets/common/number-sold-out.png) no-repeat;
  left: 61px !important;
  display: block;
}
/* line 221, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product.stock_down a p.quantity {
  top: 2px;
  left: 2px;
  display: block;
}
/* line 225, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product.stock_down a p.quantity + p.shoe_size {
  left: 53px !important;
  display: block;
}
/* line 232, ../../../app/assets/stylesheets/partials/_product.scss */
li.product:hover {
  padding: 5px;
  border: 5px #F4F4F4 solid;
}
/* line 235, ../../../app/assets/stylesheets/partials/_product.scss */
li.product:hover div.hover_suggestive {
  display: block;
}
/* line 238, ../../../app/assets/stylesheets/partials/_product.scss */
li.product:hover p.know {
  display: block;
}
/* line 245, ../../../app/assets/stylesheets/partials/_product.scss */
li.product.promotion .box_product .line span {
  color: #ef3742;
  font-size: 15px;
  font-weight: bold;
  float: none;
}
/* line 250, ../../../app/assets/stylesheets/partials/_product.scss */
li.product.promotion .box_product .line span.old {
  color: #000;
  font-size: 12px;
  font-weight: normal;
  line-height: 9px;
  text-decoration: line-through;
}

/* line 264, ../../../app/assets/stylesheets/partials/_product.scss */
#showroom li.product, #lookbooks li.product, #welcome li.product, #profile_products li.product {
  width: 178px;
  height: 275px;
}
/* line 270, ../../../app/assets/stylesheets/partials/_product.scss */
#showroom li.product div.hover_suggestive ul li.spy a, #lookbooks li.product div.hover_suggestive ul li.spy a, #welcome li.product div.hover_suggestive ul li.spy a, #profile_products li.product div.hover_suggestive ul li.spy a {
  width: 170px;
}
/* line 278, ../../../app/assets/stylesheets/partials/_product.scss */
#showroom li.product .box_product a.product_link p.warn, #lookbooks li.product .box_product a.product_link p.warn, #welcome li.product .box_product a.product_link p.warn, #profile_products li.product .box_product a.product_link p.warn {
  top: 2px;
  left: -9px;
}
/* line 282, ../../../app/assets/stylesheets/partials/_product.scss */
#showroom li.product .box_product a.product_link img, #lookbooks li.product .box_product a.product_link img, #welcome li.product .box_product a.product_link img, #profile_products li.product .box_product a.product_link img {
  width: 146px;
}
/* line 285, ../../../app/assets/stylesheets/partials/_product.scss */
#showroom li.product .box_product a.product_link h1, #lookbooks li.product .box_product a.product_link h1, #welcome li.product .box_product a.product_link h1, #profile_products li.product .box_product a.product_link h1 {
  width: 170px;
  height: 18px;
}

/* line 294, ../../../app/assets/stylesheets/partials/_product.scss */
#product div.hover_suggestive, #cart div.hover_suggestive {
  top: 235px;
}
/* line 298, ../../../app/assets/stylesheets/partials/_product.scss */
#product div.hover_suggestive ul li.spy a, #cart div.hover_suggestive ul li.spy a {
  width: 260px;
}
/* line 306, ../../../app/assets/stylesheets/partials/_product.scss */
#product .box_product a.product_link p.warn, #cart .box_product a.product_link p.warn {
  top: 2px;
  left: -9px;
}
/* line 310, ../../../app/assets/stylesheets/partials/_product.scss */
#product .box_product a.product_link img, #cart .box_product a.product_link img {
  width: 260px;
  height: 260px;
}
/* line 314, ../../../app/assets/stylesheets/partials/_product.scss */
#product .box_product a.product_link h1, #cart .box_product a.product_link h1 {
  width: 250px;
  height: 17px;
}
/* line 321, ../../../app/assets/stylesheets/partials/_product.scss */
#product div#carousel div.hover_suggestive, #cart div#carousel div.hover_suggestive {
  top: 140px;
}
/* line 325, ../../../app/assets/stylesheets/partials/_product.scss */
#product div#carousel div.hover_suggestive ul li.spy a, #cart div#carousel div.hover_suggestive ul li.spy a {
  width: 180px;
}

/* line 334, ../../../app/assets/stylesheets/partials/_product.scss */
#friends li.product {
  width: 160px;
  height: 316px;
}
/* line 337, ../../../app/assets/stylesheets/partials/_product.scss */
#friends li.product div.hover_suggestive {
  top: 125px;
}
/* line 341, ../../../app/assets/stylesheets/partials/_product.scss */
#friends li.product div.hover_suggestive ul li.spy a {
  width: 150px;
}
/* line 349, ../../../app/assets/stylesheets/partials/_product.scss */
#friends li.product .box_product a.product_link p.warn {
  top: 2px;
  left: -9px;
}
/* line 353, ../../../app/assets/stylesheets/partials/_product.scss */
#friends li.product .box_product a.product_link img {
  width: 150px;
  height: 150px;
}
/* line 357, ../../../app/assets/stylesheets/partials/_product.scss */
#friends li.product .box_product a.product_link h1 {
  width: 150px;
  height: 17px;
}

/* line 366, ../../../app/assets/stylesheets/partials/_product.scss */
#liquidation ul#products {
  clear: both;
}

/* line 368, ../../../app/assets/stylesheets/partials/_product.scss */
#liquidation li.product, #moments li.product {
  width: 160px;
  height: 225px;
}
/* line 371, ../../../app/assets/stylesheets/partials/_product.scss */
#liquidation li.product div.hover_suggestive, #moments li.product div.hover_suggestive {
  top: 125px;
}
/* line 375, ../../../app/assets/stylesheets/partials/_product.scss */
#liquidation li.product div.hover_suggestive ul li.spy a, #moments li.product div.hover_suggestive ul li.spy a {
  width: 150px;
}
/* line 383, ../../../app/assets/stylesheets/partials/_product.scss */
#liquidation li.product .box_product a.product_link p.warn, #moments li.product .box_product a.product_link p.warn {
  top: 2px;
  left: -9px;
  /*&.percentage {
    left: 2px;
  }*/
}
/* line 390, ../../../app/assets/stylesheets/partials/_product.scss */
#liquidation li.product .box_product a.product_link img, #moments li.product .box_product a.product_link img {
  width: 150px;
  height: 150px;
}
/* line 394, ../../../app/assets/stylesheets/partials/_product.scss */
#liquidation li.product .box_product a.product_link h1, #moments li.product .box_product a.product_link h1 {
  width: 150px;
  height: 17px;
}

/* line 407, ../../../app/assets/stylesheets/partials/_product.scss */
#moments li.product .box_product a.product_link h1 {
  font-size: 14px;
  width: auto !important;
  float: left;
}
/* line 412, ../../../app/assets/stylesheets/partials/_product.scss */
#moments li.product .box_product a.product_link > span {
  color: #343434;
  font-size: 14px;
  letter-spacing: -1px;
  margin-right: 2px;
  margin: 0 7px 0 0;
  float: right;
}
/* line 425, ../../../app/assets/stylesheets/partials/_product.scss */
#moments li.product.promotion .box_product a.product_link > span {
  color: #ef3742;
  text-align: right;
  padding: 2px 0 0;
  display: block;
  clear: both;
  border-top: 1px #eee solid;
  float: none;
}
/* line 433, ../../../app/assets/stylesheets/partials/_product.scss */
#moments li.product.promotion .box_product a.product_link > span.old {
  color: #000;
  font-size: 12px;
  text-decoration: line-through;
  padding: 0;
  display: inline;
  clear: none;
  border: none;
  float: right;
}

/* line 451, ../../../app/assets/stylesheets/partials/_product.scss */
#suggestion li.product {
  width: 175px;
  height: 316px;
}
/* line 457, ../../../app/assets/stylesheets/partials/_product.scss */
#suggestion li.product div.hover_suggestive ul li.spy a {
  width: 170px;
}
/* line 465, ../../../app/assets/stylesheets/partials/_product.scss */
#suggestion li.product .box_product a.product_link p.warn {
  top: 2px;
  left: -9px;
}
/* line 469, ../../../app/assets/stylesheets/partials/_product.scss */
#suggestion li.product .box_product a.product_link img {
  width: 170px;
  height: 170px;
}
/* line 473, ../../../app/assets/stylesheets/partials/_product.scss */
#suggestion li.product .box_product a.product_link h1 {
  width: 170px;
  height: 17px;
}

/*******COLECAO**********/
/* line 7, ../../../app/assets/stylesheets/section/collections.scss */
div.collections_products div#products_container div.loading {
  background: url(/dev-assets/common/ajax-loader.gif) center no-repeat;
  width: 770px;
  height: 30px;
  margin: 0 auto;
  display: none;
  clear: both;
}
/* line 15, ../../../app/assets/stylesheets/section/collections.scss */
div.collections_products div#products_container div.pagination {
  clear: both;
}
/* line 17, ../../../app/assets/stylesheets/section/collections.scss */
div.collections_products div#products_container div.pagination a, div.collections_products div#products_container div.pagination span, div.collections_products div#products_container div.pagination em.current {
  display: none;
}
/* line 21, ../../../app/assets/stylesheets/section/collections.scss */
div.collections_products div#products_container .new_brands {
  font-weight: bold;
  font-size: 18px;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  color: #000;
  float: left;
  text-align: center;
  border-top: 2px solid #cdcdcd;
  padding-top: 20px;
  padding-bottom: 55px;
  margin-top: 5px;
}
/* line 22, ../../../app/assets/stylesheets/section/collections.scss */
div.collections_products div#products_container .new_brands .star_left {
  margin-right: 7px;
}
/* line 23, ../../../app/assets/stylesheets/section/collections.scss */
div.collections_products div#products_container .new_brands .star_right {
  margin-left: 7px;
}

/********* HOME ********/
/* line 28, ../../../app/assets/stylesheets/section/collections.scss */
.content {
  position: relative;
}

/* line 31, ../../../app/assets/stylesheets/section/collections.scss */
section#stylist_selection {
  width: 800px;
  float: right;
  margin-right: 20px;
}
/* line 32, ../../../app/assets/stylesheets/section/collections.scss */
section#stylist_selection .product {
  margin-left: 5px;
  width: 235px;
}
/* line 36, ../../../app/assets/stylesheets/section/collections.scss */
section#stylist_selection a {
  color: #000;
  text-decoration: none;
}
/* line 40, ../../../app/assets/stylesheets/section/collections.scss */
section#stylist_selection .container_product ul li {
  height: 295px;
}
/* line 46, ../../../app/assets/stylesheets/section/collections.scss */
section#stylist_selection #stylist_title {
  background: url(/dev-assets/collections/bg-title-selection.png) center repeat-x;
  margin-top: 25px;
  height: 30px;
  text-align: center;
  text-transform: uppercase;
}
/* line 52, ../../../app/assets/stylesheets/section/collections.scss */
section#stylist_selection #stylist_title #title {
  padding: 5px;
  background: #FFF;
  font-family: Arial, "Trebuchet Ms", Times, "Times New Roman", serif, KeplerStdItalic;
  font-size: 27px;
}

/* line 60, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content {
  float: left;
  width: 800px;
}

/* line 62, ../../../app/assets/stylesheets/section/collections.scss */
div#home_collections {
  height: 700px;
}
/* line 64, ../../../app/assets/stylesheets/section/collections.scss */
div#home_collections .banner_principal {
  width: 800px;
  height: 340px;
}
/* line 68, ../../../app/assets/stylesheets/section/collections.scss */
div#home_collections .tropicaliente, div#home_collections .andre_lima {
  width: 380px;
  height: 320px;
  float: left;
  margin-top: 35px;
}
/* line 75, ../../../app/assets/stylesheets/section/collections.scss */
div#home_collections .andre_lima {
  margin-left: 38px;
}
/* line 78, ../../../app/assets/stylesheets/section/collections.scss */
div#home_collections .collection {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 22px;
  color: black;
  margin-top: 25px;
}
/* line 84, ../../../app/assets/stylesheets/section/collections.scss */
div#home_collections .resume {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 12px;
  color: black;
}
/* line 89, ../../../app/assets/stylesheets/section/collections.scss */
div#home_collections .looks {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 10px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  margin-top: 7px;
  background: url(/dev-assets/collections/sprite.png) no-repeat -166px 3px;
  height: 23px;
}
/* line 98, ../../../app/assets/stylesheets/section/collections.scss */
div#home_collections .looks a {
  text-decoration: none;
}
/* line 100, ../../../app/assets/stylesheets/section/collections.scss */
div#home_collections .looks a:hover {
  color: #ef3742;
}

/* line 108, ../../../app/assets/stylesheets/section/collections.scss */
div#amamos {
  position: relative;
  overflow: hidden;
  border-top: 1px black dotted;
  width: 780px;
  margin-top: 45px;
}
/* line 114, ../../../app/assets/stylesheets/section/collections.scss */
div#amamos h1 {
  margin: 40px 0;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 35px;
}
/* line 120, ../../../app/assets/stylesheets/section/collections.scss */
div#amamos div#products_amamos {
  width: 2000px;
}
/* line 122, ../../../app/assets/stylesheets/section/collections.scss */
div#amamos div#products_amamos p.rotulo {
  font-size: 12px;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  color: white;
  text-transform: uppercase;
}
/* line 127, ../../../app/assets/stylesheets/section/collections.scss */
div#amamos div#products_amamos p.rotulo b {
  position: absolute;
  left: 10px;
  top: 5px;
}
/* line 133, ../../../app/assets/stylesheets/section/collections.scss */
div#amamos div#products_amamos .caroufredsel_wrapper ul {
  padding-top: 20px;
  padding-left: 5px;
}
/* line 139, ../../../app/assets/stylesheets/section/collections.scss */
div#amamos ul {
  margin: 0 auto;
}
/* line 141, ../../../app/assets/stylesheets/section/collections.scss */
div#amamos ul li {
  position: relative;
  padding-left: 10px;
  float: left;
  margin-right: 15px;
}
/* line 146, ../../../app/assets/stylesheets/section/collections.scss */
div#amamos ul li img {
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #3e3e3e;
}
/* line 152, ../../../app/assets/stylesheets/section/collections.scss */
div#amamos ul li .rotulo {
  position: absolute;
  top: -13px;
  left: -3px;
  background: url(/dev-assets/collections/sprite.png) no-repeat -100px -72px;
  height: 36px;
  width: 175px;
}
/* line 160, ../../../app/assets/stylesheets/section/collections.scss */
div#amamos ul li a {
  display: block;
}
/* line 163, ../../../app/assets/stylesheets/section/collections.scss */
div#amamos ul li p {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 12px;
  color: black;
  line-height: 18px;
}
/* line 171, ../../../app/assets/stylesheets/section/collections.scss */
div#amamos ul li p.brand {
  font-size: 12px;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}
/* line 178, ../../../app/assets/stylesheets/section/collections.scss */
div#amamos ul li p.price {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 12px;
  color: black;
}

/* line 187, ../../../app/assets/stylesheets/section/collections.scss */
button.nav {
  position: absolute;
  text-indent: -9999px;
  float: left;
  border: none;
  background: no-repeat;
  cursor: pointer;
  background: url(/dev-assets/collections/sprite.png) no-repeat 1px -55px;
  height: 65px;
  width: 40px;
  top: 1023px;
}
/* line 198, ../../../app/assets/stylesheets/section/collections.scss */
button.nav.bt_left {
  left: 133px;
}
/* line 202, ../../../app/assets/stylesheets/section/collections.scss */
button.nav.bt_right {
  background: url(/dev-assets/collections/sprite.png) no-repeat -40px -55px;
  right: -2px;
}

/*******  MENU ******/
/* line 210, ../../../app/assets/stylesheets/section/collections.scss */
#collections_menu dl {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  color: #000;
}
/* line 211, ../../../app/assets/stylesheets/section/collections.scss */
#collections_menu dt {
  float: left;
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: bold;
}
/* line 212, ../../../app/assets/stylesheets/section/collections.scss */
#collections_menu dd {
  clear: both;
}
/* line 213, ../../../app/assets/stylesheets/section/collections.scss */
#collections_menu dd.last {
  margin-bottom: 25px;
}
/* line 214, ../../../app/assets/stylesheets/section/collections.scss */
#collections_menu dd a {
  text-decoration: none;
  color: #000;
  font-size: 13px;
}
/* line 215, ../../../app/assets/stylesheets/section/collections.scss */
#collections_menu dd a:hover {
  color: #EF3742;
}
/* line 216, ../../../app/assets/stylesheets/section/collections.scss */
#collections_menu dd a.selected {
  color: #EF3742;
}

/******** INTERNAS *******/
/* line 222, ../../../app/assets/stylesheets/section/collections.scss */
section {
  margin-top: 10px;
}
/* line 223, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_menu {
  float: left;
  width: 160px;
  padding-left: 10px;
}
/* line 224, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content {
  float: left;
  width: 800px;
}
/* line 225, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_header {
  position: relative;
  margin-bottom: 35px;
  height: 140px;
  float: left;
  margin-top: 14px;
}
/* line 226, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_header a {
  position: absolute;
  top: 110px;
  font-size: 10px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}
/* line 227, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_header a:hover {
  text-decoration: underline;
}
/* line 228, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_header a.video_link {
  left: 52px;
}
/* line 232, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters .filters {
  float: left;
  margin: 0 0 30px;
  color: #000;
  border: solid 1px #A7A9AC;
  padding: 10px 10px 5px;
  width: 779px;
  line-height: 20px;
  display: none;
}
/* line 233, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters .filters h1 {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 12px;
  font-weight: lighter;
  text-transform: uppercase;
  float: left;
  margin-right: 15px;
}
/* line 234, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters .filters h1 b {
  font-weight: bold;
}
/* line 235, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters .filters h1 b span {
  margin-left: 10px;
}
/* line 239, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters .filters #tags ul li {
  float: left;
  margin-left: 5px;
}
/* line 244, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters .filters li button {
  border: none;
  background: none;
  cursor: pointer;
  width: 27px;
  height: 19px;
  padding: 0;
  font-size: 0;
  font-family: a;
  line-height: 0;
  background: url(/dev-assets/moments/sprite.png) right -157px no-repeat;
}
/* line 245, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters .filters li button.cleanFilter {
  font-size: 11px;
  color: #6D6E71;
  background: none;
  border: none;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  cursor: pointer;
  width: 100%;
  text-transform: none;
  margin-left: 5px;
}
/* line 249, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode {
  clear: both;
  padding-top: 5px;
  color: #000;
  height: 25px;
  margin-bottom: 35px;
}
/* line 250, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode p {
  text-transform: uppercase;
  font-size: 11px;
  float: left;
}
/* line 251, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode p span {
  margin: 0 5px;
}
/* line 252, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode p span.selected {
  font-weight: bold;
}
/* line 253, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode p span:hover {
  cursor: pointer;
}
/* line 256, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode #filters_container {
  height: 37px;
  border-bottom: solid 1px #CCC;
}
/* line 259, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode #filters_container #category_filters {
  float: left;
  top: -1px;
  left: 0;
  position: relative;
}
/* line 266, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode #filters_container span.selected-type {
  display: inline-block;
  height: 19px;
  cursor: pointer;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 20px;
  padding: 0 35px 0 0;
  text-indent: 6px;
  border-top: solid 1px #D7D7D7;
  border-bottom: solid 1px #D7D7D7;
  border-left: solid 1px #D7D7D7;
  background: url(/dev-assets/collections/bullet_arrow.png) right -1px no-repeat;
  color: #000;
}
/* line 267, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode #filters_container span.selected-type.cloth_size {
  width: 59px;
}
/* line 268, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode #filters_container span.selected-type.cloth_model {
  width: 80px;
}
/* line 269, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode #filters_container span.selected-type.model {
  width: 60px;
}
/* line 270, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode #filters_container span.selected-type.filter_selected {
  color: #EF3742 !important;
}
/* line 273, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode #filters_container div.select {
  position: relative;
  float: left;
  margin-right: 14px;
  /*overflow: auto;display: inline;*/
}
/* line 274, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode #filters_container div.select select {
  position: absolute;
  line-height: 26px;
  width: 125px;
  top: 0;
  left: 0;
  border: solid 1px #D7D7D7;
}
/* line 275, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode #filters_container div.select span.selected-type {
  width: 95px;
}
/* line 277, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode #filters_container div.select.category_type select {
  width: 97px;
}
/* line 278, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode #filters_container div.select.category_type span.selected-type {
  width: 60px;
}
/* line 285, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode #order_filter {
  float: left !important;
  width: 225px !important;
  height: 30px;
  margin-left: 55px;
}
/* line 286, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode #order_filter label {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 11px;
  margin-right: 5px;
  line-height: 22px;
}
/* line 288, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode #order_filter li.select span.selected-type {
  background: url(/dev-assets/moments/sprite.png) right 4px no-repeat !important;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 18px;
  width: 105px;
  text-indent: 6px;
}
/* line 291, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter {
  float: left;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 12px;
  color: #717171;
  position: relative;
  top: 1px;
  margin-right: 12px;
}
/* line 293, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter .tab_bg {
  display: none;
  position: absolute;
  z-index: 101;
  border-left: solid 1px #E2E2E2;
  border-right: solid 1px #E2E2E2;
  background: #FFF;
  height: 17px;
}
/* line 294, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter .tab_bg.tab_model {
  width: 94px;
}
/* line 295, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter .tab_bg.tab_color {
  width: 61px;
}
/* line 296, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter .tab_bg.tab_cloth_size {
  width: 86px;
}
/* line 297, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter .tab_bg.tab_cloth_model {
  width: 114px;
}
/* line 298, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter .tab_bg.tab_cloth_size, section#collections_content .collections_filters div.exhibition-mode .filter .tab_bg.tab_shoe_size {
  width: 93px;
}
/* line 299, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter .tab_bg.tab_shoe_heel {
  width: 72px;
}
/* line 302, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter p {
  color: black;
  margin-left: 15px;
  cursor: pointer;
}
/* line 303, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter .clear_filter {
  background: none;
  border: none;
  float: right;
  color: #717171;
  display: none;
  cursor: pointer;
  text-transform: uppercase;
}
/* line 305, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter .bt_clear_size {
  left: 0;
  top: 143px !important;
}
/* line 306, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter .bt_clear_color {
  left: -20px;
  top: 109px;
  padding-right: 5px;
  margin-top: 15px;
}
/* line 307, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter .bt_clear_heel {
  left: -18px;
  top: 166px;
}
/* line 308, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter .bt_clear_model {
  left: 2px;
  top: 215px !important;
}
/* line 309, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter .bt_clear_bag_color {
  left: -109px;
  top: 125px !important;
  margin-top: 10px !important;
}
/* line 310, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter .bt_clear_bag {
  top: 140px !important;
  right: -160px;
}
/* line 311, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter .bt_clear_accessory {
  left: 1px !important;
  top: 139px !important;
}
/* line 312, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter .bt_clear_cloth {
  right: -165px !important;
  top: 180px !important;
}
/* line 313, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter .bt_clear_cloth_size {
  top: 150px !important;
  right: -110px !important;
}
/* line 315, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter h1 {
  display: none;
}
/* line 316, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter ol {
  overflow: hidden;
  z-index: 100;
  position: absolute;
  top: 37px;
  background-color: #FFF;
  padding: 0 15px 10px;
  border: 1px solid #E2E2E2;
  display: none;
}
/* line 317, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter ol.color_filter {
  width: 175px;
  height: auto;
  left: 0;
}
/* line 318, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter ol.color_filter li {
  width: 90px !important;
  height: 18px;
}
/* line 320, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter ol.open {
  width: 185px;
  height: auto;
}
/* line 321, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter ol.open_cloth {
  width: 220px;
  height: auto;
}
/* line 322, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter ol.column {
  width: 130px;
  height: auto;
}
/* line 323, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter ol.column-size {
  width: 130px;
  height: auto;
}
/* line 324, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter ol.column_size_cloth {
  width: 175px;
  height: auto;
}
/* line 325, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter ol.column_size_cloth li {
  width: 70px;
}
/* line 327, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter ol.open-bags {
  width: 230px;
}
/* line 328, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter ol.open-bags li {
  width: 110px;
}
/* line 330, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter ol.open-accessory {
  width: 330px;
  height: 120px;
}
/* line 331, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter ol.open-accessory li {
  width: 110px;
}
/* line 333, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter ol li {
  width: 120px;
  height: 20px;
  position: relative;
}
/* line 334, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_filters div.exhibition-mode .filter ol li.clear_choice {
  position: absolute;
  top: 10px;
  right: 0;
}
/* line 341, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_products ul#products {
  clear: both;
  width: 763px;
  margin: 0 auto;
}
/* line 342, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_products ul#products li.product {
  position: relative;
  height: 370px;
  /* new size photo */
  width: 200px;
  margin: 0 23px 35px;
  padding: 0;
  float: left;
  /***** OVERRIDE HOVER_SUGGESTIVE ****/
  /***** END ******/
}
/* line 344, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_products ul#products li.product span.plots {
  color: inherit;
  font-size: inherit;
  padding-top: 0;
  float: none;
}
/* line 350, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_products ul#products li.product a.product_link {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 13px;
  margin: 0;
}
/* line 356, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_products ul#products li.product a.product_link img {
  border-bottom: solid 1px #B9BABD;
  margin: 0;
  width: 200px;
  /* new size photo */
  height: auto;
  /* new size photo */
}
/* line 362, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_products ul#products li.product a.product_link h1 {
  font-size: 13px;
  margin: 0;
  height: 18px;
  /* new size photo */
}
/* line 367, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_products ul#products li.product a.product_link p {
  line-height: 18px;
  /**** OVERRIDE LABEL PRODUCTS ****/
  /****** END *****/
}
/* line 368, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_products ul#products li.product a.product_link p.brand {
  text-transform: uppercase;
  font-weight: bold;
}
/* line 369, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_products ul#products li.product a.product_link p .old {
  text-decoration: line-through;
}
/* line 370, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_products ul#products li.product a.product_link p .txt-pink {
  color: #E05A8C;
}
/* line 372, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_products ul#products li.product a.product_link p.warn {
  left: 160px;
  top: 120px;
}
/* line 373, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_products ul#products li.product a.product_link p.warn.sold_out {
  background: url(/dev-assets/moments/sprite.png) no-repeat 0 -76px;
  line-height: 25px;
  padding-left: 4px;
  text-align: left;
  width: 100px;
  color: #000;
  left: 0;
  top: 57px;
}
/* line 374, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_products ul#products li.product a.product_link p.warn.quantity {
  background: none #FFF !important;
  border: 1px solid #000;
  color: #000;
  font-family: 'avenir_medium';
  font-weight: 600;
  height: 20px;
  width: 74px;
  line-height: 20px !important;
  text-align: center;
  word-spacing: -1px;
  left: 0;
  top: 60px;
}
/* line 375, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_products ul#products li.product a.product_link p.warn.shoe_size {
  background: none #000;
  height: 20px;
  left: 25px !important;
  line-height: 20px !important;
  top: 81px !important;
  width: 55px;
  word-spacing: -1px;
}
/* line 376, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_products ul#products li.product a.product_link p.warn.percentage {
  left: 155px !important;
  top: 122px !important;
  background: url(/dev-assets/moments/sprite.png) no-repeat 0 -109px;
  width: 60px;
  height: 60px;
  font-size: 14px;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  text-align: center;
}
/* line 377, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_products ul#products li.product a.product_link p.warn.percentage span {
  font-size: 14px;
  font-weight: normal;
}
/* line 383, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_products ul#products li.product:hover {
  border: 0;
  padding: 0;
}
/* line 384, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_products ul#products li.product div.hover_suggestive {
  bottom: 25px;
  left: 0;
}
/* line 386, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_products ul#products li.product div.hover_suggestive ul {
  float: none;
}
/* line 387, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_products ul#products li.product div.hover_suggestive ul li.spy {
  margin: 0;
}
/* line 388, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_products ul#products li.product div.hover_suggestive ul li.spy a {
  width: 100%;
  height: 54px;
  position: absolute;
  left: 0;
  bottom: 44px !important;
  font-size: 16px;
  font-style: italic;
  line-height: 54px;
}
/* line 389, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_products ul#products li.product div.hover_suggestive ul li.spy a span {
  background: url(/dev-assets/moments/sprite.png) no-repeat right -178px !important;
  padding: 5px 26px 9px 0;
}
/* line 390, ../../../app/assets/stylesheets/section/collections.scss */
section#collections_content .collections_products ul#products li.product div.hover_suggestive ul li.spy a:hover span {
  color: #000;
}

/* line 401, ../../../app/assets/stylesheets/section/collections.scss */
.main_color {
  margin: 0 0 10px 0;
  float: left;
  clear: both;
}
/* line 402, ../../../app/assets/stylesheets/section/collections.scss */
.main_color button {
  float: right;
  border: none;
  background: none;
  line-height: 18px;
  cursor: pointer;
  color: #141414;
  display: none;
  padding: 0;
}
/* line 403, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol {
  width: 180px;
  padding-bottom: 5px;
  float: left;
  clear: both;
  display: none;
}
/* line 404, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol.open {
  display: block;
}
/* line 405, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li {
  height: 15px;
  padding-left: 19px;
  margin: 8px 0 0 30px !important;
}
/* line 406, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li.clear_choice {
  margin-top: 0 !important;
}
/* line 407, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li button {
  margin-top: 0 !important;
}
/* line 408, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li label {
  color: #6d6e71;
  letter-spacing: -1px;
  line-height: 22px;
}
/* line 409, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li input {
  float: left;
  margin-left: -40px !important;
}
/* line 411, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li.amarelo {
  background: url(/dev-assets/common/thumbs_cor.png) no-repeat 0px -302px;
}
/* line 414, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li.azul {
  background: url(/dev-assets/common/thumbs_cor.png) no-repeat 0px -382px;
}
/* line 417, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li.bege {
  background: url(/dev-assets/common/thumbs_cor.png) no-repeat 0px -239px;
}
/* line 420, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li.branco {
  background: url(/dev-assets/common/thumbs_cor.png) no-repeat 0px -415px;
}
/* line 423, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li.cinza {
  background: url(/dev-assets/common/thumbs_cor.png) no-repeat 0px -270px;
}
/* line 426, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li.cobra {
  background: url(/dev-assets/common/thumbs_cor.png) no-repeat 0px -93px;
}
/* line 429, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li.cobre {
  background: url(/dev-assets/common/thumbs_cor.png) no-repeat 0px 2px;
}
/* line 432, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li.dourado {
  background: url(/dev-assets/common/thumbs_cor.png) no-repeat 0px -13px;
}
/* line 435, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li.floral {
  background: url(/dev-assets/common/thumbs_cor.png) no-repeat 0px -77px;
}
/* line 438, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li.laranja {
  background: url(/dev-assets/common/thumbs_cor.png) no-repeat 0px -318px;
}
/* line 441, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li.listras {
  background: url(/dev-assets/common/thumbs_cor.png) no-repeat 0px -109px;
}
/* line 444, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li.marrom {
  background: url(/dev-assets/common/thumbs_cor.png) no-repeat 0px -254px;
}
/* line 447, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li.multicolorido {
  background: url(/dev-assets/common/thumbs_cor.png) no-repeat 0px -125px;
}
/* line 450, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li.nude {
  background: url(/dev-assets/common/thumbs_cor.png) no-repeat 0px -222px;
}
/* line 453, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li.off-white {
  background: url(/dev-assets/common/thumbs_cor.png) no-repeat 0px -432px;
}
/* line 456, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li.onix {
  background: url(/dev-assets/common/thumbs_cor.png) no-repeat 0px -29px;
}
/* line 459, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li.onca {
  background: url(/dev-assets/common/thumbs_cor.png) no-repeat 0px -141px;
}
/* line 462, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li.poas {
  background: url(/dev-assets/common/thumbs_cor.png) no-repeat 0px -157px;
}
/* line 465, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li.prateado {
  background: url(/dev-assets/common/thumbs_cor.png) no-repeat 0px -45px;
}
/* line 468, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li.preto {
  background: url(/dev-assets/common/thumbs_cor.png) no-repeat 0px -286px;
}
/* line 471, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li.rosa {
  background: url(/dev-assets/common/thumbs_cor.png) no-repeat 0px -350px;
}
/* line 474, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li.rose {
  background: url(/dev-assets/common/thumbs_cor.png) no-repeat 0px -61px;
}
/* line 477, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li.roxo {
  background: url(/dev-assets/common/thumbs_cor.png) no-repeat 0px -366px;
}
/* line 480, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li.vaca {
  background: url(/dev-assets/common/thumbs_cor.png) no-repeat 0px -173px;
}
/* line 483, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li.verde {
  background: url(/dev-assets/common/thumbs_cor.png) no-repeat 0px -398px;
}
/* line 486, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li.vermelho {
  background: url(/dev-assets/common/thumbs_cor.png) no-repeat 0px -334px;
}
/* line 489, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li.xadrez {
  background: url(/dev-assets/common/thumbs_cor.png) no-repeat 0px -189px;
}
/* line 492, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol li.zebra {
  background: url(/dev-assets/common/thumbs_cor.png) no-repeat 0px -205px;
}
/* line 497, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol.column li {
  width: 80px;
  float: left;
}
/* line 502, ../../../app/assets/stylesheets/section/collections.scss */
.main_color ol.color_filter {
  width: 200px !important;
  height: 200px !important;
  overflow: auto !important;
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

/* fix Webkit to windows */
/* line 516, ../../../app/assets/stylesheets/section/collections.scss */
html.win.webkit #filters_container div.select.category_type select, html.win.webkit #filters_container div.sort_filter span.selected-type, html.win.ff2 #filters_container div.select.category_type select, html.win.ff2 #filters_container div.sort_filter span.selected-type {
  width: 102px !important;
}
/* line 517, ../../../app/assets/stylesheets/section/collections.scss */
html.win.webkit #filters_container div.category_type span.selected-type, html.win.ff2 #filters_container div.category_type span.selected-type {
  width: 68px !important;
}
/* line 519, ../../../app/assets/stylesheets/section/collections.scss */
html.win.webkit #filters_container div.select, html.win.webkit div.exhibition-mode .filter, html.win.ff2 #filters_container div.select, html.win.ff2 div.exhibition-mode .filter {
  margin-right: 11px !important;
}
/* line 521, ../../../app/assets/stylesheets/section/collections.scss */
html.win.webkit #filters_container div.select select, html.win.ff2 #filters_container div.select select {
  width: 137px !important;
}
