/*------------------------
==== GLOBAL VARIABLES ====
------------------------*/
/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/* line 3, ../../../app/assets/stylesheets/section/contact.scss */
body #error_explanation {
  width: 460px;
}
/* line 6, ../../../app/assets/stylesheets/section/contact.scss */
body div#contact_content {
  width: 405px;
  height: 455px;
  margin: 25px 20px 0 0;
  float: left;
}
/* line 11, ../../../app/assets/stylesheets/section/contact.scss */
body div#contact_content h1 {
  font-family: "johnston", Arial, sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  margin: 0 0 15px 0;
  display: block;
}
/* line 18, ../../../app/assets/stylesheets/section/contact.scss */
body div#contact_content h2 {
  font-family: KeplerStdItalic, Times, "Times New Roman", sans-serif;
  font-size: 16px;
  margin: 0 0 27px 0;
}
/* line 23, ../../../app/assets/stylesheets/section/contact.scss */
body div#contact_content p {
  margin: 0 0 20px 0;
}
/* line 25, ../../../app/assets/stylesheets/section/contact.scss */
body div#contact_content p.time {
  color: #101010;
}
/* line 29, ../../../app/assets/stylesheets/section/contact.scss */
body div#contact_content ul {
  background: #FFF;
  width: 365px;
  overflow: hidden;
  margin: 0 0 10px 0;
  padding: 2px 12px;
  border: 1px #d2d2d2 solid;
}
/* line 36, ../../../app/assets/stylesheets/section/contact.scss */
body div#contact_content ul li {
  float: left;
}
/* line 38, ../../../app/assets/stylesheets/section/contact.scss */
body div#contact_content ul li.phone {
  background: url(/dev-assets/contact/ico-phone.png) left no-repeat;
  color: #3b3b3b;
  font-size: 15px;
  font-weight: bold;
  margin: 0 15px 0 0;
  padding: 5px 10px 5px 25px;
  border-right: 1px #d2d2d2 solid;
}
/* line 47, ../../../app/assets/stylesheets/section/contact.scss */
body div#contact_content ul li.mail {
  padding: 5px 0 5px 0;
}
/* line 49, ../../../app/assets/stylesheets/section/contact.scss */
body div#contact_content ul li.mail a {
  background: url(/dev-assets/contact/ico-mail.png) left no-repeat;
  color: #3b3b3b;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  padding: 0 0 0 25px;
}
/* line 56, ../../../app/assets/stylesheets/section/contact.scss */
body div#contact_content ul li.mail a:hover {
  text-decoration: underline;
}
/* line 64, ../../../app/assets/stylesheets/section/contact.scss */
body form#contact {
  background: #FFF;
  width: 525px;
  padding: 20px 0;
  margin: 25px 0 0 0;
  float: right;
  border: 1px #d2d2d2 solid;
}
/* line 71, ../../../app/assets/stylesheets/section/contact.scss */
body form#contact fieldset {
  width: 465px;
  overflow: auto;
  margin: 0 auto;
}
/* line 75, ../../../app/assets/stylesheets/section/contact.scss */
body form#contact fieldset.inputs {
  margin-bottom: 15px;
}
/* line 77, ../../../app/assets/stylesheets/section/contact.scss */
body form#contact fieldset.inputs ol li {
  position: relative;
  width: 100%;
  margin: 0 0 12px 0;
  overflow: hidden;
}
/* line 82, ../../../app/assets/stylesheets/section/contact.scss */
body form#contact fieldset.inputs ol li select.custom_select {
  position: absolute;
  line-height: 26px;
  width: 250px;
  height: 34px;
  top: 0;
  left: 106px;
}
/* line 90, ../../../app/assets/stylesheets/section/contact.scss */
body form#contact fieldset.inputs ol li span.select {
  position: absolute;
  background: url(/dev-assets/contact/bg-select.png) no-repeat;
  line-height: 34px;
  width: 255px;
  height: 34px;
  text-indent: 22px;
  left: 95px;
  z-index: 0;
}
/* line 100, ../../../app/assets/stylesheets/section/contact.scss */
body form#contact fieldset.inputs ol li label {
  text-align: right;
  line-height: 35px;
  width: 80px;
  margin-right: 15px;
  float: left;
}
/* line 107, ../../../app/assets/stylesheets/section/contact.scss */
body form#contact fieldset.inputs ol li input[type="text"], body form#contact fieldset.inputs ol li input[type="email"] {
  background: url(/dev-assets/common/bg-inputs.png) repeat-x;
  width: 266px;
  border: 1px solid #C1C1C1;
  padding: 7px 8px;
  height: 17px;
}
/* line 113, ../../../app/assets/stylesheets/section/contact.scss */
body form#contact fieldset.inputs ol li input[type="text"]:focus, body form#contact fieldset.inputs ol li input[type="email"]:focus {
  outline: none;
}
/* line 117, ../../../app/assets/stylesheets/section/contact.scss */
body form#contact fieldset.inputs ol li textarea {
  background: #f3f3f3 url(/dev-assets/common/bg-inputs.png) bottom repeat-x;
  width: 350px;
  height: 100px;
  padding: 7px 8px;
  border: 1px solid #C1C1C1;
}
/* line 123, ../../../app/assets/stylesheets/section/contact.scss */
body form#contact fieldset.inputs ol li textarea:focus {
  outline: none;
}
/* line 130, ../../../app/assets/stylesheets/section/contact.scss */
body form#contact fieldset.buttons input[type="submit"] {
  width: 206px;
  height: 49px;
  display: block;
  border: none;
  cursor: pointer;
  float: right;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #e82d3a;
  background: linear-gradient(to bottom, #eb6a73 0%, #e82d3a 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: "Trebuchet Ms" !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
}
/* line 35, ../../../app/assets/stylesheets/new_structure/common/_global_stuffs.scss */
body form#contact fieldset.buttons input[type="submit"]:hover {
  background: #eb6a73;
  background: linear-gradient(to bottom, #e82d3a 0%, #eb6a73 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: "Trebuchet Ms" !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
}

/* line 150, ../../../app/assets/stylesheets/section/contact.scss */
.ie form#contact fieldset.inputs ol li select.custom_select {
  left: 100px;
}

/* line 160, ../../../app/assets/stylesheets/section/contact.scss */
.ie body div#contact_content ul {
  width: 350px;
}
