/* line 134, ../../../app/assets/stylesheets/common/_images.scss */
.banner_mothers_day {
  margin-bottom: 10px;
}

/* line 134, ../../../app/assets/stylesheets/common/_images.scss */
.banner_mothers_day {
  margin-bottom: 10px;
}

/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/* line 3, ../../../app/assets/stylesheets/section/earn_credits.scss */
section#earn_credits {
  position: relative;
  width: 100%;
  padding: 20px 0;
  overflow: auto;
}
/* line 8, ../../../app/assets/stylesheets/section/earn_credits.scss */
section#earn_credits h1 {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, johnston;
  font-family: 26px;
  text-transform: uppercase;
}
/* line 13, ../../../app/assets/stylesheets/section/earn_credits.scss */
section#earn_credits section {
  width: 443px;
  overflow: auto;
  display: block;
  padding: 20px 25px 0 40px;
  float: left;
}
/* line 19, ../../../app/assets/stylesheets/section/earn_credits.scss */
section#earn_credits section h2, section#earn_credits section h3 {
  font-family: Arial, "Trebuchet Ms", Times, "Times New Roman", serif, KeplerStdItalic;
}
/* line 22, ../../../app/assets/stylesheets/section/earn_credits.scss */
section#earn_credits section h2 {
  font-size: 26px;
}
/* line 25, ../../../app/assets/stylesheets/section/earn_credits.scss */
section#earn_credits section h3 {
  font-size: 20px;
  margin: 0 0 20px;
}
/* line 29, ../../../app/assets/stylesheets/section/earn_credits.scss */
section#earn_credits section#left {
  width: 455px;
  min-height: 390px;
  padding-left: 0;
  border-right: 2px #CCC solid;
}
/* line 34, ../../../app/assets/stylesheets/section/earn_credits.scss */
section#earn_credits section#left h3 {
  margin-bottom: 35px;
}
/* line 37, ../../../app/assets/stylesheets/section/earn_credits.scss */
section#earn_credits section#left div.social {
  width: 443px;
}
/* line 39, ../../../app/assets/stylesheets/section/earn_credits.scss */
section#earn_credits section#left div.social form {
  margin: 0 0 15px;
}
/* line 41, ../../../app/assets/stylesheets/section/earn_credits.scss */
section#earn_credits section#left div.social form textarea {
  width: 395px;
}
/* line 46, ../../../app/assets/stylesheets/section/earn_credits.scss */
section#earn_credits section#left div.link_mail {
  padding: 0;
}
/* line 48, ../../../app/assets/stylesheets/section/earn_credits.scss */
section#earn_credits section#left div.link_mail h2 {
  color: #666;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 15px;
}
/* line 54, ../../../app/assets/stylesheets/section/earn_credits.scss */
section#earn_credits section#left div.link_mail ul li {
  margin: 0 10px 0 0;
  float: left;
}
/* line 59, ../../../app/assets/stylesheets/section/earn_credits.scss */
section#earn_credits section#left div.link_mail div.box_copy {
  top: 60px;
  left: 270px;
}
/* line 66, ../../../app/assets/stylesheets/section/earn_credits.scss */
section#earn_credits section#right ul.steps {
  margin: 0 auto 20px;
  overflow: auto;
}
/* line 69, ../../../app/assets/stylesheets/section/earn_credits.scss */
section#earn_credits section#right ul.steps li {
  background: url(/dev-assets/loyalty/icons.jpg) no-repeat;
  background-position: -149px 0;
  font-size: 13px;
  text-align: center;
  width: 130px;
  margin: 0 20px 0 0;
  padding: 170px 0 0 0;
  display: inline-block;
  float: left;
}
/* line 79, ../../../app/assets/stylesheets/section/earn_credits.scss */
section#earn_credits section#right ul.steps li:first-child {
  background-position: 4px 0;
}
/* line 82, ../../../app/assets/stylesheets/section/earn_credits.scss */
section#earn_credits section#right ul.steps li:last-child, section#earn_credits section#right ul.steps li.last {
  background-position: -301px 0;
  margin: 0;
}
/* line 88, ../../../app/assets/stylesheets/section/earn_credits.scss */
section#earn_credits section#right a {
  width: 251px;
  height: 29px;
  margin: 0 auto;
  display: block;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 10px;
  background: #e82d3a;
  background: linear-gradient(to bottom, #eb6a73 0%, #e82d3a 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: "Trebuchet Ms" !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
}
/* line 36, ../../../app/assets/stylesheets/partials/_mixins.scss */
section#earn_credits section#right a:hover {
  background: #eb6a73;
  background: linear-gradient(to bottom, #e82d3a 0%, #eb6a73 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: "Trebuchet Ms" !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
}
