/*------------------------
==== GLOBAL VARIABLES ====
------------------------*/
/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/*------------------------
==== GLOBAL VARIABLES ====
------------------------*/
/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/*------------------------
==== GLOBAL VARIABLES ====
------------------------*/
/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/* line 3, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box {
  padding: 0 0 0 70px;
  width: 102px;
  height: 140px;
  float: right;
  background: url(/dev-assets/common/nav/sprite_header.png) -164px -193px;
  position: absolute;
  right: 0px;
  top: 40px;
}
/* line 4, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box img {
  margin: 0 7px 20px 0;
  float: left;
}
/* line 5, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box h3 {
  color: #36569e;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 14px;
  font-weight: lighter;
}
/* line 6, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box h3 span {
  font-size: 17px;
  font-weight: bold;
}
/* line 8, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box .like {
  clear: both;
  padding-top: -20px;
  width: 100px;
}
/* line 9, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box .fb-button {
  width: 100px;
}

/****** IE8 HACK *******/
/* line 14, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
html.ie8 section#home li.iehack {
  margin: 0 !important;
}

/* AJUSTE FACEBOOK IFRAME */
/* line 18, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
.fb-button {
  height: 20px !important;
  overflow: hidden !important;
  margin-top: -40px;
}

/* line 4, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories {
  width: 1020px;
  height: 200px;
  margin: 0 0 18px;
  padding: 15px 0 0 0;
  float: left;
}
/* line 5, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories img {
  margin-left: 7px;
}
/* line 8, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul {
  width: 100%;
  overflow: auto;
  margin-top: 35px;
}
/* line 10, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li a {
  width: 63px;
  height: 100px;
  background: url(/dev-assets/home/categories.png) no-repeat;
  color: #000;
  float: left;
  text-indent: -9999px;
  margin-right: 29px;
}
/* line 11, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li a:hover {
  color: #ef3742;
}
/* line 13, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.blusa a {
  background-position: -5px 0px;
}
/* line 14, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.blusa a:hover {
  background-position: -5px -147px;
}
/* line 16, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.camisa a {
  background-position: -100px 0px;
}
/* line 17, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.camisa a:hover {
  background-position: -100px -147px;
}
/* line 19, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.calca a {
  background-position: -196px 0px;
}
/* line 20, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.calca a:hover {
  background-position: -196px -147px;
}
/* line 22, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.vestido a {
  background-position: -293px 0px;
}
/* line 23, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.vestido a:hover {
  background-position: -293px -147px;
}
/* line 25, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.anabela a {
  background-position: -387px 0px;
}
/* line 26, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.anabela a:hover {
  background-position: -387px -147px;
}
/* line 28, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.bota a {
  background-position: -477px 0px;
}
/* line 29, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.bota a:hover {
  background-position: -477px -147px;
}
/* line 31, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.sapatilha a {
  background-position: -570px 0px;
}
/* line 32, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.sapatilha a:hover {
  background-position: -570px -147px;
}
/* line 34, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.scarpin a {
  background-position: -662px 0px;
}
/* line 35, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.scarpin a:hover {
  background-position: -662px -147px;
}
/* line 37, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.rasteira a {
  background-position: -756px 0px;
}
/* line 38, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.rasteira a:hover {
  background-position: -756px -147px;
}
/* line 40, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.bolsas a {
  background-position: -853px 0px;
}
/* line 41, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.bolsas a:hover {
  background-position: -853px -147px;
}
/* line 43, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.acessorios a {
  background-position: -943px 0px;
  margin-right: 0 !important;
}
/* line 44, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.acessorios a:hover {
  background-position: -943px -147px;
}

/* line 50, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
section#boxes {
  width: 970px;
  overflow: auto;
  margin: 0 10px 55px;
}
/* line 52, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
section#boxes ul li {
  background: #f8f8f8;
  width: 311px;
  height: 287px;
  display: block;
  margin: 0 15px 0 0;
  float: left;
  border: 1px #c2c2c2 solid;
  overflow: hidden;
}
/* line 53, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
section#boxes ul li a {
  color: #231f20;
  text-decoration: none;
}
/* line 54, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
section#boxes ul li a h1 {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 17px;
  text-transform: uppercase;
  margin: 16px 0 3px 24px;
  font-weight: lighter;
}
/* line 55, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
section#boxes ul li a p {
  background: url(/dev-assets/home/arrows-pink.png) right center no-repeat;
  font-size: 15px;
  display: inline;
  margin: 0 0 0 24px;
  padding: 0 20px 0 0;
}
/* line 57, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
section#boxes ul li a:hover p {
  color: #ef3742;
}
/* line 60, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
section#boxes ul li:last-child {
  margin: 0;
  float: right;
}

/*------------------------
==== GLOBAL VARIABLES ====
------------------------*/
/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/* line 2, ../../../app/assets/stylesheets/new_structure/partials/_home_stylist_box.css.scss */
.other-products {
  clear: both;
  border-top: solid 1px #CBCBCB;
  margin: 20px 0 50px;
  color: #58595B;
  font-size: 21px;
  padding-top: 28px;
  font-style: italic;
}

/*********************
 HOME STYLIST PARTIAL
*********************/
/* line 6, ../../../app/assets/stylesheets/new_structure/partials/_home_stylist_box.css.scss */
section#stylists {
  position: relative;
  min-height: 270px;
  margin: 0 0 30px;
  padding: 10px 0 30px;
}
/* line 7, ../../../app/assets/stylesheets/new_structure/partials/_home_stylist_box.css.scss */
section#stylists p.title {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 30px;
  color: #000;
  font-weight: lighter;
  letter-spacing: 3px;
}
/* line 8, ../../../app/assets/stylesheets/new_structure/partials/_home_stylist_box.css.scss */
section#stylists p.title span {
  color: #ef3742;
}
/* line 12, ../../../app/assets/stylesheets/new_structure/partials/_home_stylist_box.css.scss */
section#stylists h2 {
  position: absolute;
  background: url(/dev-assets/home/olook-loved.jpg) no-repeat;
  text-indent: -99999px;
  width: 104px;
  height: 104px;
  display: block;
  top: 0;
  left: 75px;
}
/* line 13, ../../../app/assets/stylesheets/new_structure/partials/_home_stylist_box.css.scss */
section#stylists ul.products_list {
  width: 100%;
  overflow: auto;
}
/* line 14, ../../../app/assets/stylesheets/new_structure/partials/_home_stylist_box.css.scss */
section#stylists ul.products_list li {
  margin: 0 0 0 42px;
  float: left;
}
/* line 15, ../../../app/assets/stylesheets/new_structure/partials/_home_stylist_box.css.scss */
section#stylists ul.products_list li a {
  color: #000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  float: left;
}
/* line 16, ../../../app/assets/stylesheets/new_structure/partials/_home_stylist_box.css.scss */
section#stylists ul.products_list li a h1 {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 12px;
  font-weight: 600;
}

/* line 5, ../../../app/assets/stylesheets/section/error.scss */
.message {
  padding: 45px 0 20px;
  text-align: center;
  color: #000;
  /*background: image-url('common/pattern_404.jpg') repeat;*/
}
/* line 6, ../../../app/assets/stylesheets/section/error.scss */
.message p {
  font-size: 18px;
}
/* line 7, ../../../app/assets/stylesheets/section/error.scss */
.message p.subtitle {
  font-size: 20px;
  margin-bottom: 25px;
}
/* line 8, ../../../app/assets/stylesheets/section/error.scss */
.message p.opsss {
  font-size: 130px;
  margin-bottom: 20px;
  line-height: 130px;
}
/* line 9, ../../../app/assets/stylesheets/section/error.scss */
.message p.mb10 {
  margin-bottom: 10px;
}
/* line 11, ../../../app/assets/stylesheets/section/error.scss */
.message a {
  display: block;
  color: #ef3742;
  font-size: 18px;
  text-decoration: none;
}
/* line 12, ../../../app/assets/stylesheets/section/error.scss */
.message a:hover {
  color: #ef3742;
}

/* line 17, ../../../app/assets/stylesheets/section/error.scss */
footer {
  margin-top: 0px;
}
