/* line 134, ../../../app/assets/stylesheets/common/_images.scss */
.banner_mothers_day {
  margin-bottom: 10px;
}

/* line 134, ../../../app/assets/stylesheets/common/_images.scss */
.banner_mothers_day {
  margin-bottom: 10px;
}

/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/* line 2, ../../../app/assets/stylesheets/section/forget_password.scss */
.social-media {
  display: block;
  width: 450px;
  height: 96px;
  float: left;
  margin-top: 61px;
}
/* line 8, ../../../app/assets/stylesheets/section/forget_password.scss */
.social-media li {
  background: url(/dev-assets/login/social_icons.png) no-repeat;
  width: 180px;
  height: 58px;
  float: left;
}
/* line 13, ../../../app/assets/stylesheets/section/forget_password.scss */
.social-media li a {
  padding-left: 70px;
  color: #000;
  font-weight: bold;
  font-family: "Trebuchet Ms" !important;
  font-size: 14px;
  text-decoration: none;
  line-height: 28px;
  display: block;
  width: 165px;
}
/* line 23, ../../../app/assets/stylesheets/section/forget_password.scss */
.social-media li a span {
  font-size: 17px;
}
/* line 28, ../../../app/assets/stylesheets/section/forget_password.scss */
.social-media li.fb {
  background-position: 0 0;
}
/* line 31, ../../../app/assets/stylesheets/section/forget_password.scss */
.social-media li.twitter {
  background-position: 0px -60px;
  margin-left: 65px;
}
/* line 32, ../../../app/assets/stylesheets/section/forget_password.scss */
.social-media li.twitter a {
  width: 140px;
}

/* line 36, ../../../app/assets/stylesheets/section/forget_password.scss */
#forget_password {
  padding: 35px;
  width: 391px;
  position: relative;
  margin: -20px 0 0 0px;
  float: left;
  z-index: 10;
  border: none;
}
/* line 44, ../../../app/assets/stylesheets/section/forget_password.scss */
#forget_password h1 {
  font-size: 24px;
  font-family: "Trebuchet Ms" !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 19px;
}
/* line 51, ../../../app/assets/stylesheets/section/forget_password.scss */
#forget_password form {
  margin-top: 45px;
}
/* line 55, ../../../app/assets/stylesheets/section/forget_password.scss */
#forget_password form fieldset.inputs ol {
  overflow: hidden;
}
/* line 58, ../../../app/assets/stylesheets/section/forget_password.scss */
#forget_password form fieldset.inputs ol li {
  overflow: hidden;
  margin-bottom: 10px;
}
/* line 62, ../../../app/assets/stylesheets/section/forget_password.scss */
#forget_password form fieldset.inputs ol li label {
  float: left;
  line-height: 34px;
  font-size: 12px;
  font-weight: normal;
  margin-right: 10px;
}
/* line 70, ../../../app/assets/stylesheets/section/forget_password.scss */
#forget_password form fieldset.inputs ol li input {
  background-color: #fff;
  padding: 10px;
  background-position: bottom;
  float: left;
  width: 262px;
  border: 1px solid #000;
}
/* line 84, ../../../app/assets/stylesheets/section/forget_password.scss */
#forget_password form fieldset.buttons ol li {
  margin: 15px 13px 10px 6px !important;
  float: left;
}
/* line 87, ../../../app/assets/stylesheets/section/forget_password.scss */
#forget_password form fieldset.buttons ol li.remember-me {
  width: 345px;
  margin: 0;
  float: left;
}
/* line 91, ../../../app/assets/stylesheets/section/forget_password.scss */
#forget_password form fieldset.buttons ol li.remember-me input[type='checkbox'] {
  margin-bottom: 10px;
  width: 25px;
  float: left;
}
/* line 96, ../../../app/assets/stylesheets/section/forget_password.scss */
#forget_password form fieldset.buttons ol li.remember-me label {
  width: 150px !important;
}
/* line 98, ../../../app/assets/stylesheets/section/forget_password.scss */
#forget_password form fieldset.buttons ol li.remember-me p.register {
  font-size: 11px;
  float: left;
  margin-left: 45px;
  margin-top: -13px;
}
/* line 99, ../../../app/assets/stylesheets/section/forget_password.scss */
#forget_password form fieldset.buttons ol li.remember-me p.register a {
  float: none;
}
/* line 101, ../../../app/assets/stylesheets/section/forget_password.scss */
#forget_password form fieldset.buttons ol li.remember-me p.forgot_password {
  float: left;
  margin: 0 0 10px 10px;
  clear: both;
}
/* line 103, ../../../app/assets/stylesheets/section/forget_password.scss */
#forget_password form fieldset.buttons ol li.remember-me p.forgot_password a {
  color: #6D6E71;
  text-decoration: none;
  display: block;
}
/* line 107, ../../../app/assets/stylesheets/section/forget_password.scss */
#forget_password form fieldset.buttons ol li.remember-me p.forgot_password a:hover {
  text-decoration: underline;
}
/* line 111, ../../../app/assets/stylesheets/section/forget_password.scss */
#forget_password form fieldset.buttons ol li.remember-me p.forgot_password + li {
  margin-right: 20px;
}
/* line 113, ../../../app/assets/stylesheets/section/forget_password.scss */
#forget_password form fieldset.buttons ol li.remember-me p.forgot_password + li input[type='submit'] {
  width: 106px;
  height: 42px;
  display: block;
  border: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  background: #e82d3a;
  background: linear-gradient(to bottom, #eb6a73 0%, #e82d3a 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: "Trebuchet Ms" !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
}
/* line 36, ../../../app/assets/stylesheets/partials/_mixins.scss */
#forget_password form fieldset.buttons ol li.remember-me p.forgot_password + li input[type='submit']:hover {
  background: #eb6a73;
  background: linear-gradient(to bottom, #e82d3a 0%, #eb6a73 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: "Trebuchet Ms" !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
}
/* line 128, ../../../app/assets/stylesheets/section/forget_password.scss */
#forget_password form fieldset.buttons ol li input[type='submit'] {
  width: 212px;
  height: 45px;
  display: block;
  border: none;
  cursor: pointer;
  margin: 0 19px 0 0 !important;
  float: none;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-left: 65px !important;
  background: #e82d3a;
  background: linear-gradient(to bottom, #eb6a73 0%, #e82d3a 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: "Trebuchet Ms" !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
}
/* line 36, ../../../app/assets/stylesheets/partials/_mixins.scss */
#forget_password form fieldset.buttons ol li input[type='submit']:hover {
  background: #eb6a73;
  background: linear-gradient(to bottom, #e82d3a 0%, #eb6a73 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: "Trebuchet Ms" !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
}

/* line 148, ../../../app/assets/stylesheets/section/forget_password.scss */
.quiz_login {
  display: block;
  float: left;
  width: 490px;
  height: 445px;
  margin-top: 35px;
  margin-left: 18px;
  margin-bottom: 10px;
}
/* line 156, ../../../app/assets/stylesheets/section/forget_password.scss */
.quiz_login .quiz_img {
  margin-top: 10px;
}
/* line 159, ../../../app/assets/stylesheets/section/forget_password.scss */
.quiz_login a {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Trebuchet Ms" !important;
  font-size: 13px;
  text-decoration: none;
}
/* line 167, ../../../app/assets/stylesheets/section/forget_password.scss */
.quiz_login a .quiz_img {
  margin-top: 10px;
}
/* line 168, ../../../app/assets/stylesheets/section/forget_password.scss */
.quiz_login a.bt_quiz {
  width: 212px;
  height: 31px;
  display: block;
  margin-top: -67px;
  margin-left: 243px;
  padding-top: 14px;
  font-weight: bold;
  background-color: #e82d3a;
  background: #e82d3a;
  background: linear-gradient(to bottom, #eb6a73 0%, #e82d3a 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: "Trebuchet Ms" !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
}
/* line 36, ../../../app/assets/stylesheets/partials/_mixins.scss */
.quiz_login a.bt_quiz:hover {
  background: #eb6a73;
  background: linear-gradient(to bottom, #e82d3a 0%, #eb6a73 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: "Trebuchet Ms" !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
}
