/* line 134, ../../../app/assets/stylesheets/common/_images.scss */
.banner_mothers_day {
  margin-bottom: 10px;
}

/* line 134, ../../../app/assets/stylesheets/common/_images.scss */
.banner_mothers_day {
  margin-bottom: 10px;
}

/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/* line 3, ../../../app/assets/stylesheets/section/forget_password.scss */
section#forget_password {
  background: url(/dev-assets/common/bg-forgot-password.jpg) top right no-repeat;
  width: 100%;
  min-height: 560px;
  padding: 20px 0 0;
  overflow: auto;
}
/* line 9, ../../../app/assets/stylesheets/section/forget_password.scss */
section#forget_password h1 {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, johnston;
  font-size: 32px;
  text-transform: uppercase;
  margin: 0 0 20px;
}
/* line 15, ../../../app/assets/stylesheets/section/forget_password.scss */
section#forget_password form {
  width: 270px;
  margin: 0 0 50px;
  padding: 25px 65px;
  border: 1px #ddd solid;
}
/* line 22, ../../../app/assets/stylesheets/section/forget_password.scss */
section#forget_password form fieldset ol li {
  margin-bottom: 17px;
}
/* line 24, ../../../app/assets/stylesheets/section/forget_password.scss */
section#forget_password form fieldset ol li label {
  font-size: 15px;
  display: block;
}
/* line 28, ../../../app/assets/stylesheets/section/forget_password.scss */
section#forget_password form fieldset ol li input[type="email"] {
  background: url(/dev-assets/common/background-inputs.png) bottom repeat-x;
  font-size: 13px;
  width: 260px;
  padding: 8px 7px;
  border: 1px #ddd solid;
}
/* line 34, ../../../app/assets/stylesheets/section/forget_password.scss */
section#forget_password form fieldset ol li input[type="email"]:focus {
  outline: none;
}
/* line 41, ../../../app/assets/stylesheets/section/forget_password.scss */
section#forget_password form fieldset.buttons input[type='submit'] {
  width: 206px;
  height: 63px;
  margin: 0 auto;
  display: block;
  border: none;
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 15px;
  background: #e82d3a;
  background: linear-gradient(to bottom, #eb6a73 0%, #e82d3a 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: "Trebuchet Ms" !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
}
/* line 36, ../../../app/assets/stylesheets/partials/_mixins.scss */
section#forget_password form fieldset.buttons input[type='submit']:hover {
  background: #eb6a73;
  background: linear-gradient(to bottom, #e82d3a 0%, #eb6a73 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: "Trebuchet Ms" !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
}
/* line 56, ../../../app/assets/stylesheets/section/forget_password.scss */
section#forget_password form p a {
  color: #6D6E71;
  text-decoration: none;
}
/* line 59, ../../../app/assets/stylesheets/section/forget_password.scss */
section#forget_password form p a:hover {
  text-decoration: underline;
}
/* line 65, ../../../app/assets/stylesheets/section/forget_password.scss */
section#forget_password ul.social-media {
  margin: 0 0 0 18px;
}
