/* line 134, ../../../app/assets/stylesheets/common/_images.scss */
.banner_mothers_day {
  margin-bottom: 10px;
}

/* line 134, ../../../app/assets/stylesheets/common/_images.scss */
.banner_mothers_day {
  margin-bottom: 10px;
}

/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/*------------------------
==== GLOBAL VARIABLES ====
------------------------*/
/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/* line 3, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box {
  padding: 0 0 0 70px;
  width: 102px;
  height: 140px;
  float: right;
  background: url(/dev-assets/common/nav/sprite_header.png) -164px -193px;
  position: absolute;
  right: 0px;
  top: 40px;
}
/* line 4, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box img {
  margin: 0 7px 20px 0;
  float: left;
}
/* line 5, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box h3 {
  color: #36569e;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 14px;
  font-weight: lighter;
}
/* line 6, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box h3 span {
  font-size: 17px;
  font-weight: bold;
}
/* line 8, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box .like {
  clear: both;
  padding-top: -20px;
  width: 100px;
}
/* line 9, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box .fb-button {
  width: 100px;
}

/****** IE8 HACK *******/
/* line 14, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
html.ie8 section#home li.iehack {
  margin: 0 !important;
}

/* AJUSTE FACEBOOK IFRAME */
/* line 18, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
.fb-button {
  height: 20px !important;
  overflow: hidden !important;
  margin-top: -40px;
}

/*------------------------
==== GLOBAL VARIABLES ====
------------------------*/
/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/*------------------------
==== GLOBAL VARIABLES ====
------------------------*/
/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/* line 3, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box {
  padding: 0 0 0 70px;
  width: 102px;
  height: 140px;
  float: right;
  background: url(/dev-assets/common/nav/sprite_header.png) -164px -193px;
  position: absolute;
  right: 0px;
  top: 40px;
}
/* line 4, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box img {
  margin: 0 7px 20px 0;
  float: left;
}
/* line 5, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box h3 {
  color: #36569e;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 14px;
  font-weight: lighter;
}
/* line 6, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box h3 span {
  font-size: 17px;
  font-weight: bold;
}
/* line 8, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box .like {
  clear: both;
  padding-top: -20px;
  width: 100px;
}
/* line 9, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box .fb-button {
  width: 100px;
}

/****** IE8 HACK *******/
/* line 14, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
html.ie8 section#home li.iehack {
  margin: 0 !important;
}

/* AJUSTE FACEBOOK IFRAME */
/* line 18, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
.fb-button {
  height: 20px !important;
  overflow: hidden !important;
  margin-top: -40px;
}

/* line 4, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories {
  width: 1020px;
  height: 200px;
  margin: 0 0 18px;
  padding: 15px 0 0 0;
  float: left;
}
/* line 5, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories img {
  margin-left: 7px;
}
/* line 8, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul {
  width: 100%;
  overflow: auto;
  margin-top: 35px;
}
/* line 10, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li a {
  width: 63px;
  height: 100px;
  background: url(/dev-assets/home/categories.png) no-repeat;
  color: #000;
  float: left;
  text-indent: -9999px;
  margin-right: 29px;
}
/* line 11, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li a:hover {
  color: #ef3742;
}
/* line 13, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.blusa a {
  background-position: -5px 0px;
}
/* line 14, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.blusa a:hover {
  background-position: -5px -147px;
}
/* line 16, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.camisa a {
  background-position: -100px 0px;
}
/* line 17, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.camisa a:hover {
  background-position: -100px -147px;
}
/* line 19, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.calca a {
  background-position: -196px 0px;
}
/* line 20, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.calca a:hover {
  background-position: -196px -147px;
}
/* line 22, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.vestido a {
  background-position: -293px 0px;
}
/* line 23, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.vestido a:hover {
  background-position: -293px -147px;
}
/* line 25, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.anabela a {
  background-position: -387px 0px;
}
/* line 26, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.anabela a:hover {
  background-position: -387px -147px;
}
/* line 28, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.bota a {
  background-position: -477px 0px;
}
/* line 29, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.bota a:hover {
  background-position: -477px -147px;
}
/* line 31, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.sapatilha a {
  background-position: -570px 0px;
}
/* line 32, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.sapatilha a:hover {
  background-position: -570px -147px;
}
/* line 34, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.scarpin a {
  background-position: -662px 0px;
}
/* line 35, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.scarpin a:hover {
  background-position: -662px -147px;
}
/* line 37, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.rasteira a {
  background-position: -756px 0px;
}
/* line 38, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.rasteira a:hover {
  background-position: -756px -147px;
}
/* line 40, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.bolsas a {
  background-position: -853px 0px;
}
/* line 41, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.bolsas a:hover {
  background-position: -853px -147px;
}
/* line 43, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.acessorios a {
  background-position: -943px 0px;
  margin-right: 0 !important;
}
/* line 44, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.acessorios a:hover {
  background-position: -943px -147px;
}

/* line 50, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
section#boxes {
  width: 970px;
  overflow: auto;
  margin: 0 10px 55px;
}
/* line 52, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
section#boxes ul li {
  background: #f8f8f8;
  width: 311px;
  height: 287px;
  display: block;
  margin: 0 15px 0 0;
  float: left;
  border: 1px #c2c2c2 solid;
  overflow: hidden;
}
/* line 53, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
section#boxes ul li a {
  color: #231f20;
  text-decoration: none;
}
/* line 54, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
section#boxes ul li a h1 {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 17px;
  text-transform: uppercase;
  margin: 16px 0 3px 24px;
  font-weight: lighter;
}
/* line 55, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
section#boxes ul li a p {
  background: url(/dev-assets/home/arrows-pink.png) right center no-repeat;
  font-size: 15px;
  display: inline;
  margin: 0 0 0 24px;
  padding: 0 20px 0 0;
}
/* line 57, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
section#boxes ul li a:hover p {
  color: #ef3742;
}
/* line 60, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
section#boxes ul li:last-child {
  margin: 0;
  float: right;
}

/* Elastislide Style */
/* line 3, ../../../app/assets/stylesheets/new_structure/partials/_elastislide.css.scss.css */
.elastislide-list {
  list-style-type: none;
  display: none;
}

/* line 8, ../../../app/assets/stylesheets/new_structure/partials/_elastislide.css.scss.css */
.no-js .elastislide-list {
  display: block;
}

/* line 12, ../../../app/assets/stylesheets/new_structure/partials/_elastislide.css.scss.css */
.elastislide-carousel ul li {
  min-width: 20px;
  /* minimum width of the image (min width + border) */
}

/* line 16, ../../../app/assets/stylesheets/new_structure/partials/_elastislide.css.scss.css */
.elastislide-wrapper {
  position: relative;
  background-color: #fff;
  margin: 0 auto;
  min-height: 60px;
  margin-top: 20px;
}

/* line 24, ../../../app/assets/stylesheets/new_structure/partials/_elastislide.css.scss.css */
.elastislide-wrapper.elastislide-loading {
  background-image: url(../images/loading.gif);
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 30, ../../../app/assets/stylesheets/new_structure/partials/_elastislide.css.scss.css */
.elastislide-horizontal {
  padding: 10px 40px;
  padding-bottom: 0px;
}

/* line 35, ../../../app/assets/stylesheets/new_structure/partials/_elastislide.css.scss.css */
.elastislide-vertical {
  padding: 40px 10px;
}

/* line 39, ../../../app/assets/stylesheets/new_structure/partials/_elastislide.css.scss.css */
.elastislide-carousel {
  overflow: hidden;
  position: relative;
}

/* line 44, ../../../app/assets/stylesheets/new_structure/partials/_elastislide.css.scss.css */
.elastislide-carousel ul {
  position: relative;
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}

/* line 58, ../../../app/assets/stylesheets/new_structure/partials/_elastislide.css.scss.css */
.elastislide-horizontal ul {
  white-space: nowrap;
}

/* line 62, ../../../app/assets/stylesheets/new_structure/partials/_elastislide.css.scss.css */
.elastislide-carousel ul li {
  margin: 0;
  -webkit-backface-visibility: hidden;
}

/* line 67, ../../../app/assets/stylesheets/new_structure/partials/_elastislide.css.scss.css */
.elastislide-horizontal ul li {
  height: 100%;
  display: inline-block;
}

/* line 72, ../../../app/assets/stylesheets/new_structure/partials/_elastislide.css.scss.css */
.elastislide-vertical ul li {
  display: block;
}

/* line 76, ../../../app/assets/stylesheets/new_structure/partials/_elastislide.css.scss.css */
.elastislide-carousel ul li a {
  display: inline-block;
  width: 100%;
}

/* line 81, ../../../app/assets/stylesheets/new_structure/partials/_elastislide.css.scss.css */
.elastislide-carousel ul li a img {
  display: block;
  max-width: 100%;
}

/* Navigation Arrows */
/* line 88, ../../../app/assets/stylesheets/new_structure/partials/_elastislide.css.scss.css */
.elastislide-wrapper nav span {
  position: absolute;
  background: #dddddd url(../images/nav.png) no-repeat 4px 3px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  text-indent: -9000px;
  cursor: pointer;
  opacity: 0.8;
}

/* line 99, ../../../app/assets/stylesheets/new_structure/partials/_elastislide.css.scss.css */
.elastislide-wrapper nav span:hover {
  opacity: 1;
}

/* line 103, ../../../app/assets/stylesheets/new_structure/partials/_elastislide.css.scss.css */
.elastislide-horizontal nav span {
  top: 50%;
  left: 10px;
  margin-top: -11px;
}

/* line 109, ../../../app/assets/stylesheets/new_structure/partials/_elastislide.css.scss.css */
.elastislide-vertical nav span {
  top: 10px;
  left: 50%;
  margin-left: -11px;
  background-position: -17px 5px;
}

/* line 116, ../../../app/assets/stylesheets/new_structure/partials/_elastislide.css.scss.css */
.elastislide-horizontal nav span.elastislide-next {
  right: 10px;
  left: auto;
  background-position: 4px -17px;
}

/* line 122, ../../../app/assets/stylesheets/new_structure/partials/_elastislide.css.scss.css */
.elastislide-vertical nav span.elastislide-next {
  bottom: 10px;
  top: auto;
  background-position: -17px -18px;
}

/* line 7, ../../../app/assets/stylesheets/section/home.scss */
div#content {
  overflow: visible;
}

/* line 11, ../../../app/assets/stylesheets/section/home.scss */
.dialog {
  display: none;
}

/* line 16, ../../../app/assets/stylesheets/section/home.scss */
section#home #banner {
  width: 100%;
  height: 430px;
  margin-bottom: 20px;
}
/* line 20, ../../../app/assets/stylesheets/section/home.scss */
section#home #banner .column {
  width: 240px;
  float: left;
  height: auto !important;
  height: 430px;
  min-height: 430px;
  text-align: center;
}
/* line 27, ../../../app/assets/stylesheets/section/home.scss */
section#home #banner .column img {
  margin-bottom: 8px;
}
/* line 30, ../../../app/assets/stylesheets/section/home.scss */
section#home #banner .column a {
  color: #000;
  text-decoration: none;
}
/* line 34, ../../../app/assets/stylesheets/section/home.scss */
section#home #banner .column a:hover {
  color: #ed3a40;
}
/* line 37, ../../../app/assets/stylesheets/section/home.scss */
section#home #banner .column h2 {
  width: 100%;
  display: block;
  text-align: center;
  font-family: arial, verdana, tahoma;
  font-size: 17px;
  text-transform: uppercase;
  padding-top: 4px;
  letter-spacing: 3px;
}
/* line 46, ../../../app/assets/stylesheets/section/home.scss */
section#home #banner .column h2 span {
  display: block;
  font-family: Georgia, Tahoma, Arial;
  font-size: 14px;
  text-transform: none;
  font-weight: normal;
  padding: 5px 20px 0 20px;
}
/* line 56, ../../../app/assets/stylesheets/section/home.scss */
section#home #banner .big {
  width: 490px;
  margin: 0 10px;
}
/* line 61, ../../../app/assets/stylesheets/section/home.scss */
section#home #looks {
  width: 100%;
}
/* line 63, ../../../app/assets/stylesheets/section/home.scss */
section#home #looks h3 {
  width: 100%;
  text-align: center;
  display: block;
  padding: 15px 0;
  background: #dbb8b9;
  color: #FFF;
  text-transform: uppercase;
  font-size: 23px;
  font-weight: normal;
  position: relative;
  font-family: "Trebuchet Ms", Verdana, Tahoma;
  letter-spacing: 6px;
}
/* line 76, ../../../app/assets/stylesheets/section/home.scss */
section#home #looks h3 a {
  position: absolute;
  right: 20px;
  letter-spacing: 0px;
  font-family: verdana, arial, tahoma;
  font-size: 12px;
  text-transform: none;
  font-weight: normal;
  color: #FFF;
}
/* line 87, ../../../app/assets/stylesheets/section/home.scss */
section#home #looks .mylook {
  width: 100%;
  height: auto !important;
  height: 365px;
  min-height: 365px;
}
/* line 92, ../../../app/assets/stylesheets/section/home.scss */
section#home #looks .mylook .look {
  width: 242px;
  float: left;
  margin: 7px 7px 0 0;
  position: relative;
}
/* line 97, ../../../app/assets/stylesheets/section/home.scss */
section#home #looks .mylook .look.last {
  margin-right: 0px;
}
/* line 103, ../../../app/assets/stylesheets/section/home.scss */
section#home #see_too {
  border: 1px solid #d1d1d1;
  margin-top: 60px;
  height: 305px;
  position: relative;
}
/* line 108, ../../../app/assets/stylesheets/section/home.scss */
section#home #see_too h4 {
  padding: 0 40px;
  background: #fff;
  border-right: 1px solid #d1d1d1;
  border-left: 1px solid #d1d1d1;
  position: absolute;
  top: -10px;
  left: 50%;
  font-family: "Trebuchet Ms", Verdana, Tahoma;
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-left: -114px;
  font-weight: normal;
}
/* line 123, ../../../app/assets/stylesheets/section/home.scss */
section#home #see_too .elastislide-wrapper {
  padding: 5px 22px;
}
/* line 126, ../../../app/assets/stylesheets/section/home.scss */
section#home #see_too ul#carousel {
  height: auto !important;
  height: 260px;
  min-height: 260px;
  max-height: 261px;
}
/* line 131, ../../../app/assets/stylesheets/section/home.scss */
section#home #see_too ul#carousel li {
  padding: 5px;
  border: 1px solid #e1e1e1;
  margin-right: 5px;
  height: auto !important;
  height: 242px;
  min-height: 242px;
  max-height: 242px;
  position: relative;
}
/* line 140, ../../../app/assets/stylesheets/section/home.scss */
section#home #see_too ul#carousel li img {
  width: 141px;
  height: 212px;
}
/* line 143, ../../../app/assets/stylesheets/section/home.scss */
section#home #see_too ul#carousel li span {
  display: block;
  font-family: verdana, arial, tahoma;
  font-size: 11px;
  color: #808285;
  letter-spacing: 0px;
  margin-top: 5px;
}
/* line 151, ../../../app/assets/stylesheets/section/home.scss */
section#home #see_too ul#carousel li .seeMore {
  border: 1px solid #d1d1d1;
  font-size: 9px;
  text-transform: uppercase;
  font-family: 'Trebuchet Ms';
  letter-spacing: 1px;
  position: relative;
  z-index: 10;
  cursor: pointer;
  width: 50px;
  position: absolute;
  right: 5px;
  bottom: 7px;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 0px;
  color: #939598;
}
/* line 170, ../../../app/assets/stylesheets/section/home.scss */
section#home #see_too ul#carousel li .seeMore:hover {
  background: #000;
  color: #FFF;
}
/* line 177, ../../../app/assets/stylesheets/section/home.scss */
section#home #see_too .elastislide-next,
section#home #see_too .elastislide-prev {
  background: url(/dev-assets/home/arrows.png) transparent no-repeat center right;
  right: 7px;
}
/* line 181, ../../../app/assets/stylesheets/section/home.scss */
section#home #see_too .elastislide-prev {
  background-position: center left;
  left: 7px;
}
/* line 186, ../../../app/assets/stylesheets/section/home.scss */
section#home #week_highlights {
  border-top: 1px solid #d8b9b7;
  position: relative;
  padding-top: 25px;
  height: auto !important;
  height: 430px;
  min-height: 430px;
}
/* line 193, ../../../app/assets/stylesheets/section/home.scss */
section#home #week_highlights h4 {
  position: absolute;
  top: -8px;
  font-family: arial, verdana, tahoma;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  left: 50%;
  margin-left: -100px;
  background: #FFF;
  padding: 0 10px;
}
/* line 205, ../../../app/assets/stylesheets/section/home.scss */
section#home #week_highlights h4 span {
  font-family: Georgia;
  font-size: 40px;
  margin-right: -6px;
  font-style: italic;
}
/* line 212, ../../../app/assets/stylesheets/section/home.scss */
section#home #week_highlights #about {
  width: 482px;
  text-align: center;
  float: left;
  margin: 0 0 30px 0;
}
/* line 217, ../../../app/assets/stylesheets/section/home.scss */
section#home #week_highlights #about img {
  width: 100%;
  margin-bottom: 10px;
}
/* line 221, ../../../app/assets/stylesheets/section/home.scss */
section#home #week_highlights #about h5 {
  font-family: arial, verdana, tahoma;
  font-size: 20px;
  letter-spacing: 2px;
  display: block;
  padding: 2px;
  text-decoration: none !important;
  color: #000;
  padding: 20px 0 10px 0;
}
/* line 230, ../../../app/assets/stylesheets/section/home.scss */
section#home #week_highlights #about h5:hover {
  color: #ef3742;
  text-decoration: none !important;
}
/* line 231, ../../../app/assets/stylesheets/section/home.scss */
section#home #week_highlights #about h5:hover a {
  text-decoration: none !important;
}
/* line 233, ../../../app/assets/stylesheets/section/home.scss */
section#home #week_highlights #about h5 span {
  margin-top: 11px;
  font-weight: normal;
  font-family: Georgia;
  font-size: 14px;
  display: block;
  text-decoration: none;
  letter-spacing: 2px;
  text-align: center;
}
/* line 242, ../../../app/assets/stylesheets/section/home.scss */
section#home #week_highlights #about h5 span:hover {
  color: #ef3742;
}
/* line 246, ../../../app/assets/stylesheets/section/home.scss */
section#home #week_highlights #about a {
  text-decoration: none !important;
}
/* line 248, ../../../app/assets/stylesheets/section/home.scss */
section#home #week_highlights .favTip {
  width: 445px;
  height: 447px;
  float: right;
  background: url(/dev-assets/home/bg_favTip.jpg) no-repeat top center;
  text-align: center;
  position: relative;
}
/* line 255, ../../../app/assets/stylesheets/section/home.scss */
section#home #week_highlights .favTip .favTipLink {
  width: 100%;
  height: 75px;
  display: block;
  padding-top: 389px;
  margin-left: -23px !important;
}
/* line 262, ../../../app/assets/stylesheets/section/home.scss */
section#home #week_highlights .favTip h5 a {
  width: 445px;
  text-align: center;
  display: block;
  position: relative;
  bottom: 0;
  font-family: arial, verdana, tahoma;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 2px;
  text-decoration: none;
  padding: 39px 0 10px 0;
  color: #000 !important;
  text-transform: uppercase;
  margin-top: 1px;
  margin-left: -225px !important;
}
/* line 278, ../../../app/assets/stylesheets/section/home.scss */
section#home #week_highlights .favTip h5 a span {
  margin-top: 11px;
  font-weight: normal;
  font-family: Georgia;
  font-size: 14px;
  display: block;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
}
/* line 289, ../../../app/assets/stylesheets/section/home.scss */
section#home #week_highlights .favTip h5 a:hover {
  color: #ef3742 !important;
}
/* line 292, ../../../app/assets/stylesheets/section/home.scss */
section#home #week_highlights .favTip .fav_product {
  display: none;
}
/* line 294, ../../../app/assets/stylesheets/section/home.scss */
section#home #week_highlights .has_love {
  background: none;
  padding-top: 0px;
  width: 505px;
}
/* line 298, ../../../app/assets/stylesheets/section/home.scss */
section#home #week_highlights .has_love .fav_product {
  float: left;
  margin: 0 5px;
  display: block;
  width: 46%;
  margin: 0 2% 10px 2%;
  float: left;
  position: relative;
  height: 360px;
}
/* line 307, ../../../app/assets/stylesheets/section/home.scss */
section#home #week_highlights .has_love .fav_product img {
  width: 100%;
}
/* line 309, ../../../app/assets/stylesheets/section/home.scss */
section#home #week_highlights .has_love h5 {
  clear: both;
}
/* line 314, ../../../app/assets/stylesheets/section/home.scss */
section#home .looks_unlogged {
  height: 500px;
}
/* line 316, ../../../app/assets/stylesheets/section/home.scss */
section#home .looks_unlogged .mylook {
  width: 30% !important;
  float: left;
}
/* line 319, ../../../app/assets/stylesheets/section/home.scss */
section#home .looks_unlogged .mylook .look {
  width: 294px !important;
}
/* line 321, ../../../app/assets/stylesheets/section/home.scss */
section#home .looks_unlogged .mylook .look img {
  width: 100%;
}
/* line 326, ../../../app/assets/stylesheets/section/home.scss */
section#home .looks_unlogged #see_too {
  margin-top: 7px;
  width: 69%;
  float: right;
  height: 296px;
}
/* line 331, ../../../app/assets/stylesheets/section/home.scss */
section#home .looks_unlogged #see_too h4 {
  display: none;
}
/* line 332, ../../../app/assets/stylesheets/section/home.scss */
section#home .looks_unlogged #see_too .elastislide-wrapper {
  padding: 0 22px;
}
/* line 335, ../../../app/assets/stylesheets/section/home.scss */
section#home .looks_unlogged #see_too ul#carousel li {
  margin-right: 9px;
}
/* line 339, ../../../app/assets/stylesheets/section/home.scss */
section#home .looks_unlogged a.banner_unlogged {
  float: right;
  margin-top: 12px;
}

/* line 345, ../../../app/assets/stylesheets/section/home.scss */
#emkt_box {
  height: 100px;
  margin-top: 20px;
  font-family: verdana, arial, tahoma;
  color: #321600;
  border-top: 1px solid #d8b9b7;
  padding-top: 43px;
}
/* line 352, ../../../app/assets/stylesheets/section/home.scss */
#emkt_box ul.mail {
  position: relative;
  z-index: 1;
  height: 110px;
}
/* line 356, ../../../app/assets/stylesheets/section/home.scss */
#emkt_box ul.mail li {
  float: left;
}
/* line 357, ../../../app/assets/stylesheets/section/home.scss */
#emkt_box ul.mail li.promo {
  width: 100%;
  height: 82px;
  padding-left: 44px;
  background-color: #fef6a9 !important;
}
/* line 362, ../../../app/assets/stylesheets/section/home.scss */
#emkt_box ul.mail li.promo h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 437px;
  margin-top: 20px;
}
/* line 369, ../../../app/assets/stylesheets/section/home.scss */
#emkt_box ul.mail li.promo p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 435px;
  margin-top: 10px;
  color: #ef3742;
}
/* line 377, ../../../app/assets/stylesheets/section/home.scss */
#emkt_box ul.mail li.promo fieldset {
  display: block;
  width: 100px;
  float: left;
}
/* line 381, ../../../app/assets/stylesheets/section/home.scss */
#emkt_box ul.mail li.promo fieldset .box_mail {
  width: 230px;
  height: 36px;
  background-color: #fefced;
  color: #321600;
  font-size: 11px;
  font-family: "Trebuchet Ms" !important;
  border: 1px solid #321600;
  padding-left: 11px;
  letter-spacing: 1px;
  margin-top: -42px;
  position: absolute;
  left: 497px;
}
/* line 396, ../../../app/assets/stylesheets/section/home.scss */
#emkt_box ul.mail li.promo fieldset.botao {
  width: 30px;
  height: 30px;
  border: none;
  right: 205px;
  position: absolute;
  top: 20px;
}
/* line 403, ../../../app/assets/stylesheets/section/home.scss */
#emkt_box ul.mail li.promo fieldset.botao .bt_enviar {
  background: url(/dev-assets/home/ok_mkt.png) no-repeat;
  width: 34px;
  height: 34px;
  float: right;
  position: absolute;
  margin-top: -8px;
  border: none;
  top: 13px;
  color: #fff;
  right: 3px;
  font-size: 15px;
}
/* line 418, ../../../app/assets/stylesheets/section/home.scss */
#emkt_box ul.mail img {
  position: relative;
  float: right;
  margin-top: -110px;
  right: 80px;
}
/* line 425, ../../../app/assets/stylesheets/section/home.scss */
#emkt_box .fback, #emkt_box .fdenied {
  width: 310px;
  height: 41px;
  background: url(/dev-assets/common/sprite_modal_footer.png) no-repeat 4px -162px;
  background-color: #bfd7bd;
  border: 1px solid #81b47e;
  color: #000;
  font-size: 9px;
  font-family: verdana, arial, tahoma;
  letter-spacing: 1px;
  font-weight: normal;
  position: relative;
  padding-left: 34px;
  position: relative;
  top: -93px;
  z-index: 10000;
  left: 469px;
  padding-top: 5px;
  display: none;
}
/* line 444, ../../../app/assets/stylesheets/section/home.scss */
#emkt_box .fback span, #emkt_box .fdenied span {
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
}
/* line 450, ../../../app/assets/stylesheets/section/home.scss */
#emkt_box .fdenied {
  background: url(/dev-assets/common/sprite_modal_footer.png) no-repeat -122px 9px;
  background-color: #ea8596;
  border: 1px solid #e94762;
  height: 23px;
  padding: 5px 0px 15px 42px;
  top: -88px;
  width: 245px;
  left: 493px;
}
