/* line 134, ../../../app/assets/stylesheets/common/_images.scss */
.banner_mothers_day {
  margin-bottom: 10px;
}

/* line 134, ../../../app/assets/stylesheets/common/_images.scss */
.banner_mothers_day {
  margin-bottom: 10px;
}

/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/* line 4, ../../../app/assets/stylesheets/section/how_to.scss */
#how_to {
  min-height: 280px;
  margin: 0 auto;
}
/* line 7, ../../../app/assets/stylesheets/section/how_to.scss */
#how_to div#description {
  width: 100%;
  overflow: auto;
  float: left;
}
/* line 11, ../../../app/assets/stylesheets/section/how_to.scss */
#how_to div#description > h1 {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, johnston;
  font-size: 24px;
  text-transform: uppercase;
  display: block;
  margin: 0 0 20px;
  padding-top: 10px;
}
/* line 19, ../../../app/assets/stylesheets/section/how_to.scss */
#how_to div#description h2 {
  font-family: Arial, "Trebuchet Ms", Times, "Times New Roman", serif, KeplerStdItalic;
  font-size: 16px;
  width: 100%;
  margin: 0 0 25px;
}
/* line 24, ../../../app/assets/stylesheets/section/how_to.scss */
#how_to div#description h2 .txtpink {
  color: #ef3742;
}
/* line 27, ../../../app/assets/stylesheets/section/how_to.scss */
#how_to div#description p {
  margin-bottom: 20px;
}
/* line 32, ../../../app/assets/stylesheets/section/how_to.scss */
#how_to div#making_of {
  position: relative;
  width: 446px;
  height: 241px;
  margin: 75px 0 0;
  float: right;
}
/* line 38, ../../../app/assets/stylesheets/section/how_to.scss */
#how_to div#making_of a.label, #how_to div#making_of h1 {
  position: absolute;
}
/* line 41, ../../../app/assets/stylesheets/section/how_to.scss */
#how_to div#making_of a.label {
  background: url(/dev-assets/lookbooks/label_video.png) no-repeat;
  color: #FFF;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, johnston;
  font-size: 12px;
  font-weight: 100;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  width: 122px;
  height: 33px;
  padding: 0 0 0 32px;
  display: block;
  top: 10px;
  right: 0;
}
/* line 57, ../../../app/assets/stylesheets/section/how_to.scss */
#how_to div#making_of h1 {
  background: url(/dev-assets/lookbooks/bg-title.png) repeat;
  color: #FFF;
  font-family: Arial, "Trebuchet Ms", Times, "Times New Roman", serif, KeplerStdItalic;
  font-size: 22px;
  font-weight: lighter;
  width: 418px;
  margin: 0;
  padding: 7px 0 7px 15px;
  left: 0;
  bottom: 0;
}
/* line 69, ../../../app/assets/stylesheets/section/how_to.scss */
#how_to div#making_of div.video_description {
  display: none;
}

/* line 75, ../../../app/assets/stylesheets/section/how_to.scss */
#steps {
  width: 100%;
  overflow: hidden;
  margin: 0 auto 0 10px;
}
/* line 79, ../../../app/assets/stylesheets/section/how_to.scss */
#steps h1 {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 24px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
  padding-top: 10px;
}
/* line 87, ../../../app/assets/stylesheets/section/how_to.scss */
#steps ul {
  width: 100%;
  overflow: auto;
}
/* line 90, ../../../app/assets/stylesheets/section/how_to.scss */
#steps ul li {
  margin-right: 10px;
  width: 237px;
  height: 278px;
  margin-right: 5px !important;
  float: left;
}
/* line 96, ../../../app/assets/stylesheets/section/how_to.scss */
#steps ul li#left_box {
  background: url(/dev-assets/how_to/box-1.jpg) no-repeat;
}
/* line 100, ../../../app/assets/stylesheets/section/how_to.scss */
#steps ul li#left_box_mid {
  background: url(/dev-assets/how_to/box-2.jpg) no-repeat;
}
/* line 104, ../../../app/assets/stylesheets/section/how_to.scss */
#steps ul li#right_box_mid {
  background: url(/dev-assets/how_to/box-3.jpg) no-repeat;
}
/* line 108, ../../../app/assets/stylesheets/section/how_to.scss */
#steps ul li#right_box {
  background: url(/dev-assets/how_to/box-4.jpg) no-repeat;
  margin-right: none !important;
}
/* line 112, ../../../app/assets/stylesheets/section/how_to.scss */
#steps ul li h3 {
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  text-indent: -9999px;
  letter-spacing: -1px;
  width: 185px;
}
/* line 121, ../../../app/assets/stylesheets/section/how_to.scss */
#steps ul li p {
  font-size: 11px;
  text-align: center;
  text-indent: -9999px;
}

/* line 131, ../../../app/assets/stylesheets/section/how_to.scss */
.win #steps h1 {
  font-weight: bold;
}

/* line 136, ../../../app/assets/stylesheets/section/how_to.scss */
.content {
  width: 970px !important;
}
