/* line 134, ../../../app/assets/stylesheets/common/_images.scss */
.banner_mothers_day {
  margin-bottom: 10px;
}

/* line 134, ../../../app/assets/stylesheets/common/_images.scss */
.banner_mothers_day {
  margin-bottom: 10px;
}

/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/* line 3, ../../../app/assets/stylesheets/section/landing.scss */
#content {
  width: 100% !important;
}

/* line 4, ../../../app/assets/stylesheets/section/landing.scss */
.header_login, .tv {
  width: 990px;
  margin: 0 auto 15px;
  margin-top: 15px;
}
/* line 8, ../../../app/assets/stylesheets/section/landing.scss */
.header_login h1, .tv h1 {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 12px;
  color: #9c9da0;
  float: right;
}
/* line 9, ../../../app/assets/stylesheets/section/landing.scss */
.header_login h1 span, .tv h1 span {
  color: #ef3742;
}
/* line 11, ../../../app/assets/stylesheets/section/landing.scss */
.header_login h2, .tv h2 {
  width: 214px;
  height: 67px;
  margin: 0 auto;
}
/* line 12, ../../../app/assets/stylesheets/section/landing.scss */
.header_login .bonus, .tv .bonus {
  margin-top: 20px;
}

/* line 15, ../../../app/assets/stylesheets/section/landing.scss */
.tv img {
  margin-left: 22px;
  margin-top: 10px;
}

/* line 17, ../../../app/assets/stylesheets/section/landing.scss */
.landing-content {
  position: relative;
  overflow: hidden;
  width: 990px;
  height: 485px;
  margin: 0 auto;
  margin-top: 20px;
  background: url(/dev-assets/landing_page/jeans.jpg) no-repeat;
}
/* line 26, ../../../app/assets/stylesheets/section/landing.scss */
.landing-content .infos {
  display: none;
  position: absolute;
  top: 58px;
  right: 74px;
}
/* line 29, ../../../app/assets/stylesheets/section/landing.scss */
.landing-content .action {
  display: block;
  top: 300px;
  left: 100px;
}
/* line 30, ../../../app/assets/stylesheets/section/landing.scss */
.landing-content .action img {
  text-indent: -9999px;
  margin: 35px;
}
/* line 35, ../../../app/assets/stylesheets/section/landing.scss */
.landing-content .registration-form {
  width: 350px;
  height: 270px;
  background-color: #fff;
  border: 1px solid #000;
  left: 314px;
  top: 115px;
  text-align: center;
  position: absolute;
}
/* line 44, ../../../app/assets/stylesheets/section/landing.scss */
.landing-content .registration-form .mail_error {
  color: #ef3742;
  font-size: 11px;
}
/* line 45, ../../../app/assets/stylesheets/section/landing.scss */
.landing-content .registration-form h1 {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  color: #000;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-top: 40px;
  font-weight: 600;
}
/* line 54, ../../../app/assets/stylesheets/section/landing.scss */
.landing-content .registration-form h2 {
  margin: 8px 30px;
  font-size: 16px;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
}
/* line 59, ../../../app/assets/stylesheets/section/landing.scss */
.landing-content .registration-form input {
  margin-top: 15px;
  width: 260px;
  height: 35px;
  background-color: #f3f3f3;
  border: 1px solid #d3d3d3;
  color: #939598;
  text-align: center;
}
/* line 67, ../../../app/assets/stylesheets/section/landing.scss */
.landing-content .registration-form input.bt-enviar {
  margin-top: 20px;
  width: 204px;
  height: 40px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: #e82d3a;
  background: linear-gradient(to bottom, #eb6a73 0%, #e82d3a 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: "Trebuchet Ms" !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
}
/* line 36, ../../../app/assets/stylesheets/partials/_mixins.scss */
.landing-content .registration-form input.bt-enviar:hover {
  background: #eb6a73;
  background: linear-gradient(to bottom, #e82d3a 0%, #eb6a73 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: "Trebuchet Ms" !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
}

/* line 82, ../../../app/assets/stylesheets/section/landing.scss */
#newsletter h2 {
  margin-top: 10px;
}
/* line 83, ../../../app/assets/stylesheets/section/landing.scss */
#newsletter h1 {
  text-align: center;
}
