/* line 134, ../../../app/assets/stylesheets/common/_images.scss */
.banner_mothers_day {
  margin-bottom: 10px;
}

/* line 134, ../../../app/assets/stylesheets/common/_images.scss */
.banner_mothers_day {
  margin-bottom: 10px;
}

/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/* line 3, ../../../app/assets/stylesheets/partials/_product.scss */
li.product {
  position: relative;
  margin: 0 0 2px 0;
  padding: 10px;
  overflow: hidden;
  display: inline-block;
  float: left;
}
/* line 10, ../../../app/assets/stylesheets/partials/_product.scss */
li.product div.hover_suggestive {
  position: absolute;
  background: none;
  width: 100%;
  bottom: 25px;
  left: 0;
  display: none;
  z-index: 10;
}
/* line 18, ../../../app/assets/stylesheets/partials/_product.scss */
li.product div.hover_suggestive ul {
  margin: 0;
  padding: 0 !important;
}
/* line 21, ../../../app/assets/stylesheets/partials/_product.scss */
li.product div.hover_suggestive ul li {
  text-align: center;
  margin: 0;
}
/* line 24, ../../../app/assets/stylesheets/partials/_product.scss */
li.product div.hover_suggestive ul li a {
  background: url(/dev-assets/common/bg-spy.png) repeat;
  color: #101010;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, johnston;
  font-size: 13px;
  font-weight: lighter;
  line-height: 32px;
  text-decoration: none;
  text-transform: uppercase;
  height: 32px;
  margin: 0 auto;
  display: block;
}
/* line 36, ../../../app/assets/stylesheets/partials/_product.scss */
li.product div.hover_suggestive ul li a span {
  background: url(/dev-assets/common/icon-spy-on.png) left center no-repeat;
  color: #000;
  line-height: 16px;
  display: inline-block;
  padding: 0 0 0 19px;
}
/* line 44, ../../../app/assets/stylesheets/partials/_product.scss */
li.product div.hover_suggestive ul li a:hover span {
  color: #ef3742;
}
/* line 49, ../../../app/assets/stylesheets/partials/_product.scss */
li.product div.hover_suggestive ul li.add {
  display: none;
}
/* line 51, ../../../app/assets/stylesheets/partials/_product.scss */
li.product div.hover_suggestive ul li.add a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #ef3742;
  color: #FFF;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 9px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  width: 150px;
  margin: -120px auto 0;
  padding: 0 10px;
}
/* line 68, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product {
  position: absolute;
  bottom: 0;
  left: 0;
  /* new size photo */
  display: inline-block;
  clear: left;
}
/* line 71, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a.product_link {
  position: relative;
}
/* line 73, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a.product_link p.warn {
  position: absolute;
  display: none;
  text-indent: -9999px !important;
}
/* line 77, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a.product_link p.warn.sold_out {
  background: url(/dev-assets/common/sold_out.png) no-repeat;
  color: #999;
  width: 72px;
  height: 30px;
}
/* line 83, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a.product_link p.warn.quantity {
  background: url(/dev-assets/common/quantity.png) no-repeat;
  word-spacing: -1px;
  width: 62px;
  height: 30px;
}
/* line 89, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a.product_link p.warn.shoe_size {
  background: url(/dev-assets/common/number.png) no-repeat;
  word-spacing: -1px;
  width: 51px;
  height: 30px;
}
/* line 95, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a.product_link p.warn.percentage {
  top: 65px !important;
  left: 120px !important;
  background: url(/dev-assets/moments/sprite.png) no-repeat 0 -109px;
  width: 60px;
  height: 60px;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir !important;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  padding-top: 10px;
  display: block;
}
/* line 108, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a.product_link p.warn.percentage span {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}
/* line 115, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a.product_link img {
  margin: 0 0 10px 0;
  /*border-bottom: 1px #b2b2b2 solid;*/
}
/* line 120, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a {
  text-decoration: none;
  float: left;
}
/* line 123, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a h1 {
  background: none;
  color: #000;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 5px;
  padding: 0;
  overflow: hidden;
  float: none;
}
/* line 136, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line {
  width: 100%;
  overflow: hidden;
  margin: 0 auto 10px;
}
/* line 140, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line .like_mask {
  width: 106px;
  height: 24px;
  display: block;
  overflow: hidden;
  float: left;
}
/* line 148, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line .fb-like .fb_edge_comment_widget {
  display: none;
}
/* line 151, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line .fb-like iframe {
  overflow: hidden !important;
}
/* line 153, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line a {
  float: none;
}
/* line 156, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line ol, li.product .box_product .line img {
  float: left;
}
/* line 159, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line ol {
  height: 28px;
  margin: 0 0 0 5px;
}
/* line 162, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line ol li {
  margin: 6px 0 0 0;
  display: inline !important;
  float: left;
}
/* line 167, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line ol li a img {
  width: 15px;
  height: 15px;
  border: 2px #D7D7D7 solid;
}
/* line 173, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line ol li a:hover img, li.product .box_product .line ol li a.selected img {
  border: 2px #000 solid;
}
/* line 180, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line .like, li.product .box_product .line span {
  float: right;
}
/* line 183, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line span {
  color: #343434;
  font-size: 16px;
  letter-spacing: -1px;
  margin-right: 2px;
  padding: 3px 0 0 0;
}
/* line 190, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line .like {
  background: url(/dev-assets/common/ico-heart-off.png) no-repeat;
  text-indent: -9999px;
  color: #716d68;
  font-family: Arial;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  width: 14px;
  height: 14px;
  display: block;
}
/* line 202, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line .like:hover, li.product .box_product .line .like.selected {
  background: url(/dev-assets/common/ico-heart-on.png) no-repeat;
  color: #ff7db0;
}
/* line 209, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product.sold_out a p.sold_out {
  top: 2px;
  left: 2px;
  display: block;
}
/* line 213, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product.sold_out a p.sold_out + p.shoe_size {
  background: url(/dev-assets/common/number-sold-out.png) no-repeat;
  left: 61px !important;
  display: block;
}
/* line 221, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product.stock_down a p.quantity {
  top: 2px;
  left: 2px;
  display: block;
}
/* line 225, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product.stock_down a p.quantity + p.shoe_size {
  left: 53px !important;
  display: block;
}
/* line 232, ../../../app/assets/stylesheets/partials/_product.scss */
li.product:hover {
  padding: 5px;
  border: 5px #F4F4F4 solid;
}
/* line 235, ../../../app/assets/stylesheets/partials/_product.scss */
li.product:hover div.hover_suggestive {
  display: block;
}
/* line 238, ../../../app/assets/stylesheets/partials/_product.scss */
li.product:hover p.know {
  display: block;
}
/* line 245, ../../../app/assets/stylesheets/partials/_product.scss */
li.product.promotion .box_product .line span {
  color: #ef3742;
  font-size: 15px;
  font-weight: bold;
  float: none;
}
/* line 250, ../../../app/assets/stylesheets/partials/_product.scss */
li.product.promotion .box_product .line span.old {
  color: #000;
  font-size: 12px;
  font-weight: normal;
  line-height: 9px;
  text-decoration: line-through;
}

/* line 264, ../../../app/assets/stylesheets/partials/_product.scss */
#showroom li.product, #lookbooks li.product, #welcome li.product, #profile_products li.product {
  width: 178px;
  height: 275px;
}
/* line 270, ../../../app/assets/stylesheets/partials/_product.scss */
#showroom li.product div.hover_suggestive ul li.spy a, #lookbooks li.product div.hover_suggestive ul li.spy a, #welcome li.product div.hover_suggestive ul li.spy a, #profile_products li.product div.hover_suggestive ul li.spy a {
  width: 170px;
}
/* line 278, ../../../app/assets/stylesheets/partials/_product.scss */
#showroom li.product .box_product a.product_link p.warn, #lookbooks li.product .box_product a.product_link p.warn, #welcome li.product .box_product a.product_link p.warn, #profile_products li.product .box_product a.product_link p.warn {
  top: 2px;
  left: -9px;
}
/* line 282, ../../../app/assets/stylesheets/partials/_product.scss */
#showroom li.product .box_product a.product_link img, #lookbooks li.product .box_product a.product_link img, #welcome li.product .box_product a.product_link img, #profile_products li.product .box_product a.product_link img {
  width: 146px;
}
/* line 285, ../../../app/assets/stylesheets/partials/_product.scss */
#showroom li.product .box_product a.product_link h1, #lookbooks li.product .box_product a.product_link h1, #welcome li.product .box_product a.product_link h1, #profile_products li.product .box_product a.product_link h1 {
  width: 170px;
  height: 18px;
}

/* line 294, ../../../app/assets/stylesheets/partials/_product.scss */
#product div.hover_suggestive, #cart div.hover_suggestive {
  top: 235px;
}
/* line 298, ../../../app/assets/stylesheets/partials/_product.scss */
#product div.hover_suggestive ul li.spy a, #cart div.hover_suggestive ul li.spy a {
  width: 260px;
}
/* line 306, ../../../app/assets/stylesheets/partials/_product.scss */
#product .box_product a.product_link p.warn, #cart .box_product a.product_link p.warn {
  top: 2px;
  left: -9px;
}
/* line 310, ../../../app/assets/stylesheets/partials/_product.scss */
#product .box_product a.product_link img, #cart .box_product a.product_link img {
  width: 260px;
  height: 260px;
}
/* line 314, ../../../app/assets/stylesheets/partials/_product.scss */
#product .box_product a.product_link h1, #cart .box_product a.product_link h1 {
  width: 250px;
  height: 17px;
}
/* line 321, ../../../app/assets/stylesheets/partials/_product.scss */
#product div#carousel div.hover_suggestive, #cart div#carousel div.hover_suggestive {
  top: 140px;
}
/* line 325, ../../../app/assets/stylesheets/partials/_product.scss */
#product div#carousel div.hover_suggestive ul li.spy a, #cart div#carousel div.hover_suggestive ul li.spy a {
  width: 180px;
}

/* line 334, ../../../app/assets/stylesheets/partials/_product.scss */
#friends li.product {
  width: 160px;
  height: 316px;
}
/* line 337, ../../../app/assets/stylesheets/partials/_product.scss */
#friends li.product div.hover_suggestive {
  top: 125px;
}
/* line 341, ../../../app/assets/stylesheets/partials/_product.scss */
#friends li.product div.hover_suggestive ul li.spy a {
  width: 150px;
}
/* line 349, ../../../app/assets/stylesheets/partials/_product.scss */
#friends li.product .box_product a.product_link p.warn {
  top: 2px;
  left: -9px;
}
/* line 353, ../../../app/assets/stylesheets/partials/_product.scss */
#friends li.product .box_product a.product_link img {
  width: 150px;
  height: 150px;
}
/* line 357, ../../../app/assets/stylesheets/partials/_product.scss */
#friends li.product .box_product a.product_link h1 {
  width: 150px;
  height: 17px;
}

/* line 366, ../../../app/assets/stylesheets/partials/_product.scss */
#liquidation ul#products {
  clear: both;
}

/* line 368, ../../../app/assets/stylesheets/partials/_product.scss */
#liquidation li.product, #moments li.product {
  width: 160px;
  height: 225px;
}
/* line 371, ../../../app/assets/stylesheets/partials/_product.scss */
#liquidation li.product div.hover_suggestive, #moments li.product div.hover_suggestive {
  top: 125px;
}
/* line 375, ../../../app/assets/stylesheets/partials/_product.scss */
#liquidation li.product div.hover_suggestive ul li.spy a, #moments li.product div.hover_suggestive ul li.spy a {
  width: 150px;
}
/* line 383, ../../../app/assets/stylesheets/partials/_product.scss */
#liquidation li.product .box_product a.product_link p.warn, #moments li.product .box_product a.product_link p.warn {
  top: 2px;
  left: -9px;
  /*&.percentage {
    left: 2px;
  }*/
}
/* line 390, ../../../app/assets/stylesheets/partials/_product.scss */
#liquidation li.product .box_product a.product_link img, #moments li.product .box_product a.product_link img {
  width: 150px;
  height: 150px;
}
/* line 394, ../../../app/assets/stylesheets/partials/_product.scss */
#liquidation li.product .box_product a.product_link h1, #moments li.product .box_product a.product_link h1 {
  width: 150px;
  height: 17px;
}

/* line 407, ../../../app/assets/stylesheets/partials/_product.scss */
#moments li.product .box_product a.product_link h1 {
  font-size: 14px;
  width: auto !important;
  float: left;
}
/* line 412, ../../../app/assets/stylesheets/partials/_product.scss */
#moments li.product .box_product a.product_link > span {
  color: #343434;
  font-size: 14px;
  letter-spacing: -1px;
  margin-right: 2px;
  margin: 0 7px 0 0;
  float: right;
}
/* line 425, ../../../app/assets/stylesheets/partials/_product.scss */
#moments li.product.promotion .box_product a.product_link > span {
  color: #ef3742;
  text-align: right;
  padding: 2px 0 0;
  display: block;
  clear: both;
  border-top: 1px #eee solid;
  float: none;
}
/* line 433, ../../../app/assets/stylesheets/partials/_product.scss */
#moments li.product.promotion .box_product a.product_link > span.old {
  color: #000;
  font-size: 12px;
  text-decoration: line-through;
  padding: 0;
  display: inline;
  clear: none;
  border: none;
  float: right;
}

/* line 451, ../../../app/assets/stylesheets/partials/_product.scss */
#suggestion li.product {
  width: 175px;
  height: 316px;
}
/* line 457, ../../../app/assets/stylesheets/partials/_product.scss */
#suggestion li.product div.hover_suggestive ul li.spy a {
  width: 170px;
}
/* line 465, ../../../app/assets/stylesheets/partials/_product.scss */
#suggestion li.product .box_product a.product_link p.warn {
  top: 2px;
  left: -9px;
}
/* line 469, ../../../app/assets/stylesheets/partials/_product.scss */
#suggestion li.product .box_product a.product_link img {
  width: 170px;
  height: 170px;
}
/* line 473, ../../../app/assets/stylesheets/partials/_product.scss */
#suggestion li.product .box_product a.product_link h1 {
  width: 170px;
  height: 17px;
}

/* line 3, ../../../app/assets/stylesheets/section/liquidations.scss */
div.full_container {
  #background: #d2d1d6 url(/dev-assets/liquidations/bg-top.jpg) bottom repeat-x;
  height: 320px;
  overflow: hidden !important;
  margin: 13px 0 10px 0 !important;
}
/* line 9, ../../../app/assets/stylesheets/section/liquidations.scss */
div.full_container div.content {
  padding-top: 0 !important;
  position: relative;
}
/* line 12, ../../../app/assets/stylesheets/section/liquidations.scss */
div.full_container div.content div.description {
  position: relative;
  width: 490px;
  height: 310px;
  margin: 0 0 0 0;
  overflow: auto;
  float: left;
}
/* line 19, ../../../app/assets/stylesheets/section/liquidations.scss */
div.full_container div.content div.description h1 {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 78px;
  line-height: 85px;
  letter-spacing: -8px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  display: table;
}
/* line 30, ../../../app/assets/stylesheets/section/liquidations.scss */
div.full_container div.content div.description h2 {
  background: #df5a8b;
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  font-size: 33px;
  font-weight: lighter;
  letter-spacing: -2px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 25px auto;
  padding: 5px 20px;
  clear: both;
  display: table;
}
/* line 44, ../../../app/assets/stylesheets/section/liquidations.scss */
div.full_container div.content div.description img {
  width: 480px;
  height: 293px;
  margin: 0 auto 10px auto;
}
/* line 49, ../../../app/assets/stylesheets/section/liquidations.scss */
div.full_container div.content div.description p {
  color: #101010;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  text-align: center;
  width: 100%;
  margin: 0 0 20px;
  clear: both;
}
/* line 60, ../../../app/assets/stylesheets/section/liquidations.scss */
div.full_container div.content div#carousel_container {
  position: relative;
  width: 480px;
  height: 351px;
  display: block;
  top: 0;
  right: 0;
  float: right;
}
/* line 68, ../../../app/assets/stylesheets/section/liquidations.scss */
div.full_container div.content div#carousel_container ul {
  position: relative;
  width: 5000px;
  left: 0;
  overflow: hidden;
}
/* line 73, ../../../app/assets/stylesheets/section/liquidations.scss */
div.full_container div.content div#carousel_container ul li {
  margin: 0;
  padding: 0;
  display: inline;
  float: left;
}
/* line 78, ../../../app/assets/stylesheets/section/liquidations.scss */
div.full_container div.content div#carousel_container ul li img {
  width: 478px;
  height: 293px;
}
/* line 84, ../../../app/assets/stylesheets/section/liquidations.scss */
div.full_container div.content div#carousel_container a.arrow {
  position: absolute;
  background: url(/dev-assets/liquidations/arrows.png) 0 no-repeat;
  text-indent: -9999px;
  width: 40px;
  height: 46px;
  top: 130px;
  display: block;
}
/* line 92, ../../../app/assets/stylesheets/section/liquidations.scss */
div.full_container div.content div#carousel_container a.arrow.prev {
  background-position: 0 -47px;
  left: 0;
}
/* line 95, ../../../app/assets/stylesheets/section/liquidations.scss */
div.full_container div.content div#carousel_container a.arrow.prev:hover {
  background-position: 0 0;
}
/* line 99, ../../../app/assets/stylesheets/section/liquidations.scss */
div.full_container div.content div#carousel_container a.arrow.next {
  background-position: -40px -47px;
  right: 0;
}
/* line 102, ../../../app/assets/stylesheets/section/liquidations.scss */
div.full_container div.content div#carousel_container a.arrow.next:hover {
  background-position: -40px 0;
}

/* line 111, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation {
  position: relative;
  width: 100%;
  overflow: auto;
}
/* line 115, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#filters_container {
  width: 170px;
  overflow: auto;
  float: left;
}
/* line 119, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#filters_container div.filter {
  margin: 0 0 10px 0;
}
/* line 121, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#filters_container div.filter h1 {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  padding: 0 0 5px 5px;
  border-bottom: 1px #dedede solid;
}
/* line 129, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#filters_container div.filter h1.shoes {
  background: url(/dev-assets/liquidations/shoes.png) no-repeat top left;
  padding-left: 23px;
}
/* line 133, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#filters_container div.filter h1.purse {
  background: url(/dev-assets/liquidations/purse.png) no-repeat top left;
  padding-left: 23px;
}
/* line 137, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#filters_container div.filter h1.acessories {
  background: url(/dev-assets/liquidations/acessories.png) no-repeat top left;
  padding-left: 26px;
}
/* line 141, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#filters_container div.filter h1.subtitle {
  font-size: 14px;
}
/* line 146, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#filters_container div.filter div.clean_filters {
  margin-top: -44px;
  float: right;
}
/* line 149, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#filters_container div.filter div.clean_filters a {
  color: #ef3742;
  text-decoration: none;
}
/* line 156, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#filters_container div.filter ol {
  width: 160px;
  margin: 0 0 20px 10px;
  overflow: auto;
}
/* line 160, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#filters_container div.filter ol li {
  margin: 0 0 10px 0;
}
/* line 162, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#filters_container div.filter ol li label {
  color: #6d6e71;
  letter-spacing: -1px;
}
/* line 168, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#filters_container div.filter ol.column li {
  width: 80px;
  float: left;
}
/* line 174, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#filters_container div.filter ol.color_filter_ li {
  background: url(/dev-assets/moments/color-filter.jpg) no-repeat;
}
/* line 176, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#filters_container div.filter ol.color_filter_ li.neutras {
  background-position: 97px 2px;
}
/* line 179, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#filters_container div.filter ol.color_filter_ li.metalizadas {
  background-position: 97px -26px;
}
/* line 182, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#filters_container div.filter ol.color_filter_ li.tons-pastel {
  background-position: 97px -53px;
}
/* line 185, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#filters_container div.filter ol.color_filter_ li.vivas {
  background-position: 97px -81px;
}
/* line 188, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#filters_container div.filter ol.color_filter_ li.estampadas {
  background-position: 97px -81px;
}
/* line 191, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#filters_container div.filter ol.color_filter_ li.animal-print {
  background-position: 97px -81px;
}
/* line 194, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#filters_container div.filter ol.color_filter_ li:first-child {
  background: none;
}
/* line 200, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#filters_container div.filter.shoe_size {
  display: none;
}
/* line 206, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#filters_container div#shoe_size_filter {
  position: absolute;
  width: 380px;
  display: inline-block;
  float: left;
  top: 0;
  left: 212px;
}
/* line 213, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#filters_container div#shoe_size_filter label {
  color: #101010;
  font-size: 13px;
  font-weight: 600;
  line-height: 38px;
  margin-right: 15px;
  float: left;
}
/* line 222, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#filters_container div#shoe_size_filter span {
  background: url(/dev-assets/common/black_arrow.jpg) center right no-repeat;
  text-indent: 12px;
  line-height: 32px;
  height: 32px;
  padding: 0 35px 0 0;
  bottom: 0;
  top: 2px;
  border: 1px #e7e7e7 solid;
  cursor: pointer;
  float: left;
}
/* line 234, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#filters_container div#shoe_size_filter div.sizes {
  position: absolute;
  background: #FFF;
  width: 110px;
  overflow: auto;
  padding: 0 10px;
  top: 33px;
  left: 118px;
  border: 1px #BBB solid;
  z-index: 10;
  display: none;
}
/* line 246, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#filters_container div#shoe_size_filter div.sizes ol label {
  float: none;
}
/* line 249, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#filters_container div#shoe_size_filter div.sizes ul li {
  float: left;
}
/* line 251, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#filters_container div#shoe_size_filter div.sizes ul li label {
  float: none;
}
/* line 260, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#products_container {
  width: 770px;
  overflow: visible;
  float: right;
}
/* line 264, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#products_container div#order_filter {
  width: 380px;
  height: 45px;
  display: inline-block;
  float: right;
  margin-right: 80px;
}
/* line 270, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#products_container div#order_filter form {
  width: 215px;
  float: right;
}
/* line 275, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#products_container div#order_filter form ol li label {
  color: #101010;
  font-size: 13px;
  font-weight: 600;
  line-height: 38px;
  margin-right: 15px;
  float: left;
}
/* line 283, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#products_container div#order_filter form ol li.select {
  position: relative;
  width: 250px;
  overflow: auto;
  display: inline;
}
/* line 288, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#products_container div#order_filter form ol li.select span.select {
  position: absolute;
  background: url(/dev-assets/liquidations/select.jpg) no-repeat;
  text-indent: 12px;
  bottom: 0;
  top: 2px;
  float: left;
  width: 119px;
  height: 34px;
  line-height: 32px;
  cursor: default;
  z-index: 1;
}
/* line 302, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#products_container div#order_filter form ol li.select select.custom_select {
  position: absolute;
  line-height: 26px;
  width: 119px;
  height: 34px;
  margin-right: 10px;
  margin-top: 10px;
  top: 0;
  left: 10px;
}
/* line 318, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#products_container div.loading {
  background: url(/dev-assets/common/ajax-loader.gif) center no-repeat;
  width: 770px;
  height: 30px;
  margin: 0 auto;
  display: none;
  clear: both;
}
/* line 326, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#products_container div.pagination {
  clear: both;
}
/* line 328, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#products_container div.pagination a, div#liquidation div#products_container div.pagination span, div#liquidation div#products_container div.pagination em.current {
  display: none;
}
/* line 334, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#products_container ul#products .box_product h1 {
  font-size: 12px;
}
/* line 337, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#products_container ul#products .box_product .brand {
  display: none;
}
/* line 341, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#products_container ul#products .box_product .price .old {
  text-transform: downcase;
}
/* line 344, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#products_container ul#products .box_product .price .old, div#liquidation div#products_container ul#products .box_product .price .txt-pink {
  display: inline !important;
}
/* line 349, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#products_container ul#products .box_product .line span {
  font-size: 12px;
}
/* line 352, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#products_container ul#products .box_product .line a.product_link {
  margin-left: 0;
}
/* line 356, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#products_container ul#products .box_product ol.color_list {
  display: none;
}
/* line 359, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#products_container ul#products .box_product .warn.sold_out, div#liquidation div#products_container ul#products .box_product .warn.shoe_size, div#liquidation div#products_container ul#products .box_product .warn.quantity {
  display: none;
}
/* line 363, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation div#products_container ul#products .box_product p.warn.percentage {
  top: 65px !important;
  left: 105px !important;
}
/* line 371, ../../../app/assets/stylesheets/section/liquidations.scss */
div#liquidation a.banner {
  width: 620px;
  display: block;
  margin: 10px auto 0;
}

/* line 383, ../../../app/assets/stylesheets/section/liquidations.scss */
.ie div#order_filter form ol li.select span.select, .gecko div#order_filter form ol li.select span.select {
  top: 31px !important;
}
/* line 385, ../../../app/assets/stylesheets/section/liquidations.scss */
.ie div#order_filter form ol li.select span.select select.custom_select, .gecko div#order_filter form ol li.select span.select select.custom_select {
  top: 15px !important;
  left: 0 !important;
}

/* line 401, ../../../app/assets/stylesheets/section/liquidations.scss */
.gecko div#order_filter form ol li.select span.select, .ie7 div#order_filter form ol li.select span.select {
  top: 15px !important;
}
/* line 404, ../../../app/assets/stylesheets/section/liquidations.scss */
.gecko div#order_filter form ol li.select select.custom_select, .ie7 div#order_filter form ol li.select select.custom_select {
  top: 15px !important;
  left: 0 !important;
}

/* line 419, ../../../app/assets/stylesheets/section/liquidations.scss */
.ie8 div#order_filter form ol li.select span.select, .ie9 div#order_filter form ol li.select span.select {
  top: 15px !important;
}
/* line 422, ../../../app/assets/stylesheets/section/liquidations.scss */
.ie8 div#order_filter form ol li.select select.custom_select, .ie9 div#order_filter form ol li.select select.custom_select {
  top: 15px !important;
  left: 0 !important;
}
