/* line 134, ../../../app/assets/stylesheets/common/_images.scss */
.banner_mothers_day {
  margin-bottom: 10px;
}

/* line 134, ../../../app/assets/stylesheets/common/_images.scss */
.banner_mothers_day {
  margin-bottom: 10px;
}

/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/* line 3, ../../../app/assets/stylesheets/partials/_product.scss */
li.product {
  position: relative;
  margin: 0 0 2px 0;
  padding: 10px;
  overflow: hidden;
  display: inline-block;
  float: left;
}
/* line 10, ../../../app/assets/stylesheets/partials/_product.scss */
li.product div.hover_suggestive {
  position: absolute;
  background: none;
  width: 100%;
  bottom: 25px;
  left: 0;
  display: none;
  z-index: 10;
}
/* line 18, ../../../app/assets/stylesheets/partials/_product.scss */
li.product div.hover_suggestive ul {
  margin: 0;
  padding: 0 !important;
}
/* line 21, ../../../app/assets/stylesheets/partials/_product.scss */
li.product div.hover_suggestive ul li {
  text-align: center;
  margin: 0;
}
/* line 24, ../../../app/assets/stylesheets/partials/_product.scss */
li.product div.hover_suggestive ul li a {
  background: url(/dev-assets/common/bg-spy.png) repeat;
  color: #101010;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, johnston;
  font-size: 13px;
  font-weight: lighter;
  line-height: 32px;
  text-decoration: none;
  text-transform: uppercase;
  height: 32px;
  margin: 0 auto;
  display: block;
}
/* line 36, ../../../app/assets/stylesheets/partials/_product.scss */
li.product div.hover_suggestive ul li a span {
  background: url(/dev-assets/common/icon-spy-on.png) left center no-repeat;
  color: #000;
  line-height: 16px;
  display: inline-block;
  padding: 0 0 0 19px;
}
/* line 44, ../../../app/assets/stylesheets/partials/_product.scss */
li.product div.hover_suggestive ul li a:hover span {
  color: #ef3742;
}
/* line 49, ../../../app/assets/stylesheets/partials/_product.scss */
li.product div.hover_suggestive ul li.add {
  display: none;
}
/* line 51, ../../../app/assets/stylesheets/partials/_product.scss */
li.product div.hover_suggestive ul li.add a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #ef3742;
  color: #FFF;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 9px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  width: 150px;
  margin: -120px auto 0;
  padding: 0 10px;
}
/* line 68, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product {
  position: absolute;
  bottom: 0;
  left: 0;
  /* new size photo */
  display: inline-block;
  clear: left;
}
/* line 71, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a.product_link {
  position: relative;
}
/* line 73, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a.product_link p.warn {
  position: absolute;
  display: none;
  text-indent: -9999px !important;
}
/* line 77, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a.product_link p.warn.sold_out {
  background: url(/dev-assets/common/sold_out.png) no-repeat;
  color: #999;
  width: 72px;
  height: 30px;
}
/* line 83, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a.product_link p.warn.quantity {
  background: url(/dev-assets/common/quantity.png) no-repeat;
  word-spacing: -1px;
  width: 62px;
  height: 30px;
}
/* line 89, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a.product_link p.warn.shoe_size {
  background: url(/dev-assets/common/number.png) no-repeat;
  word-spacing: -1px;
  width: 51px;
  height: 30px;
}
/* line 95, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a.product_link p.warn.percentage {
  top: 65px !important;
  left: 120px !important;
  background: url(/dev-assets/moments/sprite.png) no-repeat 0 -109px;
  width: 60px;
  height: 60px;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir !important;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  padding-top: 10px;
  display: block;
}
/* line 108, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a.product_link p.warn.percentage span {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}
/* line 115, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a.product_link img {
  margin: 0 0 10px 0;
  /*border-bottom: 1px #b2b2b2 solid;*/
}
/* line 120, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a {
  text-decoration: none;
  float: left;
}
/* line 123, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a h1 {
  background: none;
  color: #000;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 5px;
  padding: 0;
  overflow: hidden;
  float: none;
}
/* line 136, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line {
  width: 100%;
  overflow: hidden;
  margin: 0 auto 10px;
}
/* line 140, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line .like_mask {
  width: 106px;
  height: 24px;
  display: block;
  overflow: hidden;
  float: left;
}
/* line 148, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line .fb-like .fb_edge_comment_widget {
  display: none;
}
/* line 151, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line .fb-like iframe {
  overflow: hidden !important;
}
/* line 153, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line a {
  float: none;
}
/* line 156, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line ol, li.product .box_product .line img {
  float: left;
}
/* line 159, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line ol {
  height: 28px;
  margin: 0 0 0 5px;
}
/* line 162, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line ol li {
  margin: 6px 0 0 0;
  display: inline !important;
  float: left;
}
/* line 167, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line ol li a img {
  width: 15px;
  height: 15px;
  border: 2px #D7D7D7 solid;
}
/* line 173, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line ol li a:hover img, li.product .box_product .line ol li a.selected img {
  border: 2px #000 solid;
}
/* line 180, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line .like, li.product .box_product .line span {
  float: right;
}
/* line 183, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line span {
  color: #343434;
  font-size: 16px;
  letter-spacing: -1px;
  margin-right: 2px;
  padding: 3px 0 0 0;
}
/* line 190, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line .like {
  background: url(/dev-assets/common/ico-heart-off.png) no-repeat;
  text-indent: -9999px;
  color: #716d68;
  font-family: Arial;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  width: 14px;
  height: 14px;
  display: block;
}
/* line 202, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line .like:hover, li.product .box_product .line .like.selected {
  background: url(/dev-assets/common/ico-heart-on.png) no-repeat;
  color: #ff7db0;
}
/* line 209, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product.sold_out a p.sold_out {
  top: 2px;
  left: 2px;
  display: block;
}
/* line 213, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product.sold_out a p.sold_out + p.shoe_size {
  background: url(/dev-assets/common/number-sold-out.png) no-repeat;
  left: 61px !important;
  display: block;
}
/* line 221, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product.stock_down a p.quantity {
  top: 2px;
  left: 2px;
  display: block;
}
/* line 225, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product.stock_down a p.quantity + p.shoe_size {
  left: 53px !important;
  display: block;
}
/* line 232, ../../../app/assets/stylesheets/partials/_product.scss */
li.product:hover {
  padding: 5px;
  border: 5px #F4F4F4 solid;
}
/* line 235, ../../../app/assets/stylesheets/partials/_product.scss */
li.product:hover div.hover_suggestive {
  display: block;
}
/* line 238, ../../../app/assets/stylesheets/partials/_product.scss */
li.product:hover p.know {
  display: block;
}
/* line 245, ../../../app/assets/stylesheets/partials/_product.scss */
li.product.promotion .box_product .line span {
  color: #ef3742;
  font-size: 15px;
  font-weight: bold;
  float: none;
}
/* line 250, ../../../app/assets/stylesheets/partials/_product.scss */
li.product.promotion .box_product .line span.old {
  color: #000;
  font-size: 12px;
  font-weight: normal;
  line-height: 9px;
  text-decoration: line-through;
}

/* line 264, ../../../app/assets/stylesheets/partials/_product.scss */
#showroom li.product, #lookbooks li.product, #welcome li.product, #profile_products li.product {
  width: 178px;
  height: 275px;
}
/* line 270, ../../../app/assets/stylesheets/partials/_product.scss */
#showroom li.product div.hover_suggestive ul li.spy a, #lookbooks li.product div.hover_suggestive ul li.spy a, #welcome li.product div.hover_suggestive ul li.spy a, #profile_products li.product div.hover_suggestive ul li.spy a {
  width: 170px;
}
/* line 278, ../../../app/assets/stylesheets/partials/_product.scss */
#showroom li.product .box_product a.product_link p.warn, #lookbooks li.product .box_product a.product_link p.warn, #welcome li.product .box_product a.product_link p.warn, #profile_products li.product .box_product a.product_link p.warn {
  top: 2px;
  left: -9px;
}
/* line 282, ../../../app/assets/stylesheets/partials/_product.scss */
#showroom li.product .box_product a.product_link img, #lookbooks li.product .box_product a.product_link img, #welcome li.product .box_product a.product_link img, #profile_products li.product .box_product a.product_link img {
  width: 146px;
}
/* line 285, ../../../app/assets/stylesheets/partials/_product.scss */
#showroom li.product .box_product a.product_link h1, #lookbooks li.product .box_product a.product_link h1, #welcome li.product .box_product a.product_link h1, #profile_products li.product .box_product a.product_link h1 {
  width: 170px;
  height: 18px;
}

/* line 294, ../../../app/assets/stylesheets/partials/_product.scss */
#product div.hover_suggestive, #cart div.hover_suggestive {
  top: 235px;
}
/* line 298, ../../../app/assets/stylesheets/partials/_product.scss */
#product div.hover_suggestive ul li.spy a, #cart div.hover_suggestive ul li.spy a {
  width: 260px;
}
/* line 306, ../../../app/assets/stylesheets/partials/_product.scss */
#product .box_product a.product_link p.warn, #cart .box_product a.product_link p.warn {
  top: 2px;
  left: -9px;
}
/* line 310, ../../../app/assets/stylesheets/partials/_product.scss */
#product .box_product a.product_link img, #cart .box_product a.product_link img {
  width: 260px;
  height: 260px;
}
/* line 314, ../../../app/assets/stylesheets/partials/_product.scss */
#product .box_product a.product_link h1, #cart .box_product a.product_link h1 {
  width: 250px;
  height: 17px;
}
/* line 321, ../../../app/assets/stylesheets/partials/_product.scss */
#product div#carousel div.hover_suggestive, #cart div#carousel div.hover_suggestive {
  top: 140px;
}
/* line 325, ../../../app/assets/stylesheets/partials/_product.scss */
#product div#carousel div.hover_suggestive ul li.spy a, #cart div#carousel div.hover_suggestive ul li.spy a {
  width: 180px;
}

/* line 334, ../../../app/assets/stylesheets/partials/_product.scss */
#friends li.product {
  width: 160px;
  height: 316px;
}
/* line 337, ../../../app/assets/stylesheets/partials/_product.scss */
#friends li.product div.hover_suggestive {
  top: 125px;
}
/* line 341, ../../../app/assets/stylesheets/partials/_product.scss */
#friends li.product div.hover_suggestive ul li.spy a {
  width: 150px;
}
/* line 349, ../../../app/assets/stylesheets/partials/_product.scss */
#friends li.product .box_product a.product_link p.warn {
  top: 2px;
  left: -9px;
}
/* line 353, ../../../app/assets/stylesheets/partials/_product.scss */
#friends li.product .box_product a.product_link img {
  width: 150px;
  height: 150px;
}
/* line 357, ../../../app/assets/stylesheets/partials/_product.scss */
#friends li.product .box_product a.product_link h1 {
  width: 150px;
  height: 17px;
}

/* line 366, ../../../app/assets/stylesheets/partials/_product.scss */
#liquidation ul#products {
  clear: both;
}

/* line 368, ../../../app/assets/stylesheets/partials/_product.scss */
#liquidation li.product, #moments li.product {
  width: 160px;
  height: 225px;
}
/* line 371, ../../../app/assets/stylesheets/partials/_product.scss */
#liquidation li.product div.hover_suggestive, #moments li.product div.hover_suggestive {
  top: 125px;
}
/* line 375, ../../../app/assets/stylesheets/partials/_product.scss */
#liquidation li.product div.hover_suggestive ul li.spy a, #moments li.product div.hover_suggestive ul li.spy a {
  width: 150px;
}
/* line 383, ../../../app/assets/stylesheets/partials/_product.scss */
#liquidation li.product .box_product a.product_link p.warn, #moments li.product .box_product a.product_link p.warn {
  top: 2px;
  left: -9px;
  /*&.percentage {
    left: 2px;
  }*/
}
/* line 390, ../../../app/assets/stylesheets/partials/_product.scss */
#liquidation li.product .box_product a.product_link img, #moments li.product .box_product a.product_link img {
  width: 150px;
  height: 150px;
}
/* line 394, ../../../app/assets/stylesheets/partials/_product.scss */
#liquidation li.product .box_product a.product_link h1, #moments li.product .box_product a.product_link h1 {
  width: 150px;
  height: 17px;
}

/* line 407, ../../../app/assets/stylesheets/partials/_product.scss */
#moments li.product .box_product a.product_link h1 {
  font-size: 14px;
  width: auto !important;
  float: left;
}
/* line 412, ../../../app/assets/stylesheets/partials/_product.scss */
#moments li.product .box_product a.product_link > span {
  color: #343434;
  font-size: 14px;
  letter-spacing: -1px;
  margin-right: 2px;
  margin: 0 7px 0 0;
  float: right;
}
/* line 425, ../../../app/assets/stylesheets/partials/_product.scss */
#moments li.product.promotion .box_product a.product_link > span {
  color: #ef3742;
  text-align: right;
  padding: 2px 0 0;
  display: block;
  clear: both;
  border-top: 1px #eee solid;
  float: none;
}
/* line 433, ../../../app/assets/stylesheets/partials/_product.scss */
#moments li.product.promotion .box_product a.product_link > span.old {
  color: #000;
  font-size: 12px;
  text-decoration: line-through;
  padding: 0;
  display: inline;
  clear: none;
  border: none;
  float: right;
}

/* line 451, ../../../app/assets/stylesheets/partials/_product.scss */
#suggestion li.product {
  width: 175px;
  height: 316px;
}
/* line 457, ../../../app/assets/stylesheets/partials/_product.scss */
#suggestion li.product div.hover_suggestive ul li.spy a {
  width: 170px;
}
/* line 465, ../../../app/assets/stylesheets/partials/_product.scss */
#suggestion li.product .box_product a.product_link p.warn {
  top: 2px;
  left: -9px;
}
/* line 469, ../../../app/assets/stylesheets/partials/_product.scss */
#suggestion li.product .box_product a.product_link img {
  width: 170px;
  height: 170px;
}
/* line 473, ../../../app/assets/stylesheets/partials/_product.scss */
#suggestion li.product .box_product a.product_link h1 {
  width: 170px;
  height: 17px;
}

/*------------------------
==== GLOBAL VARIABLES ====
------------------------*/
/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/* line 3, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box {
  padding: 0 0 0 70px;
  width: 102px;
  height: 140px;
  float: right;
  background: url(/dev-assets/common/nav/sprite_header.png) -164px -193px;
  position: absolute;
  right: 0px;
  top: 40px;
}
/* line 4, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box img {
  margin: 0 7px 20px 0;
  float: left;
}
/* line 5, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box h3 {
  color: #36569e;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 14px;
  font-weight: lighter;
}
/* line 6, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box h3 span {
  font-size: 17px;
  font-weight: bold;
}
/* line 8, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box .like {
  clear: both;
  padding-top: -20px;
  width: 100px;
}
/* line 9, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box .fb-button {
  width: 100px;
}

/****** IE8 HACK *******/
/* line 14, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
html.ie8 section#home li.iehack {
  margin: 0 !important;
}

/* AJUSTE FACEBOOK IFRAME */
/* line 18, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
.fb-button {
  height: 20px !important;
  overflow: hidden !important;
  margin-top: -40px;
}

/*------------------------
==== GLOBAL VARIABLES ====
------------------------*/
/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/*------------------------
==== GLOBAL VARIABLES ====
------------------------*/
/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/* line 3, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box {
  padding: 0 0 0 70px;
  width: 102px;
  height: 140px;
  float: right;
  background: url(/dev-assets/common/nav/sprite_header.png) -164px -193px;
  position: absolute;
  right: 0px;
  top: 40px;
}
/* line 4, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box img {
  margin: 0 7px 20px 0;
  float: left;
}
/* line 5, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box h3 {
  color: #36569e;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 14px;
  font-weight: lighter;
}
/* line 6, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box h3 span {
  font-size: 17px;
  font-weight: bold;
}
/* line 8, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box .like {
  clear: both;
  padding-top: -20px;
  width: 100px;
}
/* line 9, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box .fb-button {
  width: 100px;
}

/****** IE8 HACK *******/
/* line 14, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
html.ie8 section#home li.iehack {
  margin: 0 !important;
}

/* AJUSTE FACEBOOK IFRAME */
/* line 18, ../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
.fb-button {
  height: 20px !important;
  overflow: hidden !important;
  margin-top: -40px;
}

/* line 4, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories {
  width: 1020px;
  height: 200px;
  margin: 0 0 18px;
  padding: 15px 0 0 0;
  float: left;
}
/* line 5, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories img {
  margin-left: 7px;
}
/* line 8, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul {
  width: 100%;
  overflow: auto;
  margin-top: 35px;
}
/* line 10, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li a {
  width: 63px;
  height: 100px;
  background: url(/dev-assets/home/categories.png) no-repeat;
  color: #000;
  float: left;
  text-indent: -9999px;
  margin-right: 29px;
}
/* line 11, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li a:hover {
  color: #ef3742;
}
/* line 13, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.blusa a {
  background-position: -5px 0px;
}
/* line 14, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.blusa a:hover {
  background-position: -5px -147px;
}
/* line 16, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.camisa a {
  background-position: -100px 0px;
}
/* line 17, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.camisa a:hover {
  background-position: -100px -147px;
}
/* line 19, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.calca a {
  background-position: -196px 0px;
}
/* line 20, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.calca a:hover {
  background-position: -196px -147px;
}
/* line 22, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.vestido a {
  background-position: -293px 0px;
}
/* line 23, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.vestido a:hover {
  background-position: -293px -147px;
}
/* line 25, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.anabela a {
  background-position: -387px 0px;
}
/* line 26, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.anabela a:hover {
  background-position: -387px -147px;
}
/* line 28, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.bota a {
  background-position: -477px 0px;
}
/* line 29, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.bota a:hover {
  background-position: -477px -147px;
}
/* line 31, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.sapatilha a {
  background-position: -570px 0px;
}
/* line 32, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.sapatilha a:hover {
  background-position: -570px -147px;
}
/* line 34, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.scarpin a {
  background-position: -662px 0px;
}
/* line 35, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.scarpin a:hover {
  background-position: -662px -147px;
}
/* line 37, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.rasteira a {
  background-position: -756px 0px;
}
/* line 38, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.rasteira a:hover {
  background-position: -756px -147px;
}
/* line 40, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.bolsas a {
  background-position: -853px 0px;
}
/* line 41, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.bolsas a:hover {
  background-position: -853px -147px;
}
/* line 43, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.acessorios a {
  background-position: -943px 0px;
  margin-right: 0 !important;
}
/* line 44, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.acessorios a:hover {
  background-position: -943px -147px;
}

/* line 50, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
section#boxes {
  width: 970px;
  overflow: auto;
  margin: 0 10px 55px;
}
/* line 52, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
section#boxes ul li {
  background: #f8f8f8;
  width: 311px;
  height: 287px;
  display: block;
  margin: 0 15px 0 0;
  float: left;
  border: 1px #c2c2c2 solid;
  overflow: hidden;
}
/* line 53, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
section#boxes ul li a {
  color: #231f20;
  text-decoration: none;
}
/* line 54, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
section#boxes ul li a h1 {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 17px;
  text-transform: uppercase;
  margin: 16px 0 3px 24px;
  font-weight: lighter;
}
/* line 55, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
section#boxes ul li a p {
  background: url(/dev-assets/home/arrows-pink.png) right center no-repeat;
  font-size: 15px;
  display: inline;
  margin: 0 0 0 24px;
  padding: 0 20px 0 0;
}
/* line 57, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
section#boxes ul li a:hover p {
  color: #ef3742;
}
/* line 60, ../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
section#boxes ul li:last-child {
  margin: 0;
  float: right;
}

/* line 4, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom {
  padding: 20px 0 0 0;
  /***** new showroom *****/
  /***** end new showroom *****/
}
/* line 6, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings {
  width: 100%;
  margin-bottom: 50px;
  overflow: auto;
}
/* line 10, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.facebook {
  position: relative;
  width: 635px;
  float: left;
}
/* line 14, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.facebook h1, #showroom section#greetings div.facebook h2 {
  font-size: 26px;
  letter-spacing: -1px;
}
/* line 18, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.facebook h1 {
  font-family: Arial, "Trebuchet Ms", Times, "Times New Roman", serif, KeplerStdItalic;
  margin-bottom: 10px;
}
/* line 21, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.facebook h1 a {
  color: #ef3742;
}
/* line 25, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.facebook h2 {
  color: #ef3742;
  margin-bottom: 5px;
}
/* line 29, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.facebook div.profile {
  position: absolute;
  width: 245px;
  top: 57px;
  display: none;
  z-index: 1;
}
/* line 35, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.facebook div.profile a {
  background: #000;
  color: #ef3742;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: block;
}
/* line 42, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.facebook div.profile a img {
  float: left;
}
/* line 47, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.facebook p {
  margin-bottom: 25px;
}
/* line 49, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.facebook p.connect {
  width: 600px;
  margin-bottom: 0;
  padding: 10px;
  overflow: auto;
  border: 1px #dbdbdb solid;
}
/* line 55, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.facebook p.connect a {
  background: url(/dev-assets/common/fb-connect-button.png) no-repeat;
  text-indent: -9999px;
  width: 212px;
  height: 25px;
  display: block;
  margin-right: 35px;
  float: left;
}
/* line 67, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.facebook.connected div.avatar {
  width: 120px;
  min-height: 60px;
  max-height: 120px;
  margin: 0 13px 15px 0;
  overflow: hidden;
  float: left;
  border-bottom: 5px #101010 solid;
}
/* line 75, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.facebook.connected div.avatar img.avatar {
  width: 110px;
  border: 5px #101010 solid;
  border-bottom: none;
  float: left;
}
/* line 82, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.facebook.connected h2 {
  color: #000;
}
/* line 85, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.facebook.connected h3 {
  color: #101010;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, johnston;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 5px;
  clear: both;
}
/* line 93, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.facebook.connected div.profile {
  top: 57px;
  left: 140px;
}
/* line 97, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.facebook.connected p {
  margin-bottom: 7px;
}
/* line 100, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.facebook.connected a.conf {
  color: #ef3742;
}
/* line 103, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.facebook.connected div#mask_carousel_facebook {
  position: relative;
  width: 600px;
  height: 44px;
  overflow: hidden;
}
/* line 108, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.facebook.connected div#mask_carousel_facebook .carousel-prev-fb, #showroom section#greetings div.facebook.connected div#mask_carousel_facebook .carousel-next-fb {
  position: absolute;
  text-indent: -9999px;
  width: 38px;
  height: 44px;
  display: block;
  top: 0;
  z-index: 100;
}
/* line 117, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.facebook.connected div#mask_carousel_facebook .carousel-prev-fb {
  background: url(/dev-assets/lookbooks/arrow-left.png) 0 center no-repeat;
  left: 0;
}
/* line 121, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.facebook.connected div#mask_carousel_facebook .carousel-next-fb {
  background: url(/dev-assets/lookbooks/arrow-right.png) 0 center no-repeat;
  right: 0;
}
/* line 125, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.facebook.connected div#mask_carousel_facebook ul {
  position: relative;
  left: 0;
  overflow: auto;
}
/* line 129, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.facebook.connected div#mask_carousel_facebook ul.carousel {
  left: 33px;
}
/* line 132, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.facebook.connected div#mask_carousel_facebook ul li {
  position: relative;
  margin: 0;
  padding: 0;
  display: inline;
  float: left;
}
/* line 138, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.facebook.connected div#mask_carousel_facebook ul li a {
  margin: 0 5px 5px 0;
  float: left;
}
/* line 141, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.facebook.connected div#mask_carousel_facebook ul li a div.mask {
  width: 40px;
  height: 40px;
  overflow: hidden;
}
/* line 146, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.facebook.connected div#mask_carousel_facebook ul li a img {
  height: 65px;
}
/* line 154, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.facebook > a {
  color: #000;
  margin: 5px 0 0 0;
  display: inline-block;
}
/* line 160, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.lookbook {
  width: 355px;
  float: right;
}
/* line 163, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.lookbook h1.title {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, johnston;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0 0 10px 27px;
  display: block;
}
/* line 171, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.lookbook div#mask_carousel_showroom {
  position: relative;
  width: 355px;
  height: 170px;
  overflow: hidden;
}
/* line 176, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.lookbook div#mask_carousel_showroom .carousel-prev, #showroom section#greetings div.lookbook div#mask_carousel_showroom .carousel-next {
  position: absolute;
  text-indent: -9999px;
  width: 38px;
  height: 44px;
  display: block;
  top: 65px;
  z-index: 100;
}
/* line 185, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.lookbook div#mask_carousel_showroom .carousel-prev {
  background: url(/dev-assets/lookbooks/arrow-left.png) 0 center no-repeat;
  left: 0px;
}
/* line 188, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.lookbook div#mask_carousel_showroom .carousel-prev:hover {
  background: url(/dev-assets/lookbooks/arrow-prev-hover.png) 0 center no-repeat;
}
/* line 190, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.lookbook div#mask_carousel_showroom .carousel-next {
  background: url(/dev-assets/lookbooks/arrow-right.png) 0 center no-repeat;
  right: 0;
}
/* line 193, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.lookbook div#mask_carousel_showroom .carousel-next:hover {
  background: url(/dev-assets/lookbooks/arrow-next-hover.png) 0 center no-repeat;
}
/* line 195, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.lookbook div#mask_carousel_showroom ul {
  position: relative;
  left: 13px;
  width: 5000px;
  overflow: auto;
}
/* line 200, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.lookbook div#mask_carousel_showroom ul li {
  position: relative;
  margin: 0;
  padding: 0;
  display: inline;
  float: left;
}
/* line 206, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.lookbook div#mask_carousel_showroom ul li div.video_description {
  display: none;
}
/* line 209, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.lookbook div#mask_carousel_showroom ul li a.video_link {
  position: absolute;
  background-repeat: none;
  text-indent: -99999px;
  text-decoration: none;
  width: 75px;
  height: 52px;
  display: block;
  bottom: 70px;
  left: 20px;
  z-index: 1;
}
/* line 221, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.lookbook div#mask_carousel_showroom ul li a.item {
  position: relative;
  text-decoration: none;
  margin: 0;
  padding: 0;
  float: left;
}
/* line 227, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.lookbook div#mask_carousel_showroom ul li a.item img {
  width: 295px;
  height: 170px;
}
/* line 231, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section#greetings div.lookbook div#mask_carousel_showroom ul li a.item h1 {
  position: absolute;
  background: url(/dev-assets/lookbooks/bg-title.png) repeat;
  color: #FFF;
  font-family: Arial, "Trebuchet Ms", Times, "Times New Roman", serif, KeplerStdItalic;
  font-size: 24px;
  font-weight: lighter;
  letter-spacing: -1px;
  width: 275px;
  margin: 0;
  padding: 5px 10px;
  left: 0;
  bottom: 3px;
}
/* line 251, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section.container_product {
  background: url(/dev-assets/showroom/border-top-product.png) 170px 15px no-repeat;
  width: 100%;
  margin-bottom: 20px;
  overflow: auto;
}
/* line 256, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section.container_product h1.title {
  background: #FFF;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, johnston;
  font-size: 28px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 0 20px 0 0;
  margin-bottom: 20px;
  float: left;
}
/* line 265, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section.container_product h1.title span {
  float: left;
}
/* line 267, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom section.container_product h1.title span.news {
  background-color: #000;
  font-size: 15px;
  margin-left: 10px;
  color: #FFF;
  padding: 5px;
  margin-top: 3px;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
}
/* line 288, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom div.type_list {
  width: 100%;
  overflow: auto;
  clear: both;
}
/* line 292, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom div.type_list div.products_list {
  position: relative;
  background: url(/dev-assets/showroom/border-bottom-product.png) 0 bottom no-repeat;
  width: 100%;
  margin-bottom: 45px;
  padding: 0 0 30px 0;
  /*overflow: hidden;*/
  clear: both;
}
/* line 300, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom div.type_list div.products_list.almost, #showroom div.type_list div.products_list.all {
  display: none;
}
/* line 303, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom div.type_list div.products_list.all {
  background: url(/dev-assets/showroom/border-bottom-more.png) 0 100% no-repeat;
}
/* line 306, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom div.type_list div.products_list.almost {
  background: none !important;
  margin: 0;
  padding: 0;
}
/* line 307, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom div.type_list div.products_list a.catalog_link {
  color: #EF3742;
  text-decoration: none;
}
/* line 311, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom div.type_list div.products_list a.catalog_link:hover {
  color: #EF3742;
  text-decoration: underline;
}
/* line 316, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom div.type_list div.products_list a.more {
  position: absolute;
  background: black url(/dev-assets/showroom/bg-plus.jpg) 8px 9px no-repeat;
  color: #FFF;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 33px;
  padding: 0 15px 0 30px;
  display: block;
  bottom: -15px;
  right: 0;
}
/* line 329, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom div.type_list div.products_list a.more.minus {
  background: black url(/dev-assets/showroom/bg-minus.jpg) 8px 9px no-repeat !important;
}
/* line 332, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom div.type_list div.products_list ul {
  width: 100%;
  overflow: auto;
}
/* line 337, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom div.type_list div.products_list ul li.product div.box_product div.line {
  width: 175px;
}
/* line 339, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom div.type_list div.products_list ul li.product div.box_product div.line p.price {
  font-size: 13px;
  color: #000;
  margin-left: 3px;
}
/* line 340, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom div.type_list div.products_list ul li.product div.box_product div.line p.price span {
  float: none;
  color: #000;
  font-size: 13px;
  margin: 0;
  padding: 0;
}
/* line 342, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom div.type_list div.products_list ul li.product div.box_product div.line a.product_link {
  margin-left: 0;
}
/* line 347, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom div.type_list div.products_list ul li.product .warn.percentage {
  display: none;
}
/* line 351, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom div.type_list div.products_list ul li.product.promotion span.old {
  text-decoration: none;
}
/* line 354, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom div.type_list div.products_list ul li.product.promotion .box_product .line span.txt-pink {
  font-weight: normal;
}
/* line 360, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom div.type_list div.products_list div.loading {
  background: url(/dev-assets/common/ajax-loader.gif) center center no-repeat;
  width: 100%;
  height: 30px;
  display: block;
}
/* line 368, ../../../app/assets/stylesheets/section/showroom.scss */
#showroom img.banner {
  margin: 0 auto;
  display: block;
}

/****** IE8 HACK *******/
/* line 379, ../../../app/assets/stylesheets/section/showroom.scss */
html.ie8 section#home li.iehack {
  margin: 0 !important;
}

/****** end partial products *******/
/******** End partial boxes home *******/
