/* line 134, ../../../app/assets/stylesheets/common/_images.scss */
.banner_mothers_day {
  margin-bottom: 10px;
}

/* line 134, ../../../app/assets/stylesheets/common/_images.scss */
.banner_mothers_day {
  margin-bottom: 10px;
}

/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/* line 3, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist {
  padding-top: 35px;
}
/* line 6, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile {
  width: 100%;
  /*overflow: auto;*/
  float: left;
  clear: both;
  margin: 0 0 10px;
}
/* line 12, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile h1.stylist {
  background: url(/dev-assets/stylist/stylists_convidadas.png) top center no-repeat;
  text-indent: -9999px;
  width: 990px;
  height: 58px;
  margin: 0 0 42px 0;
  display: block;
}
/* line 20, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile img.models {
  float: left;
  margin: 0 30px 0 0;
}
/* line 24, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile div.description {
  font-size: 14px;
  width: 420px;
  margin: 0 20px 0 0;
  overflow: auto;
  float: left;
}
/* line 30, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile div.description h1, section#stylist div.profile div.description h2 {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, johnston;
  font-weight: lighter;
  letter-spacing: -2px;
  text-transform: uppercase;
  width: 241px;
  float: left;
}
/* line 38, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile div.description h1 {
  font-size: 50px;
  line-height: 37px;
  margin: 0px 0 10px 0;
}
/* line 42, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile div.description h1 + p {
  font-family: Arial, "Trebuchet Ms", Times, "Times New Roman", serif, KeplerStdItalic;
  font-size: 15px;
}
/* line 46, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile div.description h1 span {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 42px;
}
/* line 51, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile div.description h2 {
  font-size: 20px;
  clear: both;
}
/* line 54, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile div.description h2 + h2 {
  margin: 0 0 30px 0;
}
/* line 58, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile div.description h3 {
  font-family: Arial, "Trebuchet Ms", Times, "Times New Roman", serif, KeplerStdItalic;
  font-size: 17px;
}
/* line 62, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile div.description p {
  margin: 0 0 15px 0;
  text-align: justify;
  clear: both;
}
/* line 66, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile div.description p a {
  color: #000;
  font-weight: bold;
}
/* line 72, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile div.products {
  position: relative;
  overflow: visible;
  margin-right: 45px;
  border: 1px #ddd solid;
  display: block;
  float: right;
}
/* line 79, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile div.products h1 {
  position: absolute;
  text-indent: -9999px;
  display: block;
  z-index: 1;
}
/* line 85, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile div.products a.product {
  position: absolute;
  color: #000;
  text-decoration: none;
  letter-spacing: -1px;
  display: block;
}
/* line 91, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile div.products a.product p {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 11px;
  line-height: normal;
  letter-spacing: 0;
  text-transform: uppercase;
  position: absolute;
  text-align: center;
}
/* line 99, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile div.products a.product p .price {
  font-style: normal;
}
/* line 105, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#helena {
  padding: 18px 0 20px 0;
}
/* line 107, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#helena div.description {
  background: url(/dev-assets/stylist/helena_linhares/foto.jpg) top right no-repeat;
}
/* line 109, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#helena div.description h1 {
  margin: 0 0 8px 0;
}
/* line 111, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#helena div.description h1 + p {
  width: 250px;
}
/* line 116, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#helena div.products {
  width: 463px;
  height: 528px;
}
/* line 119, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#helena div.products h1 {
  background: url(/dev-assets/stylist/helena_linhares/amo3.png) no-repeat;
  width: 96px;
  height: 80px;
  top: 165px;
  left: 150px;
  z-index: 10;
}
/* line 127, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#helena div.products a#baru {
  background: url(/dev-assets/stylist/helena_linhares/baru.png) no-repeat;
  text-align: center;
  width: 243px;
  height: 122px;
  top: 1px;
  left: 1px;
}
/* line 134, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#helena div.products a#baru p {
  top: 0px;
  left: 95px;
}
/* line 136, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#helena div.products a#cottage {
  background: url(/dev-assets/stylist/helena_linhares/cottage2.png) no-repeat;
  width: 196px;
  height: 212px;
  top: -6px;
  right: 10px;
  z-index: 9;
}
/* line 143, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#helena div.products a#cottage p {
  top: 20px;
  right: 0px;
}
/* line 145, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#helena div.products a#cashmere {
  background: url(/dev-assets/stylist/helena_linhares/cashmere.png) no-repeat;
  text-align: left;
  width: 134px;
  height: 119px;
  top: 250px;
  right: 133px;
  z-index: 10;
}
/* line 153, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#helena div.products a#cashmere p {
  top: -13px;
  right: -25px;
}
/* line 155, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#helena div.products a#mungo {
  background: url(/dev-assets/stylist/helena_linhares/mungo.png) no-repeat;
  width: 221px;
  height: 213px;
  bottom: 0px;
  right: -5px;
}
/* line 161, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#helena div.products a#mungo p {
  bottom: 15px;
  left: -50px;
}
/* line 163, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#helena div.products a#recamo {
  background: url(/dev-assets/stylist/helena_linhares/recamo.png) no-repeat;
  width: 182px;
  height: 234px;
  bottom: 0px;
  left: 0px;
}
/* line 169, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#helena div.products a#recamo p {
  top: 27px;
  left: 3px;
}
/* line 171, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#helena div.products a#chambray {
  background: url(/dev-assets/stylist/helena_linhares/chambray.png) no-repeat;
  width: 150px;
  height: 141px;
  top: 108px;
  left: -13px;
}
/* line 177, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#helena div.products a#chambray p {
  top: 10px;
  left: 140px;
}
/* line 182, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#didi_wagner.profile {
  margin-bottom: 40px;
}
/* line 183, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#didi_wagner div.description {
  background: url(/dev-assets/stylist/didi_wagner/foto.jpg) top right no-repeat;
}
/* line 185, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#didi_wagner div.description h1 {
  margin: 0 0 8px 0;
}
/* line 187, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#didi_wagner div.description h1 + p {
  width: 245px;
}
/* line 192, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#didi_wagner div.products {
  width: 463px;
  height: 488px;
}
/* line 195, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#didi_wagner div.products h1 {
  background: url(/dev-assets/stylist/didi_wagner/didi_wagner.png) no-repeat;
  width: 125px;
  height: 90px;
  top: 222px;
  left: 133px;
}
/* line 202, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#didi_wagner div.products a#choli {
  background: url(/dev-assets/stylist/didi_wagner/choli.png) top center no-repeat;
  text-align: center;
  width: 220px;
  height: 270px;
  top: -35px;
  left: -10px;
}
/* line 209, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#didi_wagner div.products a#choli p {
  top: 40px;
  left: 170px;
}
/* line 211, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#didi_wagner div.products a#madras {
  background: url(/dev-assets/stylist/didi_wagner/madras.png) top right no-repeat;
  width: 182px;
  height: 195px;
  top: -18px;
  right: 20px;
}
/* line 217, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#didi_wagner div.products a#madras p {
  top: 175px;
  right: 130px;
}
/* line 219, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#didi_wagner div.products a#aniagem {
  background: url(/dev-assets/stylist/didi_wagner/aniagem.png) top left no-repeat;
  text-align: right;
  width: 250px;
  height: 320px;
  top: 184px;
  right: -17px;
}
/* line 226, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#didi_wagner div.products a#aniagem p {
  top: 33px;
  left: 173px;
}
/* line 228, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#didi_wagner div.products a#trench {
  background: url(/dev-assets/stylist/didi_wagner/trench.png) top center no-repeat;
  text-align: center;
  width: 250px;
  height: 151px;
  bottom: -19px;
  left: -10px;
  z-index: 1;
}
/* line 236, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#didi_wagner div.products a#trench p {
  top: 35px;
  left: 160px;
}
/* line 238, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#didi_wagner div.products a#modal {
  background: url(/dev-assets/stylist/didi_wagner/modal.png) top left no-repeat;
  text-align: right;
  width: 89px;
  height: 179px;
  bottom: 110px;
  left: 40px;
}
/* line 245, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#didi_wagner div.products a#modal p {
  top: 71px;
  left: -21px;
}
/* line 250, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#paola_orleans.profile {
  margin-bottom: 40px;
}
/* line 251, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#paola_orleans div.description {
  background: url(/dev-assets/stylist/paola_orleans/foto.jpg) top right no-repeat;
}
/* line 253, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#paola_orleans div.description h1 {
  margin-top: 10px;
  line-height: 25px;
}
/* line 255, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#paola_orleans div.description h1 span {
  font-size: 22px;
}
/* line 256, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#paola_orleans div.description h1 + p {
  width: 245px;
}
/* line 259, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#paola_orleans div.products {
  width: 463px;
  height: 490px;
}
/* line 262, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#paola_orleans div.products h1 {
  background: url(/dev-assets/stylist/paola_orleans/paola_orleans.png) no-repeat;
  width: 125px;
  height: 90px;
  top: 253px;
  left: 300px;
}
/* line 269, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#paola_orleans div.products a#tricotine {
  background: url(/dev-assets/stylist/paola_orleans/tricotine.png) top center no-repeat;
  text-align: center;
  width: 195px;
  height: 179px;
  top: -9px;
  left: -21px;
}
/* line 276, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#paola_orleans div.products a#tricotine p {
  top: 180px;
  left: 40px;
}
/* line 278, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#paola_orleans div.products a#geta {
  background: url(/dev-assets/stylist/paola_orleans/geta.png) top right no-repeat;
  width: 145px;
  height: 171px;
  top: -7px;
  right: 152px;
  z-index: 8;
}
/* line 285, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#paola_orleans div.products a#geta p {
  top: 29px;
  right: 46px;
}
/* line 287, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#paola_orleans div.products a#colete {
  background: url(/dev-assets/stylist/paola_orleans/colete.png) top left no-repeat;
  text-align: right;
  width: 195px;
  height: 213px;
  top: 20px;
  right: -27px;
  z-index: 7;
}
/* line 295, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#paola_orleans div.products a#colete p {
  top: 207px;
  right: 35px;
}
/* line 297, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#paola_orleans div.products a#rabat {
  background: url(/dev-assets/stylist/paola_orleans/rabat.png) top center no-repeat;
  text-align: center;
  width: 226px;
  height: 135px;
  bottom: -4px;
  right: 0px;
  z-index: 1;
}
/* line 305, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#paola_orleans div.products a#rabat p {
  top: 9px;
  left: 60px;
}
/* line 307, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#paola_orleans div.products a#dragona {
  background: url(/dev-assets/stylist/paola_orleans/dragona.png) top left no-repeat;
  text-align: right;
  width: 197px;
  height: 272px;
  bottom: -16px;
  left: -11px;
}
/* line 314, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#paola_orleans div.products a#dragona p {
  top: 120px;
  left: 200px;
}
/* line 316, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#paola_orleans div.products a#foxing {
  background: url(/dev-assets/stylist/paola_orleans/foxing.png) top left no-repeat;
  text-align: right;
  width: 127px;
  height: 99px;
  top: 200px;
  left: 160px;
}
/* line 323, ../../../app/assets/stylesheets/section/stylists.scss */
section#stylist div.profile#paola_orleans div.products a#foxing p {
  top: -8px;
  left: 17px;
}
