/* line 4, ../../../app/assets/stylesheets/section/survey.scss */
body .loading {
  background: url(/dev-assets/common/ajax-loader.gif) white 50% 50% no-repeat;
  width: 990px;
  height: 450px;
  position: absolute;
  z-index: 10;
  opacity: 0.85;
  -moz-opacity: 0.85;
  filter: alpha(opacity=85);
}
/* line 16, ../../../app/assets/stylesheets/section/survey.scss */
body #survey input[type='radio'] {
  display: none;
}
/* line 21, ../../../app/assets/stylesheets/section/survey.scss */
body h2#tks {
  font-size: 44px;
  font-family: 'Times New Roman', Times, sans-serif;
  text-align: center;
  width: 100%;
  display: block;
  padding: 200px 0;
}
