/* line 134, ../../../app/assets/stylesheets/common/_images.scss */
.banner_mothers_day {
  margin-bottom: 10px;
}

/* line 134, ../../../app/assets/stylesheets/common/_images.scss */
.banner_mothers_day {
  margin-bottom: 10px;
}

/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/* line 3, ../../../app/assets/stylesheets/partials/_product.scss */
li.product {
  position: relative;
  margin: 0 0 2px 0;
  padding: 10px;
  overflow: hidden;
  display: inline-block;
  float: left;
}
/* line 10, ../../../app/assets/stylesheets/partials/_product.scss */
li.product div.hover_suggestive {
  position: absolute;
  background: none;
  width: 100%;
  bottom: 25px;
  left: 0;
  display: none;
  z-index: 10;
}
/* line 18, ../../../app/assets/stylesheets/partials/_product.scss */
li.product div.hover_suggestive ul {
  margin: 0;
  padding: 0 !important;
}
/* line 21, ../../../app/assets/stylesheets/partials/_product.scss */
li.product div.hover_suggestive ul li {
  text-align: center;
  margin: 0;
}
/* line 24, ../../../app/assets/stylesheets/partials/_product.scss */
li.product div.hover_suggestive ul li a {
  background: url(/dev-assets/common/bg-spy.png) repeat;
  color: #101010;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, johnston;
  font-size: 13px;
  font-weight: lighter;
  line-height: 32px;
  text-decoration: none;
  text-transform: uppercase;
  height: 32px;
  margin: 0 auto;
  display: block;
}
/* line 36, ../../../app/assets/stylesheets/partials/_product.scss */
li.product div.hover_suggestive ul li a span {
  background: url(/dev-assets/common/icon-spy-on.png) left center no-repeat;
  color: #000;
  line-height: 16px;
  display: inline-block;
  padding: 0 0 0 19px;
}
/* line 44, ../../../app/assets/stylesheets/partials/_product.scss */
li.product div.hover_suggestive ul li a:hover span {
  color: #ef3742;
}
/* line 49, ../../../app/assets/stylesheets/partials/_product.scss */
li.product div.hover_suggestive ul li.add {
  display: none;
}
/* line 51, ../../../app/assets/stylesheets/partials/_product.scss */
li.product div.hover_suggestive ul li.add a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #ef3742;
  color: #FFF;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 9px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  width: 150px;
  margin: -120px auto 0;
  padding: 0 10px;
}
/* line 68, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product {
  position: absolute;
  bottom: 0;
  left: 0;
  /* new size photo */
  display: inline-block;
  clear: left;
}
/* line 71, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a.product_link {
  position: relative;
}
/* line 73, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a.product_link p.warn {
  position: absolute;
  display: none;
  text-indent: -9999px !important;
}
/* line 77, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a.product_link p.warn.sold_out {
  background: url(/dev-assets/common/sold_out.png) no-repeat;
  color: #999;
  width: 72px;
  height: 30px;
}
/* line 83, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a.product_link p.warn.quantity {
  background: url(/dev-assets/common/quantity.png) no-repeat;
  word-spacing: -1px;
  width: 62px;
  height: 30px;
}
/* line 89, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a.product_link p.warn.shoe_size {
  background: url(/dev-assets/common/number.png) no-repeat;
  word-spacing: -1px;
  width: 51px;
  height: 30px;
}
/* line 95, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a.product_link p.warn.percentage {
  top: 65px !important;
  left: 120px !important;
  background: url(/dev-assets/moments/sprite.png) no-repeat 0 -109px;
  width: 60px;
  height: 60px;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir !important;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  padding-top: 10px;
  display: block;
}
/* line 108, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a.product_link p.warn.percentage span {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}
/* line 115, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a.product_link img {
  margin: 0 0 10px 0;
  /*border-bottom: 1px #b2b2b2 solid;*/
}
/* line 120, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a {
  text-decoration: none;
  float: left;
}
/* line 123, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product a h1 {
  background: none;
  color: #000;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 5px;
  padding: 0;
  overflow: hidden;
  float: none;
}
/* line 136, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line {
  width: 100%;
  overflow: hidden;
  margin: 0 auto 10px;
}
/* line 140, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line .like_mask {
  width: 106px;
  height: 24px;
  display: block;
  overflow: hidden;
  float: left;
}
/* line 148, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line .fb-like .fb_edge_comment_widget {
  display: none;
}
/* line 151, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line .fb-like iframe {
  overflow: hidden !important;
}
/* line 153, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line a {
  float: none;
}
/* line 156, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line ol, li.product .box_product .line img {
  float: left;
}
/* line 159, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line ol {
  height: 28px;
  margin: 0 0 0 5px;
}
/* line 162, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line ol li {
  margin: 6px 0 0 0;
  display: inline !important;
  float: left;
}
/* line 167, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line ol li a img {
  width: 15px;
  height: 15px;
  border: 2px #D7D7D7 solid;
}
/* line 173, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line ol li a:hover img, li.product .box_product .line ol li a.selected img {
  border: 2px #000 solid;
}
/* line 180, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line .like, li.product .box_product .line span {
  float: right;
}
/* line 183, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line span {
  color: #343434;
  font-size: 16px;
  letter-spacing: -1px;
  margin-right: 2px;
  padding: 3px 0 0 0;
}
/* line 190, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line .like {
  background: url(/dev-assets/common/ico-heart-off.png) no-repeat;
  text-indent: -9999px;
  color: #716d68;
  font-family: Arial;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  width: 14px;
  height: 14px;
  display: block;
}
/* line 202, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product .line .like:hover, li.product .box_product .line .like.selected {
  background: url(/dev-assets/common/ico-heart-on.png) no-repeat;
  color: #ff7db0;
}
/* line 209, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product.sold_out a p.sold_out {
  top: 2px;
  left: 2px;
  display: block;
}
/* line 213, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product.sold_out a p.sold_out + p.shoe_size {
  background: url(/dev-assets/common/number-sold-out.png) no-repeat;
  left: 61px !important;
  display: block;
}
/* line 221, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product.stock_down a p.quantity {
  top: 2px;
  left: 2px;
  display: block;
}
/* line 225, ../../../app/assets/stylesheets/partials/_product.scss */
li.product .box_product.stock_down a p.quantity + p.shoe_size {
  left: 53px !important;
  display: block;
}
/* line 232, ../../../app/assets/stylesheets/partials/_product.scss */
li.product:hover {
  padding: 5px;
  border: 5px #F4F4F4 solid;
}
/* line 235, ../../../app/assets/stylesheets/partials/_product.scss */
li.product:hover div.hover_suggestive {
  display: block;
}
/* line 238, ../../../app/assets/stylesheets/partials/_product.scss */
li.product:hover p.know {
  display: block;
}
/* line 245, ../../../app/assets/stylesheets/partials/_product.scss */
li.product.promotion .box_product .line span {
  color: #ef3742;
  font-size: 15px;
  font-weight: bold;
  float: none;
}
/* line 250, ../../../app/assets/stylesheets/partials/_product.scss */
li.product.promotion .box_product .line span.old {
  color: #000;
  font-size: 12px;
  font-weight: normal;
  line-height: 9px;
  text-decoration: line-through;
}

/* line 264, ../../../app/assets/stylesheets/partials/_product.scss */
#showroom li.product, #lookbooks li.product, #welcome li.product, #profile_products li.product {
  width: 178px;
  height: 275px;
}
/* line 270, ../../../app/assets/stylesheets/partials/_product.scss */
#showroom li.product div.hover_suggestive ul li.spy a, #lookbooks li.product div.hover_suggestive ul li.spy a, #welcome li.product div.hover_suggestive ul li.spy a, #profile_products li.product div.hover_suggestive ul li.spy a {
  width: 170px;
}
/* line 278, ../../../app/assets/stylesheets/partials/_product.scss */
#showroom li.product .box_product a.product_link p.warn, #lookbooks li.product .box_product a.product_link p.warn, #welcome li.product .box_product a.product_link p.warn, #profile_products li.product .box_product a.product_link p.warn {
  top: 2px;
  left: -9px;
}
/* line 282, ../../../app/assets/stylesheets/partials/_product.scss */
#showroom li.product .box_product a.product_link img, #lookbooks li.product .box_product a.product_link img, #welcome li.product .box_product a.product_link img, #profile_products li.product .box_product a.product_link img {
  width: 146px;
}
/* line 285, ../../../app/assets/stylesheets/partials/_product.scss */
#showroom li.product .box_product a.product_link h1, #lookbooks li.product .box_product a.product_link h1, #welcome li.product .box_product a.product_link h1, #profile_products li.product .box_product a.product_link h1 {
  width: 170px;
  height: 18px;
}

/* line 294, ../../../app/assets/stylesheets/partials/_product.scss */
#product div.hover_suggestive, #cart div.hover_suggestive {
  top: 235px;
}
/* line 298, ../../../app/assets/stylesheets/partials/_product.scss */
#product div.hover_suggestive ul li.spy a, #cart div.hover_suggestive ul li.spy a {
  width: 260px;
}
/* line 306, ../../../app/assets/stylesheets/partials/_product.scss */
#product .box_product a.product_link p.warn, #cart .box_product a.product_link p.warn {
  top: 2px;
  left: -9px;
}
/* line 310, ../../../app/assets/stylesheets/partials/_product.scss */
#product .box_product a.product_link img, #cart .box_product a.product_link img {
  width: 260px;
  height: 260px;
}
/* line 314, ../../../app/assets/stylesheets/partials/_product.scss */
#product .box_product a.product_link h1, #cart .box_product a.product_link h1 {
  width: 250px;
  height: 17px;
}
/* line 321, ../../../app/assets/stylesheets/partials/_product.scss */
#product div#carousel div.hover_suggestive, #cart div#carousel div.hover_suggestive {
  top: 140px;
}
/* line 325, ../../../app/assets/stylesheets/partials/_product.scss */
#product div#carousel div.hover_suggestive ul li.spy a, #cart div#carousel div.hover_suggestive ul li.spy a {
  width: 180px;
}

/* line 334, ../../../app/assets/stylesheets/partials/_product.scss */
#friends li.product {
  width: 160px;
  height: 316px;
}
/* line 337, ../../../app/assets/stylesheets/partials/_product.scss */
#friends li.product div.hover_suggestive {
  top: 125px;
}
/* line 341, ../../../app/assets/stylesheets/partials/_product.scss */
#friends li.product div.hover_suggestive ul li.spy a {
  width: 150px;
}
/* line 349, ../../../app/assets/stylesheets/partials/_product.scss */
#friends li.product .box_product a.product_link p.warn {
  top: 2px;
  left: -9px;
}
/* line 353, ../../../app/assets/stylesheets/partials/_product.scss */
#friends li.product .box_product a.product_link img {
  width: 150px;
  height: 150px;
}
/* line 357, ../../../app/assets/stylesheets/partials/_product.scss */
#friends li.product .box_product a.product_link h1 {
  width: 150px;
  height: 17px;
}

/* line 366, ../../../app/assets/stylesheets/partials/_product.scss */
#liquidation ul#products {
  clear: both;
}

/* line 368, ../../../app/assets/stylesheets/partials/_product.scss */
#liquidation li.product, #moments li.product {
  width: 160px;
  height: 225px;
}
/* line 371, ../../../app/assets/stylesheets/partials/_product.scss */
#liquidation li.product div.hover_suggestive, #moments li.product div.hover_suggestive {
  top: 125px;
}
/* line 375, ../../../app/assets/stylesheets/partials/_product.scss */
#liquidation li.product div.hover_suggestive ul li.spy a, #moments li.product div.hover_suggestive ul li.spy a {
  width: 150px;
}
/* line 383, ../../../app/assets/stylesheets/partials/_product.scss */
#liquidation li.product .box_product a.product_link p.warn, #moments li.product .box_product a.product_link p.warn {
  top: 2px;
  left: -9px;
  /*&.percentage {
    left: 2px;
  }*/
}
/* line 390, ../../../app/assets/stylesheets/partials/_product.scss */
#liquidation li.product .box_product a.product_link img, #moments li.product .box_product a.product_link img {
  width: 150px;
  height: 150px;
}
/* line 394, ../../../app/assets/stylesheets/partials/_product.scss */
#liquidation li.product .box_product a.product_link h1, #moments li.product .box_product a.product_link h1 {
  width: 150px;
  height: 17px;
}

/* line 407, ../../../app/assets/stylesheets/partials/_product.scss */
#moments li.product .box_product a.product_link h1 {
  font-size: 14px;
  width: auto !important;
  float: left;
}
/* line 412, ../../../app/assets/stylesheets/partials/_product.scss */
#moments li.product .box_product a.product_link > span {
  color: #343434;
  font-size: 14px;
  letter-spacing: -1px;
  margin-right: 2px;
  margin: 0 7px 0 0;
  float: right;
}
/* line 425, ../../../app/assets/stylesheets/partials/_product.scss */
#moments li.product.promotion .box_product a.product_link > span {
  color: #ef3742;
  text-align: right;
  padding: 2px 0 0;
  display: block;
  clear: both;
  border-top: 1px #eee solid;
  float: none;
}
/* line 433, ../../../app/assets/stylesheets/partials/_product.scss */
#moments li.product.promotion .box_product a.product_link > span.old {
  color: #000;
  font-size: 12px;
  text-decoration: line-through;
  padding: 0;
  display: inline;
  clear: none;
  border: none;
  float: right;
}

/* line 451, ../../../app/assets/stylesheets/partials/_product.scss */
#suggestion li.product {
  width: 175px;
  height: 316px;
}
/* line 457, ../../../app/assets/stylesheets/partials/_product.scss */
#suggestion li.product div.hover_suggestive ul li.spy a {
  width: 170px;
}
/* line 465, ../../../app/assets/stylesheets/partials/_product.scss */
#suggestion li.product .box_product a.product_link p.warn {
  top: 2px;
  left: -9px;
}
/* line 469, ../../../app/assets/stylesheets/partials/_product.scss */
#suggestion li.product .box_product a.product_link img {
  width: 170px;
  height: 170px;
}
/* line 473, ../../../app/assets/stylesheets/partials/_product.scss */
#suggestion li.product .box_product a.product_link h1 {
  width: 170px;
  height: 17px;
}

/*------------------------
==== GLOBAL VARIABLES ====
------------------------*/
/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/* line 5, ../../../app/assets/stylesheets/section/welcome.scss */
body header div.contact {
  display: none;
}
/* line 8, ../../../app/assets/stylesheets/section/welcome.scss */
body header div#session {
  display: none;
}
/* line 13, ../../../app/assets/stylesheets/section/welcome.scss */
body div#wrapper_menu {
  display: none;
}
/* line 16, ../../../app/assets/stylesheets/section/welcome.scss */
body div#content {
  padding: 0;
}
/* line 20, ../../../app/assets/stylesheets/section/welcome.scss */
body.logged header {
  background: none;
  min-height: 85px;
}

/* line 27, ../../../app/assets/stylesheets/section/welcome.scss */
div#promotion_banner {
  display: none !important;
}

/* line 31, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome {
  margin: 0 auto;
}
/* line 33, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome h1.warn {
  color: #333;
  font-size: 35px;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -2px;
  width: 860px;
  margin: 0 auto 40px;
}
/* line 43, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome h1.warn span {
  color: #ef3742;
}
/* line 47, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome div#profile_quiz {
  display: block;
}
/* line 49, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome div#profile_quiz img {
  width: 990px;
  margin: 0 auto;
  display: block;
}
/* line 55, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#painel {
  position: relative;
  background: url(/dev-assets/welcome/bg-painel-top.png) center top no-repeat;
  width: 970px;
  margin: 0 0 30px 0;
  padding: 20px 10px 10px;
  overflow: auto;
}
/* line 62, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#painel a.bt_painel {
  background: #df5a8b;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: -1px;
  margin: 0 0 15px 0;
  padding: 7px 10px;
  float: left;
}
/* line 74, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#painel div.facebook {
  width: 420px;
  margin: 5px 0 0 0;
  float: right;
}
/* line 78, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#painel div.facebook p {
  color: #000;
  font-family: "Times", sans-serif;
  font-size: 17px;
  font-style: italic;
  letter-spacing: -1px;
  margin: 0 10px 0 0;
  float: right;
}
/* line 87, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#painel div.facebook iframe {
  float: right;
}
/* line 91, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#painel div.painel_img {
  text-align: center;
  width: 970px;
  clear: both;
}
/* line 95, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#painel div.painel_img img {
  margin: 0 0 15px 0;
  display: none;
}
/* line 100, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#painel div.painel_footer {
  position: absolute;
  background: url(/dev-assets/welcome/bg-painel-bottom.png) center top no-repeat;
  width: 990px;
  height: 25px;
  display: block;
  left: 0;
  bottom: 0;
}
/* line 110, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#share {
  position: relative;
  background: url(/dev-assets/welcome/bg-share.png) top no-repeat;
  width: 960px;
  height: 640px;
  display: block;
}
/* line 116, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#share h1.title, section#welcome section#share h2 {
  color: #333;
  position: absolute;
  font-family: 'Times New Roman', Times, serif;
  font-size: 52px;
  font-weight: normal;
  font-style: italic;
  letter-spacing: -3px;
}
/* line 125, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#share h1.title {
  width: 540px;
  line-height: 40px;
  top: 25px;
  left: 20px;
}
/* line 130, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#share h1.title span {
  margin: 0 0 0 120px;
  display: block;
}
/* line 135, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#share h2 {
  font-size: 110px;
  letter-spacing: -5px;
  top: 8px;
  left: 525px;
}
/* line 140, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#share h2 em {
  font-size: 30px;
  margin: 20px 0 0 5px;
  float: right;
}
/* line 146, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#share div.share_content {
  position: absolute;
  width: 675px;
  height: 400px;
  display: block;
  top: 155px;
  left: 50px;
}
/* line 153, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#share div.share_content h1 {
  color: #464646;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: normal;
  letter-spacing: -3px;
  text-transform: uppercase;
  margin: 0 0 5px;
}
/* line 162, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#share div.share_content p {
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 15px;
  margin: 0 0 15px;
}
/* line 168, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#share div.share_content div.personal_link {
  height: 190px;
}
/* line 171, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#share div.share_content div.personal_link ul.share li {
  margin: 12px 10px 0 0;
  float: left;
}
/* line 174, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#share div.share_content div.personal_link ul.share li input#invite_link {
  background: url(/dev-assets/common/bg-form-invite.png) bottom repeat-x;
  font-size: 14px;
  letter-spacing: -1px;
  width: 265px;
  padding: 12px 11px;
  border: 1px solid #BBB;
}
/* line 182, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#share div.share_content div.personal_link ul.share li.first {
  margin: 0 15px 0 0;
}
/* line 188, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#share div.share_content div.email {
  width: 100%;
  margin: 0 0 15px 0;
  overflow: auto;
}
/* line 193, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#share div.share_content div.email form fieldset {
  float: left;
}
/* line 197, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#share div.share_content div.email form fieldset ol li textarea {
  background: url(/dev-assets/common/bg-textarea.png) bottom repeat-x;
  color: #3C3C3C;
  font-size: 14px;
  letter-spacing: -1px;
  outline: none;
  width: 420px;
  height: 53px;
  resize: none;
  margin: 0 20px 0 0;
  padding: 12px 13px;
  border: 1px solid #BBB;
}
/* line 213, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#share div.share_content div.email form fieldset.buttons input[type="submit"] {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 151px;
  height: 47px;
  margin: 15px 0 0 0;
  display: block;
  border: none;
  cursor: pointer;
  float: left;
  background: #e82d3a;
  background: linear-gradient(to bottom, #eb6a73 0%, #e82d3a 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: "Trebuchet Ms" !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
}
/* line 35, ../../../app/assets/stylesheets/new_structure/common/_global_stuffs.scss */
section#welcome section#share div.share_content div.email form fieldset.buttons input[type="submit"]:hover {
  background: #eb6a73;
  background: linear-gradient(to bottom, #e82d3a 0%, #eb6a73 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: "Trebuchet Ms" !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
}
/* line 233, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#share div.share_content a.invite {
  background: url(/dev-assets/welcome/arrow.png) left no-repeat;
  color: #ef3742;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 0 0 0 13px;
}
/* line 242, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome div.banner {
  width: 100%;
  overflow: auto;
  margin-bottom: 30px;
}
/* line 247, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#products {
  background: url(/dev-assets/showroom/border-top-product.png) 170px 26px no-repeat;
  width: 100%;
  margin-bottom: 30px;
  overflow: auto;
}
/* line 252, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#products h1.title {
  background: #FFF;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  font-weight: normal;
  font-style: italic;
  letter-spacing: -3px;
  text-transform: uppercase;
  padding: 0 20px 0 0;
  float: left;
}
/* line 263, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#products div.products_list {
  background: url(/dev-assets/showroom/border-bottom-product.png) bottom left no-repeat;
  width: 100%;
  margin: 10px 0;
  padding: 0 0 20px 0;
  overflow: auto;
  clear: both;
}
/* line 270, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#products div.products_list ul {
  width: 900px;
  overflow: auto;
  margin: 0 auto;
}
/* line 274, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#products div.products_list ul li.product {
  width: 160px;
}
/* line 278, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#products div.products_list ul li.product div.box_product a.product_link img {
  width: 155px;
  height: 155px;
}
/* line 282, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#products div.products_list ul li.product div.box_product a.product_link h1 {
  width: 155px;
}
/* line 292, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#press h1 {
  color: #515151;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 5px;
}
/* line 300, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#press div.press_container {
  background: #ededed;
  padding: 20px 0;
}
/* line 303, ../../../app/assets/stylesheets/section/welcome.scss */
section#welcome section#press div.press_container a {
  background: url(/dev-assets/welcome/press.jpg) no-repeat;
  text-indent: -9999px;
  text-decoration: none;
  width: 883px;
  height: 77px;
  margin: 0 auto;
  display: block;
}

/* line 317, ../../../app/assets/stylesheets/section/welcome.scss */
div#profile_quiz ul li {
  width: 475px;
  overflow: auto;
  margin: 20px 0;
  float: left;
}

/* line 324, ../../../app/assets/stylesheets/section/welcome.scss */
div#profile_quiz ul li a {
  text-indent: -9999px;
  display: block;
}

/* line 327, ../../../app/assets/stylesheets/section/welcome.scss */
div#profile_quiz ul li a.new_survey {
  width: 301px;
  height: 41px;
  float: right;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 18px;
  background: #8c8c8c;
  background: linear-gradient(to bottom, #b1b1b1 0%, #8c8c8c 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: "Trebuchet Ms" !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
}
/* line 35, ../../../app/assets/stylesheets/new_structure/common/_global_stuffs.scss */
div#profile_quiz ul li a.new_survey:hover {
  background: #b1b1b1;
  background: linear-gradient(to bottom, #8c8c8c 0%, #b1b1b1 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: "Trebuchet Ms" !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
}

/* line 338, ../../../app/assets/stylesheets/section/welcome.scss */
div#profile_quiz ul li a.me {
  width: 179px;
  height: 39px;
  margin: 0 0 0 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  padding-top: 18px;
  background: #e82d3a;
  background: linear-gradient(to bottom, #eb6a73 0%, #e82d3a 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: "Trebuchet Ms" !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
}
/* line 35, ../../../app/assets/stylesheets/new_structure/common/_global_stuffs.scss */
div#profile_quiz ul li a.me:hover {
  background: #eb6a73;
  background: linear-gradient(to bottom, #e82d3a 0%, #eb6a73 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: "Trebuchet Ms" !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
}
