- display_property_for_remove_button = has_wished?(@product.id) ? 'block' : 'none';
- display_property_for_add_button = has_wished?(@product.id) ? 'none' : 'block';
.remove_button{id: 'js-removeFromWishlistButton', data: {product_id: @product.id}, style: "display:#{display_property_for_remove_button}"}
  Desisti
.add_button{id: 'js-addToWishlistButton', data: {product_id: @product.id}, style: "display:#{display_property_for_add_button}"}     
  Eu quero!