        <%= form_tag(cart_path) do %>
          <div class="color_size">
            <%= product_presenter.render_colors %>
            <%= product_presenter.render_sizes %>
          </div>
          <%= submit_tag "", :class=>"add_product", :id => "add_product" %>
        <% end %>
