<div class="line color">
  <p>Cor:</p>
  <ol class="colors">
    <% product.all_colors((shoe_size ||= nil), current_admin).each do |related_product| %>
      <li>
      <% if related_product.id == product.id %>
        <%= image_tag(related_product.color_sample.url || 'fake/no-color.png', title: related_product.product_color) %>
      <% else %>
        <%= link_to image_tag(related_product.color_sample.url || 'fake/no-color.png', title: related_product.product_color), product_seo_path(related_product.seo_path), data: {params: {gift: (gift ||= false), shoe_size: shoe_size}} %>
      <% end %>
      </li>
    <% end %>
  </ol>
</div>
