            <div class="line color">
              <p>Cor:</p>
              <ol class="colors">
                <% product.all_colors.each do |related_product| %>
                  <li>
                    <%= link_to_unless_current image_tag(related_product.color_sample.url || 'fake/no-color.png', :title => related_product.name), related_product %>
                  </li>
                <% end %>
              </ol>
            </div>
