            <div class="line color">
              <p>Cor:</p>
              <ol class="colors">
                
                <li class="straw">
                  <label for="color_1"><%= link_to "straw", "#" %></label>
                </li>
                <li class="driftwood">
                  <label for="color_2"><%= link_to "driftwood", "#" %></label>
                </li>
              </ol>
            </div>
