            <div class="line color">
              <p>Cor:</p>
              <ol class="colors">
                <% product_colors.each do |product| %>
                  <li>
                    <%= link_to image_tag(product.color_sample), product %>
                  </li>
                <% end %>
              </ol>
            </div>
