        <div id="box_tabs">
          <ul class="tabs">
            <li class="first"><%= link_to "Como vestir", "javascript:void(0);", :rel => "tab_1", :class => "selected" %></li>
            <li class="last"><%= link_to "Informações", "javascript:void(0);", :rel => "tab_2", %></li>
          </ul>
          <ul class="tabs_content">
            <li class="tab_1 selected">
              <p>Lorem ipsum dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
            </li>
            <li class="tab_2">
              <table cellpadding="0" cellspacing="0">
                <tbody>
                  <% @product.details.visible.each do |detail| %>
                    <tr>
                      <td><%= detail.translation_token %></td>
                      <td><%= detail.description %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </li>
          </ul>
        </div>
