    <div class="box_carousel">
      <h1>Sua vitrine de <%= product_presenter.collection_name %></h1>
      <div id="carousel">
        <%= link_to "prev", "javascript:void(0);", :class => "arrow prev" %>
        <div class="mask">
          <ul>
            <%= product_presenter.render_main_profile_showroom %>
          </ul>
        </div>
        <%= link_to "next", "javascript:void(0);", :class => "arrow next" %>
      </div>
    </div>
