    <div class="box_carousel">
      <h1><%= link_to "Sua vitrine de #{product_presenter.collection_name}", member_showroom_path %></h1>
      <div id="carousel">
        <ul>
          <%= product_presenter.render_main_profile_showroom %>
        </ul>
        <%= link_to "Anterior", "javascript:void(0);", :class => "arrow product-prev" %>
        <%= link_to "Próximo", "javascript:void(0);", :class => "arrow product-next" %>
      </div>
    </div>
