<div class="line quantity">
  <p>Quantidade:</p>
  <%= text_field_tag('variant[quantity]', "1", class: "quantity-product", "data-max-value" => (product.inventory <= 10) ? product.inventory : 10) %>
  <button type="button" class="plus">+</button>
  <button type="button" class="minus">-</button>
</div>
