      <div id="pics_suggestions">
        <ul id="thumbs">
          <% @product.pictures.each do |picture| %>
            <li><%= link_to image_tag(picture.image_url(:thumb).to_s), "javascript:void(0);", :rel => "product_#{picture.id}", :class=>"load-async-#{picture.id}" %></li>
          <% end %>
        </ul>
        <div id="full_pic">
          <ul>
            <% @product.pictures.each do |picture| %>
              <li class=<%= "'product_#{picture.id}'" %>><%= link_to(image_tag("common/ajax-loader.gif", :class => "full load-image-#{picture.id}", :'data-href' => "#{picture.image_url.to_s}"), picture.image_url.to_s, :rel => "product_#{picture.id}", :class => "image_zoom") %></li>
            <% end %>
          </ul>
        </div>

        <div id="related">
          <h1>Seus stylists também sugerem</h1>
          <ul>
            <%= render :partial => "shared/showroom_product_item", :collection => @product.related_products, :as => :product %>
          </ul>
        </div>
      </div>
