initQuickView.inQuickView = true;

if($("div#quick_view").size() == 0) {
  $("body").prepend("<div id='quick_view'></div>");
}

var width = $(document).width(), height = $(document).height();
$('#overlay-campaign').width(width).height(height).fadeIn();

/*$('.content').first().append("<%= escape_javascript(render('shared/modal_login')) %>");*/
$('#quick_view')
.html("<%= escape_javascript(render(:partial => 'product/quick_view',:locals => { :product => @product, :gift => @gift, :shoe_size => @shoe_size, :only_view => @only_view})) %>")
.css("top", $(window).scrollTop()  + 35)
.fadeIn(100);

$('#quick_view ol.colors li a').attr('data-remote', true);
$("ul.social li.email").hide();


$('#close_quick_view, #overlay-campaign').on("click", function() {
  $('#quick_view, #overlay-campaign').fadeOut(300);
});
if(typeof initProduct !== 'undefined') {
  initProduct.loadAddToCartForm();
} else {
  $.getScript('<%= javascript_path('product') %>');
  $.getScript('<%= javascript_path('product') %>');
}

accordion();
delivery();

if (typeof initSuggestion != 'undefined') {
  initSuggestion.checkIfProductIsAlreadySelected();
}
initQuickView.productZoom();

try{
  FB.XFBML.parse();
}catch(ex){}
