$('#quick_view').html("<%= escape_javascript(render(:partial => 'product/quick_view',:locals => { :product => @product })) %>");
$('#quick_view').fadeIn(300);
width = $(document).width();
height = $(document).height();
$('body').prepend("<div class='overlay'></div>");
$('.overlay').width(width).height(height);
$('#close_quick_view, div.overlay').click(function(){
  $('#quick_view').fadeOut(300);
  $("div.overlay").remove();
});
$('#quick_view ol.colors li a').attr('data-remote', true);

initProduct.productZoom();
