<h2>Editing variant</h2>

<div class="inner">
  <%= render 'form' %>
</div>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'Show', admin_product_variant_path(@variant.product) %></li>
  <li><%= link_to 'Back', admin_product_path(@variant.product) %></li>
<% end %>
