- content_for :footer do
  = javascript_include_tag "wishlist"

%h1 Meus produtos favoritos

- @wishlist.wished_products.each do |wp|
  %p 
    - product = wp.variant.product
    .async{data: {product: product.catalog_picture, backside_picture: product.backside_picture, product: product.catalog_picture}}
  %p
    = wp.variant.product.name
  %p 
    = wp.variant.product.retail_price
  %p 
    = wp.variant.number