<% if show_checkout_banner? %>
  <div class="checkout_banner">
    <br/>
    <%= link_to image_tag("cart/banner_sacola_80.jpg"), "/blackfriday_mercadopago", onclick: track_event("Cart", "ClickBanner", '') %>
  </div>
<% end %>


