<% if show_checkout_banner? %>
  <div class="checkout_banner">
    <br/>
    <%=link_to image_tag("cart/banner_carrinho_990x120_bday.jpg"), collection_theme_path("preview_primavera") %>
  </div>
<% end %>