<h1>MINHA SACOLA</h1>

<h2>Sua sacola está vazia :( <br />
Navegue em nosso site e mude isso já!</h2>

<p class="txt-suggestions">ALGUMAS SUGESTÕES:</p>
<ul class="link-suggestions">

<% if @user %>  
  <li><%= link_to "Confira sua vitrine do mês", "/membro/vitrine" %></li>
<% end %> 
 
  <li><%= link_to "Veja nossos editoriais e inspire-se!" , "/tendencias" %></li>
</ul>
