<% content_for :head do %>
  <%= stylesheet_link_tag "section/half_user" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "half_user" %>
<% end %>

<section id="half_user">
  <div id="description">
    <h1>Falta sรณ mais um passo</h1>
  </div>
  <div id="container_forms">
    <%= render :partial => "/gift/shared/half_user" %>
    <%= render :partial => "/sessions/form_user"%>
</section>
