#mm_presentes.submenu
	%span.column.first
		%ul
			%li
				= link_to 'Até R$ 69,90', selections_path(preco: '0-70', lbl: 'ate-70'), :class => 'sub_menu'
			%li
				= link_to 'Até R$ 129,90', selections_path(preco: '70-130', lbl: 'ate-130'), :class => 'sub_menu'
			%li
				= link_to 'Até R$ 200', selections_path(preco: '130-200', lbl: 'ate-200'), :class => 'sub_menu'
