<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Você foi convidada para o olook</h1>
    <p>
      <%= @invite.user.name %> é membro do olook e convidou você ver a vitrine dela.<br/>
      <%= link_to "Clique aqui", accept_invitation_url(@invite.user.invite_token) %> para se cadastrar e participar.
    </p>
  </body>
</html>
