<h2>Editando produto</h2>

<div class="inner">
  <%= render 'form' %>
</div>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'Mostrar', admin_product_path(@product) %></li>
  <li><%= link_to 'Voltar', admin_products_path %></li>
<% end %>
