section.main {
  input[type="text"], input[type="email"], input[type="password"] {
    font-family: $avenir;
  }
  ol.addresses {
    width: 100%;
    overflow: auto;
    li.address_item {
      width: 215px;
      height: 190px;
      overflow: hidden;
      margin: 0 60px 25px 0;
      padding: 15px 30px;
      display: table;
      border: 2px #eee solid;
      float: left;
      &.selected {
        border-color: $pink;
      }
      ul.links {
        width: auto;
        margin: 15px auto 0;
        overflow: auto;
        li {
          width: auto;
          margin: 0 auto 5px;
          overflow: auto;
          &.address {
            width: 100%;
            clear: both;
            margin-bottom: 10px;
          }
          a {
            color: $pink;
            font-size: 14px;
            text-decoration: none;
            margin: 0 auto;
            &:hover {
              text-decoration: underline;
            }
            &.edit {
              color: $pink;
              text-align: center;
              display: block;
            }
          }
        }
      }
      p {
        font-size: 14px;
        margin-bottom: 5px;
        span {
          color: #101010;
          font-weight: 400;
        }
      }
      input[type="radio"] {
        display: none;
      }
      &.no_margin {
        margin-right: 0;
      }
      &.add {
        margin-right: 0;
        a {
          background: image-url('common/plus-address.png') center left no-repeat;
          color: $pink;
          font-size: 16px;
          text-decoration: none;
          text-align: center;
          vertical-align: middle;
          margin: 0 0 0 5px;
          display: table-cell;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  div.zip_code {
    width: 100%;
    margin: 0;
    overflow: auto;
    fieldset {
      float: left;
      ol {
        li {
          label {
            line-height: 40px;
            display: inline-block;
          }
          em {
            color: #000;
            line-height: 40px;
            margin-right: 15px;
          }
        }
      }
      &.inputs {
        margin-right: 20px;
      }
      &.buttons {
        margin: 5px 0 0 0;
        a.search {
          width: 94px;
          height: 32px;
          margin-right: 20px;
          display: block;
          cursor: pointer;
          float: left;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 12px;
          @include bt_color($primary_bt_color, $primary_bt_color_hover);
        }
        p {
          font-size: 14px;
          width: 325px;
          line-height: 30px;
          a {
            color: #6D6E71;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  div.address_fields, div.contact_fields {
    fieldset {
      &.inputs {
        padding: 30px 25px;
        border: 1px #d6d6d6 solid;
        ol {
          li {
            margin: 0 10px 10px 0;
            float: left;
            label {
              display: block;
            }
            &.street {
              input {
                width: 345px;
              }
            }
            &.number {
              input {
                width: 70px;
              }
            }
            &.complement {
              input {
                width: 70px;
              }
            }
            &.neighborhood {
              input {
                width: 190px;
              }
            }
            &.city {
              input {
                width: 215px;
              }
            }
            &.state {
              position: relative;
              select.custom_select {
                position: absolute;
                line-height: 26px;
                width: 74px;
                height: 34px;
                top: 21px;
                left: 0px;
              }
              span.select {
                position: absolute;
                background: image-url('common/bg-select-state.png') no-repeat;
                line-height: 34px;
                width: 74px;
                height: 34px;
                text-indent: 15px;
                top: 19px;
                left: 0px;
                z-index: 0;
              }
            }
            &.warn_phone {
              width: 100%;
              margin: 19px 0 5px !important;
            }
            &.phone, &.mandatory {
              margin-right: 13px;
              padding-top: 10px;
              border-top: 0;
              clear: both;
              input {
                width: 200px;
              }
            }
            &.mandatory {
              em {
                color: #000;
                float: none;
                margin-right:5px;
              }
            }
          }
        }
        &.desc {
          padding: 15px 0;
          border: none;
        }
      }
    }
  }
  div.contact_fields {
    h1 {
      color: #101010;
      font-family: $avenir;
      font-size: 22px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}
