div#carousel_lookbooks {
  position: relative;
  width: 970px;
  margin: 0 0 40px;
  overflow: hidden;
  .prev-lookbook, .next-lookbook {
    position: absolute;
    text-indent: -9999px;
    width: 38px;
    height: 44px;
    top: 70px;
    z-index: 1;
    cursor: pointer;
  }
  .prev-lookbook {
    background: image-url('lookbooks/arrow-left.png') 0 center no-repeat;
    left: 0px;
  }
  .next-lookbook {
    background: image-url('lookbooks/arrow-right.png') 0 center no-repeat;
    right: 0px;
  }
  .next-lookbook:hover{background:url("/assets/lookbooks/arrow-next-hover.png") no-repeat 0 center}
  .prev-lookbook:hover{background:url("/assets/lookbooks/arrow-prev-hover.png") no-repeat 0 center}
  ul {
    position: relative;
    width: 1500px;
    overflow: auto;
    left: 5px;
    li {
      position: relative;
      display: inline;
      margin: 0 12px 0 0;
      padding: 0;
      float: left;
      a.link_lookbook {
        position: relative;
        text-decoration: none;
        margin: 0;
        padding: 0;
        float: left;
        img {
          width: 295px;
          height: 170px;
        }
        h1 {
          position: absolute;
          background: image-url('lookbooks/bg-title.png') repeat;
          color: #FFF;
          font-family: $kepler;
          font-size: 24px;
          font-weight: lighter;
          letter-spacing: -1px;
          width: 275px;
          margin: 0;
          padding: 5px 10px;
          left: 0;
          bottom: 4px;
        }
      }
      a.label_video {
        position: absolute;
        background-repeat: none;
        text-indent: -99999px;
        text-decoration: none;
        width: 75px;
        height: 52px;
        display: block;
        bottom: 70px;
        left: 20px;
        z-index: 1;
      }
    }
  }
  .pagination {
    text-align: center;
    height: auto;
    margin: 10px 0 0;
    a {
      background: image-url('common/sprite-pagination.png') -13px 0 no-repeat transparent;
      width: 13px;
      height: 13px;
      margin: 0 10px 0 0;
      padding: 0;
      display: inline-block;
      &.selected {
        background-position: 0 0;
        cursor: default;
      }
      span {
        display: none;
      }
    }
  }
}
