@import 'new_structure/common/global_stuffs';

.credits_description{
  display: none;
  width: 800px;
  height: 450px;
  h2{
    font-family: $verdana;
    font-size: 26px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-top: 40px;
  }
  h3{
    font-family: $verdana;
    font-size: 20px;
    font-weight: lighter;
    color: #000;
    text-align: center;
    margin-top: 25px;
  }
  img{
    margin-left: 63px;
    margin-top: 50px;
  }
  ul{

    li{
      width: 170px;
      float: left;
      margin-top: 25px;
      p{
        font-family: $verdana;
        line-height: 26px;
        font-size: 16px;
        text-align: center;
      }
    }
    .last{
      margin-right: 0 !important;
      margin-left: 99px;
    }
    .first{
      margin-left: 31px;
      margin-right: 132px;
    }
  }
}