div.credits_description {
  display: none;
  padding: 0 45px;
  float:left;
  background:#FFF;
  position: relative;
  width: 600px !important;
  height: 400px;
  overflow: auto;
  border:1px solid #a7a9ac;
  div.box_months {
    h1 {
      margin-top: 45px;
      font-family: $avenir;
      font-size: 18px;
      text-align: center;
      letter-spacing: 2px;
      font-weight: 600 !important;
    }
    h3 {
      color: #000;
      font-family: $avenir;
      font-size: 19px;
      font-weight: normal;
      text-align: center;
      margin: 0 0 20px;
    }
    ul.steps {
      margin-top: 20px;
      overflow: auto;
      li {
        background: image-url('loyalty/icon_fidelidade.jpg') no-repeat;
        margin-left: 40px;
        background-position: -180px 0;
        font-size: 15px;
        color: #000;
        text-align: center;
        width: 175px;
        height: 265px;
        display: inline-block;
        float: left;
        &:first-child {
          width:140px;
          background-position: 30px 0;
          margin-left: 0;
        }
        &:last-child, &.last {
          width: 200px;
          background-position: -397px 0;
          margin-left: 33px;
        }
        p{
          line-height: 18px;
          margin-top: 165px;
        }
      }
    }
  }
  &.clone {
    display: block;
  }
  a.rules {
    color: #ef3742;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    border-top: 1px #eee solid;
    outline: none;
  }
  .close{width:20px;height:20px;border:0;background:image-url("campaign_emails/close_bt.png")no-repeat;position:absolute;top:1px;right:8px;font-size:0;font-family:a;cursor:pointer;}
}
