@font-face {
    font-family: 'QuicksandBold';
    src: asset-url('quicksand/quicksand-bold-webfont.eot', 'fonts');
    src: asset-url('quicksand/quicksand-bold-webfont.eot?#iefix', 'fonts') format('embedded-opentype'),
         asset-url('quicksand/quicksand-bold-webfont.woff', 'fonts') format('woff'),
         asset-url('quicksand/quicksand-bold-webfont.ttf', 'fonts') format('truetype'),
         asset-url('quicksand/quicksand-bold-webfont.svg#QuicksandBold', 'fonts') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QuicksandLight';
    src: asset-url('quicksand/quicksand-light-webfont.eot', 'fonts');
    src: asset-url('quicksand/quicksand-light-webfont.eot?#iefix', 'fonts') format('embedded-opentype'),
         asset-url('quicksand/quicksand-light-webfont.woff', 'fonts') format('woff'),
         asset-url('quicksand/quicksand-light-webfont.ttf', 'fonts') format('truetype'),
         asset-url('quicksand/quicksand-light-webfont.svg#QuicksandLight', 'fonts') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QuicksandRegular';
    src: asset-url('quicksand/quicksand-regular-webfont.eot', 'fonts');
    src: asset-url('quicksand/quicksand-regular-webfont.eot?#iefix', 'fonts') format('embedded-opentype'),
         asset-url('quicksand/quicksand-regular-webfont.woff', 'fonts') format('woff'),
         asset-url('quicksand/quicksand-regular-webfont.ttf', 'fonts') format('truetype'),
         asset-url('quicksand/quicksand-regular-webfont.svg#QuicksandRegular', 'fonts') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kepler Std Italic';
    src: asset-url('kepler/adobe_-_keplerstd-italic-webfont.eot', 'fonts');
    src: asset-url('kepler/adobe_-_keplerstd-italic-webfont.eot?#iefix', 'fonts') format('embedded-opentype'),
         asset-url('kepler/adobe_-_keplerstd-italic-webfont.woff', 'fonts') format('woff'),
         asset-url('kepler/adobe_-_keplerstd-italic-webfont.ttf', 'fonts') format('truetype'),
         asset-url('kepler/adobe_-_keplerstd-italic-webfont.svg#Kepler Std Italic', 'fonts') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenir';
    src: asset-url('avenir/avenir-book-webfont.eot', 'fonts');
    src: asset-url('avenir/avenir-book-webfont.eot?#iefix', 'fonts') format('embedded-opentype'),
         asset-url('avenir/avenir-book-webfont.woff', 'fonts') format('woff'),
         asset-url('avenir/avenir-book-webfont.ttf', 'fonts') format('truetype'),
         asset-url('avenir/avenir-book-webfont.svg#avenir', 'fonts') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'johnston';
    src: asset-url('johnston/johnston_itc_bold_0-webfont.eot', 'fonts');
    src: asset-url('johnston/johnston_itc_bold_0-webfont.eot?#iefix', 'fonts') format('embedded-opentype'),
         asset-url('johnston/johnston_itc_bold_0-webfont.woff', 'fonts') format('woff'),
         asset-url('johnston/johnston_itc_bold_0-webfont.ttf', 'fonts') format('truetype'),
         asset-url('johnston/johnston_itc_bold_0-webfont.svg#johnston', 'fonts') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenir_medium';
    src: asset-url('avenir_medium/avenir-medium.eot', 'fonts');
    src: asset-url('avenir_medium/avenir-medium.eot?#iefix', 'fonts') format('embedded-opentype'),
         asset-url('avenir_medium/avenir-medium.otf', 'fonts') format('opentype'),
         asset-url('avenir_medium/avenir-medium.woff', 'fonts') format('woff'),
         asset-url('avenir_medium/avenir-medium.ttf', 'fonts') format('truetype'),
         asset-url('avenir_medium/avenir-medium.svg#avenir_medium', 'fonts') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*NIVER OLOOK*/

@font-face {
	font-family: 'FuturaStd-Book';
	src: asset-url('futura-std-book/futurastd-book.eot', 'fonts');
	src: asset-url('futura-std-book/futurastd-book.eot?#iefix', 'fonts') format('embedded-opentype'),
			 asset-url('futura-std-book/futurastd-book.woff', 'fonts') format('woff'),
			 asset-url('futura-std-book/futurastd-book.ttf', 'fonts') format('truetype'),
			 asset-url('futura-std-book/futurastd-book.svg#futurastd-book', 'fonts') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FuturaStd-Bold';
	src: asset-url('futura-std-bold/futurastd-bold.eot', 'fonts');
	src: asset-url('futura-std-bold/futurastd-bold.eot?#iefix', 'fonts') format('embedded-opentype'),
			 asset-url('futura-std-bold/futurastd-bold.woff', 'fonts') format('woff'),
			 asset-url('futura-std-bold/futurastd-bold.ttf', 'fonts') format('truetype'),
			 asset-url('futura-std-bold/futurastd-bold.svg#futurastd-bold', 'fonts') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'Futura-medium';
    src: asset-url('futura-medium/futura_medium-webfont.eot', 'fonts');
    src: asset-url('futura-medium/futura_medium-webfont.eot?#iefix', 'fonts') format('embedded-opentype'),
         asset-url('futura-medium/futura_medium-webfont.woff', 'fonts') format('woff'),
         asset-url('futura-medium/futura_medium-webfont.ttf', 'fonts') format('truetype'),
         asset-url('futura-medium/futura_medium-webfont.svg#Futura-medium', 'fonts') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bodoni_stdbold';
    src: asset-url('bodoni-std-bold/bodonistd-bold-webfont.eot', 'fonts');
    src: asset-url('bodoni-std-bold/bodonistd-bold-webfont.eot?#iefix', 'fonts') format('embedded-opentype'),
         asset-url('bodoni-std-bold/bodonistd-bold-webfont.woff', 'fonts') format('woff'),
         asset-url('bodoni-std-bold/bodonistd-bold-webfont.ttf', 'fonts') format('truetype'),
         asset-url('bodoni-std-bold/bodonistd-bold-webfont.svg#bodoni_stdbold', 'fonts') format('svg');
    font-weight: normal;
    font-style: normal;

}
