@import 'partials/mixins';
@import 'new_structure/partials/facebook_footer';

footer, .footer_checkout {
  height:270px;
  clear:both;
  margin-top:60px;
  position: relative;
  background-color: #3d3d3d;
  color: #fff !important;

  section {
    margin:0px auto;
    width:970px;
    ul{
      width: 165px;
      float: left;
      font-family: $verdana;
      margin-right: 26px;
      height: 205px;

      &.atendimento{margin-left: 25px;width: 130px;}

      li{
        font-size: 9px;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        padding-top: 2px;
        a{
          color: #fff;
          text-decoration: none;
          cursor: pointer;
          &:hover{text-decoration:underline;}
        }
        &.title{
          text-transform: uppercase;
          font-size: 11px;
          margin-bottom: 20px;
          font-weight: bold;
        }
      }
      &.payment{
        height: 100px;
        width: 197px;
        li.title{width: 195px;}
        li.credit, .billet, .online, .mpago{
          height: 50px;
          float: left;
          background: image-url('footer/payment_icons.png') no-repeat 0 28px;
          margin-right: 25px;
        }
        li.credit{
          width: 125px;
        }
        li.billet{
          width: 45px;
          background-position: -149px 28px; 
          margin-right: 0;
        }
        li.online{
          width: 130px; 
          background-position: -209px -2px;
        }
        li.mpago{
          width: 90px;
          margin-right: 0;
          background-position: -329px 28px;
          p{text-indent: -9999px;}
        }
      }
      &.security{
        height: 107px;
        width: 170px;
        margin-right: 0 !important;
        li{float: left;}
        li.title{
          width: 250px;
          padding-left: 10px;
        }
        li.ebit{
          a{display: block;padding-top: 3px;}
        }
      }
    }
    .about_olook{
      width: 990px;
      color: #5c5c5c; 
      float: left;
      font-family: $verdana;
      font-size: 10px;
      text-align: center;
      margin-top: 20px;
      margin-left: -10px;
      padding-top: 10px;
      margin-bottom: 10px;
    }
  }
  .newsletter{
    height: 45px;
    position: relative;
    width: 470px;
    padding-top: 0;
    top: -71px;
    margin: 0 auto;
    ul.social{
      li{
        background: image-url('home/social_icons_sprite.png') no-repeat;
        margin-right: 15px !important;
      }
      .logo{
        width: 200px !important;
        background-position: 0 0;
        width: 43px;
        height: 43px;
      }
      .icon-instagram{
        width: 43px;
        height: 43px;
        background-position: -254px 0px !important;
        &:hover{
          background-position: -254px -110px !important;
        }
      }
      .icon-facebook{
        width: 43px;
        height: 43px;
        background-position: -204px 0px !important;
        &:hover{
          background-position: -204px -110px !important;
        }
      }
      .icon-youtube {
        width: 43px;
        height: 43px;
        background-position: -379px 0px !important;
        &:hover{
          background-position: -379px -110px !important;
        }
      }
      .icon-twitter{
        width: 43px;
        height: 43px;
        background-position: -318px 0px !important;
        &:hover{
          background-position: -318px -110px !important;
        }
      }
    }
  }
}

/* ----------------- Footer Checkout----------------- */

footer.footer_checkout{
  width: 990px !important;
  margin: 0 auto;
  height: 230px;

  section{
    ul{float: left;margin-top: 0 !important;height: 160px;
      &.payment{margin-left: 0;}
    }
  }
}
.mercado_pago{display: none;}

ul.social{
  height: 45px;
  width: 470px;
  li{
    background: image-url('home/social_icons_sprite.png') no-repeat 0 -275px;
    float: left;
    margin-right: 15px !important;
    a{
      display: block;
      width: 43px;
      height: 43px;
      text-indent: -9999px;
    }
  }
  .logo{
    width: 200px !important;
    background-position: 0 0;
    width: 43px;
    height: 43px;
  }
  .icon-instagram{
    width: 43px;
    height: 43px;
    background-position: -254px 0px !important;
    &:hover{
      background-position: -254px -110px !important;
    }
  }
  .icon-facebook{
    width: 43px;
    height: 43px;
    background-position: -204px 0px !important;
    &:hover{
      background-position: -204px -110px !important;
    }
  }
  .icon-youtube {
    width: 43px;
    height: 43px;
    background-position: -379px 0px !important;
    &:hover{
      background-position: -379px -110px !important;
    }
  }
  .icon-twitter{
    width: 43px;
    height: 43px;
    background-position: -318px 0px !important;
    &:hover{
      background-position: -318px -110px !important;
    }
  }
}



  
