@import "new_structure/common/global_stuffs";
header.checkout{
  background:none !important;min-height:70px !important;padding:30px 0 0 0 !important;border-bottom:solid 2px #DEDDDD;text-align:center;margin-bottom: 30px;
  div.head{width:975px;margin:0 auto;position:relative;}
  h1{float:left;
   a{width: 190px;height: 57px;display:block;background: image-url("common/nav/sprite_header.png") no-repeat 0 -74px;text-indent: -9999px;margin: -3px 0 0;}
  }
  p{
    &.security{margin:8px 0 0 60px;color:#91C78C;font-family:$verdana;font-size:11px;text-transform:uppercase;float:left;height:24px;padding-left:30px;line-height:30px;background: image-url("login/ico_security.png") no-repeat;}
    &.contact{float:right;color:#6D6E71;font-size:8px;margin-top:47px;
      span{float:left;font-size:8px;margin:0 -43px 0 0;width:200px;}
      a{color:#6D6E71;font-size:8px;margin-left:5px;}
    }
  }
  #session {
    position: absolute;right:0;top:20px;z-index: 995;@include sign-in;overflow: visible;
      
    .box_right{  
        color: #000;
        float: right;
        margin: -41px 10px 0 0;
        position:relative;
        width: 450px;
        font-family: $verdana;
        p{float: right;}
        .new_login{
          width: 164px;
          height: 18px;
          font-family: $verdana;
          font-size: 8px;
          display: block;
          text-align: center;
          line-height: 18px;
          border-left: 1px #000 solid;
          border-right: 1px #000 solid;
          height: 15px;
          a{text-decoration: none;color: #000;
            &:hover{color: $pink;}
          }
        }

        p.trade{font-size:8px;color:#000;line-height:18px;margin-left: 10px;
          padding-right: 10px;
          border-right: 1px solid #000;
          a{text-decoration:none;color:#000;
            &:hover{text-decoration:none; color: $pink;}
          }
        }
        p.sac{
          color: #000;
          font-family: $verdana;
          font-size: 8px;
          line-height: 18px;
          margin-left:8px;

        }
      /*------ USER MENU ----*/
      div.user {margin: 0;float: right;
        font-family: $verdana !important;
        font-size: 8px !important;
        font-weight: bold !important;
        text-transform: uppercase !important;
        ul {
          float: right;
          font-size: 8px !important;
            li {font-size: 8px !important;position: relative;color: #282828;text-align: right;margin: 0 0 0 3px;padding: 0;display: inline-block;float: left;
              &.user{height: 15px;padding-top: 3px;}
              &.username{font-size: 8px !important;border-right:1px solid #000;height: 15px;padding-right: 8px; background: #FFF;}
              &.first{font-size: 8px !important;height: 15px;}
              &.bl{border-left:solid 1px #D7D7D7;padding-left:8px;line-height:17px;}
              &.br{border-right:solid 1px #000;padding-right:8px;
                a{color:$base_color;line-height:17px;}
             }
              &.submenu{font-size: 8px !important;padding-right: 5px;
                border-right: 1px solid #000;
                height: 18px;
              }
            a {

              color: #282828;
              text-decoration: none;
              &#info_user {color:#000;padding-right: 10px;}
              &#account {
                color: #000;
                text-align: left;
                width: auto;
                min-width: 70px;
                height: 17px;
                margin: -6px 0 0;
                padding: 7px 0px 5px 8px;
                display: inline-block;
                border: 1px #FFF solid;
                float: none;
                line-height:17px;

                &:hover, &.hover {text-decoration: none;border-color: #CCC;box-shadow:0px 2px 5px #CCC;color: #ef3742;}
                &:hover {color: #ef3742;}
              }
            }  
            div.my_account {
              position: absolute;
              background: #FFF;
              padding: 5px 0;
              display: none;
              top: 17px;
              left: -10px;
              z-index: 1000;
              border-left: 1px #CCC solid;
              border-right: 1px #CCC solid;
              border-bottom: 1px #CCC solid;
              box-shadow:0px 4px 5px #CCC;
              width: 100px !important;
              ul {
                margin: 0 0 0 5px;
                li {margin-top:8px;text-align: left;width: 100%;display: block;clear: both;width: 90px !important;
                  a {color: #000;letter-spacing: 0;margin: 0;display: block;clear: both;
                    &:hover {color: #ef3742;}
                  }
                  &:last-child, &.last {
                    a {margin: 0;}
                  }
                }
              }
            }
            &:hover {
              div.my_account {display: block;}
            }
          }
        }
      }

  }  
}
}