header.checkout{
	background:none !important;min-height:100px !important;padding:30px 0 0 0 !important;text-align:center;margin-bottom: 0px;
	div.head{width:975px;margin:0 auto;position:relative;}
	h1{float:left;
	 a{background: image-url('common/logo.jpg') no-repeat;height: 68px;margin: 8px 0 0;text-indent: -9999px;width: 217px;}
	}
	p{
		&.security{display:none;margin:30px 0 0 60px;color:#91C78C;font-family:$avenir_medium;font-size:11px;text-transform:uppercase;float:left;height:24px;padding-left:30px;line-height:30px;background: image-url("login/ico_security.png") no-repeat;}
		&.contact{float:right;color:#6D6E71;font-size:11px;margin-top:35px;
			span{float:left;font-size:11px;width:500px;text-align: right;font-size: 13px; font-family: $verdana;color:#000;}
			a{color:#6D6E71;font-size:11px;margin-left:5px;}
		}
	}
	#session {
  	position: absolute;right:0;top:20px;z-index: 995;@include sign-in;overflow: visible;
      
.box_right{float: right;margin:0;position:relative;
      .new_login{width: 162px;height: 18px;font-family: $avenir;font-size: 11px;display: block;float: right;text-align: center;line-height: 18px;border-left: 1px #d7d7d7 solid;border-right: 1px #d7d7d7 solid;
        a{text-decoration: none;color: #000;
        &:hover{text-decoration:underline;color: #ef3742;}
        }
      }
      /*------ USER MENU ----*/
      div.user {margin: 0;float: left;
        ul {
          > li {
             &.username{border-right:1px solid #cdcdcd;height: 15px;padding-right: 10px !important;}
             &.first{border-left: 1px solid #cdcdcd;padding-left: 10px;height: 15px;}
             &.bl{border-left:solid 1px #D7D7D7;padding-left:8px;line-height:17px;}
             &.br{border-right:solid 1px #D7D7D7;padding-right:8px;
               a{color:$pink;line-height:17px;}
             }
            position: relative;color: #282828;font-size: 11px;text-align: right;margin: 0 0 0 3px;padding: 0;display: inline-block;float: left;
            a {
              color: #282828;
              text-decoration: none;
              &#info_user {color:#000;padding-right: 10px;}
              &#account {
                  background: image-url('common/arrow-down-pink.png') right 7px no-repeat;color: #000;text-align: left;width: auto;min-width: 70px;height: 17px;margin: -6px 0 0;padding: 5px 20px 5px 8px;display: inline-block;border: 1px #FFF solid;float: none;line-height:17px;
                  &:hover, &.hover {text-decoration: none;border-color: #CCC;box-shadow:0px 2px 5px #CCC;color: #ef3742;}
                &:hover {color: #ef3742;}
              }
            }  
            div.my_account {position: absolute;background: #FFF;padding: 5px 0;display: none;top: 17px;left: 0;z-index: 1000;border-left: 1px #CCC solid;border-right: 1px #CCC solid;border-bottom: 1px #CCC solid;box-shadow:0px 4px 5px #CCC;
              ul {
                margin: 0 0 0 5px;
                li {margin-top:8px;text-align: left;width: 100%;display: block;clear: both;width: 90px !important;
                  a {color: #000;letter-spacing: 0;margin: 0;display: block;clear: both;
                    &:hover {color: #ef3742;}
                  }
                  &:last-child, &.last {
                    a {margin: 0;}
                  }
                }
              }
            }
            &:hover {
              div.my_account {display: block;}
            }
          }
        }
      }
        p.trade{background: image-url('common/trade_arrows.png') no-repeat top left;float:left;font-size:11px;color:#000;line-height:18px;margin-left: 10px;
         a{text-decoration:none;color:#000;padding-left: 30px;
            &:hover{text-decoration:none; color: $pink;}
         }
      } 
	}

  }
  
}

footer.footer_checkout{
	background:none !important;margin-top:30px;border-top:solid 2px #DEDDDD;padding-top:30px;height:170px;
	div{width:965px;overflow:hidden;margin:0 auto;padding-left:10px;
		section{float:left;width:auto;padding:0;color:#000;margin-right:46px;
			&.name-rights{clear:both;margin:30px 0 0;
				p{clear: both;color: #767676;font-size: 11px;line-height: 13px;margin:0px;}
			}
			p{font-family:$avenir;font-size:14px;margin:0 0 20px;color:#000;}
			ul{
				&.vantagens{
					li{margin:0 0 6px 15px;list-style:disc !important;}
				}
				&.security{
					li{float:left;
						&.comodo{margin-top:10px;} 
					}	
				}
				li{font-size:11px;}
			} 
		}
	}

}