@import 'utilities/hacks';
@import 'common/gradient';
@import 'common/images';

$pink: #ef3742;
$secondary_color: #b8b6b6;
$third_color: #6d6e71;
$avenir: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
$avenir_medium: Arial, "Trebuchet Ms", arial, sans-serif, avenir_medium;
$kepler:  Arial, "Trebuchet Ms", Times, "Times New Roman", serif, KeplerStdItalic;
$johnston: Arial, "Trebuchet Ms", arial, sans-serif, johnston;
$arial: arial, verdana, tahoma;
$verdana: verdana, arial, tahoma;
$tahoma: tahoma, arial, verdana;
$preco: Verdana, "Trebuchet Ms", Arial, Verdana;

@mixin table {
  table#list {
    width: 856px;
    margin: 40px auto;

    thead {
      tr {
        th {
          padding: 12px;
          text-align: center;

          &:first-child {
            text-align: left;
            padding-left: 0;
          }

          a {
            font-weight: bold;
            color: $secondary_color;
          }
        }
      }
    }

    tbody {
      @extend thead;
      tr {
        td {
          @extend th;
          border: 1px solid #DBDBDB;

          &:first-child {
            padding-left: 10px;
          }

        }
      }
    }
  }
}

@mixin sign-in($position: absolute) {
  .sign-in-dropdown {
    background: #FFF;
    border: 1px solid #BBB;
    padding: 12px;
    position: $position;
    right: 0;
    top: 30px;
    z-index: 9999;
    width: 244px;

    form {
      fieldset {
  			&.buttons{
					label{font-weight:normal !important;width:103px;}
					a{font-size:11px;float:left;}
				}
        label {
          display: block;
          font-size: 11px;
          font-weight: bold;
          margin: 2px 0;
        }

        input {
          background: #FFF image-url('common/background-inputs.png') bottom repeat-x;
          border: 1px solid #BBB;
          padding: 6px 8px;
          width: 92%;
					&#user_remember_me_login{width:auto;float:left;}	
					&#login{float:right;margin:-17px 0 0 65px;}
					&#user_password{margin-bottom:10px;}
          &:focus {
            outline: none;
          }
        }
          
      }
    }

    &.close {
      display: none;
    }

    &.open {
      display: block;
    }
  }

  #sign-in-box {
    @extend .sign-in-dropdown;
  }
}

@mixin border-radius($size) {
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
  border-radius: $size;
}

@mixin sprite_checkout($left, $top){
	background:image-url("new_checkout/sprite.png") no-repeat $left $top;
}

@mixin sprite_login($left, $top){
	background:image-url("login/sprite.png") no-repeat $left $top;
}
