@import 'utilities/hacks';
@import 'common/gradient';
@import 'common/images';
@import 'common/border-radius';
$pink: #F73C89;

@mixin pink_button($top-color: #FB619E, $bottom-color: #DD3178, $font-size: 26px, $padding-top: 15px, $padding-bottom: 15px, $padding-left: 50px, $padding-right: 50px, $radius: 10px) {
  background-image: linear-gradient(top, $top-color 50%, $bottom-color 60%);
  background-image: -o-linear-gradient(top, $top-color 30%, $bottom-color 60%);
  background-image: -moz-linear-gradient(top, $top-color 28%, $bottom-color 72%);
  background-image: -webkit-linear-gradient(top, $top-color 30%, $bottom-color 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FB619E, endColorstr=#DD3178);
  -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorstr=#FB619E, endColorstr=#DD3178)';

  background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0.3, $top-color),
          color-stop(0.8, $bottom-color)
  );
  border: none;
  @include border-radius($radius);

  input[type='submit'] {
    @include border-radius($radius);
    background: transparent;
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
    padding-left: $padding-left;
    padding-right: $padding-right;
    font-size: $font-size;
    cursor: pointer;
    border-left: 1px solid #FFA1C4;
    border-top: 1px solid #FFA1C4;
    border-bottom: none;
    border-right: none;
    color: #FFF;
    text-shadow: #B32963 1px 2px 2px;
    margin-top: 1px;
    margin-left: 1px;
    text-transform: uppercase;
  }
}

@mixin grey_button($top-color: #FB619E, $bottom-color: #DD3178) {
  background-image: linear-gradient(top, $top-color 50%, $bottom-color 60%);
  background-image: -o-linear-gradient(top, $top-color 50%, $bottom-color 60%);
  background-image: -moz-linear-gradient(top, $top-color 28%, $bottom-color 72%);
  background-image: -webkit-linear-gradient(top, $top-color 50%, $bottom-color 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E1E0E0, endColorstr=#ADADAD);
  -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorstr=#E1E0E0, endColorstr=#ADADAD)';

  background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0.3, $top-color),
          color-stop(0.8, $bottom-color)
  );

  border: none;
  @include border-radius(10px);

  input[type='submit'] {
    @include border-radius(10px);
    background: transparent;
    padding: 15px 50px;
    font-size: 26px;
    cursor: pointer;
    border-left: 1px solid #E4E4E4;
    border-top: 1px solid #E4E4E4;
    border-bottom: none;
    border-right: none;
    color: #FFF;
    text-shadow: #8D8D8D 1px 2px 2px;
    margin-top: 1px;
    margin-left: 1px;
    text-transform: uppercase;
  }
}

@mixin table {
  table#list {
    width: 856px;
    margin: 40px auto;

    thead {
      tr {
        th {
          padding: 12px;
          text-align: center;

          &:first-child {
            text-align: left;
            padding-left: 0;
          }

          a {
            font-weight: bold;
            color: $pink;
          }
        }
      }
    }

    tbody {
      @extend thead;
      tr {
        td {
          @extend th;
          border: 1px solid #DBDBDB;

          &:first-child {
            padding-left: 10px;
          }

        }
      }
    }
  }
}

@mixin sign-in($position: absolute) {
  .sign-in-dropdown {
    background: #FFF;
    border: 1px solid #BBB;
    padding: 12px;
    position: $position;
    right: 0;
    top: 30px;
    z-index: 99;
    width: 244px;

    form {
      fieldset {
        &.inputs {
          ol {
            li {
              label {
                display: block;
                font-size: 11px;
                font-weight: bold;
                margin: 2px 0;
              }

              input {
                background: url("/assets/common/background-inputs.png") repeat-x;
                border: 1px solid #BBB;
                padding: 6px 8px;
                width: 92%;
                
                &:focus {
                  outline: none;
                }
              }
            }
          }
        }

        &.buttons {
          margin-top: 7px;
          ol {
            li {
              font-size: 11px;

              &.remember-me, &.forgot-password {
                float: left;
                width: 140px;
              }
              
              &.forgot-password {
                & + li {
                  @include pink-button(#FB619E, #DD3178, 12px, 5px, 5px, 10px, 10px, 5px);
                  float: right;
                  margin-top: -15px;
                }
              }
            }
          }
        }
      }
    }

    &.close {
      display: none;
    }

    &.open {
      display: block;
    }
  }

  #sign-in-box {
    @extend .sign-in-dropdown;
  }
}
