#promotion_banner {
  background: url("/assets/promotion_banners/bg-promotion.jpg") 0 5px no-repeat;
  width: 100%;
  height: 90px;
  display: block;
  margin: 15px 0 10px 0;
  padding: 0;
  h1, p {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    text-align: center;
    width: 755px;
    margin: 0 auto;
  }
  h1 {
    font-size: 28px;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: -2px;
    span {
      color: #D95485;
    }
  }
  p {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    font-size: 12px;
  }
}
