.box_product {
  a.product_link {
    position: relative;
    p.know {
      position: absolute;
      background: url("/assets/common/product-hover.png") no-repeat;
      text-indent: -9999px;
      width: 132px;
      height: 41px;
      display: block;
      top: 50px;
      left: 20px;
      display: none;
    }
  }
  a {
    text-decoration: none;
    margin: 0 0 0 3px;
    float: left;
    img {
      margin: 0 0 10px 0;
      border-bottom: 1px #b2b2b2 solid;
    }
    h1 {
      background: none;
      color: #716d68;
      font-family: Arial;
      font-size: 16px;
      text-transform: uppercase;
      line-height: normal;
      margin: 0 0 10px 0;
      padding: 0;
      float: none;
    }
  }
  .line {
    width: 100%;
    overflow: hidden;
    margin: 0 0 10px 0;
    a {
      float: none;
    }
    ol, img {
      float: left;
    }
    ol {
      li {
        margin: 0 5px 0 0;
        display: inline !important;
        float: left;
      }
    }
    .like, span {
      float: right;
    }
    span {
      color: #000;
      font-family: Arial;
      font-size: 24px;
    }
    .like {
      background: url('/assets/common/ico-heart-off.png') left no-repeat;
      text-indent: -9999px;
      color: #716d68;
      font-family: Arial;
      font-size: 12px;
      line-height: 16px;
      text-decoration: none;
      text-transform: uppercase;
      width: 14px;
      height: 14px;
      display: block;
      &:hover, &.selected {
        background: url('/assets/common/ico-heart-on.png') left no-repeat;
        color: #ff7db0;
      }
    }
  }
}
li.product {
  &:hover {
    p.know {
      display: block;
    }
  }
}

#showroom {
  .box_product {
    a {
      img {
        width: 170px;
        height: 170px;
      }
      h1 {
        width: 175px;
        height: 18px;
        overflow: hidden;
      }
    }
  }
}
#product {
  .box_product {

  }
}

