li.product {
  margin: 0 0 2px 0;
  padding: 10px;
  overflow: auto;
  display: inline-block;
  float: left;
  .box_product {
    display: inline-block;
    clear: left;
    a.product_link {
      position: relative;
      p.warn {
        position: absolute;
        width: 50px;
        height: 50px;
        display: none;
        &.sold_out {
          background: url("/assets/common/sold_out.png") no-repeat;
          text-indent: -9999px;
        }
        &.quantity {
          background: url("/assets/common/quantity.png") no-repeat;
          color: #FFF;
          font-family: "Open Sans", sans-serif;
          font-size: 10px;
          font-weight: normal;
          text-align: center;
          text-transform: uppercase;
          line-height: 10px;
          height: 45px;
          padding-top: 5px;
          span {
            font-size: 22px;
            line-height: 21px;
            font-weight: 600;
          }
        }
      }
      img {
        margin: 0 0 10px 0;
        border-bottom: 1px #b2b2b2 solid;
      }
    }
    a {
      text-decoration: none;
      margin: 0 0 0 3px;
      float: left;
      h1 {
        background: none;
        color: #716d68;
        font-family: Arial;
        font-size: 13px;
        text-transform: uppercase;
        line-height: normal;
        margin: 0;
        padding: 0;
        overflow: hidden;
        float: none;
      }
    }
    .line {
      width: 100%;
      overflow: hidden;
      margin: 0 auto 10px;
      .like_mask {
        width: 90px;
        height: 24px;
        display: block;
        overflow: hidden;
        float: left;
      }
      .fb-like {
        .fb_edge_comment_widget {
          display: none;
         }
      }
      a {
        float: none;
      }
      ol, img {
        float: left;
      }
      ol {
        margin: 0 0 0 5px;
        li {
          margin: 6px 0 0 0;
          display: inline !important;
          float: left;
          a {
            img {
              width: 15px;
              height: 15px;
              border: 2px #D7D7D7 solid;
            }
            &:hover, &.selected {
              img {
                border: 2px #E05789 solid;
              }
            }
          }
        }
      }
      .like, span {
        float: right;
      }
      span {
        color: #000;
        font-family: Arial;
        font-size: 16px;
        letter-spacing: -1px;
        margin-right: 2px;
        padding: 3px 0 0 0;
      }
      .like {
        background: url('/assets/common/ico-heart-off.png') no-repeat;
        text-indent: -9999px;
        color: #716d68;
        font-family: Arial;
        font-size: 12px;
        line-height: 16px;
        text-decoration: none;
        text-transform: uppercase;
        width: 14px;
        height: 14px;
        display: block;
        &:hover, &.selected {
          background: url('/assets/common/ico-heart-on.png') no-repeat;
          color: #ff7db0;
        }
      }
    }
    &.sold_out {
      a p.sold_out {
        top: 2px;
        left: 2px;
        display: block;
      }
    }
    &.stock_down {
      a p.quantity {
        top: 2px;
        left: 2px;
        display: block;
      }
    }
  }
  &:hover {
    padding: 5px;
    border: 5px #d7d7d7 solid;
    p.know {
      display: block;
    }
  }
  &.promotion {
    .box_product {
      .line {
        span {
          color: #df5a8b;
          font-size: 15px;
          font-weight: bold;
          display: block;
          float: none;
          &.old {
            color: #818181;
            font-size: 12px;
            font-weight: normal;
            line-height: 9px;
            text-decoration: line-through;
          }
        }
      }
    }
  }
}

#showroom, #lookbooks {
  li.product {
    width: 175px;
    height: 275px;
    .box_product {
      a.product_link {
        p.warn {
          top: 2px;
          right: 2px;
        }
        img {
          width: 170px;
          height: 170px;
        }
        h1 {
          width: 170px;
          height: 17px;
        }
      }
    }
  }
}
#product {
  .box_product {
    a.product_link {
      p.warn {
        top: 2px;
        right: 2px;
      }
      img {
        width: 260px;
        height: 260px;
      }
      h1 {
        width: 250px;
        height: 17px;
      }
    }
  }
}
#friends {
  li.product {
    width: 160px;
    height: 253px;
    .box_product {
      a.product_link {
        p.warn {
          top: 2px;
          right: 2px;
        }
        img {
          width: 150px;
          height: 150px;
        }
        h1 {
          width: 150px;
          height: 17px;
        }
      }
    }
  }
}

#liquidation {
  li.product {
    width: 160px;
    height: 270px;
    .box_product {
      a.product_link {
        p.warn {
          top: 2px;
          right: 2px;
        }
        img {
          width: 150px;
          height: 150px;
        }
        h1 {
          width: 150px;
          height: 17px;
        }
      }
    }
  }
}
