div.social {
  width: 471px;
  overflow: auto;
	margin-bottom:20px;
  ul {
    width: 360px;
    margin: 30px auto 0;
    padding: 0 0;
    overflow: auto;
    li {
      position: relative;
      width: 115px;
      margin: 0 5px 0 0;
      float: left;
      a {
        color: #5a5a5b;
        font-family: $avenir;
        font-size: 12px;
        text-align: center;
        text-decoration: none;
        line-height: 15px;
        outline: none;
        width: 114px;
				height:20px;
        display: block;
        margin: 0 15px 0 0;
        float: left;
				padding-top:80px;
      }
      &.twitter {
        a {
   				@include sprite_checkout(-195px, -284px);
        }
      }
      &.facebook {
        a {
          @include sprite_checkout(-88px, -285px);
        }
      }
      &.orkut {
        a {
          background: image-url('common/bt-orkut.jpg') center 10px no-repeat;
        }
        img {
          position: absolute;
          width: 105px;
          height: 150px;
          left: 0;
          opacity: 0;
          -moz-opacity: 0;
          filter: alpha(opacity=0);
        }
      }
      &.email {
        a {
          @include sprite_checkout(-310px, -284px);
          margin: 0;
          
          &.selected {
            background-color: #e4e4e4;
          }
        }
      }
    }
  }
  form {
    background: #e4e4e4 !important;
    padding: 20px 15px !important;
    clear: both !important;
    display: none;
    p {
      color: #000;
      font-size: 17px;
      margin: 0 0 10px;
    }
    textarea {
      background: #FFF image-url('common/bg-textarea-emails.jpg') bottom repeat-x;
      width: 425px;
      height: 100px;
      padding: 7px 8px;
      resize: none;
      outline: none;
      margin: 0 0 20px;
      border: 1px solid #C1C1C1;
    }
    input[type="submit"] {
      background: image-url("common/invite.png") no-repeat !important;
      text-indent: -9999px;
      width: 115px !important;
      height: 34px !important;
      display: block !important;
      margin: 0 auto;
      border: none !important;
      cursor: pointer !important;
    }
  }
}
div.link_mail {
  position: relative;
  padding: 20px 0 10px 30px;
	border-top:solid 1px #DEDEDE;
	text-align:left;

  h2 {
    font-family: $avenir;
    font-size: 16px;
    font-weight: lighter;
    margin: 0 0 10px;
  }
	p.txt-copie{color:#000;margin-bottom:15px;}
  ul {
    overflow: hidden;
    li {
      position: relative;
      input[type="text"] {
        color: #666;
        font-size: 14px;
        width: 286px;
        margin: 0 10px 10px 0;
        padding: 8px 10px;
        border: 1px #CCC solid;
		    float:left;
      }
      a {

        width: 98px;
        height: 24px;
        display: block;
				float:left;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        font-size: 11px;
        padding-top: 10px;
        @include bt_color($primary_bt_color, $primary_bt_color_hover);
      }
      div.zclip {
        z-index: 10000 !important;
      }
    }
  }
  div.box_copy {
    position: absolute;
    background: image-url('common/copy.png') top center no-repeat;
    width: 166px;
    height: 38px;
    padding: 17px 0 0 0;
    display: none;
    top: 95px;
    left:35px;
    p {
      color: #666;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      strong {
        color: #666;
      }
    }
  }
}
