/*$base_font_url: "http://homolog.olook.com.br"*/


@font-face {
    font-family: 'QuicksandBold';
	 src:asset-url('quicksand/quicksand-bold-webfont.eot', 'fonts'),
    asset-url('quicksand/quicksand-bold-webfont.eot?#iefix', 'fonts') format('embedded-opentype'),
    asset-url('quicksand/quicksand-bold-webfont.ttf', 'fonts') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'QuicksandLight';
	 src:	asset-url('quicksand/quicksand-light-webfont.eot', 'fonts'),
    asset-url('quicksand/quicksand-light-webfont.eot?#iefix', 'fonts') format('embedded-opentype'),
    asset-url('quicksand/quicksand-light-webfont.ttf', 'fonts') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'QuicksandRegular';
	 src:asset-url('quicksand/quicksand-regular-webfont.eot', 'fonts'),
    asset-url('quicksand/quicksand-regular-webfont.eot?#iefix', 'fonts') format('embedded-opentype'),
    asset-url('quicksand/quicksand-regular-webfont.ttf', 'fonts') format('truetype');
	font-weight: normal;
}

@font-face {
    font-family: 'KeplerStdItalic';
    src:asset-url('kepler/adobe_-_keplerstd-italic-webfont.eot', 'fonts'),
    asset-url('kepler/adobe_-_keplerstd-italic-webfont.eot?#iefix', 'fonts') format('embedded-opentype'),
    asset-url('kepler/adobe_-_keplerstd-italic-webfont.ttf', 'fonts') format('truetype');
	font-weight: normal;
}

@font-face {
    font-family: 'avenir';
    src:
        asset-url('avenir/avenir-book-webfont.eot', 'fonts'),
        asset-url('avenir/avenir-book-webfont.eot?#iefix', 'fonts') format('embedded-opentype'),
        asset-url('avenir/avenir-book-webfont.ttf', 'fonts') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'johnston'; 
	 src:asset-url('johnston/johnston_itc_bold_0-webfont.eot', 'fonts'),
    asset-url('johnston/johnston_itc_bold_0-webfont.eot?#iefix', 'fonts') format('embedded-opentype'),
    asset-url('johnston/johnston_itc_bold_0-webfont.ttf', 'fonts') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'avenir_medium';
    src:asset-url('avenir_medium/avenir-medium.eot', 'fonts'),
    asset-url('avenir_medium/avenir-medium.eot?#iefix', 'fonts') format('embedded-opentype'),
    asset-url('avenir_medium/avenir-medium.ttf', 'fonts') format('truetype');
	font-weight: normal;
	font-style: normal;
}
