/*$base_font_url: "http://homolog.olook.com.br"*/


@font-face {
    font-family: 'QuicksandBold';
	 src:url('http://wwww.olook.com.br/assets/quicksand/quicksand-bold-webfont.eot'),
    url('http://wwww.olook.com.br/assets/quicksand/quicksand-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('http://wwww.olook.com.br/assets/quicksand/quicksand-bold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'QuicksandLight';
	 src:	url('http://wwww.olook.com.br/assets/quicksand/quicksand-light-webfont.eot'),
    url('http://wwww.olook.com.br/assets/quicksand/quicksand-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('http://wwww.olook.com.br/assets/quicksand/quicksand-light-webfont.ttf') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'QuicksandRegular';
 	 src:url('http://wwww.olook.com.br/assets/quicksand/quicksand-regular-webfont.eot'),
    url('http://wwww.olook.com.br/assets/quicksand/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('http://wwww.olook.com.br/assets/quicksand/quicksand-regular-webfont.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
    font-family: 'KeplerStdItalic';
    src:url('/fonts/kepler/adobe_-_keplerstd-italic-webfont.eot'),
    url('/fonts/kepler/adobe_-_keplerstd-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/kepler/adobe_-_keplerstd-italic-webfont.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
    font-family: 'avenir';
    src:
        url('<%= asset_path "avenir/avenir-book-webfont.eot" %>'),
        url('<%= asset_path "avenir/avenir-book-webfont.eot" %>?#iefix') format('embedded-opentype'),
        url('<%= asset_path "avenir/avenir-book-webfont.ttf" %>') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'johnston'; 
 	 src:url('http://www.olook.com.br/assets/johnston/johnston_itc_bold_0-webfont.eot'),
    url('http://www.olook.com.br/assets/johnston/johnston_itc_bold_0-webfont.eot?#iefix') format('embedded-opentype'),
    url('http://www.olook.com.br/assets/johnston/johnston_itc_bold_0-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'avenir_medium';
    src:url('http://www.olook.com.br/assets/avenir_medium/avenir-medium.eot'),
    url('http://www.olook.com.br/assets/avenir_medium/avenir-medium.eot?#iefix') format('embedded-opentype'),
    url('http://www.olook.com.br/assets/avenir_medium/avenir-medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
