<a id="seloEbit" href="http://www.ebit.com.br/#olook" target="_blank" onclick="redir(this.href);">Avaliação de Lojas e-bit</a>
 <script type="text/javascript" id="getSelo" src="https://a248.e.akamai.net/f/248/52872/0s/img.ebit.com.br/ebitBR/selo-ebit/js/getSelo.js?19329" ></script>
