<a id="seloEbit" href="http://www.ebit.com.br/#olook" target="_blank" onclick="redir(this.href);"></a>
<script type="text/javascript" id="getSelo" src="https://imgs.ebit.com.br/ebitBR/selo-ebit/js/getSelo.js?19329" >
</script>