= stylesheet_link_tag "reseller"

= first_level_breadcrumb("Revenda Olook")

#revenda
  .about
    %h2
      seja uma revendedora olook
    %p.infos A Olook é a primeira marca online de moda feminina do Brasil. Temos a proposta de tornar a moda acessível, seja por meio de coleções mensais – sempre com novidades seguindo as últimas tendências – seja pelo preço irresistível.

    %p.infos No início, nossas vendas eram exclusivamente online, mas atendendo a pedidos começamos a trabalhar com boutiques selecionadas, como Choix e Cartel 011, além de participarmos da última edição do Q!Bazar. O sucesso foi tamanho que passamos a considerar outros canais offline, e através do contato com nossas clientes descobrimos mais um a possibilidade de relacionamento, a revenda.

    %p.infos Se você está em busca de uma marca fast fashion, com ótima relação custo-benefício e muita informação de moda, a marca Olook é certeza de sucesso.

    %p.infos Todos os produtos da marca Olook à venda em nosso site estão disponíveis para nossas revendedoras, que também receberão uma comunicação especial com novidades das coleções Olook e do mundo da moda.

    %p.infos Temos certeza que, com ótimos produtos e os parceiros certos, alcançaremos juntos mais pessoas e teremos sucesso garantido.

    =link_to "Cadastre-se e seja revendedora", "#", :class => "anchor_button"
    %ul
      %li.title
        VANTAGENS
      %li 
        Coleções novas todos os meses
      %li
        Últimas tendências de moda
      %li
        Produtos com ótima qualidade
      %li
        Preço competitivo
      %li
        Descontos progressivos*
      %li
        Atendimento preferencial em nosso SAC
      %p.bonus
        *Política de descontos progressivos: 20% em compras acima de R$ 2.000 e 30% 
        %br
          em compras acima de R$ 3.000
  .box_right
    =image_tag("reseller/model.jpg")
  .seller
    %ul
      %li.register
        %p
          sfkjalsjfasfasf
      %li.buy
        %p
          sfkjalsjfasfasf
      %li.reseller
        %p
          sfkjalsjfasfasf