<h1>Member</h1>

<p>Token: <%= link_to(accept_invitation_url(:invite_token => @member.invite_token).to_s, accept_invitation_path(:invite_token => @member.invite_token), :id => 'share_invitation') %></p>

<p>Share on Twitter <a href="https://twitter.com/share" class="twitter-share-button" data-text=<%= raw(link_to_invitation(@member)) %> data-count="none" data-via="olook">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></p>

<p>Share on Facebook
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-send" data-href=<%= raw(link_to_invitation(@member)) %>></div>
</p>
