<div style="margin-left:50px;">
  <h3>Notification Settings [sac_alert.yml]</h6>
  <p style="font-size:20px">General Settings</p>
  <ul style="font-size:14px;list-style: none;">
    <% settings.each do |setting, value| %>
      <li><%= "#{setting}: #{value}" %></li>
    <% end %>
  </ul>

  <p style="font-size:20px">Trigger Rules</p>
  <ul style="font-size:14px;list-style: none;">
    <% triggers.each do |trigger, value| %>
      <li><%= "#{trigger}: #{value}" %></li>
    <% end %>
  </ul>

  <p style="font-size:20px">Subscribers</p>
  <ul style="font-size:14px;list-style: none;">
    <% subscribers.each do |subscriber| %>
      <li><%= "#{subscriber}" %></li>
    <% end %>
  </ul>
</div>