<span style='margin-left:50px;font-size:12px'>
  * You are receiving this email because the total discount of this order is higher than <%= %> . To unsubscribe, please contact
    the system administrator
</span>