<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <h4 style='margin-left:50px;color: #039;'><%= @alert['header'] %><h4>
    <h4 style='margin-left:50px;color: #039;'><%= @alert['message'] %></h4>
</body>
</html>