<% content_for :head do %>
  <%= stylesheet_link_tag "section/checkout" %>
  <%= render "shared/payments/window_open_payment_link", :payment => @payment %>
<% end %>

<section id="payment" class="checkout">
  <section class="main">
    <%= link_to "Link para o Banco", @payment.url %>
 </section>
</section>
