<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>
<div>
  <table border="0" align="center" cellpadding="0" cellspacing="0" width="620" bgcolor="#FFFFFF">
    <tr>
      <td>
        <table width="620" align="center" cellpadding="0" cellspacing="0">

          <tr>
                  
                  <td>
                    <a href="http://www.olook.com.br/convite/?utm_source=midiasproprias&amp;utm_medium=email&amp;utm_content=reinvite&amp;utm_campaign=reinvite1" target="_blank">
                    <img src="http://cdn.olook.com.br/assets/emailmkt/topo/logo_barra.jpg" alt="Todos os meses uma nova coleção para você." border="0" title="Todos os meses uma nova coleção para você." style="display:block"></a>
                  </td>

                  
                  <td>
                    <a href="http://statigr.am/olook" target="_blank">                
                    <img src="http://cdn.olook.com.br/assets/emailmkt/topo/ico_in.jpg" alt="Instagram" border="0" title="Instagram" style="display:block"></a>
                  </td>
                  
                  <td>
                    <a href="https://twitter.com/olook" target="_blank">                
                    <img src="http://cdn.olook.com.br/assets/emailmkt/topo/ico_tw.jpg" alt="twitter" border="0" title="twitter" style="display:block"></a>
                  </td>
                  
                  <td>
                    <a href="http://www.facebook.com/olook" target="_blank">                
                    <img src="http://cdn.olook.com.br/assets/emailmkt/topo/ico_fb.jpg" alt="Facebook" border="0" title="Facebook" style="display:block"></a>
                  </td>
                  
                  <td>
                    <a href="http://blog.olook.com.br" target="_blank">                
                    <img src="http://cdn.olook.com.br/assets/emailmkt/topo/ico_bg.jpg" alt="Blog" border="0" title="Blog" style="display:block"></a>
                  </td>
                </tr>

        </table>
      </td>
    </tr>
    <tr>
      <td align="center" height="20">
      </td>
    </tr>

    <tr>
      <td width="620" align="center" valign="top" style="font-family:Verdana,Arial,Helvetica,sans-serif;text-align:left;font-size:12px">
                <p style="font-family:Verdana,Arial,Helvetica,sans-serif;font-size:18px;letter-spacing:-2px;margin:3px 0;text-align:center"><%= @user.first_name %>, não deixe seu crédito de Fidelidade expirar!</p>
        
        <div style="margin:0 auto 20px;font-size:14px;width:560px;text-align:center">
          <p>Você tem <b><%= number_to_currency(@credit_amount) %></b> que ainda não foram usados!<p>
          </p>
        </p></div>
        <div align="center">
          <center><img src="http://cdn.olook.com.br/assets/emailmkt/topo/div.jpg"></center>
          <font style="font-family:Verdana,Arial,Helvetica,sans-serif;font-size:14px">Este crédito específico estará disponível até <%= @date.strftime('%d/%m/%Y') %>.</font>
          <center><img src="http://cdn.olook.com.br/assets/emailmkt/topo/div.jpg"></center>
          <br><br>
        </div>

        
              <table width="190" align="center">
              <tr>
                <td height="30" bgcolor="ef3742" align="center">
                <center>
                     <a href="http://www.olook.com.br?utm_campaign=transacional_fidelidade&amp;utm_content=f_creditos_vaoexpirar&amp;utm_medium=email&amp;utm_source=olook" style="color:#ffffff;font-size:14px;text-decoration:none" target="_blank">USAR MEUS CREDITOS</a>
                </center>
                </td>
              </tr>
              </table>
              
        <div style="margin:0 auto 30px;font-size:14px;width:560px;text-align:center"></div>
        
        </td></tr></table></div>
        <br><br>
        
          
      
    
  


</body></html>