@font-face {
    font-family: 'Caviar Dreams';
    src: url('/assets/caviardreams/caviardreams.eot');
    src: url('/assets/caviardreams/caviardreams.eot?#iefix') format('embedded-opentype'),
         url('/assets/caviardreams/caviardreams.woff') format('woff'),
         url('/assets/caviardreams/caviardreams.ttf') format('truetype');
    font-weight: normal;

}

@font-face {
    font-family: 'Caviar Dreams Bold';
    src: url('/assets/caviardreams/caviardreams_bold.eot');
    src: url('/assets/caviardreams/caviardreams_bold.eot?#iefix') format('embedded-opentype'),
         url('/assets/caviardreams/caviardreams_bold.woff') format('woff'),
         url('/assets/caviardreams/caviardreams_bold.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Champagne';
    src: url('/assets/champagne/champagne__limousines.eot');
    src: url('/assets/champagne/champagne__limousines.eot?#iefix') format('embedded-opentype'),
         url('/assets/champagne/champagne__limousines.woff') format('woff'),
         url('/assets/champagne/champagne__limousines.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Champagne Bold';
    src: url('/assets/champagne/champagne__limousines_bold.eot');
    src: url('/assets/champagne/champagne__limousines_bold.eot?#iefix') format('embedded-opentype'),
         url('/assets/champagne/champagne__limousines_bold.woff') format('woff'),
         url('/assets/champagne/champagne__limousines_bold.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Hasteristico';
    src: url('/assets/hasteristico/hasteristico.eot');
    src: url('/assets/hasteristico/hasteristico.eot?#iefix') format('embedded-opentype'),
         url('/assets/hasteristico/hasteristico.woff') format('woff'),
         url('/assets/hasteristico/hasteristico.ttf') format('truetype');
    font-weight: normal;
}
