@font-face {
    font-family: 'Futura Light';
    src: url('/assets/futura/futura_light.eot');
    src: url('/assets/futura/futura_light.eot?#iefix') format('embedded-opentype'),
         url('/assets/futura/futura_light.woff') format('woff'),
         url('/assets/futura/futura_light.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Futura Medium';
    src: url('/assets/futura/futura_medium.eot');
    src: url('/assets/futura/futura_medium.eot?#iefix') format('embedded-opentype'),
         url('/assets/futura/futura_medium.woff') format('woff'),
         url('/assets/futura/futura_medium.ttf') format('truetype');
    font-weight: normal;
}
