@font-face {
    font-family: 'QuicksandBold';
    src: url('/assets/quicksand/quicksand-bold-webfont.eot');
    src: local('QuicksandBold'),
		 url('/assets/quicksand/quicksand-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/quicksand/quicksand-bold-webfont.woff') format('woff'),
         url('/assets/quicksand/quicksand-bold-webfont.ttf') format('truetype'),
         url('/assets/quicksand/quicksand-bold-webfont.svg#QuicksandBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QuicksandLight';
    src: url('/assets/quicksand/quicksand-light-webfont.eot');
    src: local('QuicksandLight'),
		 url('/assets/quicksand/quicksand-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/quicksand/quicksand-light-webfont.woff') format('woff'),
         url('/assets/quicksand/quicksand-light-webfont.ttf') format('truetype'),
         url('/assets/quicksand/quicksand-light-webfont.svg#QuicksandLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QuicksandRegular';
    src: url('/assets/quicksand/quicksand-regular-webfont.eot');
    src: local('QuicksandRegular'),
		 url('/assets/quicksand/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/quicksand/quicksand-regular-webfont.woff') format('woff'),
         url('/assets/quicksand/quicksand-regular-webfont.ttf') format('truetype'),
         url('/assets/quicksand/quicksand-regular-webfont.svg#QuicksandRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kepler Std Italic';
    src: url('/assets/kepler/adobe_-_keplerstd-italic-webfont.eot');
    src: local('Kepler Std Italic'),
		 url('/assets/kepler/adobe_-_keplerstd-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/kepler/adobe_-_keplerstd-italic-webfont.woff') format('woff'),
         url('/assets/kepler/adobe_-_keplerstd-italic-webfont.ttf') format('truetype'),
         url('/assets/kepler/adobe_-_keplerstd-italic-webfont.svg#Kepler Std Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenir';
    src: url('/assets/avenir/avenir-book-webfont.eot');
    src: local('avenir'),
		 url('/assets/avenir/avenir-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/avenir/avenir-book-webfont.woff') format('woff'),
         url('/assets/avenir/avenir-book-webfont.ttf') format('truetype'),
         url('/assets/avenir/avenir-book-webfont.svg#avenir') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'johnston'; 
 	src: url("data:font/opentype;base64,AAEAAAARAQAABAAQRkZUTVDyexQAAAEcAAAAHEdERUYBEwAEAAABOAAAACBPUy8yqf4ZYwAAAVgA
	AABgY21hcIWFDngAAAG4AAAB4mN2dCAPKxLsAAADnAAAADBmcGdtU7QvpwAAA8wAAAJlZ2FzcAAA
	ABAAAAY0AAAACGdseWYj7IYoAAAGPAAAe/xoZWFk//SBugAAgjgAAAA2aGhlYQ+NBJ8AAIJwAAAA
	JGhtdHjm2UvsAACClAAAA5hsb2NhNu4YyAAAhiwAAAHObWF4cAIDAgkAAIf8AAAAIG5hbWUtZUxA
	AACIHAAAAhxwb3N0025oEwAAijgAAALAcHJlcGbqwXkAAIz4AAAA1HdlYmbeYFA0AACNzAAAAAYA
	AAABAAAAAMmJbzEAAAAAuw59AwAAAADMWo7fAAEAAAAOAAAAGAAAAAAAAgABAAEA5QABAAQAAAAC
	AAAABARVArwABQAEC3cKpgAAAkoLdwqmAAAHzwBmAgAAAAIACAQDAAACAAOAAAAnAAAAAAAAAAAA
	AAAAcHlycwCgAA37AgZm/mYAAAd/AkEAAAABAAAAAAOuBWAAAAAgAAEAAAADAAAAAwAAABwAAQAA
	AAAA3AADAAEAAAAcAAQAwAAAACwAIAAEAAwAAAANAH4AtAD/AVMBeALGAtwgCiAUIBogHiAiICYg
	LyA6IF8hIuAA+wL//wAAAAAADQAgAKAAtgFSAXgCxgLcIAAgECAYIBwgIiAmIC8gOSBfISLgAPsB
	//8AAf/1/+P/wv/B/2//S/3+/engxuDB4L7gveC64Lfgr+Cm4ILfwCDjBeMAAQAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABBgAAAQAAAAAAAAABAgAAAAIAAAAA
	AAAAAAAAAAAAAAABAAADBAUGBwgJCgsMDQ4PEBESExQVFhcYGRobHB0eHyAhIiMkJSYnKCkqKywt
	Li8wMTIzNDU2Nzg5Ojs8PT4/QEFCQ0RFRkdISUpLTE1OT1BRUlNUVVZXWFlaW1xdXl9gYQCFhoiK
	kpedoqGjpaSmqKqpq6yura+wsrSztbe2u7q8vQByZGVp3HegcGvidmoAh5kAcwAAZwAAAAAAAGx7
	AKe5gGNuAAAAAG183WKBhJbBwtTV2drW17gAwMMAAN/g5OUAeNjbAIOLgoyJjo+QjZSVAJObnJoA
	xMVxAAAAeQAAAAAAAAADrgVgARUA0QDnAPoBDQE5ARsBIQElASkBLwE5AO0BBwEQAQkBGADwAKAA
	RAURsAAssAATS7BMUFiwSnZZsAAjPxiwBitYPVlLsExQWH1ZINSwARMuGC2wASwg2rAMKy2wAixL
	UlhFI1khLbADLGkYILBAUFghsEBZLbAELLAGK1ghIyF6WN0bzVkbS1JYWP0b7VkbIyGwBStYsEZ2
	WVjdG81ZWVkYLbAFLA1cWi2wBiyxIgGIUFiwIIhcXBuwAFktsAcssSQBiFBYsECIXFwbsABZLbAI
	LBIRIDkvLbAJLCB9sAYrWMQbzVkgsAMlSSMgsAQmSrAAUFiKZYphILAAUFg4GyEhWRuKimEgsABS
	WDgbISFZWRgtsAossAYrWCEQGxAhWS2wCywg0rAMKy2wDCwgL7AHK1xYICBHI0ZhaiBYIGRiOBsh
	IVkbIVktsA0sEhEgIDkvIIogR4pGYSOKIIojSrAAUFgjsABSWLBAOBshWRsjsABQWLBAZTgbIVlZ
	LbAOLLAGK1g91hghIRsg1opLUlggiiNJILAAVVg4GyEhWRshIVlZLbAPLCMg1iAvsAcrXFgjIFhL
	UxshsAFZWIqwBCZJI4ojIIpJiiNhOBshISEhWRshISEhIVktsBAsINqwEistsBEsINKwEistsBIs
	IC+wBytcWCAgRyNGYWqKIEcjRiNhamAgWCBkYjgbISFZGyEhWS2wEywgiiCKhyCwAyVKZCOKB7Ag
	UFg8G8BZLbAULLMAQAFAQkIBS7gQAGMAS7gQAGMgiiCKVVggiiCKUlgjYiCwACNCG2IgsAEjQlkg
	sEBSWLIAIABDY0KyASABQ2NCsCBjsBllHCFZGyEhWS2wFSywAUNjI7AAQ2MjLQAAAAABAAH//wAP
	AAIARAAAAmQFVQADAAcALrEBAC88sgcEFu0ysQYF3DyyAwIW7TIAsQMALzyyBQQW7TKyBwYX/Dyy
	AQIW7TIzESERJSERIUQCIP4kAZj+aAVV+qtEBM0AAAACAI3/xwHuBWAAAwAJAAA3FzcnAxMzExEh
	jbCxsZdUh1T+0XewsLIDJf0rAtUBEgACAEYDWALZBWAABQALAEMAsgUCACuwCjO0AQMACAQrsAcy
	AbAML7AB1rQCCQAKBCuwAhCxBwErtAgJAAoEK7ENASuxBwIRErMDBAYLJBc5ADAxGwEzEzUjBRMz
	EzUjRjd/N+0Bpjd/N+0Eh/7RAS/Z2f7RAS/ZAAACABL/sAWRBbAAGwAfAaMAAbAgL7AC1rQDCQAX
	BCuwAxCxFQErtBQJABcEK7AUELEGASu0BwkAFwQrsAcQsREBK7QQCQAXBCuxIQErsDYauj6j8t0A
	FSsKBLACLrAULrACELEDD/mwFBCxFQ/5uj6j8t0AFSsKsAYusBAusAYQsQcP+bAQELERD/m6PqHy
	1AAVKwuwAhCzAQIVEyuwAxCzBAMUEyuwBhCzBQYREyuwBxCzCAcQEyuzCwcQEyuzDAcQEyuzDwcQ
	EyuwBhCzEgYREyuwAxCzEwMUEyuwAhCzFgIVEyuzGQIVEyuzGgIVEyuwAxCzHAMUEyuzHQMUEyuw
	BhCzHgYREyuzHwYREyuyAQIVIIogiiMGDhESObAaObAZObAWObIEAxQREjmwHDmwHTmwEzmyBQYR
	ERI5sB85sB45sBI5sggHEBESObALObAMObAPOQBAGAECAwQFBgcICwwPEBESExQVFhkaHB0eHy4u
	Li4uLi4uLi4uLi4uLi4uLi4uLi4uLgFAEAEEBQgLDA8SExYZGhwdHh8uLi4uLi4uLi4uLi4uLi4u
	sEAaAQAwMRMzAzMTIQMzEzM3IxMzNyMTIwMhEyMDIwczAyMhEyEDEtpW81YBTlb0Vtsr2T/ZK9lW
	81b+slb0Vtsr2z/cAc9AAU5AAUr+ZgGa/mYBmtEBLdEBl/5pAZf+adH+0wEt/tMAAwBx/z0EIQYv
	ACcALgA1AFUAsgMAACuxJAXpAbA2L7Ae1rEoCemwKBCxMwErsQsJ6bE3ASuxKB4RErAnObAzEUAM
	AwYQERYYGSMkBSsvJBc5sAsSsRMUOTkAsSQDERKxAAY5OTAxNx4BFxUzNT4DNTQuAicRFhc3Jic1
	IxUOAxUUHgIXES4BJxM0NjcVLgETER4BFRQGcUTEopFSiWI4RGyFQFJIm4G0kVSFXzNCaIFAYnUp
	mS06Lzj4M0BCx155C6isDEhzmlpciWdLHwEtG0eqjxm4tghAYn1GYIdkRh/+cQpQOwK1J0MO7Rk5
	/OUBOR9JNTtOAAAFAHn/4wZkBX0AEwAXACMANwBDAJQAsikAACuxQQTpsg8CACuxGwTptDszKQ8N
	K7E7BOm0IQUpDw0rsSEE6QGwRC+wANa0GAkACgQrsBgQsR4BK7QKCQAKBCuwChCxJAErtDgJAAoE
	K7A4ELE+ASu0LgkACgQrsUUBK7EeGBESsg8VBTk5ObE+OBESshczKTk5OQCxO0ERErEuJDk5sRsh
	ERKxCgA5OTAxExQeAjMyPgI1NC4CIyIOAhMhASEBNDYzMhYVFAYjIiYBFB4CMzI+AjU0LgIjIg4C
	FzQ2MzIWFRQGIyImeTVce0ZGelw2Nlx7RUZ7XDWwAQgDf/74/J5NODdOTjc3TgJ7NVx7RUZ7XDU1
	XHtGRnpcNcxONzdPTjg3TgQrRntcNTVce0ZGe1w1NVx7+48FYP7LN05ONzdOTv1BRnpcNjZcekZG
	e1w1NVx7RjdOTjc3Tk4AAAADAFT/4wXhBX0AJwAzAD8AfACyBQAAK7EvBumyHQIAK7E3BukBsEAv
	sADWsSgN6bAoELA0INYRsSIK6bAiL7E0CumwKBCxOgErsRgJ6bFBASuxKCIRErAlObE6NBESswUr
	Lx0kFzmwGBGzFAgVLCQXOQCxLwURErIICQo5OTmwNxG1CwAYIis9JBc5MDETFB4CMzI2NxchAT4D
	NyEOAQcnPgE1NC4CIyIOAhUUFhcOAQU0NjcBDgEjIi4CEzQ2MzIWFRQGBy4BVD13qm9c3WmhAX3+
	liNHPjMQ/uIdQiDNf3ItXpNlUJVxQ0FGgX8BM0JFAQQzaDMvRi8ZZ0cxM0Q7UjExAXNOkm5CVGmg
	AWIrY2ZgJztnKclKwFg3c105MVyGUUiLTlLHXj9hK/8ANTIdLTcCrjU+My8jXCspVAAAAAEARgNY
	ATMFYAAFACIAsgUCACu0AQMACAQrAbAGL7AB1rQCCQAKBCuxBwErADAxGwEzEzUjRjd/N+0Eh/7R
	AS/ZAAAAAQBa/rYCjwaRABEAHQABsBIvsADWsQkJ6bETASuxCQARErEDDzk5ADAxExASFyEuAgI1
	NBI+ATchBgJalHwBJUZqSScnSWtF/tt9kwKk/v79+uZ57PMBBJKRAQT07Hjl/foAAAEAP/62AnUG
	kQARAB0AAbASL7AN1rEECemxEwErsQQNERKxAQc5OQAwMRMhNhIREAInIR4CEhUUAg4BPwElfZSU
	ff7bRmtJJydJa/625QIHAQIBAgIG5Xnr9P78kZH++/PsAAABAD8CiQL8BWAAEQAAExc3BzMnFzcn
	NycHNyMXJwcXP2HAI8EjwWDf32DBI8EjwGHgA5qmk/7+k6ZaXKaU/v6UplwAAAEAUADRA5EEOwAL
	AAATIREzESE1IREjESFQATHfATH+z9/+zwIX/roBRt8BRf67AAH//v8xAbQBGQAPACQAsAMvtAoD
	AAkEK7QABAAMBCsBsBAvsAvWsQgJ6bERASsAMDEHHgEzMj4CPQEhFRQOAgISVilcc0AW/vgKI0a0
	ChE+WmgrvcU5VEArAAAAAQBmAYcDCAJ1AAMAHgCwAC+xAwXpAbAEL7EAASu0AQgABwQrsQUBKwAw
	MRMhNSFmAqL9XgGH7gABAIkAAAGiARkAAwAdALIAAAArsQMD6QGwBC+xAAErsQEJ6bEFASsAMDEz
	IREhiQEZ/ucBGQAAAAEAO/74A0QGZgADAE0AAbAEL7AA1rEBCemwARCxAwErsQIJ6bEFASuwNhq6
	Pd3vmwAVKwoEsAAusAIusAAQsQEQ+bACELEDEPkCswABAgMuLi4usEAaAQAwMRMhASE7AREB+P7v
	/vgHbgAAAAIAaP/nBFwFfQATACcARACyBQAAK7EjB+myDwIAK7EZB+kBsCgvsADWsRQI6bAUELEe
	ASuxCg3psSkBK7EeFBESsQ8FOTkAsRkjERKxCgA5OTAxExQSHgEzMj4BEjU0Ai4BIyIOAQIFND4C
	MzIeAhUUDgIjIi4CaDx7voWDwXs7O3vBg4W+ezwBNCI6RSUlRjkjIzlGJSVFOiICspH+/MNzc8MB
	BJGRAQXCc3PC/vySfaxpLy9prH19rGgvL2isAAEBzwAAAvYFmgADABQAAbAEL7EAASuxAQvpsQUB
	KwAwMSkBEQUBzwEn/tkFmskAAAEAmgAAA/QFfQAdACQAsg0CACuxFgPpAbAeL7AZ1rEIDemxHwEr
	ALENFhESsBA5MDEzIREhPgM1NC4CIyIGBxE+AzMyFhUUBgoBmgNa/n09eWA+PmyUVnHGTBlJXWY1
	P0xakbQBCFzLw7BBUpRwRGJG/rQhTkMrS0Irz/7s/sgAAQBt/+MEDgVgACQALgCyBQAAK7EfA+kB
	sCUvsBzWsQoK6bEmASuxChwRErEPEDk5ALEfBRESsAA5MDE3HgMzMj4CNTQuAicBIREhAz4BMzIe
	AhUUBiMiLgInbSNZcYdQYKyETTVQXisBBPySAa7gF2AjQlo5GXFcL0YzJQzwN2FKK0Z9rGRejGA7
	EQIU/vj+NQoTKUJLIWJ7ITVBIQAAAAL/4wAABLgFjQAIAAsAACchFSE1MzUjEQETER0DDQEWsrL9
	/vTw8PD5A6T8VgEN/vMAAAABAGj/4wQSBWAAJwBRALIFAAArsSID6bIWAgArtBoDAAcEK7AaELEP
	BOkBsCgvsB/WsQoK6bEpASuxCh8RErAUOQCxIgURErAAObAaEbIKFyc5OTmxFg8RErATOTAxNx4D
	MzI+AjU0LgIjIgYHNyETIQM+ATMyHgIVFAYjIi4CJ2gjWnGHUGCsg05DdaJeDB8MCgFqg/0VMTV9
	SkJbPBxwXC9GMyUM8DdhSitGfaxkXqZ7RgIC4QEI/QYfLS1BUCFieyE1QSEAAAIAoP/jBGIFYAAa
	ACwAUQCyBQAAK7EoA+mwIC+xDwbpAbAtL7AA1rEbDemwGxCxJQErsQoL6bEuASuxJRsRErMPBRgS
	JBc5sAoRsBc5ALEgKBESsQAKOTmwDxGwEjkwMRMUHgIzMj4CNTQuAiMiBgc+AzchBgIBNDc+ATMy
	HgIVFAYjIi4CoEeGuHFzrXM5PW2TWERBIR9ofY1E/nv04wExCCtaKS1ELRZmRjNILxQB7nfBiUpS
	fZlIWpx1RBEMRJWYjzvs/lf+9hsmKR8fMT0dTl4nPUgAAAEAdQAABIEFYAAFAAATIQEhASF1AlD9
	4QE7AqD79ARY+6gFYAAAAAADAI//4wQ1BX0AHwAtADkAfQCyBQAAK7ErB+myFQIAK7ExBukBsDov
	sADWsSAJ6bAgELAuINYRtBoJABcEK7AaL7QuCQAXBCuwIBCxKAErsQoJ6bA0INYRtBAJABcEK7E7
	ASuxLhoRErAdObA0EbMVJSsFJBc5sBASsA05ALExKxEStQAKEBolNyQXOTAxExQeAjMyPgI1NCYn
	PgE1NC4CIyIOAhUUFhcOAQU0PgI3HgEVFAYjIiYTNDYzMhYVFAYHLgGPToGoXGqveUGFc0hiM2KR
	X1iPZzdgSHWBAR0KJUg9VmNjVE5oKVozP09ISFA7AXVclGg6SHWZUHm2RDmOWkZ+Yzk1YYNNYpA3
	TLJpGzM3OiItZDtOYloCwD88TDUfYB0tSgAAAAIAcQAABDMFfQAcAC4AUQCyGAIAK7EgB+mwBS+x
	KgbpAbAvL7AA1rEdC+mwHRCxJQErsRMN6bEwASuxHQARErANObAlEbMFDhgKJBc5ALEqBRESsAo5
	sCARsRMAOTkwMRMUHgIzMj4CNwYCByE+AzU0LgIjIg4CBTQ2MzIeAhUUBw4BIyIuAnE9bZNYIS0j
	HBFI+JMBi320cTVHhrhxc61zOQEnZkYzRy4WCCtaKS1ELRYDzVqcdUMEBgoGjf7Xg3/h09Fvd8CJ
	SlJ9mlNOXitARxsbJykeHjE+AAACAIkAAAGiA0YAAwAHABoAAbAIL7EAASuwBDKxAQnpsAUysQkB
	KwAwMTMhESERIREhiQEZ/ucBGf7nARkBFAEZAAAAAAL//v8xAbwDRgAPABMAKgCwAy+0CgMACQQr
	tAAEAAwEKwGwFC+wENawCjKxEQnpsAgysRUBKwAwMQceATMyPgI9ASEVFA4CEyERIQISVilcc0AW
	/vgKI0ZrARj+6LQKET5aaCu9xTlUQCsC0QEZAAABAG8AdQQ5BJoABgAAEwERCQERAW8Dyv2SAm78
	NgIU/mEBDgEEAQIBEf5gAAEAkQAAAbIFYAADABQAAbAEL7EAASuxAQrpsQUBKwAwMTMhESGRASH+
	3wVgAAAAAAEAbwB1BDkEmgAGAAA3ATUBEQkBbwPK/DYCbv2SdQGf5gGg/u/+/v78AAAAAgAj/8cD
	QgV9ACQAKABKALIiAgArsQQD6QGwKS+wEdaxFwnpsBcQsQcBK7EdC+mxKgErsRcRERK1BAwUIiYo
	JBc5sR0HERKyFRonOTk5ALEiBBESsAA5MDETFz4BMzIWFRQOAgcOAxUUFhc3Jic0Njc+ATU0LgIj
	IgYTFzcnI74pWkI5PgscMScxQicQL0O/FAEpPmRnQm2JSZPEW7CwsAR7rExPPS8QHyUzJS9EOzcl
	MWtCpBsWEjA3WpJgXI5gL4f7gbCwsgACAHv++Ad7BfwAUQBhAOkAsgkAACu0CAQADAQrswwJCAgr
	tAUEAAwEK7IWAgArtE0EAAwEK7IuAQArsScE6bQ+XwUnDSu0PgQALQQrsCAg1hGxQwTptDNYBScN
	K7QzBAAMBCsBsGIvsADWtBEJAAoEK7ARELE5ASu0UgkAFwQrsFIQsVkBK7AzMrQjCQAXBCuwIxCx
	GwErtEgJAAoEK7FjASuxUjkRErEqKzk5sFkRtwUMJxYuPk1fJBc5sCMSsUFcOTmwGxGyCQhDOTk5
	ALFfPhESsEE5sFgRsSM5OTmwMxK0ABEkG0gkFzmwLhGwKzmwJxKwKjkwMRMUEhYEMzIkNycOASMi
	JCYCNTQSNiQzMh4BEhUUDgIjIiY9ATQmIyIGDwE+ATMyHgIXDgEHDgEVFB4CMzI2NxYzMj4CNTQC
	JiQjIgQGAgE0Njc+ATcVFBYXDgEjIiZ7f+8BVtimARaBRo30f6z+8LxjdcUBAo2H/sl5LUBGGkgz
	v7BeulA3RrFWIUQ5JQKH5kdcQjVWcz1EsFBW4S2Mg1yL9P66urr+uvSNAq4pNSV7WAQEN3ElUj8C
	e77+uPSJLy2iLyVyyQEImJgBDsl0bsP+/pNzkVIfgYnZx7QvI+8vQQgfPTMGNik1gztGaUcjRj3L
	MX/crKwBO+6NjfT+uv6QKTsZEBsIOCNBHS8vRAAAAgAbAAAFWAVgAAcACgAAMyETIRMhASEDGwEb
	ATlkAgJlATn96v7vHaakARv+5QVg/LkBzP40AAADAJgAAARtBWAAFgAfACgAVQCyAQAAK7EXBumy
	FQIAK7EhBum0IBgBFQ0rsSAG6QGwKS+wHNaxBgzpsCUg1hGxEAnpsSoBK7EQHBESsAs5ALEYFxES
	sAY5sCARsAs5sCESsBA5MDEzITI+AjU0LgInPgM1NC4CIyEBETMyFhUUBiMDETMyFhUUBiOYAilS
	mXdKNFJmMSdFOCAzaqZz/joBJrdka2VSz4FgWWBUM2WXYkRxVDcKEDZHWTNEgGk/+5wBP1lIRlgC
	OwEtVjtMUAAAAQBv/+MFIwV9ACMAPQCyBQAAK7EMA+myHwIAK7EWA+kBsCQvsADWsREI6bElASsA
	sQwFERKwCDmwFhGyAAkZOTk5sB8SsBo5MDETFBIWBDMyNjcRDgEjIi4CNTQ+AjMyFhcRLgMjIgQG
	Am92ywERl2r6ZWDcdlqkfUw/dahpaN1xLW93fTmY/vDNdgKwkf78xXNGOwFKVmA/c6JkUqB7S09K
	AUMXJx0QbcD++gAAAAACAJgAAAWBBWAADAAZAC0AsgEAACuxDQPpsgsCACuxDgPpAbAaL7AU1rEG
	COmxGwErALEODRESsAY5MDEzITIkPgE1NC4BJCMhAREzMh4CFRQOAiOYAffHAR+2VmC7/vCw/fIB
	JuJooGg2RHuqZoPL82959sR9+7IDPERyllJWlXFCAAABAJgAAAQ1BWAACwAAMyERIREhESERIREh
	mAOd/YkBwf4/Anf8YwESAScBEwECARIAAAAAAQCYAAAENQVgAAkAADMhESERIREhESGYASYBwf4/
	Anf8YwI5ARMBAgESAAABAG//4wVMBX0AJgA9ALIFAAArsQ8H6bIiAgArsRkD6QGwJy+wANaxFAjp
	sSgBKwCxDwURErAHObAZEbIACBw5OTmwIhKwHTkwMRMUEhYEMyQ3ESERMxEOASMiLgI1ND4CMzIW
	FxEuAyMiBAYCb3jNARGZAQvj/fPmMVApXqp/TEF5rGlz82ctcXuBOaD+59F4ArCW/vrAcQFmAtX+
	7/7+EgpDd6RiUqB7S1E8AUIUIxsOb8D++gAAAQCYAAAFMwVgAAsAADMhESERIREhESERIZgBJgJO
	ASf+2f2y/toCOf3HBWD97AIUAAAAAAEAmAAAAb4FYAADABQAAbAEL7EAASuxAQvpsQUBKwAwMTMh
	ESGYASb+2gVgAAAAAAEAK//jA2oFYAATABwAsgUAACuxEAPpAbAUL7AN1rEKC+mxFQErADAxEx4D
	MzI+AjURIREUBiMiJicrEkBiiV1KlXlN/tpMPDVSAgEXNW1YOjRurn0DsPxEXFBMRQAAAAEAmAAA
	BY0FYAAKAAAzIREBIQkBIQERIZgBJgI4AZf9NAKd/nP97f7aAkr9tgK8AqT9ywI1AAAAAQCYAAAE
	FwVgAAUAADMhESERIZgDf/2n/toBEgROAAABAJgAAAYMBWAACwAAMyERCQERIREhCQEhmAEmAZQB
	kwEn/ur+XP5c/uoDmP4eAeL8aAVg/f4CAgAAAAABAJgAAAWPBWAACQAAMyERASERIREBIZgBJgK9
	ART+2f1W/toDgfx/BWD8mANoAAACAG//4wY9BX0AEwAnAEQAsgUAACuxIwPpsg8CACuxGQPpAbAo
	L7AA1rEUCOmwFBCxHgErsQoI6bEpASuxHhQRErEPBTk5ALEZIxESsQoAOTkwMRMUEhYEMzIkNhI1
	NAImJCMiBAYCBTQ+AjMyHgIVFA4CIyIuAm9sxQEQpqYBEMVsbMX+8Kam/vDFbAE5QXOeXFyec0FB
	c55cXJ5zQQKwhf8Ay319ywEAhYUBAMt9fcv/AIVeoHdDQ3egXl6gd0NDd6AAAgCYAAAEZgVgAA4A
	GwArALINAgArsRAD6bACL7EPA+kBsBwvsBbWsQgI6bEdASsAsRAPERKwCDkwMTMhETMyPgI1NC4C
	IyEBETMyHgIVFA4CI5gBJqxqu4pNQ4G/ff4yASaYPVQyFiU7TikBz0F1pGRkq31H/YEBbR8xQSE1
	SCsTAAAAAgBv/8cGSAV9ABcALQBYALIFAAArsSkD6bITAgArsR0D6QGwLi+wANaxGAjpsBgQsSIB
	K7EOCOmxLwErsSIYERKyCBMFOTk5sA4RsQkLOTkAsSkFERKxCAo5ObAdEbILDgA5OTkwMRMUEhYE
	MzI2Nxc3Jz4BNTQCJiQjIgQGAgU0PgIzMh4CFRQHJwcXBiMiLgJvbMUBEKZ1zVaospZCSWzF/vCm
	pv7wxWwBOUFznlxcnnNBM56yi1heXJ5zQQKwhf8Ay31AN5PKg1zSboUBAMt9fcv/AIVeoHdDQ3eg
	XnViicp5J0N3oAAAAAACAJgAAAUKBWAADwAYACYAsg4CACuxEQPpAbAZL7AV1rEJC+mxGgErsQkV
	ERKxBAY5OQAwMTMhETMBIQE+ATU0LgIjIQERMzIWFRQGI5gBJm0BbQFy/kJcfyNkspD+OgEmhFxi
	WGsCBP38AlA1roMxkodg/awBQlZIQmIAAQBQ/+MEAAV9AC8AYQCyBQAAK7EqB+myGwIAK7EUB+kB
	sDAvsCDWsREM6bARELEnASuxCg3psTEBK7ERIBESsC85sCcRtQ4FFBskKiQXObAKErEXGDk5ALEU
	KhEStAAKFyAvJBc5sBsRsBg5MDETHgMzMj4CNTQuBDU0NjMyFhc3LgEjIg4CFRQeBBUUBiMiLgIn
	UBtRc5hidbB3O1aDmINWQjs5Vxr2Stl9XJpyQFZ/mH9WZT01SjEfCAEtOXVgPFKDolBvl2lFPD8t
	LzxCL4l5e0JukEtojGBGRE08RlcmOkggAAAAAAEAMwAABG0FYAAHAAATIREhESERITMBiQEnAYr7
	xgRO+7IETgESAAABAI3/5wWcBWAAGQAvALIFAAArsRID6QGwGi+wANaxFwvpsBcQsQ0BK7EKC+mx
	GwErsQ0XERKwBTkAMDETFB4CMzI+AjURIREUDgIjIi4CNREhjV+q7ZGP8Kpf/tk4YH9KSn5gOP7Z
	Am2L7qxhYazuiwLz/QReiVorK1qJXgL8AAEAHQAABUgFYAAGAAATASEBIQkBHQIKARYCC/7G/qj+
	pAVg+qAFYPwzA80AAQAjAAAHuAVgAAwAxAABsA0vsADWsQwL6bAMELEHASuxBgvpsQ4BK7A2GrrC
	we1uABUrCgSwAC4OsAHABLEMEfkOsAvAuj1d7dEAFSsKsQwLCLALEA6wCsCxAhL5sAPAusKe7eEA
	FSsKsQIDCLADEA6wBMCxCRD5sAjAuj0/7W4AFSsKBLAHLrEJCAiwCMAEsQYT+Q6wBcAAQA0AAQID
	BAUGBwgJCgsMLi4uLi4uLi4uLi4uLgFACQECAwQFCAkKCy4uLi4uLi4uLrBAGgEAMDETASEJASEB
	IQkBIQkBIwGqARYBCwEKARYBqv7b/vD+8v7x/vL+8AVg+qADhfx7BWD8fwOB/H8DgQAAAAEAOwAA
	BYEFYAALAA8AsAgvAbAML7ENASsAMDEzIQkBIQkBIQkBIQE7AVgBTAFKAVj+CAHL/qj+4f7k/qcB
	ywHZ/icC0QKP/mcBmf1xAAAAAQAdAAAFEgVgAAgAABMBESERASEJAR0B5wEnAef+rP7a/tkFYPz+
	/aICXgMC/hUB6wAAAAEAOQAABOkFYAAHAAAzIREhASERITkEsP1GArb7gwKIARIETv7uAAABAFj+
	vAItBosABwAiAAGwCC+xAAErtAEIAAkEK7AFMrEJASuxAQARErADOQAwMRMhNSMRMzUhWAHVz8/+
	K/683AYY2wAAAAABADv++ANEBmYAAwBNAAGwBC+wANaxAwnpsAMQsQEBK7ECCemxBQErsDYausIj
	75sAFSsKBLAALrACLrAAELEDEPmwAhCxARD5ArMAAQIDLi4uLrBAGgEAMDETASEBOwH4ARH+CAZm
	+JIHbgABAD3+vAISBosABwAiAAGwCC+xAQErsAQytAIIAAkEK7EJASuxAgERErAGOQAwMRcVIREh
	FTMRPQHV/ivPaNwHz9v56AAAAAACAFz+HQROA8sAIgAyAHMAsgUAACuxLgbpsh4BACuxKAbpsBUv
	sQwG6QGwMy+wANaxIw3psCMQsQkBK7EaKzIysRgK6bE0ASuxIwARErEREjk5sAkRswUMFR4kFzkA
	sQwVERKwEjmwBRGwETmwLhKwCDmwKBGwADmwHhKxGRs5OTAxExQeAjMyNjcVFAYjIi4CJwceATMy
	JDURIRUuASMiDgIFND4CMzIWFxEGByIuAlxKfaRYUIszh3k1bWZaIUZ19o3nAQv+7S+JVnGudD4B
	LytEUiU9XiFiZTlUNRkB23G6g0pEJ29zUxAZHAzrKTnXzwPrXi9MVo6yWkJeOxtAIv7TZAExSloA
	AAAAAf/0/nMDNf8pAAMAFgCwAS+0AAQALQQrAbAEL7EFASsAMDEHFSE1DANB17a2AAAAAQBIBCcC
	mAU1AAMAGwCwAi+xAAfpAbAEL7EFASsAsQACERKwATkwMRMBIQFIAS8BIf7bBTX+8gEOAAAAAgBG
	//IDrAPLACEAMQCDALIFAAArsS8E6bIQAQArsRcE6bQcKAUQDSu0HAQALQQrAbAyL7AA1rEiCemw
	IhCxKgErsBwysQoJ6bEzASuxIgARErETFDk5sCoRsgUQFzk5ObAKErAIOQCxLwURErIICQo5OTmw
	KBGyACoiOTk5sBwSsB05sBcRsBQ5sBASsBM5MDETFB4CMzI2NxUhETQuAiMiBg8BPgEzMh4CFw4B
	Bw4BBTQ3PgM3FQ4DIyImRjVWcz1Em0IBCjlnj1heu1A3RrJWH0M4JAKH4UhcQQEMThIrOkkzGzs1
	KQhQNQEKRmhIIjktWAJQYpBcLS8j8C9CCB87NAgzKTWFMk4lCBEMCgS6FB0TCEIAAAIAkf/yBIMF
	YAAUACQAOwCyBQAAK7EiBumyDwEAK7EYBukBsCUvsB3WsQoN6bEmASsAsSIFERKxAAI5ObAYEbAK
	ObAPErASOTAxMyE1HgEzMj4CNTQuAiMiBgcRIQERNjMyHgIVFA4CIyImkQETL4lWca51PUp9o1hQ
	jDP+3wEhYmU5VDUZLURQJD1fbS9MVouyWnG2f0ZEJwIA++4BH2QtRlYpQl45Gj8AAAABAF7/4wOR
	A8sAIAA9ALIFAAArsQwG6bIcAQArsRYG6QGwIS+wANaxEQzpsSIBKwCxDAURErAIObAWEbIACRg5
	OTmwHBKwGTkwMRMUHgIzMjY3EQ4BIyIuAjU0PgIzMhcRLgEjIg4CXkiHwXhMnUI/fUw9YEIjI0Jg
	PZF3Qp1MecCHSAHXYrSMUiklAQwtLSdCWjExWkInWgEMJSlSi7UAAgBe//IEUAVgABQAJAA9ALIF
	AAArsSAG6bIQAQArsRoG6QGwJS+wANaxFQ3psSYBKwCxIAURErIICQo5OTmwGhGwADmwEBKwDTkw
	MRMUHgIzMjY3FSERIREuASMiDgIFND4CMzIXEQ4BIyIuAl4+dK5xVokvARP+3zmFUFqke0oBLxk1
	VDlkYyFePSVSRCsB31qyi1ZLMG0FYP4KKzZKg7RrKVZGLWT+4SM/GjlfAAACAF7/4wQxA8sAHQAk
	ADkAsgUAACuxEATpshkBACuxIQTpAbAlL7AA1rETC+mxJgErALEQBRESsAo5sCERtAALExQeJBc5
	MDETFB4CMzI+Ajc1DgMjIiYnITQuAiMiDgIlPgEzMhYXXkaFvHc9e3VnKSVhaG0vf4kEAq5ai6hQ
	dbqBRgErDGdWSGgMAddxuINIER4rG/IfMyUVdV6u4H0vVIu1E0hiTlwAAAAAAQAzAAADSgV9ABcA
	HQCyEgIAK7ELBekBsBgvsRkBKwCxEgsRErAPOTAxEzMRIREhNSE1NDYzMhYXNS4BIyIGHQEjM5oB
	IQEc/uRDTj9tHzF/VrTDmgLN/TMCzeFcO1EkEO4SG7+ZdwADAAz9+AQhA8sAOABIAFQBKQCyJgEA
	K7FMBOmwBS+xRATpsBgvsVIE6QGwVS+wK9awMTKxSQnpsAAg1hG0OQkAEQQrsCsQtBQJABEEK7BJ
	ELFPASuxHQnpsB0QsAog1hG0QQkAFwQrsEEvtAoJABcEK7AhMrFWASuwNhq68r3BZAAVKwoOsDwQ
	sD/AsRIU+bAPwLMQEg8TK7MREg8TK7A8ELM9PD8TK7M+PD8TK7IREg8giiCKIwYOERI5sBA5sj08
	PxESObA+OQC3DzwQERI9Pj8uLi4uLi4uLgG3DzwQERI9Pj8uLi4uLi4uLrBAGgGxSSsRErIWLjQ5
	OTmxTxQRErMFGCZEJBc5sB0RsSAjOTkAsRhEERKzAAoUMSQXObBSEbEWLjk5sEwSsx0hKyAkFzmw
	JhGwIjkwMRcUHgIzMj4CNTQuAicuAzU0NxYzMj4CNTQmJzM1IS4BIyIOAhUUFhcOARUUFhcOAxc0
	NjceAxUUBiMiLgITNDYzMhYVFAYjIiYMNnzLlmK4kFg6Wmgxe6xrMRtke1yabDwTDnP+ritfM3Ol
	azNKPUY7HzcdOy8f8C0nc7B5PXGTXHNCGHFYR0pYXjxGYeMvZ1Y5KVJ4UkZcPiAJFB8aIRkfGic6
	YH1BKUwh4RANTHGHO16GKStWLylHIwwlOEkZIzkbHx8WHB8jPBcjKwMxSGJiRFBUWAABAJEAAARK
	BWAAFwAkALISAQArsQUG6QGwGC+wC9axDArpsRkBKwCxEgURErAVOTAxMyERPgEzMh4CFREhETQu
	AiMiBgcRIZEBIS9WPCVBMR8BIUZuhj9iiDX+3wKFJycZNVQ9/gwCIXmjYytCKQIAAAAAAAIAaAAA
	AeEFfQADAAcAABMXNycDIREhaL28vJIBIf7fBMG9vbz6gwOuAAAAAv+s/i0BzwV9ABUAGQAsALAG
	L7ETBekBsBovsA7WsQsK6bEbASuxCw4RErEXGTk5ALETBhESsAE5MDEHFR4DMzI+AjURIREUDgIj
	IiYTFzcnVAgtMzYSXn9MH/7fBhUvJxBGnLq9veHiAgQGBDtniUwECvwEJTstGQ0FqL29vAABAJEA
	AASHBWAACgAAMyERASEJASEBESGRASEBWAF9/iUBnP6R/tn+3wGm/loCAgGs/r8C8wAAAAEAh//s
	AqYFYAATAB0AsgUAACuxDAbpAbAUL7EVASsAsQwFERKwCDkwMRMUHgIzMjY3NQ4BIyIuAjURIYcp
	UHtSO2E9Iz8fJzEbCv7fAT9Ielw1Fh3rFxIVIy0YBAIAAAEAkQAABuEDywAqAEwAsiUBACuwHzOx
	BQbpsBIyAbArL7AL1rEMCumwDBCxGAErsRkK6bEsASuxDAsRErEQIjk5sBgRsRIfOTkAsSUFERKz
	IigpKiQXOTAxMyERPgEzMh4CFREhETQmJzYzMh4CFREhETQuAiMiBgcuASMiBgc1IZEBIS9WPCVB
	MR8BIQQEb1klQjEfASBFb4VAccI9OaBOaJA1/u0ChScnGTVUPf4MAiEdMxZMGTVUPf4MAiF5o2Mr
	WDROPkgvWgAAAAEAkQAABEoDywAXACgAshIBACuxBQbpAbAYL7AL1rEMCumxGQErALESBRESshUW
	Fzk5OTAxMyERPgEzMh4CFREhETQuAiMiBgc1IZEBIS9WPCVBMR8BIUZuhj9okDX+7QKFJycZNVQ9
	/gwCIXmjYytIL1oAAgBe/+MEbwPLABMAHwBEALIFAAArsR0H6bIPAQArsRcH6QGwIC+wANaxFAzp
	sBQQsRoBK7EKDOmxIQErsRoUERKxDwU5OQCxFx0RErEKADk5MDETFB4CMzI+AjU0LgIjIg4CBTQ2
	MzIWFRQGIyImXkqHwXZ3wYdKSofBd3fAh0oBKXVqanZ1a2p1AddgtIxUVIy0YGC1i1RUi7VgYo6O
	YmKOjgACAJH+TgSDA8sAFAAkAD0AsgUAACuxIwbpsg8BACuxGQbpAbAlL7Ae1rEKDemxJgErALEj
	BRESsAI5sBkRsAo5sA8SshITFDk5OTAxEyERHgEzMj4CNTQuAiMiBgc1IQERPgEzMh4CFRQOAiMi
	kQEhM4xQWKN9Sj11rnFWiS/+7QEhIV4+JU9ELRk1VDlk/k4CACdESoO6cVqyjlZML179lAEtIz8b
	O15CKVpKMQAAAAIAXv5OBFADywAUACQAOwCyBQAAK7EgBumyEAEAK7EaBukBsCUvsADWsRUN6bEm
	ASsAsSAFERKwCDmwGhGwADmwEBKxCw05OTAxExQeAjMyNjcRIREhFS4BIyIOAgU0PgIzMhYXEQYH
	Ii4CXkp9pFhQizMBIf7tL4lWca50PgEvK0RSJT1eIWJlOVQ1GQHbcbqDSkQn/gAFYF4vTFaOslpC
	XjsbQCL+02QBMUpaAAAAAQCRAAADIQO+ABEAIgCyDAEAK7EFBekBsBIvsRMBKwCxDAURErMJDxAR
	JBc5MDEzIRE+ATMyFhc1LgEjIgYHNSGRASEpZDY1UiUfPy1Qdyv+7QKHIykdFPgSEkMpXAAAAQBS
	/+MDiwPLADcANwCyFwAAK7EOBOmyMwEAK7EqBOkBsDgvsTkBKwCxDhcRErASObAqEbMAERwvJBc5
	sDMSsDA5MDETFBYXHgMXHgEVFAYjIiYnER4DMzI+AjU0JicuAycuATU0NjMyHgIXNS4BIyIOAlIp
	IRcyUntcNyNFQmbPShRVanc3e6RiJyUpECM/bVhcMzVGH09YWidEpXVWj2k7Apo3Wx8XIicrHBAb
	Fx8lTCn+/goZGBFCXmspOWQhDBccJx8fIxgbJw8YIxTxGycrUHEAAAAAAQAz/+4DUgSqABkAHQCy
	BwAAK7EOBekBsBovsRsBKwCxDgcRErAKOTAxEzMRFB4CMzI2NzUOASMiJjURITUhNSEVIzOoPmiF
	SlB9NRtgPUhWATP+zf7fqALN/mxUfVEpGhnzFCs/XQFc4fz8AAAAAAEAh//jBD8DrgAXACgAsgUA
	ACuxEAbpAbAYL7AA1rEVCumxGQErALEQBRESsggJCjk5OTAxExQeAjMyNjcVIREhEQ4BIyIuAjUR
	IYdGboY/aJA1ARL+4C9WPCVBMR/+3wGNeaNjK0gvWgOu/XsnJxk1VD0B9AAAAAEAEAAABE4DrgAG
	AAATATMBIQsBEAGu4gGu/sDf2QOu/FIDrv3HAjkAAAAAAQAUAAAGMQOuAAwAABMBMxsBMwEhCwEj
	CwEUAXnorq7nAXn+waqq9qqqA678UgIX/ekDrv3lAhv95QIbAAAAAAEAIQAABEwDrgALAAAzIRsB
	IQkBIQcnIQEhAWC2tQFg/pcBTP6knpv+owFMASn+1wH2Abjy8v5IAAAAAAEAIf4dBIUDrgAVAB8A
	sAkvsQgF6bAIELAFINYRsQ4F6QGwFi+xFwErADAxEwEDDgEjIiYnFR4DMzI2NwEhCwEhAZuJF0U/
	G0QWCCUvNRl7sE4CP/668eQDrvy//vkpNwoH5gIIBgR9mQR7/eoCFgABAEIAAAPJA64ABwAAMyE1
	IQEhFSFCA4f+QQGy/MEBg+ECzeEAAAAAAQA5/rwCwQaLAC4AOQCwCS+xDATpsCIvsSUE6QGwLy+w
	BNawKjKxEQnpsBwysTABK7ERBBESsBc5ALEiDBESsQQqOTkwMRMeARURFB4COwE1IyIuAjURNC4C
	Jz4DNRE0PgI7ATUjIg4CFREUBgc5ZFkWRH9mjDAzOyEKITVCISFCNSEKITszMIxmf0QWWGUCOxts
	Vv6aRHJUMtwYMUgvAS9MYD4lDg4lPWFMAS8tRzIa2zFUc0P+mVZsGwABAFj+HQRCA64AJQBXALIZ
	AAArsQwG6bADL7EgBukBsCYvsBTWsREK6bARELEdASuwCDKxBgrpsScBK7ERFBESsCU5sB0RsgMZ
	IDk5OQCxIAMRErAAObAZEbAlObAMErAcOTAxEx4BMzIkNREhEQ4BIyIuAjURIREUHgIzMjY3FRQG
	IyIuAidYdfaN5wEL/t8vVjwlQTEf/t9GboY/Yog1h3k1bWZbIP5/KTnXzwPr/XsnJxk1VD0B9P3f
	eaNjK0Ipb3NTEBkcDAAAAAABAFT+vALbBosALgA5ALABL7EABOmwFy+xFgTpAbAvL7Ap1rAdMrEH
	CemwDzKxMAErsQcpERKwIzkAsRcAERKxBxA5OTAxFxUzMj4CNRE0Njc1LgE1ETQuAisBFTMyHgIV
	ERQeAhcOAxURFA4CI1SLZoBDF1hkZFgXQ39niy8zPCALIDZBISFBNiALIDwzaNwyVHJEAWZWbBvR
	G2xWAWdEclQx2xoyRy3+0UxhPSUODiU+YEz+0S9IMRgAAAIAXv4GB9sDywAmADIAagCyCQAAK7IF
	AAArsTAH6bIiAQArsSoH6bAOL7EVBekBsDMvsADWsScM6bAnELEtASuxHQzpsTQBK7EtJxESsgki
	BTk5ObAdEbAaOQCxFQ4RErARObAJEbASObAwErAaObAqEbEdADk5MDETFB4CMzIzMjceAgQzMjY3
	NQ4BIyIuAic+ATU0LgIjIg4CBTQ2MzIWFRQGIyImXkqHwXYQDQ4PZOP2AQqOVMRORplkaODLpjFc
	ZUqHwXd3wIdKASl1amp2dWtqdQHXYLSMVAJUqotWLyvwK0BScX0rSM5xYLWLVFSLtWBijo5iYo6O
	AAIAjf41Ae4DzwADAAkAABMXNycDESERAyONsLGxlwEvVIcDH7KysPt5/u0BEwLVAAIA0/89BAYE
	aAAdACQAPwCyCAAAK7EPBumyFgEAK7EQBukBsCUvsADWsR4M6bEmASsAsQ8IERKwCzmwEBG0AAwS
	ISIkFzmwFhKwEzkwMRMUHgIXFTM1PgE3EQ4BBxEWFxEuASc1IxUOAwU0NjcRLgHTPXOoaJo5cS81
	aTt1ZC9xOZpoqHM9ASlOSUpNAddaqIdaDaqsCCUbAQwlLAcB5AxMAQwbJAmjoQxbh6haTHkc/j4d
	eAAAAAABAHkAAAR5BX0AJwC2ALIYAgArsRED6QGwKC+wItawITKxCQnpsQoLMjKxKQErsDYauj98
	9+cAFSsKDrAlELAfwLEGCfmwDcAEswoGDRMrswsGDRMruj+p+W0AFSsLswwGDRMrsCUQsyAlHxMr
	BLMhJR8TK7IgJR8giiCKIwYOERI5sgwGDRESOQBACQYlCgsMDR8gIS4uLi4uLi4uLgG1BiUMDR8g
	Li4uLi4usEAaAbEJIhESsAM5ALEYERESsBU5MDEzIRMhPgE3MxMhPgM3PgEzMhYXEy4BIyIOAgcO
	AwcjAzMGAnkDi3X9oBccBvBo/scCBAQGBggyLxtPK5pGl2k7b15GEAoNCAYCcWi4DlABCD2CQQEI
	JzYxMSM1PS1DAQY5SidMbkgtTkxQLf74oP74AAH/2f/jBP4FfQA2AEkAsgYAACuxDQfpsicCACux
	HgfpAbA3L7Ay1rEXCemxOAErsRcyERKxASw5OQCxDQYRErAJObAeEbQBAAohLCQXObAnErAiOTAx
	AzMeAzMyNjcRDgEjIiYnITchJjU0PQEhNyE+ATMyFhc3LgMjIg4CByMHMxQGFRQWFSMn8iF2nrhn
	XN1WWMNiZK44AclI/bYCAm1J/YExpnVWsmViKWt6ikVov6B3HqJKzQICgwHBZrF/SDZLASlcSndj
	vgwLDAwnvmKEQkXzHTUrG0iBtG2+ChEKDBkMAAH/5wAABN0FYAAWAAADASMVIRUhFSEVITUhNSE1
	ITUjASEJARkBZaoBLf7TAS0BJwEt/tMBLaoBZP6s/tn+2QVg/c3RmdHy8tGZ0QIz/hUB6wAAAAIA
	UP76AUoGZgADAAcAHQABsAgvsQABK7AEMrQBCQAXBCuwBTKxCQErADAxEzMRIxEzESNQ+vr6+v76
	AwQB0wKVAAAAAgBa/gwEPwV9AEEATwCDALIlAgArsRwG6bAFL7E+BukBsFAvsDLWsUIK6bAqINYR
	sRcL6bBCELFKASuxEArpsBAQsAog1hGxOQvpsDkvsQoL6bFRASuxFyoRErEtQTk5sDkRtxQFHCU3
	PkVNJBc5sAoSsg0fIDk5OQCxHD4RErYACh8qQUVNJBc5sCURsCA5MDEXHgMzMj4CNTQmJz4BNTQu
	BDU0PgIzMhYXNy4DIyIOAhUUFhcOAxUUHgQVFA4CIyImJxM0NjceAxUUBgcuAVohc4eNO3mydzxx
	VGaDXouki14OIzsvQnUn0iNidH08eapqMWRMM1xEJ2KWrJVjFStBL1ScNVpkYy1PPiNrYFp//Dda
	QiVEZn06aJU4I5N1XIdnT0ZGKw4nIRZBPJo3UDUbRGZ9OWaQNRI2SmA9XIpmUkZHKxAmIxZgUgIv
	L04OFyovMx8tQgwrUgAAAgC6BCkDVgUzAAMABwAZALAAL7AEM7EDB+mwBjIBsAgvsQkBKwAwMRMh
	ESEBIREhugEL/vUBkgEK/vYEKQEK/vYBCgADAFL/4wWBBP4AEwAnAEkAiQCyBQAAK7QjBAAMBCuw
	LS+0NAQADAQrsD4vtEUEAAwEK7AZL7QPBAAMBCsBsEovsADWtBQJAAoEK7AUELEoASu0OQkACgQr
	sDkQsR4BK7QKCQAKBCuxSwErsR45ERK3DxkFIy0wQUUkFzkAsTQtERKwMDmwPhG2ChQeACgxQSQX
	ObBFErBCOTAxExQeAjMyPgI1NC4CIyIOAhc0PgIzMh4CFRQOAiMiLgI3FB4CMzI2NzUOASMiLgI1
	ND4CMzIWFzUuASMiDgJSaLXxiYnytWhotfGKifG1aF5amtF0dc+aWlqaz3V10Jpavy9gjWFigy1Q
	e0dIZ0EfH0FrTjt5VER7SVqQZjcCcYfusmdnsu6Hh+2zZmaz7Yd1yphYWJjKdXXLl1hYl8t3So1x
	RjcdbzknNVZqNitoWj4jL2wjJT9tjwAAAgA5Av4CbwV/AB0AKQBQALAFL7QnBAAMBCuwFS+0DgQA
	DAQrAbAqL7AA1rQeCQAKBCuxKwErsR4AERKxERI5OQCxJwURErIICQo5OTmwFRGyABIjOTk5sA4S
	sBE5MDETFB4CMzI2NxUzETQmIyIGDwE+ATMyFhcOAQcOARc0Nz4BNxUOASMiJjkjOkkpKVopu4xy
	O3w1KTtzMydCBFKHLzsuvSsXOzkhQQsvGgO4L0UtGSEYLwF/gXcfGLUpKxgzBh8bI1ggKxQKDQZl
	FxQjAAIAEgCYBGADrgAFAAsAABMBIQkBIRMBIQkBIRIBMAEr/tABMP7VxAEvASv+0QEv/tUCI/51
	AYsBi/51/nUBiwGLAAAAAQBS/+MDkwPLAC0ASACyBQAAK7EqBOmyGwEAK7EUBOkBsC4vsCfWsQoJ
	6bEvASuxCicRErEXGDk5ALEqBRESsAA5sBQRswoXIC0kFzmwGxKwGDkwMTceAzMyPgI1NC4ENTQ2
	MzIWFzcuASMiDgIVFB4EFRQGIyImJ1I7bWhpN2+ZYClFa3lqRjI3O4Eth0jKhWaOWidKcYNwSkov
	UJVCdys4Ig88XG8zRGZLOC8tGBknLx2gNUQ+WmYrSGZMNzIvHiMjQjMAAAABAGYBhwMIAnUAAwAA
	EyE1IWYCov1eAYfuAAAABABWA1YCiQV7ABMAJwA1AD0AgQCyDwIAK7QZBAAMBCuwBS+0IwQADAQr
	sDcvtDQEAAwEKwGwPi+wANa0FAkACgQrsBQQsTsBK7QxCQAKBCuwMRCxHgErtAoJAAoEK7E/ASux
	OxQREkAJDwUZIygrLjU2JBc5sDERsCw5sB4SsC05ALE3IxEStgoUHgAoMTYkFzkwMRMUHgIzMj4C
	NTQuAiMiDgIXND4CMzIeAhUUDgIjIi4CFzM1MxczJz4BNTQmKwEXNTMyFhUUI1YrTmQ8OWhMLS1M
	aDk7ZU4rLSU/VjIxVkElJUFWMTFXPyWJMylZO14jHjM/YTMwIxo1BGg5ZEorK0pkOTllSisrSmQ6
	L1U9JSU9VS8vVD0lJT1UaI2NkwowHBs5g1gdDi0AAQDLBFwDRgUCAAMAIQCwAC+0AwQADAQrAbAE
	L7EAASu0AQgABwQrsQUBKwAwMRMhNSHLAnv9hQRcpgAAAgBGA5ECMQV9ABMAHwBOALIPAgArtBcE
	AAwEK7AFL7QdBAAMBCsBsCAvsADWtBQJAAoEK7AUELEaASu0CgkACgQrsSEBK7EaFBESsQ8FOTkA
	sRcdERKxCgA5OTAxExQeAjMyPgI1NC4CIyIOAhc0NjMyFhUUBiMiJkYnQ1gzM1lDJydDWDQzWEMn
	jzsrKzw8Kys7BIczWEQnJ0RYMzNYRCcnRFgzKzw8Kys7OwAAAAACAFD/4wORBKYAAwAPAAAXITUh
	ESERMxEhNSERIxEhUANB/L8BMd8BMf7P3/7PHeABvv66AUbfAUb+ugABAGYCKQKcBXUAHQAqALIN
	AgArtBYEAAwEKwGwHi+wGda0CAkACgQrsR8BKwCxDRYRErAQOTAxEyE1IT4DNTQuAiMiBgcVPgMz
	MhYVFA4CZgI2/wAnUUApKUhgOUqFMRAxPEUjKTM7YHcCKZ43eXdoKTFYRCk+KcYULycbLScZfaa8
	AAABAEgCGQKuBWIAIAAyALADL7QdBAAMBCsBsCEvsBrWtAgJAAoEK7EiASuxCBoRErENDjk5ALEd
	AxESsAA5MDETHgEzMj4CNTQuAicTIRUhAz4BMzIeAhUUBiMiJidIL5FrP3NWMyM1Pxuq/bwBHZMQ
	PRcrOycRSj4/QBACuEJdK0lnOzlUOiMKAT+d/usGDRknLRQ7S0YpAAEBbwQnA74FNQADABMAsAAv
	sQIH6QGwBC+xBQErADAxASEBIQFvASABL/7VBCcBDgAAAAABAGj+zQSiBWAAEwAWAAGwFC+wANa0
	CQgABwQrsRUBKwAwMRMUFhceATMRMxEzETMRISIGBw4BaGlcN5Rg0ajR/d1gpjdcfgN9mLJBJxX9
	FwXG+joGkxwnQscAAAIAWP/sAr4FfQADABYAHQCyCQAAK7EPBukBsBcvsRgBKwCxDwkRErALOTAx
	Exc3JwMUHgIzMjc1DgEjIi4CNREhWLy9vZEpUHtSfHkjXB4nMRsK/t8Ewb29vPvCSHpcNTnrFxgV
	Iy0YAlAAAAEBe/5MAsMABgAWAGIAsAQvtBQEAAwEK7QABAAMBCuwDi+0DAQADAQrAbAXL7AR1rQH
	CQAKBCuzCgcRCCu0DAkACgQrsAwvtAoJAAoEK7EYASuxEQwRErEEFDk5ALEOABESsQcROTmwDBGw
	CjkwMQEVHgEzMjY1NCYnNyMHMzIWFRQGIyImAXsUNBpofkY7DosdEC0yKycXI/7fiwQEdFQ9XwZQ
	kzEhJy0KAAABATECKQH0BYUAAwAXAAGwBC+xAAErtAEJAAoEK7EFASsAMDEBMxEHATHDwwIpA1x5
	AAAAAgA9AvYC4QV/ABMAHwBOALIdAQArtAUEADYEK7AXL7QPBAA2BCsBsCAvsADWtBQJABEEK7AU
	ELEaASu0CgkAEQQrsSEBK7EaFBESsQ8FOTkAsRcdERKxCgA5OTAxExQeAjMyPgI1NC4CIyIOAhc0
	NjMyFhUUBiMiJj0wWH1NTn1YLy9YfU5OfFgwz0Y9PUZFPj1GBDk9dVo3N1p1PT14Wjc3Wnc+O1NT
	OztQUAAAAAACADEAmAR/A64ABQALAAA3IQkBIQETIQkBIQExASsBL/7R/tUBL8UBKwEv/tH+1QEv
	mAGLAYv+df51AYsBi/51AAAAAAQBI/74BwAGZgADAAcAEAATAFUAAbAUL7AE1rEFCemwBRCxBwEr
	sQYJ6bEVASuwNhq6Pd3vmwAVKwoEsAQusAYusAQQsQUQ+bAGELEHEPkCswQFBgcuLi4usEAaAbEH
	BRESsAg5ADAxATMRBxMhASEDIRUzNTM1IxEBNxUBI7q63QEQAfj+8AQB67Bxcf69mQJgAyNx+eYH
	bvohh4eLAgv98ZiYAAAAAAMBI/74BoMGZgADAAcAJQCDALAeL7QVBAAMBCsBsCYvsATWsQUJ6bAF
	ELEHASuxBgnpsAYQsSEBK7QQCQAKBCuxJwErsDYauj3d75sAFSsKBLAELrAGLrAEELEFEPmwBhCx
	BxD5ArMEBQYHLi4uLrBAGgGxBgcRErIIGBk5OTmwIRGyCxUeOTk5ALEVHhESsBg5MDEBMxEHEyEB
	IRMhNSM+AzU0LgIjIgYHFT4DMzIWFRQOAgEjurrdARAB+P7wbgId9CdMPScnQ142SHwvDi86QSEp
	LzlbcgJgAyNx+eYHbvmakzNxb2IlLVRAJDcnuBIrJRkrJRd0mrAAAAQARP74BwAGZgAgACQALQAw
	AIEAsAMvtB0EAAwEKwGwMS+wIdaxIgnpsBog1hG0CAkACgQrsCIQsSQBK7EjCemxMgErsDYauj3d
	75sAFSsKBLAhLrAjLrAhELEiEPmwIxCxJBD5ArMhIiMkLi4uLrBAGgGxIRoRErANObAIEbAOObEk
	IhESsCU5ALEdAxESsAA5MDETHgEzMj4CNTQuAicTIRUhAz4BMzIeAhUUBiMiJicBIQEhAyEVMzUz
	NSMRATcVRC2JaDttUjEgNDsbpP3XAQ+MDjwXKTkjEEY7Oz4QATMBEAH4/vAEAeuwcXH+vZkC5z1a
	J0VhOTVONSEKASmT/wAEChYlKRM3RkQl+6YHbvohh4eLAgv98ZiYAAAAAAIAYv4ZA4EDzwAkACgA
	SACwBS+xDAPpAbApL7AA1rEPC+mwDxCxHwErsRkJ6bEqASuxDwARErIdIiU5OTmxGR8RErUFDBQc
	JigkFzkAsQwFERKwCDkwMRcUHgIzMjY3Jw4BIyImNTQ+Ajc+AzU0JicHFhUUBgcOAQEXNydiQmyK
	SZPDSL4pW0E5PgodMScxQicQL0S+FCk9ZmUBHbCwsG9cjWAvh3usTFA9MBAfJTMlL0M6OSUxakKk
	GxYSMDdakQMtsrKwAAAAAwAbAAAFWAbnAAcACwAOAAAzIRMhEyEBIQkBIQEDGwEbATlkAgJlATn9
	6v7v/tEBLwEh/tsZpqQBG/7lBWABh/7yAQ77MgHM/jQAAAMAGwAABVgG5wAHAAoADgAAMyETIRMh
	ASEDGwEBIQEhGwE5ZAICZQE5/er+7x2mpP7LASABL/7VARv+5QVg/LkBzP40A8ABDgAAAAADABsA
	AAVYBucABwAOABEAADMhEyETIQEhJSE3FyEDIQMbARsBOWQCAmUBOf3q/u/+/AECkZIBAvL+vAqm
	pAEb/uUFYHmsrAEO+zIBzP40AAMAGwAABVgG8QAHACAAIwBYALALL7EcBOmwECDWEbQXBAA2BCsB
	sCQvsAjWtAkJAAoEK7AJELEUASu0EwkACgQrsSUBK7EJCBESsQECOTmwFBG1BwYQHCEjJBc5sBMS
	sgQSAzk5OQAwMTMhEyETIQEhJzM2MzIeAjMyNjcjDgEjIi4CIyIOAhsCGwE5ZAICZQE5/er+7+Sv
	BDMhRUpOJ3NeCq4CIRcZRVRgMzFCKxbCpqQBG/7lBWBxWBccF5GBLSsZHxgtTGb8DwHM/jQAAAAE
	ABsAAAVYBuUABwALAA4AEgAAMyETIRMhASEnIREhGwIDIREhGwE5ZAICZQE5/er+770BC/71oKak
	WAEK/vYBG/7lBWB7AQr7NAHM/jQDwgEKAAAEABsAAAVYB38ABwAbAB4AKgBeALANL7QoBAAMBCuw
	Ii+0FwQADAQrAbArL7AI1rQfCQAKBCuwHxCxJQErtBIJAAoEK7EsASuxHwgRErEHHDk5sCURshcd
	DTk5ObASErEGHjk5ALEiKBESsRIIOTkwMTMhEyETIQEhAxQeAjMyPgI1NC4CIyIOAhsCATQ2MzIW
	FRQGIyImGwE5ZAICZQE5/er+70whOU4rK045ISE5TisrTjkhL6ak/v41Jyc1NScnNQEb/uUFYAFM
	K045ISE5TisrTjkhITlO+0IBzP40BJMnNTUnJzU1AAAAAAIAGwAAB+wFYAAPABIAADMhEyERIREh
	ESERIREhESEDAREbAWC6AhkDnv2JAcD+QAJ3+9LjAXMBG/7lARIBJwETAQIBEvy5AjP9zQABAG/9
	5wUjBX0APACBALIeAAArsSUD6bI4AgArsS8D6bAXL7QQBAAMBCsBsD0vsADWsSoI6bAqELENASu0
	GgkACgQrsT4BK7ENKhESswUGExckFzmwGhG0HR4lLzgkFzkAsRAXERKwFDmwHhGzCAYTGiQXObAl
	ErEFITk5sC8RsgAiMjk5ObA4ErAzOTAxExQeAhcHNjMyMzIWFRQGIyImJxUeATMyNjU0Jic3PgE3
	EQ4BIyIuAjU0PgIzMhYXES4DIyIEBgJvXKLbfyUECgoEMTg3Kx8+EhlYHHWLS0IXaO5eYNx2WqR9
	TD91qGlo3XEtb3d9OZj+8M12ArB/6buDGMECOSMpNRQLngYNgWNEZghmBEQ5AUpWYD9zomRSoHtL
	T0oBQxcnHRBtwP76AAAAAgCYAAAENQbnAAsADwAAMyERIREhESERIREhEwEhAZgDnf2JAcH+PwJ3
	/GMKAS8BIf7bARIBJwETAQIBEgGH/vIBDgACAJgAAAQ1BucACwAPAAAzIREhESERIREhESElIQEh
	mAOd/YkBwf4/Anf8YwExASABL/7VARIBJwETAQIBEnkBDgAAAAIAmAAABDUG5wALABIAADMhESER
	IREhESERITchNxchAyGYA539iQHB/j8Cd/xjNQECkZIBAvL+vAESAScBEwECARJ5rKwBDgAAAAAD
	AJgAAAQ1BuUACwAPABMAADMhESERIREhESERITchESEBIREhmAOd/YkBwf4/Anf8Y3wBC/71AZIB
	Cv72ARIBJwETAQIBEnsBCv72AQoAAAL/dQAAAcUG5wADAAcAAAMBIQEDIREhiwEvASH+2wgBJv7a
	Buf+8gEO+RkFYAAAAAIAmAAAAusG5wADAAcAADMhESE3IQEhmAEm/toEASABL/7VBWB5AQ4AAAAA
	Av+gAAACxwbnAAYACgAAAyE3FyEDIRMhESFgAQKRkgEC8v68BwEm/toF2aysAQ75GQVgAAP/5wAA
	AoMG5QADAAcACwAAAyERIRMhESE3IREhGQEL/vWxASb+2uEBCv72BdsBCvkbBWB7AQoAAv/nAAAF
	gQVgABAAIQAyALIDAAArsRED6bINAgArsRYD6QGwIi+wHNaxCAjpsSMBKwCxFhERErMBCA8AJBc5
	MDEDMxEhMiQ+ATU0LgEkIyERIwERITUhETMyHgIVFA4CIxmxAffHAR+2VmC7/vCw/fKxAdcBJf7b
	4migaDZEe6pmAmT9nIPL82959sR9/dv91wFS1wETRHKWUlaVcUIAAAIAmAAABY8G8QAJACIAVgCw
	DS+xHgTpsBIg1hG0GQQANgQrAbAjL7AK1rQLCQAKBCuwCxCxFgErtBUJAAoEK7EkASuxCwoRErIC
	CAE5OTmwFhGxEh45ObAVErMDBxQGJBc5ADAxMyERASERIREBISUzNjMyHgIzMjY3Iw4BIyIuAiMi
	DgKYASYCvQEU/tn9Vv7aAQ+vBDMhRUpOJ3NeCq4CIRcZRVRgMzFCKxYDgfx/BWD8mANocVgXHBeR
	gS0rGR8YLUxmAAAAAwBv/+MGPQbnABMAFwArAE4AsgUAACuxJwPpsg8CACuxHQPpAbAsL7AA1rEY
	COmwGBCxIgErsQoI6bEtASuxGAARErAUObAiEbQPFQUXFiQXOQCxHScRErEKADk5MDETFBIWBDMy
	JDYSNTQCJiQjIgQGAgkBIQkBND4CMzIeAhUUDgIjIi4Cb2zFARCmpgEQxWxsxf7wpqb+8MVsAS8B
	LwEh/tv+30FznlxcnnNBQXOeXFyec0ECsIX/AMt9fcsBAIWFAQDLfX3L/wADsv7yAQ77yV6gd0ND
	d6BeXqB3Q0N3oAAAAwBv/+MGPQbnABMAJwArAE4AsgUAACuxIwPpsg8CACuxGQPpAbAsL7AA1rEU
	COmwFBCxHgErsQoI6bEtASuxHhQRErQPBSgpKyQXObAKEbAqOQCxGSMRErEKADk5MDETFBIWBDMy
	JDYSNTQCJiQjIgQGAgU0PgIzMh4CFRQOAiMiLgIBIQEhb2zFARCmpgEQxWxsxf7wpqb+8MVsATlB
	c55cXJ5zQUFznlxcnnNBAR0BIAEv/tUCsIX/AMt9fcsBAIWFAQDLfX3L/wCFXqB3Q0N3oF5eoHdD
	Q3egA4cBDgADAG//4wY9BucAEwAnAC4ARwCyBQAAK7EjA+myDwIAK7EZA+kBsC8vsADWsRQI6bAU
	ELEeASuxCgjpsTABK7EeFBESsw8FKCwkFzkAsRkjERKxCgA5OTAxExQSFgQzMiQ2EjU0AiYkIyIE
	BgIFND4CMzIeAhUUDgIjIi4CEyE3FyEDIW9sxQEQpqYBEMVsbMX+8Kam/vDFbAE5QXOeXFyec0FB
	c55cXJ5zQSEBApGSAQLy/rwCsIX/AMt9fcsBAIWFAQDLfX3L/wCFXqB3Q0N3oF5eoHdDQ3egA4es
	rAEOAAMAb//jBj0G8QATACcAQACIALIFAAArsSMD6bIPAgArsRkD6bArL7E8BOmwMCDWEbQ3BAA2
	BCsBsEEvsADWsRQI6bAUELEoASu0KQkACgQrsCkQsTQBK7QzCQAKBCuwMxCxHgErsQoI6bFCASux
	NCkRErUPGSMFMDwkFzmwMxGwMjkAsRkjERKxCgA5ObEwDxESsSgpOTkwMRMUEhYEMzIkNhI1NAIm
	JCMiBAYCBTQ+AjMyHgIVFA4CIyIuAhMzNjMyHgIzMjY3Iw4BIyIuAiMiDgJvbMUBEKamARDFbGzF
	/vCmpv7wxWwBOUFznlxcnnNBQXOeXFyec0FBrwQzIUVKTidzXgquAiEXGUVUYDMxQisWArCF/wDL
	fX3LAQCFhQEAy319y/8AhV6gd0NDd6BeXqB3Q0N3oAN/WBccF5GBLSsZHxgtTGYAAAAABABv/+MG
	PQblABMAJwArAC8ASQCyBQAAK7EjA+myDwIAK7EZA+kBsDAvsADWsRQI6bAUELEeASuxCgjpsTEB
	K7EeFBEStQ8FKCksLSQXOQCxGSMRErEKADk5MDETFBIWBDMyJDYSNTQCJiQjIgQGAgU0PgIzMh4C
	FRQOAiMiLgITIREhASERIW9sxQEQpqYBEMVsbMX+8Kam/vDFbAE5QXOeXFyec0FBc55cXJ5zQWgB
	C/71AZIBCv72ArCF/wDLfX3LAQCFhQEAy319y/8AhV6gd0NDd6BeXqB3Q0N3oAOJAQr+9gEKAAEA
	RAECA0wECgALAAATFwcXNxc3JzcnBydE5dee2eWe5ted2eYDbejXntflnuXZntflAAADAG//pgY9
	BbwAGwAnADMAdwCyCQAAK7ExA+myFwIAK7EhA+myKQEAKwGwNC+wANaxHAjpsBwQsSwBK7EOCOmx
	NQErsRwAERKwBTmwLBG1BhQXCSQoJBc5sA4SsBM5ALExCRESsgMEBjk5ObApEbMOHAAlJBc5sCES
	sCQ5sBcRshESFDk5OTAxExQSFwcXNx4BMzIkNhI1NAInNycHLgEjIgQGAgU0PgIzMhYXAS4BEwEe
	ARUUDgIjIiZvbmd/m4FQvWimARDFbG5nf5uBUrtopv7wxWwBOUFznlw1YSv95Skr7gIaKStBc55c
	NWACsIf+/GebfaAvNH3LAQCFhwEEZ519ny0zfcv/AIVeoHdDFxT9ZzeH/sECmTeHTl6gd0MWAAAA
	AgCN/+cFnAbnABkAHQA6ALIFAAArsRID6QGwHi+wANaxFwvpsBcQsQ0BK7EKC+mxHwErsRcAERKw
	GjmwDRGzBRscHSQXOQAwMRMUHgIzMj4CNREhERQOAiMiLgI1ESETASEBjV+q7ZGP8Kpf/tk4YH9K
	Sn5gOP7ZzwEvASH+2wJti+6sYWGs7osC8/0EXolaKytaiV4C/AGH/vIBDgAAAAIAjf/nBZwG5wAZ
	AB0AOgCyBQAAK7ESA+kBsB4vsADWsRcL6bAXELENASuxCgvpsR8BK7ENFxESswUaGx0kFzmwChGw
	HDkAMDETFB4CMzI+AjURIREUDgIjIi4CNREhJSEBIY1fqu2Rj/CqX/7ZOGB/Skp+YDj+2QH2ASAB
	L/7VAm2L7qxhYazuiwLz/QReiVorK1qJXgL8eQEOAAIAjf/nBZwG5wAZACAAQQCyBQAAK7ESA+kB
	sCEvsADWsRcL6bAXELENASuxCgvpsSIBK7EXABESsBo5sA0RtAUbHR8gJBc5sAoSsB45ADAxExQe
	AjMyPgI1ESERFA4CIyIuAjURITchNxchAyGNX6rtkY/wql/+2Thgf0pKfmA4/tn6AQKRkgEC8v68
	Am2L7qxhYazuiwLz/QReiVorK1qJXgL8eaysAQ4AAAADAI3/5wWcBuUAGQAdACEANQCyBQAAK7ES
	A+kBsCIvsADWsRcL6bAXELENASuxCgvpsSMBK7ENFxEStAUaGx4fJBc5ADAxExQeAjMyPgI1ESER
	FA4CIyIuAjURISUhESEBIREhjV+q7ZGP8Kpf/tk4YH9KSn5gOP7ZAUEBC/71AZIBCv72Am2L7qxh
	YazuiwLz/QReiVorK1qJXgL8ewEK/vYBCgAAAAACAB0AAAUSBucACAAMAAATAREhEQEhCQE3IQEh
	HQHnAScB5/6s/tr+2ZYBIAEv/tUFYPz+/aICXgMC/hUB63kBDgAAAAIAmAAABGYFYAAQAB0AKQCw
	Ai+xEQPpsBIvsQ4D6QGwHi+wGNaxCAjpsR8BKwCxEhERErAIOTAxMyE1MzI+AjU0LgIrATUhAREz
	Mh4CFRQOAiOYASasaruKTUOBv32o/toBJpg9VDIWJTtOKedCdaRkZKp9SOf8mgFsHjFCITVIKxIA
	AAEAg//jBGgFfQA8AIUAsiUAACuxHAbpsjcCACuxBwbptA0SJTcNK7ENBOkBsD0vsADWsQEK6bAB
	ELEXASuxKgzpsCoQsDIg1hGxCg3psAovsTIN6bE+ASuxCgERErUQERwfJTckFzmxMhcRErAvOQCx
	HCURErIBACA5OTmwEhGxHyo5ObANErAvObAHEbAyOTAxMyERND4CMzIWFRQGIyImJxUzMh4CFRQO
	AiMiJicVHgMzMj4CNTQuAic+ATU0LgIjIg4CFYMBISk5PhY/U2M7CiEMOTVYQCIWL0gxKzMTCCMy
	NxpYnHVBLUthM2JbRHWdXVSsi1gDal5vNg5OOUI9AgLXJUJWMSlMPSURCvgECAsGQnemZkp9YD0L
	L4NcSn9cMzN5y5cAAwBG//IDrAU1ACEAJQA1AIkAsgUAACuxMwTpshABACuxFwTptBwsBRANK7Qc
	BAAtBCsBsDYvsADWsSYJ6bAmELEuASuwHDKxCgnpsTcBK7EmABESshMUIjk5ObAuEbQFEBcjJSQX
	ObAKErEIJDk5ALEzBRESsggJCjk5ObAsEbIALiY5OTmwHBKwHTmwFxGwFDmwEBKwEzkwMRMUHgIz
	MjY3FSERNC4CIyIGDwE+ATMyHgIXDgEHDgETASEBAzQ3PgM3FQ4DIyImRjVWcz1Em0IBCjlnj1he
	u1A3RrJWH0M4JAKH4UhcQR8BLwEh/ts+ThIrOkkzGzs1KQhQNQEKRmhIIjktWAJQYpBcLS8j8C9C
	CB87NAgzKTWFA+/+8gEO+99OJQgRDAoEuhQdEwhCAAMARv/yA9sFNQAhADEANQCIALIFAAArsS8E
	6bIQAQArsRcE6bQcKAUQDSu0HAQALQQrAbA2L7AA1rEiCemwIhCxKgErsBwysQoJ6bE3ASuxIgAR
	ErETFDk5sCoRswUQFzIkFzmwChKyCDM1OTk5ALEvBRESsggJCjk5ObAoEbIAKiI5OTmwHBKwHTmw
	FxGwFDmwEBKwEzkwMRMUHgIzMjY3FSERNC4CIyIGDwE+ATMyHgIXDgEHDgEFNDc+AzcVDgMjIiYT
	IQEhRjVWcz1Em0IBCjlnj1heu1A3RrJWH0M4JAKH4UhcQQEMThIrOkkzGzs1KQhQNToBIAEv/tUB
	CkZoSCI5LVgCUGKQXC0vI/AvQggfOzQIMyk1hTJOJQgRDAoEuhQdEwhCAzEBDgAAAAADAEb/8gO3
	BTUAIQAoADgAjACyBQAAK7E2BOmyEAEAK7EXBOm0HC8FEA0rtBwEAC0EKwGwOS+wANaxKQnpsCkQ
	sTEBK7AcMrEKCemxOgErsSkAERKyExQiOTk5sDERtQUQFyMkKCQXObAKErIIJSc5OTkAsTYFERKy
	CAkKOTk5sC8RsgAxKTk5ObAcErAdObAXEbAUObAQErATOTAxExQeAjMyNjcVIRE0LgIjIgYPAT4B
	MzIeAhcOAQcOARMhNxchAyEDNDc+AzcVDgMjIiZGNVZzPUSbQgEKOWePWF67UDdGslYfQzgkAofh
	SFxBSgECkZIBAvL+vC9OEis6STMbOzUpCFA1AQpGaEgiOS1YAlBikFwtLyPwL0IIHzs0CDMpNYUC
	4aysAQ77304lCBEMCgS6FB0TCEIAAAAAAwBG//IDrAU/ACEAOgBKALUAsgUAACuxSATpshABACux
	FwTptBxBBRANK7QcBAAtBCuwJS+xNgTpsCog1hG0MQQANgQrAbBLL7AA1rE7CemwIzKwOxC0IgkA
	CgQrsCIvsDsQsUMBK7AcMrEKCemzLQpDCCu0LgkACgQrsC4vtC0JAAoEK7FMASuxLgARErQICRAU
	KiQXObAtEbAsOQCxQUgRErIAQzs5OTmwHBGwHTmwFxKwFDmwEBGwEzmwKhKxIiM5OTAxExQeAjMy
	NjcVIRE0LgIjIgYPAT4BMzIeAhcOAQcOARMzNjMyHgIzMjY3Iw4BIyIuAiMiDgITNDc+AzcVDgMj
	IiZGNVZzPUSbQgEKOWePWF67UDdGslYfQzgkAofhSFxBaq8EMyFFSk4nc14KrgIhFxlFVGAzMUIr
	Fp1OEis6STMbOzUpCFA1AQpGaEgiOS1YAlBikFwtLyPwL0IIHzs0CDMpNYUC2VgXHBeRgS0rGR8Y
	LUxm/LxOJQgRDAoEuhQdEwhCAAAABABG//IDrAUzACEAJQA1ADkAjgCyBQAAK7EzBOmyEAEAK7EX
	BOm0HCwFEA0rtBwEAC0EKwGwOi+wANaxJgnpsCYQsS4BK7AcMrEKCemxOwErsSYAERKzExQiJSQX
	ObAuEbYFEBcjJDY5JBc5sAoSsgg3ODk5OQCxMwURErIICQo5OTmwLBGyAC4mOTk5sBwSsB05sBcR
	sBQ5sBASsBM5MDETFB4CMzI2NxUhETQuAiMiBg8BPgEzMh4CFw4BBw4BEyERIRM0Nz4DNxUOAyMi
	JgEhESFGNVZzPUSbQgEKOWePWF67UDdGslYfQzgkAofhSFxBkQEL/vV7ThIrOkkzGzs1KQhQNQEX
	AQr+9gEKRmhIIjktWAJQYpBcLS8j8C9CCB87NAgzKTWFAuMBCvvhTiUIEQwKBLoUHRMIQgMzAQoA
	AAAABABG//IDrAXNACEANQBFAFEAsgCyBQAAK7FDBOmyEAEAK7EXBOm0HDwFEA0rtBwEAC0EK7An
	L7RPBAAMBCuwSS+0MQQADAQrAbBSL7AA1rE2CemzIjYACCu0RgkACgQrsDYQsUwBK7QsCQAKBCuw
	PiDWEbAcM7EKCemxUwErsUYiERKwBTmwTBG0FxAxQyckFzmwLBKxCQg5OQCxPEMRErIAPjY5OTmw
	HBGwHTmwFxKwFDmwEBGwEzmxSU8RErEsIjk5MDETFB4CMzI2NxUhETQuAiMiBg8BPgEzMh4CFw4B
	Bw4BARQeAjMyPgI1NC4CIyIOAhM0Nz4DNxUOAyMiJhM0NjMyFhUUBiMiJkY1VnM9RJtCAQo5Z49Y
	XrtQN0ayVh9DOCQCh+FIXEEBACA6TisrTTohITpNKytOOiAMThIrOkkzGzs1KQhQNWo2Jyc1NiYn
	NgEKRmhIIjktWAJQYpBcLS8j8C9CCB87NAgzKTWFA7QrTjkhITlOKytOOSEhOU77704lCBEMCgS6
	FB0TCEIEBCc1NScnNTUAAAMARv/jBmoDywA2AEMASgBtALILAAArsAUzsRYE6bILAAArsUEE6bIf
	AQArsCUzsUcE6bAsMrREGQsfDSuwPTO0RAQANgQrsDIyAbBLL7AA1rE3CemxTAErsTcAERKxKCk5
	OQCxRAsRErEIETk5sEcRsCk5sB8SsSIoOTkwMTcUHgIzMjY3HgEzMj4CNzUOAyMiJichNC4CIyIG
	By4BIyIGDwE+ATMyHgIdAQQHDgEFNDY3PgE3FhcGIyImAT4BMzIWF0YrUnRKdb5YQsaCPXt1Zikl
	YGlsL3+JBQKuWouoUGCePzGYYl67UDdGslYhQzgk/ueTXEUBGDMdJ2ZfBxtteD08AmUMZlZIaQz0
	N2NMK0xSTFIRHisb8h8zJRV1Xq7gfS8+NTs4LyPwL0IIIUA3FAhXNYMxMzEPEBUETkhcNwFrSGJO
	XAABAF7+TAORA8sANgBnALIyAQArsSwG6bAUL7QNBAAMBCu0EAQADAQrAbA3L7AA1rEnDOmwJxCx
	CgErtBcJAAoEK7E4ASuxCicRErMFBhAUJBc5sBcRtBobIiwyJBc5ALEsEBESswAKFy4kFzmwMhGw
	LzkwMRMUHgIXBzMyFhUUBiMiJicVHgEzMjY1NCYnNz4BNxEOASMiLgI1ND4CMzIXES4BIyIOAl46
	bp5kFhAtMSsnFyIQFDMbaH1FPAhChTc/fUw9YEIjI0JgPZF3Qp1MecCHSAHXWKaFXA92MSEnLQoI
	iwQEdVM9XwYvBCkfAQwtLSdCWjExWkInWgEMJSlSi7UAAAMAXv/jBDEFNQAdACEAKABBALIFAAAr
	sRAE6bIZAQArsSUE6QGwKS+wANaxEwvpsSoBK7ETABESsB45ALEQBRESsAo5sCURtAALExQiJBc5
	MDETFB4CMzI+Ajc1DgMjIiYnITQuAiMiDgITASEBAz4BMzIWF15Ghbx3PXt1ZyklYWhtL3+JBAKu
	WouoUHW6gUYsAS8BIf7bLAxnVkhoDAHXcbiDSBEeKxvyHzMlFXVeruB9L1SLtQL+/vIBDv0VSGJO
	XAADAF7/4wQxBTUAHQAkACgAOQCyBQAAK7EQBOmyGQEAK7EhBOkBsCkvsADWsRML6bEqASsAsRAF
	ERKwCjmwIRG0AAsTFB4kFzkwMRMUHgIzMj4CNzUOAyMiJichNC4CIyIOAiU+ATMyFhcBIQEhXkaF
	vHc9e3VnKSVhaG0vf4kEAq5ai6hQdbqBRgErDGdWSGgM/qMBIAEv/tUB13G4g0gRHisb8h8zJRV1
	Xq7gfS9Ui7UTSGJOXAHdAQ4AAAMAXv/jBDEFNQAdACQAKwBBALIFAAArsRAE6bIZAQArsSgE6QGw
	LC+wANaxEwvpsS0BK7ETABESsB45ALEQBRESsAo5sCgRtAALExQlJBc5MDETFB4CMzI+Ajc1DgMj
	IiYnITQuAiMiDgITITcXIQMhAz4BMzIWF15Ghbx3PXt1ZyklYWhtL3+JBAKuWouoUHW6gUZXAQKR
	kgEC8v68HQxnVkhoDAHXcbiDSBEeKxvyHzMlFXVeruB9L1SLtQHwrKwBDv0VSGJOXAAAAAQAXv/j
	BDEFMwAdACEAKAAsAEMAsgUAACuxEATpshkBACuxJQTpAbAtL7AA1rETC+mxLgErsRMAERKxHiE5
	OQCxEAURErAKObAlEbQACxMUIiQXOTAxExQeAjMyPgI3NQ4DIyImJyE0LgIjIg4CEyERIRM+ATMy
	FhcDIREhXkaFvHc9e3VnKSVhaG0vf4kEAq5ai6hQdbqBRp4BC/71jQxnVkhoDIABCv72AddxuINI
	ER4rG/IfMyUVdV6u4H0vVIu1AfIBCv0XSGJOXAHfAQoAAAAAAv9pAAABuQU1AAMABwAAAwEhAQMh
	ESGXAS8BIf7bAQEh/t8FNf7yAQ76ywOuAAAAAgCQAAAC3wU1AAMABwAAEyEBIQEhESGQASABL/7V
	/t8BIf7fBCcBDvrLA64AAAAAAv+UAAACuwU1AAYACgAAAyE3FyEDIRMhESFsAQKRkgEC8v68DgEh
	/t8EJ6ysAQ76ywOuAAP/2wAAAncFMwADAAcACwAAAyERIRMhESE3IREhJQEL/vW4ASH+39oBCv72
	BCkBCvrNA657AQoAAgBe/+MEVAViACQAOQCzALIFAAArsTUH6bIgAQArsSoF6QGwOi+wANaxJQzp
	sCUQsTABK7EKDemxOwErsDYauhObwxQAFSsKDrAYELAPwLEZFfmwDsCzDRkOEyuwGBCzEBgPEyuy
	EBgPIIogiiMGDhESObINGQ4REjkAtQ0ODxAYGS4uLi4uLgG1DQ4PEBgZLi4uLi4usEAaAbElABES
	sBQ5sDARtQUTFxodICQXOQCxKjURErEKADk5sCARsB05MDETFB4CMzI+AjU0Aic3JwcuASchHgEX
	Bxc3HgEXLgEjIg4CBTQ+AjMyFhceARUUDgIjIi4CXkB7tneFxINChXOuM9sMGQ7+mxRCJ5czxSEz
	DilWL0qRdUgBKRcvSjU3aR4ODSE7UjE1Si0TAddgtIxUYZe7WqQBUa44l0UQIxAXUzUylz8xWiEX
	EEN7sG0xWkQpNSMjVCkxWEAnMklSAAIAkQAABEoFPwAXADAAcgCyEgEAK7EFBumwGy+xLATpsCAg
	1hG0JwQANgQrAbAxL7AY1rQZCQAKBCuwFTKwGRCxCwErsCQysQwK6bQjCQAKBCuxMgErsQsZERK0
	ARIgJywkFzmwIxGwIjkAsRIFERKyFRYXOTk5sCARsRgZOTkwMTMhET4BMzIeAhURIRE0LgIjIgYH
	NSE3MzYzMh4CMzI2NyMOASMiLgIjIg4CkQEhL1Y8JUExHwEhRm6GP2iQNf7taq8EMyFFSk4nc14K
	rgIhFxlFVGAzMUIrFgKFJycZNVQ9/gwCIXmjYytIL1pxWBccF5GBLSsZHxgtTGYAAAADAF7/4wRv
	BTUAEwAXACMATgCyBQAAK7EhB+myDwEAK7EbB+kBsCQvsADWsRgM6bAYELEeASuxCgzpsSUBK7EY
	ABESsBQ5sB4RtA8VBRcWJBc5ALEbIRESsQoAOTkwMRMUHgIzMj4CNTQuAiMiDgITASEBAzQ2MzIW
	FRQGIyImXkqHwXZ3wYdKSofBd3fAh0pQAS8BIf7bUnVqanZ1a2p1AddgtIxUVIy0YGC1i1RUi7UC
	/v7yAQ78omKOjmJijo4AAAAAAwBe/+MEbwU1ABMAHwAjAE4AsgUAACuxHQfpsg8BACuxFwfpAbAk
	L7AA1rEUDOmwFBCxGgErsQoM6bElASuxGhQRErQPBSAhIyQXObAKEbAiOQCxFx0RErEKADk5MDET
	FB4CMzI+AjU0LgIjIg4CBTQ2MzIWFRQGIyImEyEBIV5Kh8F2d8GHSkqHwXd3wIdKASl1amp2dWtq
	dU4BIAEv/tUB12C0jFRUjLRgYLWLVFSLtWBijo5iYo6OArIBDgAAAwBe/+MEbwU1ABMAGgAmAFUA
	sgUAACuxJAfpsg8BACuxHgfpAbAnL7AA1rEbDOmwGxCxIQErsQoM6bEoASuxGwARErAUObAhEbUP
	FRcZGgUkFzmwChKwGDkAsR4kERKxCgA5OTAxExQeAjMyPgI1NC4CIyIOAhMhNxchAyEDNDYzMhYV
	FAYjIiZeSofBdnfBh0pKh8F3d8CHSnsBApGSAQLy/rxDdWpqdnVranUB12C0jFRUjLRgYLWLVFSL
	tQHwrKwBDvyiYo6OYmKOjgAAAAMAXv/jBG8FPwATACwAOACRALIFAAArsTYH6bIPAQArsTAH6bAX
	L7EoBOmwHCDWEbQjBAA2BCsBsDkvsADWsS0M6bAtELAVINYRtBQJAAoEK7AUL7QVCQAKBCuwLRCx
	MwErsQoM6bAgINYRtB8JAAoEK7E6ASuxIBURErUPBRwoMDYkFzmwHxGwHjkAsTA2ERKxCgA5ObEc
	DxESsRQVOTkwMRMUHgIzMj4CNTQuAiMiDgITMzYzMh4CMzI2NyMOASMiLgIjIg4CEzQ2MzIWFRQG
	IyImXkqHwXZ3wYdKSofBd3fAh0qbrwQzIUVKTidzXgquAiEXGUVUYDMxQisWiXVqanZ1a2p1Addg
	tIxUVIy0YGC1i1RUi7UB6FgXHBeRgS0rGR8YLUxm/X9ijo5iYo6OAAAABABe/+MEbwUzABMAFwAj
	ACcAWQCyBQAAK7EhB+myDwEAK7EbB+kBsCgvsADWsRgM6bAYELEeASuxCgzpsSkBK7EYABESsRQX
	OTmwHhG1DwUWFSQnJBc5sAoSsSUmOTkAsRshERKxCgA5OTAxExQeAjMyPgI1NC4CIyIOAhMhESET
	NDYzMhYVFAYjIiYBIREhXkqHwXZ3wYdKSofBd3fAh0rCAQv+9Wd1amp2dWtqdQErAQr+9gHXYLSM
	VFSMtGBgtYtUVIu1AfIBCvykYo6OYmKOjgK0AQoAAwBQAOUDkQQnAAMABwALAAATITUhATM1IxEz
	NSNQA0H8vwEx39/f3wIX3/3vwQHAwQAAAAMAXv+YBG8EFwAbACMAKwBqALIJAAArsSoH6bIXAQAr
	sR8H6QGwLC+wANaxHAzpsBwQsScBK7EODOmxLQErsRwAERKwBjmwJxGzFwkhJCQXObAOErAUOQCx
	KgkRErIEAwY5OTmwHxGzDgAiJSQXObAXErISERQ5OTkwMRMUFhcHFzceATMyPgI1NCYnNycHLgEj
	Ig4CBTQ2MxYXASYXARYVFAYjIl5KRmOFZTV5Q3fBh0pKRmOGZDV5RHfAh0oBKXVqJSP+8hmYAQ4Z
	dWslAddiskh7aIEZHVSMtGBis0d7aYEZHFSLtWBijgEK/qYzowFaNj9ijgAAAgCH/+MEPwU1ABcA
	GwAwALIFAAArsRAG6QGwHC+wANaxFQrpsR0BK7EVABESsBg5ALEQBRESsggJCjk5OTAxExQeAjMy
	NjcVIREhEQ4BIyIuAjURIRMBIQGHRm6GP2iQNQES/uAvVjwlQTEf/t8pAS8BIf7bAY15o2MrSC9a
	A679eycnGTVUPQH0AYf+8gEOAAAAAAIAh//jBD8FNQAXABsAKACyBQAAK7EQBukBsBwvsADWsRUK
	6bEdASsAsRAFERKyCAkKOTk5MDETFB4CMzI2NxUhESERDgEjIi4CNREhJSEBIYdGboY/aJA1ARL+
	4C9WPCVBMR/+3wFQASABL/7VAY15o2MrSC9aA679eycnGTVUPQH0eQEOAAACAIf/4wQ/BTUAFwAe
	ADAAsgUAACuxEAbpAbAfL7AA1rEVCumxIAErsRUAERKwGDkAsRAFERKyCAkKOTk5MDETFB4CMzI2
	NxUhESERDgEjIi4CNREhNyE3FyEDIYdGboY/aJA1ARL+4C9WPCVBMR/+31QBApGSAQLy/rwBjXmj
	YytIL1oDrv17JycZNVQ9AfR5rKwBDgAAAAMAh//jBD8FMwAXABsAHwAyALIFAAArsRAG6QGwIC+w
	ANaxFQrpsSEBK7EVABESsRgbOTkAsRAFERKyCAkKOTk5MDETFB4CMzI2NxUhESERDgEjIi4CNREh
	NyERIQEhESGHRm6GP2iQNQES/uAvVjwlQTEf/t+bAQv+9QGSAQr+9gGNeaNjK0gvWgOu/XsnJxk1
	VD0B9HsBCv72AQoAAAACACH+HQSFBTUAFQAZAB8AsAkvsQgF6bAIELAFINYRsQ4F6QGwGi+xGwEr
	ADAxEwEDDgEjIiYnFR4DMzI2NwEhCwE3IQEhIQGbiRdFPxtEFgglLzUZe7BOAj/+uvHkVQEgAS/+
	1QOu/L/++Sk3CgfmAggGBH2ZBHv96gIWeQEOAAIAkf5OBIMFYAAUACQAOQCyBQAAK7EjBumyDwEA
	K7EZBukBsCUvsB7WsQoN6bEmASsAsSMFERKwAjmwGRGwCjmwDxKwEjkwMRMhER4BMzI+AjU0LgIj
	IgYHESEBET4BMzIeAhUUDgIjIpEBITOMUFijfUo9da5xToMv/t8BISFePiVPRC0ZNVQ5ZP5OAgAn
	REqDunFaso5WQisCAvviAS0jPxs7XkIpWkoxAAADACH+HQSFBTMAFQAZAB0AHwCwCS+xCAXpsAgQ
	sAUg1hGxDgXpAbAeL7EfASsAMDETAQMOASMiJicVHgMzMjY3ASELASchESEBIREhIQGbiRdFPxtE
	FgglLzUZe7BOAj/+uvHkYAEL/vUBkgEK/vYDrvy//vkpNwoH5gIIBgR9mQR7/eoCFnsBCv72AQoA
	AAACAG//4wiiBX0AHAAwAE8AsgUAACuxLAPpsgkAACuxDAPpshgCACuxIgPpshQCACuxEQPpAbAx
	L7AA1rEdCOmxMgErALEMCRESsAg5sBERsgAdJzk5ObAUErAVOTAxExQSFgQzMjY3FSERIREhESER
	IREhFS4BIyIEBgIFND4CMzIeAhUUDgIjIi4Cb2zFARCmgddWA579iQHB/j8Cd/xiVteBpv7wxWwB
	OUFznlxcnnNBQXOeXFyec0ECsIX/AMt9TkR1ARIBJwETAQIBEnRETX3L/wCFXqB3Q0N3oF5eoHdD
	Q3egAAAAAwBe/+MHDgPLACkANQA8AF4AsgsAACuwBTOxFgTpsgsAACuxMwfpsiUBACuwHzOxLQfp
	siUBACuxOQTpAbA9L7AA1rEqDOmxPgErALEWCxESsQgQOTmxLTMRErUAGRoRNjwkFzmxJTkRErAi
	OTAxExQeAjMyNjceATMyPgI3NQ4DIyImJyE0LgIjIgYHLgEjIg4CBTQ2MzIWFRQGIyImJT4BMzIW
	F15Kh8F2aLdGP7d4PXx0ZyklYGlsL3+KBAKuWouoUHGwP0K4cXfAh0oBKXVqanZ1a2p1At8MZ1ZI
	aQwB12C0jFRMREJOER4rG/IfMyUVdV6u4H0vVERGUlSLtWBijo5iYo6O1UhiTlwAAAADAB0AAAUS
	BuUACAAMABAAABMBESERASEJASchESEBIREhHQHnAScB5/6s/tr+2R8BC/71AZIBCv72BWD8/v2i
	Al4DAv4VAet7AQr+9gEKAAEAcwQnA5oFNQAGAB4AsAEvsAMzsQYH6QGwBy+xCAErALEGARESsAI5
	MDETITcXIQMhcwECkZIBAvL+vAQnrKwBDgAAAQCTBB8DeQU/ABgARwCwAy+xFATpsAgg1hG0DwQA
	NgQrAbAZL7AA1rQBCQAKBCuwARCxDAErtAsJAAoEK7EaASuxDAERErEIFDk5sAsRsAo5ADAxEzM2
	MzIeAjMyNjcjDgEjIi4CIyIOApOvBDMhRUpOJ3NeCq4CIRcZRVRgMzFCKxYEH1gXHBeRgS0rGR8Y
	LUxmAAEAZgGHAwgCdQADAAATITUhZgKi/V4Bh+4AAAABAGYBhwMIAnUAAwAAEyE1IWYCov1eAYfu
	AAAAAQBmAYcDCAJ1AAMAABMhNSFmAqL9XgGH7gAAAAEAewGHBBkCYAADABMAsAAvsQME6QGwBC+x
	BQErADAxEyE1IXsDnvxiAYfZAAAAAAEAfwGHBX0CYAADABMAsAAvsQME6QGwBC+xBQErADAxEyE1
	IX8E/vsCAYfZAAAAAAEARAOWAfoFfQAPACIAsgoCACu0AQMACQQrsAcvAbAQL7AA1rEBCemxEQEr
	ADAxEyE1ND4CNy4BIyIOAhVEAQgKI0Y7ElcpXHJAFgOWxDlUQCsQChE+WmgrAAAAAQAIA3kBvgVg
	AA8AKQCyCgIAK7QDAwAJBCuwAxC0AAQADAQrAbAQL7AL1rEICemxEQErADAxEx4BMzI+Aj0BIRUU
	DgIIElcpXHJAFv74CiNFA5MKED1aaSu8xDlVPysAAQAC/uMBuADLAA8AJACwAy+0CgMACQQrtAAE
	AAwEKwGwEC+wC9axCAnpsREBKwAwMRMeATMyPgI9ASEVFA4CAhJWKVxzQBb++AojRv7+ChE+Wmgr
	vcU5VEArAAACAEQDlgPJBX0ADwAfAEkAshoCACu0EQMACQQrsAAysBEQtAoDAAoEKwGwIC+wANax
	AQnpsAEQsRABK7ERCemxIQErsRABERKxBwo5OQCxGgoRErAXOTAxEyE1ND4CNy4BIyIOAhUFITU0
	PgI3LgEjIg4CFUQBCAojRjsSVylcckAWAc4BCQojRjsSVylccz8XA5afOVU/KxAKET1aaSuXxDlU
	QCsQChE+WmgrAAAAAAIACAN5A40FYAAPAB8ASwCyCgIAK7AZM7QDAwAJBCuyCgIAK7QTAwAKBCsB
	sCAvsAvWsQgJ6bAIELEbASuxGAnpsSEBK7EbCBESsRATOTkAsRMDERKwADkwMRMeATMyPgI9ASEV
	FA4CJR4BMzI+Aj0BIRUUDgIIElcpXHJAFv74CiNFAZMSVilcc0AW/vgKI0YDkwoQPVppK7zEOVU/
	KxQKED1aaSuXnzlVPysAAAAAAgAC/uUDhwDNAA8AHwBHALATL7QaAwAKBCuwCTKwGhC0AwMACQQr
	AbAgL7AL1rEICemwCBCxGwErsRgJ6bEhASuxGwgRErEQEzk5ALETAxESsAA5MDETHgEzMj4CPQEh
	FRQOAiUeATMyPgI9ASEVFA4CAhJWKVxzQBb++AojRgGUElYpXHNAFv74CiNG/wAKET5aaCu9xTlU
	QCsVChE+WmgrmKA5VEArAAAAAAEAHQFMAloDiQATACEAsAUvtA8DAAgEKwGwFC+xAAErtAoIAAgE
	K7EVASsAMDETFB4CMzI+AjU0LgIjIg4CHS1OaDs7aU4tLU5oPDtoTi0CajtoTi0tTmg7O2lOLS1O
	aAAAAAACAF7/8gRQA8cAFAAkAD8AsgUAACuxIAbpshABACuxGgbpAbAlL7AA1rEVDemxJgErALEg
	BRESsggJCjk5ObAaEbAAObAQErELDTk5MDETFB4CMzI2NxUhESEVLgEjIg4CBTQ+AjMyFxEOASMi
	LgJePnSucVaJLwET/u07hVZmqndCAS8ZNVQ5ZGMhXj0lUkQrAd9asotWSzBtA65QLzpWjK5YKVZG
	LWT+4SM/GjlfAAEAEgCYAm0DrgAFAAATASEJASESATABK/7QATD+1QIj/nUBiwGLAAABADEAmAKL
	A64ABQAANyEJASEBMQErAS/+0f7VAS+YAYsBi/51AAAAAgAzBA4CzwVmAAcAEwAsALIHAgArsQ8S
	MzO0AgMAEgQrsQgNMjIBsBQvsRUBKwCxBwIRErEKETk5MDETMxEzETM1IQEzNRc3FTMRIwcnIzNt
	QW3+5QE1QnFwRDl7eToFKf7lARs9/qjsg4PsAViLiwAAAAABAAAAAAOuA64AAwAAMREhEQOuA678
	UgADADMAAAUMBX0AFwAbAB8AIgCyEgIAK7ELBekBsCAvsSEBKwCxEgsRErMPGBobJBc5MDETMxEh
	ESE1ITU0NjMyFhc1LgEjIgYdASMBFzcnAyERITOaASEBHP7kQ04/bR8xf1a0w5oDYL28vJIBIf7f
	As39MwLN4Vw7USQQ7hIbv5l3ARO9vbz6gwOuAAIAM//sBhsFfQAXACoAQQCyHQAAK7EjBumyEgIA
	K7ELBekBsCsvsSwBKwCxIx0RErIDAh85OTmwCxG1AQQADhYgJBc5sBISsg8pKjk5OTAxEzMRIREh
	NSE1NDYzMhYXNS4BIyIGHQEjARQeAjMyNzUOASMiLgI1ESEzmgEhARz+5ENOP20fMX9WtMOaA6wp
	UHtSfXkjXB8nMRsK/t8Czf0zAs3hXDtRJBDuEhu/mXf9kUh6XDU56xcYFSMtGAQCAAEAAAABGZkD
	YlZIXw889QAfCAAAAAAAzFqO3wAAAADMWo7f/2n95wiiB38AAQAIAAIAAAAAAAAAAQAAB3/9vwAA
	CQr/afzvCKIAAQAAAAAAAAAAAAAAAAAAAOYC7ABECAAAAAGhAAABoQAAAnoAjQMkAEYFowASBMYA
	cQbdAHkFzgBUAU8ARgLOAFoCzgA/AzsAPwPhAFACPf/+A24AZgIrAIkDLQA7BMYAaATGAc8ExgCa
	BMYAbQTG/+MExgBoBMYAoATGAHUExgCPBMYAcQIrAIkCO//+BKcAbwJDAJEEpwBvA6MAIwfXAHsF
	cgAbBNAAmAWBAG8F7wCYBJ0AmARqAJgF2wBvBcoAmAJWAJgD9QArBZ8AmARWAJgGowCYBiYAmAas
	AG8ElQCYBrYAbwUeAJgETQBQBJ8AMwYoAI0FZAAdB9sAIwW8ADsFLwAdBUcAOQJsAFgDfgA7AmoA
	PQTQAFwDKP/0BAAASAQ3AEYE4QCRA+cAXgThAF4EgwBeA2AAMwRFAAwE0ACRAj0AaAI3/6wElwCR
	At0AhwdoAJEE0ACRBMwAXgThAJEE4QBeA0EAkQPhAFIDhQAzBNAAhwReABAGRQAUBGwAIQSdACEE
	FgBCAxQAOQTEAFgDFABUBMoAXgGhAAACegCNBMYA0wTGAHkExv/ZBMb/5wHOAFAEmQBaBAAAugXS
	AFICyAA5BJEAEgPpAFIDbgBmAt8AVgQAAMsCdgBGA+EAUAMmAGYDJgBIBAABbwUkAGgC6QBYBAAB
	ewMmATEDHgA9BJEAMQcIASMHCAEjBwgARAOwAGIFcgAbBXIAGwVyABsFcgAbBXIAGwVyABsIUwAb
	BYEAbwSdAJgEnQCYBJ0AmASdAJgCVv91AlYAmAJW/6ACVv/nBe//5wYmAJgGrABvBqwAbwasAG8G
	rABvBqwAbwMWAEQGrABvBigAjQYoAI0GKACNBigAjQUvAB0ElQCYBNcAgwQ3AEYENwBGBDcARgQ3
	AEYENwBGBDcARga8AEYD5wBeBIMAXgSDAF4EgwBeBIMAXgI9/2kCPQCQAj3/lAI9/9sEsgBeBNAA
	kQTMAF4EzABeBMwAXgTMAF4EzABeA+EAUATMAF4E0ACHBNAAhwTQAIcE0ACHBJ0AIQThAJEEnQAh
	CQoAbwdgAF4FLwAdBAAAcwQAAJMDvwAAB38AAAO/AAAHfwAAAn8AAAHfAAABPwAAAT8AAADvAAAB
	fwAAAGoAAANuAGYDbgBmA24AZgSTAHsF+wB/AgIARAJJAAgCQQACA9AARAQYAAgEEAACAnYAHQTh
	AF4BfwAAAp0AEgKdADEB3wAAAwIAMwOuAAAFaAAzBlEAMwAAACwALAAsACwARACAAYoCBgK0A1QD
	dgOoA9oD/AQUBEIEXgR6BLAFEAUoBWgFuAXSBjYGoga2B0oHuAfaCBIIKAhACFYIugm+CdoKQgqa
	CtwK9gsMC2gLgguaC8oL5gv2DBQMLAyODNANRg2EDfgODA5MDmIO6A8QDyoPPg9iD5gPvBBCEFoQ
	eBEEEVoRqhICElgSjBOUE84T5BQkFEAUcBTWFRAVYhW6FhIWQhauFuYXIhc4F1gXdheuF8IYIBiG
	GOQZYhliGXoZ1hpwGuIbDBsuG9wb/hyoHRAdMh2WHaQeOh5YHrAezh8QH1wfdh+kH9ogMCBKIKIg
	xCEYIZYiJiKKIrAi1iL+I2YjkCQGJCwkxCTmJQglLiVWJW4lhCWeJbomCiZuJuAnUCfAKGYo2ij0
	KYYp1iokKnoqzirwKzIrxixeLPYtlC5aLvwvyjBuMPAxUjGwMhYygDKYMrAyyjLmM5Y0FjR4NNg1
	QDXaNkY2YDbcNyY3aje2OAY4RjicOOQ5WDngOgg6Kjp0OnQ6dDp0OnQ6dDp0OnQ6dDp0OnQ6dDqC
	OpA6njq2Os46/DssO1o7sjwKPGA8kjzqPOo8/j0SPRI9TD1YPZ49/gAAAAEAAADmAGIABQAAAAAA
	AgABAAIAFgAAAQABowAAAAAAAAAKAH4AAwABBAkAAACgAAAAAwABBAkAAQAYAKAAAwABBAkAAgAO
	ALgAAwABBAkAAwAkAMYAAwABBAkABAAoAOoAAwABBAkABQAOARIAAwABBAkABgAgASAAAwABBAkA
	EAAYAUAAAwABBAkAyAAWAVgAAwABBAkAyQAwAW4AKABjACkAIABDAG8AcAB5AHIAaQBnAGgAdAAg
	ADEAOQA5ADYALQAxADkAOQA5ACAASQBuAHQAZQByAG4AYQB0AGkAbwBuAGEAbAAgAFQAeQBwAGUA
	ZgBhAGMAZQAgAEMAbwByAHAAbwByAGEAdABpAG8AbgAuACAAQQBsAGwAIAByAGkAZwBoAHQAcwAg
	AHIAZQBzAGUAcgB2AGUAZAAuAEoAbwBoAG4AcwB0AG8AbgAgAEkAVABDAFIAZQBnAHUAbABhAHIA
	RgBPAE4AVABMAEEAQgAzADAAOgBUAFQARQBYAFAATwBSAFQASgBvAGgAbgBzAHQAbwBuACAASQBU
	AEMAIABSAGUAZwB1AGwAYQByADAAMAAxAC4AMAAwADEASgBvAGgAbgBzAHQAbwBuAEkAVABDAC0A
	QgBvAGwAZABKAG8AaABuAHMAdABvAG4AIABJAFQAQwBXAGUAYgBmAG8AbgB0ACAAMQAuADAAVwBl
	AGQAIABBAHUAZwAgADIAMgAgADAAOQA6ADIANwA6ADUAOQAgADIAMAAxADIAAgAAAAAAAP8nANkA
	AAAAAAAAAAAAAAAAAAAAAAAAAADmAAABAgEDAAMABAAFAAYABwAIAAkACgALAAwADQAOAA8AEAAR
	ABIAEwAUABUAFgAXABgAGQAaABsAHAAdAB4AHwAgACEAIgAjACQAJQAmACcAKAApACoAKwAsAC0A
	LgAvADAAMQAyADMANAA1ADYANwA4ADkAOgA7ADwAPQA+AD8AQABBAEIAQwBEAEUARgBHAEgASQBK
	AEsATABNAE4ATwBQAFEAUgBTAFQAVQBWAFcAWABZAFoAWwBcAF0AXgBfAGAAYQEEAKMAhACFAL0A
	lgDoAIYAjgCLAJ0AqQCkAQUAigDaAIMAkwEGAQcAjQCIAMMA3gEIAJ4AqgD1APQA9gCiAK0AyQDH
	AK4AYgBjAJAAZADLAGUAyADKAM8AzADNAM4A6QBmANMA0ADRAK8AZwDwAJEA1gDUANUAaADrAO0A
	iQBqAGkAawBtAGwAbgCgAG8AcQBwAHIAcwB1AHQAdgB3AOoAeAB6AHkAewB9AHwAuAChAH8AfgCA
	AIEA7ADuALoAsACxALsA2ADZAQkBCgELAQwBDQEOAQ8BEAERARIBEwEUARUBFgCyALMAtgC3AMQA
	tAC1AMUAhwCrARcAvgC/ARgAjAEZARoBGwZnbHlwaDEHdW5pMDAwRAd1bmkwMEEwB3VuaTAwQUQH
	dW5pMDBCMgd1bmkwMEIzB3VuaTAwQjkHdW5pMjAwMAd1bmkyMDAxB3VuaTIwMDIHdW5pMjAwMwd1
	bmkyMDA0B3VuaTIwMDUHdW5pMjAwNgd1bmkyMDA3B3VuaTIwMDgHdW5pMjAwOQd1bmkyMDBBB3Vu
	aTIwMTAHdW5pMjAxMQpmaWd1cmVkYXNoB3VuaTIwMkYHdW5pMjA1Rgd1bmlFMDAwB3VuaUZCMDEH
	dW5pRkIwMrgB/4WwAY0AS7AIUFixAQGOWbFGBitYIbAQWUuwFFJYIbCAWR2wBitcWACwAyBFsAMr
	RLAHIEWyA4kCK7ADK0SwBiBFsgcpAiuwAytEsAUgRbIGGgIrsAMrRLAEIEWyBRMCK7ADK0QBsAgg
	RbADK0SwDSBFsghsAiuxA0Z2K0SwDCBFsg1FAiuxA0Z2K0SwCyBFugAMAZwAAiuxA0Z2K0SwCiBFsgs4AiuxA0Z2K0SwCSBFsgokAiuxA0Z2K0SwDiBFugAIf/8AAiuxA0Z2K0RZsBQrAAFQNN5fAAA=");
}

@font-face {
    font-family: 'avenir_medium';
    src: url('/assets/avenir_medium/avenir-medium.eot');
    src: local('avenir_medium'),
         url('/assets/avenir_medium/avenir-medium.eot?#iefix') format('embedded-opentype'),
         url('/assets/avenir_medium/avenir-medium.otf') format('opentype'),
         url('/assets/avenir_medium/avenir-medium.woff') format('woff'),
         url('/assets/avenir_medium/avenir-medium.ttf') format('truetype'),
         url('/assets/avenir_medium/avenir-medium.svg#avenir_medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
