@import 'partials/mixins';
@import 'partials/colors';
@import 'common/fonts';

body {
  #survey {
    height: 550px;
    overflow: hidden;

    .jcarousel-container {
      width: 990px;
      height: 500px;
    }

    .jcarousel-clip {
      width: 990px;
      height: 500px;
      overflow: hidden;
    }

    .jcarousel-item {
      width: 989px;
      overflow: hidden;
      float: left;
    }

    .jcarousel-prev, .jcarousel-next {
      background: url('/assets/quiz/previous_btn.gif') 0 0 no-repeat;
      width: 40px;
      height: 65px;
      cursor: pointer;
    }

    .jcarousel-prev {
      position: absolute;
      top: 190px;

      &:hover {
        background: url('/assets/quiz/previous_btn.gif') -42px 0 no-repeat;
      }

      &.jcarousel-prev-disabled {
        display: none;
      }
    }

    .jcarousel-next {
      display: none !important;
    }
  

    ol {
      &.options {
        overflow: hidden;
        margin: 30px auto;
        li {
          float: left;
        }
      }
    }

    ul.questions {
      li {
        &.images {
          ol {
            &.options {
              width: 738px;
            }
            li {
              width: 206px;
              height: 400px;
              margin: 0 20px;
              &:hover, &.selected {
                color: rgb(189, 76, 116);
                img {
                  margin: -10px;
                  border: 10px solid $pink;
                  cursor: pointer;
                }
                h3 {
                  color: $pink;
                }
              }
            }
          }
          
          &.shoes {
            height: 500px;

            ol {
              &.options {
                width: 884px;
                padding-left: 50px;
                height: 500px;
              }
              li {
                width: 201px;
                height: 285px;
                margin: 0 10px;

                img {
                  border: 1px solid #E9E9E9;
                }

                &:hover, &.selected {
                  color: rgb(189, 76, 116);
                  img {
                    margin: -10px;
                    border: 11px solid $pink;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
        
        &.words {
          ol {
            &.options {
              margin-top:50px;
              width: 825px;
            }
            li {
              margin: 0 8px 16px;
              label {
                background: rgb(168, 168, 168);
                width: 190px;
                height: 85px;
                display: inline-block;
                text-align: center;
                color: #FFF;
                cursor: pointer;
              }
              &.selected {
                label {
                  background: $pink;
                }
              }
              input[type='checkbox'] {
                display: none;
              }
            }
          }
        }

        &.about {
          ol {
            &.options {
              width: 740px;
              > li {
                width: 700px;
              }
            }
            h3 {
              margin-top: 45px;
              margin-bottom:0px;
              &:first-child {
                margin-top: 5px;
              }
            }
            .question {
              overflow: hidden;
              clear: both;

              li {
                border: 1px solid $pink;
                color: $pink;
                margin-left: 19px;
                
                &:first-child {
                  margin-left: 0;
                }
                &.selected {
                  background: $pink;
                  color: #FFF;
                }
                
                label {
                  display: block;
                  width: 46px;
                  height: 38px;
                }
              }
              &.shoe {
                li {
                  width: 73px;
                  height: 67px;
                }
              }
            }
          }

          fieldset {
            &.select {
              width: 370px;

              select {
                padding: 10px;
                -webkit-appearance: none;
                appearance: none;
                -webkit-border-radius: 0;
                border: 1px solid #BBB;
                padding: 10px 20px;
                arrow-color: #ffffff;
                scrollbar-arrow-color: #12406F;
                color: $pink;
                font-weight: bold;
                
                &[name='day'], &[name='year'] {
                  width: 22%;
                }

                &[name='month'] {
                  width: 30%;
                }

                &:focus {
                  outline: none;
                }
              }
            }

            &.buttons {
              float: right;
              margin-top: -52px;
              li {
                background: url('/assets/common/finish.png') no-repeat;
                text-indent: -9999px;
                width: 217px;
                height: 71px;
                display: block;
                cursor: pointer;
                &.grey-button {
                  background: url('/assets/common/finish-disabled.png') no-repeat;
                }
                input[type=submit] {
                  background: none;
                  width: 217px;
                  height: 71px;
                  display: block;
                  border: none;
                  cursor: pointer;
                }
              }
            }
          }
        }

        &.about-part-two {
          ol {
            &.options {
              width: 814px;

              .all-questions {
                width: 814px;
                padding: 0 20px 35px;
                border-bottom: 1px solid #E8E8E8;
                overflow: hidden;
                
                > li {
                  float: left;
                  width: 243px;
                  margin-left: 40px;

                  &:first-child {
                    margin-left: 0;
                  }

                  .reply-options {
                    clear: both;

                    li {
                      label {
                        display: inline-block;
                      }

                      input[type='radio'] {
                        display: inline-block;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        &.colors {
          ol.options {
            overflow: hidden;

            > li {
               &:first-child {
                width: 700px;
                margin: 28px auto 0;
                float: none;
              }

              div {
                width: 700px;
                border: 1px solid #CfCfCf;
                overflow: hidden;
                padding: 15px 25px;
                margin-bottom: 10px;

                h3 {
                  float: left;
                  margin: 0;
                  padding: 0;
                  height: auto;
                  font-family: 'Futura Medium';
                  font-style: normal;
                  text-transform: uppercase;
                  font-size: 28px;
                  margin:4px 15px 0 0;
                  width: 200px;
                  text-align: right;
                  line-height: 29px;
                }

                ol {
                  &.colors {
                    display: inline-block;
                    overflow: hidden;

                    li {
                      width: 35px;
                      height: 35px;
                      margin-right: 1px;
                      text-indent: -10000px;
                      font-size: 0;
                    }
                  }

                  &.stars {
                    display: inline-block;
                    overflow: hidden;
                    margin-left: 53px;

                    li {
                      background: url('/assets/quiz/sprite-stars.png') no-repeat;
                      margin-left: 8px;
                      width: 37px;
                      height: 34px;

                      &:first-child {
                        margin-left: 0;
                      }

                      &.starred {
                        background: url('/assets/quiz/sprite-stars.png') -37px no-repeat;
                      }
                      
                      label {
                        display: block;
                        width: 37px;
                        height: 54px;
                        cursor: pointer;
                      }

                      input[type='radio'] {
                        display: block;
                        margin: -20px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #tracker {
    display: block;
    width: 244px;
    overflow: hidden;
    margin: -80px auto 0;

    li {
      background: url(/assets/common/tracker-bullet.png) left center no-repeat;
      float: left;
      display: block;
      margin: 2px 5px 0;
      width: 10px;
      height: 9px;
      text-indent: -10000px;

      &.selected {
        background-position: -10px 0;
        margin-top: 0;
        width: 12px;
        height: 12px;
      }
    }
  }
}
