@import 'partials/mixins';
@import 'partials/colors';
@import 'partials/fonts';

body {
  #survey {
    .jcarousel-container {
      width: 990px;
      //height: 500px;
    }

    .jcarousel-clip {
      width: 990px;
      //height: 500px;
      overflow: hidden;
    }

    .jcarousel-item {
      width: 989px;
      overflow: hidden;
      float: left;
    }

    .jcarousel-prev, .jcarousel-next {
      background: image-url('quiz/previous_btn.gif') 0 0 no-repeat;
      width: 40px;
      height: 65px;
      cursor: pointer;
    }

    .jcarousel-prev {
      position: absolute;
      top: 245px;

      &:hover {
        background: image-url('quiz/previous_btn.gif') -42px 0 no-repeat;
      }

      &.jcarousel-prev-disabled {
        display: none;
      }
    }

    .jcarousel-next {
      display: none !important;
    }


    ol {
      &.options {
        overflow: hidden;
        margin: 30px auto;
        li {
          float: left;
          img {
            position: relative;
            z-index: 9;
          }
        }
      }
    }

    ul.questions {
      li {
        &.images {
          ol {
            &.options {
              width: 738px;
            }
            li {
              position: relative;
              width: 206px;
              height: 400px;
              margin: 0 20px;
              div.shadow {
                position: absolute;
                background: #efefef;
                width: 206px;
                height: 320px;
                display: block;
                margin: 0;
                top: 64px;
                left: 15px;
                z-index: 1;
              }
              label {
                position: relative;
                background: #FFF;
                width: 206px;
                height: 314px;
                padding: 5px;
                display: block;
                border: 1px #e5e5e5 solid;
                z-index: 100;
              }
              &:hover, &.selected {
                color: rgb(189, 76, 116);
                img {
                  cursor: pointer;
                }
                div.shadow {
                  background: #efefef;
                }
                label {
                  border: 1px #000 solid;
                }
              }
            }
          }

          &.shoes {
            height: 500px;

            ol {
              &.options {
                width: 895px;
                padding-left: 50px;
                height: 500px;
              }
              li {
                width: 201px;
                height: 285px;
                margin: 0 10px;
                div.shadow {
                  position: absolute;
                  height: 285px;
                  display: block;
                  top: 61px;
                  left: 13px;
                  z-index: 0;
                }
                label {
                  position: relative;
                  width: 204px;
                  height: 276px;
                  display: block;
                }
                img {
                  border: 1px solid #E9E9E9;
                }

                &:hover, &.selected {
                  color: rgb(189, 76, 116);
                  img {
                    cursor: pointer;
                  }
                  label {
                    div.shadow {
                      background: $secondary_color;
                    }
                  }
                }
              }
            }
          }
        }

        &.words {
          ol {
            &.options {
              margin-top:50px;
              width: 825px;
            }
            li {
              margin: 0 8px 16px;
              label {
                background: rgb(168, 168, 168);
                width: 190px;
                height: 85px;
                display: inline-block;
                text-align: center;
                color: #FFF;
                cursor: pointer;
              }
              &.selected {
                label {
                  background: $secondary_color;
                }
              }
              input[type='checkbox'] {
                display: none;
              }
            }
          }
        }

        &.about {
          ol {
            &.options {
              width: 740px;
              > li {
                width: 700px;
                div.box {
                  width: 475px;
                  margin: 0 auto 20px;
                  padding: 20px;
                  overflow: auto;
                  border: 1px #dcdcdc solid;
                  &.shoes_size {
                    ul.question {
                      margin: 0 0 0 11px;
                      float: left;
                    }
                  }
                  &.dress_size {
                    ul.question {
                      margin: 0 0 0 95px;
                      float: left;
                    }
                  }
                }
              }
            }
            h3 {
              margin-top: 45px;
              margin-bottom:0px;
              &:first-child {
                margin-top: 5px;
              }
            }
            .question {
              overflow: hidden;
              clear: both;

              li {
                border: 1px solid $secondary_color;
                color: $secondary_color;
                margin-left: 19px;

                label {
                  display: block;
                  width: 46px;
                  height: 38px;
                  cursor: pointer;
                }
              }
              &.shoe {
                li {
                  width: 73px;
                  height: 67px;
                }
              }
            }
          }

          fieldset {
            &.select {
              position: relative;
              width: 280px;
              height: 35px;
              margin: 0 auto;
              span.selected-type {
                position: absolute;
                bottom: 0;
                float: left;
                height: 34px;
                line-height: 34px;
                cursor: default;
                z-index: 1;
              }
              select {
                padding: 10px;
                -webkit-appearance: none;
                appearance: none;
                -webkit-border-radius: 0;
                border: 1px solid #BBB;
                padding: 10px 20px;
                arrow-color: #ffffff;
                scrollbar-arrow-color: #12406F;
                color: $secondary_color;
                font-weight: bold;

                &[name='day'], &[name='year'] {
                  width: 22%;
                }

                &[name='month'] {
                  width: 30%;
                }

                &:focus {
                  outline: none;
                }
                &.custom_select {
                  position: absolute;
                  line-height: 26px;
                  height: 34px;
                  top: 0;
                  &.day {
                    width: 74px;
                    margin-right: 10px;
                    left: 10px;
                    & + span {
                      background: image-url('common/bg-day.png') no-repeat;
                      width: 74px;
                      text-indent: 22px;
                      left: 0;
                    }
                  }
                  &.month {
                    width: 100px;
                    margin-right: 15px;
                    left: 95px;
                    & + span {
                      background: image-url('common/bg-month.png') no-repeat;
                      width: 110px;
                      text-indent: 15px;
                      left: 83px;
                    }
                  }
                  &.year {
                    width: 75px;
                    left: 215px;
                    & + span {
                      background: image-url('common/bg-year.png') no-repeat;
                      width: 75px;
                      text-indent: 16px;
                      left: 203px;
                    }
                  }
                }
              }
            }

            &.buttons {
              width: 100%;
              overflow: auto;
              clear: both;
              li {
                width: 147px;
                height: 61px;
                margin: 0 auto;
                display: block;
                cursor: pointer;
                float: none;
                font-size: 13px;
                letter-spacing: 2px;
                text-transform: uppercase;
                @include bt_color($primary_bt_color, $primary_bt_color_hover);
                &.grey-button {
                  @include bt_color($terciary_bt_color, $terciary_bt_color_hover);
                }
                input[type=submit] {
                  background: none;
                  width: 147px;
                  height: 61px;
                  display: block;
                  border: none;
                  cursor: pointer;
                }
              }
            }
          }
        }

        &.about-part-two {
          ol {
            &.options {
              width: 814px;

              .all-questions {
                width: 814px;
                padding: 0 20px 35px;
                border-bottom: 1px solid #E8E8E8;
                overflow: hidden;

                > li {
                  float: left;
                  width: 243px;
                  margin-left: 40px;

                  &:first-child {
                    margin-left: 0;
                  }

                  .reply-options {
                    clear: both;

                    li {
                      label {
                        display: inline-block;
                      }

                      input[type='radio'] {
                        display: inline-block;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        &.colors {
          ol.options {
            overflow: hidden;

            > li {
               &:first-child {
                width: 700px;
                margin: 28px auto 0;
                float: none;
              }

              div {
                width: 700px;
                border: 1px solid #CfCfCf;
                overflow: hidden;
                padding: 15px 25px;
                margin-bottom: 10px;

                h3 {
                  float: left;
                  margin: 0;
                  padding: 0;
                  height: auto;
                  font-style: normal;
                  text-transform: uppercase;
                  font-size: 28px;
                  margin:4px 15px 0 0;
                  width: 200px;
                  text-align: right;
                  line-height: 29px;
                }

                ol {
                  &.colors {
                    display: inline-block;
                    overflow: hidden;

                    li {
                      width: 35px;
                      height: 35px;
                      margin-right: 1px;
                      text-indent: -10000px;
                      font-size: 0;
                    }
                  }

                  &.stars {
                    display: inline-block;
                    overflow: hidden;
                    margin-left: 53px;

                    li {
                      background: image-url('quiz/sprite-stars.png') no-repeat;
                      margin-left: 8px;
                      width: 37px;
                      height: 34px;

                      &:first-child {
                        margin-left: 0;
                      }

                      &.starred {
                        background: image-url('quiz/sprite-stars.png') -37px no-repeat;
                      }

                      label {
                        display: block;
                        width: 37px;
                        height: 54px;
                        cursor: pointer;
                      }

                      input[type='radio'] {
                        display: block;
                        margin: -20px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #tracker {
    display: block;
    width: 244px;
    overflow: hidden;
    margin: 0 auto;
    clear: both;

    li {
      background: image-url("common/sprite-pagination.png") -13px 0 no-repeat;
      float: left;
      display: block;
      margin: 0px 5px 0;
      width: 13px;
      height: 13px;
      text-indent: -99999px;

      &.selected {
        background-position: 0 0;
      }
    }

    & + p{
      display: block;
      width: 690px;
      font-size: 11px;
      margin: 30px auto 0;
    }
  }
}

.ie, .gecko {
  #survey {
    ul.questions {
      li.about {
        fieldset.select {
          select.custom_select {
            padding: 0;
            height: 34px;
            top: 0;
            &.day {
              width: 72px;
              left: 1px;
            }
            &.month {
              width: 107px;
              left: 86px;
            }
            &.year {
              width: 77px;
              left: 201px;
            }
          }
        }
      }
    }
  }
}
