html {
  overflow-x: hidden;

  body{
    .overlay {
      position: absolute;
      background: url('/assets/common/overlay.png') repeat;
      z-index: 10000;
      overflow: hidden;
    }

    .content {
      .dialog {
        position: absolute;
        left: 0;
        top: 0;
        height:525px;
        z-index: 20000;
        border:10px solid #000;
        img {
          display: none;
        }
        #close_dialog {
          position: absolute;
          background: url('/assets/common/close_dialog.png') no-repeat;
          text-indent: -9999px;
          width: 30px;
          height: 30px;
          top: -22px;
          right: -22px;
        }
      }
    }
  }
}
