@import 'new_structure/common/global_stuffs';
html {
  overflow-x: hidden;

  body{
    .overlay {
      position: absolute;
      background: image-url('common/overlay.png') repeat;
      z-index: 10001;
      overflow: hidden;
    }

    .content {
      .dialog {
        float:left;
        position: absolute;
        left: 0;
        top: 0;
        /*height:525px;*/
        z-index: 20000;
        border:10px solid #000;
        #first_visit {
          width:100%;
          position:absolute;
          background-color: #000;
          #fb_iframe {
            border:none;
            overflow:hidden;
            width:350px;
            height:35px;
            position:relative;
            top:5px;
            left:20px;
          }

          #share_text {
            color: white;
            font-family: Times;
            font-size: 22px;
            font-style: italic;
            letter-spacing:-1px;
            position:relative;
            top:-13px;
            left:10px;
          }
        }
        img {
          display: none;
        }
        &.first_visit {
          height: auto;
          display: none;
        }
				&.gift_login {
					height: auto;
        	display: none;
				}
        &.with_confirmation {
          height: auto;
          display: none;

          img {
            display: block;
          }
          div.check {
            background: #000;
            padding: 10px 0 5px 10px;
            label {
              color: #fafafa;
              font-family: "Open Sans", sans-serif;
              font-size: 13px;
            }
          }
        }
        #close_dialog {
          position: absolute;
          background: image-url('common/close_dialog.png') no-repeat;
          text-indent: -9999px;
          width: 30px;
          height: 30px;
          top: -22px;
          right: -22px;
          z-index: 100;
        }
      }
    }
  }
}

div#modal {
  background: #FFF !important;
  border: 1px #000 solid;
  padding: 0;
  display: none;
  
  &.promo-olook{
    position:absolute;
    z-index:10001;
    border:none;

    .close{display:block;position: absolute; background:image-url("campaign_emails/close_bt.png")no-repeat; width: 25px; margin: -12px 0 0 0; right: -10px; padding: 0; height: 20px; z-index: 10002;text-indent:-9999em;border:none;cursor:pointer;top: 0;}
  }
  div.video_description {
    background: #FFF;
    overflow: auto;
    padding: 30px;
    h1 {
      font-family: "Times New Roman", sans-serif;
      font-size: 40px;
      font-style: italic;
      font-weight: lighter;
      letter-spacing: -1px;
      float: left;
    }
    a {
      color: #ef3742;
      font-size: 20px;
      line-height: 45px;
      float: right;
      &.home {
        width: 233px;
        height: 37px;
        display: block;
        padding-top: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 15px;
        @include bt_color($primary_bt_color, $primary_bt_color_hover);
      }
      &:focus {
        outline: none;
      }
    }
  }
  .dialog {

    left: 0;
    top: 0;
    float:left;
    /*height:525px;*/
    z-index: 20000;
    border:10px solid #000;
    #first_visit {
      width:100%;
      position:absolute;
      background-color: #000;
      #fb_iframe {
        border:none;
        overflow:hidden;
        width:350px;
        height:35px;
        position:relative;
        top:5px;
        left:20px;
      }

      #share_text {
        color: white;
        font-family: Times;
        font-size: 22px;
        font-style: italic;
        letter-spacing:-1px;
        position:relative;
        top:-13px;
        left:10px;
      }
    }
    img {
      display: none;
    }
    &.first_visit {
      height: auto;
      display: none;
    }
            &.gift_login {
                height: auto;
        display: none;
            }
    &.with_confirmation {
      height: auto;
      a{outline:none;}
      img {
        display: block;
      }
      div.check {
        background: #000;
        padding: 10px 0 5px 10px;
        label {
          color: #fafafa;
          font-family: "Open Sans", sans-serif;
          font-size: 13px;
        }
      }
    }
    &.product_login {
      height: 515px;
    }
    #close_dialog {
      position: absolute;
      background: image-url('common/close_dialog.png') no-repeat;
      text-indent: -9999px;
      width: 30px;
      height: 30px;
      top: -22px;
      right: -22px;
      z-index: 100;
    }
  }
}
