html {
  overflow-x: hidden;

  body{
    .overlay {
      position: absolute;
      background: url('/assets/common/overlay.png') repeat;
      z-index: 100;
      overflow: hidden;
    }

    .content {
      .dialog {
        position: absolute;
        left: 0;
        top: 0;
        height:525px;
        z-index: 200;
        border:10px solid #000;
        img {
          display: none;
        }
      }
    }
  }
}
