@import 'partials/mixins';

#product {
  padding: 10px 0 0 0;
  div.content {
    div#pics_suggestions, div#infos {
      margin-bottom: 40px;
    }
    div#pics_suggestions {
      width: 575px;
      float: left;
      ul#thumbs {
        width: 55px;
        overflow: auto;
        margin-right: 5px;
        float: left;
        li {
          margin-bottom: 10px;
          display: block;
          a {
            width: 50px;
            margin: 2px;
            float: left;
            img {
              width: 50px;
              height: 50px;
            }
            &:hover, &.selected {
              img {
                margin: -2px;
                border: 2px #a3a3a3 solid;
              }
            }
          }
        }
      }
      div#full_pic {
        position: relative;
        width: 500px;
        height: 500px;
        margin-bottom: 30px;
        overflow: visible;
        float: left;
        border-bottom: 2px #e05f8f solid;
        p.warn {
          position: absolute;
          color: #FFF;
          font-family: "Open Sans", sans-serif;
          font-size: 17px;
          font-weight: normal;
          text-align: center;
          text-transform: uppercase;
          line-height: 10px;
          width: 64px;
          height: 64px;
          top: 2px;
          left: 2px;
          display: none;
          z-index: 100;
          &.sold_out {
            background: url("/assets/common/sold_out_big.png") no-repeat;
            font-size: 18px;
            line-height: 18px;
            height: 50px;
            padding-top: 14px;
            display: block;
          }
          &.percentage, &.quantity {
            background: url("/assets/common/quantity_big.png") no-repeat;
            height: 54px;
            padding-top: 10px;
            display: block;
            span {
              font-size: 23px;
              line-height: 27px;
              font-weight: 600;
            }
          }
          &.quantity {
            line-height: 16px;
            height: 56px;
            padding-top: 8px;
            span {
              line-height: 20px;
            }
          }
        }
        ul {
          li {
            width: 500px;
            overflow: visible;
            display: none;
            &:first-child {
              margin-right: 1000px;
              display: block;
            }
            a {
              width: 500px;
              float: left;
              img.full {
                width: 500px;
                height: 500px;
              }
            }
          }
        }
      }
    }
    div#infos {
      width: 390px;
      float: right;
      p.remaining {
        color: #101010;
        font-size: 14px;
        text-align: center;
        margin: 10px 0 0 0;
        display: block;
        strong {
          color: #ff0000;
        }
      }
      div.description {
        position: relative;
        div.fb-like {
          position: absolute;
          top: 10px;
          right: 0;
          .fb_edge_comment_widget {
            display: none;
          }
        }
        h1 {
          font-family: $kepler;
          font-size: 33px;
          margin-bottom: 10px;
          padding-bottom: 10px;
          border-bottom: 1px #ebebeb solid;
        }
        p {
          color: #999;
          margin-bottom: 20px;
          a {
            color: #df5a8a;
            margin: 0 0 0 5px;
          }
          &.price {
            color: #e05789;
            font-size: 45px;
            line-height: 40px;
            text-align: center;
            &.left {
              font-size: 30px;
              width: 210px;
              clear: both;
            }
          }
          &.price_retail {
            color: #838383;
            font-size: 25px;
            letter-spacing: -2px;
            text-decoration: line-through;
            text-align: center;
            margin-bottom: 0;
            &.left {
              font-size: 20px;
              width: 210px;
              clear: both;
            }
          }
          &.left {
            text-align: left;
            float: left;
          }
          &.promotion_explanation {
            font-size: 11px;
            font-weight: 600;
            text-align: center;
            text-transform: uppercase;
            width: 175px;
            margin-top: 15px;
            float: left;
          }
        }
      }
      div.color_size {
        clear:both;
        width: 368px;
        padding: 15px 10px;
        overflow: auto;
        border: 1px #ebebeb solid;
        div.line {
          width: 100%;
          overflow: auto;
          p {
            font-size: 12px;
            line-height: 30px;
            text-align: right;
            width: 70px;
            margin-right: 10px;
            float: left;
          }
          ol {
            width: 288px;
            float: left;
            li {
              margin: 0 5px 0 0;
              display: inline-block;
              float: left;
              &:first-child {
                margin-left: 0;
              }
              label {
                font-weight: normal;
                line-height: 28px;
                text-align: center;
                width: 29px;
                height: 28px;
                display: inline-block;
                cursor: pointer;
                input[type="radio"] {
                  display: none;
                }
              }
            }
          }
          &.color {
            label {
              a {
                text-indent: -9999px;
                width: 33px;
                height: 30px;
                display: block;
              }
            }
            ol.colors {
              width: 280px;
              li {
                img {
                  width: 29px;
                  height: 28px;
                  border: 2px solid #000;
                }
                a {
                  img {
                    width: 29px;
                    height: 28px;
                    border: 1px solid white;
                  }
                }
              }
            }
          }
          &.size {
            margin-top: 10px;
            label {
              color: #6d6e71;
              border: 1px solid #6d6e71;
            }
            li {
              &.selected {
                background: #000;
                label {
                  color: #FFF;
                  border: 1px #000 solid;
                }
              }
              &.unavailable {
                label {
                  color: #dddee1;
                  text-decoration: line-through;
                  cursor: text;
                  border: 1px #dddee1 solid;
                }
              }
            }
          }
        }
      }
      input[type="submit"].add_product, a.add_product {
        background: url('/assets/product/bt-add-product.jpg') no-repeat;
        text-indent: -9999px;
        width: 281px;
        height: 59px;
        margin: 17px auto 30px auto;
        display: block;
        border: none;
        cursor: pointer;
        &.disabled {
          background: url("/assets/product/bt-add-product-disabled.jpg") no-repeat;
        }
      }
      input[type="submit"].add_product_to_suggestions {
        background: url('/assets/product/bt-add-product-to-suggestions.jpg') no-repeat;
        text-indent: -9999px;
        width: 305px;
        height: 65px;
        margin: 17px auto 30px auto;
        display: block;
        border: none;
        cursor: pointer;
        &.disabled {
          background: url("/assets/product/bt-add-product-to-suggestions-disabled.jpg") no-repeat;
        }
      }
      div#box_tabs {
        ul.tabs {
          width: 100%;
          margin-bottom: 25px;
          overflow: hidden;
          li {
            display: inline;
            a {
              color: #000;
              font-size: 10px;
              text-decoration: none;
              text-transform: uppercase;
              font-weight: bold;
              margin-bottom: 1px;
              padding: 5px 12px 15px 12px;
              border-bottom: 1px #dddddd solid;
              float: left;
              &.selected {
                border-left: 1px #dddddd solid;
                border-right: 1px #dddddd solid;
                border-bottom: 1px #fff solid;
              }
            }
            &.first {
              a.selected {
                border-left: none;
              }
            }
            &.last {
              a.selected {
                border-right: none;
              }
            }
          }
        }
        ul.tabs_content {
          li {
            width: 385px;
            display: none;
            table {
              width: 350px;
              tr {
                td {
                  font-size: 12px;
                  padding-bottom: 10px;
                  &:first-child {
                    font-weight: bold;
                    width: 115px;
                  }
                }
              }
            }
            div.picture {
              width: 140px;
              height: 140px;
              overflow: hidden;
              float: right;
              img {
                width: 140px;
              }
            }
            p {
              font-family: $kepler;
              font-size: 15px;
              padding: 0 20px;
            }
            &.tab_1 {
              p {
                background: url('/assets/product/bg-stylist-phrase.jpg') top center no-repeat;
                text-align: center;
                width: 195px;
                padding-top: 40px;
                float: left;
              }
            }
            &.selected {
              display: block;
            }
          }
        }
      }
    }
  }
}

.ie {
  #product {
    div#infos {
      div#box_tabs {
        ul.tabs {
          padding-bottom: 4px;
          li {
            a.selected {
              padding-bottom: 13px;
            }
          }
        }
      }
    }
  }
}
