@import 'partials/mixins';

/*** MODAL GUIA DE MEDIDAS ***/
div#modal_guide{width:800px;height:630px;background-color: #fff; border: 1px solid #a7a9ac; position: absolute;z-index: 3000;padding-left: 50px;display: none;
  h1{font-size: 20px;font-weight: 600;color: #58585a;margin-top: 50px; float: left;}
  p{font-size: 14px;color: #58585a;margin-top: 5px;float: left;}
  ul{margin-top: 65px;float: left;
    li{font-size: 14px;color: #58585a;margin-bottom: 25px;
      span{font-weight: 700;}
    }
  }
  img{float: right;margin-right: 25px;}
}



#product {
  padding: 10px 0 0 0;
  div.content {
    div#pics_suggestions, div#infos {
      margin-bottom: 40px;
    }
    
    div#pics_suggestions {
      width: 575px;
      float: left;
      ul#thumbs {
        width: 55px;
        overflow: auto;
        margin-right: 5px;
        float: left;
        li {
          margin-bottom: 10px;
          overflow:hidden;
          a {/*width: 50px;*/margin: 2px;float: left;border:solid 2px #FFF;
            &:hover, &.selected {border: 2px #a3a3a3 solid;}
            img {width:45px;height:auto;}/* new size photo */  
          }
        }
      }
      div#full_pic {
        position: relative;
        width: 500px;/* new size photo */
        height: auto;
        margin-bottom: 30px;
        overflow: visible;
        float: left;
        p.warn {
          position: absolute;
          color: #FFF;
          font-family: "Open Sans", sans-serif;
          font-size: 17px;
          font-weight: normal;
          text-align: center;
          text-transform: uppercase;
          line-height: 10px;
          width: 64px;
          height: 64px;
          top: 2px;
          left: 2px;
          display: none;
          z-index: 100;
          &.sold_out {
            background: image-url('common/sold_out_big.png') no-repeat;
            font-size: 18px;
            line-height: 18px;
            height: 50px;
            padding-top: 14px;
            display: block;
          }
          &.percentage, &.quantity {
            background: image-url('common/quantity_big.png') no-repeat;
            height: 54px;
            padding-top: 10px;
            display: block;
            span {
              font-size: 23px;
              line-height: 27px;
              font-weight: 600;
            }
          }
          &.quantity {
            line-height: 16px;
            height: 56px;
            padding-top: 8px;
            span {
              line-height: 20px;
            }
          }
        }
        ul {
          li {
            width: 365px;margin:0 auto;/* new size photo */ 
            overflow: visible;
            display: none;
            &:first-child {display: block;}
            a {display:inline-block;
              img.full{width:365px;}
            }
          }
        }
      }
    }
    div#infos {
      width: 390px;
      float: right;
      p.remaining {
        color: #101010;
        font-size: 14px;
        text-align: center;
        margin: 10px 0 0 0;
        display: block;
        strong {
          color: #ff0000;
        }
      }
      div.description {
        position: relative;
        div.line {
          width: 100%;
          overflow: hidden;
          margin: 0 0 10px;
          padding-bottom: 10px;
          border-bottom: 1px #EBEBEB solid;
          position:relative;
          &.has_bt_face{height:55px;}
          h1 {
            font-family: $kepler;
            font-size: 33px;
            line-height:33px;
          }
          

          div.fb-like,.fb_edge_widget_with_comment {
            width: 90px;
            margin: 3px 0 0;
            float: left;
            height:20px;
            .fb_edge_comment_widget,.-cx-PRIVATE-pluginPostFlyout__core {
              display: none;
            }
            iframe {
              /*height: 20px !important;*/
              overflow:hidden !important;
            }
            &.bt_face{position:absolute;top:41px;right:8px;}
          }
          
          
          ul.social {
            float: right;
            li {
              line-height: 27px;
              margin-right: 3px;
              display: inline;
              float: left;
              a {
                background: image-url('product/bt-social.jpg') no-repeat;
                text-indent: -99999px;
                width: 27px;
                height: 27px;
                display: block;
              }
              &.first {
                margin-right: 5px;
              }
              &.twitter {
                a {
                  background-position: 0 0;
                }
              }
              &.facebook {
                a {
                  background-position: -30px 0;
                }
              }
              &.pinterest {
                a {
                  background-position: -60px 0;
                }
              }
              &.email {
                a {
                  background-position: -90px 0;
                }
              }
              &.last {
                margin: 0;
              }
            }
          }
        }
        p {
          color: #999;
          margin-bottom: 20px;
          a {
            color: #ef3742;
            margin: 0 0 0 5px;
          }
          &.price {
            color: #ef3742;
            font-size: 45px;
            line-height: 40px;
            text-align: center;
            &.left {
              font-size: 30px;
              width: 210px;
              clear: both;
            }
          }
          &.price_retail {
            color: #838383;
            font-size: 25px;
            letter-spacing: -2px;
            text-decoration: line-through;
            text-align: center;
            margin-bottom: 0;
            &.left, &.left2 {
              font-size: 20px;
              width: 210px;
              clear: both;
            }
          }
          &.left2{
            text-align: left;
            font-size: 30px;
          }
          &.left {
            text-align: left;
            float: left;
          }
          &.promotion_explanation {
            font-size: 11px;
            font-weight: 600;
            text-align: center;
            text-transform: uppercase;
            width: 175px;
            margin-top: 15px;
            float: left;
						color:#ef3742;
          }
					&.validate{
						clear:both;
						float:right;
						margin:-20px 13px 0 0;
						font-style:italic;
						font-size:12px;
					}
        }
        div.warn_discount {
          background: image-url('product/bg-warn-discount.jpg') top center no-repeat !important;
          font-style: normal;
          font-weight: bold;
          text-align: center;
          width: 390px;
          height: 70px;
          display: block;
          padding: 8px 0 0 0 !important;
          margin: -15px auto 10px;
          p, a {
            font-family: $avenir;
            font-size: 13px;
          }
          p {
            color: black;
            letter-spacing: normal;
            line-height: 15px;
            margin: 0;
            margin-top: 10px;
            font-weight: normal;
            span{
              font-weight: bold;
            }
          }
          a {
            color: #ef3742;
            display:none;
          }
          &.promotion {
            background: none;
            padding: 8px 0 0;
          }
        }
      }
      div.color_size {
        width: 368px;
        padding: 15px 10px;
        overflow: auto;
        border: 1px #ebebeb solid;
        clear: both;
        div.line {
          width: 100%;
          overflow: auto;
          p {
            font-size: 12px;
            line-height: 30px;
            text-align: left;
            width: 65px;
            float: left;
          }
          ol {
            width: 290px;
            float: left;
            li {
              margin: 0 2px 0 0;
              float: left;
              &:first-child {
                margin-left: 0;
              }
              &.size_guide,&.size_guide.selected{background: image-url('common/guide.png') no-repeat !important; height: 28px;padding-left:15px;width:60px;line-height: 13px;
                a{font-size: 12px;color: #ef3742;text-decoration: underline;
                  
                } 
              }
              label {
                font-weight: normal;
                line-height: 28px;
                text-align: center;
                min-width: 29px;
                height: 28px;
                display: inline-block;
                cursor: pointer;
                span {
                  font-size: 10px;
                }
              }
              input[type="radio"] {
                display: none;
              }
            }
          }
          &.color {
            label {
              a {
                text-indent: -9999px;
                width: 33px;
                height: 30px;
                display: block;
              }
            }
            ol.colors {
              width: 280px;
              li {
                img {
                  width: 29px;
                  height: 28px;
                  border: 2px solid #000;
                }
                a {
                  img {
                    width: 29px;
                    height: 28px;
                    border: 1px solid white;
                  }
                }
              }
            }
          }
          &.size {
            margin-top: 10px;
            label {
              color: #6d6e71;
              border: 1px solid #6d6e71;
            }
            li {
              &.selected {
                background: #000;
                label {
                  color: #FFF;
                  border: 1px #000 solid;
                }
              }
              &.unavailable {
                label {
                  color: #dddee1;
                  text-decoration: line-through;
                  cursor: text;
                  border: 1px #dddee1 solid;
                }
              }
            }
          }
        }
      }
      input[type="submit"].add_product, a.add_product {
        background: image-url('product/bt-add-product.png') no-repeat;
        text-indent: -9999px;
        width: 281px;
        height: 59px;
        margin: 17px auto 30px auto;
        display: block;
        border: none;
        cursor: pointer;
        clear: both;
        &.disabled {
          background: image-url('product/bt-add-product-disabled.jpg') no-repeat;
        }
      }
      input[type="submit"].add_product_to_suggestions {
        background: image-url('product/bt-add-product-to-suggestions.jpg') no-repeat;
        text-indent: -9999px;
        width: 305px;
        height: 65px;
        margin: 17px auto 30px auto;
        display: block;
        border: none;
        cursor: pointer;
        clear: both;
        &.disabled {
          background: image-url('product/bt-add-product-to-suggestions-disabled.jpg') no-repeat;
        }
      }
      div#box_tabs {
        ul.tabs {
          width: 100%;
          margin-bottom: 25px;
          overflow: hidden;
          li {
            display: inline;
            a {
              color: #000;
              font-size: 10px;
              text-decoration: none;
              text-transform: uppercase;
              font-weight: bold;
              margin-bottom: 1px;
              padding: 5px 12px 15px 12px;
              border-bottom: 1px #dddddd solid;
              float: left;
              &.selected {
                border-left: 1px #dddddd solid;
                border-right: 1px #dddddd solid;
                border-bottom: 1px #fff solid;
              }
              &.border_last{width: 250px;}
            }
            &.first {
              a.selected {
                border-left: none;
              }
            }
            &.last {
              a.selected {
                border-right: none;
              }
            }
          }
        }
        ul.tabs_content {
          li {
            width: 385px;
            display: none;
            table {
              width: 350px;
              tr {
                td {
                  font-size: 12px;
                  padding-bottom: 10px;
                  &:first-child {
                    font-weight: bold;
                    width: 130px;
                  }
                }
              }
            }
            div.picture {
              width: 140px;
              height: 140px;
              overflow: hidden;
              float: right;
              img {
                width: 140px;
              }
            }
            p {
              font-family: $kepler;
              font-size: 15px;
              padding: 0 20px;
            }
            &.tab_1 {
              p {
                background: image-url('product/bg-stylist-phrase.jpg') top center no-repeat;
                text-align: center;
                width: 195px;
                padding-top: 40px;
                float: left;
              }
            }
            &.selected {
              display: block;
            }
          }
        }
      }
    }
  }
}

.ie {
  #product {
    div#infos {
      div#box_tabs {
        ul.tabs {
          padding-bottom: 4px;
          li {
            a.selected {
              padding-bottom: 13px;
            }
          }
        }
      }
    }
  }
}

li a.hide {
  display: none;
}

.tabs_content li table tr td {
  margin-left: 10px;
  width: 190px;
}

