// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "new_structure/common/global_stuffs";
.search_box{
  position: relative;margin-top: 15px;clear:both;float:right;
  input[type="submit"]{
    position: absolute;background: image-url('common/nav/magnifier.png') no-repeat;width: 28px;height: 27px;left: 190px;text-indent: 9999px;border:none;margin-top: 1px;cursor: pointer;
  }
  #search_product{
    float: left;border: solid 1px #000;font-family: $johnston;font-size: 10px;width: 165px;height: 25px;line-height: 29px;color: #000;text-align: left;padding-left: 10px;padding-right: 40px;text-transform: uppercase;letter-spacing: 1px;
  }
}
