// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "new_structure/common/global_stuffs";

.search_box{
  position: absolute;
  clear:both;
  float:right;
  right:0;
  z-index:10001;
  top:72px;
  
  .search_product{
  float: left;
  font-weight: 400;
  width: 185px;
  height: 25px;
  line-height: 29px;
  text-align: left;
  padding-left: 11px;
  padding-right:30px;
  border: 1px solid #dfdfdf;
  font-family: $verdana;
  font-size: 10px;
  font-style: italic !important;
  }
  
  input.default[type="submit"]{
    position: absolute;
    display: block;
    left: 200px;
    border:none;
    cursor: pointer;
    background: none;
    text-indent: 0 !important;
    font-family: $verdana;
    font-size: 11px;
    text-align: center;
    width: 30px;
    height: 25px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0px;
    background: image-url('common/nav/magnifierT.png') no-repeat 0px 4px;
    
  }
}
