
@import 'partials/mixins';
@import 'partials/promotion_banners';
@import 'partials/social';
@import 'partials/footer';
@import 'new_structure/partials/liquida';
@import 'new_structure/section/clippings';
@import 'new_structure/common/modal_footer';

body {
  #error_explanation {
    margin: 0 0 15px;
    width: 100%;
    ul {
      li {
        color: #e50000;
        font-size: 12px;
        font-weight: bold;
        text-align: left;
      }
    }
  }

  #error-messages {
    display: none;
    width: 100%;
    position: absolute;
    background: #EF3742;;
    padding: 42px 0;
    z-index: 10001;
    opacity: 0.8;
    filter: alpha(opacity = 80);
    p {
      background: transparent;
      color: #000;
    }
  }

  div.preloader {
    background: image-url('common/ajax-loader.gif') center no-repeat;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    display: block;
    clear: both;
  }

  div#profile_quiz {
    background: #FFF;
    display: none;
    overflow:hidden;
    height:546px;
    div.share {
      width: 100%;
      margin: 0 0 20px;
      overflow: auto;
      p {
        color: #101010;
        font-family: $avenir;
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0 10px 0 0;
        float: right;
      }
      iframe {
        width: 100px;
        height: 20px;
        float: right;
      }
    }
    ul {
      li {
        width: 475px;
        overflow: auto;
        margin: 20px 0;
        float: left;
        a {
          text-indent: -9999px;
          display: block;
          &.me {
            background: image-url("common/its-me.png") no-repeat;
            width: 179px;
            height: 59px;
            margin: 0 0 0 20px;
          }
          &.new_survey {
            background: image-url("common/try-again.jpg") no-repeat;
            width: 301px;
            height: 59px;
            float: right;
          }
        }
      }
    }
    &.clone {
      display: block;
    }
  }

  a#go_top {
    position: fixed;
    background: image-url('common/arrow-go-top.png') no-repeat;
    text-indent: -99999px;
    width: 40px;
    height: 40px;
    right: 40px;
    bottom: 45%;
    z-index: 5;
    display: none;
  }

  div#content {
    position:relative;
    top:-7px;
  }

  div#login_modal {
    position: relative;
    background: image-url('common/bg-modal-login.jpg') top left no-repeat;
    width: 950px;
    height: 515px;
    display: block;
    form {
      fieldset {
      	label {
        	display: block;
          font-size: 11px;
          margin: 2px 0;
        }
				input {
        	background: #FFF image-url('common/background-inputs.png') bottom repeat-x;
          border: 1px solid #BBB;
          padding: 6px 8px;
          width: 92%;
          &:focus {
          	outline: none;
          }
       }
     }
    }
    div#register_login {
      position: absolute;
      background: #FCFCFC;
      width: 580px;
      height: 470px;
      display: block;
      top: 20px;
      left: 340px;
      border: 1px #d2d2d2 solid;
      h1 {
        font-family: $avenir;
        font-size: 20px;
        text-transform: uppercase;
        display: block;
      }
      div.login {
        width: 259px;
        height: 450px;
        padding: 20px 0 0 30px;
        float: left;
        border-right: 1px #d2d2d2 solid;
        h1 {
          margin: 0 0 20px 0;
        }
        form {
          margin-bottom: 15px;
          width: 225px;
          fieldset {
            &.buttons {
              margin-top: 7px;
              font-size: 11px;
              input[type="submit"] {
                background: image-url("common/login.png") no-repeat;
                text-indent: -9999px;
                width: 74px;
                height: 31px;
                display: block;
                border: none;
                cursor: pointer;
              }

              input {width: auto;}
              label {
                font-weight: normal;
                display: inline;
              }
              a {color: #0f0c0c;}

            }
          }
        }
        .login_with_facebook {
          width: 225px;
          padding: 10px 0 0 0;
          border-top: 1px #cfcfcf solid;
          a.fb-login-button {
            background: image-url('common/fb-loggin-button.png') no-repeat;
            text-indent: -9999px;
            width: 194px;
            height: 25px;
            margin: 0 auto;
            display: block;
          }
        }
      }
      div.register {
        width: 260px;
        padding: 20px 0 0 30px;
        float: right;
        h1 {
          margin: 0 0 10px 0;
          width: 239px;
        }
        p {
          margin: 0 0 10px 0;
        }
        form {
          fieldset {
            ol {
              li {
                input {
                  width: 84%;
                }
                input[type='submit'] {
                  background: image-url("common/registration.png") no-repeat;
                  text-indent: -9999px;
                  width: 126px;
                  height: 37px;
                  display: block;
                  cursor: pointer;
                  border: none;
                }
                &.gender {
                  margin: 0 0 5px 0;
                  p {
                    font-size: 13px;
                    line-height: 17px;
                    margin: 0;
                    display: block;
                  }
                  label {
                    display: inline;
                    float: none;
                  }
                  input {
                    width: auto;
                    display: inline;
                  }
                }
                &.terms {
                  font-size: 11px;
                  a {
                    color: #000;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .social-media {
    display: block;
    width: 546px;
    height: 96px;
    float: left;
    margin-top: 90px;
    margin-left: 100px;

    li {
      background: image-url('common/sprite-social-media.png') 10px 24px no-repeat;
      display: block;
      float: left;
      border-left: 1px solid #CECECE;
      width: 180px;
      height: 84px;

      &:first-child {
        border-left: none;
      }

      &.twitter {
        background-position: -167px 23px;
      }

      &.orkut {
        background-position: -361px 25px;
      }

      a {
        text-align: center;
        display: block;
        font-family: $avenir;
        font-size: 15px;
        color: #606060;
        text-decoration: none;
        height: 84px;
      }
    }
  }

  .content {
    width: 990px;
    margin: 0 auto;
    overflow: visible;
    /*z-index: 1;*/
    .dialog.product_login {
      height: 515px !important;
      display: none;
      height: auto !important;
    }
	 &.relative{position:relative;}
    a.liquidation_banner {
      width: 970px;
      display: block;
      margin: 0 auto 20px;
    }
	/***** LOGO CHRISTMAS *****/
	 .christmas{position: absolute;left: 56px;top: 11px;}
    .forms {
      background: image-url('home/bg-middle-home.jpg') no-repeat;
      height: 575px;
      padding:0 30px;

      img.model {
        margin: -55px 5px 0 0;
        display: block;
        float: right;
      }


      h1 {
        font-family: $johnston;
        font-size: 40px;
        letter-spacing: -2px;
        font-weight: normal;
        margin: 0 0 25px 0;
      }

      .form_content {
        margin: 0 0 0 0;
        input[type='submit']{
          text-indent: 9999px;
          background: image-url('common/resend_pass.png') no-repeat 0 0px;
          width: 295px;
          height: 69px;
          border: 0;
          margin-left: 20px;
          &:hover{background: image-url('common/resend_pass.png') no-repeat 0 -72px;}
        }
      }

      form {
        background: #FFF;
        width: 330px;
        padding: 35px;
        border: 1px #BBB solid;

        fieldset {
          ol {
            li {
              width: auto;
              overflow: auto;
              margin-bottom: 10px;
            }
          }
          &.inputs {
            ol {
              li {
                label {
                  font-size: 12px;
                  font-weight: bold;
                  line-height: 34px;
                  margin: 2px 10px 2px 0;
                  padding: 0;
                  float: left;
                }
                input {
                  background: #f3f3f3 image-url('common/bg-input-sign-in.png') center top repeat-x;
                  padding: 10px;
                  background-position: bottom;
                  float: right;
                  width: 262px;
                  border: 1px #BBB solid;
                  &:focus {
                    outline: none;
                  }
                }
              }
            }
          }
        }
      }
      &.edit {
        fieldset.inputs {
          label {
            line-height: 20px;
            margin: 0;
          }
          input[type="password"] {
            width: 310px;
            float: left;
          }
        }
      }
    }

    .sign-in {
      background: image-url('home/bg-middle-home.jpg') top right no-repeat;
      height: 575px;
      padding:0 30px;
      @include sign-in(relative);

      h1 {
        font-family: $johnston;
        font-size: 40px;
        letter-spacing: -2px;
        font-weight: normal;
      }

      .social-media {
        display: block;
        width: 546px;
        height: 96px;
        float: left;
        margin-top: 90px;
        margin-left: 100px;

        li {
          background: image-url('common/sprite-social-media.png') 10px 24px no-repeat;
          display: block;
          float: left;
          border-left: 1px solid #CECECE;
          width: 180px;
          height: 84px;

          &:first-child {
            border-left: none;
          }

          &.twitter {
            background-position: -167px 23px;
          }

          &.orkut {
            background-position: -361px 25px;
          }

          a {
            text-align: center;
            display: block;
            font-family: Times;
            font-size: 22px;
            font-style: italic;
            color: #606060;
            text-decoration: none;
            height: 84px;
          }
        }
      }

      #sign-in-box {
        padding: 35px;
        width: 345px;
        position: relative;
        margin: 44px 0 0 83px;
        float: left;
				z-index:10;

        .fb-login-button {
          background: image-url('common/fb-loggin-button.png') no-repeat;
          display: block;
          width: 194px;
          height: 25px;
          text-indent: -10000px;
          position: absolute;
          top: -40px;
          left: 0px;
        }

        form {
          fieldset {
            &.inputs {
              ol {
                overflow: hidden;

                li {
                  overflow: hidden;
                  margin-bottom: 10px;

                  label {
                    float: left;
                    line-height: 34px;
                    font-size: 12px;
                    font-weight: normal;
                    margin-right: 10px;
                  }

                  input {
                    background: #f3f3f3 image-url('common/bg-input-sign-in.png') center top repeat-x;
                    padding: 10px;
                    background-position: bottom;
                    float: left;
                    width: 262px;
                  }
                }
              }
            }

            &.buttons {
              ol {
                li {
                  margin: 10px 0 0 0;
                  float: right;
                  &.remember-me {
                    width: 210px;
                    margin: 0;
                    float: left;
                    input[type='checkbox'] {
                      margin-bottom: 10px;
											width:25px;
											float:left;
                    }
										label{width:150px !important;}
                    p {
											&.register{font-size:11px;float:left;margin-left:10px;
												a{float:none;}
											}
											 &.forgot_password {
												float:left;margin:0 0 10px 10px;clear:both;
                      	a{
	                        color: #6D6E71;
	                        text-decoration: none;
													display: block;
	                        &:hover {
	                          text-decoration: underline;
	                        }
	                      }
												& + li {
			                      margin-right: 20px;
			                      input[type='submit'] {
			                        background: image-url('common/login2.png') no-repeat;
			                        text-indent: -9999px;
			                        width: 106px;
			                        height: 42px;
			                        display: block;
			                        border: none;
			                        cursor: pointer;
			                      }
			                    }
			                  }
                    	}
                  	}

                  input[type='submit'] {
                    background: image-url('common/login2.png') no-repeat;
                    text-indent: -9999px;
                    width: 106px;
                    height: 42px;
                    display: block;
                    border: none;
                    cursor: pointer;
                    margin:0 19px 0 0 !important;
										float:none;
                  }
                }
              }
            }
          }
        }
      }

      img {
        display: block;
        float: right;
        margin-right: 5px;
        margin-top: -30px;
      }
    }

    #survey {
      .olookSelect {
        background: image-url('common/select-bg.png') repeat-x;
        width: 74px;
        float: left;
        border: 1px solid #C9C9C9;
        padding: 10px 0 8px;
        margin-right: 10px;

        > span {
          background: image-url('common/select-arrow-down.png') 74px no-repeat;
          display: block;
          color: $secondary_color;
          font-weight: bold;
          padding-left: 10px;
        }

        &:hover {
          outline: none;
        }

        .styleSelect_item {
          background: #FFF;
          width: 94px;
          margin-top: 6px;
          border: 1px solid #C9C9C9;
          border-top: none;
          margin-left: -1px;

          &:hover {
            outline: none;
          }

          .styleSelect_item_content {
            height: 110px;

            .jspContainer {
              .jspVerticalBar {
                background: transparent;
                margin-right: 2px;

                .jspTrack {
                  .jspDrag {
                    width: 3px;
                    background: #CCC;
                  }
                }

                .jspTrack {
                  background: transparent;
                }
              }

              .jspPane {
                width: 94px !important;
              }
            }

            ul {
              li {
                display: block;
                float: none;
                text-align: center;

                span {
                  padding: 10px 0;

                  &:hover {
                    background: #F4F4F4;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }

    #invite_list {
      padding-top: 27px;

      h1 {
        margin-top: 30px;
      }
      h2 {
        font-size: 21px;
        font-style: italic;
        font-weight: normal;
        text-align: center;
      }

      @include table();

      &.listing {
        input[type='image'] {
          display: block;
          margin: 0 auto;
        }

        table {
          &#list {
            margin-top: 0;
            thead {
              tr {
                th {
                  text-align: right;

                  &:first-child {
                    text-align: center;
                  }
                }
              }
            }

            tbody {
              tr {
                td {
                  text-align: left;

                  &:first-child {
                    text-align: center;
                  }
                }
              }
            }
          }
        }
      }

      fieldset {
        margin: 40px 0 10px 0;
        ol {
          width: 855px;
          overflow: auto;
          margin: 0 auto;
          li {
            text-align: left;
            width: 40%;
            float: left;
            &.select_all {
              margin-top: 35px;
              input[type='checkbox'] {
                margin-left: 13px;
              }
            }
            input[type=image] {
              margin: 0 !important;
            }
          }
        }
      }
    }
    .pagination {
      text-align: center;
      height: 25px;
      display: block;
      .previous_page, .next_page {
        display: none;
      }
      em.current {
        background: #ef3742;
        color: #FFF;
        font-size: 12px;
        padding: 5px 7px;
        margin: 0 3px;
        display: inline-block;
      }
      a {
        color: #2a2a2a;
        font-size: 12px;
        text-decoration: none;
        padding: 5px 7px;
        margin: 0 2px;
        display: inline-block;
        cursor: pointer;
        &:hover {
          background: #ef3742;
          color: #FFF;
        }
      }
    }
  }

  header {
    width: 100%;
    min-height: 122px;
    overflow: visible;
    display: block;

    h1 {
      a {
        background: image-url('common/logo.jpg') no-repeat;
        width: 217px;
        height: 68px;
        text-indent: -9999px;
        margin: 8px 0 0;
        float: left;
      }
    }

    h2.info_logo {
      a {
        background: image-url('common/change-logo.jpg') no-repeat;
        text-indent: -99999px;
        width: 245px;
        height: 68px;
        margin: 10px 0 0 3px;
        display: block;
        float: left;
      }
    }

    .info {
      float: left;
      margin-top: 10px;
      margin-left: 40px;
      width: 260px;
      p,strong {
        color: #797979;
      }
      p {
        background: image-url('common/frases3.gif') top center no-repeat;
        text-indent: -99999px;
        width: 212px;
        height: 47px;
        display: block;
      }
      img {
        width: 212px;
        height: 47px;
      }
      ul {
        height: 35px;
        margin: 10px 0 0 0;
        overflow: hidden;
        li {
          font-weight: normal;
          text-transform: uppercase;
          width: 230px;
          margin: 0 0 50px 0;
          strong {
            display: block;
          }
        }
      }
    }

    @include sign-in;
    .sign-in-dropdown {

      form {
        margin-bottom: 15px;
        fieldset.buttons {
          input[type=submit] {
            background: image-url('common/login.png') no-repeat;
            text-indent: -9999px;
            width: 74px;
            height: 31px;
            display: block;
            border: none;
            cursor: pointer;
          }
        }
      }
      .login_with_facebook {
        padding: 10px 0 0 0;
        border-top: 1px #cfcfcf solid;
        a.fb_login_button {
          background: image-url('common/fb-loggin-button.png') no-repeat;
          text-indent: -9999px;
          width: 194px;
          height: 25px;
          margin: 0 auto;
          display: block;
        }
      }
    }


    div.user {margin: 0;float: left;
      ul {
        > li {
           &.username{border-right:1px solid #cdcdcd;height: 15px;padding-right: 10px !important;}
           &.first{border-left: 1px solid #cdcdcd;padding-left: 10px;height: 15px;}
           &.bl{border-left:solid 1px #D7D7D7;padding-left:8px;line-height:17px;}
           &.br{border-right:solid 1px #D7D7D7;padding-right:8px;
             a{color:$pink;line-height:17px;}
           }
          position: relative;color: #282828;font-size: 11px;text-align: right;margin: 0 0 0 3px;padding: 0;display: inline-block;float: left;
          a {
            color: #282828;
            text-decoration: none;
            &#info_user {color:#000;padding-right: 10px;}
            &#account {
                background: image-url('common/arrow-down-pink.png') right 7px no-repeat;color: #000;text-align: left;width: auto;min-width: 70px;height: 17px;margin: -6px 0 0;padding: 5px 20px 5px 8px;display: inline-block;border: 1px #FFF solid;float: none;line-height:17px;
                &:hover, &.hover {text-decoration: none;border-color: #CCC;box-shadow:0px 2px 5px #CCC;color: #ef3742;}
              &:hover {color: #ef3742;}
            }
          }
          div.my_account {position: absolute;background: #FFF;padding: 5px 0;display: none;top: 17px;left: 0;z-index: 1000;border-left: 1px #CCC solid;border-right: 1px #CCC solid;border-bottom: 1px #CCC solid;box-shadow:0px 4px 5px #CCC;
            ul {
              margin: 0 0 0 5px;
              li {margin-top:8px;text-align: left;width: 100%;display: block;clear: both;width: 90px !important;
                a {color: #000;letter-spacing: 0;margin: 0;display: block;clear: both;
                  &:hover {color: #ef3742;}
                }
                &:last-child, &.last {
                  a {margin: 0;}
                }
              }
            }
          }
          &:hover {
            div.my_account {display: block;}
          }
        }
      }
    }

    .content {
      overflow: visible;
      margin-top: 0;
      padding-top: 0;
		.niver-logged{margin:-30px 0 0 62px}
		.niver{margin:-15px 0 0 62px;}


		#session {
        position: relative;
        /*z-index: 995;*/
        margin-top: 10px;
        margin-right: 10px;
        overflow: visible;
        float: right;

      }
    }
  }

/*  nav {
    background: #101010;
    margin: -26px 0 0px 0;
    border-bottom: 2px solid $pink;

    a:visited{
      color:#fff;
    }

    a:hover,{
      color:$secondary_color;
    }

    ul {
      li {
        display: inline;
        height: 32px;
        float: left;
        a {
          text-indent: -9999px;
          height: 32px;
          margin: 0 14px 0 10px;
          padding: 0;
        }
      }
    }
  }*/

  /*** new menu ***/
  div#wrapper_new_menu{position:relative;z-index:99;background:#FFF;width:100%;opacity:1;*filter: alpha(opacity=90);-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
     &.smaller {
       div.content {
         width: 990px;
         padding-right: 0;
         ul.product_anchors {
           display: none;
         }
       }
     }
     &.fixed {
       position: fixed;
       top: 0;
       z-index:999;
       padding-top:5px;
     }
    nav.menu_new{
      margin: 0 auto 5px;
      width: 990px;
      line-height: 30px;
      .default_new{
        width: 970px;
        margin: 0 auto;
       /* overflow: hidden;*/
       position:relative;
       display: inline-block;

        li{margin-left:-1px;font-size: 10px;text-transform: uppercase;display: inline;float: left;height: 30px;
          &.liquidation{border-right: none;}
/*          &:nth-child(10){background:none;}*/
          a{border-bottom:0px;display:block;font-family: $johnston;height:28px;text-decoration: none;color: black;padding:0 11px;letter-spacing:2px;background: image-url("common/nav/menu_bar.png") no-repeat right 0;}
          a:hover, a.selecionado {border:1px solid #000;border-bottom:0px;position:relative;background: #FFF;z-index: 99;padding:0 10px;position: relative;top:-1px;}
        }
      }
      .submenu {
          font-family:$avenir;position:absolute;top:27px;background: #fff;border:1px solid #000;z-index: 1;display: none;padding:10px;
          p, a {margin:0px;border:0px;text-transform: none;line-height: 16px !important;color:#000;background: none;font-size: 12px;}
          a.link, a:hover {padding:0px !important;margin:0px !important;border:0px !important; background: #000 !important;top:0px !important;}
          a.link {color:#FFF;margin-top: 10px !important;color: #FFF;text-align: center;padding-top: 8px !important;padding-bottom: 6px !important;height:18px;letter-spacing: 1px !important;font-size: 11px !important;}
          h5 {width:100%;display: block;font-size: 10px;font-weight: bold;height:25px;margin-bottom:3px;letter-spacing: 2px;}
          ul, li {display: block;float:left;width:100%;height:auto;text-transform: none;}
          li {height: auto !important;height: 4px;min-height: 4px;line-height: 12px;margin-bottom: 6px;}
        }
      
      #mm_showroom, #mm_presentes, #mm_olooklet {width:130px;
        a.link {background:image-url("common/nav/arrow_megamenu.jpg") #000 no-repeat 14px center !important;}
      }

      #mm_showroom {width:170px;}

      #mm_blog, #mm_colecoes, #mm_roupas, #mm_sapatos, #mm_bolsas, #mm_acessorios, #mm_acessorios, #mm_marcas {width:260px; left:100px; padding-left:22px;
        .column {width:90px;float:left;display: block;}
        a.sub_menu {display: inline !important; color:#000 !important;background: none !important;padding:0px; letter-spacing: 0px;font-family: $avenir !important;line-height: 12px !important;}
        a.sub_menu:hover {border:0px;padding:0px;margin:0px;}
        li:hover a, li a:hover {border:0px !important;margin:0px;top:0px;}
        li {margin:0px;margin-bottom:4px;}
      }
      .last {width:80px !important;}

      #mm_blog {
        width:320px;
        .column {width:100px;}
        .second {width:140px;}
      }

      #mm_colecoes, #mm_roupas, #mm_sapatos, #mm_acessorios, #mm_marcas {
        width: 460px;
        left:150px;
        .first {width:120px !important;}
        .image, li.image:hover {width:240px !important;}
        .image a.img {display: block;float: right;background:image-url("common/nav/colecoes.jpg") no-repeat center center;width: 207px !important;height: 242px;padding:0px;}
        .image a.img:hover {background:image-url("common/nav/colecoes.jpg") center center !important;padding:0px;margin:0px;width:207 !important;}
        br {clear:both;}
      }

      #mm_colecoes {width:500px;
        .first {width:150px !important;}
        .second {width:105px !important;}
        }

      #mm_roupas {
        width: 440px;
        left:200px;
        .image, li.image:hover {width:220px !important;}
        .image a.img {display: block;float: right;background:image-url("common/nav/roupas.jpg") no-repeat center center;width: 213px !important;height: 269px;padding:0px;}
        .image a.img:hover {background:image-url("common/nav/roupas.jpg") center center !important;padding:0px;margin:0px;width:213 !important;}
      }

      #mm_sapatos {
        width: 445px;
        .first {width:90px !important;}
        .second {width:110px !important;}
        .image a.img {display: block;float: right;background:image-url("common/nav/sapatos.jpg") no-repeat center center;width: 269px !important;height: 236px;padding:0px;}
        .image a.img:hover {background:image-url("common/nav/sapatos.jpg") center center !important;padding:0px;margin:0px;width:269 !important;}
      }

      #mm_bolsas, #mm_acessorios {
        width: 90px;left: 416px;padding-left: 11px;
      }

      #mm_acessorios {
        width:100px;left:485px;
      }

      #mm_marcas {
        width:390px; left:530px;
        .column {width:130px !important;}

      }

      #mm_presentes {
        width:150px;
        a.link {background:image-url("common/nav/arrow_megamenu.jpg") #000 no-repeat 19px 11px !important;height:34px !important;}
      }

      #mm_olooklet {right:36px;
        width:160px;
      }
      .image {margin-top: 10px;padding-bottom: 10px;}

      #mm_showroom, #mm_presentes, #mm_olooklet, #mm_blog, #mm_colecoes, #mm_roupas, #mm_sapatos, #mm_bolsas, #mm_acessorios, #mm_marcas {
        a.sub_menu:hover, ul li a.selecionado {color:#999 !important;}
      }
    }
    .new_sacola{
      a{left: -9px; position: relative; text-decoration: none;display:block;height: 20px;background: image-url("common/nav/sprite_header.png") -119px -1px no-repeat;font-family: $johnston;font-size: 10px;margin-top: -43px;color: $pink;letter-spacing: 1px;padding:6px 0 0 21px;clear:both;float:right;
         &.full{background: image-url("common/nav/sprite_header.png") -219px -32px no-repeat;}
         .mini_coupon_tag{background: image-url('common/nav/sprite_header.png') -269px -113px no-repeat; width: 60px; height: 28px;top: -23px;right: 0;display: block;position: absolute;}
      }
      span{font-family: $kepler;font-size: 10px;margin: 0;}

    }
  }

/*** end new menu ***/

/*** new header ***/
header#new_header{
  min-height: 109px;
  .new_content{
     border-top: 2px black solid;
     height: 84px;
     padding-top:15px;
      width: 990px;
      margin: 0 auto;
      .box_left{
        font-family: $avenir;
        font-size: 10px;
        color: #b4b5b7;
        float: left;
        margin-left:10px;
        a.contact{
          text-decoration: none;
          color: #b4b5b7;
            &:hover{
            color:$pink;
          }
        }
        a.invite{
          color: $pink;
          text-decoration: none;
          float: left;
          margin-top: 3px;
          font-size: 11px;
        }
      }

      .social_icons{
        width: 150px;
        float: left;
        clear: both;
        a.social_facebook{
          background: image-url('common/nav/sprite_header.png') 0 0;
          width: 22px;
          height: 22px;
          text-indent: -9999px;
          display: block;
          float: left;
          &:hover{
            background: image-url('common/nav/sprite_header.png') 0 -31px;
          }
        }
        a.social_twitter{
          background: image-url('common/nav/sprite_header.png') -22px 0;
          width: 22px;
          height: 22px;
          text-indent: -9999px;
          display: block;
          float: left;
          &:hover{
            background: image-url("common/nav/sprite_header.png") no-repeat -22px -31px;
          }
        }
        a.social_rss{
          background: image-url("common/nav/sprite_header.png") no-repeat -46px 0;
          width: 22px;
          height: 22px;
          text-indent: -9999px;
          display: block;
          float: left;
          &:hover{
            background: image-url("common/nav/sprite_header.png") no-repeat -46px -31px;
          }
        }
        a.social_instagram{
          background: image-url("common/nav/sprite_header.png") no-repeat -71px -1px;
          width: 22px;
          height: 22px;
          text-indent: -9999px;
          display: block;
          float: left;¨
          &:hover{
            background: image-url("common/nav/sprite_header.png") no-repeat -71px -31px;
          }
        }
      }
      .olook_logo{width: 190px;height: 57px;margin: 0 auto;padding-top: 5px;
        h1 a{width: 190px;height: 57px;display:block;background: image-url("common/nav/sprite_header.png") no-repeat 0 -74px;text-indent: -9999px;}
      }
    }
    .box_right{float: right;margin: 0px 10px 0 0;position:relative;
      .new_login{width: 162px;height: 18px;font-family: $avenir;font-size: 11px;display: block;float: right;text-align: center;line-height: 18px;border-left: 1px #d7d7d7 solid;border-right: 1px #d7d7d7 solid;
        a{text-decoration: none;color: $pink;
        &:hover{text-decoration:underline;}
        }
      }
      #cart_summary{position:absolute;display:none;top:115px;right:0px;z-index:9999;width:304px;min-height:135px;max-height:388px;border:solid 1px #000;box-shadow:0 2px 5px #CCC;background:#FFF;padding:15px 0;
         .scroll{max-height:297px;overflow-y:auto;padding:0 32px;
            li{
              &.coupon_info{
                p{font-family: $avenir; font-size: 12px;color: #000;
                  img{float: left; margin-top: 13px; margin-right: 10px;}}
               }
               &.product_item{border-top:solid 1px #CCC;margin-top:10px;color:#000;font-size:12px;padding-top:10px;
                  p {line-height:17px;overflow:hidden;}
                  img{float:left;margin-right:14px;width:46px;}
                  h1{font-family:$avenir;text-transform:uppercase;font-size:11px;font-weight:bold;}
               }
               .big_coupon{width: 116px !important; height: 53px !important;}
               p.freight{text-align:center;color:$pink;font-family:$avenir;text-transform:uppercase;font-size:12px; line-height: 18px;
                  span{color:#000;font-size:10px;text-transform:none;letter-spacing:1px;}
               }
               hr{height:1px;border:0;color:#CCC;background:#CCC;}
               .empty_cart{
                 text-align:center;
                 font-size:11px;
                 color:#000;
               }
            }
         }
         p.see_cart {
           text-align:center;
           margin:12px auto 0;
           clear:both;
           width: 80%;
           border-top: 1px solid #ccc;
          a.finish {
            display:block;
            width:145px;
            height:45px;
            background: image-url('common/nav/sprite_header.png') 0 -141px no-repeat;
            font-size:0;
            line-height:0;
            margin-top:7px;
            margin-left: auto;
            margin-right: auto;
          }
        }
        .coupon_warn {
          display: block;
          position: absolute;
          background-color: #c1e2be;
          border-top: 1px #ccc solid;
          border-left: 1px #ccc solid;
          border-bottom: 1px #ccc solid;
          padding: 5px 5px 5px 5px;
          left: -338px;
          width: 325px;
          top: 85px;
          line-height: 23px;
          .check {
            background: image-url('common/check-circle.png') no-repeat top left;
            display:block;
            float:left;
            margin-right: 5px;
            width: 22px;
            height: 22px;
          }
          .seta {
            background: image-url('common/seta-verde.png') no-repeat top left;
            display:block;
            position: absolute;
            width: 14px;
            height: 36px;
            top: -2px;
            left: 335px;
          }
        }
      }
      p.trade{background: image-url('common/trade_arrows.png') no-repeat top left;float:left;font-size:11px;color:#000;line-height:18px;margin-left: 10px;
         a{text-decoration:none;color:#000;padding-left: 30px;
            &:hover{text-decoration:none; color: $pink;}
         }
        }
      }
}

img.balloon{display:none;position: absolute;width: 174px;height: 185px;z-index:8888;}

  /*** end new header ***/
  div#wrapper_menu {
    position: relative;
    margin-top: -26px;
    padding-top: 26px;
    z-index: 999;
    nav.menu {
      position: absolute;
      width: 100%;
      margin: 0;
      top: 0;
      z-index: 991;
      div.content {
        width: 1110px;
        padding-right: 115px;
        overflow: visible;
      }
      ul.product_anchors {
        width: 115px;
        margin-top: 2px;
        float: left;
        li {
          a {
            background: url("common/nav/product-anchors.jpg") no-repeat;
            text-indent: -9999px;
            line-height: normal;
            width: 38px;
            height: 32px;
            margin: 0;
            display: block;
          }
          &.shoes {
            a {
              background-position: 0 0;
            }
          }
          &.purse {
            a {
              background-position: -38px 0;
            }
          }
          &.accessories {
            a {
              background-position: -70px 0;
            }
          }
        }
      }
      ul.default {
        width: 995px;
        float: right;
        li {
          position: relative;
          height: 37px;
          span.label {
            position: absolute;
            background: image-url('common/bg-label-menu.png') no-repeat;
            color: #FFF;
            font-family: "Pontano Sans", sans-serif;
            font-size: 11px;
            text-transform: uppercase;
            text-align: center;
            line-height: 36px;
            width: 35px;
            height: 35px;
            display: block;
            top: -25px;
            left: 45px;
          }
          a {
            color: #FFF;
            font-family: 'Open Sans', sans-serif;
            font-size: 11px;
            font-weight: 600;
            text-indent: 0;
            text-decoration: none;
            line-height: 37px;
            text-transform: uppercase;
            height: 37px;
            display: block;
            &:hover, &.selected {
              background: image-url("common/nav/arrow-hover.jpg") bottom center no-repeat;
              color: $pink;
            }
          }
          &.liquidation {
            a {
              background: #ef3742;
              color: #FFF;
              padding: 5px 15px;
              display: inline;
              -webkit-border-radius: 3px;
              -moz-border-radius: 3px;
              border-radius: 3px;
            }
          }
          &.showroom {
            a {
              margin-left: 3px;
            }
          }
          &.cart {
            position: relative;
            float: right;
            div.warn {
              position: absolute;
              background: image-url('common/bg-menu-warn.png') top left no-repeat;
              width: 218px;
              height: 100px;
              top: -33px;
              left: -198px;
              display: block;
              overflow: hidden;
              z-index: 1000;
              a.close {
                position: absolute;
                background: image-url('gift/bt-close-help.png') no-repeat;
                text-indent: -99999px;
                width: 18px;
                height: 18px;
                top: 5px;
                right: -2px;
                display: block;
              }
              p {
                color: #939292;
                font-size: 12px;
                text-align: center;
                width: 190px;
                margin: 17px 0 0 10px;
                span {
                  color: #e2458f;
                }
              }
            }
            a.cart {
              position: relative;
              color: #FFF;
              line-height: 37px;
              text-decoration: none;
              height: 37px;
              margin-right: 0;
              padding: 0 20px;
              display: block;
              span {
                font-size: 12px;
                text-indent: 0;
                line-height: 37px;
                div {
                  display: inline;
                }
              }
              &.selected, &:hover {
                background: $pink;
              }
            }
            ul.submenu {
              position: absolute;
              background: #FFF;
              width: 275px;
              padding: 15px 10px 5px 10px;
              top: 37px;
              right: 0;
              border: 3px #101010 solid;
              border-top: 2px $secondary_color solid;
              display: none;
							max-height:388px;
							overflow-y:auto;
              li {
                position: relative;
                width: 100%;
                height: auto;
                overflow: auto;
                margin: 0 0 10px 0;
                padding: 0 0 10px 0;
                display: block;
                border-bottom: 1px #dedede solid;
                float: none;
                &:hover {
                  padding: 0 0 10px 0;
                }
                p.freight {
                  color: #ef3742;
                  font-size: 12px;
                  line-height: 18px;
                  text-align: center;
                  text-transform: uppercase;
                  padding-bottom: 5px;
						span{color: #000;
						    font-size: 12px;
						    text-transform: none;
					   }
                }
                a {
                  line-height: normal;
                  margin: 0;
                }
                img {
                  width: 70px;
                  height: 70px;
                  margin-right: 10px;
                  float: left;
                }
                h1 {
                  font-family: $avenir;
                  font-size: 16px;
                  font-weight: 500;
                  text-transform: uppercase;
                }
                p {
									line-height:18px !important;
                  &.price {
                    color: #000;
                    font-size: 16px;
                  }
									&.qte{
										font-size:13px;
										color: #5E5F61;
									}
                  &.size {
                    color: #5E5F61;
                    font-size: 13px;
                  }
                }
                form.delete {
                  width: 12px;
                  margin: 0;
                  position: absolute;
                  top: 25px;
                  right: 10px;
                  input[type="submit"] {
                    background: image-url('common/del-product.png') no-repeat;
                    width: 9px;
                    height: 10px;
                    display: block;
                    border: none;
                    cursor: pointer;
                  }
                }
                &.last {
                  border: none;
                  a.close {
                    background: none;
                    color: #101010;
                    font-size: 12px;
                    text-indent: 0;
                    text-transform: uppercase;
                    text-decoration: none;
                    margin: 9px 0 0 0;
                    height: auto;
                    float: left;
                    &:hover {
                      text-decoration: underline;
                    }
                  }
                  a.finish {
                    background: image-url('common/nav/product-anchors.jpg') -110px 0 no-repeat;
                    text-indent: -9999px;
                    width: 137px;
                    height: 33px;
                    display: block;
                    float: right;
                  }
                }
              }
            }
          }
        }
      }
      &.smaller {
        div.content {
          width: 990px;
          padding-right: 0;
          ul.product_anchors {
            display: none;
          }
        }
      }
      &.fixed {
        position: fixed;
        top: 0;
      }
    }
  }
  &.logged {
    div#error-messages {
      padding: 53px 0;
    }
    header {
      min-height: 135px;
      padding: 0 0 8px;
    }
  }
  div.full_container {
    position: relative;
    width: 100%;
    overflow: auto;
    display: block;
    margin: 0px 0 20px 0;
    margin-top:-10px;
  }
  div.box_invite {
    width: 815px;
    padding: 20px 40px;
    overflow: auto;
    display: none;
    background:#FFF;
    min-height:400px;
    & > h1 {
      font-size: 36px;
      font-weight: lighter;
      letter-spacing: -1px;
      margin: 0 0 10px 0;
      &+p {
        color: #666;
        font-size: 15px;
        margin: 0 0 35px;
        strong {
          color: #666;
          font-weight: 500;
        }
      }
    }
    div.social {
      float: left;
    }
    div.link_mail {
      width: 314px;
      float: right;
    }
    &.clone {
      display: block;
    }
  }
}


div.contact_fields {
  padding: 0 0 0 0 !important;

  h1 {
    color:#999;
  }
  .inputs {
    padding: 15px 0px !important;
  }
}

.top-shadow{
  width:100%;
  height:27px;
  background: image-url('common/bg-holder-full.png') center center no-repeat;
  display: block;
  clear: both;
}

header a {
  color:#ef3742;
  text-decoration:underline;
}

header .observations {
  margin:20px 0 0 85px;;
}


header div.contact {
  width: 100%;
  overflow: auto;
  margin: 0 0 10px 0;
  padding: 5px 0;
  /*border-bottom: 1px #efefef solid;*/
  div.content {
    ul {
      float: right;
      margin-right: 10px;
      li {
        color: #848179;
        font-size: 13px;
        display: inline;
        a {
          color: #848179;
        }
      }
    }
  }
}

.fb_dialog {
  z-index: 100001 !important;
}

#quick_view {
  background-color: #fff;
  border: 1px solid #000;
  width:1000px;
  # height:620px;
  position: absolute;
  top:100px;
  left:50%;
  margin: 0 0 0 -480px;
  display:none;
  z-index:100000;
  .size_guide{display:none;}
  #close_quick_view{
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    background: image-url('common/close_dialog.png') no-repeat;
    text-indent: -9999px;
    width: 30px;
    height: 30px;
    top: -17px;
    right: -17px;
    z-index: 100;
  }
}

.holder-resolution .holder-content {
  clear:both;
}

.ie7 {
  header {
    height: 95px;
  }
}

/*****  CAMPAINGS - Black Friday & 1 ano muito*****/
.topo_BF{
	header{background:#111;
		h1 a{width:223px !important;height:74px !important;background: image-url('campaigns/black_friday/logo_BF.jpg') no-repeat !important;}
		.img-niver{display:none;}
		#session {
			.login p {color:#CCC !important;
				a{color:#ef3742 !important;}
			}
			ul li{color:#CCC !important;
					#info_user{color:#ef3742 !important;border:solid 2px #111 !important;
						&:hover,&.hover{border-color:#464243 !important;}
					}
				a{color:#CCC !important;}
				&.last{border-left:dotted 1px #FFF !important;
					a{color:#ef3742 !important;}
				}
				&.submenu .my_account .last{border:0 !important;
					a{color:#CCC !important;}
				}
			}
			.my_account{
				background:#111 !important;
				border-bottom: 2px solid #464243 !important;
		      border-left: 2px solid #464243 !important;
		      border-right: 2px solid #464243 !important;
			}
		}
		.contact{border-bottom: 1px solid #202020;}
	}

	#wrapper_menu .menu{border-top:solid 1px #464243;}

}


/****** LOGO AVC ****/
.img-avc{display:block;float:left;width:201px;height:82px;margin-left:162px;}

/**** CAMPAIGNS EMAILS ****/
#modal-campaign,#overlay-campaign{display:none;position:absolute;}
#overlay-campaign{top:0;left:0;z-index:10000;width:100%;height:1242px;background:#FFF;zoom:1;opacity:0.75;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);filter: alpha(opacity=75);}
#modal-campaign{float:left;z-index:10001;background:transparent;top:50%;left:50%;
  iframe{overflow: hidden;}
}

/***** SHIPPING BOX ******/
#box-ship{
	position:fixed;bottom:-44px;width:939px;height:63px;background:#000;color:#FFF;border-radius:4px;padding:15px 14px 8px 20px;z-index:8888;font-size:13px;display:none;
	.box-frase{
		.title{font-family:$avenir;font-size:22px;margin-bottom:11px;color:#ef3742;float:left;}
		.frase{font-family:$avenir;font-size:13px;color:#FFF;margin:-1px 0 0 18px;float:left;
			span{color:#ef3742;}
		}
	}
	.consulta-cep{clear:both;
		form{display:inline-block;margin:0;width:600px;
			fieldset{float:left;border:0;
				#cep{width:113px;height:22px;font-size:13px;line-height:22px;}
				.buscar{float:left;background: image-url("shipping/buttons.png") 0 -1px no-repeat;font-size:0;line-height:0;font-family:a;border:0;width:79px;height:30px;margin:0 5px 0 10px}
			}
		}
		#msg{float:left;margin-top:5px;}
		.error, #msg span{color:#E05384;}
		#msg span{padding:0 5px;}
		.relacao-completa {float:left;display:inline-block;font-size:13px;padding-top:4px;
			a{color:#FFF;}
		}
	}
	.fr{float:right !important;margin-right:2px !important;}
	.buttons{width:15px;height:15px;background: image-url("shipping/buttons.png") no-repeat;font-size:0;line-height:0;font-family:a;border:0;position:absolute;top:10px;right:10px;cursor:pointer;
		&.close-ship{background-position:-85px -25px !important;}
		&.max-ship{background-position:-84px 0px;}
	}

	.minimize{display:block;width:974px;height:42px;position:absolute;top:0;left:0;text-decoration:none;font-size:0;}
}

ul.breadcrumb {
  display: block !important;
  width:100% !important;
  height:20px !important;
  position: relative !important;
  left:-4px !important;
  top:0px !important;
  li {
    float:left;
    display: block;
    font-family: verdana;
    font-size: 9px;
    color:#6d6e71;
    padding:0 0 0 10px;
    color:#000;
    text-align: left;
    padding-left:5px;
    a {
      font-family: verdana !important;
      background: image-url('product/breadcrumb.gif') right center no-repeat !important;
      color:#6d6e71  !important;
      display: block  !important;
      float:left !important;
      padding-right:10px !important;
      text-decoration: none !important;
      text-align: left !important;
      min-width: 10px !important;
      min-height: 10px !important;
      margin: 0 !important;
    }
    a:hover {color:#ef3742;}
  }
}

.full_bg .breadcrumb {
  width: 991px !important;
  margin: 0 auto;
}



