@import 'partials/mixins';
@import 'partials/promotion_banners';
@import 'partials/footer';

body {
  #error_explanation {
    margin: 10px 0 15px 0;
    width: 100%;
    border: 1px solid #DEDEDE;
    ul {
      background: url("/assets/common/error.png") top left no-repeat;
      padding: 0 0 0 30px;
      margin: 20px;
      li {
        color: #e50000;
        font-size: 11px;
        font-weight: bold;
        text-align: left;
        padding-bottom: 5px;
      }
    }
  }

  #error-messages {
    display: none;
    width: 100%;
    position: absolute;
    background: #E05789;
    padding: 42px 0;
    z-index: 10001;
    opacity: 0.8;
    filter: alpha(opacity = 80);
    p {
      background: transparent;
      color: #000;
    }
  }

  div.preloader {
    background: url("/assets/common/ajax-loader.gif") center no-repeat;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    display: block;
    clear: both;
  }

  div#profile_quiz {
    background: #FFF;
    display: none;
    div.share {
      width: 100%;
      margin: 0 0 20px;
      overflow: auto;
      p {
        color: #101010;
        font-family: $avenir;
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0 10px 0 0;
        float: right;
      }
      iframe {
        width: 100px;
        height: 20px;
        float: right;
      }
    }
    ul {
      li {
        width: 475px;
        overflow: auto;
        margin: 20px 0;
        float: left;
        a {
          text-indent: -9999px;
          display: block;
          &.me {
            background: url("/assets/common/its-me.jpg") no-repeat;
            width: 179px;
            height: 59px;
            margin: 0 0 0 20px;
          }
          &.new_survey {
            background: url("/assets/common/try-again.jpg") no-repeat;
            width: 301px;
            height: 59px;
            float: right;
          }
        }
      }
    }
    &.clone {
      display: block;
    }
  }

  div#content {
    padding-top: 10px;
    margin-top: 10px;
  }

  div#login_modal {
    position: relative;
    background: url("/assets/common/bg-modal-login.jpg") top left no-repeat;
    width: 950px;
    height: 515px;
    display: block;
    form {
      fieldset {
        ol {
          li {
            label {
              display: block;
              font-size: 11px;
              margin: 2px 0;
            }

            input {
              background: #FFF url("/assets/common/background-inputs.png") bottom repeat-x;
              border: 1px solid #BBB;
              padding: 6px 8px;
              width: 92%;

              &:focus {
                outline: none;
              }
            }
          }
        }
      }
    }
    div#register_login {
      position: absolute;
      background: #FCFCFC;
      width: 580px;
      height: 470px;
      display: block;
      top: 20px;
      left: 340px;
      border: 1px #d2d2d2 solid;
      h1 {
        font-family: $avenir;
        font-size: 20px;
        text-transform: uppercase;
        display: block;
      }
      div.login {
        width: 259px;
        height: 450px;
        padding: 20px 0 0 30px;
        float: left;
        border-right: 1px #d2d2d2 solid;
        h1 {
          margin: 0 0 20px 0;
        }
        form {
          margin-bottom: 15px;
          width: 225px;
          fieldset {
            &.buttons {
              margin-top: 7px;
              ol {
                li {
                  font-size: 11px;
                  input[type="submit"] {
                    background: url("/assets/common/login.png") no-repeat;
                    text-indent: -9999px;
                    width: 74px;
                    height: 31px;
                    display: block;
                    border: none;
                    cursor: pointer;
                  }
                  &.remember-me, &.forgot-password {
                    float: left;
                    width: 140px;
                    input {
                      width: auto;
                    }
                    label {
                      font-weight: normal;
                      display: inline;
                    }
                    a {
                      color: #0f0c0c;
                    }
                  }

                  &.forgot-password {
                    & + li {
                      float: right;
                      margin-top: -15px;
                    }
                  }
                }
              }
            }
          }
        }
        .login_with_facebook {
          width: 225px;
          padding: 10px 0 0 0;
          border-top: 1px #cfcfcf solid;
          a.fb-login-button {
            background: url('/assets/common/fb-loggin-button.png') no-repeat;
            text-indent: -9999px;
            width: 194px;
            height: 25px;
            margin: 0 auto;
            display: block;
          }
        }
      }
      div.register {
        width: 260px;
        padding: 20px 0 0 30px;
        float: right;
        h1 {
          margin: 0 0 10px 0;
          width: 239px;
        }
        p {
          margin: 0 0 10px 0;
        }
        form {
          fieldset {
            ol {
              li {
                input {
                  width: 84%;
                }
                input[type='submit'] {
                  background: url("/assets/common/registration.png") no-repeat;
                  text-indent: -9999px;
                  width: 126px;
                  height: 37px;
                  display: block;
                  cursor: pointer;
                  border: none;
                }
                &.gender {
                  margin: 0 0 5px 0;
                  p {
                    font-size: 13px;
                    line-height: 17px;
                    margin: 0;
                    display: block;
                  }
                  label {
                    display: inline;
                    float: none;
                  }
                  input {
                    width: auto;
                    display: inline;
                  }
                }
                &.terms {
                  font-size: 11px;
                  a {
                    color: #000;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .social-media {
    display: block;
    width: 546px;
    height: 96px;
    float: left;
    margin-top: 90px;
    margin-left: 100px;

    li {
      background: url('/assets/common/sprite-social-media.png') 10px 24px no-repeat;
      display: block;
      float: left;
      border-left: 1px solid #CECECE;
      width: 180px;
      height: 84px;

      &:first-child {
        border-left: none;
      }

      &.twitter {
        background-position: -167px 23px;
      }

      &.orkut {
        background-position: -361px 25px;
      }

      a {
        text-align: center;
        display: block;
        font-family: $avenir;
        font-size: 15px;
        color: #606060;
        text-decoration: none;
        height: 84px;
      }
    }
  }

  .content {
    width: 990px;
    margin: 0 auto;
    overflow: hidden;
    z-index: 1;
    .dialog.product_login {
      height: 515px !important;
      display: none;
      height: auto !important;
    }
    a.liquidation_banner {
      width: 970px;
      display: block;
      margin: 0 auto 20px;
    }

    .forms {
      background: url('/assets/home/bg-middle-home.jpg') no-repeat;
      height: 575px;
      padding:0 30px;

      img.model {
        margin: -55px 5px 0 0;
        display: block;
        float: right;
      }


      h1 {
        font-family: $johnston;
        font-size: 40px;
        letter-spacing: -2px;
        font-weight: normal;
        margin: 0 0 25px 0;
      }

      .form_content {
        margin: 0 0 0 85px;
      }

      form {
        background: #FFF;
        width: 330px;
        padding: 35px;
        border: 1px #BBB solid;

        fieldset {
          ol {
            li {
              width: auto;
              overflow: auto;
              margin-bottom: 10px;
            }
          }
          &.inputs {
            ol {
              li {
                label {
                  font-size: 12px;
                  font-weight: bold;
                  line-height: 34px;
                  margin: 2px 10px 2px 0;
                  padding: 0;
                  float: left;
                }
                input {
                  background: #f3f3f3 url('/assets/common/bg-input-sign-in.png') center top repeat-x;
                  padding: 10px;
                  background-position: bottom;
                  float: right;
                  width: 262px;
                  border: 1px #BBB solid;
                  &:focus {
                    outline: none;
                  }
                }
              }
            }
          }
        }
      }
      &.edit {
        fieldset.inputs {
          label {
            line-height: 20px;
            margin: 0;
          }
          input[type="password"] {
            width: 310px;
            float: left;
          }
        }
      }
    }

    .sign-in {
      background: url("/assets/home/bg-middle-home.jpg") top right no-repeat;
      height: 575px;
      padding:0 30px;
      @include sign-in(relative);

      h1 {
        font-family: $johnston;
        font-size: 40px;
        letter-spacing: -2px;
        font-weight: normal;
      }

      .social-media {
        display: block;
        width: 546px;
        height: 96px;
        float: left;
        margin-top: 90px;
        margin-left: 100px;

        li {
          background: url('/assets/common/sprite-social-media.png') 10px 24px no-repeat;
          display: block;
          float: left;
          border-left: 1px solid #CECECE;
          width: 180px;
          height: 84px;

          &:first-child {
            border-left: none;
          }

          &.twitter {
            background-position: -167px 23px;
          }

          &.orkut {
            background-position: -361px 25px;
          }

          a {
            text-align: center;
            display: block;
            font-family: Times;
            font-size: 22px;
            font-style: italic;
            color: #606060;
            text-decoration: none;
            height: 84px;
          }
        }
      }

      #sign-in-box {
        padding: 35px;
        width: 345px;
        position: relative;
        margin: 44px 0 0 83px;
        float: left;

        .fb-login-button {
          background: url('/assets/common/fb-loggin-button.png') no-repeat;
          display: block;
          width: 194px;
          height: 25px;
          text-indent: -10000px;
          position: absolute;
          top: -40px;
          left: 0px;
        }

        form {
          fieldset {
            &.inputs {
              ol {
                overflow: hidden;

                li {
                  overflow: hidden;
                  margin-bottom: 10px;

                  label {
                    float: left;
                    line-height: 34px;
                    font-size: 12px;
                    font-weight: normal;
                    margin-right: 10px;
                  }

                  input {
                    background: #f3f3f3 url('/assets/common/bg-input-sign-in.png') center top repeat-x;
                    padding: 10px;
                    background-position: bottom;
                    float: left;
                    width: 262px;
                  }
                }
              }
            }

            &.buttons {
              ol {
                li {
                  margin: 10px 0 0 0;
                  float: right;
                  &.remember-me {
                    width: 210px;
                    margin: 0;
                    float: left;
                    input[type='checkbox'] {
                      margin-bottom: 10px;
                    }
                    p {
                      a {
                        color: #6D6E71;
                        text-decoration: none;
                        &:hover {
                          text-decoration: underline;
                        }
                      }
                      &.forgot_password {
                        margin-bottom: 10px;
                        a {
                          display: block;
                        }
                      }
                    }
                  }
                  &.forgot-password {
                    & + li {
                      margin-right: 20px;

                      input[type='submit'] {
                        background: url('/assets/common/login2.png') no-repeat;
                        text-indent: -9999px;
                        width: 106px;
                        height: 42px;
                        display: block;
                        border: none;
                        cursor: pointer;
                      }
                    }
                  }
                  input[type='submit'] {
                    background: url('/assets/common/login2.png') no-repeat;
                    text-indent: -9999px;
                    width: 106px;
                    height: 42px;
                    display: block;
                    border: none;
                    cursor: pointer;
                    margin-right: 19px;
                  }
                }
              }
            }
          }
        }
      }

      img {
        display: block;
        float: right;
        margin-right: 5px;
        margin-top: -30px;
      }
    }

    #survey {
      .olookSelect {
        background: url('/assets/common/select-bg.png') repeat-x;
        width: 74px;
        float: left;
        border: 1px solid #C9C9C9;
        padding: 10px 0 8px;
        margin-right: 10px;

        > span {
          background: url('/assets/common/select-arrow-down.png') 74px no-repeat;
          display: block;
          color: $secondary_color;
          font-weight: bold;
          padding-left: 10px;
        }

        &:hover {
          outline: none;
        }

        .styleSelect_item {
          background: #FFF;
          width: 94px;
          margin-top: 6px;
          border: 1px solid #C9C9C9;
          border-top: none;
          margin-left: -1px;

          &:hover {
            outline: none;
          }

          .styleSelect_item_content {
            height: 110px;

            .jspContainer {
              .jspVerticalBar {
                background: transparent;
                margin-right: 2px;

                .jspTrack {
                  .jspDrag {
                    width: 3px;
                    background: #CCC;
                  }
                }

                .jspTrack {
                  background: transparent;
                }
              }

              .jspPane {
                width: 94px !important;
              }
            }

            ul {
              li {
                display: block;
                float: none;
                text-align: center;

                span {
                  padding: 10px 0;

                  &:hover {
                    background: #F4F4F4;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }

    #invite_list {
      padding-top: 27px;

      h1 {
        margin-top: 30px;
      }
      h2 {
        font-size: 21px;
        font-style: italic;
        font-weight: normal;
        text-align: center;
      }

      @include table();

      &.listing {
        input[type='image'] {
          display: block;
          margin: 0 auto;
        }

        table {
          &#list {
            margin-top: 0;
            thead {
              tr {
                th {
                  text-align: right;

                  &:first-child {
                    text-align: center;
                  }
                }
              }
            }

            tbody {
              tr {
                td {
                  text-align: left;

                  &:first-child {
                    text-align: center;
                  }
                }
              }
            }
          }
        }
      }

      fieldset {
        margin: 40px 0 10px 0;
        ol {
          width: 855px;
          overflow: auto;
          margin: 0 auto;
          li {
            text-align: left;
            width: 40%;
            float: left;
            &.select_all {
              margin-top: 35px;
              input[type='checkbox'] {
                margin-left: 13px;
              }
            }
            input[type=image] {
              margin: 0 !important;
            }
          }
        }
      }
    }
    .pagination {
      text-align: center;
      height: 25px;
      display: block;
      .previous_page, .next_page {
        display: none;
      }
      em.current {
        background: #df5a8b;
        color: #FFF;
        font-size: 12px;
        padding: 5px 7px;
        margin: 0 3px;
        display: inline-block;
      }
      a {
        color: #2a2a2a;
        font-size: 12px;
        text-decoration: none;
        padding: 5px 7px;
        margin: 0 2px;
        display: inline-block;
        cursor: pointer;
        &:hover {
          background: #df5a8b;
          color: #FFF;
        }
      }
    }
  }

  header {
    background: url("/assets/common/bg-holder-full.png") center bottom no-repeat;
    width: 100%;
    min-height: 122px;
    padding: 10px 0 0 0;
    overflow: visible;
    display: block;

    h1 {
      a {
        background: url('/assets/common/logo.jpg') no-repeat;
        width: 217px;
        height: 68px;
        text-indent: -9999px;
        margin: 8px 0 0;
        float: left;
      }
    }

    h2.info_logo {
      a {
        background: image-url('common/change-logo.jpg') no-repeat;
        text-indent: -99999px;
        width: 234px;
        height: 68px;
        margin: 10px 0 0 3px;
        display: block;
        float: left;
      }
    }

    .info {
      float: left;
      margin-top: 10px;
      margin-left: 40px;
      width: 260px;
      p,strong {
        color: #797979;
      }
      p {
        background: url('/assets/common/frases3.gif') top center no-repeat;
        text-indent: -99999px;
        width: 212px;
        height: 47px;
        display: block;
      }
      img {
        width: 212px;
        height: 47px;
      }
      ul {
        height: 35px;
        margin: 10px 0 0 0;
        overflow: hidden;
        li {
          font-weight: normal;
          text-transform: uppercase;
          width: 230px;
          margin: 0 0 50px 0;
          strong {
            display: block;
          }
        }
      }
    }

    .content {
      overflow: visible;
      margin-top: 0;
      padding-top: 0;

      #session {
        position: relative;
        z-index: 10000;
        @include sign-in;
        margin-top: 10px;
        margin-right: 10px;
        overflow: visible;
        float: right;
        h2 {
          font-size: 15px;
          text-align: right;
          letter-spacing: -1px;
          span {
            color: #6d6e71;
            width: auto;
            margin: 0;
            float: none;
          }
        }
        ul {
          margin: 10px 0 0;
          li {
            text-transform: none;
            height: auto;
            display: inline-block;
            padding: 0 10px;
            border-left: 1px #000 dotted;
            float: none;
            a {
              color: #212121;
              text-decoration: none;
              text-align: right;
              margin: 0;
              &:hover {
                text-decoration: underline;
              }
              &.favorites {
                background: url('/assets/common/ico-heart-off.png') left no-repeat;
                padding-left: 20px;
                &:hover {
                  background: url('/assets/common/ico-heart-on.png') left no-repeat;
                }
              }
              > span {
                color: $pink;
                font-size: inherit;
                width: auto;
                margin: 0;
                float: none;
              }
            }
            p {
              text-transform: none;
              a {
                color: #e05789;
                text-decoration: underline;
                margin: 0;
              }
            }
            &.first {
              border: none;
            }
            &.last {
              padding-right: 0;
            }
            &.login {
              padding: 0;
              float: right;
              border: none;
              p {
                a {
                  color: $secondary_color;
                }
              }
            }
          }
        }
        .sign-in-dropdown {
          form {
            margin-bottom: 15px;
            fieldset.buttons {
              ol li {
                input[type=submit] {
                  background: url('/assets/common/login.png') no-repeat;
                  text-indent: -9999px;
                  width: 74px;
                  height: 31px;
                  display: block;
                  border: none;
                  cursor: pointer;
                }
              }
            }
          }
          .login_with_facebook {
            padding: 10px 0 0 0;
            border-top: 1px #cfcfcf solid;
            a.fb-login-button {
              background: url('/assets/common/fb-loggin-button.png') no-repeat;
              text-indent: -9999px;
              width: 194px;
              height: 25px;
              margin: 0 auto;
              display: block;
            }
          }
        }
      }
    }
  }

  nav {
    background: #101010;
    margin: -26px 0 0px 0;
    border-bottom: 2px solid $pink;

    a:visited{
      color:#fff;
    }

    a:hover,{
      color:$secondary_color;
    }

    ul {
      li {
        display: inline;
        height: 32px;
        float: left;
        a {
          text-indent: -9999px;
          height: 32px;
          margin: 0 20px 0 10px;
          padding: 0;
        }
      }
    }
  }
  div#wrapper_menu {
    position: relative;
    margin-top: -26px;
    padding-top: 26px;
    z-index: 1000;
    nav.menu {
      position: absolute;
      width: 100%;
      margin: 0;
      top: 0;
      z-index: 1000;
      div.content {
        width: 1110px;
        padding-right: 115px;
        overflow: visible;
      }
      ul.product_anchors {
        width: 115px;
        margin-top: 2px;
        float: left;
        li {
          a {
            background: url("/assets/common/nav/product-anchors.jpg") no-repeat;
            text-indent: -9999px;
            line-height: normal;
            width: 38px;
            height: 32px;
            margin: 0;
            display: block;
          }
          &.shoes {
            a {
              background-position: 0 0;
            }
          }
          &.purse {
            a {
              background-position: -38px 0;
            }
          }
          &.accessories {
            a {
              background-position: -70px 0;
            }
          }
        }
      }
      ul.default {
        width: 995px;
        float: right;
        li {
          position: relative;
          height: 37px;
          span.label {
            position: absolute;
            background: url("/assets/common/bg-label-menu.png") no-repeat;
            color: #FFF;
            font-family: "Pontano Sans", sans-serif;
            font-size: 11px;
            text-transform: uppercase;
            text-align: center;
            line-height: 36px;
            width: 35px;
            height: 35px;
            display: block;
            top: -25px;
            left: 45px;
          }
          a {
            color: #FFF;
            font-family: 'Open Sans', sans-serif;
            font-size: 11px;
            font-weight: 600;
            text-indent: 0;
            text-decoration: none;
            line-height: 37px;
            text-transform: uppercase;
            height: 37px;
            display: block;
            &:hover, &.selected {
              background: url("/assets/common/nav/arrow-hover.jpg") bottom center no-repeat;
              color: $pink;
            }
          }
          &.liquidation {
            a {
              background: #ff7a00;
              color: #FFF;
              padding: 5px 15px;
              display: inline;
              -webkit-border-radius: 3px;
              -moz-border-radius: 3px;
              border-radius: 3px;
            }
          }
          &.valentine_invite {
            a {
              background: url("/assets/common/bg-link-valentine.png") left no-repeat;
              padding-left: 15px;
              margin-left: 25px;
            }
          }
          &.showroom {
            a {
              margin-left: 3px;
            }
          }
          &.cart {
            position: relative;
            float: right;
            a.cart {
              position: relative;
              color: #FFF;
              line-height: 37px;
              text-decoration: none;
              height: 37px;
              margin-right: 0;
              padding: 0 20px;
              display: block;
              span {
                font-size: 12px;
                text-indent: 0;
                line-height: 37px;
                div {
                  display: inline;
                }
              }
              &.selected, &:hover {
                background: $pink;
              }
            }
            ul.submenu {
              position: absolute;
              background: #FFF;
              width: 275px;
              padding: 15px 10px 5px 10px;
              top: 37px;
              right: 0;
              border: 3px #101010 solid;
              border-top: 2px $secondary_color solid;
              display: none;
              li {
                position: relative;
                width: 100%;
                height: auto;
                overflow: auto;
                margin: 0 0 10px 0;
                padding: 0 0 10px 0;
                display: block;
                border-bottom: 1px #dedede solid;
                float: none;
                &:hover {
                  padding: 0 0 10px 0;
                }
                p.freight {
                  color: #df5a8b;
                  font-size: 12px;
                  line-height: 18px;
                  text-align: center;
                  text-transform: uppercase;
                  padding-bottom: 5px;
                }
                a {
                  line-height: normal;
                  margin: 0;
                }
                img {
                  width: 70px;
                  height: 70px;
                  margin-right: 10px;
                  float: left;
                }
                h1 {
                  font-family: $avenir;
                  font-size: 16px;
                  font-weight: 500;
                  text-transform: uppercase;
                }
                p {
                  &.price {
                    color: #000;
                    font-size: 16px;
                  }
                  &.size {
                    color: $pink;
                    font-size: 14px;
                  }
                }
                form.delete {
                  width: 12px;
                  margin: 0;
                  position: absolute;
                  top: 25px;
                  right: 10px;
                  input[type="submit"] {
                    background: url("/assets/common/del-product.png") no-repeat;
                    width: 9px;
                    height: 10px;
                    display: block;
                    border: none;
                    cursor: pointer;
                  }
                }
                &.last {
                  border: none;
                  a.close {
                    background: none;
                    color: #101010;
                    font-size: 12px;
                    text-indent: 0;
                    text-transform: uppercase;
                    text-decoration: none;
                    margin: 9px 0 0 0;
                    height: auto;
                    float: left;
                    &:hover {
                      text-decoration: underline;
                    }
                  }
                  a.finish {
                    background: url("/assets/common/nav/product-anchors.jpg") -110px 0 no-repeat;
                    text-indent: -9999px;
                    width: 137px;
                    height: 33px;
                    display: block;
                    float: right;
                  }
                }
              }
            }
          }
        }
      }
      &.smaller {
        div.content {
          width: 990px;
          padding-right: 0;
          ul.product_anchors {
            display: none;
          }
        }
      }
      &.fixed {
        position: fixed;
        top: 0;
      }
    }
  }
  &.logged {
    div#error-messages {
      padding: 53px 0;
    }
    header {
      min-height: 145px;
      padding: 0 0 8px;
    }
  }
  div.full_container {
    position: relative;
    width: 100%;
    overflow: auto;
    display: block;
    margin: 13px 0 20px 0;
  }
  div.box_invite {
    width: 815px;
    padding: 20px 40px;
    overflow: auto;
    display: none;
    & > h1 {
      font-size: 36px;
      font-weight: lighter;
      letter-spacing: -1px;
      margin: 0 0 10px 0;
      &+p {
        color: #666;
        font-size: 15px;
        margin: 0 0 35px;
        strong {
          color: #666;
          font-weight: 500;
        }
      }
    }
    div.social {
      width: 485px;
      overflow: auto;
      float: left;
      ul {
        width: 100%;
        padding: 0 0;
        overflow: auto;
        li {
          position: relative;
          width: 105px;
          margin: 0 15px 0 0;
          float: left;
          a {
            color: #5a5a5b;
            font-family: $kepler;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            line-height: 15px;
            outline: none;
            width: 105px;
            display: block;
            margin: 0 15px 0 0;
            padding: 105px 0 15px 0;
            float: left;
          }
          &.twitter {
            a {
              background: url("/assets/common/bt-twitter.jpg") center 10px no-repeat;
            }
          }
          &.facebook {
            a {
              background: url("/assets/common/bt-facebook.jpg") center 10px no-repeat;
            }
          }
          &.orkut {
            a {
              background: url("/assets/common/bt-orkut.jpg") center 10px no-repeat;
            }
            img {
              position: absolute;
              width: 105px;
              height: 150px;
              left: 0;
              opacity: 0;
              -moz-opacity: 0;
              filter: alpha(opacity=0);
            }
          }
          &.email {
            a {
              background: url("/assets/common/bt-email.png") center 10px no-repeat;
              margin: 0;
              padding: 105px 10px 15px 10px;
              &.selected {
                background-color: #e4e4e4;
              }
            }
          }
        }
      }
      form {
        background: #e4e4e4;
        padding: 20px 15px;
        clear: both;
        display: none;
        p {
          color: #000;
          font-size: 17px;
          margin: 0 0 10px;
        }
        textarea {
          background: #FFF url("/assets/common/bg-textarea-emails.jpg") bottom repeat-x;
          width: 425px;
          height: 100px;
          padding: 7px 8px;
          resize: none;
          outline: none;
          margin: 0 0 20px;
          border: 1px solid #C1C1C1;
        }
        input[type="submit"] {
          background: url("/assets/common/invite.png") no-repeat;
          text-indent: -9999px;
          width: 283px;
          height: 52px;
          display: block;
          margin: 0 auto;
          border: none;
          cursor: pointer;
        }
      }
    }
    div.link_mail {
      position: relative;
      width: 295px;
      height: 150px;
      overflow: auto;
      padding: 0 0 0 30px;
      float: right;
      h2 {
        font-size: 16px;
        font-weight: lighter;
        letter-spacing: -1px;
        margin: 0 0 10px;
      }
      ul {
        overflow: hidden;
        li {
          position: relative;
          input[type="text"] {
            color: #666;
            font-size: 13px;
            width: 265px;
            margin: 0 0 10px 0;
            padding: 5px 10px;
            border: 1px #CCC solid;
          }
          a {
            background: url("/assets/common/copy-link.jpg") no-repeat;
            text-indent: -9999px;
            width: 116px;
            height: 32px;
            display: block;
          }
          div.zclip {
            z-index: 10000 !important;
          }
        }
      }
      div.box_copy {
        position: absolute;
        background: url("/assets/common/copy.png") top center no-repeat;
        width: 166px;
        height: 38px;
        padding: 17px 0 0 0;
        display: none;
        top: 93px;
        left: 5px;
        p {
          color: #666;
          font-size: 12px;
          text-align: center;
          strong {
            color: #666;
          }
        }
      }
    }
    &.clone {
      display: block;
    }
  }
}


div.contact_fields {
  padding: 0 0 0 0 !important;

  h1 {
    color:#999;
  }
  .inputs {
    padding: 15px 0px !important;
  }
}

.top-shadow{
  width:100%;
  height:27px;
  background: url('/assets/common/bg-holder-full.png') center center no-repeat;
  display: block;
  clear: both;
}

header a {
  color:#e05789;
  text-decoration:underline;
}

header .observations {
  margin:20px 0 0 85px;;
}

header span {
  font-size:14px;
  float:right;
  margin:12px 10px 0 0;
  width: 180px;
  p {
    float: left;
  }
  a {
    float: right;
  }
}

header div.contact {
  width: 100%;
  overflow: auto;
  margin: 0 0 10px 0;
  padding: 5px 0;
  border-bottom: 1px #efefef solid;
  div.content {
    ul {
      float: right;
      margin-right: 10px;
      li {
        color: #848179;
        font-size: 13px;
        display: inline;
        a {
          color: #848179;
        }
      }
    }
  }
}

#quick_view {
  background-color: #fff;
  border: 10px solid #000;
  width:1000px;
  # height:620px;
  position: absolute;
  top:100px;
  left:50%;
  margin: 0 0 0 -480px;
  display:none;
  z-index:100000;

  #close_quick_view{
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    background: url('/assets/common/close_dialog.png') no-repeat;
    text-indent: -9999px;
    width: 30px;
    height: 30px;
    top: -17px;
    right: -17px;
    z-index: 100;
  }
}

.holder-resolution .holder-content {
  clear:both;
}

.ie7 {
  header {
    height: 95px;
  }
}
