@import 'partials/mixins';

body {
  .content {
    width: 990px;
    margin: -27px auto 0 auto;
    overflow: hidden;
    z-index: 1;

    .sign-in {
      height: 650px;
      @include sign-in(relative);

      h1 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 40px;
        font-style: italic;
        letter-spacing: -2px;
        font-weight: normal;
        margin-top: 30px;
      }

      .social-media {
        display: block;
        width: 546px;
        height: 96px;
        float: left;
        margin-top: 140px;
        margin-left: 50px;

        li {
          background: url('/assets/common/sprite-social-media.png') 10px 30px no-repeat;
          display: block;
          float: left;
          border-left: 1px solid #CECECE;
          width: 180px;
          height: 84px;

          &:first-child {
            border-left: none;
          }

          &.twitter {
            background-position: -167px 30px;
          }
          
          &.orkut {
            background-position: -361px 30px;
          }
          
          a {
            text-align: center;
            display: block;
            font-family: Times;
            font-size: 22px;
            font-style: italic;
            color: #606060;
            text-decoration: none;
            height: 84px;
          }
        }
      }

      #sign-in-box {
        padding: 35px;
        width: 345px;
        position: relative;
        margin: 84px 0 0 83px;
        float: left;

        .fb-login-button {
          background: url('/assets/common/fb-loggin-button.png') no-repeat;
          display: block;
          width: 194px;
          height: 25px;
          text-indent: -10000px;
          position: absolute;
          top: -40px;
          left: 0px;
        }

        form {
          fieldset {
            &.inputs {
              ol {
                overflow: hidden;

                li {
                  overflow: hidden;
                  margin-bottom: 10px;

                  label {
                    float: left;
                    line-height: 34px;
                    font-size: 12px;
                    margin-right: 10px;
                  }

                  input {
                    background: url('/assets/common/bg-input-sign-in.png') center top repeat-x;
                    padding: 10px;
                    background-position: bottom;
                    float: left;
                    width: 262px;
                  }
                }
              }
            }

            &.buttons {
              ol {
                li {
                  &.remember-me {
                    width: 350px;
                  }
                  &.forgot-password {
                    & + li {
                      margin-right: 20px;

                      input[type='submit'] {
                        font-size: 14px;
                        padding: 10px 18px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      img {
        display: block;
        float: right;
        margin-right: 50px;
        margin-top: -30px;
      }
    }
  
    #survey {
      .olookSelect {
        background: url('/assets/common/select-bg.png') repeat-x;
        width: 74px;
        float: left;
        border: 1px solid #C9C9C9;
        padding: 10px 0 8px;
        margin-right: 10px;

        > span {
          background: url('/assets/common/select-arrow-down.png') 74px no-repeat;
          display: block;
          color: $pink;
          font-weight: bold;
          padding-left: 10px;
        }

        &:hover {
          outline: none;
        }

        .styleSelect_item {
          background: #FFF;
          width: 94px;
          margin-top: 6px;
          border: 1px solid #C9C9C9;
          border-top: none;
          margin-left: -1px;

          &:hover {
            outline: none;
          }

          .styleSelect_item_content {
            height: 110px;

            .jspContainer {
              .jspVerticalBar {
                background: transparent;
                margin-right: 2px;

                .jspTrack {
                  .jspDrag {
                    width: 3px;
                    background: #CCC;
                  }
                }
                
                .jspTrack {
                  background: transparent;
                }
              }

              .jspPane {
                width: 94px !important;
              }
            }

            ul {
              li {
                display: block;
                float: none;
                text-align: center;

                span {
                  padding: 10px 0;

                  &:hover {
                    background: #F4F4F4;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }

    #invite_list {
      h1 {
        margin-top: 30px;
      }

      @include table();
    }
  }

  header {
    background: url('/assets/common/bg-holder-full.png') no-repeat center bottom;
    padding-bottom: 20px;
    height: 76px;

    a {
      display: block;
      overflow: hidden;
      float: left;

        h1 {
        background: url('/assets/common/logo.png') no-repeat;
        width:140px;
        height:62px;
        float:left;
        text-indent:-9999px;
        margin:14px 0 0 11px;
        float:left;
      }
    }

    .info {
      float: left;
      margin-top: 10px;
      margin-left: 40px;
      p,strong {
        color: #797979;
      }
    }

    .content {
      overflow: visible;
      margin-top: 0;
      padding-top: 0;

      #session {
        position: relative;
        z-index: 10;
        @include sign-in;
      }
    }
  }

  nav {
    background: #000;
    margin-top: -26px;
    border-bottom: 2px solid $pink;
    ul {
      li {
        display: inline-block;

        a {
          display: inline-block;
          padding: 10px 30px;
          
          &.selected {
            background: url('/assets/common/arrow-selected.gif') center bottom no-repeat;
          }
        }
      }
    }
  }
}

.top-shadow{
  width:100%;
  height:27px;
  margin-top:0px;
  background:url('../../assets/common/bg-holder-full.png') center center no-repeat;
  position:absolute;
      }



header a {
  color:#e05789;
  text-decoration:underline;
}

header .observations {
  margin:20px 0 0 85px;;
}

header span {
  font-size:14px;
  float:right;
  margin:12px 10px 0 0;
  width: 180px;
  p {
    float: left;
  }
  a {
    float: right;
  }
}

.holder-resolution .holder-content {
  clear:both;
}

footer {
  background: url('../../assets/common/bg-footer.jpg') repeat-x;
  height:300px;
  clear:both;
}

footer section {
  margin:0px auto;
  width:970px;
  padding-top:40px;
}

footer section ul {
  float:left;
  margin:0 25px 50px 22px;
}

footer section ul li {
  float:left;
  clear:both;
  margin-bottom:10px;
}

footer section ul li a {
  color:#000;
  font-size:11px;
  text-decoration:none;
}

footer section ul li span {
  font-size:11px;
}

footer section ul li a:hover {
  text-decoration:underline;
}

footer section ul.footer-social-midia {
  margin:0 0 0 35px;
}

footer section ul.footer-social-midia li a {
  font-weight:bold;
  padding:4px 0 0 29px;
  float:left;
}

footer section ul.footer-social-midia li.twitter {
  background: url('../../assets/common/ico-midias-socias.png') no-repeat 0px 0;
  height:22px;
  margin-bottom: 2px;
}

footer section ul.footer-social-midia li.facebook {
  background: url('../../assets/common/ico-midias-socias.png') no-repeat 0px -26px;
  height:22px;
}

footer section ul.bandeiras {
  margin-left:54px;
}

footer section  p {
  color:#767676;
  font-size:11px;
  clear:both;
  margin-left:20px;
}
