@import 'partials/mixins';
/*@import 'partials/fonts';*/

body {
  color: #5e5f61;
  //color: #6d6e71;
  font-family: $verdana;
  font-size: 14px;

  p {
    line-height: 22px;
    a {
      color: #101010;
    }
  }

  #error-messages {
    p {
      font-family: 'Times New Roman', 'Times', serif;
      font-size: 21px;
      font-weight: bold;
      font-style: oblique;
      text-align: center;
    }
  }

  header{
    & + nav {
      a {
        font-family: 'Futura Medium';
        font-size: 11px;
      }
    }
  }

  .content {
    nav {
      font-size: 15px;
      text-transform: uppercase;
      ul {
        li {
          a {
            text-decoration: none;
            color: #797979;
          }
        }
      }
    }

    .home {
      .start {
        font-size: 24px;
        color: #FFF;
        background: transparent;
        cursor: pointer;
        color: #FFF;
        text-align:center;
        text-shadow: #B32963 1px 2px 2px;
        text-decoration: none;
        width: 290px;
        text-transform: uppercase;
        letter-spacing: -2px;
        line-height: 26px;
      }
    }

    #invite_list {
      h1 {
        text-align: center;
        font-weight:normal;
        font-style: oblique;
        font-size: 35px;
        letter-spacing: -2px;

        span {
          color: $secondary_color;
        }
      }
    }

    #main_describe {
      a {
        font-size: 20px;
        color: #FFF;
        cursor: pointer;
        text-align:center;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: -1px;
        line-height: 22px;
        padding:14px 20px 5px;
        height: 55px;
        margin-left:10px
      }
      a.logged {
        font-size: 20px;
        color: #FFF;
        cursor: pointer;
        color: #FFF;
        text-align:center;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: -1px;
        line-height: 22px;
        padding:14px 20px 5px;
        height: 50px;
        margin-left:10px
      }
    }
  }
  h1 {
    font-family: 'johnston', arial, sans-serif;
    font-size: 28px;
    font-weight: lighter;
    color: #000;
  }
  @for $i from 2 through 6 {
    h#{$i} {
      font-family: $verdana, 'avenir', arial, sans-serif;
      font-size: 28px - $i * 2;
      font-weight: normal;
      color: #000;
    }
  }
  #survey {
    h2 {
      color: #101010;
      font-family: $verdana, $avenir;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      margin: 25px auto 20px;
    }

    ul.questions {
      h3 {
        color: #101010;
        font-family: $arial, $kepler;
        font-size: 17px;
        font-weight:normal;
        text-align: center;
        height: 35px;
        margin-bottom:20px;
      }

      li {
        &.words {
          ol.options {
            li {
              label {
                font-family: 'Times New Roman', Times, serif;
                font-size: 22px;
                font-style: italic;
                line-height: 81px;
                overflow:hidden;
                letter-spacing:-1px;
              }
            }
          }
        }

        &.about {
          h2 {
            display: none;
          }
          ol.options {
            li {
              h3 {
                font-family: $verdana, $avenir;
                text-align: center;
                font-size: 22px;
                font-weight: 500;
                margin: 0 0 15px;
              }
              .question {
                li {
                  color: #595959;
                  text-align: center;
                  line-height: 36px;
                  font-size: 16px;
                  margin: 0 10px 0 0;
                  &.selected {
                    background: #000;
                    color: #FFF;
                    font-weight: 600;
                  }
                  &.last {
                    margin-right: 0;
                  }
                }
              }
            }
          }
        }

        &.style {
          ol {
            .options {
              li {
                label {
                  font-family: 'Times New Roman', Times, serif;
                  font-style: italic;
                  font-size: 16px;
                }
              }
            }
          }
        }

        &.about-part-two {
          ol {
            &.options {
              li {
                h3 {
                  text-align: left;
                  font-family: $arial, sans-serif;
                  font-style: normal;
                  font-weight: bold;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }

  #sign-up {
    h2 {
      font-size: 28px;
      text-transform: uppercase;
    }

    p {
      font-family: $arial, $kepler;
      font-size: 20px;
      color: #000;
      line-height: 18px;

      strong {
        font-weight: bold;
      }
    }

    .fb-connect {
      text-indent: -10000px;

      & + span {
        font-family: 'Times New Roman', Times, sans-serif;
        font-size: 44px;
        font-style: italic;
        color: #000;
      }
    }
  }

  > nav {
    ul {
      li {
        a {
          text-transform: uppercase;
          font-size: 11px;
          color: #FFF;
          text-decoration: none;
          text-align: center;
        }
      }
    }
  }

  section {
    &#user-info {
      #about {
        h1 {
          font-family: Times, "Times New Roman", Georgia, serif;
          font-style: oblique;
          font-size: 40px;
        }

        #main_describe {
          h2 {
            font-family: sans-serif;
          }
        }
      }
    }

    &#share-mail, &#invite-mail, &#import-contacts, &#post-to-wall {
      hgroup {
        h1 {
          font-family: $verdana, $avenir;
          font-size: 25px;
          font-weight: lighter;
          line-height: 30px;
          text-transform: uppercase;
          display: block;
        }

        h2 {
          font-size: 14px;
          text-transform: none;
          font-weight: normal;
          font-family: $verdana, $avenir;
          line-height: normal;
          margin-top: 5px;
        }
      }

      form {
        input[type='text'], textarea {
          font-size: 18px;
          color: $secondary_color;
        }
      }

      .share {
        li {
          line-height: 20px;
          text-transform: uppercase;
          font-size: 14px;
        }
      }
    }

    &#import-contacts {
      form {
        fieldset {
          &.inputs {
            ol {
              li {
                label {
                  font-weight: bold;
                }

                input {
                  &[type='password'], &[type='text'] {
                    font-size: 12px;
                    color: #000;
                  }
                }
              }
            }
          }

          &.buttons {
            ol {
              li {
                font-size: 12px;

                input[type='submit'] {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }

  .full-banner {
    display: none;

    .close {
      color: #FFF;
      font-size: 15px;
      text-transform: uppercase;
    }

    p {
      font-family: 'Times New Roman', 'Times', serif;
      color: #FFF;
      font-size: 24px;
      font-weight: bold;
      font-style: oblique;
      letter-spacing: -1px;
      line-height: 20px;
      text-align: center;
    }

    ul {
      li {
        color: #FFF;
        font-size: 19px;
        text-align: center;
        text-transform: uppercase;
        line-height: 10px;

        &:before {
          content: "";
          font-size: 30px;
          color: $secondary_color;
        }
      }

      & + a {
          text-align: center;
          color: $secondary_color;
          text-decoration: underline;
          font-size: 11px;
        }
    }
  }
}
