@import 'partials/mixins';
@import 'fonts';

body {
  header{
    & + nav {
      a {
        font-family: 'Futura Medium';
        font-size: 11px;
      }
    }
  }
  .content {
    nav {
      font-size: 15px;
      text-transform: uppercase;
      ul {
        li {
          a {
            text-decoration: none;
            color: #797979;
          }
        }
      }
    }

    .home {
      .start {
        font-size: 24px;
        color: #FFF;
        @include border-radius(10px);
        background: transparent;
        cursor: pointer;
        color: #FFF;
        text-align:center;
        text-shadow: #B32963 1px 2px 2px;
        text-decoration: none;
        width: 290px;
        text-transform: uppercase;
        letter-spacing: -2px;
        line-height: 26px;
      }
    }

    #invite_list {
      h1 {
        text-align: center;
        font-weight:normal;
        font-style: oblique;
        font-size: 35px;
        letter-spacing: -2px;

        span {
          color: $pink;
        }
      }
    }

    #main_describe {
      a {
        font-family: 'Futura Medium';
        font-size: 20px;
        color: #FFF;
        cursor: pointer;
        color: #FFF;
        text-align:center;
        text-shadow: #B32963 1px 2px 2px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: -1px;
        line-height: 22px;
        padding:14px 20px 5px;
        height: 55px;
        margin-left:10px
      }
    }
  }
  @for $i from 1 through 6 {
    h#{$i} {
      font-family: 'Times New Roman', Times, serif;
      font-size: 30px - $i * 2;
      color: #000;
    }
  }
  #survey {
    h2 {
      font-size:26px;
      letter-spacing:-1px;
      font-style: italic;
      font-weight:normal;
      margin: 5px 0px 0px 25px;
      color:#191919;
      letter-spacing:-1px;
    }

    ul.questions {
      h3 {
        font-size: 17px;
        font-weight:normal;
        letter-spacing:-1px;
        line-height:15px;
        font-style: italic;
        text-align: center;
        height: 32px;
        margin-bottom:20px;
      }

      li {
        &.words {
          ol.options {
            li {
              label {
                font-family: 'Times New Roman', Times, serif;
                font-size: 22px;
                font-style: italic;
                line-height: 81px;
                overflow:hidden;
                letter-spacing:-1px;
              }
            }
          }
        }

        &.about {
          ol.options {
            li {
              h3 {
                font-family: 'Times New Roman', Times, serif;
                font-size: 16px;
                font-style: italic;
                text-align: left;
                font-size: 22px;
              }
              .question {
                li {
                  text-align: center;
                  line-height: 36px;
                  font-size: 16px;
                  font-weight: bold;
                }
              }
            }
          }
        }

        &.style {
          ol {
            .options {
              li {
                label {
                  font-family: 'Times New Roman', Times, serif;
                  font-style: italic;
                  font-size: 16px;
                }
              }
            }
          }
        }

        &.about-part-two {
          ol {
            &.options {
              li {
                h3 {
                  text-align: left;
                  font-family: 'Arial', sans-serif;
                  font-style: normal;
                  font-weight: bold;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }

  #sign-up {
    h2 {
      font-size: 40px;
      font-weight: bold;
      font-style: italic;
      letter-spacing: -2px
    }
    
    p {
      font-family: 'Times New Roman', Times, sans-serif;
      font-style: italic;
      font-size: 20px;
      color: #000;
      line-height: 18px;
      letter-spacing: -1px;
      
      strong {
        font-weight: bold;
      }
    }

    .fb-connect {
      text-indent: -10000px;
      
      & + span {
        font-family: 'Times New Roman', Times, sans-serif;
        font-size: 44px;
        font-style: italic;
        color: #000;
      }
    }
  }

  > nav {
    ul {
      li {
        a {
          text-transform: uppercase;
          font-size: 11px;
          color: #FFF;
          text-decoration: none;
          text-align: center;
        }
      }
    }
  }

  section {
    &#user-info {
      & + nav {
        ul {
          li {
            a {
              font-family: 'Futura Light';
              font-size: 14px;
            }
          }
        }
      }
      .info {
        > h1 {
          font-weight: normal;
          font-style: italic;
          letter-spacing:-2px;
          font-size:35px;

          span {
            color: $pink;
          }

        }

        >h2 {
          font-style: italic;
          font-weight: bold;
          text-align: center;
        }
      }
      .banner {
         h1, h2, h3 {
          color: $pink;
          text-transform: uppercase;
          font-weight: bold;
          font-style: italic;
          text-transform: uppercase;
        }
        
        > h1 {
          color: #FFF;
          font-size: 18px;

          & + h2 {
            font-size: 138px;
            letter-spacing: -20px;

            & + h3 {
              font-size: 21px;
              span {
                sup {
                  font-size: 10px;
                }
              }
            }
          }
        }
        a {
          color: $pink;
          font-size: 10px;
        }
      }

      #about {
        h1 {
          font-family: Times, "Times New Roman", Georgia, serif;
          font-style: oblique;
          font-size: 40px;
        }

        #main_describe {
          h2 {
            font-family: sans-serif;
          }
        }
      }
    }

    &#share-mail, &#invite-mail, &#import-contacts {
      hgroup {
        h1, h2 {
          font-family: 'Futura Light';
          font-size: 35px;
          text-transform: uppercase;
          letter-spacing: -2px;
          text-align: right;
          line-height: 35px;
        }

        h1{
          line-height:30px;
        }

        h2 {
          font-size: 16px;
          text-transform: none;
          font-weight: normal;
          font-family: sans-serif;
          line-height: normal;
          margin-top: 15px;
          letter-spacing:-1px;
        }
      }

      form {
        input[type='text'], textarea {
          font-size: 18px;
          color: $pink;
        }
      }

      .share {
        li {
          line-height: 20px;
          text-transform: uppercase;
          font-size: 14px;
        }
      }
    }
  }

  .full-banner {
    .close {
      color: #FFF;
      font-size: 15px;
      text-transform: uppercase;
    }
    
    p {
      font-family: 'Times New Roman', 'Times', serif;
      color: #FFF;
      font-size: 24px;
      font-weight: bold;
      font-style: oblique;
      letter-spacing: -1px;
      line-height: 20px;
      text-align: center;
    }

    ul {
      li {
        color: #FFF;
        font-size: 19px;
        text-align: center;
        text-transform: uppercase;
        line-height: 10px;

        &:before {
          content: "";
          font-size: 30px;
          color: $pink;
        }
      }
      
      & + a {
          text-align: center;
          color: $pink;
          text-decoration: underline;
          font-size: 11px;
        }
    }
  }
}
