@import 'partials/mixins';

body {
  .content {
    nav {
      font-size: 15px;
      text-transform: uppercase;
      ul {
        li {
          a {
            text-decoration: none;
            color: #797979;
          }
        }
      }
    }

    .home {
      .start {
        font-size: 28px;
        color: #FFF;
        @include border-radius(10px);
        background: transparent;
        cursor: pointer;
        color: #FFF;
        text-shadow: #B32963 1px 2px 2px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: -1px;
      }
    }
  }
  @for $i from 1 through 6 {
    h#{$i} {
      font-family: 'Times New Roman', Times, serif;
      font-size: 30px - $i * 2;
      color: #000;
    }
  }
  #survey {
    h2 {
      font-style: italic;
      margin-bottom: 30px;
    }

    ul.questions {
      h3 {
        font-size: 14px;
        font-style: italic;
        text-align: center;
        height: 32px;
        margin-bottom: 15px;
      }

      li {
        &.words {
          ol.options {
            li {
              label {
                font-family: 'Times New Roman', Times, serif;
                font-size: 25px;
                font-style: italic;
                line-height: 74px;
              }
            }
          }
        }

        &.about {
          ol.options {
            li {
              h3 {
                font-family: 'Arial', sans-serif;
                font-size: 12px;
                font-style: normal;
                font-weight: bold;
                text-align: left;
              }
              .question {
                li {
                  text-align: center;
                  line-height: 36px;
                  font-size: 16px;
                  font-weight: bold;
                }
              }
            }
          }
        }

        &.style {
          ol {
            .options {
              li {
                label {
                  font-family: 'Times New Roman', Times, serif;
                  font-style: italic;
                  font-size: 16px;
                }
              }
            }
          }
        }

        &.about-part-two {
          ol {
            &.options {
              li {
                h3 {
                  text-align: left;
                  font-family: 'Arial', sans-serif;
                  font-style: normal;
                  font-weight: bold;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }

  #sign-up {
    h2 {
      font-size: 40px;
      font-weight: bold;
      font-style: italic;
    }
    
    p {
      font-family: 'Times New Roman', Times, sans-serif;
      font-style: italic;
      font-size: 20px;
      color: #000;
      line-height: 20px;
      
      strong {
        font-weight: bold;
      }
    }

    .fb-connect {
      text-indent: -10000px;
      
      & + span {
        font-family: 'Times New Roman', Times, sans-serif;
        font-size: 44px;
        font-style: italic;
        color: #000;
      }
    }
  }

  > nav {
    ul {
      li {
        a {
          text-transform: uppercase;
          font-size: 11px;
          color: #FFF;
          text-decoration: none;
          text-align: center;
        }
      }
    }
  }

  #user-info {
    .info {
      > h1 {
        font-weight: bold;
        font-style: italic;

        span {
          color: $pink;
        }

      }

      >h2 {
        font-style: italic;
        font-weight: bold;
        text-align: center;
      }
    }
    .banner {
       h1, h2, h3 {
        color: $pink;
        text-transform: uppercase;
        font-weight: bold;
        font-style: italic;
        text-transform: uppercase;
      }
      
      > h1 {
        color: #FFF;
        font-size: 18px;

        & + h2 {
          font-size: 138px;
          letter-spacing: -20px;

          & + h3 {
            font-size: 21px;
            span {
              sup {
                font-size: 10px;
              }
            }
          }
        }
      }
      a {
        color: $pink;
        font-size: 10px;
      }
    }

    #about {
      h1 {
        font-family: Times, “Times New Roman”, Georgia, serif;
        font-style: oblique;
        font-size: 40px;
      }

      #main_describe {
        h2 {
          font-family: sans-serif;
        }
      }
    }
  }
}
