<section class="banner">
  <% if @current_campaign.link  %>
    <a href=<%= @current_campaign.link %>><%=image_tag(@current_campaign.banner) %></a>
  <% else %>
    <%= image_tag(@current_campaign.banner) %>
  <% end %>
</section>
