/*
 * This css will include all web-app-theme css you need
 *
 *= require admin/base
 *= require admin/themes/default/style.css
 *= require admin/liquidation_products.css
 *= require admin/promotions.css
 *= require admin/orders.css.scss
 *= require admin/dashboard.css.scss
 *= require admin/clippings.css.scss
 *= require admin/simple_email_service.css.scss
 *= require admin/collection_themes.css.scss
 *= require admin/multiple_pictures.css.scss
 *= require common/jquery-ui-1.10.3.autocomplete_slider.min.css
 *= require_self
 */

/* Write here your css for overriding the theme's rules */

/*#main {*/
  /*width: 100%;*/
/*}*/
