@import 'new_structure/common/global_stuffs';
@import 'checkout';
@import 'new_structure/common/catalog4you';

 #main {
 	font-family: $bt_font;
 	font-size: 12px;
 	padding-top:10px;
 }

 #address {
 	width:575px;
 	padding-bottom:20px;
 	float:left;
 	#address-list {
 		width: 360px;
 		border-right: 1px solid #cdcdcd;
 		float: left;
 		li {
      margin-bottom: 10px;
 			display: block;
 			input {
 				float:left;
 				position:relative;
 				top:-3px;
 			}
 			ul {
 				margin-left:20px;
 				margin-bottom:20px;
 				br {
 					clear:both;
 				}
 				li {
 					color:#444;
 					font-size: 13px;
 					margin-bottom:2px;
          padding-left: 5px;
          font-family: $bt_font;
          line-height: 18px;
 					a {
 						float: left;
						font-size: 12px;
						padding: 2px;
						padding: 0px;
						color: #555;
						text-transform: lowercase;
						font-size: 11px;
						font-family: tahoma;
						padding-right: 5px;
					}

 				}
 				li:first-child { 
          font-family: $verdana !important;
 					font-weight: bold;
 					font-size: 14px;
 					color:#000;
 					text-transform: uppercase;
          margin-bottom: 10px;
          padding-left: 5px;
 				}
 			}
 		}
 	}
 	p a {
 		float:left;
 		font-size: 11px;
 		padding:2px;
 	}
}

.addressForm {
	form {
		width:555px;
		position:relative;
		float:left;
    margin-top: -20px;

		h4 {
			padding-bottom:20px;
			text-transform: uppercase;
			margin:0px;
      font-family: $verdana;
      font-weight: bold;
      font-size: 14px;
		}
		div {
      width: 220px;
      float: left;
      display: block;
		}
		.control-group {
			position:relative;
			height:42px;
			p {
				margin:0px !important;
				padding:0px;
			}
			input {
				width: 240px;
				padding: 10px;
				border: 1px solid #d1d1d1;
				font-family: $bt_font;
				font-size: 14px;
				color: #666;
				letter-spacing: 1px;
        float: left;
			}
			input#zip_code,
			input#number,
			input#telephone,
			input#mobile {
				width:120px;
			}

			input#state {
				width:40px;
			}
			.findCEP {
				float:right;
				font-size: 11px;
				margin-top:8px;
				margin-right:15px;
				position: absolute;
				right: 0px;
				top: 0px;
			}
			input#save-btn {
				width:100%;
				background: $base_color;
				font-family: $bt_font;
				font-size: 12px;
				text-transform: uppercase;
				color:#FFF;
				letter-spacing: 2px;
				margin-top:20px;
				@include bt_color($primary_bt_color, $primary_bt_color_hover);
				padding:20px 0 !important;
				cursor: pointer;
				border: none;
			}
			select {
				margin-bottom:6px;
			}
		}
		.state,
		.city {
			width:96%%;
			height:38px;
			background:#f1f1f1;
			border:1px solid #d1d1d1;
			margin-top:2px;
			margin-bottom:4px;
			select {
				background:none;
				width: 85%;
				border: 0px;
				font-size: 14px;
				height: 37px;
				border-radius: 0px;
				margin-left: 44px;
			}
		}
		.help-inline {
			position: absolute;
			padding: 2px 6px;
			left: 56px;
		}
		.error .help-inline {
			border: 1px solid #d1d1d1;
			background: #FFF;
			font-size: 11px;
			margin-top: -12px;
			margin-left: -3px;
			color: $base_color;
			z-index: 99;
		}
	}
}

.freights {
	float:left;
	padding-left:20px;
	height:130px;
	font-size:12px;
  margin-top: 40px;
	p {
		display: block;
		margin:0px;
	}
	h4 {
		text-transform: uppercase;
		padding-bottom:10px;
		margin:0px;
	}
	.price {
		font-weight: bold;
	}
	.default,
	.fast,
	.motoboy {
		padding-bottom:5px;
		background:image-url('cart/ico_frete.jpg') no-repeat 14px -1px;
		padding: 6px 0 7px 0;
		input {
			margin-right:60px;
		}
	}
	.fast {
		background-position: 14px -80px;
	}
	.motoboy {
		background-position: 14px -43px;
	}
}

/*********** AREA DE LOGIN *********/

.login{
	margin: 0 auto;
	.login_fb{
		width: 79%;
		height: 38px;
		background: #f1f1f1;
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 25px;
		text-align: center;
		p{
			font-family: $bt_font;
			color: #777;
			width:100%;
			text-align: left;
			text-transform: uppercase;
			font-size: 12px;
			padding-top: 13px;
			font-weight: lighter;
			letter-spacing: 2px;
			padding-left: 72px;
		}
		span{
			float: right;
			display: block;
			margin-top: -16px;
			margin-right: 40px;
		}
	}
	.login_user, .register{
		p{
			font-size: 12px;
			color: $base_color;
			font-family: $bt_font;
			letter-spacing: 1px;
			text-align: left;
			span{
				color: #000;
			}
			.error{
				font-family: $bt_font;
				color: $base_color;
				text-align: center;
				font-size: 9px;
				display: block;
				margin-top: 14px;
				text-transform: uppercase;
				width: 91%;
				background: #fcf5eb;
				padding: 5px 0;
				font-weight: 600;
			}
		}
		fieldset{
			border: none;
			margin: 0 !important;
			padding: 0 0 10px 0 !important;
			label{
				font-family: $bt_font;
				color: #2e2e2e;
				text-transform: uppercase;
				font-size: 11px;
				letter-spacing: 1px;
				width: 100px;
				text-align: right;
				display: block;
				float: left;
				margin-right: 5px;
				padding-top: 10px;
			}
			input[type="text"],input[type="email"],input[type="password"]{
				width: 185px;
				height: 27px;
				background: #fff;
				border: none;
				padding-left: 5px;
				float: left;
				border:1px solid #171717;
			}
		}
	}
	.login_user{
		width: 260px;
		float: left;
		margin-left: 185px;
		margin-right: 20px;
		border-right:1px solid #171717;
		fieldset{
			label{
				width: 40px;
			}
      #login{
        					width: 235px;
					height: 38px;
					border: none;
					margin-top: 15px;
					font-family: $bt_font;
					font-size: 12px;
					letter-spacing: 2px;
					margin-right: 10px;
					@include bt_color($primary_bt_color, $primary_bt_color_hover)
      }
			&.buttons{
				margin-top: 5px !important;
				label{
					font-size: 9px;
					width: 102px;
					color: #777;
					font-family: $bt_font;
					text-transform: none;
					padding-top: 4px;
					margin-left: -14px;
				}
				input[type="checkbox"]{
					float: left;
				}
				a{
					color: #777;
					font-size: 9px;
					font-family: $bt_font;
					float: right;
					margin-right: 24px;
					letter-spacing: 1px;
					padding-top: 3px;
					&:hover{
						color: $base_color;
					}
				}
			}
		}
	}
	.register{
		width: 355px;
		float: left;
		button[type="submit"]{
			width: 190px;
			height: 38px;
			border: none;
			margin-top: 15px;
			font-family: $bt_font;
			font-size: 12px;
			letter-spacing: 2px;
			text-transform: uppercase;
			margin-left: 105px;
			@include bt_color($primary_bt_color, $primary_bt_color_hover)
		}
		.error{
			font-family: $bt_font;
			color: $base_color;
			text-align: center;
			font-size: 9px;
			display: block;
			margin-top: 37px;
			text-transform: uppercase;
			width: 86%;
			background: #fcf5eb;
			padding: 5px 0;
			font-weight: 600;
			margin-bottom: 0 !important;
			height: 10px !important; 
		}
	}
}

/*********** AREA DE LOGIN *********/
#overlay-modal-items {
  background: #000;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.current_cart {
  position: relative;
  .modal-items {
    display: none;
    position: absolute;
    top: 0px;
    left: -10px;
    background: #fff;
    width: 102%;
    z-index: 101;
    padding: 0 0 0 10px;
    .scroll {
    	height: auto !important;
    	height:204px;
    	min-height:90px;
    	max-height:200px;
    	overflow-y:auto;
    	padding-top: 10px;
    }
    table {
    	border-top:0px;
    	tr.cart-item {
    		padding-bottom: 13px;
    		td, p {
    			font-weight: normal !important;
    			text-transform: none !important;
    			vertical-align: top;
    			span{
    				display: inline-block;
    				color: $base_color;
    				font-weight: bold;
    			}
    			img{
    				border: 1px solid #e1e1e1;
					margin-right: 10px;
					margin-top: 4px
    			}
    		}
    		td.infos{
    			padding-top: 17px;
    		}
    		p {
    			margin:0px 0 5px 0;
    		}
    		p.size{
    			width: 140px !important;
    		}
    		p.brand{
    			font-size: 12px;
    			font-weight: bold;
    			font-family: $verdana;
    			letter-spacing: 1px;
    		}
    		p:nth-child(2) {
    			font-weight: bold !important;;
    			text-transform: uppercase !important;
    		}
    		p:nth-child(3) {
    			span:first-child {
	    			padding:1px 3px;
						background: #000;
						color: #FFF
					}
					span:last-child {
						width: 14px;
						height: 14px;
						background: image-url("common/filtro-de-cores.jpg") no-repeat 0 36px;
						display: inline-block;
					}
					.amarelo, .Amarelo {background: #fff673 !important;;}
					.azul, .Azul {background: #312c90 !important;;}
					.branco, .Branco {background: white;border:1px solid #f1f1f1 !important;;}
					.laranja, .Laranja {background: #f26526 !important;;}
					.cinza, .Cinza {background: #959595 !important;;}
					.roxo, .Roxo {background: #ab1ec9 !important;;}
					.verde, .Verde {background: #00a757 !important;;}
					.vermelho, .Vermelho {background: #ff0000 !important;;}
					.preto, .Preto {background: #000 !important;;}
					.rosa, .Rosa {background: #f3c1d4 !important;;}
					.terrosos, .Terrosos {background: #603916 !important;;}
					.bege, .Bege {background: #e7dbd9 !important;;}
					.onca, .Onca {background-position: -4px -4px !important;}
					.animal-print, .Animal-print {background-position: -4px -4px !important;}
					.xadrez, .Xadrez {background-position: -114px -4px !important;}
					.prateado, .Prateado {background-position: -143px -4px !important;}
					.listras, .Listras {background-position: -60px -4px !important}
					.floral, .Floral {background-position: -86px -4px !important;}
					.estampado, .Estampado {background-position: -32px -4px !important;}
					.metalizados, .Metalizados {background-position: -142px -4px !important;}
					span {
						vertical-align: middle;
					}
    		}
    		td {
    			border-top:1px dotted #cdcdcd;
    			padding-top:10px;
    		}
    	}
    }
    p {
    	margin:10px 0 0 0;
    	padding:0px;
    }
    .close-modal {
      position: absolute;
      color: #fff;
      background-color: #000;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      top: -10px;
      right: -10px;
      cursor: pointer;
      z-index: 101;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    }
  }
}

#js-finalize-order {
	@include bt_color($primary_bt_color, $primary_bt_color_hover);
	width:100%;
	display: block;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	padding: 20px 0 !important;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	border:0px;
	font-size:12px !important;
}
.add_link{
	width: 200px;
  float: left;
	a{
		font-family: $verdana;
		color: $base_color;
		letter-spacing: 1px;
		font-size: 10px;
		text-transform: uppercase;
		padding-left: 19px;
    margin-top: 59px;
    display: block;
    text-decoration: none;
    &:hover{
      text-decoration:underline;
    }
	}
}

#js-finalize-order {
	position:relative;
	top:20px;
	z-index:200;
	cursor: pointer;
}

#js-finalize-order.disabled {
  cursor: default;
  @include bt_color($terciary_bt_color, $terciary_bt_color_hover);
}
