*.parameterize{margin:0;padding:0;outline:none;}

@import 'partials/fonts';

$avenir: avenir, arial, sans-serif;
//$avenir_medium: avenir_medium, arial, sans-serif;
$kepler: KeplerStdItalic, Times, "Times New Roman", serif;
$johnston: johnston, arial, sans-serif;


input[type="submit"]{float:left;cursor:pointer;font-size:20px;border:0;font-family:$avenir;text-shadow:0px 1px 2px #000;color:#FFF;background: image-url('campaign_emails/new_modal_sprite.png') no-repeat;}
.close{width:20px;height:20px;border:0;background:image-url("campaign_emails/sprite2.png") -289px -102px no-repeat;position:absolute;top:1px;right:8px;font-size:0;font-family:a;cursor:pointer;}
.box-remember{
	position:relative;width:412px;height:218px;border:solid 1px #000;text-align:center;padding:15px 0;margin:10px 0 0;background:#FFF;
	h3{font-family:$johnston;font-size:29px;}
	p{font-family:$avenir;font-size:13px;
		&.msg_close{font-size: 14px;margin-top: 30px;margin-bottom: 0}}
	div.msg{
		p{font-family:$avenir;font-size:13px;}
		span{
			display: block;
			font-weight: bold;
			font-size: 13px;
		}
	}
	.msg {
		background:#F0FDDF;
		border:solid 1px #CBD7BC;
		width:245px;
		height:42px;
		margin:35px auto 5px auto;
		p {
			height:35px;
			background: image-url('campaign_emails/sprite.png') -260px -45px no-repeat;
			text-align:left;
			padding-left:40px;
			margin-top:3px;
			line-height:39px;
			font-size:15px;
		}
	}
	.close_pink{background: image-url('campaign_emails/new_modal_sprite.png') -6px -117px no-repeat; width: 255px;height:55px;font-size:0;font-family:a;cursor:pointer;border:none;
	&:hover{background: image-url('campaign_emails/new_modal_sprite.png') -6px -173px no-repeat; width: 255px;height:55px;}}
	.close{top:-11px !important;right:-11px !important;}
	.f14{font-size:14px;}
	.desconto{font-size:11px;margin-top:15px;}
}
.box-remember-login{
	position:relative;width:500px !important;height:345px !important;border:solid 1px #000;text-align:center;padding:15px 0;margin:10px 0 0;background:#FFF;
	h3{font-family:$johnston;font-size:30px;letter-spacing: 1px;margin-top: 10px;text-transform: uppercase;}
	p{font-family:$avenir;font-size:14px;margin-top: 0px;}
	form{
		border:none;padding:5px 50px;width:358px;height:150px;margin:0 auto;
		fieldset{
			label{font-family:$avenir;font-size:13px;color: #5e5f61;}
			margin-bottom:5px;border:0;
			&.botoes{
				margin-top: 5px;
				text-align:left;
				div{float:left;width:150px;margin-left:15px;
					label{font-size:11px;color:#5e5f61;width:60px;display:inline-block;text-align:left;font-family:$avenir;
						&[for="user_remember_me"]{width:100px;font-size:11px;}
					}
					p{float:left;margin-top:5px !important;
						a{text-decoration:none;color:#5e5f61;font-family: $avenir;font-size: 11px;
							&:hover{text-decoration:underline;}
						}
					}
				}
				input[type="submit"]{float:right; width:120px;height:50px;background-position: -4px -231px;text-indent: 9999px;
					&:hover{background-position:-4px -287px;text-indent: 9999px;}}
			}

		}

		input[type="text"], input[type="password"]{padding-left: 10px; width:272px;height:31px;line-height:31px;border:solid 1px #C1C1C1;background: image-url('campaign_emails/bg_input.png') 0 2px repeat-x;*vertical-align:middle}
	}
	.new_user{float: left;margin-left: 85px;margin-top: -5px !important; font-size: 11px;font-family: $avenir;color: #414042; a{font-size: 11px;font-family: $avenir;color: #414042;}}
	.facebook a{display:inline-block;width:261px;height:40px;background: image-url('campaign_emails/sprite.png') 0px -52px no-repeat;font-size:0;font-family:a;margin-top:13px;}
}
.close{top:-11px !important;right:-11px !important;}
.box-continue{
	position:relative;text-align:center;border:solid 1px #000;background:#FFF;width:540px;height: 270px;margin-top: 10px;
	h3{font-family:$johnston;font-size:30px;letter-spacing: 1px;margin-top: 30px;text-transform: uppercase;}
	p{font-family:$avenir;font-size:14px;margin-top: 25px;line-height: 18px;}
	.desconto{font-family:$avenir;font-size:14px;margin-top: 40px;margin-bottom: 5px !important; line-height: 18px;}
	.close_pink{background: image-url('campaign_emails/new_modal_sprite.png') -6px -117px no-repeat; width: 255px;height:55px;font-size:0;font-family:a;cursor:pointer;border:none;
	&:hover{background: image-url('campaign_emails/new_modal_sprite.png') -6px -173px no-repeat; width: 255px;height:55px;}}
	.close{top:-11px !important;right:-11px !important;}
}

.box-cadastro{
	float:left;position:relative;width:893px;border:solid 1px #000;background:#FFF;margin-top:10px;
	img{float:left; margin-left: 15px; margin-top: 15px;}
	div.content{width:450px;height:340px;padding:0 19px;float:left;
		.titulo{font-family:$johnston;font-size:25px;color:#000;text-align:center;margin:30px 0 10px;text-transform:uppercase;line-height:35px;letter-spacing: 1px;
			span{font-family:$avenir;font-size:18px;}
		}
		.big_titulo{font-family:$johnston;font-size:25px;color:#000;text-align:center;margin:50px 0 20px;text-transform:uppercase;line-height:35px;letter-spacing: 1px;
			span{font-family:$avenir;font-size:18px;}
		}
		.cadastre{font-family:$avenir;font-size:17px;color:#050708;text-align:center;margin-left:5px;margin-bottom: -13px;}
		.adendo{font-size:14px;font-family:$avenir;float:left;width:440px;line-height:18px;margin-top:207px;color:#424242;letter-spacing:-1px;margin-left:42px;position:absolute}
	}

	form{
		input[type="text"]{float:left;border:solid 1px #cacaca;font-family:$avenir;font-size:14px;width:247px;height:30px;margin:8px 16px 0 25px;line-height:30px;color:#a7a9ab;text-align: center;}
		input[type="submit"]{width:151px;height:56px;background-position: -4px -5px;font-family:$johnston;font-size:14px;color:#FFF;padding-bottom: 3px; letter-spacing: 2px;margin-left: 7px;
			&:hover{background-position:-4px -61px;};
		}

	}
	.texto{font-size:11px;font-family:$avenir;float:right;width:135px;line-height:18px;color:#585858;margin-right:5px;margin-top:0px;
		a{color:#585858;}
	}
	small{clear:both;display:block;font-family:$avenir;font-size:11px;text-align:center;margin-top:20px;float:left;}

	.place-holder{height:45px;margin-top:5px;
		.error{margin-top: 20px;width:400px;height:32px;border:solid 1px #f4778e;background:#fdadb7;padding:0;display:none;margin-left: 29px;
			p{min-height:22px;background: image-url("campaign_emails/sprite.png") -333px 0 no-repeat;font-size:14px;padding:0 0 0 25px;color:#000;margin-top:4px;line-height:24px;font-family:$avenir;font-size:14px;}
		}
	}

	.nao-exibir{
		clear:both;height:35px;padding-left:15px;color:#000;
		input{float:left;margin:3px 5px 0 0}
		label{font-family:$avenir; font-size: 14px;}
	}
	img.bday{
		margin-left: 30px;
	}
	.futilish{
		width: 378px;
		height: 243px;
		margin-top: 32px;
		float: left;
	}

	.close{top:-11px !important;right:-11px !important;}	
}
.campaign_modal_4,.campaign_modal_5 {
	width: 680px; 
	height: 500px;
	background: image-url("campaign_emails/club.jpg") no-repeat;
	.infos{
		position: absolute;
		margin-left: 330px;
		margin-top: 147px;
		h1{
			font-family: johnston,arial,sans-serif;
		    font-size: 20px;
		    font-weight: lighter;
		    margin-left: 40px;
		    margin-top: 30px;
		    text-align: center;
		    text-transform: uppercase;
		}
		ul{
			margin-top: -15px;
			margin-bottom: 27px;
			li{
				font-family: $avenir;
				letter-spacing: 1px;
				list-style-type: none;
				text-align: center;
				font-size: 11px; 
				color: #000;
				width: 275px;
				margin-bottom: -13px;
				background: image-url("campaign_emails/star.png") no-repeat 17px 0;
				p{
					padding-top: 25px;
					color: #535353;
					text-transform: uppercase;

				}
			}
		}
		p.date{font-family: $avenir; font-size: 11px;width: 275px;text-align: center;color: #535353;margin-left: 40px;}
		.enjoy{background: image-url("campaign_emails/enjoy.png") no-repeat;width: 168px; height: 43px;display: block;text-indent: -9999px;margin-left: 90px;margin-top: 18px;}	
	}

	.close{top:-11px !important;right:-11px !important;}
}

.campaign_modal_6 {
	height: 330px;
	img{margin-top: 0px;}
}