*{margin:0;padding:0;outline:none;}

@import 'partials/fonts';

$avenir: avenir, arial, sans-serif;
//$avenir_medium: avenir_medium, arial, sans-serif;
$kepler: "Kepler Std Italic", Times, "Times New Roman", serif;
$johnston: johnston, arial, sans-serif;


input[type="submit"]{float:left;cursor:pointer;font-size:20px;border:0;font-family:$avenir;text-shadow:0px 1px 2px #000;color:#FFF;background: image-url("/assets/campaign_emails/sprite.png") no-repeat;}
.close{width:44px;height:44px;border:0;background:image-url("campaign_emails/sprite2.png") -311px -87px no-repeat;position:absolute;top:-10px;right:-13px;font-size:0;font-family:a;cursor:pointer;}
.box-remember{
	position:relative;width:500px;/*height:315px;*/border:solid 5px #000;text-align:center;padding:15px 0;margin:10px 0 0;background:#FFF;
	
	h3{font-family:$johnston;font-size:29px;}
	p{font-family:$avenir;font-size:13px;}
	
	form{
		border:solid 1px #E8E8E8;padding:18px 50px;width:356px;height:150px;margin:0 auto;
		fieldset{
			label{font-family:$avenir;font-size:15px;}
			margin-bottom:15px;border:0;
			&.botoes{
				text-align:left;
				div{float:left;width:150px;margin-left:55px;
					label{font-size:15px;color:#6D6E71;width:60px;display:inline-block;text-align:left;font-family:$avenir;
						&[for="user_remember_me"]{width:100px;font-size:12px;}
					}
					p{float:left;
						a{text-decoration:none;color:#6D6E71;
							&:hover{text-decoration:underline;}
						}
					}
				}
				input[type="submit"]{width:120px;height:50px;background-position: -36px -1px;}
			}
			
		}

		input[type="text"], input[type="password"]{width:282px;height:31px;line-height:31px;border:solid 1px #C1C1C1;background: image-url("/assets/campaign_emails/bg_input.png") 0 2px repeat-x;*vertical-align:middle}
	}
	.facebook a{display:inline-block;width:261px;height:40px;background: image-url("/assets/campaign_emails/sprite.png") 0px -52px no-repeat;font-size:0;font-family:a;margin-top:13px;}
	
	.msg{background:#F0FDDF;border:solid 1px #CBD7BC;width:455px;height:32px;margin:15px 0 5px 17px;
		p{height:21px;background: image-url("/assets/campaign_emails/sprite.png") -260px -53px no-repeat;text-align:left;padding-left:40px;margin-top:5px;line-height:21px;font-size:14px;}
	}
	.f14{font-size:14px;}
	.desconto{font-size:11px;margin-top:15px;}
}

.box-continue{
	position:relative;text-align:center;border:solid 5px #000;background:#FFF;width:540px;margin-top:10px;
	h3{font-family:$johnston;font-size:29px;}
	p{font-family:$avenir;font-size:14px;}
	.desconto{font-size:11px;margin:10px 0;}
	.btn-continue{border:0;cursor:pointer;font-size:0;font-family:a;width:195px;height:35px;background:image-url("/assets/campaign_emails/sprite.png") -1px -96px no-repeat;margin-top:10px;}
}

.box-cadastro{
	float:left;position:relative;width:893px;border:solid 5px #000;background:#FFF;margin-top:10px;
	img{float:left;}
	div.content{width:407px;height:347px;padding:0 30px;float:left;
		.titulo{font-family:$kepler;font-size:46px;color:#ef3742;text-align:center;margin:45px 0 32px;text-transform:uppercase;line-height:19px;
			span{font-family:$avenir;font-size:18px;}
		}
		.cadastre{text-transform:uppercase;font-family:$avenir;font-size:14px;color:#050708;text-align:center;margin-left:5px;}
	} 
	
	form{
		input[type="text"]{float:left;border:solid 1px #D4D4D4;font-family:$avenir;font-size:13px;width:225px;height:30px;padding-left:10px;margin:8px 16px 0 0;line-height:30px;}
		input[type="submit"]{width:150px;height:49px;background-position: -159px 0;font-family:$johnston;font-size:14px;color:#FFF;padding-bottom: 3px; letter-spacing: 2px;}
	}
	.texto{font-size:11px;font-family:$avenir;float:right;width:135px;line-height:18px;
		a{color:#000;}
	}
	small{clear:both;display:block;font-family:$avenir;font-size:11px;text-align:center;margin-top:20px;float:left;}
	
	.place-holder{height:45px;margin-top:5px;
		.error{width:400px;height:32px;border:solid 1px #F37C8F;background:#FDADB6;padding:0;display:none;
			p{min-height:22px;background: image-url("campaign_emails/sprite.png") -333px 0 no-repeat;font-size:14px;padding:0 0 0 25px;color:#000;margin-top:4px;line-height:24px;font-family:$avenir;font-size:14px;}
		}
	}	
	
	.nao-exibir{
		clear:both;background:#000;height:20px;padding:5px;color:#FFF;
		input{float:left;margin:4px 5px 0 0}
		label{font-family:$avenir;}
	}
}	