@import 'partials/mixins';
@import 'new_structure/partials/facebook_footer';

.content{
  width: 1005px !important;
.header_login {
   width: 990px;
     margin: 0 auto;
     padding-top: 20px;
        h2{
          width: 214px;
          height: 67px;
          margin: 0 auto;
        }
 }
.register_content{position: relative;width: 995px;margin: 0 auto;
  h2{margin-top: 25px;}
  ul{width: 1005px;height: 400px;margin-top: 35px;margin-bottom: 50px;
  p{font-family: $avenir;font-size: 22px;text-transform: uppercase;color: #000;text-align: center;margin-bottom: 5px;font-weight: bold;
    a{text-decoration: none;
    &.box-title{display:inline-block;height:20px;background: image-url('landing_page/bullet_dia_das_maes.png') no-repeat;padding-left:20px;}
    }
    &.preco{font-family: $avenir;font-size: 17px;margin-bottom: 10px;font-weight: normal;}
    &.last_preco{margin-left: 13px;}}
    li{width: 320px;float: left;margin-left: 20px;
      &.first{margin-left: 0;}}}}
 /******** partial products categories home *******/

 div#products_categories {width: 1020px;height: 200px;margin: 0 0 18px;padding: 15px 0 0 0;float: left;
   ul {width: 100%;overflow: auto;margin-top: 35px;
     li {
       a {width: 63px;height: 100px;background: image-url("home/categories.png") no-repeat;color: #000;float: left;text-indent: -9999px;margin-right: 29px;
         &:hover {color: #ef3742;}
       }
       &.blusa a {background-position: -5px 0px; margin-left:5px;
         &:hover {background-position: -5px -146px;}
       }
       &.camisa a {background-position: -100px 0px;
         &:hover {background-position: -100px -146px;}
       }
       &.calca a {background-position: -196px 0px;
         &:hover {background-position: -196px -146px;}
       }
       &.vestido a {background-position: -293px 0px;
         &:hover {background-position: -293px -146px;}
       }
       &.anabela a {background-position: -387px 0px;
         &:hover {background-position: -387px -146px;}
       }
       &.bota a {background-position: -477px 0px;
         &:hover {background-position: -477px -146px;}
       }
       &.sapatilha a {background-position: -570px 0px;
       &:hover {background-position: -570px -146px;}
     }
     &.scarpin a {background-position: -662px 0px;
       &:hover {background-position: -662px -146px;}
     }
     &.sneaker a {background-position: -756px 0px;
       &:hover {background-position: -756px -146px;}
     }
     &.acessorios a {background-position: -853px 0px;
       &:hover {background-position: -853px -146px;}
     }
     &.bolsas a {background-position: -943px 0px;margin-right: 0 !important;
       &:hover {background-position: -943px -146px;}
       } 
     }
   }
 }

/******** end partial products categories home *******/
}


