@import 'partials/mixins';
.content{
  width: 1005px !important;
.header_login {
   width: 990px;
     margin: 0 auto;
     padding-top: 20px;
        h2{
          width: 214px;
          height: 67px;
          margin: 0 auto;
        }
 }
.register_content{position: relative;width: 995px;margin: 0 auto;
  h2{margin-top: 25px;}
  ul{width: 1005px;height: 400px;margin-top: 35px;margin-bottom: 50px;
  p{font-family: $avenir;font-size: 22px;text-transform: uppercase;color: #000;text-align: center;margin-bottom: 5px;font-weight: bold;
    a{text-decoration: none;}
    &.preco{font-family: $avenir;font-size: 17px;margin-bottom: 10px;font-weight: normal;}
    &.last_preco{margin-left: 13px;}}
    li{width: 320px;float: left;margin-left: 20px;
      &.first{margin-left: 0;}}}}
 /******** partial products categories home *******/

div#products_categories {
    width: 760px;
    height: 140px;
    margin: 0 0 30px;
    padding: 35px 0 0 0;
    float: left;
    border-top: 1px #cbcbcb solid;
    >h1 {
      font-family: $avenir;
      font-size: 20px;
      font-weight: 600;
      text-transform: uppercase;
      margin: 0 0 25px 0;
    }
    ul {
      width: 100%;
      overflow: auto;

      li {
      a {
        background: image-url("home/categories.png") no-repeat;
        color: #000;
        font-size: 11px;
        text-align: center;
        text-decoration: none;
        height: 40px;
        margin: 0 18px 0 0;
        padding: 75px 0 0 0;
        float: left;
        &:hover {
          color: #ef3742;
        }
      }
      &.blusa a {
        background-position: 6px 0px;
        width: 45px;
        &:hover {
          background-position: 6px -189px;
        }
      }
      &.camisa a {
        background-position: -48px 0;
        width: 45px;
        &:hover {
          background-position: -48px -189px;
        }
      }
      &.calca a {
        background-position: -99px 0;
        width: 45px;
        &:hover {
          background-position: -99px -189px;
        }
      }
      &.saia a {
        background-position: -150px 0;
        width: 45px;
        &:hover {
          background-position: -150px -189px;
        }
      }
      &.vestido a {
        background-position: -200px 0;
        width: 45px;
        &:hover {
          background-position: -200px -189px;
        }
      }
      &.anabela a {
        background-position: -252px 0;
        width: 45px;
        &:hover {
          background-position: -252px -189px;
        }
      }
      &.rasteira a {
        background-position: -312px 0;
        width: 53px;
        &:hover {
          background-position: -312px -189px;
        }
      }
      &.sandalia a {
        background-position: -355px 0;
        &:hover {
          background-position: -355px -189px;
        }
      }
      &.sapatilha a {
        background-position: -389px 0;
        &:hover {
          background-position: -389px -189px;
        }
      }
      &.scarpin a {
        background-position: -458px 0;
        &:hover {
          background-position: -458px -189px;
        }
      }
      &.slipper a {
        background-position: -513px 0;
        width: 43px;
        &:hover {
          background-position: -513px -189px;
        }
      }
      &.sneaker a {
        background-position: -513px 0;
        &:hover {
          background-position: -513px -189px;
        }
      }
      &.acessorios a {
        background-position: -624px 0;
        &:hover {
          background-position: -624px -189px;
        }
      }
      &.bolsas a {
        background-position: -572px 0;
        &:hover {
          background-position: -572px -189px;
        }
      }
      &.oculos a {
        background-position: -728px 0;
        &:hover {
          background-position: -728px -189px;
        }
      }
        
    }
    }
  }
  div#facebook_box {
    width: 195px;
    height: 140px;
    padding: 35px 0 0 20px;
    float: right;
    border-top: 1px #cbcbcb solid;
    img {
      margin: 37px 7px 20px 0;
      float: left;
    }
    h1 {
      color: #36569e;
      font-family: $avenir;
      font-size: 14px;
      margin-top: 35px;
      span {
        font-size: 17px;
        font-weight: bold;
      }
    }
    .like {
      clear: both;
    }
  }
/****** IE8 HACK *******/
html.ie8{
   section#home{
      li.iehack{margin:0 !important;}
   }
}
/******** end partial products categories home *******/
}


