// Place all the styles related to the reseller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'new_structure/common/global_stuffs';

#revenda{
	width: 970px;
	margin: 0 auto;
  .about, .box_right{
    float: left;
  }
	.about{
    width: 535px;
    margin-bottom: 20px;
    margin-right: 9px;
		h2{
			font-family: $johnston;
			font-size: 18px;
			color: #000;
			text-transform: uppercase;
		}
    p.infos{
      font-family: $avenir;
      font-size: 14px;
      color: #000;
      margin-top: 15px;
    }
    a.anchor_button{
      margin-top: 25px;
      margin-left: 50px;
      width: 446px;
      height: 56px;
      display: block;
      text-indent: -9999px;
      background: image-url("reseller/bt_anchor.jpg") no-repeat 0 0;
      &:hover{
        background: image-url("reseller/bt_anchor.jpg") no-repeat 0 -62px;
      }
    }
    ul{
      margin-top: 25px;
      li{
        font-family: $avenir;
        font-size: 15px;
        background: image-url("reseller/bt_anchor.jpg") no-repeat 0 -130px;
        height: 17px;
        padding-left: 35px;
        padding-top: 12px;
        &.title{
          background: none;
          text-transform: uppercase;
          font-weight: bold;
          padding: 0;
          font-size: 18px;
          letter-spacing: 1px;
          margin-bottom: 10px;
        }
      }
    }
    p.bonus{
      font-size: 12px;
      font-style: italic;
      margin-left: 35px;
      margin-top: 20px;
    }
	}
  .seller{
    height: 375px;
    width: 970px;
    display: block;
    float: left;
    margin-top: 20px;
    border-bottom: 1px solid #959595;
    margin-bottom: 55px;
    h2{
      font-family: $johnston;
      font-size: 18px;
      color: #000;
      text-transform: uppercase;
    }
    ul{
      margin-top: 10px;
      li{
        float: left;
        height: 315px;
        background: image-url("reseller/sprite_icons.png") no-repeat 0 -5px;
        p{
          width: 294px;
          font-size: 14px;
          font-family: $avenir;
          padding-top: 185px;
          line-height: 20px;
          span{
            font-weight: bold;
            display: block;
            font-size: 15px;
          }
        }
        &.register{
          width: 330px;
        }
        &.buy{
          width: 310px;
          background-position: -342px -5px;
          p{
            width: 243px;
            margin-left: 35px;
          }
        }
        &.reseller{
          width: 330px;
          background-position: -649px -5px;
          p{
            margin-left: 35px;
            width: 277px;
          }
        }
      }
    }
  }
}