<h1>Créditos da última compra:</h1>
<table cellpadding="0" cellspacing="0">
  <tbody>
    <tr class="full">
      <td>
        <h4>20% de R$90,90 = <span>R$ 60,00</span></h4>
        <p>Válidos até o final de agosto</p>
      </td>
    </tr>
  </tbody>
</table>
