<h1>Crédito de indicações de amigas:</h1>
<table cellpadding="0" cellspacing="0">
  <tfoot>
    <tr>
      <td>Crédito disponível</td>
      <td><%= number_to_currency user.current_credit %></td>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <td>Convidadas que já compraram: <span>6</span></td>
      <td><span>R$ 60,00</span></td>
    </tr>
    <tr>
      <td>Crédito utilizado</td>
      <td class="negative">- R$ 10,00</td>
    </tr>
  </tbody>
</table>
