<h2>Editing image</h2>

<div class="inner">
  <%= render 'form' %>
</div>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'Show', admin_lookbook_image_path(@image.lookbook) %></li>
  <li><%= link_to 'Back', admin_lookbook_path(@image.lookbook) %></li>
<% end %>
