.filter
  %p.title-category Marca
  %ul.category-list
    - filters_by('brand_facet').each do |text, amount|
      / %li= filter_link_to(brand_path(SeoUrl.build_for_brands(search.filters_applied(:brand, text.chomp), params)), text.chomp.gsub('Ç', 'ç').downcase.titleize, search.filter_selected?(:brand, text.chomp))
      %li= filter_link_to(brand_path(:parameters => text.chomp.gsub('Ç', 'ç').downcase.titleize),text.chomp.gsub('Ç', 'ç').downcase.titleize, search.filter_selected?(:brand, text.chomp.gsub('Ç', 'ç').downcase.titleize))
