<div id="birthdays_list">
  <% if friends and friends.any? %>
    <ul>
      <% friends.each do |friend| %>
        <li>
          <div class="mask">
            <%= image_tag user_avatar(friend, "square"), :title => friend.name %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>