<div id="birthdays_list">
  <% if friends.any? %>
    <ul class="friends_list">
      <% friends.each do |friend| %>
        <li>
          <%= link_to "#" do %>
            <div class="mask">
              <%= image_tag user_avatar(friend, "square"), :title => friend.name %>
            </div>
            <p><%= friend.first_name %></p>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
