#help
  %h2 Consultoria de estilo
  %p
    Responda ao quiz. Nossas stylists
    %br 
      endenderão o perfil dela 
    e você receberá recomendações
  = link_to "Responder quiz", "#"
  = link_to "Fechar", "#", :class => "close"
