<div id="help">
  <h1>Precisa de ajuda?</h1>
  <p>Responda a um rápido QUIZ. <br />Nossas stylists entenderão o perfil dela e você receberá recomendações.</p>
  <%= link_to "Responder quiz", "#" %>
  <%= link_to "Fechar", "#", :class => "close" %>
</div>
