<!--<div id="help" class="reminder">
  <p>hey! você não finalizou<br /> o presente da</p>
  <p class="name">MARIA</p>
  <%# link_to "Ver Recomendações", "#", :class => "bt-recomendation" %>
  <%# link_to "Ver meus presentes", "/conta/presentes", :class => "my-gifts" %>
  <%# link_to "Fechar", "#", :class => "close" %>
</div>-->
