<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<title>Olook</title>
</head>

<body>
<table cellspacing="0" border="0" align="center" width="620" cellpadding="0">
  <tbody
  <tr>
    <td>
      <table cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td width="189"><img title="olook" src="http://cdn.olook.com.br/assets/emailmkt/transacionais/reinvite/logo.jpg" border="0" alt="olook" /></td>
          <td align="left" width="431"><a href="http://www.olook.com.br/convite/?utm_source=midiasproprias&utm_medium=email&utm_content=reinvite&utm_campaign=reinvite1"><img title="Todos os produtos por R$69,90 R$99,90 ou R$129,90. Frete gratuito a partir de R$100 e devolução fácil e gratuita. O cadastro é gratuito e leva menos de 2 minutos. Todos os meses uma coleção nova para você." src="http://cdn.olook.com.br/assets/emailmkt/transacionais/reinvite/frases.gif" border="0" alt="Todos os produtos por R$69,90 R$99,90 ou R$129,90. Frete gratuito a partir de R$100 e devolução fácil e gratuita. O cadastro é gratuito e leva menos de 2 minutos. Todos os meses uma coleção nova para você." /></a></td>
        </tr>
      </tbody></table>
    </td>
  </tr>
  <tr>
    <td><a href="#"><img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/reinvite/L1-invite-copy_03.jpg" border="0" height="24" alt="" width="620" /></a>
    </td>
  </tr>
  <tr>
    <td align="center"><br />
<div style="font-family:Arial, Helvetica, sans-serif; width:540px; text-align:left">

<p style="font-size:16px;">Olá <span style="color:#E05789;"><%= @resource.first_name %></span>!</p>

<p style="font-size:14px">Você solicitou este link para a alteração de sua senha.</p>

<p style="font-size:14px"><%= link_to 'Clique aqui para alterá-la', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p style="font-size:14px">Se você não fez esta solicitação, por favor ignore este e-mail.</p>
<p style="font-size:14px">Sua senha não será alterada até que você acesse o link acima e informe uma nova.</p>
</div>
    <br /><br /></td>
  </tr><tr>
          <td>
          <img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/reinvite/L1-invite-copy_09.jpg" height="34" alt="" width="620" />
          </td>
        </tr>
      </tbody></table>
</body>​
