<p>Olá <%= @resource.email %>!</p>

<p>Você solicitou este link para a alteração de sua senha.</p>

<p><%= link_to 'Clique aqui para alterar sua senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não fez esta solicitação, por favor ignore este e-mail.</p>
<p>Sua senha não será alterada até que você acesse o link acima e informe uma nova.</p>
