<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>olook</title>
  </head>

  <body>
  <table border="0" align="center" cellpadding="0" cellspacing="0" width="620">
   </tr>
   <tr>
     <td align="center" height="30">
     </td>
   </tr>

   <tr>
        <td>
          <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <!-- logo -->
              <td>
                <a href="http://www.olook.com.br/convite/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=boletoreminder">
                <img src="http://cdn.olook.com.br/assets/emailmkt/topo/logo_barra.jpg" alt="Todos os meses uma nova coleção para você." border="0" title="Todos os meses uma nova coleção para você." style="display:block"></a>
              </td>

              <!-- instagram -->
              <td>
                <a href="http://statigr.am/olook">
                <img src="http://cdn.olook.com.br/assets/emailmkt/topo/ico_in.jpg" alt="Instagram" border="0" title="Instagram" style="display:block"></a>
              </td>
              <!-- twitter -->
              <td>
                <a href="https://twitter.com/olook">
                <img src="http://cdn.olook.com.br/assets/emailmkt/topo/ico_tw.jpg" alt="twitter" border="0" title="twitter" style="display:block"></a>
              </td>
              <!-- facebook -->
              <td>
                <a href="http://www.facebook.com/olook">
                <img src="http://cdn.olook.com.br/assets/emailmkt/topo/ico_fb.jpg" alt="Facebook" border="0" title="Facebook" style="display:block"></a>
              </td>
              <!-- blog -->
              <td>
                <a href="http://blog.olook.com.br">
                <img src="http://cdn.olook.com.br/assets/emailmkt/topo/ico_bg.jpg" alt="Blog" border="0" title="Blog" style="display:block"></a>
              </td>
            </tr>
          </table>
        </td>
      </tr>

   <tr>
   <td align="center"><br>
    <div style="font-family:Verdana,Helvetica,Arial, sans-serif; font-size:14px; width:540px; text-align:left">


    <p style="font-size:16px;">Olá <%= @user.first_name %>,</p>

    <p>Estamos enviando este e-mail porque você solicitou instruções para criação de uma nova senha na Olook.</p>
    <p>O processo é bem simples, basta clicar em <%= link_to 'Criar nova senha', edit_user_registration_url(@resource, :reset_password_token => @resource.reset_password_token), style: "color:#ef3742;" %>.</p>
    <p>Se você não solicitou instruções para criação de uma nova senha, desconsidere este e-mail.</p>
    <br>
    <p>Até mais ;)<br>
    Equipe Olook<br></p>
    <a href="http://www.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=reset_password" style="color:#ef3742; font-size:14px">www.olook.com.br</a>

    </div>
   <br><br></td>

   </table>
   </td>
   </tr>
  </table>

  </body>
</html>