/* line 1, ../../../app/assets/stylesheets/admin/base.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 2, ../../../app/assets/stylesheets/admin/base.scss */
.clear {
  clear: both;
  height: 0;
}

/* line 4, ../../../app/assets/stylesheets/admin/base.scss */
.wat-cf:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 12, ../../../app/assets/stylesheets/admin/base.scss */
.wat-cf {
  display: inline-block;
}

/* Hides from IE-mac \*/
/* line 15, ../../../app/assets/stylesheets/admin/base.scss */
* html .wat-cf {
  height: 1%;
}

/* line 16, ../../../app/assets/stylesheets/admin/base.scss */
.wat-cf {
  display: block;
}

/* End hide from IE-mac */
/* line 19, ../../../app/assets/stylesheets/admin/base.scss */
h1 {
  margin: 15px 14px;
  font-size: 22px;
  font-weight: normal;
}

/* line 20, ../../../app/assets/stylesheets/admin/base.scss */
h2 {
  font-size: 22px;
  margin: 15px 0;
  font-weight: normal;
  width: 100%;
}

/* line 21, ../../../app/assets/stylesheets/admin/base.scss */
h3 {
  font-size: 18px;
  margin: 10px 0;
  font-weight: normal;
}

/* line 22, ../../../app/assets/stylesheets/admin/base.scss */
h4 {
  font-size: 16px;
  margin: 10px 0;
  font-weight: normal;
}

/* line 23, ../../../app/assets/stylesheets/admin/base.scss */
hr {
  height: 1px;
  border: 0;
}

/* line 24, ../../../app/assets/stylesheets/admin/base.scss */
p {
  margin: 15px 0;
}

/* line 25, ../../../app/assets/stylesheets/admin/base.scss */
a img {
  border: none;
}

/* line 27, ../../../app/assets/stylesheets/admin/base.scss */
body {
  font-size: 12px;
  font-family: sans-serif;
}

/* line 32, ../../../app/assets/stylesheets/admin/base.scss */
.field {
  margin: 15px;
  display: block;
}

/* line 37, ../../../app/assets/stylesheets/admin/base.scss */
.info {
  font-size: 10px;
  color: #999;
  font-family: Arial, Verdana, Tahoma;
}

/* line 43, ../../../app/assets/stylesheets/admin/base.scss */
.left_aligned {
  float: left;
}

/* line 47, ../../../app/assets/stylesheets/admin/base.scss */
.right_aligned {
  float: right;
}

/* line 51, ../../../app/assets/stylesheets/admin/base.scss */
#container {
  min-width: 960px;
}

/* line 55, ../../../app/assets/stylesheets/admin/base.scss */
#header, #wrapper {
  padding: 0 20px;
}

/* line 59, ../../../app/assets/stylesheets/admin/base.scss */
#header {
  position: relative;
  padding-top: 1px;
}

/* line 64, ../../../app/assets/stylesheets/admin/base.scss */
#header h1 {
  margin: 0;
  padding: 10px 0;
  font-size: 26px;
}

/* line 70, ../../../app/assets/stylesheets/admin/base.scss */
#header h1 a:link, #header h1 a:active, #header h1 a:hover, #header h1 a:visited {
  text-decoration: none;
}

/* line 74, ../../../app/assets/stylesheets/admin/base.scss */
#main {
  float: left;
}

/* line 75, ../../../app/assets/stylesheets/admin/base.scss */
#main.sidebar {
  width: 77%;
}

/* line 76, ../../../app/assets/stylesheets/admin/base.scss */
#main.nosidebar {
  width: 100%;
}

/* line 78, ../../../app/assets/stylesheets/admin/base.scss */
.actions-bar {
  padding: 10px 1px;
}

/* line 82, ../../../app/assets/stylesheets/admin/base.scss */
.actions-bar .actions {
  float: left;
}

/* line 87, ../../../app/assets/stylesheets/admin/base.scss */
.actions-bar .pagination {
  float: right;
  padding: 1px 0;
}

/* line 92, ../../../app/assets/stylesheets/admin/base.scss */
#sidebar {
  width: 25%;
  float: right;
}

/* line 97, ../../../app/assets/stylesheets/admin/base.scss */
#sidebar h3 {
  padding: 10px 15px;
  margin: 0;
  font-size: 13px;
}

/* line 103, ../../../app/assets/stylesheets/admin/base.scss */
#sidebar .block {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

/* line 108, ../../../app/assets/stylesheets/admin/base.scss */
#sidebar .block .content {
  padding: 0 15px;
}

/* line 112, ../../../app/assets/stylesheets/admin/base.scss */
#sidebar ul.navigation li a:link, #sidebar ul.navigation li a:visited {
  display: block;
  padding: 10px 15px;
}

/* line 117, ../../../app/assets/stylesheets/admin/base.scss */
#sidebar .block .sidebar-block, #sidebar .notice {
  padding: 10px;
}

/* line 121, ../../../app/assets/stylesheets/admin/base.scss */
#wrapper {
  padding-top: 20px;
}

/* line 125, ../../../app/assets/stylesheets/admin/base.scss */
#main .block {
  margin-bottom: 20px;
  padding-top: 1px;
}

/* line 130, ../../../app/assets/stylesheets/admin/base.scss */
#main .block .content .inner {
  padding: 0 15px 15px;
}

/* line 134, ../../../app/assets/stylesheets/admin/base.scss */
#main .main p.first {
  margin-top: 0;
}

/* line 138, ../../../app/assets/stylesheets/admin/base.scss */
#user-navigation {
  position: absolute;
  top: 0px;
  right: 20px;
}

/* line 144, ../../../app/assets/stylesheets/admin/base.scss */
#main-navigation {
  width: 100%;
}

/* line 148, ../../../app/assets/stylesheets/admin/base.scss */
#user-navigation ul, #main-navigation ul, .secondary-navigation ul, #sidebar ul.navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 154, ../../../app/assets/stylesheets/admin/base.scss */
#user-navigation ul li, #main-navigation ul li, .secondary-navigation ul li {
  float: left;
}

/* line 158, ../../../app/assets/stylesheets/admin/base.scss */
#main-navigation ul li {
  margin-right: 5px;
}

/* line 162, ../../../app/assets/stylesheets/admin/base.scss */
#user-navigation ul li {
  padding: 5px 10px;
}

/* line 168, ../../../app/assets/stylesheets/admin/base.scss */
#main-navigation ul li a:link, #main-navigation ul li a:visited, #main-navigation ul li a:hover, #main-navigation ul li a:active,
.secondary-navigation ul li a:link, .secondary-navigation ul li a:visited, .secondary-navigation ul li a:hover, .secondary-navigation ul li a:active,
#user-navigation ul li a:link, #user-navigation ul li a:visited, #user-navigation ul li a:hover, #user-navigation ul li a:active {
  text-decoration: none;
}

/* line 172, ../../../app/assets/stylesheets/admin/base.scss */
#main-navigation ul li a {
  font-size: 14px;
  line-height: 14px;
  display: block;
  padding: 8px 15px;
}

/* line 179, ../../../app/assets/stylesheets/admin/base.scss */
.secondary-navigation {
  font-size: 13px;
  border-bottom-width: 10px;
  border-bottom-style: solid;
}

/* line 185, ../../../app/assets/stylesheets/admin/base.scss */
.secondary-navigation ul li a {
  display: block;
  padding: 10px 15px;
}

/* line 190, ../../../app/assets/stylesheets/admin/base.scss */
#footer {
  padding-bottom: 20px;
}

/* pagination */
/* line 196, ../../../app/assets/stylesheets/admin/base.scss */
.pagination a, .pagination span, .pagination em {
  padding: 2px 5px;
  margin: 5px 5px 5px 0;
  display: block;
  float: left;
  border-style: solid;
  border-width: 1px;
}

/* line 205, ../../../app/assets/stylesheets/admin/base.scss */
.pagination em {
  font-weight: bold;
}

/* line 209, ../../../app/assets/stylesheets/admin/base.scss */
.pagination a {
  text-decoration: none;
}

/* tables */
/* line 214, ../../../app/assets/stylesheets/admin/base.scss */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

/* line 220, ../../../app/assets/stylesheets/admin/base.scss */
.table th {
  padding: 10px;
  font-weight: bold;
  text-align: left;
}

/* line 226, ../../../app/assets/stylesheets/admin/base.scss */
.table th.first {
  width: 30px;
}

/* line 230, ../../../app/assets/stylesheets/admin/base.scss */
.table th.last {
  width: 200px;
}

/* line 233, ../../../app/assets/stylesheets/admin/base.scss */
.table th .current {
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 12px;
}

/* line 238, ../../../app/assets/stylesheets/admin/base.scss */
.table th .asc {
  background-image: url(/dev-assets/admin/up_arrow.gif);
}

/* line 241, ../../../app/assets/stylesheets/admin/base.scss */
.table th .desc {
  background-image: url(/dev-assets/admin/down_arrow.gif);
}

/* line 245, ../../../app/assets/stylesheets/admin/base.scss */
.table .checkbox {
  margin-left: 10px;
}

/* line 249, ../../../app/assets/stylesheets/admin/base.scss */
.table td {
  padding: 10px;
}

/* line 253, ../../../app/assets/stylesheets/admin/base.scss */
.table td.last {
  text-align: right;
}

/* forms */
/* line 259, ../../../app/assets/stylesheets/admin/base.scss */
input.checkbox {
  margin: 0;
  padding: 0;
}

/* line 264, ../../../app/assets/stylesheets/admin/base.scss */
.form .group {
  margin-bottom: 15px;
}

/* line 268, ../../../app/assets/stylesheets/admin/base.scss */
.form div.left {
  width: 20%;
  float: left;
}

/* line 273, ../../../app/assets/stylesheets/admin/base.scss */
.form div.right {
  width: 75%;
  float: right;
}

/* line 278, ../../../app/assets/stylesheets/admin/base.scss */
.form .columns .column {
  width: 48%;
}

/* line 282, ../../../app/assets/stylesheets/admin/base.scss */
.form .columns .left {
  float: left;
}

/* line 286, ../../../app/assets/stylesheets/admin/base.scss */
.form .columns .right {
  float: right;
}

/* line 290, ../../../app/assets/stylesheets/admin/base.scss */
.form label.label, .form input.text_field, .form textarea.text_area {
  font-size: 1.2em;
  padding: 1px 0;
  margin: 0;
}

/* line 296, ../../../app/assets/stylesheets/admin/base.scss */
.form label.right {
  text-align: right;
}

/* line 300, ../../../app/assets/stylesheets/admin/base.scss */
.form input.checkbox, .form input.radio {
  margin-right: 5px;
}

/* line 304, ../../../app/assets/stylesheets/admin/base.scss */
.form label.checkbox, .form label.radio {
  line-height: 1.5em;
}

/* line 308, ../../../app/assets/stylesheets/admin/base.scss */
.form label.label {
  display: block;
  padding-bottom: 2px;
  font-weight: bold;
}

/* line 314, ../../../app/assets/stylesheets/admin/base.scss */
.form div.fieldWithErrors label.label {
  display: inline;
}

/* line 318, ../../../app/assets/stylesheets/admin/base.scss */
.form .fieldWithErrors .error {
  color: red;
}

/* line 322, ../../../app/assets/stylesheets/admin/base.scss */
.form input.text_field, .form textarea.text_area {
  width: 100%;
  border-width: 1px;
  border-style: solid;
}

/* lists */
/* line 330, ../../../app/assets/stylesheets/admin/base.scss */
ul.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 336, ../../../app/assets/stylesheets/admin/base.scss */
ul.list li {
  clear: left;
  padding-bottom: 5px;
}

/* line 341, ../../../app/assets/stylesheets/admin/base.scss */
ul.list li .left {
  float: left;
}

/* line 345, ../../../app/assets/stylesheets/admin/base.scss */
ul.list li .left .avatar {
  width: 50px;
  height: 50px;
}

/* line 350, ../../../app/assets/stylesheets/admin/base.scss */
ul.list li .item {
  margin-left: 80px;
}

/* line 354, ../../../app/assets/stylesheets/admin/base.scss */
ul.list li .item .avatar {
  float: left;
  margin: 0 5px 5px 0;
  width: 30px;
  height: 30px;
}

/* box */
/* line 363, ../../../app/assets/stylesheets/admin/base.scss */
#box {
  width: 500px;
  margin: 50px auto;
}

/* line 368, ../../../app/assets/stylesheets/admin/base.scss */
#box .block {
  margin-bottom: 20px;
}

/* line 372, ../../../app/assets/stylesheets/admin/base.scss */
#box .block h2 {
  padding: 10px 15px;
  margin: 0;
}

/* line 377, ../../../app/assets/stylesheets/admin/base.scss */
#box .block .content {
  padding: 10px 20px;
}

/*  Inspired by http://particletree.com/features/rediscovering-the-button-element */
/* line 382, ../../../app/assets/stylesheets/admin/base.scss */
a.button:link, a.button:visited, a.button:hover, a.button:active, button.button {
  color: #222;
  display: block;
  float: left;
  margin: 0 7px 0 0;
  background-color: #eee;
  border: 1px solid #bfbfbf;
  font-size: 1em;
  line-height: 1.3em;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px 6px 7px;
  text-decoration: none;
}

/* line 397, ../../../app/assets/stylesheets/admin/base.scss */
button.button {
  width: auto;
  overflow: visible;
  padding: 4px 10px 3px 7px;
  /* IE6 */
}

/* line 402, ../../../app/assets/stylesheets/admin/base.scss */
button.button[type] {
  padding: 5px 10px 5px 7px;
  /* Firefox */
  line-height: 17px;
  /* Safari */
}

/* line 407, ../../../app/assets/stylesheets/admin/base.scss */
*:first-child + html button.button[type] {
  padding: 4px 10px 3px 7px;
  /* IE7 */
}

/* line 411, ../../../app/assets/stylesheets/admin/base.scss */
button.button img, a.button img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
}

/* line 419, ../../../app/assets/stylesheets/admin/base.scss */
button.button:hover, a.button:hover {
  background-color: #dedede;
}

/* line 423, ../../../app/assets/stylesheets/admin/base.scss */
button.button:active, a.button:active {
  background-color: #e5e5e5;
}

/* line 426, ../../../app/assets/stylesheets/admin/base.scss */
.text_button_padding {
  color: #222222;
  display: block;
  float: left;
  font-size: 1em;
  line-height: 2em;
  margin: 0 7px 0 0;
  padding: 5px 0 6px 7px;
  text-decoration: none;
}

/* line 436, ../../../app/assets/stylesheets/admin/base.scss */
.link_button {
  cursor: pointer;
}

/* line 440, ../../../app/assets/stylesheets/admin/base.scss */
.hidden_destroy {
  float: right;
  position: relative;
  margin: 0 30px 0 30px;
}

/* line 446, ../../../app/assets/stylesheets/admin/base.scss */
.content .hidden_destroy a, .hidden_destroy a:link {
  color: #f5f5f5;
  font-size: 8px;
}

/* line 451, ../../../app/assets/stylesheets/admin/base.scss */
.content .hidden_destroy a:hover {
  color: #ff0000;
}

/* line 455, ../../../app/assets/stylesheets/admin/base.scss */
.admin_carousel_image {
  position: relative;
  display: inline;
  margin: 10px;
}

/* line 461, ../../../app/assets/stylesheets/admin/base.scss */
.destroy_carousel_image {
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 17px;
  font-family: Verdana, Tahoma, Arial;
  background-color: #800000;
  color: #fff;
  text-align: center;
}

/* line 473, ../../../app/assets/stylesheets/admin/base.scss */
.search {
  background: #ededed;
  padding: 10px;
  margin: 15px 15px 5px 15px;
}

/* line 478, ../../../app/assets/stylesheets/admin/base.scss */
.search h3 {
  font-size: 140%;
  margin: 3px 0;
}

/* line 482, ../../../app/assets/stylesheets/admin/base.scss */
.search input[type=search], .search input[type=text] {
  width: 175px;
}

/* line 483, ../../../app/assets/stylesheets/admin/base.scss */
fieldset {
  border: 1px solid #ddd;
  padding: 5px 10px;
  margin-bottom: 10px;
}

/* line 484, ../../../app/assets/stylesheets/admin/base.scss */
fieldset legend {
  font-size: 140%;
}

/* line 486, ../../../app/assets/stylesheets/admin/base.scss */
#sync_products {
  margin: 20px;
}

/* line 488, ../../../app/assets/stylesheets/admin/base.scss */
.not-visible, .not-visible td, .not-visible td *, .not-visible td img {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

/* line 493, ../../../app/assets/stylesheets/admin/base.scss */
.handle:hover {
  cursor: move;
}

/* line 495, ../../../app/assets/stylesheets/admin/base.scss */
.batch_form_content {
  width: 360px;
  padding: 26px;
}

/* line 500, ../../../app/assets/stylesheets/admin/base.scss */
.batch_form {
  width: 400px;
}

/* line 504, ../../../app/assets/stylesheets/admin/base.scss */
.batch_right_aligned {
  float: right;
  margin-top: 10px;
  font-size: 14px;
}
