/* line 2, ../../../app/assets/stylesheets/admin/catalog_header.css.scss */
form#new_catalog_base .field, form#edit_catalog_base .field {
  display: block;
  width: 520px;
  border: solid 1px;
  padding: 5px;
  border-color: #ddd;
}
/* line 8, ../../../app/assets/stylesheets/admin/catalog_header.css.scss */
form#new_catalog_base .field input, form#edit_catalog_base .field input {
  width: 300px;
}
/* line 12, ../../../app/assets/stylesheets/admin/catalog_header.css.scss */
form#new_catalog_base fieldset#small_banner_catalog_header, form#new_catalog_base fieldset#big_banner_catalog_header, form#new_catalog_base fieldset#text_catalog_header, form#edit_catalog_base fieldset#small_banner_catalog_header, form#edit_catalog_base fieldset#big_banner_catalog_header, form#edit_catalog_base fieldset#text_catalog_header {
  display: none;
}
