/* line 1, ../../../app/assets/stylesheets/admin/dashboard.css.scss */
.dashboard_report_buttons {
  width: 200px;
  height: 100px;
  padding: 10px;
}
/* line 2, ../../../app/assets/stylesheets/admin/dashboard.css.scss */
.dashboard_report_buttons .button {
  width: 170px;
  margin-bottom: 20px !important;
  display: block;
  padding: 0 !important;
  line-height: 27px !important;
}
