/* line 1, ../../../app/assets/stylesheets/admin/itinerary.css.scss */
body {
  font-family: "Trebuchet Ms";
}

/* line 2, ../../../app/assets/stylesheets/admin/itinerary.css.scss */
h1 {
  font-weight: 700;
  font-size: 23px;
  margin-left: 0;
}

/* line 7, ../../../app/assets/stylesheets/admin/itinerary.css.scss */
h3 {
  font-size: 16px;
  font-weight: 600;
}

/* line 11, ../../../app/assets/stylesheets/admin/itinerary.css.scss */
#itinerary_description {
  width: 936px !important;
  height: 240px !important;
  background: #d5d5d5 !important;
  border: none;
  padding: 10px !important;
}

/* line 18, ../../../app/assets/stylesheets/admin/itinerary.css.scss */
p.roteiro {
  font-size: 15px !important;
  font-style: italic !important;
  margin-top: 0 !important;
}

/* line 23, ../../../app/assets/stylesheets/admin/itinerary.css.scss */
.itinerary {
  width: 960px;
}

/* line 24, ../../../app/assets/stylesheets/admin/itinerary.css.scss */
.field {
  margin: 0px;
}

/* line 25, ../../../app/assets/stylesheets/admin/itinerary.css.scss */
form {
  padding-bottom: 20px;
}

/* line 26, ../../../app/assets/stylesheets/admin/itinerary.css.scss */
table {
  width: 960px;
  margin-bottom: 35px;
}
/* line 29, ../../../app/assets/stylesheets/admin/itinerary.css.scss */
table td {
  vertical-align: top;
  padding-bottom: 10px;
}
/* line 30, ../../../app/assets/stylesheets/admin/itinerary.css.scss */
table td.title {
  font-size: 23px;
  text-align: left;
  font-weight: lighter;
  height: 28px;
}
/* line 36, ../../../app/assets/stylesheets/admin/itinerary.css.scss */
table .date, table .where {
  height: 45px;
  background: #d5d5d5;
  border: none;
  padding-left: 10px;
}
/* line 37, ../../../app/assets/stylesheets/admin/itinerary.css.scss */
table .date {
  width: 210px;
  margin-right: 20px;
}
/* line 38, ../../../app/assets/stylesheets/admin/itinerary.css.scss */
table .where {
  width: 702px;
}
/* line 39, ../../../app/assets/stylesheets/admin/itinerary.css.scss */
table input[type=checkbox] {
  width: 20px;
  height: 20px;
  border: none;
  float: left;
  margin-left: 5px;
  margin-top: 13px;
}
/* line 47, ../../../app/assets/stylesheets/admin/itinerary.css.scss */
table label {
  float: left;
  position: absolute;
  font-size: 13px;
  font-weight: 500;
  margin-top: 13px;
}
/* line 54, ../../../app/assets/stylesheets/admin/itinerary.css.scss */
table tr.boxes td {
  margin-bottom: 5px !important;
}

/* line 56, ../../../app/assets/stylesheets/admin/itinerary.css.scss */
.add_fields {
  float: right;
  margin-right: 10px;
  display: block;
  padding-left: 30px;
  width: 121px;
  font-size: 16px;
  color: #000 !important;
  height: 30px;
  padding-top: 2px;
  margin-top: 5px;
  margin-right: 0;
  background: url(/dev-assets/admin/plus.png) no-repeat;
}

/* line 70, ../../../app/assets/stylesheets/admin/itinerary.css.scss */
input[type=submit] {
  border: none !important;
  background: #007236 !important;
  color: #fff !important;
  font-weight: 600;
  height: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
}
/* line 79, ../../../app/assets/stylesheets/admin/itinerary.css.scss */
input[type=submit]:hover {
  background: #00612e !important;
}
