<h2>Credits Transactions</h2>

<%= render partial: 'form_credits', locals: { user: user }  %>
<%= render partial: 'credits_table', locals: { user: user, credit_type: "Reembolso", credits: redeem_credits }  %>
<%= render partial: 'credits_table', locals: { user: user, credit_type: "MGM", credits: invite_credits }  %>
<%= render partial: 'credits_table', locals: { user: user, credit_type: "Fidelidade", credits: loyalty_program_credits }  %>