<h2>Export users</h2>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'Back', admin_users_path %></li>
<% end %>

<div class="inner">
  <table class="table">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>E-mail</th>
      <th>Source</th>
      <th>Created At</th>
      <th>Profile</th>
      <th>Invitation URL</th>
      <th>Tracking</th>
    </tr>

  <% @records.each do |record| %>
    <tr>
      <% record.each do |field| %>
        <td><%= field %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
</div>
