#revenda
  .about
    %h1
      seja uma revendedora olook
    %p.infos A Olook é a primeira marca online de moda feminina do Brasil. Temos a proposta de tornar a moda acessível, seja por meio de coleções mensais – sempre com novidades seguindo as últimas tendências – seja pelo preço irresistível.

    %p.infos No início, nossas vendas eram exclusivamente online, mas atendendo a pedidos começamos a trabalhar com boutiques selecionadas.

    %p.infos Se você está em busca de uma marca fast fashion, com ótima relação custo-benefício e muita informação de moda, a marca Olook é certeza de sucesso.

    %p.infos Nossas lojistas têm acesso às coleções antecipadas por meio de um showroom novo a cada temporada, além da opção pronta entrega dos sapatos já disponíveis no site.

    %p.infos Cadastre-se clicando no botão abaixo e assim que recebermos seus dados entraremos em contato. Para mais informações envie um e-mail para atacado@olook.com.br .


    - if @reseller
      = link_to "Cadastre-se e seja uma revendedora", "#", :class => "anchor_button", :id => "wholesale_form" 
  
  .box_right
    =image_tag("wholesale/imagem_sapato_atacado.jpg")
  
  
