<% question.answers.each_with_index do |answer,answer_number| %>
  <li>
    <label for="<%="for_questions_question_#{answer.question.id}_#{answer.id}" %>">
      <div class="shadow"></div>
      <%= radio_button_tag("questions[question_#{answer.question.id}]", answer.id) %>
      <%= image_tag "common/ajax-loader.gif", :class => 'asynch-load-image', :'data-href' => "/assets/gift/survey/#{question_number}_#{answer_number+1}.jpg" %>
    </label>
  </li>
<% end %>
