/*------------------------
==== GLOBAL VARIABLES ====
------------------------*/
/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/***** MODAL STYLE ****/
/* line 8, ../../../../app/assets/stylesheets/new_structure/section/join.css.scss */
#modal-campaign, #overlay-campaign {
  display: none;
  position: absolute;
}

/* line 12, ../../../../app/assets/stylesheets/new_structure/section/join.css.scss */
#overlay-campaign {
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  min-height: 800px;
  background: #FFF;
  zoom: 1;
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
}

/* line 25, ../../../../app/assets/stylesheets/new_structure/section/join.css.scss */
#modal-campaign {
  float: left;
  z-index: 10001;
  background: transparent;
  top: 50%;
  left: 50%;
}
/* line 32, ../../../../app/assets/stylesheets/new_structure/section/join.css.scss */
#modal-campaign iframe {
  overflow: hidden;
}

/* line 37, ../../../../app/assets/stylesheets/new_structure/section/join.css.scss */
label .hint {
  font-size: 13px;
}

/* line 40, ../../../../app/assets/stylesheets/new_structure/section/join.css.scss */
#modal {
  position: absolute;
  display: none;
  z-index: 10001;
  overflow: hidden;
  padding-top: 10px;
}

/* line 47, ../../../../app/assets/stylesheets/new_structure/section/join.css.scss */
.box-remember-login {
  background-color: #fff;
  border: 1px solid #000;
  position: relative;
  width: 490px !important;
  height: 360px !important;
  text-align: center;
  padding: 15px 0;
  margin: 0;
  background: #FFF;
  display: none;
}
/* line 59, ../../../../app/assets/stylesheets/new_structure/section/join.css.scss */
.box-remember-login h3 {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, johnston;
  font-size: 22px;
  letter-spacing: 1px;
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: lighter;
  margin-bottom: 15px;
}
/* line 68, ../../../../app/assets/stylesheets/new_structure/section/join.css.scss */
.box-remember-login p {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 14px;
  margin-top: 0px;
}
/* line 73, ../../../../app/assets/stylesheets/new_structure/section/join.css.scss */
.box-remember-login form {
  border: none;
  padding: 5px 50px;
  width: 358px;
  height: 150px;
  margin: 0 auto;
}
/* line 81, ../../../../app/assets/stylesheets/new_structure/section/join.css.scss */
.box-remember-login form fieldset {
  margin-bottom: 5px;
  border: 0;
}
/* line 82, ../../../../app/assets/stylesheets/new_structure/section/join.css.scss */
.box-remember-login form fieldset label {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 13px;
  color: #5e5f61;
}
/* line 90, ../../../../app/assets/stylesheets/new_structure/section/join.css.scss */
.box-remember-login form fieldset.botoes {
  margin-top: 5px;
  text-align: left;
}
/* line 94, ../../../../app/assets/stylesheets/new_structure/section/join.css.scss */
.box-remember-login form fieldset.botoes div {
  float: left;
  width: 150px;
  margin-left: 15px;
}
/* line 99, ../../../../app/assets/stylesheets/new_structure/section/join.css.scss */
.box-remember-login form fieldset.botoes div label {
  font-size: 11px;
  color: #5e5f61;
  width: 85px;
  display: inline-block;
  text-align: left;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
}
/* line 107, ../../../../app/assets/stylesheets/new_structure/section/join.css.scss */
.box-remember-login form fieldset.botoes div label[for="user_remember_me"] {
  width: 100px;
  font-size: 11px;
}
/* line 112, ../../../../app/assets/stylesheets/new_structure/section/join.css.scss */
.box-remember-login form fieldset.botoes div p {
  float: left;
  margin-top: 5px !important;
}
/* line 116, ../../../../app/assets/stylesheets/new_structure/section/join.css.scss */
.box-remember-login form fieldset.botoes div p a {
  color: #5e5f61;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 11px;
}
/* line 121, ../../../../app/assets/stylesheets/new_structure/section/join.css.scss */
.box-remember-login form fieldset.botoes div p a:hover {
  text-decoration: underline;
}
/* line 127, ../../../../app/assets/stylesheets/new_structure/section/join.css.scss */
.box-remember-login form fieldset.botoes input[type="submit"] {
  float: right;
  width: 120px;
  height: 50px;
  background-position: -4px -231px;
  text-indent: 9999px;
}
/* line 134, ../../../../app/assets/stylesheets/new_structure/section/join.css.scss */
.box-remember-login form fieldset.botoes input[type="submit"]:hover {
  background-position: -4px -287px;
  text-indent: 9999px;
}
/* line 142, ../../../../app/assets/stylesheets/new_structure/section/join.css.scss */
.box-remember-login form input[type="submit"] {
  width: 116px;
  height: 48px;
  display: block;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 295px;
  top: 274px;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  letter-spacing: 2px;
  background: #e82d3a;
  background: linear-gradient(to bottom, #eb6a73 0%, #e82d3a 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: "Trebuchet Ms" !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
}
/* line 35, ../../../../app/assets/stylesheets/new_structure/common/_global_stuffs.scss */
.box-remember-login form input[type="submit"]:hover {
  background: #eb6a73;
  background: linear-gradient(to bottom, #e82d3a 0%, #eb6a73 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: "Trebuchet Ms" !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
}
/* line 158, ../../../../app/assets/stylesheets/new_structure/section/join.css.scss */
.box-remember-login form input[type="text"], .box-remember-login form input[type="password"] {
  padding-left: 10px;
  width: 272px;
  height: 32px;
  line-height: 31px;
  border: solid 1px #C1C1C1;
  background: url(/dev-assets/campaign_emails/bg_input.png) 0 2px repeat-x;
  *vertical-align: middle;
}

/* line 168, ../../../../app/assets/stylesheets/new_structure/section/join.css.scss */
button.close {
  width: 20px;
  height: 20px;
  border: 0;
  background: url(/dev-assets/campaign_emails/close_bt.png) no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0;
  font-family: a;
  cursor: pointer;
  z-index: 10002;
}

/* line 181, ../../../../app/assets/stylesheets/new_structure/section/join.css.scss */
button.close {
  width: 20px;
  height: 20px;
  border: 0;
  background: url(/dev-assets/campaign_emails/close_bt.png) no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0;
  font-family: a;
  cursor: pointer;
  z-index: 10002;
}

/* line 193, ../../../../app/assets/stylesheets/new_structure/section/join.css.scss */
span.span_error {
  color: #EA1E40;
  font-size: 12px;
  float: left;
  width: 320px;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  line-height: 15px;
}

/* line 201, ../../../../app/assets/stylesheets/new_structure/section/join.css.scss */
.input_error {
  border-color: #EA1E40 !important;
  margin-bottom: 4px;
}
