@charset "UTF-8";
/*------------------------
==== GLOBAL VARIABLES ====
------------------------*/
/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/*------------------------
==== GLOBAL VARIABLES ====
------------------------*/
/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/*------------------------
==== GLOBAL VARIABLES ====
------------------------*/
/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/* line 3, ../../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box {
  padding: 0 0 0 70px;
  width: 102px;
  height: 140px;
  float: right;
  background: url(/dev-assets/common/nav/sprite_header.png) -164px -193px;
  position: absolute;
  right: 0px;
  top: 40px;
}
/* line 4, ../../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box img {
  margin: 0 7px 20px 0;
  float: left;
}
/* line 5, ../../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box h3 {
  color: #36569e;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 14px;
  font-weight: lighter;
}
/* line 6, ../../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box h3 span {
  font-size: 17px;
  font-weight: bold;
}
/* line 8, ../../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box .like {
  clear: both;
  padding-top: -20px;
  width: 100px;
}
/* line 9, ../../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
div#facebook_box .fb-button {
  width: 100px;
}

/****** IE8 HACK *******/
/* line 14, ../../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
html.ie8 section#home li.iehack {
  margin: 0 !important;
}

/* AJUSTE FACEBOOK IFRAME */
/* line 18, ../../../../app/assets/stylesheets/new_structure/partials/_facebook_footer.scss */
.fb-button {
  height: 20px !important;
  overflow: hidden !important;
  margin-top: -40px;
}

/* line 4, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories {
  width: 1020px;
  height: 200px;
  margin: 0 0 18px;
  padding: 15px 0 0 0;
  float: left;
}
/* line 5, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories img {
  margin-left: 7px;
}
/* line 8, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul {
  width: 100%;
  overflow: auto;
  margin-top: 35px;
}
/* line 10, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li a {
  width: 63px;
  height: 100px;
  background: url(/dev-assets/home/categories.png) no-repeat;
  color: #000;
  float: left;
  text-indent: -9999px;
  margin-right: 29px;
}
/* line 11, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li a:hover {
  color: #ef3742;
}
/* line 13, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.blusa a {
  background-position: -5px 0px;
}
/* line 14, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.blusa a:hover {
  background-position: -5px -147px;
}
/* line 16, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.camisa a {
  background-position: -100px 0px;
}
/* line 17, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.camisa a:hover {
  background-position: -100px -147px;
}
/* line 19, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.calca a {
  background-position: -196px 0px;
}
/* line 20, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.calca a:hover {
  background-position: -196px -147px;
}
/* line 22, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.vestido a {
  background-position: -293px 0px;
}
/* line 23, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.vestido a:hover {
  background-position: -293px -147px;
}
/* line 25, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.anabela a {
  background-position: -387px 0px;
}
/* line 26, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.anabela a:hover {
  background-position: -387px -147px;
}
/* line 28, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.bota a {
  background-position: -477px 0px;
}
/* line 29, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.bota a:hover {
  background-position: -477px -147px;
}
/* line 31, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.sapatilha a {
  background-position: -570px 0px;
}
/* line 32, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.sapatilha a:hover {
  background-position: -570px -147px;
}
/* line 34, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.scarpin a {
  background-position: -662px 0px;
}
/* line 35, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.scarpin a:hover {
  background-position: -662px -147px;
}
/* line 37, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.rasteira a {
  background-position: -756px 0px;
}
/* line 38, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.rasteira a:hover {
  background-position: -756px -147px;
}
/* line 40, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.bolsas a {
  background-position: -853px 0px;
}
/* line 41, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.bolsas a:hover {
  background-position: -853px -147px;
}
/* line 43, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.acessorios a {
  background-position: -943px 0px;
  margin-right: 0 !important;
}
/* line 44, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
div#products_categories ul li.acessorios a:hover {
  background-position: -943px -147px;
}

/* line 50, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
section#boxes {
  width: 970px;
  overflow: auto;
  margin: 0 10px 55px;
}
/* line 52, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
section#boxes ul li {
  background: #f8f8f8;
  width: 311px;
  height: 287px;
  display: block;
  margin: 0 15px 0 0;
  float: left;
  border: 1px #c2c2c2 solid;
  overflow: hidden;
}
/* line 53, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
section#boxes ul li a {
  color: #231f20;
  text-decoration: none;
}
/* line 54, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
section#boxes ul li a h1 {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 17px;
  text-transform: uppercase;
  margin: 16px 0 3px 24px;
  font-weight: lighter;
}
/* line 55, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
section#boxes ul li a p {
  background: url(/dev-assets/home/arrows-pink.png) right center no-repeat;
  font-size: 15px;
  display: inline;
  margin: 0 0 0 24px;
  padding: 0 20px 0 0;
}
/* line 57, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
section#boxes ul li a:hover p {
  color: #ef3742;
}
/* line 60, ../../../../app/assets/stylesheets/new_structure/partials/_lite_boxes_home.scss */
section#boxes ul li:last-child {
  margin: 0;
  float: right;
}

/*------------------------
==== GLOBAL VARIABLES ====
------------------------*/
/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/* line 2, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product {
  clear: both;
}
/* line 5, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul.second_line li {
  margin-top: 65px;
}
/* line 7, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li {
  display: inline-block;
  width: 180px;
  margin: 25px 12px 0 0;
  position: relative;
}
/* line 8, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li:nth-child(5n) {
  margin-right: 0;
}
/* line 9, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li:hover .spy {
  visibility: visible;
}
/* line 11, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li a {
  color: #000;
  text-decoration: none;
  font-size: 13px;
  /*display:inline-block;*/
}
/* line 12, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li a.spy {
  visibility: hidden;
  position: absolute;
  bottom: 80px;
  left: 0;
  height: 32px;
  width: 100%;
  background: url(/dev-assets/common/bg-spy.png);
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 32px;
  z-index: 10;
}
/* line 14, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li a.spy span {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding-right: 30px;
  background: url(/dev-assets/moments/sprite.png) no-repeat right -178px;
}
/* line 15, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li a.spy span:hover {
  color: #ef3742;
}
/* line 19, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li a p {
  margin-top: 20px;
}
/* line 20, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li a p span, .container_product ul li a p strong {
  white-space: no-wrap;
  overflow: hidden;
  /*display:inline-block;*/
  height: 18px;
}
/* line 21, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li a p span.brand, .container_product ul li a p strong.brand {
  text-transform: uppercase;
}
/* line 22, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li a p span.name, .container_product ul li a p strong.name {
  float: left;
  clear: both;
}
/* line 24, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li a p.warn {
  position: absolute;
  color: #FFF;
  font-size: 11px;
  font-style: oblique;
  text-align: center;
  text-transform: uppercase;
  line-height: 18px;
  /*display: none;*/
}
/* line 25, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li a p.warn.sold_out {
  left: 0;
  top: 60px;
  background: url(/dev-assets/moments/sprite.png) no-repeat 0 -76px;
  line-height: 25px;
  padding-left: 13px;
  text-align: left;
  width: 92px;
  color: #000;
}
/* line 26, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li a p.warn.quantity {
  background: none #FFF !important;
  border: 1px solid #000;
  color: #000;
  font-family: 'avenir_medium';
  font-weight: 600;
  height: 20px;
  width: 74px;
  line-height: 20px !important;
  text-align: center;
  word-spacing: -1px;
}
/* line 27, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li a p.warn.shoe_size {
  background: none #000;
  height: 20px;
  left: 25px !important;
  line-height: 20px !important;
  top: 81px !important;
  width: 55px;
  word-spacing: -1px;
}
/* line 28, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li a p.warn.percentage {
  right: 15px;
  top: 70px;
  background: url(/dev-assets/moments/sprite.png) no-repeat 0 -109px;
  width: 60px;
  height: 47px;
  font-size: 14px;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  text-align: center;
  padding-top: 13px;
}
/* line 30, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li a p.warn.percentage span {
  font-size: 14px;
  font-weight: normal;
}
/* line 35, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li a img {
  width: 100%;
  height: auto;
  /* new size photo */
}
/* line 36, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li a img.async {
  width: 146px;
}
/* line 40, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li ul.color_list li {
  width: 15px;
  display: inline-block;
  margin: 5px 3px 0 0;
}
/* line 42, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li ul.color_list li a img {
  border: solid 2px #C2C2C2;
}
/* line 43, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li ul.color_list li a.selected img {
  border: solid 2px #000;
}
/* line 47, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product ul li p.facebook_like_button {
  padding-top: 7px;
}
/* line 52, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product .see-more {
  border-top: solid 1px #CBCBCB;
  text-align: center;
  margin: 50px 0 40px;
  position: relative;
}
/* line 53, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product .see-more a {
  position: absolute;
  top: -9px;
  background: #FFF;
  padding: 0 10px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 54, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product .see-more a:hover {
  color: #ef3742 !important;
}
/* line 55, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product .see-more a.clothes, .container_product .see-more a.shoes {
  left: 360px;
}
/* line 56, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product .see-more a.purses {
  left: 362px;
}
/* line 57, ../../../../app/assets/stylesheets/new_structure/partials/_thumb_product.css.scss */
.container_product .see-more a.accessories {
  left: 347px;
}

/* line 5, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#showroom {
  margin-bottom: 50px;
  display: inline-block;
  /*position:relative;*/
}
/* line 6, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#showroom a {
  color: #000;
  text-decoration: none;
}

/* line 9, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
.user-info {
  overflow: hidden;
  position: relative;
}
/* line 10, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
.user-info #profile {
  display: inline-block;
  color: #000;
  position: relative;
  float: left;
}
/* line 11, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
.user-info #profile .photo {
  float: left;
  margin-right: 11px;
}
/* line 12, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
.user-info #profile .photo p {
  width: 105px;
  height: 105px;
  background: url(/dev-assets/showroom/sprite.png) no-repeat 0 0;
  text-indent: -9999em;
}
/* line 14, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
.user-info #profile .photo a {
  display: block;
  width: 100px;
  height: 30px;
  background: url(/dev-assets/showroom/sprite.png) no-repeat -106px 0;
  text-indent: -9999em;
  margin: 5px 0 0 2px;
}
/* line 16, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
.user-info #profile .photo .avatar {
  border: solid 1px #000;
  width: 90px;
  height: 90px;
  padding: 5px;
}
/* line 17, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
.user-info #profile .photo .avatar img {
  width: 90px;
  height: 90px;
}
/* line 21, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
.user-info #profile .description {
  float: left;
  width: 430px;
  margin-right: 16px;
}
/* line 22, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
.user-info #profile .description p {
  font-size: 13px;
  line-height: 24px;
}
/* line 23, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
.user-info #profile .description p.name {
  font-size: 19px;
  text-transform: uppercase;
  margin-bottom: 10px;
  line-height: 25px;
}
/* line 24, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
.user-info #profile .description p a {
  color: #ef3742;
  text-decoration: underline;
}
/* line 29, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
.user-info #banner_creditos {
  float: left;
  margin-top: 15px;
}
/* line 30, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
.user-info #banner_creditos a {
  display: block;
  width: 400px;
  height: 80px;
}
/* line 33, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
.user-info #mask_carousel_facebook {
  display: inline-block;
  margin-top: 2px;
  position: relative;
  width: 427px;
  height: 86px;
  text-align: center;
}
/* line 34, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
.user-info #mask_carousel_facebook .caroufredsel_wrapper {
  display: inline-block;
  /*float:left !important;*/
  margin: 0 5px !important;
}
/* line 35, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
.user-info #mask_carousel_facebook .caroufredsel_wrapper li {
  float: left;
  margin-right: 5px !important;
}
/* line 37, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
.user-info #mask_carousel_facebook p {
  float: left;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir_medium;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  display: inline-block !important;
  margin: 0 0 4px 20px;
  color: #000;
}
/* line 39, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
.user-info #mask_carousel_facebook a.invite-more {
  clear: both;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 12px;
  display: inline-block !important;
  text-decoration: underline;
  color: #ef3742;
  float: left;
  margin-left: 20px;
}
/* line 40, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
.user-info #mask_carousel_facebook a.carousel-prev-fb, .user-info #mask_carousel_facebook a.carousel-next-fb {
  position: absolute;
  top: 35px;
  font-size: 0;
  line-height: 0;
  display: block;
  width: 22px;
  height: 25px;
  background: url(/dev-assets/showroom/sprite.png) no-repeat -104px -56px;
}
/* line 42, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
.user-info #mask_carousel_facebook a.carousel-prev-fb {
  left: -2px;
}
/* line 43, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
.user-info #mask_carousel_facebook a.carousel-next-fb {
  right: 0;
  background: url(/dev-assets/showroom/sprite.png) no-repeat -105px -79px;
}

/* line 48, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
img.profile-quiz {
  position: absolute;
  display: none;
  top: 284px;
  left: 735px;
  z-index: 999;
  cursor: pointer;
}

/* line 50, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#profile_quiz {
  background: #FFFFFF;
  display: none;
  height: 546px;
  width: 930px;
  overflow: hidden;
}
/* line 51, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#profile_quiz .share {
  overflow: hidden;
  height: 20px;
  font-size: 13px;
  float: right;
  color: #000;
  text-transform: uppercase;
  margin: 15px 0;
}
/* line 52, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#profile_quiz .share p, #profile_quiz .share iframe {
  float: left;
  margin-right: 10px;
}
/* line 53, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#profile_quiz .share iframe {
  width: 90px;
}
/* line 55, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#profile_quiz .new_survey, #profile_quiz .me {
  display: block;
  float: left;
  text-indent: -9999em;
  margin-top: 20px;
}
/* line 56, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#profile_quiz .new_survey {
  background: #8c8c8c;
  background: linear-gradient(to bottom, #b1b1b1 0%, #8c8c8c 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: "Trebuchet Ms" !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
  width: 301px;
  height: 59px;
  margin-left: 200px;
}
/* line 35, ../../../../app/assets/stylesheets/new_structure/common/_global_stuffs.scss */
#profile_quiz .new_survey:hover {
  background: #b1b1b1;
  background: linear-gradient(to bottom, #8c8c8c 0%, #b1b1b1 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: "Trebuchet Ms" !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
}
/* line 57, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#profile_quiz .me {
  display: block;
  margin-left: 20px;
  width: 179px;
  height: 39px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  padding-top: 18px;
  background: #e82d3a;
  background: linear-gradient(to bottom, #eb6a73 0%, #e82d3a 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: "Trebuchet Ms" !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
}
/* line 35, ../../../../app/assets/stylesheets/new_structure/common/_global_stuffs.scss */
#profile_quiz .me:hover {
  background: #eb6a73;
  background: linear-gradient(to bottom, #e82d3a 0%, #eb6a73 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: "Trebuchet Ms" !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
}

/* line 68, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
div.showroom-title {
  position: relative;
  border-top: solid 1px #CBCBCB;
  height: 37px;
  margin-top: 60px;
  clear: both;
  text-align: center;
}
/* line 69, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
div.showroom-title p {
  background: #FFF;
  padding: 10px;
  display: inline-block;
  position: absolute;
  left: 33%;
  top: -18px;
}
/* line 70, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
div.showroom-title p span {
  background: #000;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir_medium;
  font-size: 23px;
  text-transform: uppercase;
  color: #FFF;
  padding: 7px 7px 0;
}

/* line 74, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#clothes_container {
  position: relative;
  margin-top: 40px;
}
/* line 75, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#clothes_container .fb_share {
  position: absolute;
  top: -60px;
  right: 10px;
  font-size: 11px;
}
/* line 76, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#clothes_container .fb_share p {
  float: left;
  text-align: right;
  width: 135px;
  line-height: 15px;
  margin-right: 10px;
}
/* line 77, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#clothes_container .fb_share a#facebook_share {
  float: left;
  font-size: 0;
  line-height: 0;
  display: block;
  width: 125px;
  height: 25px;
  background: url(/dev-assets/showroom/sprite.png) no-repeat -108px -32px;
  margin-top: 5px;
}

/* line 83, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
.box_invite {
  display: none;
}

/* half showroom */
/* line 89, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#half_content {
  width: 990px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 12px;
}
/* line 94, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#half_content p {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 16px;
  color: #000;
  width: 515px;
  height: 100px;
}
/* line 100, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#half_content p span {
  font-weight: bold;
}
/* line 103, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#half_content p.users {
  margin-left: 105px;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 14px;
  font-weight: 500 !important;
  color: #717274;
  margin-bottom: 10px !important;
}
/* line 110, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#half_content p.users span {
  color: #f5868d;
}
/* line 113, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#half_content p.users img {
  margin-top: 5px;
}
/* line 118, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#half_content .users {
  float: right;
  margin-left: 55px;
  position: absolute;
  left: 504px;
  top: 0px;
}
/* line 124, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#half_content .users p {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
/* line 126, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#half_content #mask_carousel_facebook {
  display: inline-block;
  margin-top: 2px;
  position: relative;
  width: 427px;
  height: 86px;
  text-align: center;
}
/* line 127, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#half_content #mask_carousel_facebook .caroufredsel_wrapper {
  display: inline-block;
  /*float:left !important;*/
  margin: 0 5px !important;
  top: -86px !important;
}
/* line 128, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#half_content #mask_carousel_facebook .caroufredsel_wrapper li {
  float: left;
  margin-right: 5px !important;
}
/* line 130, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#half_content #mask_carousel_facebook p {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  display: inline-block !important;
  color: #000;
  text-align: center;
  margin-left: -47px;
  margin-bottom: 10px;
}
/* line 133, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#half_content #mask_carousel_facebook a.invite-more {
  clear: both;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 12px;
  display: inline-block !important;
  text-decoration: underline;
  color: #ef3742;
  float: left;
  margin-left: 20px;
}
/* line 134, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#half_content #mask_carousel_facebook a.carousel-prev-fb, #half_content #mask_carousel_facebook a.carousel-next-fb {
  position: absolute;
  top: 35px;
  font-size: 0;
  line-height: 0;
  display: block;
  width: 22px;
  height: 25px;
  background: url(/dev-assets/showroom/sprite.png) no-repeat -104px -56px;
}
/* line 136, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#half_content #mask_carousel_facebook a.carousel-prev-fb {
  left: -2px;
}
/* line 137, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#half_content #mask_carousel_facebook a.carousel-next-fb {
  right: 0;
  background: url(/dev-assets/showroom/sprite.png) no-repeat -105px -79px;
}

/* fim half showroom */
/* minha vitrine sem usuário cadastrado */
/* line 146, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#join_showroom {
  width: 970px;
  height: 350px;
  margin: 45px auto 0px;
}
/* line 150, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#join_showroom p {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 18px;
  color: #000;
  text-align: center;
  width: 415px;
  float: left;
  line-height: 25px;
}
/* line 158, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#join_showroom p span {
  font-weight: bold;
  display: block;
}
/* line 163, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#join_showroom .register {
  width: 415px;
  float: left;
  margin-left: 13px;
}
/* line 168, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#join_showroom .login {
  width: 420px;
  height: 300px;
  border: 1px solid #cfcfcf;
  margin-top: 20px;
  float: left;
}
/* line 174, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#join_showroom .login .login_with_facebook {
  padding: 25px 0 20px 0;
  border-bottom: 1px #cfcfcf solid;
  width: 330px;
  margin: 0 auto;
}
/* line 175, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#join_showroom .login .login_with_facebook a.fb_login_button {
  background: url(/dev-assets/common/fb-loggin-button.png) no-repeat;
  text-indent: -9999px;
  width: 194px;
  height: 25px;
  margin: 0 auto;
  display: block;
}
/* line 177, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#join_showroom .login form {
  border: none;
  padding: 5px 46px;
  width: 358px;
  height: 150px;
  margin: 25px 0 auto;
}
/* line 179, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#join_showroom .login form fieldset {
  margin-bottom: 15px;
  border: 0;
}
/* line 180, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#join_showroom .login form fieldset label {
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 13px;
  color: #5e5f61;
}
/* line 181, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#join_showroom .login form fieldset label.senha {
  margin-right: 1px;
}
/* line 184, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#join_showroom .login form fieldset.botoes {
  margin-top: 5px;
  text-align: left;
}
/* line 187, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#join_showroom .login form fieldset.botoes div {
  float: left;
  width: 150px;
  margin-top: 20px;
}
/* line 188, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#join_showroom .login form fieldset.botoes div label {
  font-size: 11px;
  color: #5e5f61;
  width: 60px;
  display: inline-block;
  text-align: left;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
}
/* line 189, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#join_showroom .login form fieldset.botoes div label[for="user_remember_me"] {
  width: 100px;
  font-size: 11px;
}
/* line 191, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#join_showroom .login form fieldset.botoes div p {
  float: left;
  margin-top: 5px !important;
  text-align: left;
}
/* line 192, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#join_showroom .login form fieldset.botoes div p a {
  text-decoration: none;
  color: #5e5f61;
  font-family: Arial, "Trebuchet Ms", arial, sans-serif, avenir;
  font-size: 11px;
}
/* line 193, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#join_showroom .login form fieldset.botoes div p a:hover {
  text-decoration: underline;
}
/* line 197, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#join_showroom .login form fieldset.botoes input[type="submit"] {
  border: none;
  float: right;
  width: 145px;
  height: 37px;
  margin-top: 22px;
  margin-right: 33px;
  letter-spacing: 2px;
  background: #e82d3a;
  background: linear-gradient(to bottom, #eb6a73 0%, #e82d3a 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: "Trebuchet Ms" !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
}
/* line 35, ../../../../app/assets/stylesheets/new_structure/common/_global_stuffs.scss */
#join_showroom .login form fieldset.botoes input[type="submit"]:hover {
  background: #eb6a73;
  background: linear-gradient(to bottom, #e82d3a 0%, #eb6a73 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: "Trebuchet Ms" !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
}
/* line 209, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#join_showroom .login form input[type="text"], #join_showroom .login form input[type="password"] {
  padding-left: 10px;
  width: 278px;
  height: 31px;
  line-height: 31px;
  border: solid 1px #C1C1C1;
  background: url(/dev-assets/campaign_emails/bg_input.png) 0 2px repeat-x;
  *vertical-align: middle;
}
/* line 212, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#join_showroom .your_style {
  width: 420px;
  margin-left: 48px;
  float: left;
}
/* line 216, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#join_showroom .your_style p {
  margin-bottom: 20px;
  width: 503px;
}
/* line 219, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#join_showroom .your_style p span {
  line-height: 22px;
}
/* line 221, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#join_showroom .your_style img {
  margin-top: -1px;
}
/* line 222, ../../../../app/assets/stylesheets/new_structure/section/lite_showroom.css.scss */
#join_showroom .your_style a.go_quiz {
  width: 198px;
  height: 30px;
  display: block;
  position: relative;
  left: 270px;
  top: -70px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 12px;
  background: #e82d3a;
  background: linear-gradient(to bottom, #eb6a73 0%, #e82d3a 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: "Trebuchet Ms" !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
}
/* line 35, ../../../../app/assets/stylesheets/new_structure/common/_global_stuffs.scss */
#join_showroom .your_style a.go_quiz:hover {
  background: #eb6a73;
  background: linear-gradient(to bottom, #e82d3a 0%, #eb6a73 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: "Trebuchet Ms" !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
}

/* fim minha vitrine sem usuário cadastrado */
