/* line 1, ../../../../app/assets/stylesheets/new_structure/section/search.css.scss */
p.spy {
  display: none;
}

/* line 2, ../../../../app/assets/stylesheets/new_structure/section/search.css.scss */
.search_result {
  margin-top: 20px !important;
}
/* line 4, ../../../../app/assets/stylesheets/new_structure/section/search.css.scss */
.search_result li {
  width: 145px;
  float: left;
  display: block;
  height: 249px;
  border: 1px solid #e1e1e1;
  padding: 5px;
  margin: 0 0 0 5px !important;
}
/* line 12, ../../../../app/assets/stylesheets/new_structure/section/search.css.scss */
.search_result li a, .search_result li img {
  width: 100%;
}
/* line 13, ../../../../app/assets/stylesheets/new_structure/section/search.css.scss */
.search_result li img {
  margin-bottom: 5px;
}
/* line 14, ../../../../app/assets/stylesheets/new_structure/section/search.css.scss */
.search_result li span {
  font-weight: normal !important;
  font-family: Verdana !important;
  font-size: 11px !important;
  color: #808285;
  text-align: left;
}
/* line 21, ../../../../app/assets/stylesheets/new_structure/section/search.css.scss */
.search_result li a.seeMore {
  border: 1px solid #d1d1d1;
  font-size: 9px;
  text-transform: uppercase;
  font-family: 'Trebuchet Ms';
  letter-spacing: 1px;
  cursor: pointer;
  width: 50px;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 0px;
  color: #939598;
  float: right !important;
}
/* line 36, ../../../../app/assets/stylesheets/new_structure/section/search.css.scss */
.search_result li a.seeMore:hover {
  background: #000;
  color: #FFF !important;
}

/* line 45, ../../../../app/assets/stylesheets/new_structure/section/search.css.scss */
.search .subcategory-list li {
  margin-top: 0px !important;
}
