<p>Neste momento estamos apenas aguardando o pagamento do boleto para darmos sequência à sua compra.</p>
<center><%= link_to 'imprimir boleto', payment.url, :target => "_blank", :style => "display:block;width:190px;height:47px;line-height:47px;background-color:#ef3742;text-transform:uppercase;color:#FFF;text-align:center;text-decoration:none" %></center>
