<div id="promotion_banner">
  <h1><span>Compre <%= promotion.param.to_i %> pague <%= (promotion.param.to_i - 1) %></span> <%= promotion.banner_label %></h1>
  <p><%= promotion.description %></p>
</div>
