<h2>Editing gift occasion type</h2>

<div class="inner">
  <%= render 'form' %>
</div>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'Show', admin_gift_occasion_type_path(@gift_occasion_type) %></li>
  <li><%= link_to 'Back', admin_gift_occasion_types_path %></li>
<% end %>

