<p id="notice"><%= notice %></p>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'Edit', edit_admin_gift_occasion_type_path(@gift_occasion_type) %></li>
  <li><%= link_to 'Back', admin_gift_occasion_types_path %></li>
<% end %>

