 <div class="msg">
    <p class="success">Pronto! Recebemos o seu pedido de compra. Confira abaixo instruções para os próximos passos:</p>
  </div>
<div class="new_payment_link">
   <p class="txt_payment_link"> Ainda não acabou... Você ainda precisa pagar o boleto!</p>
   <%= image_tag("new_checkout/img_boleto.png") %>
   <%= link_to "Imprimir boleto", @payment.url, :target => "_blank", :class => "link-boleto", onclick: track_event("PostCheckout","clickPrintBillet") %>
   <p class="txt-instrucao">Você também pode pagar o seu boleto online. Veja como é fácil:</p>
   <ul class="steps">
      <li><span class="numero num1">1</span><span>Abra o boleto e, em outra janela, acesse o<br/>site do seu banco e na opção de pagamentos,<br/>selecione BOLETO BANCÁRIO.</span></li>
      <li><span class="numero num2">2</span><span>Insira o número do código de barras<br/> identificado no seu boleto (este cógido fica<br/>no canto superior direito do boleto)</span></li>
      <li><span class="numero num3">3</span><span>Insira as informações que seu banco exige.<br/> Caso precise informar os dados do favorecido,<br/> coloque Olook e confirme o pagamento</span></li>
   </ul>
</div>
<p class="thanks">Obrigada pela sua compra</p>
<p class="description">
  Mal podemos esperar para você receber o seu produto. Não se esqueça de conferir se todos os dados abaixo estão corretos.<br />
  E se você tiver qualquer dúvida ou precisar solicitar alguma alteração, basta enviar um e-mail para <%= link_to "falecom@olook.com.br", "mailto:falecom@olook.com.br" %>.
</p>
