<% if !@payment.sucess? %>
  <div class="msg error">
    <p>Houve um problema com seu pagamento, por favor refaça seu pedido.</p>
  </div>
<% else %>
  <div class="msg">
    <p class="success">Pronto! Recebemos o seu pedido de compra. Confira abaixo instruções para os próximos passos:</p>
  </div>

  <p class="thanks">Obrigada pela sua compra</p>
  <p class="description">
    Mal podemos esperar para você receber o seu produto. Não se esqueça de conferir se todos os dados abaixo estão corretos.<br />
    E se você tiver qualquer dúvida ou precisar solicitar alguma alteração, basta enviar um e-mail para <%= link_to "falecom@olook.com.br", "mailto:falecom@olook.com.br" %>.
  </p>
<% end %>
