    <div class="msg">
      <p class="success">Pronto! Recebemos o seu pedido de compra. Confira abaixo instruções para os próximos passos:</p>
    </div>
    <div class="new_payment_link">
      <p class="txt_payment_link">Ainda não acabou... Você precisa realizar o pagamento.<br />
        <span>Você precisa acessar o seu internet banking através do botão abaixo para realizar o pagamento do seu pedido.</span>
      </p>
      <%#= link_to "banco", @payment.url, :target => "_blank", :class => "bank_flag Debito" %>
      <p class="logo_itau">Logo Banco Itaú</p>
      <%= link_to "Realizar Pagamento", @payment.url, :target => "_blank", :class => "btn_pay", onclick: track_event("PostCheckout","clickChooseBankBillet") %>
    </div>
    <p class="thanks">Obrigada pela sua compra</p>
    <p class="description">
      Mal podemos esperar para você receber o seu produto. Não se esqueça de conferir se todos os dados abaixo estão corretos.<br />
      E se você tiver qualquer dúvida ou precisar solicitar alguma alteração, basta enviar um e-mail para <%= link_to "falecom@olook.com.br", "mailto:falecom@olook.com.br" %>.
    </p>
