<div class="msg">
  <p class="success">Pronto! Recebemos o seu pedido de compra. Confira abaixo instruções para os próximos passos abaixo:</p>
</div>

<div class="new_payment_link">
   <p class="txt_payment_link">Ainda não acabou... Você ainda precisa realizar o pagamento.<br/>
      <span>Você precisa acessar o MercadoPago através do botão abaixo para realizar o pagamento do seu pedido.</span>
   </p>
   <p class="mercado_pago_button">
   <%= link_to('Realizar Pagamento', @payment.url, {:class => 'green-L-Rn-BrOn', :name => 'MP-Checkout', 'mp-mode' => 'modal', :onreturn => 'mercadoPagoModalReturn'})  %>
   </p>
</div>
<p class="thanks">Obrigada pela sua compra</p>
<p class="description">
  Mal podemos esperar para você receber o seu produto. Não se esqueça de conferir se todos os dados abaixo estão corretos.<br />
  E se você tiver qualquer dúvida ou precisar solicitar alguma alteração, basta enviar um e-mail para <%= link_to "falecom@olook.com.br", "mailto:falecom@olook.com.br" %>.
</p>

<script type="text/javascript">

  mercadoPagoModalReturn = function(data) {

    if (data.collection_status == 'approved') {
      $('.txt_payment_link').html('Pagamento realizado com sucesso.');
      $('.mercado_pago_button').hide();
      $('.msg').hide();
    } else if (data.collection_status == 'pending') {
      $('.txt_payment_link').html('Seu pagamento está sendo processado.');
      $('.mercado_pago_button').hide();
    } else if (data.collection_status == 'rejected') {
      $('.msg').html("<p class='error'>Houve falha no processamento do seu pagamento. Tente novamente ou entre em contato com o nosso SAC.</p>");
    } else {
      console.log(data.collection_status);
    }

  }

</script>