<div class="filter">
  <h1 class="acessories">Acessórios</h1>
  <ol>
    <li>
      <%= check_box_tag "select_all_accessories", "", false, :class => "select_all" %>
      <%= label_tag "select_all_accessories", "Todos os acessórios" %>
    </li>
    <% moment_presenter.moment.catalog.products.where(category_id: Category::ACCESSORY).map{ |p| p.subcategory_name }.uniq.compact.sort { |a,b| a <=> b }.each do |subcategory| %>
      <li>
        <%= check_box_tag('bag_accessory_subcategories[]', subcategory, false, :id => subcategory) %>
        <%= label_tag(subcategory, nil, :for => subcategory) %>
      </li>
    <% end %>
  </ol>
</div>


