<div class="filter main">
  <h1 class="acessories">Acessórios</h1>
  <ol>
    <li>
      <%= check_box_tag "select_all_accessories", 1, params[:select_all_accessories], :class => "select_all" %>
      <%= label_tag "select_all_accessories", "Todos os acessórios" %>
    </li>
<% moment_presenter.moment.catalog.accessories.each do |subcategory, label| %>
    <li>
      <%= check_box_tag('accessory_subcategories[]', subcategory, params[:accessory_subcategories] && params[:accessory_subcategories].include?(subcategory) || params[:select_all_accessories], :id => subcategory) %>
      <%= label_tag(label, nil, :for => subcategory) %>
    </li>
<% end %>
  </ol>
</div>


