<div class="filter main">
  <h1 class="purse">Bolsas</h1>
  <ol>
    <li>
      <%= check_box_tag "select_all_bags", 1, params[:select_all_bags], :class => "select_all" %>
      <%= label_tag "select_all_bags", "Todas as bolsas" %>
    </li>
<% moment_presenter.moment.catalog.bags.each do |subcategory,label| %>
    <li>
      <%= check_box_tag('bag_subcategories[]', subcategory, params[:bag_subcategories] && params[:bag_subcategories].include?(subcategory), :id => subcategory) %>
      <%= label_tag(label, nil, :for => subcategory) %>
    </li>
<% end %>
  </ol>
</div>


