<div class="filter main">
  <p class="filter_type">Tamanho</p>
  <button type="button" class="clear_filter">( limpar )</button>

    <ol class="column">
      <% moment_presenter.moment.catalog.cloth_sizes.uniq.each do |key, value| %>
          <li>
              <%= check_box_tag('cloth_sizes[]', key, false, :id => "size_#{key}") %>
            <%= label_tag(key, key.upcase, :for => "size_#{key}") %>
          </li>
      <% end %>
    </ol>

</div>
