<div class="filter">
  <h1 class="subtitle">Salto</h1>
  <ol class="column">
    <% moment_presenter.moment.catalog.products.map{ |p| p.heel }.uniq.compact.sort { |a,b| a <=> b }.each do |heel| %>
      <li>
        <%= check_box_tag('heels[]', heel, false, :id => heel) %>
        <%= label_tag(heel, nil, :for => heel) %>
      </li>
    <% end %>
  </ol>
</div>






