<div class="filter sub">
  <h1 class="subtitle">Salto</h1>
  <ol class="column">
  <% moment_presenter.moment.catalog.heels.each do |heel, label| %>
    <li>
      <%= check_box_tag('heels[]', heel, false, :id => heel) %>
      <%= label_tag(label ? label : heel, nil, :for => heel) %>
    </li>
  <% end %>
  </ol>
</div>






