<nav>
  <ul>
    <% moments.each do |moment| %>
      <li>
        <%= link_to moment_path(moment), :class => moment.id == @moment.id ? "selected" : nil do %>
          <span><%= moment.article %></span>
          <%= moment.name %>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
