<div class="filter sub shoe_size">
  <h1 class="subtitle">Numeração</h1>
  <ol class="column">
 <% moment_presenter.moment.catalog.shoe_sizes.each do |shoe_size| %>
    <li>
    	<% if current_user && current_user.user_info %>
      	<%= check_box_tag('shoe_sizes[]', shoe_size, (shoe_size.to_s == current_user.user_info.shoes_size.to_s ? true : false) , :id => shoe_size) %>
      <% else %>
      	<%= check_box_tag('shoe_sizes[]', shoe_size, false , :id => shoe_size) %>
      <% end %>
      <%= label_tag(shoe_size, nil, :for => shoe_size) %>
    </li>
  <% end %>
  </ol>
</div>


