/*------------------------
==== GLOBAL VARIABLES ====
------------------------*/
/* 
@include bt_color($primary_bt_color, $primary_bt_color_hover);
@include bt_color($secondary_bt_color, $secondary_bt_color_hover);
@include bt_color($terciary_bt_color, $terciary_bt_color_hover);
*/
/* Specific for megamenu desktop*/
/* line 4, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new .submenu {
  font-family: verdana, arial, tahoma;
  position: absolute;
  top: 31px;
  background: #fff;
  border: 1px solid #000;
  z-index: 1;
  display: none;
  padding: 10px;
}
/* line 13, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new .submenu p, nav.menu_new .submenu a {
  margin: 0 0 0 8px;
  border: 0px;
  text-transform: none;
  line-height: 16px !important;
  color: #000;
  background: none;
  font-size: 11px;
  font-family: verdana, arial, tahoma;
}
/* line 23, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new .submenu a.link {
  padding: 0px !important;
  margin: 0px !important;
  border: 0px !important;
  top: 0px !important;
}
/* line 28, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new .submenu a.link {
  margin-top: 10px !important;
  text-align: center;
  padding-top: 10px !important;
  padding-bottom: 6px !important;
  height: 18px;
  letter-spacing: 1px !important;
  font-size: 10px !important;
  letter-spacing: 2px !important;
  background: #e82d3a;
  background: linear-gradient(to bottom, #eb6a73 0%, #e82d3a 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: "Trebuchet Ms" !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
}
/* line 35, ../../../app/assets/stylesheets/new_structure/common/_global_stuffs.scss */
nav.menu_new .submenu a.link:hover {
  background: #eb6a73;
  background: linear-gradient(to bottom, #e82d3a 0%, #eb6a73 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: "Trebuchet Ms" !important;
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
}
/* line 39, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new .submenu h5 {
  width: 100%;
  display: block;
  font-size: 11px;
  font-weight: bold;
  height: 25px;
  margin-bottom: 3px;
  letter-spacing: 1px;
  font-family: verdana, arial, tahoma;
}
/* line 49, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new .submenu h5 a {
  height: 25px;
  background: #FFF;
  font-size: 11px;
  line-height: 30px;
  background: #FFF;
  padding: 7px 0px 0px 0px;
}
/* line 57, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new .submenu ul, nav.menu_new .submenu li {
  display: block;
  float: left;
  width: 100%;
  height: auto;
  text-transform: none;
}
/* line 58, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new .submenu li {
  height: auto !important;
  height: 4px;
  min-height: 4px;
  line-height: 12px;
  margin-bottom: 6px;
}
/* line 61, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_blog h5, nav.menu_new #mm_colecoes h5 {
  margin-left: 8px;
}
/* line 63, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_showroom, nav.menu_new #mm_presentes, nav.menu_new #mm_olooklet {
  width: 130px;
}
/* line 65, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_showroom {
  width: 170px;
  margin-left: 1px;
}
/* line 67, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_blog, nav.menu_new #mm_colecoes, nav.menu_new #mm_roupas, nav.menu_new #mm_sapatos, nav.menu_new #mm_bolsas, nav.menu_new #mm_acessorios, nav.menu_new #mm_acessorios, nav.menu_new #mm_marcas, nav.menu_new #mm_olooklet, nav.menu_new #mm_presentes {
  width: 260px;
}
/* line 68, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_blog .column, nav.menu_new #mm_colecoes .column, nav.menu_new #mm_roupas .column, nav.menu_new #mm_sapatos .column, nav.menu_new #mm_bolsas .column, nav.menu_new #mm_acessorios .column, nav.menu_new #mm_acessorios .column, nav.menu_new #mm_marcas .column, nav.menu_new #mm_olooklet .column, nav.menu_new #mm_presentes .column {
  width: 90px;
  float: left;
  display: block;
}
/* line 69, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_blog a.sub_menu, nav.menu_new #mm_colecoes a.sub_menu, nav.menu_new #mm_roupas a.sub_menu, nav.menu_new #mm_sapatos a.sub_menu, nav.menu_new #mm_bolsas a.sub_menu, nav.menu_new #mm_acessorios a.sub_menu, nav.menu_new #mm_acessorios a.sub_menu, nav.menu_new #mm_marcas a.sub_menu, nav.menu_new #mm_olooklet a.sub_menu, nav.menu_new #mm_presentes a.sub_menu {
  display: inline !important;
  color: #000 !important;
  background: none !important;
  padding: 0px;
  letter-spacing: 0px;
  font-family: verdana, arial, tahoma !important;
  line-height: 12px !important;
  font-weight: normal;
}
/* line 70, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_blog a.sub_menu:hover, nav.menu_new #mm_colecoes a.sub_menu:hover, nav.menu_new #mm_roupas a.sub_menu:hover, nav.menu_new #mm_sapatos a.sub_menu:hover, nav.menu_new #mm_bolsas a.sub_menu:hover, nav.menu_new #mm_acessorios a.sub_menu:hover, nav.menu_new #mm_acessorios a.sub_menu:hover, nav.menu_new #mm_marcas a.sub_menu:hover, nav.menu_new #mm_olooklet a.sub_menu:hover, nav.menu_new #mm_presentes a.sub_menu:hover {
  border: 0px;
  padding: 0px;
  margin: 0px;
}
/* line 71, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_blog li:hover a, nav.menu_new #mm_blog li a:hover, nav.menu_new #mm_colecoes li:hover a, nav.menu_new #mm_colecoes li a:hover, nav.menu_new #mm_roupas li:hover a, nav.menu_new #mm_roupas li a:hover, nav.menu_new #mm_sapatos li:hover a, nav.menu_new #mm_sapatos li a:hover, nav.menu_new #mm_bolsas li:hover a, nav.menu_new #mm_bolsas li a:hover, nav.menu_new #mm_acessorios li:hover a, nav.menu_new #mm_acessorios li a:hover, nav.menu_new #mm_acessorios li:hover a, nav.menu_new #mm_acessorios li a:hover, nav.menu_new #mm_marcas li:hover a, nav.menu_new #mm_marcas li a:hover, nav.menu_new #mm_olooklet li:hover a, nav.menu_new #mm_olooklet li a:hover, nav.menu_new #mm_presentes li:hover a, nav.menu_new #mm_presentes li a:hover {
  border: 0px !important;
  margin: 0px;
  top: 0px;
}
/* line 72, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_blog li, nav.menu_new #mm_colecoes li, nav.menu_new #mm_roupas li, nav.menu_new #mm_sapatos li, nav.menu_new #mm_bolsas li, nav.menu_new #mm_acessorios li, nav.menu_new #mm_acessorios li, nav.menu_new #mm_marcas li, nav.menu_new #mm_olooklet li, nav.menu_new #mm_presentes li {
  margin: 0px;
  margin-bottom: 4px;
}
/* line 74, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new .last {
  width: 80px !important;
}
/* line 76, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_blog {
  width: 340px;
}
/* line 78, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_blog .column {
  width: 110px;
}
/* line 79, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_blog .second {
  width: 150px;
}
/* line 80, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_blog .last {
  width: 70px !important;
}
/* line 83, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_colecoes, nav.menu_new #mm_roupas, nav.menu_new #mm_sapatos, nav.menu_new #mm_acessorios, nav.menu_new #mm_marcas {
  width: 460px;
}
/* line 85, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_colecoes .first, nav.menu_new #mm_roupas .first, nav.menu_new #mm_sapatos .first, nav.menu_new #mm_acessorios .first, nav.menu_new #mm_marcas .first {
  width: 120px !important;
}
/* line 86, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_colecoes .image, nav.menu_new #mm_colecoes li.image:hover, nav.menu_new #mm_roupas .image, nav.menu_new #mm_roupas li.image:hover, nav.menu_new #mm_sapatos .image, nav.menu_new #mm_sapatos li.image:hover, nav.menu_new #mm_acessorios .image, nav.menu_new #mm_acessorios li.image:hover, nav.menu_new #mm_marcas .image, nav.menu_new #mm_marcas li.image:hover {
  width: 240px !important;
}
/* line 87, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_colecoes .image a.img, nav.menu_new #mm_roupas .image a.img, nav.menu_new #mm_sapatos .image a.img, nav.menu_new #mm_acessorios .image a.img, nav.menu_new #mm_marcas .image a.img {
  display: block;
  float: right;
  background: url(/dev-assets/common/nav/megamenucolecoes.jpg) no-repeat center center;
  width: 207px !important;
  height: 242px;
  padding: 0px;
}
/* line 88, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_colecoes .image a.img:hover, nav.menu_new #mm_roupas .image a.img:hover, nav.menu_new #mm_sapatos .image a.img:hover, nav.menu_new #mm_acessorios .image a.img:hover, nav.menu_new #mm_marcas .image a.img:hover {
  background: url(/dev-assets/common/nav/megamenucolecoes.jpg) center center !important;
  padding: 0px;
  margin: 0px;
  width: 207 !important;
}
/* line 89, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_colecoes br, nav.menu_new #mm_roupas br, nav.menu_new #mm_sapatos br, nav.menu_new #mm_acessorios br, nav.menu_new #mm_marcas br {
  clear: both;
}
/* line 92, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_colecoes {
  width: 500px;
}
/* line 93, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_colecoes .first {
  width: 150px !important;
}
/* line 94, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_colecoes .second {
  width: 115px !important;
}
/* line 97, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_colecoes {
  width: 270px;
}
/* line 99, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_roupas {
  width: 230px;
}
/* line 101, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_roupas .image, nav.menu_new #mm_roupas li.image:hover {
  width: 220px !important;
}
/* line 102, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_roupas .image a.img {
  display: block;
  float: right;
  background: url(/dev-assets/common/nav/roupas.jpg) no-repeat center center;
  width: 213px !important;
  height: 269px;
  padding: 0px;
}
/* line 103, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_roupas .image a.img:hover {
  background: url(/dev-assets/common/nav/roupas.jpg) center center !important;
  padding: 0px;
  margin: 0px;
  width: 213 !important;
}
/* line 104, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_roupas .second {
  width: 100px !important;
}
/* line 105, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_roupas h5 a {
  color: #000 !important;
  font-weight: bold;
  font-family: verdana;
  width: 100%;
}
/* line 108, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_sapatos {
  width: 205px;
}
/* line 110, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_sapatos .first {
  width: 90px !important;
}
/* line 111, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_sapatos .second {
  width: 110px !important;
}
/* line 112, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_sapatos .image a.img {
  display: block;
  float: right;
  background: url(/dev-assets/common/nav/sapatos.jpg) no-repeat center center;
  width: 269px !important;
  height: 236px;
  padding: 0px;
}
/* line 113, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_sapatos .image a.img:hover {
  background: url(/dev-assets/common/nav/sapatos.jpg) center center !important;
  padding: 0px;
  margin: 0px;
  width: 269 !important;
}
/* line 114, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_sapatos h5 a {
  color: #000 !important;
  font-weight: bold;
  font-family: verdana;
  width: 100%;
}
/* line 117, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_bolsas {
  width: 105px;
  padding-left: 11px;
}
/* line 120, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_bolsas .first {
  width: 105px !important;
}
/* line 124, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_acessorios {
  width: 98px;
  padding-left: 11px;
}
/* line 129, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_marcas {
  width: 340px;
  right: 0;
}
/* line 132, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_marcas .first {
  width: 140px !important;
}
/* line 133, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_marcas .second {
  width: 120px !important;
}
/* line 134, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_marcas .last {
  width: 80px !important;
}
/* line 138, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_presentes {
  right: 0;
  width: 110px;
}
/* line 141, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_presentes .first {
  width: 110px;
}
/* line 144, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_olooklet {
  width: 180px;
  right: 0px;
}
/* line 147, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_olooklet span {
  margin-top: 10px;
}
/* line 149, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new .image {
  margin-top: 10px;
  padding-bottom: 10px;
}
/* line 152, ../../../app/assets/stylesheets/desktop/_header.css.scss */
nav.menu_new #mm_showroom a.sub_menu:hover, nav.menu_new #mm_showroom ul li a.selecionado, nav.menu_new #mm_presentes a.sub_menu:hover, nav.menu_new #mm_presentes ul li a.selecionado, nav.menu_new #mm_olooklet a.sub_menu:hover, nav.menu_new #mm_olooklet ul li a.selecionado, nav.menu_new #mm_blog a.sub_menu:hover, nav.menu_new #mm_blog ul li a.selecionado, nav.menu_new #mm_colecoes a.sub_menu:hover, nav.menu_new #mm_colecoes ul li a.selecionado, nav.menu_new #mm_roupas a.sub_menu:hover, nav.menu_new #mm_roupas ul li a.selecionado, nav.menu_new #mm_sapatos a.sub_menu:hover, nav.menu_new #mm_sapatos ul li a.selecionado, nav.menu_new #mm_bolsas a.sub_menu:hover, nav.menu_new #mm_bolsas ul li a.selecionado, nav.menu_new #mm_acessorios a.sub_menu:hover, nav.menu_new #mm_acessorios ul li a.selecionado, nav.menu_new #mm_marcas a.sub_menu:hover, nav.menu_new #mm_marcas ul li a.selecionado {
  color: #ef3742 !important;
  margin: 0 0 0 8px !important;
}
