<!-- <section id="profile_products" class="sub"> -->
  <div class="content">
    <h1>Algumas <strong>sugestões</strong> de presentes para ela:</h1>
    <ul class="products">
      <% products.each do |product| %>
        <%= render "shared/product_item", product: product %>
      <% end %>
    </ul>
    <%= link_to "Ver mais recomendações", "#", id: 'see_more' %>
  </div>
<!-- </section> -->
