<section id="profiles">
  <div class="content">
    <%= first_level_breadcrumb("Presentes") %>
    <h1>Acerte em cheio no presente</h1>
    <p>A OLOOK te ajuda a encontrar o presente ideal para as mulheres da sua vida. É fácil e rápido.</p>
    <h2>Comece escolhendo <strong>como ela é:</strong></h2>
    <%= render "gift/shared/profiles" %>
    <%= render "gift/shared/help" %>
    <%#= render "gift/shared/reminder" %>
  </div>
</section>
