<section id="suggestions">
  <div class="content">
    <h1>Não deixe de <strong>conferir</strong> também:</h1>
    <ul>
      <li id="helena">
        <%= link_to "#" do %>
          <h1>Dica da Helena</h1>
          <%= image_tag "gift/photo-helena.png", :title => "Helena Linhares" %>
          <p>O mocassim é peça básica do guarda-roupa. Este de camurça e franjas ficou super atual, aposte!</p>
          <span>Veja as dicas da Helena</span>
        <% end %>
      </li>
      <li id="bestsellers">
        <%= link_to "#" do %>
          <h1>Top 5</h1>
        <% end %>
      </li>
      <li id="face">
        <%= link_to "#" do %>
          <h1>Hot no Face</h1>
        <% end %>
      </li>
    </ul>
  </div>
</section>
