<% content_for :head do %>
  <%= stylesheet_link_tag "section/gift" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "gift" %>
<% end %>

<% content_for :full do %>
  <div class="content">
    <h1>Acerte em cheio no presente</h1>
    <p>Find me in app/views/gift/home/index.html.erb</p>
    <%= link_to "Crie seu presente. Comece aqui!", new_gift_occasion_path,:id => "new_occasion_link" %>
  </div>
<% end %>

<div id="liquidation" class="content">
  <p>
    Teste
  </p>
</div>
