<div class="filter">
  <h1 class="acessories">Acessórios</h1>
  <ol>
    <li>
      <%= check_box_tag "select_all_accessories", "", false, :class => "select_all" %>
      <%= label_tag "select_all_accessories", "Todos os acessórios" %>
    </li>
<% liquidation_presenter.liquidation.accessories.each do |accessory, label| %>
    <li>
      <%= check_box_tag('accessory_subcategories[]', accessory, params[:accessory_subcategories] && params[:accessory_subcategories].include?(accessory), :id => accessory) %>
      <%= label_tag(label, nil, :for => accessory) %>
    </li>
<% end %>
  </ol>
</div>


