<div class="filter">
  <h1 class="purse">Bolsas</h1>
  <ol>
    <% liquidation_presenter.liquidation.resume[:categories][Category::BAG].each do |key, value| %>
      <li>
        <%= check_box_tag('bag_accessory_subcategories[]', key) %>
        <label><%= value %></label>
      </li>
    <% end %>
  </ol>
</div>


