<div class="filter">
  <h1 class="purse">Bolsas</h1>
  <ol>
    <li>
      <%= check_box_tag "select_all_bags", "", false, :class => "select_all" %>
      <%= label_tag "select_all_bags", "Todas as bolsas" %>
    </li>

<% liquidation_presenter.liquidation.bags.each do |bag, label| %>
    <li>
      <%= check_box_tag('bag_subcategories[]', bag, params[:bag_subcategories] && params[:bag_subcategories].include?(bag), :id => bag) %>
      <%= label_tag(label, nil, :for => bag) %>
    </li>
<% end %>
  </ol>
</div>


