<div class="filter">
  <h1 class="purse">Bolsas</h1>
  <ol>
    <li>
      <%= check_box_tag "select_all_bags", "", false, :class => "select_all" %>
      <%= label_tag "select_all_bags", "Todos as bolsas" %>
    </li>
    <% liquidation_presenter.liquidation.resume[:categories][Category::BAG].each do |key, value| %>
      <li>
        <%= check_box_tag('bag_accessory_subcategories[]', key, false, :id => key) %>
        <%= label_tag(value, nil, :for => key) %>
      </li>
    <% end %>
  </ol>
</div>


