<div id="carousel_container">
  <ul>
  	<% params[:carousels].each do |image| %>
    	<li>
    	<%= image_tag image.image.try(:url) %>
    	</li>
    <% end %>
  </ul>
  <%= link_to "Anterior", "javascript:void(0);", :class => "arrow prev" %>
  <%= link_to "Próximo", "javascript:void(0);", :class => "arrow next" %>
</div>
