<div class="filter">
  <h1 class="subtitle">Salto</h1>
  <ol class="column">

<% liquidation_presenter.liquidation.heels.each do |heel, label| %>
    <li>
      <%= check_box_tag('heels[]', heel, params[:heels] && params[:heels].include?(heel), :id => heel) %>
      <%= label_tag(label, nil, :for => heel) %>
    </li>
<% end %>
  </ol>
</div>






