<div class="filter">
  <h1 class="subtitle">Salto</h1>
  <ol class="column">
    <% liquidation_presenter.liquidation.resume[:heels].each do |key, value| %>
      <li>
        <%= check_box_tag('heels[]', key) %>
        <label><%= value %></label>
      </li>
    <% end %>
  </ol>
</div>






