<div class="filter">
  <h1 class="shoes">Sapatos</h1>
  <ol>
    <% liquidation_presenter.liquidation.resume[:categories][Category::SHOE].each do |key, value| %>
      <li>
        <%= check_box_tag('shoe_subcategories[]', key, false, :id => key) %>
        <%= label_tag(value, nil, :for => key) %>
      </li>
    <% end %>
  </ol>
</div>




