<% present 'CollectionTheme', {:collection_theme => @collection_theme, :collection_themes => @collection_themes, :category_id => @category_id} do |collection_theme_presenter| %>
<div id="filters_container">
  <%= form_tag(collection_theme_path(@collection_theme.slug), :method => :get, :remote => true, :id => "filter", :name => "filter") do %>
    <%= hidden_field_tag('slug', @collection_theme ? @collection_theme.slug : nil) %>
    <%= select_tag('category_id', options_for_select([["Todas", nil]]+Category.to_a.map { |v,k| [v.pluralize, k]}), class: 'custom-select') %>
    <%= select_tag('sort_filter', options_for_select({"Relevância" => 0, "Menor preço" => 1, "Maior preço" => 2}), class: 'custom-select') %>
    <div id="category_filters"></div>    
  <% end %>
</div>

<% end %>
