<section style="width:170px;float:left;">
  <section id="collections_menu">
    <dl>
      <% collection_theme_groups.each do |collections_theme_group| %>
        <dt><%= collections_theme_group.name %></dt>
        <% collections_theme_group.collection_themes.each do |theme| %>
          <dd><%= link_to theme.name, collection_themes_show_path(theme.slug)%></dd>
        <% end %>
      <% end  %>
    </dl>
  </section>
</section>

