<section id="collections_menu">
  <dl>
    <% collection_theme_groups.each do |collections_theme_group| %>
      <% collections = @collections_themes.select{ |ct| ct.collection_theme_group_id == collection_theme_group.id }.to_a.sort { |a,b| a.position <=> b.position } %>
      <% next if collections.blank? %>
      <dt><%= collections_theme_group.name %></dt>
      <% while theme = collections.shift do %>
        <dd class="<%= "last" if collections.empty? %>"><%= link_to theme.name, collection_theme_path(theme.slug)%></dd>
      <% end %>
    <% end %>
  </dl>
</section>

