<% unless @stylist_products.blank? %>
  <section id="stylist_selection">
    <%= link_to image_tag("collections/so_banner.jpg"), collection_theme_path("spike"), onclick: track_event("AntiBounce", "ClickCollectionBannerFromRoupas") %>
    <h3 id="stylist_title"><span id="title">Confira a seleção das nossas stylists</span></h3>
    <section class="container_product">
      <ul>
        <%- @stylist_products.each do |product| -%>
          <%= render 'shared/lite_product_item', product: product %>
        <%- end -%>
      </ul>
    </section>
  </section>
<% end %>
