<% content_for :head do %>
  <%= stylesheet_link_tag "section/collections" %>
<% end %>

<section style="width:170px;float:left;">dfs</section>
<section id="collections_content">
	<div id="home_collections">
		<div class="banner_principal">
			<a href="#"><img alt="Animal Print" src="/assets/collections/full_banner.jpg" title="Neon"></a>
		</div>

		<div class="tropicaliente">
			<a href="#"><img alt="Animal Print" src="/assets/collections/tropicaliente_bg.jpg" title="Animal Print"></a>
			<p class="collection">TROPICALIENTE</p>
			<P class="resume">Abuse das misturas de estampas tropicais neste verão.</P>
			<p class="looks"><a href="#" target="_blank">veja os looks</a></p>
		</div>
		<div class="andre_lima">
			<a href="#"><img alt="Animal Print" src="/assets/collections/andre_lima_bg.jpg" title="André Lima"></a>
			<p class="collection">COLEÇÃO ANDRÉ LIMA</p>
			<P class="resume">Peças exclusivas do designer mais badalado do momento.</P>
			<p class="looks"><a href="#" target="_blank">veja os looks</a></p>
		</div>
	</div>
		<button type="button" class="bt_left">Anterior</button>
	<div id="amamos">
		<h1>NÓS AMAMOS</h1>

		<ul>
			<li>
				<p class="rotulo"></p>
				<a href="#"><img src="/assets/collections/teste.jpg"/></a>
				<p></p>
				<p></p>
				<p></p>
			</li>	
			<li>
				<p class="rotulo"></p>
				<a href="#"><img src="/assets/collections/teste.jpg"/></a>
				<p class="model">Sandália Bertha</p>
				<p class="brand">OLOOK</p>
				<p class="price">R$ 129,90 ou 4 x de R$ 32,48</p>
			</li>
			<li>
				<p class="rotulo"></p>
				<a href="#"><img src="/assets/collections/teste.jpg"/></a>
				<p></p>
				<p></p>
				<p></p>
			</li>

		</ul>	

	</div>
	<button type="button" class="bt_right">Próximo</button>

</section>