<% content_for :head do %>
  <%= stylesheet_link_tag "section/collections" %>
<% end %>

<%= render "menu", collection_theme_groups: @collection_theme_groups %>

<section id="collections_content">
   <div class="collections_header"></div>
   <div class="collections_filters"></div>
   <div class="collections_products"></div>
</section>
