<% content_for :head do %>
  <%= stylesheet_link_tag "section/collections" %>
<% end %>

<%= render "menu", collection_theme_groups: @collection_theme_groups %>

<section id="collections_content">
   <div class="collections_header">
      <img src="/assets/collections/highlight.jpg" />
      <%= link_to "Veja o editorial", "", class: "editorial" %>
      <%= link_to "Assista ao vídeo", "", class: "video" %>
   </div>

   <div class="collections_filters">

   </div>

   <div class="collections_products">

   </div>
</section>
