<div class="dialog christmas">
  <%= link_to "X", "javascript:void(0);", :id => "close_dialog" %>
  <%= image_tag "/assets/showroom/modal-christmas.jpg" %>
  <%= link_to "Veja o regulamento", christmas_path, :class => "rules" %>
</div>
