<section class="container_product" id="shoes_container">
  <h1 class="title">Seus sapatos de <%= showroom_presenter.collection_name(collection) %></h1>
  <div class="type_list">
    <div class="products_list best">
      <ul>
        <%= showroom_presenter.display_shoes((0..4), collection) %>
      </ul>
      <%= link_to "Clique e veja mais sapatos", "javascript:void(0);", :class => "more shoes", :onclick => track_event("Showroom", "SeeAlmost", "Shoes"), :rel => "almost", :data => {:url => member_showroom_shoes_path } %>
    </div>
    <div class="products_list almost">
      <ul id="shoes_product">
        <%#= showroom_presenter.display_shoes (5..100) %>
      </ul>
    </div>
  </div>
</section>
