<div class="facebook">
  <h1><%= showroom_presenter.welcome_message %><br />Últimas dias da vitrine de Dezembro<%#= showroom_presenter.collection_name %></h1>
  <p>Ainda dá tempo de aproveitar essa seleção de produtos! Explore as possibilidades e aproveite sem moderação.</p>
  <p class="connect">
    <%= link_to "Conectar com o Facebook", user_omniauth_authorize_path(:facebook), :class => "fb-connect" %>
    <span>Conecte-se com o Facebook e adicione suas amigas</span>
  </p>
</div>
