<div class="facebook connected">
  <%= image_tag "fake/photo-facebook.png", :class => "avatar" %>
  <h1><%= showroom_presenter.welcome_message %></h1>
  <h2>Está é sua vitrine de Novembro</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in ligula mauris. Ut quis sapien ipsum. Maecenas dictum mi eu nulla pharetra faucibus.</p>
  <h3>Últimas amigas registradas:</h3>
  <%= image_tag "fake/showroom-facebook-friends.png" %>
</div>
