<div class="facebook connected">
  <div class="avatar"><%= showroom_presenter.facebook_avatar %></div>
  <h1><%= showroom_presenter.welcome_message %><br />Esta é sua vitrine de <%= showroom_presenter.collection_name %></h1>
  <p>Nossos stylists pensaram em você com muito carinho para montar essa seleção de produtos deste mês. Os sapatos, bolsas e acessórios chegaram com as tendências fresquinhas da estação. Se quiser, veja também os produtos que quase entraram na sua vitrine e explore mais possibilidades. Aproveite sem moderação.

</p>
</div>
