<div class="facebook">
  <h1><%= showroom_presenter.welcome_message %></h1>
  <h2>Está é sua vitrine de Novembro</h2>
  <p>Lorem ipsum dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <p class="connect">
    <%= link_to 'Connect with Facebook', 'javascript:void(0);' %>
    <span>Conecte-se com o Facebook e adicione seus amigos</span>
  </p>
</div>
