<div class="lookbook">
  <h1>Lookbooks</h1>
  <div id="mask_carousel_showroom">
    <ul>
      <% lookbooks.each do |lookbook| %>
        <li><%= link_to image_tag(lookbook.thumb_image.try(:url)), "/lookbooks/#{lookbook.slug}" %></li>
      <% end %>
    </ul>
    <%= link_to "Anterior", "javascript:void(0);", :class => "carousel-prev" %>
    <%= link_to "Próximo", "javascript:void(0);", :class => "carousel-next" %>
  </div>
</div>
