<div class="facebook connected">
  <div class="avatar"><%= showroom_presenter.facebook_avatar %></div>
  <h1><%= showroom_presenter.welcome_message %><br />Últimas dias da vitrine de Dezembro<%#= showroom_presenter.collection_name %></h1>
  <p>Ainda dá tempo de aproveitar essa seleção de produtos! Explore as possibilidades e aproveite sem moderação.</p>
</div>
