<section id="products">
  <h1 class="title">Selecão especial para primeira compra</h1>
  <div class="products_list">
    <ul>
      <%= showroom_presenter.display_products(0..4, Category::SHOE, Collection.from_last_month) %>
      <%= showroom_presenter.display_products(0..4, Category::BAG, Collection.from_last_month) %>
      <%= showroom_presenter.display_products(0..4, Category::ACCESSORY, Collection.from_last_month) %>
    </ul>
  </div>
</section>
