<% content_for :head do %>
  <%= stylesheet_link_tag "section/credits" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "credits" %>
<% end %>

<section id="credits">
  <h1>Ganhe créditos e economize muito nas suas compras</h1>
  <section id="friends_credits">
    <h1>Convide suas amigas e ganhe R$ 10 na primeira compra de cada uma delas.</h1>
  </section>
  <section id="purchase_credits">
    <h1>Você sempre ganha 20% do valor das suas compras em desconto no próximo pedido</h1>
  </section>
</section>
