<% content_for :head do %>
  <%= stylesheet_link_tag "section/credits" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "credits" %>
<% end %>

<section id="credits">
  <h1>Créditos</h1>
</section>
