<div id="invite_list">
  <h1><span>10 </span>amigas já se registraram e você ganhou <span class="amount">290,00</span></h1>

  <table id="list">
    <thead>
      <tr>
        <th>Email</th>
        <th>Convidado em</th>
        <th>Registrado</th>
        <th><a href="">Reenviar todos</a></th>
      </tr>
    </thead>

    <% 10.times do %>
      <tbody>
        <tr>
          <td>peter.ostroke@gmail.com</td>
          <td>10/10/2010</td>
          <td><b>Sim</b></td>
          <td><a href="">Reenviar todos</a></td>
        </tr>
      </tbody>
    <% end %>

  </table>
</div>
