<div id="showroom">
  <section id="greetings">
    <%= render :partial => "showroom_facebook_connect" %>
    <%#= render :partial => "showroom_facebook_connected" %>
    <div class="lookbook">
      <h1>Lookbooks</h1>
      <%= image_tag "fake/showroom-lookbook.png" %>
    </div>
  </section>
  <section class="container_product" id="shoes">
    <h1>Sapatos de <span>Novembro</span></h1>
    <div class="type_list">
      <div class="products_list best">
        <p>Lorem ipsum dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum</p>
        <%= link_to "Veja os sapatos que quase entraram para sua vitrine", "javascript:void(0);", :class => "more", :rel => "almost" %>
      </div>
      <div class="products_list almost">
        <p>Lorem ipsum dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum</p>
        <%= link_to "Veja mais sapatos", "javascript:void(0);", :class => "more", :rel => "all" %>
      </div>
      <div class="products_list all">
        <p>Lorem ipsum dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum</p>
      </div>
    </div>
  </section>
  <section class="container_product" id="purse">
    <h1>Bolsas de <span>Novembro</span></h1>
  </section>
  <section class="container_product" id="accessories">
    <h1>Acessórios de <span>Novembro</span></h1>
  </section>
</div>
