<div id="showroom">
  <section id="greetings">
    <%= render :partial => "showroom_facebook_connect" %>
    <%#= render :partial => "showroom_facebook_connected" %>
    <div class="lookbook">
      <h1>Lookbooks</h1>
      <%= image_tag "fake/showroom-lookbook.png" %>
    </div>
  </section>
  <section class="container_product" id="shoes">
    <h1>Sapatos de Novembro</h1>
  </section>
  <section class="container_product" id="purse">
    <h1>Bolsas de Novembro</h1>
  </section>
  <section class="container_product" id="accessories">
    <h1>Acessórios de Novembro</h1>
  </section>
</div>
