<% content_for :head do %>
  <%= stylesheet_link_tag "section/welcome" %>
<% end %>

<section id="welcome">
  <h1 class="warn">Sua stylist está criando sua <span>vitrine personalizada,</span> e ela ficará pronta nas próximas 24 horas</h1>
</section>
