@import 'partials/mixins';
@import 'partials/fonts';

.about_item{
  margin-bottom: 25px;
  color: #000;
  font-family: $avenir;
  h1.title{
    display: block;
    padding-top: 30px;
    width: 985px;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;  
    font-family: $verdana; 
}
span.summary{
      line-height: 19px;
      text-transform: none;
      margin-top: 15px;
      font-weight: lighter;
      letter-spacing: 0;
      font-size: 11px;
      display: block;
      width: 770px;
      font-family: $verdana;
    }
  }
.promo_catalog{
  margin-bottom: 30px;
  padding-top: 5px;
  width:793px;
  float:left;
  img {
    width:100%;
  }
}
.banners_group{
  height: 330px;
  margin-bottom: 20px;
  padding-top: 5px;
  ul{
    li{
      float: left;
      &.big{
        margin-right: 15px;
      }
      &.small{margin-bottom: 20px;}
    }
  }
}

.size_top {
  width:560px;
  position: absolute;
  right: 0px;
  top:0px;
  float:right;
  p {
    float:right;
    font-weight: bold;
    text-transform: uppercase;
    color:#000;
    font-family: $avenir;
    font-size: 11px;
    padding-top:3px;
  }
  ul {float:right;margin-right:12px;}
  ul li {float:right;margin-left:6px;}
  ul li a {display: block;border:1px solid #d1d1d1;color: #6d6e71;text-align: center;width: 20px;padding-top:2px;font-size: 12px;text-decoration: none;height: 18px;}
  ul li a span.txt-unico {font-size: 12px;}
  ul li a:hover {
    border-color: #ef3742;
    color:#ef3742;
  }
  ul li a.selected {background: #000;color:#FFF;border:1px solid #000;cursor: default;}
  ul li.unico a {width:40px;}
  ul li.tamanho_unico a {width: 112px;}
  ul li.tamanho_regulavel a {width: 62px;}
  ul li.bolsa_grande a {width:82px;}
  ul li.grande a {width:50px;}
}
