.exhibition-mode{
  float:left;
  width:785px;
  padding-bottom:10px;
  margin-bottom:5px;

  fieldset{
    position:relative;
    float:left;
    margin-right:20px;

    select{
      position:absolute;
      left:0;
      top:0;
      opacity:0;
      width:100%;
    }
    p{
      float:left;
      border-left:solid 1px #D7D7D7;
      border-top:solid 1px #D7D7D7;
      border-bottom:solid 1px #D7D7D7;
      font-size:10px;
      font-weight:bold;
      text-transform:uppercase;
      padding-left:5px;
      background: image-url("collections/bullet_arrow.png") no-repeat right -1px;
      letter-spacing:1px;
      padding-right:30px;
    }
  }
  span.label {
    float: left;
    margin-right: 5px;
    margin-top: 2px;
    font-size: 12px;
  }
}
