@import 'new_structure/common/global_stuffs';

div#facebook_box {padding:0 0 0 70px;width: 102px;height: 140px;float: left; background: image-url('common/nav/sprite_header.png') -164px -193px;
  img {margin: 0 7px 20px 0;float: left;}
  h3 {color: #36569e;font-family: $avenir;font-size: 14px;font-weight:lighter;
    span {font-size: 17px;font-weight: bold;}
  }
  .like {clear: both; padding-top:-20px;width:100px;}
  .fb-button {width:100px;}
}
/****** IE8 HACK *******/
html.ie8{
   section#home{
      li.iehack{margin:0 !important;}
   }
}
/* AJUSTE FACEBOOK IFRAME */
.fb-button{height:20px !important;overflow:hidden !important;margin-top: -40px;}
