@import 'new_structure/common/global_stuffs';

div#facebook_box {width: 137px;height: 140px;padding: 0 0 0 10px;float: right;
  img {margin: 0 7px 20px 0;float: left;}
  h1 {color: #36569e;font-family: $avenir;font-size: 14px;font-weight:lighter;
    span {font-size: 17px;font-weight: bold;}
  }
  .like {clear: both; padding-top:-20px;}
}
/****** IE8 HACK *******/
html.ie8{
   section#home{
      li.iehack{margin:0 !important;}
   }
}
/* AJUSTE FACEBOOK IFRAME */
.fb-button{height:20px !important;overflow:hidden !important;margin-top: -40px;}