$base_font_url: "http://www.olook.com.br";

@font-face {
    font-family: 'QuicksandBold';
    src: url('#{$base_font_url}/assets/quicksand/quicksand-bold-webfont.eot');
    src: url('#{$base_font_url}/assets/quicksand/quicksand-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$base_font_url}/assets/quicksand/quicksand-bold-webfont.woff') format('woff'),
         url('#{$base_font_url}/assets/quicksand/quicksand-bold-webfont.ttf') format('truetype'),
         url('#{$base_font_url}/assets/quicksand/quicksand-bold-webfont.svg#QuicksandBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QuicksandLight';
    src: url('#{$base_font_url}/assets/quicksand/quicksand-light-webfont.eot');
    src: url('#{$base_font_url}/assets/quicksand/quicksand-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$base_font_url}/assets/quicksand/quicksand-light-webfont.woff') format('woff'),
         url('#{$base_font_url}/assets/quicksand/quicksand-light-webfont.ttf') format('truetype'),
         url('#{$base_font_url}/assets/quicksand/quicksand-light-webfont.svg#QuicksandLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QuicksandRegular';
    src: url('#{$base_font_url}/assets/quicksand/quicksand-regular-webfont.eot');
    src: url('#{$base_font_url}/assets/quicksand/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$base_font_url}/assets/quicksand/quicksand-regular-webfont.woff') format('woff'),
         url('#{$base_font_url}/assets/quicksand/quicksand-regular-webfont.ttf') format('truetype'),
         url('#{$base_font_url}/assets/quicksand/quicksand-regular-webfont.svg#QuicksandRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kepler Std Italic';
    src: url('#{$base_font_url}/assets/kepler/adobe_-_keplerstd-italic-webfont.eot');
    src: url('#{$base_font_url}/assets/kepler/adobe_-_keplerstd-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$base_font_url}/assets/kepler/adobe_-_keplerstd-italic-webfont.woff') format('woff'),
         url('#{$base_font_url}/assets/kepler/adobe_-_keplerstd-italic-webfont.ttf') format('truetype'),
         url('#{$base_font_url}/assets/kepler/adobe_-_keplerstd-italic-webfont.svg#Kepler Std Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenir';
    src: url('#{$base_font_url}/assets/avenir/avenir-book-webfont.eot');
    src: url('#{$base_font_url}/assets/avenir/avenir-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$base_font_url}/assets/avenir/avenir-book-webfont.woff') format('woff'),
         url('#{$base_font_url}/assets/avenir/avenir-book-webfont.ttf') format('truetype'),
         url('#{$base_font_url}/assets/avenir/avenir-book-webfont.svg#avenir') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'johnston';
    src: url('#{$base_font_url}/assets/johnston/johnston_itc_bold_0-webfont.eot');
    src: url('#{$base_font_url}/assets/johnston/johnston_itc_bold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$base_font_url}/assets/johnston/johnston_itc_bold_0-webfont.woff') format('woff'),
         url('#{$base_font_url}/assets/johnston/johnston_itc_bold_0-webfont.ttf') format('truetype'),
         url('#{$base_font_url}/assets/johnston/johnston_itc_bold_0-webfont.svg#johnston') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenir_medium';
    src: url('#{$base_font_url}/assets/avenir_medium/avenir-medium.eot');
    src: url('#{$base_font_url}/assets/avenir_medium/avenir-medium.eot?#iefix') format('embedded-opentype'),
         url('#{$base_font_url}/assets/avenir_medium/avenir-medium.otf') format('opentype'),
         url('#{$base_font_url}/assets/avenir_medium/avenir-medium.woff') format('woff'),
         url('#{$base_font_url}/assets/avenir_medium/avenir-medium.ttf') format('truetype'),
         url('#{$base_font_url}/assets/avenir_medium/avenir-medium.svg#avenir_medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*NIVER OLOOK*/

@font-face {
	font-family: 'FuturaStd-Book';
	src: url('#{$base_font_url}/assets/futura-std-book/futurastd-book.eot');
	src: url('#{$base_font_url}/assets/futura-std-book/futurastd-book.eot?#iefix') format('embedded-opentype'),
			 url('#{$base_font_url}/assets/futura-std-book/futurastd-book.woff') format('woff'),
			 url('#{$base_font_url}/assets/futura-std-book/futurastd-book.ttf') format('truetype'),
			 url('#{$base_font_url}/assets/futura-std-book/futurastd-book.svg#futurastd-book') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FuturaStd-Bold';
	src: url('#{$base_font_url}/assets/futura-std-bold/futurastd-bold.eot');
	src: url('#{$base_font_url}/assets/futura-std-bold/futurastd-bold.eot?#iefix') format('embedded-opentype'),
			 url('#{$base_font_url}/assets/futura-std-bold/futurastd-bold.woff') format('woff'),
			 url('#{$base_font_url}/assets/futura-std-bold/futurastd-bold.ttf') format('truetype'),
			 url('#{$base_font_url}/assets/futura-std-bold/futurastd-bold.svg#futurastd-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'Futura-medium';
    src: url('#{$base_font_url}/assets/futura-medium/futura_medium-webfont.eot');
    src: url('#{$base_font_url}/assets/futura-medium/futura_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$base_font_url}/assets/futura-medium/futura_medium-webfont.woff') format('woff'),
         url('#{$base_font_url}/assets/futura-medium/futura_medium-webfont.ttf') format('truetype'),
         url('#{$base_font_url}/assets/futura-medium/futura_medium-webfont.svg#Futura-medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bodoni_stdbold';
    src: url('#{$base_font_url}/assets/bodoni-std-bold/bodonistd-bold-webfont.eot');
    src: url('#{$base_font_url}/assets/bodoni-std-bold/bodonistd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$base_font_url}/assets/bodoni-std-bold/bodonistd-bold-webfont.woff') format('woff'),
         url('#{$base_font_url}/assets/bodoni-std-bold/bodonistd-bold-webfont.ttf') format('truetype'),
         url('#{$base_font_url}/assets/bodoni-std-bold/bodonistd-bold-webfont.svg#bodoni_stdbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
