/*** PRODUTO DENTRO DO MODAL ESPIAR ***/
@import 'new_structure/common/jquery.jqzoom';
@import 'common/product_details';

/****************
BOX MODAL ESPIAR
****************/

#quick_view {
  position:absolute;
  top:100px;
  left:50%;
  background-color: #FFF;
  border: 1px solid #A7A5A6;
  width:1000px;
  /*height:620px;
   */margin: 0 0 0 -480px;
  display:none;
  z-index:10002;

  .size_guide{
    display:none;
  }
  div#gallery { width:498px; margin-left: 20px; }
  #close_quick_view{cursor: pointer;
    font-size: 20px;
    position: absolute;
    background: image-url('common/close_dialog.png') no-repeat;
    text-indent: -9999px;
    width: 30px;
    height: 30px;
    top: -17px;
    right: -17px;
    z-index: 100;
  }
}

.social-media-box{overflow:hidden;border-top:solid 1px #C2C2C2;border-bottom:solid 1px #C2C2C2;padding:10px 0;margin:20px 0;
  .has_bt_face{height:22px;position:relative;}
  ul.social-list {float:left; width:417px;margin-top:-7px !important;
    li {padding:0;margin-right: 10px;display:inline-block;
      &.like{margin-right: 4px !important;margin-left: 23px;position: relative; top: 8px;}
      &.twitter{position: relative;top: 17px !important;}
      &.pinterest{position: relative;top: 10px !important;}
      &.fb_bt{position: relative;top: 10px !important;}
      a{display:inline;padding:0;width:100%;margin:0;}
      &.email{
        margin: 0;
        a {
          float:left;
          font-size:0;
          display:block;
          width:25px;
          height:20px;
          background: image-url('product/new_page_sprite.png') 0 -94px no-repeat;
          position: relative;
          margin-bottom: 2px;

        }
      }
    }
  }

  div.fb-like,.fb_edge_widget_with_comment {
    width: 90px;
    margin: 3px 0 0;
    float: left;
    height:20px;
    .fb_edge_comment_widget,.-cx-PRIVATE-pluginPostFlyout__core {
      display: none;
    }
    iframe {
      /*height: 20px !important;*/
      overflow:hidden !important;
    }
    &.bt_face{position:absolute;top:41px;right:8px;}
  }
}
