@import 'new_structure/common/global_stuffs';

ul#products {
  clear:both;
  width:763px;
  margin:0 auto;
}
li.product {
  position:relative;
  display:inline-block;
  width:200px;
  height:auto;
  margin: 0 23px 35px;
  padding:0;

  &.promotion {
    .quantity, .shoe_size {
      display:none;
    }
  }
  &:hover {
    .spy {
      display:block;
    }
  }
}
a.product_link {
  display:block;
  text-decoration:none;
  color:#000;
  font-size:13px;
  margin:0;
  img {
    margin: 0 0 3px;
    width: 200px;
    height: auto;/* new size photo */
  }
  p.info-product {
    width:100%;
  }
  p {
    float:left;
    line-height:18px;
    .name {
      font-size:11px;
      font-family: $verdana;
      display:inline-block;
      overflow: hidden;
      height:15px;
      margin-bottom:-3px;
      width:100%;
    }
    .brand{
      text-transform:uppercase;
      font-weight:bold;
      font-family: $verdana;
      font-size: 12px;
      color:#555;
    }
    .price {
      font-family: $verdana;
      font-size: 12px;
    }
    .old {
      text-decoration:line-through;
      font-family: $verdana;
      color:#888;
      position: relative;
      top:1px;
      float:left;
      font-size: 11px;
    }
    .txt-pink{
      color: $base_color;
      font-size: 14px;
      font-weight: bold;
      float:right;
      font-family: $verdana;
      letter-spacing: -1px;
    }
    &.warn{
      left:0;
      top:60px;
    }
    &.warn.sold_out{
      background: image-url('moments/sprite.png') no-repeat 0 -76px;
      line-height: 25px;
      padding-left: 13px;
      text-align: left;
      width: 92px;
      color:#000;
    }
    &.warn.quantity{
      background:none #FFF !important;
      border: 1px solid #000;
      color: #000;
      font-family: 'avenir_medium';
      font-weight: 600;
      height: 20px;
      width: 74px;
      line-height: 20px !important;
      text-align: center;
      word-spacing: -1px;
    }
    &.warn.shoe_size{
      background: none #000;
      height: 20px;
      left: 25px !important;
      line-height: 20px !important;
      top: 81px !important;
      width: 55px;
      word-spacing: -1px;
    }
    &.warn.percentage{
      position:absolute;
      left: 0;
      top: 0;
      background: image-url('moments/sprite.png') no-repeat 0 -109px;
      width:60px;
      height:48px;
      padding-top:12px;
      font-size:14px;
      font-family:$avenir;
      text-align:center;
      color:#FFF;
      span {
        display:inline-block;
        width:40px;
      }
    }
  }
}
.spy {
  position:absolute;
  bottom:57px;
  width:100%;
  height:54px;
  background: image-url('FFFFFF-0.6.png') repeat;
  display:none;
  cursor:pointer;
}

.spy-icon {
  background: image-url('moments/sprite.png') no-repeat right -169px;
  width: 40px;
  height: 40px;
  float:left;
  margin-left: 48px;
  margin-top: 4px;
  display: block;
}
.spy-txt {
  display:block;
  float:left;
  font-family:$avenir;
  font-size:11px;
  margin-top:18px;
  font-weight: bold;
  letter-spacing: 1px;
  width: 85px;
  margin-left: 7px;
  padding-right: 1px;
}
