<% content_for :head do %>
  <%= stylesheet_link_tag "section/register" %>
<% end %>

<div id="models">
  <%= image_tag('common/models-inscription.jpg') %>
</div>
<div id="sign-up">
  <% if @signup_with_facebook %>
    <h2>Só mais um passo...</h2>

    <p class="facebook"> Crie uma senha para acessar nosso site:</p>
  <% else %>
    <div class="not_connected">
      <h2>Só mais um passo<br /> e você saberá seu estilo</h2>
      <p>Você receberá diversos e-mails com dicas e produtos da moda com a sua cara.</p>
    </div>
    <div class="connect">
      <p>Conecte-se pelo facebook,<br /> ou preencha os campos abaixo</p>
      <%= render "facebook_connect" %>
    </div>
  <% end %>

  <%= render :partial => "form", locals: {email: cookies['newsletterEmail']} %>
</div>
